{"openapi":"3.0.1","info":{"title":"Wink API","description":"## APIs\nNot every integrator needs every APIs. For that reason, we have separated APIs into context.\n\n- [Affiliate](/affiliate): All APIs related to selling travel inventory as an affiliate.\n- [Analytics](/analytics): All APIs related to tracking metrics across a wide variety of data source segments including, more entertaining, leaderboard metrics.\n- [Booking](/booking): All APIs related to creating platform bookings.\n- [Channel Manager](/channel-manager): All APIs related to channel managers who want to integrate with our platform.\n- [Extranet](/extranet): All APIs related to managing travel inventory and suppliers.\n- [Inventory](/inventory): All APIs related to retrieve known travel inventory as it was found using the Lookup API..\n- [Lookup](/lookup): All APIs related to locating inventory by region, locale and property flags.\n- [Reference](/reference): All APIs related to retrieving platform-supported taxonomies.\n- [TripPay Acquiring](/payment-acquiring): All APIs related to capture payment details such as a Stripe payment intent.\n- [TripPay](/payment): All APIs related to TripPay account management, booking, mapping and integration features.\n\n## SDKs\nWe are actively working on supporting the most used languages out there. If you don't see your language here, reach out to us with a request to officially add your language. In the meantime, if you want to roll your own SDK, you can do so by downloading the OpenAPI spec and using one of the many available OpenAPI generators available: [https://openapi-generator.tech/docs/generators](https://openapi-generator.tech/docs/generators).\n\n- Java SDK [https://github.com/wink-travel/wink-sdk-java](https://github.com/wink-travel/wink-sdk-java)\n\n## Usage\nThese features are made available to you via a [REST API](https://en.wikipedia.org/wiki/Representational_state_transfer). This API is language agnostic.\n\n## Versioning\nWe chose to version our endpoints in a way that we hope affects your integration with us the least. You request the version of our API you wish to work with via the `Wink-Version` header. When it's time for you to upgrade, you only have to change the version number to get access to our updated endpoints.\n\n## Release history\n- 2022-10-15: v2.0 - Removed HATEOAS and added Wink-Version header\n- 2022-05-08: v1 - Exposed channel manager API\n- 2021-07-01: v1 - Initial release\n\n# Affiliate API\nWelcome to the Affiliate API - A programmer-friendly way to search for and display bespoke travel inventory for your audience. Use this API to help you prepare travel inventory for sale.\n\n# Intended Audience\nProgrammers are a requirement to start integrating with wink. You will benefit from an API integration if you are new or existing travel related company that want easy access to great inventory.## Examples:\n- Hotel brands / chains that want to make their own booking engine\n- Travel tech companies that want to create the next hot mobile travel app\n- Destination sites that want to make their own booking engine\n- Bloggers and influencers who want to sell travel inventory to their audience\n- OTAs that want access direct relationships with suppliers and better quality hotel inventory","contact":{"name":"Bjorn Harvold","email":"bjorn@wink.travel"},"version":"29.30.0","x-logo":{"backgroundColor":"#FFFFFF","altText":"wink","url":"https://res.cloudinary.com/traveliko/image/upload/c_scale,h_129/v1653285543/wink/logo_text_white.svg"}},"externalDocs":{"description":"Affiliate Documentation","url":"https://bearchoke.atlassian.net/l/c/a1buVvfr"},"servers":[{"url":"https://api.wink.travel","description":"Production endpoint"},{"url":"https://staging-api.wink.travel","description":"Sandbox endpoint"},{"url":"https://dev-api.wink.travel","description":"Developer endpoint"}],"tags":[{"name":"Sales channel","description":"Displays relationships between affiliates and suppliers."},{"name":"Test","description":"Simple GET request to show that your configuration works."},{"name":"Search Categories","description":"Suppliers and inventory by category."},{"name":"Supplier","description":"Allows suppliers to browse for suppliers to connect with"},{"name":"Hotel Relationship Requests","description":"Account relationships are initiated by either affiliate or company and allows for companys to give sales channel specific pricing to affiliates on an individual basis."},{"name":"Syndication Entry Publisher","description":"Manage curated list entries and categories for your various Wink accounts."},{"name":"Application","description":"Use the Application API to create applications to interface with the TripPay API."},{"name":"Customization","description":"Manage configuration templates you can assign to our Web Components such as look-and-feel, integrations with 3rd parties and more."},{"name":"Inventory Grids","description":"Grids are made up of 3 categories of lists: \n\n- Cured lists\n- Saved searches\n- Ranked lists\n\nThe way to display these lists through our Web Components is by creating and configuring lists."},{"name":"Invoice","description":"Retrieve past and upcoming invoices for company."},{"name":"Notification","description":"Notifications API"},{"name":"Maps","description":"Configure and manage maps, map data and overlays that you wish to display to your users."},{"name":"Shareable Links","description":"Links are the simplest form of travel inventory and can be shared everywhere and contains OpenGraph metadata. The same links can also be used with our ad banner Web Component."},{"name":"Campaign","description":"Campaign API"},{"name":"Supplier Links","description":"Supplier links are a direct link to supplier homepage that also includes OpenGraph friendly metadata."},{"name":"Bookings","description":"Track bookings for a company."},{"name":"Discover","description":"Before you can sell travel inventory, you need to find it. Discover travel inventory that fits your niche and your audience."},{"name":"Inventory Cards","description":"Card inventory is a single travel inventory record a seller has configured and made available for sale."},{"name":"Company","description":"Manage companies."}],"paths":{"/api/company/{companyIdentifier}/supplier-url/{supplierUrlIdentifier}":{"get":{"tags":["Supplier Links"],"summary":"Show Link","description":"Retrieve a specific shareable url for this seller","operationId":"showSupplierUrl","parameters":[{"name":"companyIdentifier","in":"path","description":"Show link owned by this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"supplierUrlIdentifier","in":"path","description":"Show link with this identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupplierUrlView_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"put":{"tags":["Supplier Links"],"summary":"Update link","description":"Modify a shareable link","operationId":"updateSupplierUrl","parameters":[{"name":"companyIdentifier","in":"path","description":"Update link owned by this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"supplierUrlIdentifier","in":"path","description":"Update url with this identifier.","required":true,"schema":{"type":"string"},"example":"seller-url-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertSupplierUrlRequest_Affiliate"}}},"required":true},"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupplierUrlView_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Supplier Links"],"summary":"Delete Link","description":"Delete a shareable link","operationId":"removeSupplierUrl","parameters":[{"name":"companyIdentifier","in":"path","description":"Remove link owned by this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"supplierUrlIdentifier","in":"path","description":"Remove url with this identifier.","required":true,"schema":{"type":"string"},"example":"seller-url-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveEntryResponse_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/company/{companyIdentifier}/static/list/{listIdentifier}":{"put":{"tags":["Inventory Grids"],"summary":"Update Curated List","description":"Update curated list by its unique identifier","operationId":"updateCuratedList","parameters":[{"name":"companyIdentifier","in":"path","description":"Update curated list owned by this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"listIdentifier","in":"path","description":"List identifier.","required":true,"schema":{"type":"string"},"example":"list-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StaticSellerList_Affiliate"}}},"required":true},"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StaticSellerListWrapper_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Inventory Grids"],"summary":"Remove Curated List","description":"Remove curated list by list identifier","operationId":"removeCuratedList","parameters":[{"name":"companyIdentifier","in":"path","description":"Remove curated list owned by this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"listIdentifier","in":"path","description":"List identifier.","required":true,"schema":{"type":"string"},"example":"list-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveEntryResponse_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/company/{companyIdentifier}/static/list/{listIdentifier}/item/{itemIdentifier}":{"put":{"tags":["Inventory Grids"],"summary":"Move List Item","description":"Move an existing list item from one list to another.","operationId":"moveInventoryToCuratedList","parameters":[{"name":"companyIdentifier","in":"path","description":"Move inventory to curated list owned by this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"listIdentifier","in":"path","description":"List identifier.","required":true,"schema":{"type":"string"},"example":"list-1"},{"name":"itemIdentifier","in":"path","description":"Item identifier.","required":true,"schema":{"type":"string"},"example":"item-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CopyMoveStaticSellerListItemRequest_Affiliate"}}},"required":true},"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StaticSellerListItemView_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"post":{"tags":["Inventory Grids"],"summary":"Copy Item to List","description":"Copy an existing list item from one list to another.","operationId":"copyInventoryToCuratedList","parameters":[{"name":"companyIdentifier","in":"path","description":"Copy inventory to curated list owned by this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"listIdentifier","in":"path","description":"List identifier.","required":true,"schema":{"type":"string"},"example":"list-1"},{"name":"itemIdentifier","in":"path","description":"Item identifier.","required":true,"schema":{"type":"string"},"example":"item-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CopyMoveStaticSellerListItemRequest_Affiliate"}}},"required":true},"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StaticSellerListItemView_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Inventory Grids"],"summary":"Delete List Item","description":"Delete a list item from a curated list by its unique identifier","operationId":"removeInventoryFromCuratedList","parameters":[{"name":"companyIdentifier","in":"path","description":"Remove inventory from curated list owned by this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"listIdentifier","in":"path","description":"List identifier.","required":true,"schema":{"type":"string"},"example":"list-1"},{"name":"itemIdentifier","in":"path","description":"Item identifier.","required":true,"schema":{"type":"string"},"example":"item-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveEntryResponse_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/company/{companyIdentifier}/seller-url/{sellerUrlIdentifier}":{"get":{"tags":["Shareable Links"],"summary":"Show Link","description":"Retrieve a specific shareable url for this seller","operationId":"showSellerUrl","parameters":[{"name":"companyIdentifier","in":"path","description":"Show link owned by this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"sellerUrlIdentifier","in":"path","description":"Show link with this identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellerUrlView_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"put":{"tags":["Shareable Links"],"summary":"Update link","description":"Modify a shareable link","operationId":"updateSellerUrl","parameters":[{"name":"companyIdentifier","in":"path","description":"Update link owned by this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"sellerUrlIdentifier","in":"path","description":"Update url with this identifier.","required":true,"schema":{"type":"string"},"example":"seller-url-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertSellerUrlRequest_Affiliate"}}},"required":true},"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellerUrlView_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Shareable Links"],"summary":"Delete Link","description":"Delete a shareable link","operationId":"removeSellerUrl","parameters":[{"name":"companyIdentifier","in":"path","description":"Remove link owned by this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"sellerUrlIdentifier","in":"path","description":"Remove url with this identifier.","required":true,"schema":{"type":"string"},"example":"seller-url-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveEntryResponse_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/company/{companyIdentifier}/map/{mapIdentifier}":{"get":{"tags":["Maps"],"summary":"Show Map","description":"Retrieve a specific map record","operationId":"showAdvancedMapConfiguration","parameters":[{"name":"companyIdentifier","in":"path","description":"Show map record owned by this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"mapIdentifier","in":"path","description":"Show map record with this identifier.","required":true,"schema":{"type":"string"},"example":"map-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdvancedMapConfigurationView_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"put":{"tags":["Maps"],"summary":"Update Map","description":"Update an advanced map configuration","operationId":"updateAdvancedMapConfiguration","parameters":[{"name":"companyIdentifier","in":"path","description":"Update map owned by this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"mapIdentifier","in":"path","description":"update map record with this identifier.","required":true,"schema":{"type":"string"},"example":"map-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertAdvancedMapConfigurationRequest_Affiliate"}}},"required":true},"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdvancedMapConfigurationView_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Maps"],"summary":"Delete Map","description":"Remove an advanced map configuration","operationId":"removeAdvancedMapConfiguration","parameters":[{"name":"companyIdentifier","in":"path","description":"Remove map owned by this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"mapIdentifier","in":"path","description":"Remove map record with this identifier.","required":true,"schema":{"type":"string"},"example":"map-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveEntryResponse_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/company/{companyIdentifier}/inventory/ranked/list/{listIdentifier}":{"get":{"tags":["Inventory Grids"],"summary":"Show Ranked Grid","description":"Retrieve a specific ranked grid.","operationId":"showSellerInventoryRankedList","parameters":[{"name":"companyIdentifier","in":"path","description":"Retrieve grid for owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"listIdentifier","in":"path","description":"Retrieve grid with this identifier.","required":true,"schema":{"type":"string"},"example":"ranked-grid-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellerInventoryRankedListView_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"put":{"tags":["Inventory Grids"],"summary":"Update Ranked Grid","description":"Update existing ranked grid","operationId":"updateSellerInventoryRankedList","parameters":[{"name":"companyIdentifier","in":"path","description":"Update list owned by this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"listIdentifier","in":"path","description":"Update list with this identifier.","required":true,"schema":{"type":"string"},"example":"list-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertSellerInventoryRankedListRequest_Affiliate"}}},"required":true},"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellerInventoryRankedListView_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Inventory Grids"],"summary":"Delete Ranked Grid","description":"Delete a ranked grid","operationId":"removeSellerInventoryRankedList","parameters":[{"name":"companyIdentifier","in":"path","description":"Remove grid owned by this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"listIdentifier","in":"path","description":"Delete grid with this identifier.","required":true,"schema":{"type":"string"},"example":"ranked-grid-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveEntryResponse_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/company/{companyIdentifier}/inventory/list/{listIdentifier}":{"get":{"tags":["Inventory Grids"],"summary":"Show Grid","description":"Retrieve a specific curated / saved search list.","operationId":"showSellerInventoryList","parameters":[{"name":"companyIdentifier","in":"path","description":"Show seller inventory lists owned by this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"listIdentifier","in":"path","description":"Retrieve list with this identifier.","required":true,"schema":{"type":"string"},"example":"list-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellerInventoryListView_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"put":{"tags":["Inventory Grids"],"summary":"Update Grid","description":"Update an existing curated / saved search list.","operationId":"updateSellerInventoryList","parameters":[{"name":"companyIdentifier","in":"path","description":"Update list owned by this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"listIdentifier","in":"path","description":"Update list with this identifier.","required":true,"schema":{"type":"string"},"example":"list-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertSellerInventoryListRequest_Affiliate"}}},"required":true},"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellerInventoryListView_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Inventory Grids"],"summary":"Delete Grid","description":"Remove a curated / saved search list","operationId":"removeSellerInventoryList","parameters":[{"name":"companyIdentifier","in":"path","description":"Update list owned by this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"listIdentifier","in":"path","description":"Delete curated list with this identifier.","required":true,"schema":{"type":"string"},"example":"list-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveEntryResponse_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/company/{companyIdentifier}/inventory/item/{inventoryIdentifier}":{"get":{"tags":["Inventory Cards"],"summary":"Show Card","description":"Retrieve a single inventory card.","operationId":"showSellerInventoryItem","parameters":[{"name":"companyIdentifier","in":"path","description":"Company identifier to retrieve item for","required":true,"schema":{"type":"string"}},{"name":"inventoryIdentifier","in":"path","description":"Retrieve inventory with this identifier.","required":true,"schema":{"type":"string"},"example":"card-inventory-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellerInventoryItemView_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"put":{"tags":["Inventory Cards"],"summary":"Update Card","description":"Update an existing card","operationId":"updateSellerInventoryItem","parameters":[{"name":"companyIdentifier","in":"path","description":"Company identifier to update item for","required":true,"schema":{"type":"string"}},{"name":"inventoryIdentifier","in":"path","description":"Update inventory with this identifier.","required":true,"schema":{"type":"string"},"example":"card-inventory-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertSellerInventoryItemRequest_Affiliate"}}},"required":true},"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellerInventoryItemView_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Inventory Cards"],"summary":"Delete Card","description":"Remove a unique inventory item","operationId":"removeSellerInventoryItem","parameters":[{"name":"companyIdentifier","in":"path","description":"Company identifier to delete item from","required":true,"schema":{"type":"string"}},{"name":"inventoryIdentifier","in":"path","description":"Delete inventory with this identifier.","required":true,"schema":{"type":"string"},"example":"card-inventory-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveEntryResponse_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/company/{companyIdentifier}/configuration/{engineConfigurationIdentifier}":{"get":{"tags":["Customization"],"summary":"Show Customization","description":"Retrieve the primary customization for an application.","operationId":"showApplicationConfiguration","parameters":[{"name":"companyIdentifier","in":"path","description":"Show customization for this company","required":true,"schema":{"type":"string"},"example":"company-1"},{"name":"engineConfigurationIdentifier","in":"path","description":"Load customization with this identifier","required":true,"schema":{"type":"string"},"example":"customization-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EngineConfigurationView_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"put":{"tags":["Customization"],"summary":"Update Customization","description":"Update an existing customization.","operationId":"updateCustomization","parameters":[{"name":"companyIdentifier","in":"path","description":"Update customization for this company","required":true,"schema":{"type":"string"},"example":"company-1"},{"name":"engineConfigurationIdentifier","in":"path","description":"Update customization with this application","required":true,"schema":{"type":"string"},"example":"customization-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertEngineConfigurationRequest_Affiliate"}}},"required":true},"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EngineConfigurationView_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Customization"],"summary":"Remove Customization","description":"Remove an existing customization.","operationId":"removeApplicationConfiguration","parameters":[{"name":"companyIdentifier","in":"path","description":"Remove customization for this company","required":true,"schema":{"type":"string"},"example":"company-1"},{"name":"engineConfigurationIdentifier","in":"path","description":"Remove customization with this identifier","required":true,"schema":{"type":"string"},"example":"customization-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveEntryResponse_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/company/{companyIdentifier}/syndication/settings":{"get":{"tags":["Syndication Entry Publisher"],"summary":"Show WinkLinks settings","description":"Load WinkLinks settings.","operationId":"showSyndicationSettings","parameters":[{"name":"companyIdentifier","in":"path","description":"List syndication entries owned by this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyndicationSettings_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"put":{"tags":["Syndication Entry Publisher"],"summary":"Upsert syndication settings","description":"Upsert a new syndication settings.","operationId":"upsertSyndicationSettings","parameters":[{"name":"companyIdentifier","in":"path","description":"Update settings for this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"description":"Request body","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertSyndicationSettings_Affiliate"}}},"required":true},"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyndicationSettings_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/company/{companyIdentifier}/syndication/entry/{syndicationEntryIdentifier}":{"get":{"tags":["Syndication Entry Publisher"],"summary":"Show WinkLinks entry","description":"Retrieve syndication entry.","operationId":"showSyndicationEntry","parameters":[{"name":"companyIdentifier","in":"path","description":"Syndication entry owned by this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"syndicationEntryIdentifier","in":"path","description":"Syndication entry identifier.","required":true,"schema":{"type":"string"},"example":"syndication-entry-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyndicationEntry_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"put":{"tags":["Syndication Entry Publisher"],"summary":"Update syndication entry","description":"Updates an existing syndication entry.","operationId":"updateSyndicationEntry","parameters":[{"name":"companyIdentifier","in":"path","description":"Create entry for this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"syndicationEntryIdentifier","in":"path","description":"Syndication entry identifier.","required":true,"schema":{"type":"string"},"example":"syndication-entry-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"description":"Request body","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertSyndicationEntry_Affiliate"}}},"required":true},"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyndicationEntry_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Syndication Entry Publisher"],"summary":"Delete WinkLinks entry","description":"Deletes a syndication entry.","operationId":"removeSyndicationEntry","parameters":[{"name":"companyIdentifier","in":"path","description":"Syndication entry owned by this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"syndicationEntryIdentifier","in":"path","description":"Syndication entry identifier.","required":true,"schema":{"type":"string"},"example":"syndication-entry-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessa
[...]
