{"openapi":"3.0.1","info":{"title":"Wink API","description":" # Introduction\n Welcome to the Wink API - A programmer-friendly way to manage, sell and book travel inventory on the Wink platform. The API gives you all the tools you need to ready your properties and inventory for sale across 1000s of our native sales channels.\n Integrators, affiliates, travel agents and content creators have the ability search for your travel inventory and promote / sell it in a wide variety of ways.\n\n # Integrations\n We have already integrated with the most well-known channel managers so you don't have to. To see our current integrations, please go to https://extranet.wink.travel and scroll to Connectivity section. Once your properties are set up, you can finish the setup by mapping your property to Wink using your channel manager partner portal. If your properties don't have a channel manager, you can easily manage rates and availability with this API.\n\n # Intended Audience\n Programmers are [most likely] a requirement to start integrating with Wink. Companies and organizations that would most benefit from integrating with us are new and existing travel companies that have relationships with suppliers and that need an advanced system from which to manage their travel inventory and get that same inventory out to as many eyeballs as possible at the lowest price possible.\n - Hotel chains\n - Hotel brands\n - Travel tech companies\n - Destination sites\n - Integrators\n - Aggregators\n - Destination management companies\n - Travel agencies\n - OTAs\n\n ## APIs\n Not every integrator needs every API. For that reason, we have separated APIs into context.\n\n### Test API\n\n - [Ping](/ping): The Ping API is a quick test endpoint to verify that your credentials work Wink.\n\n### Common APIs\n\n- [Notifications](/notifications): The Notifications API is a way for us to stay in touch with your user, property or affiliate account.\n- [User Settings](/user-settings): The User Settings API exposes endpoints to allow 3rd party integrators to communicate with Wink.\n\n### Consume APIs\nConsume endpoints are for developers who want to find existing travel inventory and either book it or use it to advertise through one of their Wink affiliate accounts.\n\n - [Configuration](/engine-client): A single endpoint to retrieve whitelabel + customization information for the booking engine.\n - [Lookup](/lookup): All APIs related to locating inventory by region, locale and property flags.\n - [Inventory](/inventory): All APIs related to retrieve known travel inventory as it was found using the Lookup API..\n - [Booking](/booking): All APIs related to creating bookings on the platform.\n - [Travel Agent](/travel-agent): The Travel Agent API exposes endpoints to manage agent-facilitated bookings.\n\n ### Produce APIs\n Produce endpoints are for developers who want to create and manage travel inventory.\n\n #### Property\n - [Property registration](/extranet/property/register): As a producer, this is, oftentimes, where you start your journey. These endpoints let you create properties on Wink.\n - [Property](/extranet/property): This collection of property endpoints are mostly management endpoints that let you display, change status and similar for your existing properties.\n - [Facilities](/extranet/facilities): This collection of endpoints let you manage facilities; such as room types.\n - [Experiences](/extranet/experiences): This collection of endpoints let you manage experiences, such as activities.\n - [Monetize](/extranet/monetize): The Monetize API exposes endpoints for managing cancellation polies, rate plans, promotions and more on Wink.\n - [Distribution](/extranet/distribution): The Distribution API exposes endpoints for sales channels, connecting with affiliates, managing rates and inventory calendars and more on Wink.\n - [Property Booking](/extranet/booking): The Property Booking API exposes endpoints for managing bookings and reviews at the property-level.\n\n #### Affiliate\n - [Affiliate](/affiliate): This collection of affiliate endpoints are mostly management endpoints that let you display, change status and similar for your existing accounts.\n - [Browse](/affiliate/browse): The Browse API exposes endpoints for affiliates to find suppliers and inventory to sell.\n - [Inventory](/affiliate/inventory): The Inventory API exposes endpoints for affiliates to manage the inventory they want to sell and how they want to sell it.\n - [Sales Channel](/affiliate/sales-channel): The Sales Channel API exposes endpoints for affiliates to manage existing sales channels as well as find new ones.\n - [WinkLinks](/affiliate/winklinks): The WinkLinks API exposes endpoints for affiliates to manage their WinkLinks page.\n\n #### Rate provider\n - [Channel manager](/channel-manager): The Channel Manager API enables external channel manager partners to map, exchange rate / availability information with us as well as be informed of bookings that occur on the Wink platform for one of their properties.\n\n ### Taxonomy APIs\n Taxonomy endpoints are for developers who want to consume and produce travel inventory and need taxonomies of standard and non-standard codes for inventory types, classes, statuses etc.\n\n - [Reference](/reference): All APIs related to retrieving platform-supported taxonomies.\n\n ### Insight APIs\n Insight endpoints do exactly what the name implies - They offer platform-level insight into the activities of producers and consumers.\n\n - [Analytics](/analytics): All APIs related to tracking metrics across a wide variety of data source segments including, more entertaining, leaderboard metrics.\n\n ### Payment APIs\n Payment endpoints are for developers who want to purchase travel inventory. This can be done via the API as a registered Travel Agent or using our API in conjunction with our PCI compliant payment widget for all other entities.\n\n - [TripPay](/payment): All APIs related to TripPay account management, booking, mapping and integration features.\n\n ## SDKs\n We are actively working on supporting the most used languages out there. If you don't see your language here, reach out to us with a request to officially add your language. In the meantime, if you want to roll your own SDK, you can do so by downloading the OpenAPI spec and using one of the many available OpenAPI generators available: [https://openapi-generator.tech/docs/generators](https://openapi-generator.tech/docs/generators).\n\n - Java SDK [https://github.com/wink-travel/wink-sdk-java](https://github.com/wink-travel/wink-sdk-java)\n\n ## Usage\n These features are made available to you via a [REST API](https://en.wikipedia.org/wiki/Representational_state_transfer). This API is language agnostic.\n\n ## Versioning\n We chose to version our endpoints in a way that we hope affects your integration minimally. You request the version of our API you wish to work with via the `Wink-Version` header. When it's time for you to upgrade, you only have to change the version number to get access to our updated endpoints.\n\n ## Release history\n - Follow updates on Github: https://github.com/wink-travel/wink-sdk-java/blob/master/CHANGELOG.md\n\n\n\n# Affiliate API\nThe Affiliate API exposes endpoints to manage affiliate accounts. This API lets you:\n\n1. Create affiliates.\n2. Create account managers\n\nBrowse the endpoints in the left navigation bar to get started.\n\n","contact":{"name":"Bjorn Harvold","email":"bjorn@wink.travel"},"version":"30.5.2","x-logo":{"backgroundColor":"#FFFFFF","altText":"wink","url":"https://res.cloudinary.com/traveliko/image/upload/c_scale,h_129/v1653285543/wink/logo_text_white.svg"}},"externalDocs":{"description":"Affiliate Documentation","url":"https://wink.travel/docs/studio/"},"servers":[{"url":"https://api.wink.travel","description":"Endpoint"}],"tags":[{"name":"Account Manager","description":"This collection of endpoints let you invite others to manage your account as well as accept invites from others."},{"name":"Affiliate","description":"Manage your affiliate accounts."}],"paths":{"/api/affiliate":{"post":{"tags":["Affiliate"],"summary":"Create Affiliate","description":"Create a new affiliate","operationId":"createCompany","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCompanyRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyView_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/{companyIdentifier}/booking/analytics":{"post":{"tags":["Affiliate"],"summary":"Affiliate Booking Analytics","description":"Retrieve the number of upcoming bookings that arrive today for the specific company.","operationId":"showBookingAnalytics","parameters":[{"name":"companyIdentifier","in":"path","description":"Show active booking count for company with this identifier","required":true,"schema":{"type":"string"},"example":"company-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"description":"Overview request body","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingOverviewRequest_Supplier"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingAnalytics_Supplier"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/unique":{"post":{"tags":["Affiliate"],"summary":"Verify Affiliate Name","description":"Check if company name is unique","operationId":"isCompanyNameUnique","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UniqueRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UniqueResult_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/grid":{"post":{"tags":["Affiliate"],"summary":"Affiliate Search","description":"Retrieve a paginated list of affiliates that you manage.","operationId":"searchAffiliates","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"description":"Filter grid by state request body","content":{"application/json":{"schema":{"$ref":"#/components/schemas/State_Supplier"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageCompanyView_Supplier"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/{companyIdentifier}":{"get":{"tags":["Affiliate"],"summary":"Show Affiliate","description":"Retrieve company by identifier","operationId":"showCompany","parameters":[{"name":"companyIdentifier","in":"path","description":"Select company with given identifier","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyView_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Affiliate"],"summary":"Delete Affiliate","description":"Delete a company by identifier","operationId":"removeCompany","parameters":[{"name":"companyIdentifier","in":"path","description":"Delete company with given identifier","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveEntryResponse_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"patch":{"tags":["Affiliate"],"summary":"Update Affiliate","description":"Update an existing company","operationId":"updateCompany","parameters":[{"name":"companyIdentifier","in":"path","description":"Update company with given identifier","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertCompanyRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyView_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/{companyIdentifier}/status":{"patch":{"tags":["Affiliate"],"summary":"Toggle Affiliate Status","description":"Update company status","operationId":"updateCompany_1","parameters":[{"name":"companyIdentifier","in":"path","description":"Update status of company with given identifier","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertCompanyStatusRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyView_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/{companyIdentifier}/manager/invite":{"patch":{"tags":["Account Manager"],"summary":"Invite Manager","description":"Invite user to be a manager for this company.","operationId":"inviteManager","parameters":[{"name":"companyIdentifier","in":"path","description":"Invite user to manage company with given identifier","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InviteManagerRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyView_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/{companyIdentifier}/logo":{"patch":{"tags":["Affiliate"],"summary":"Update Affiliate Logo","description":"Updates company logo.","operationId":"updateCompanyPhoto","parameters":[{"name":"companyIdentifier","in":"path","description":"Update logo of company with given identifier","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertCompanyLogoRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyView_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/{companyIdentifier}/address":{"patch":{"tags":["Affiliate"],"summary":"Update Affiliate Address","description":"Updates company address.","operationId":"updateCompanyAddress","parameters":[{"name":"companyIdentifier","in":"path","description":"Update address of company with given identifier","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertAddressRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyView_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/manager/invite/{companyIdentifier}/accept":{"get":{"tags":["Account Manager"],"summary":"Accept Invite","description":"Accepts the invite to manager a property or account.","operationId":"acceptManagerInvite","parameters":[{"name":"companyIdentifier","in":"path","description":"Company identifier for which to accept invite to","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManagerInviteAccepted_Supplier"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/manager/invite/list":{"get":{"tags":["Account Manager"],"summary":"Show Invites","description":"Retrieve list of invites for user","operationId":"showManagerInviteList","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ManagerInvite_Affiliate"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/{companyIdentifier}/booking/overview":{"get":{"tags":["Affiliate"],"summary":"Affiliate Booking Overview","description":"Basic booking overview data","operationId":"showBookingOverview","parameters":[{"name":"companyIdentifier","in":"path","description":"Show booking owned by this company","required":true,"schema":{"type":"string"},"example":"company-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupedBookingSalesMetrics_SupplierDetails"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/list":{"get":{"tags":["Affiliate"],"summary":"Show Affiliates","description":"List all companies owned by caller.","operationId":"showCompanies","parameters":[{"name":"type","in":"query","description":"Filter on companies of a specific type","required":false,"schema":{"type":"string","enum":["DIRECT","APPLICATION","HOTEL","TRAVELIKO","CORPORATE","TRAVEL_AGENT","INFLUENCER","BLOGGER","DESTINATION","CHANNEL_MANAGER","PROPERTY_MANAGEMENT_SYSTEM","CENTRAL_RESERVATION_SYSTEM","GOOGLE_HOTEL_API","MANAGEMENT_COMPANY","CHAIN","BRAND","EVENT_ORGANIZER"]}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CompanyView_Affiliate"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/manager/invite/{companyIdentifier}/reject":{"delete":{"tags":["Account Manager"],"summary":"Reject Invite","description":"Remove manager by specified identifier","operationId":"rejectInvite","parameters":[{"name":"companyIdentifier","in":"path","description":"Remove manager from this property identifier","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveEntryResponse_Supplier"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/{companyIdentifier}/manager/{email}":{"delete":{"tags":["Account Manager"],"summary":"Remove Manager","description":"Disassociate user from this company.","operationId":"removeCompanyUser","parameters":[{"name":"companyIdentifier","in":"path","description":"Remove manager from company with given identifier","required":true,"schema":{"type":"string"}},{"name":"email","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyView_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}}},"components":{"schemas":{"GenericErrorMessage":{"type":"object","properties":{"timestamp":{"type":"string","xml":{"attribute":true}},"status":{"type":"integer","format":"int32","xml":{"attribute":true}},"error":{"type":"string"},"message":{"type":"string"},"path":{"type":"string"}},"description":"Generic error message","xml":{"name":"ErrorMessage"}},"CreateCompanyRequest_Affiliate":{"required":["cityGeoNameId","companyType","name","type","url","vatID"],"type":"object","properties":{"name":{"type":"string","description":"Name of company","example":"Company 1"},"legalName":{"type":"string","description":"Legal name of entity if other than name","example":"Legal Company 1"},"companyType":{"type":"string","description":"Type of company","example":"COMPANY","enum":["COMPANY","INDIVIDUAL"]},"type":{"type":"string","description":"Type of company","example":"APPLICATION","enum":["DIRECT","APPLICATION","HOTEL","TRAVELIKO","CORPORATE","TRAVEL_AGENT","INFLUENCER","BLOGGER","DESTINATION","CHANNEL_MANAGER","PROPERTY_MANAGEMENT_SYSTEM","CENTRAL_RESERVATION_SYSTEM","GOOGLE_HOTEL_API","MANAGEMENT_COMPANY","CHAIN","BRAND","EVENT_ORGANIZER"]},"vatID":{"type":"string","description":"A VAT id if required","example":"vat-1"},"description":{"type":"string","description":"A personal message from the company."},"url":{"type":"string","description":"Company's main website","example":"https://www.mymainsite.com"},"cityGeoNameId":{"type":"string","description":"City geo name ID","example":"897654"},"urls":{"type":"array","description":"List of all active accounts that could be used for selling or seeing a company's reach.","items":{"type":"string","description":"List of all active accounts that could be used for selling or seeing a company's reach."}},"travelAgent":{"$ref":"#/components/schemas/UpsertTravelAgentRequest_Affiliate"}}},"UpsertTravelAgentRequest_Affiliate":{"type":"object","description":"If the company type is travel agent, this object will be filled out too."},"Address_Affiliate":{"required":["address1","city"],"type":"object","properties":{"address1":{"type":"string","description":"Address line 1","example":"234 Near da beach"},"address2":{"type":"string","description":"Address line 2","example":"Pebble #5001"},"state":{"type":"string","description":"State","example":"CA"},"postalCode":{"type":"string","description":"Postal / zip code","example":"90210"},"county":{"type":"string","description":"County","example":"Alameda county"},"city":{"$ref":"#/components/schemas/GeoName_Affiliate"},"valid":{"type":"boolean","description":"Whether this address is considered valid by the system or not","readOnly":true,"example":true},"fullAddress":{"type":"string","description":"Address 1, Address 2, City, State, Postal / Zip code, Country","readOnly":true,"example":"11 At home, Suite 3C, New York City, NY 10010, United States"}},"description":"Address information"},"CompanyUser_Affiliate":{"required":["email"],"type":"object","properties":{"email":{"type":"string","description":"User email","example":"manager@me.com"},"status":{"type":"string","description":"Contact phone number","example":"+12125551212","enum":["PENDING","ACCEPTED","DEACTIVATED"]},"userIdentifier":{"type":"string","description":"User identifier","format":"uuid"},"firstName":{"type":"string","description":"Contact first name","example":"John"},"lastName":{"type":"string","description":"Contact last name","example":"Smith"},"secondaryEmail":{"type":"string","description":"Contact secondary Email","example":"johnsmith2@email.com"},"phoneNumber":{"type":"string","description":"Contact phone number","example":"+12125551212"},"profilePictureUrl":{"type":"string","description":"Profile picture is available"},"name":{"type":"string"}}},"CompanyView_Affiliate":{"required":["company"],"type":"object","properties":{"id":{"type":"string","description":"Document UUID","example":"doc-1"},"createdDate":{"type":"string","description":"Datetime this record was first created","format":"date-time"},"lastUpdate":{"type":"string","description":"Datetime this record was last updated","format":"date-time"},"version":{"type":"integer","description":"Version property that shows how many times this document has been persisted. Document will not persist if the version property is less than current version property in the system. Result in an optimistic locking exception.","format":"int64","example":12},"company":{"$ref":"#/components/schemas/Company_Affiliate"}}},"Company_Affiliate":{"required":["address","approved","companyType","enabled","identifier","name","owner","type","url","urlName","userIdentifier","vatID"],"type":"object","properties":{"identifier":{"type":"string","description":"Unique identifier","format":"uuid"},"userIdentifier":{"type":"string","description":"User or Registered client owner identifier that created this record","format":"uuid"},"owner":{"$ref":"#/components/schemas/CompanyUser_Affiliate"},"name":{"type":"string","description":"Name of company","example":"Company 1"},"urlName":{"type":"string","description":"Url slug of company name","example":"company-1"},"legalName":{"type":"string","description":"Legal name of entity if other than name","example":"Legal Company 1"},"enabled":{"type":"boolean","description":"Whether this company is enabled by payment.","example":true},"approved":{"type":"boolean","description":"Whether this company has been approved by KYC.","example":true,"default":false},"companyType":{"type":"string","description":"Type of company","example":"COMPANY","enum":["COMPANY","INDIVIDUAL"]},"type":{"type":"string","description":"Type of sales channel","example":"APPLICATION","enum":["DIRECT","APPLICATION","HOTEL","TRAVELIKO","CORPORATE","TRAVEL_AGENT","INFLUENCER","BLOGGER","DESTINATION","CHANNEL_MANAGER","PROPERTY_MANAGEMENT_SYSTEM","CENTRAL_RESERVATION_SYSTEM","GOOGLE_HOTEL_API","MANAGEMENT_COMPANY","CHAIN","BRAND","EVENT_ORGANIZER"]},"vatID":{"type":"string","description":"An optional VAT ID","example":"vat-1"},"description":{"type":"string","description":"A personal message from the company."},"url":{"type":"string","description":"Company's main website","example":"https://www.mymainsite.com"},"address":{"$ref":"#/components/schemas/Address_Affiliate"},"managers":{"maxItems":30,"minItems":0,"type":"array","items":{"$ref":"#/components/schemas/CompanyUser_Affiliate"}},"urls":{"type":"array","description":"List of all active accounts that could be used for selling or seeing a company's reach.","items":{"type":"string","description":"List of all active accounts that could be used for selling or seeing a company's reach."}},"logo":{"$ref":"#/components/schemas/SimpleMultimedia_Affiliate"}},"description":"A Company is our definition of a sales channel / affiliate. A property also has a company record."},"Country_Affiliate":{"type":"object","properties":{"iso":{"type":"string","description":"ISO code","example":"US"},"name":{"type":"string","description":"Country name","example":"United States"},"capital":{"type":"string","description":"Country capital","example":"Washington"},"continent":{"type":"string","description":"Continent code","example":"NA"},"currencyCode":{"type":"string","description":"Currency code","example":"USD"},"currencyName":{"type":"string","description":"Currency name","example":"Dollar"},"geoNameId":{"type":"string","description":"Country GeoNames identifier","example":"6252001"}},"description":"Country"},"GeoJsonPoint_Affiliate":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"},"type":{"type":"string"},"coordinates":{"type":"array","items":{"type":"number","format":"double"}}},"description":"Coordinate points of the city","example":{"type":"POINT","coordinates":[100.5581533,13.7370197]}},"GeoName_Affiliate":{"type":"object","properties":{"geoNameId":{"type":"string","description":"GeoName identifier","example":"5128581"},"type":{"type":"string","description":"GeoName type","enum":["CITY","ISLAND","OTHER"]},"name":{"type":"string","description":"Name of city","example":"New York City"},"urlName":{"type":"string","description":"Url name","example":"new-york-city-united-states"},"asciiName":{"type":"string","description":"Ascii name of city","example":"New York City"},"location":{"$ref":"#/components/schemas/GeoJsonPoint_Affiliate"},"featureCode":{"type":"string"},"countryCode":{"type":"string"},"timezone":{"type":"string","description":"Timezone","example":"America/New_York"},"country":{"$ref":"#/components/schemas/Country_Affiliate"},"subCountry":{"$ref":"#/components/schemas/SubCountry_Affiliate"},"subSubCountry":{"$ref":"#/components/schemas/SubSubCountry_Affiliate"}},"description":"GeoNames have been created at [https://geonames.org](https://geonames.org) and contain geographical destinations we use as geoname data to associate travel inventory with a location."},"ImageAttribution_Affiliate":{"required":["name"],"type":"object","properties":{"url":{"type":"string","description":"URL to contributor","example":"https://maps.google.com/maps/contrib/111628493169070103594"},"name":{"type":"string","description":"Name of contributor","example":"Samuel Adams"}},"description":"Whether image has attribution properties"},"SimpleDescription_Affiliate":{"required":["description","language"],"type":"object","properties":{"name":{"type":"string","description":"Use as title or short text description","example":"An example title"},"description":{"maxLength":2147483647,"minLength":1,"type":"string","description":"Longer text description","example":"This is a longer description in the specified language."},"language":{"maxLength":2,"minLength":2,"type":"string","description":"Indicate which language this description is written in.","example":"en","default":"en"}},"description":"Localized media captions to give user some context about where this media was taken."},"SimpleMultimedia_Affiliate":{"required":["height","identifier","multimediaIdentifier","source","type","width"],"type":"object","properties":{"multimediaIdentifier":{"type":"string","description":"Document identifier","format":"uuid"},"identifier":{"type":"string","description":"Use this identifier to communicate with Cloudinary.","example":"cloudinary-image-1"},"type":{"type":"string","description":"Whether Cloudinary media is a VIDEO or IMAGE.","example":"IMAGE","enum":["IMAGE","VIDEO","AUDIO","RAW"]},"source":{"type":"string","description":"Currently ONLY using Cloudinary to store all image / video assets.","example":"CLOUDINARY","default":"CLOUDINARY","enum":["YOUTUBE","CLOUDINARY"]},"sort":{"type":"integer","description":"Sort allows you to control how you want to sort this record in a list of media records.","format":"int32","example":10,"default":999},"angle":{"type":"string","description":"Media angle","example":"-90"},"width":{"type":"integer","description":"Media width in pixels.","format":"int32","example":2560},"height":{"type":"integer","description":"Media height in pixels.","format":"int32","example":1600},"published":{"type":"boolean","description":"Instead of deleting the media, choose to un-publish it instead for later re-use. Could be you keep seasonal images of the property.","example":true,"default":false},"category":{"type":"string","description":"Supported OTA specification `PIC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"1"},"descriptions":{"type":"array","description":"Localized media captions to give user some context about where this media was taken.","items":{"$ref":"#/components/schemas/SimpleDescription_Affiliate"}},"lifestyleType":{"type":"string","description":"Associate this media with a specific lifestyle type. A user searching and filtering inventory based on lifestyles can be shown relevant media first.","example":"LIFESTYLE_HEALTH_FITNESS","enum":["LIFESTYLE_HEALTH_FITNESS","LIFESTYLE_RELAX","LIFESTYLE_ADULT_ONLY","LIFESTYLE_ADVENTURE","LIFESTYLE_BUSINESS","LIFESTYLE_LGBT","LIFESTYLE_SINGLE_PARENT","LIFESTYLE_SOLO_FEMALE","LIFESTYLE_BEAUTY","LIFESTYLE_FOODIE","LIFESTYLE_FAMILY","LIFESTYLE_ROMANCE","LIFESTYLE_COUPLE","LIFESTYLE_SOLO","LIFESTYLE_BACKPACKER","LIFESTYLE_SHOPPING","LIFESTYLE_SPORTS","LIFESTYLE_MOUNTAIN","LIFESTYLE_BEACH","LIFESTYLE_CITY","LIFESTYLE_COUNTRY","LIFESTYLE_CULTURE","LIFESTYLE_ECO"]},"attribution":{"type":"array","description":"Whether image has attribution properties","items":{"$ref":"#/components/schemas/ImageAttribution_Affiliate"}},"isLandscape":{"type":"boolean","description":"True if media width is greater or equal to height","example":true}},"description":"Multimedia that contains less information than Multimedia object"},"SubCountry_Affiliate":{"type":"object","properties":{"name":{"type":"string","description":"Sub-country name","example":"New York"},"asciiName":{"type":"string","description":"Sub-country ascii name","example":"New York"},"geoNameId":{"type":"string","description":"Sub-country GeoNames identifier","example":"5128638"}},"description":"Country subdivision such as a state or province"},"SubSubCountry_Affiliate":{"type":"object","properties":{"name":{"type":"string"},"asciiName":{"type":"string"},"geoNameId":{"type":"string"}},"description":"Country sub sub division"},"BookingOverviewRequest_Supplier":{"required":["type"],"type":"object","properties":{"type":{"type":"string","description":"The type of time series that should be used","example":"MONTH","enum":["HOUR","DAY","MONTH","YEAR"]},"units":{"type":"integer","description":"How many units of the timeseries type should be used","format":"int64","example":12}}},"AutoBaseUnitSteps_Supplier":{"type":"object","properties":{"milliseconds":{"type":"number"},"seconds":{"type":"number"},"minutes":{"type":"number"},"hours":{"type":"number"},"days":{"type":"number"},"weeks":{"type":"number"},"months":{"type":"number"},"years":{"type":"number"}},"description":"The time-interval steps when `baseUnit` is set either to `fit` or `auto`. The axis will try to divide the active period into the smallest possible units that yield `maxDateGroups` or less discrete intervals."},"AxisLine_Supplier":{"type":"object","properties":{"color":{"type":"string"},"dashType":{"type":"string","enum":["dash","dashDot","dot","longDash","longDashDot","longDashDotDot","solid"]},"visible":{"type":"boolean"},"width":{"type":"number"}},"description":"The configuration of the axis lines. Also affects the major and minor ticks, but not the grid lines."},"AxisTicks_Supplier":{"title":"Minor ticks","type":"object","properties":{"color":{"type":"string"},"size":{"type":"number"},"step":{"type":"number"},"skip":{"type":"number"},"visible":{"type":"boolean"},"width":{"type":"number"}},"description":"The configuration of the category axis minor ticks."},"BookingAnalytics_Supplier":{"required":["charts"],"type":"object","properties":{"charts":{"type":"array","description":"Interesting property-level chart data overview","items":{"$ref":"#/components/schemas/LineChart_Supplier"}}}},"Border_Supplier":{"type":"object","properties":{"color":{"type":"string"},"dashType":{"type":"string","enum":["dash","dashDot","dot","longDash","longDashDot","longDashDotDot","solid"]},"width":{"type":"number"}}},"CategoryAxisCrosshairTooltip_Supplier":{"type":"object","properties":{"background":{"type":"string"},"border":{"$ref":"#/components/schemas/Border_Supplier"},"color":{"type":"string"},"font":{"type":"string"},"format":{"type":"string"},"padding":{"$ref":"#/components/schemas/Padding_Supplier"},"visible":{"type":"boolean"}}},"CategoryAxisCrosshair_Supplier":{"title":"Crosshair","type":"object","properties":{"color":{"type":"string"},"dashType":{"type":"string","enum":["dash","dashDot","dot","longDash","longDashDot","longDashDotDot","solid"]},"opacity":{"type":"number"},"visible":{"type":"boolean"},"width":{"type":"number"},"tooltip":{"$ref":"#/components/schemas/CategoryAxisCrosshairTooltip_Supplier"}},"description":"The configuration options of the crosshair. The crosshair is displayed when the `categoryAxis.crosshair.visible` option is set to `true`."},"CategoryAxisNotesIcon_Supplier":{"type":"object","properties":{"background":{"type":"string"},"border":{"$ref":"#/components/schemas/Border_Supplier"},"size":{"type":"number"},"type":{"type":"string","enum":["square","circle","triangle","cross"]},"visible":{"type":"boolean"}}},"CategoryAxisNotesLabel_Supplier":{"type":"object","properties":{"background":{"type":"string"},"border":{"$ref":"#/components/schemas/Border_Supplier"},"color":{"type":"string"},"font":{"type":"string"},"format":{"type":"string"},"position":{"type":"string","enum":["inside","outside"]},"rotation":{"type":"number"},"visible":{"type":"boolean"}}},"CategoryAxisNotes_Supplier":{"title":"Notes","type":"object","properties":{"data":{"type":"array","items":{"type":"object"}},"line":{"$ref":"#/components/schemas/NoteLine_Supplier"},"position":{"type":"string","enum":["top","bottom","left","right"]},"icon":{"$ref":"#/components/schemas/CategoryAxisNotesIcon_Supplier"},"label":{"$ref":"#/components/schemas/CategoryAxisNotesLabel_Supplier"}},"description":"The configuration of the category axis notes."},"CategoryAxisSelect_Supplier":{"title":"Select","type":"object","properties":{"from":{"type":"object"},"max":{"type":"object"},"min":{"type":"object"},"mousewheel":{"type":"object"},"to":{"type":"object"}},"description":"The selected axis range. If set, the axis selection is enabled. The range is index-based, starting from zero. Categories with indexes in the range (`select.from`, `select.to`) will be selected. That is, the last category in the range will not be included in the selection. If the categories are dates, the range has to be also specified with date values. Selection is only supported if the axis is horizontal."},"CategoryAxisTitle_Supplier":{"title":"Title","type":"object","properties":{"background":{"type":"string"},"border":{"$ref":"#/components/schemas/Border_Supplier"},"color":{"type":"string"},"font":{"type":"string"},"margin":{"$ref":"#/components/schemas/Margin_Supplier"},"padding":{"$ref":"#/components/schemas/Padding_Supplier"},"position":{"type":"string","enum":["top","bottom","left","right","center"]},"rotation":{"type":"number"},"text":{"type":"string"},"visible":{"type":"boolean"}},"description":"Title of axis"},"ChartCategoryAxisLabels_Supplier":{"title":"Labels","type":"object","properties":{"rotation":{"type":"string"}},"description":"The configuration of the axis labels."},"ChartCategoryAxisMajorGridLines_Supplier":{"title":"Major grid lines","type":"object","properties":{"visible":{"type":"boolean"}},"description":"The configuration of the major grid lines. These are the lines that are an extension of the major ticks through the body of the Chart."},"ChartCategoryAxis_Supplier":{"title":"Category axis","type":"object","properties":{"autoBaseUnitSteps":{"$ref":"#/components/schemas/AutoBaseUnitSteps_Supplier"},"axisCrossingValue":{"type":"array","description":"The category index or the date (for date category axis) at which the first value axis crosses this axis. The category indices or the date (for date category axis) at which the value axes cross the category axis (when set as an array). To denote the far end of the axis, set an index greater than or equal to the Number of categories.","items":{"type":"object","description":"The category index or the date (for date category axis) at which the first value axis crosses this axis. The category indices or the date (for date category axis) at which the value axes cross the category axis (when set as an array). To denote the far end of the axis, set an index greater than or equal to the Number of categories."}},"background":{"type":"string","description":"The background color of the axis."},"baseUnit":{"type":"string","description":"The base time interval for the date axis. The default base unit is automatically determined by the minimum difference between subsequent categories. The supported values are: \n\n- `fit`\n- `milliseconds`\n- `seconds`\n- `minutes`\n- `hours`\n- `days`\n- `weeks`\n- `months`\n- `years`\nSetting `baseUnit` to `fit` sets such a base unit and `categoryAxis.baseUnitStep` that the total Number of categories does not exceed `categoryAxis.maxDateGroups`. Series data is aggregated for the specified base unit by using the `series.aggregate` function.","enum":["milliseconds","seconds","minutes","hours","days","weeks","months","years","auto","fit"]},"baseUnitStep":{"type":"number","description":"The step (interval) between the categories in base units. Setting it to `auto` sets the step to such a value that the total Number of categories does not exceed `categoryAxis.maxDateGroups`. The option is ignored if `categoryAxis.baseUnit` is set to `fit`."},"categories":{"type":"array","description":"The category names. The Chart creates a category for every item of the array.","items":{"type":"string","description":"The category names. The Chart creates a category for every item of the array."}},"color":{"type":"string","description":"The color to apply to all axis elements. Accepts a valid CSS color String, including hex and rgb. Can be overridden by `categoryAxis.labels.color` and `categoryAxis.line.color`."},"justified":{"type":"boolean","description":"If set to `true`, the Chart positions categories and series points on major ticks. This removes the empty space before and after the series. The default value is `false` except for `area`, `verticalArea`, `rangeArea`, and `verticalRangeArea`. The option is ignored if the `series.type` option is set to `bar`, `column`, `boxPlot`, `ohlc`, `candlestick`, or `waterfall`."},"line":{"$ref":"#/components/schemas/AxisLine_Supplier"},"majorGridLines":{"$ref":"#/components/schemas/ChartCategoryAxisMajorGridLines_Supplier"},"majorTicks":{"$ref":"#/components/schemas/AxisTicks_Supplier"},"max":{"title":"Max","type":"string","description":"The last date displayed on a date category axis or the index of the last category displayed on a category axis. By default, the max value is the same as the last category. This is often used in combination with the `categoryAxis.min` and `categoryAxis.roundToBaseUnit` options to set up a fixed date range.","format":"date-time"},"maxDateGroups":{"title":"Max date groups","type":"number","description":"The maximum Number of groups (categories) to display when `categoryAxis.baseUnit` is set to `fit` or `categoryAxis.baseUnitStep` is set to `auto`."},"maxDivisions":{"title":"Max divisions","type":"number","description":"The maximum Number of ticks and labels to display. Applicabable for date category axis."},"min":{"title":"Min","type":"string","description":"The first date which is displayed on a date category axis or the index of the first category whcih is displayed on a category axis. By default, the min value is the same as the first category. This is often used in combination with the `categoryAxis.max` and `categoryAxis.roundToBaseUnit` options to set up a fixed date range.","format":"date-time"},"minorGridLines":{"$ref":"#/components/schemas/GridLines_Supplier"},"minorTicks":{"$ref":"#/components/schemas/AxisTicks_Supplier"},"name":{"title":"Name","type":"string","description":"The unique axis name. Used to associate a series with a category axis, which utilizes the `series.categoryAxis` option."},"pane":{"title":"Pane","type":"string","description":"The name of the pane in which the category axis has to be rendered. If not set, the axis will be rendered in the first (default) pane."},"plotBands":{"title":"Plot bands","type":"array","description":"The plot bands of the category axis.","items":{"$ref":"#/components/schemas/PlotBand_Supplier"}},"reverse":{"title":"Reverse","type":"boolean","description":"If set to `true`, the category axis direction is reversed. By default, categories are listed from left to right and from bottom to top."},"roundToBaseUnit":{"title":"Round to base unit","type":"boolean","description":"If set to `true`, the Chart rounds the first and last date to the nearest base unit."},"startAngle":{"title":"Start angle","type":"number","description":"The angle (degrees) of the first category on the axis. Angles increase clockwise with zero to the left. Negative values are acceptable."},"type":{"title":"Type","type":"string","description":"The category axis type. The supported values are:\n\n- `category` Discrete category axis.- `date`\n Specialized axis for displaying chronological data.","enum":["category","date"]},"weekStartDay":{"title":"Week start day","type":"string","description":"The week start day when the `baseUnit` is set to `weeks`.","enum":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]},"crosshair":{"$ref":"#/components/schemas/CategoryAxisCrosshair_Supplier"},"labels":{"$ref":"#/components/schemas/ChartCategoryAxisLabels_Supplier"},"notes":{"$ref":"#/components/schemas/CategoryAxisNotes_Supplier"},"select":{"$ref":"#/components/schemas/CategoryAxisSelect_Supplier"},"title":{"$ref":"#/components/schemas/CategoryAxisTitle_Supplier"},"visible":{"title":"Visible","type":"boolean","description":"If set to `true`, the Chart displays the category axis. By default, the category axis is visible."}},"description":"The configuration options of the category axis."},"ChartLegend_Supplier":{"type":"object","properties":{"position":{"type":"string","description":"top | bottom | left | right"}},"description":"The configuration options for the chart legend."},"ChartSeriesDefaults_Supplier":{"type":"object","properties":{"type":{"type":"string","description":"The default type of the series.\n\nThe supported values are:\n\n- area\n- bar\n- bubble\n- bullet\n- candlestick\n- column\n- donut\n- funnel\n- line\n- ohlc\n- pie\n- polarArea\n- polarLine\n- polarScatter\n- radarArea\n- radarColumn\n- radarLine\n- rangeArea\n- rangeBar\n- rangeColumn\n- scatter\n- scatterLine\n- verticalArea\n- verticalBullet\n- verticalLine\n- verticalRangeArea\n- waterfall"}},"description":"The default options of all series."},"ChartSeries_Supplier":{"type":"object","properties":{"name":{"type":"string","description":"The name of the Chart series which is visible in the legend."},"data":{"type":"array","description":"The array of data items which represent the series data.\n\nYou can set it to:\n\n- Array of numbers. Supported when the series.type option is set to `area`, `bar`, `column`, `donut`, `pie`, `line`, or `waterfall`.\nThe Bubble series need arrays of three values—X value, Y value, and Size value—for example, [1, 1, 10]. The Scatter and ScatterLine series need arrays of two values—X value and Y value. The OHLC and Candlestick series need arrays of four values—open, high, low, and close. The RangeBar and RangeArea series need arrays of two values—the from and to value.","items":{"type":"number","description":"The array of data items which represent the series data.\n\nYou can set it to:\n\n- Array of numbers. Supported when the series.type option is set to `area`, `bar`, `column`, `donut`, `pie`, `line`, or `waterfall`.\nThe Bubble series need arrays of three values—X value, Y value, and Size value—for example, [1, 1, 10]. The Scatter and ScatterLine series need arrays of two values—X value and Y value. The OHLC and Candlestick series need arrays of four values—open, high, low, and close. The RangeBar and RangeArea series need arrays of two values—the from and to value."}}},"description":"The configuration of the chart series. The series type is determined by the value of the type field. If a type value is missing, the chart renders the type that is specified in `seriesDefaults`. Some options accept functions as arguments. These arguments are evaluated for each point which is supplied as a parameter. If no value is returned, the chart uses the `theme` or `seriesDefaults` values."},"ChartTitle_Supplier":{"type":"object","properties":{"text":{"type":"string"}},"description":"The configuration options for the chart title"},"ChartTooltip_Supplier":{"title":"Tool tip","type":"object","properties":{"visible":{"type":"boolean","description":"If set to `true`, the Chart displays the series tooltip. By default, the series tooltip is not displayed."},"format":{"type":"string","description":"The format of the labels. Uses the format method of IntlService. The available format placeholders are:\n\n- Area, Bar, Column, Funnel, Line, and Pie {0} - value\n- Bubble {0} - x value{1} - y value{2} - size value{3} - category name\n- Scatter and scatterLine {0} - x value{1} - y value\n- Candlestick and OHLC {0} - open value{1} - high value{2} - low value{3} - close value{4} - category name"}},"description":"The configuration options of the Chart series tooltips. The tooltip of the Chart series is displayed when the `tooltip.visible` option is set to `true`."},"ChartValueAxisLabels_Supplier":{"type":"object","properties":{"format":{"type":"string","description":"The format for displaying the labels. Uses the format method of IntlService. Contains one placeholder (`{0}`) which represents the category value."}},"description":"The axis labels configuration."},"ChartValueAxisLine_Supplier":{"type":"object","properties":{"visible":{"type":"boolean","description":"If set to true, the Chart displays the axis lines. By default, the axis lines are visible."}},"description":"The configuration of the axis lines. Also affects the major and minor ticks, but not the grid lines."},"ChartValueAxis_Supplier":{"title":"Value axis","type":"object","properties":{"labels":{"$ref":"#/components/schemas/ChartValueAxisLabels_Supplier"},"line":{"$ref":"#/components/schemas/ChartValueAxisLine_Supplier"},"axisCrossingValue":{"type":"integer","description":"- (Only for objects) The value at which the category axis crosses this axis.\n- (Only for arrays) The value indices at which the category axes cross the value axis.\n- (Only for dates) The date at which the category axis crosses this axis.","format":"int32"},"majorUnit":{"type":"number","description":"The interval between major divisions. If `valueAxis.type` is set to `log`, the majorUnit value is used for the base of the logarithm.","format":"float"}},"description":"The configuration options of the value axis."},"GridLines_Supplier":{"title":"Minor grid lines","type":"object","properties":{"color":{"type":"string"},"dashType":{"type":"string","enum":["dash","dashDot","dot","longDash","longDashDot","longDashDotDot","solid"]},"skip":{"type":"number"},"step":{"type":"number"},"visible":{"type":"boolean"},"width":{"type":"number"}},"description":"The configuration of the minor grid lines. These are the lines that are an extension of the minor ticks through the body of the Chart."},"LineChart_Supplier":{"type":"object","properties":{"identifier":{"type":"string","description":"Unique line chart identifier","format":"uuid"},"title":{"$ref":"#/components/schemas/ChartTitle_Supplier"},"legend":{"$ref":"#/components/schemas/ChartLegend_Supplier"},"seriesDefaults":{"$ref":"#/components/schemas/ChartSeriesDefaults_Supplier"},"series":{"type":"array","description":"The configuration of the chart series. The series type is determined by the value of the type field. If a type value is missing, the chart renders the type that is specified in `seriesDefaults`. Some options accept functions as arguments. These arguments are evaluated for each point which is supplied as a parameter. If no value is returned, the chart uses the `theme` or `seriesDefaults` values.","items":{"$ref":"#/components/schemas/ChartSeries_Supplier"}},"valueAxis":{"$ref":"#/components/schemas/ChartValueAxis_Supplier"},"categoryAxis":{"$ref":"#/components/schemas/ChartCategoryAxis_Supplier"},"tooltip":{"$ref":"#/components/schemas/ChartTooltip_Supplier"},"renderAs":{"title":"Render as","type":"string","description":"Sets the preferred rendering engine. If not supported by the browser, the Chart switches to the first available mode.\n\nThe supported values are:\n\n- svg (If available, renders the component as an inline .svg file.)- canvas (If available, renders the component as a canvas element.)"},"transitions":{"title":"Transitions","type":"boolean","description":"If set to `true`, the Chart plays animations when it displays the series. By default, animations are enabled."}},"description":"Interesting property-level chart data overview"},"Margin_Supplier":{"type":"object","properties":{"top":{"type":"number"},"right":{"type":"number"},"bottom":{"type":"number"},"left":{"type":"number"}}},"NoteLine_Supplier":{"type":"object","properties":{"color":{"type":"string"},"dashType":{"type":"string","enum":["dash","dashDot","dot","longDash","longDashDot","longDashDotDot","solid"]},"length":{"type":"number"},"width":{"type":"number"}}},"Padding_Supplier":{"type":"object","properties":{"top":{"type":"number"},"right":{"type":"number"},"bottom":{"type":"number"},"left":{"type":"number"}}},"PlotBand_Supplier":{"title":"Plot bands","type":"object","properties":{"color":{"type":"string"},"from":{"type":"string"},"opacity":{"type":"number"},"to":{"type":"string"}},"description":"The plot bands of the category axis."},"UniqueRequest_Affiliate":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"The name we want to check uniqueness for","example":"My unique name"},"identifier":{"type":"string","description":"An optional accompanying identifier so it doesn't check itself on an update","format":"uuid"}}},"UniqueResult_Affiliate":{"type":"object","properties":{"unique":{"type":"boolean"}}},"AggregateDescriptor_Supplier":{"type":"object","properties":{"field":{"type":"string","description":"Field to run aggregate function on","example":"hotel.bookings"},"aggregate":{"type":"string","description":"Aggregate function","example":"count","enum":["count","sum","average","min","max"]}},"description":"Primitive aggregate data points"},"CompositeFilterDescriptor_Supplier":{"type":"object","properties":{"logic":{"type":"string","description":"Whether to filter inclusively or exclusively","example":"and","enum":["and","or"]},"filters":{"type":"array","description":"Descriptors used for filtering the result set","items":{"$ref":"#/components/schemas/FilterDescriptor_Supplier"}}},"description":"Descriptors used for filtering result set"},"FilterDescriptor_Supplier":{"required":["field","operator","value"],"type":"object","properties":{"field":{"type":"string","description":"Field name to filter on","example":"hotel.name"},"operator":{"type":"string","description":"Filter operator to use on field","example":"startsWith","enum":["neq","eq","contains","doesnotcontain","isnull","isnotnull","isempty","isnotempty","startswith","endswith","gte","lte","gt","lt","in","nin"]},"value":{"type":"object","description":"Value to filter dataset against","example":"Happy Res"},"ignoreCase":{"type":"boolean","description":"Make filter comparison case insensitive. Default: Case sensitive ","example":true}},"description":"Descriptors used for filtering the result set"},"GroupDescriptor_Supplier":{"type":"object","properties":{"field":{"type":"string","description":"Field to group data set on","example":"createdDate"},"dir":{"type":"string","description":"Group sort direction","example":"asc","enum":["asc","desc"]},"aggregates":{"type":"array","description":"Primitive aggregate data points","items":{"$ref":"#/components/schemas/AggregateDescriptor_Supplier"}}},"description":"Descriptors to group result sets by."},"SortDescriptor_Supplier":{"type":"object","properties":{"dir":{"type":"string","description":"Descriptors used for sorting result set","example":"asc","enum":["asc","desc"]},"field":{"type":"string","description":"Data set field to sort on","example":"hotel.name"}},"description":"Descriptors used for sorting result set."},"State_Supplier":{"type":"object","properties":{"skip":{"minimum":0,"type":"integer","description":"Number of records to be skipped by the pager.","format":"int32","example":0,"default":0},"take":{"maximum":180,"minimum":1,"type":"integer","description":"Number of records to take.","format":"int32","example":10,"default":30},"sort":{"type":"array","description":"Descriptors used for sorting result set.","items":{"$ref":"#/components/schemas/SortDescriptor_Supplier"}},"filter":{"$ref":"#/components/schemas/CompositeFilterDescriptor_Supplier"},"group":{"type":"array","description":"Descriptors to group result sets by.","items":{"$ref":"#/components/schemas/GroupDescriptor_Supplier"}}}},"Address_Supplier":{"required":["address1","city"],"type":"object","properties":{"address1":{"type":"string","description":"Address line 1","example":"234 Near da beach"},"address2":{"type":"string","description":"Address line 2","example":"Pebble #5001"},"state":{"type":"string","description":"State","example":"CA"},"postalCode":{"type":"string","description":"Postal / zip code","example":"90210"},"county":{"type":"string","description":"County","example":"Alameda county"},"city":{"$ref":"#/components/schemas/GeoName_Supplier"},"valid":{"type":"boolean","description":"Whether this address is considered valid by the system or not","readOnly":true,"example":true},"fullAddress":{"type":"string","description":"Address 1, Address 2, City, State, Postal / Zip code, Country","readOnly":true,"example":"11 At home, Suite 3C, New York City, NY 10010, United States"}},"description":"Address information"},"CompanyUser_Supplier":{"required":["email"],"type":"object","properties":{"email":{"type":"string","description":"User email","example":"manager@me.com"},"status":{"type":"string","description":"Contact phone number","example":"+12125551212","enum":["PENDING","ACCEPTED","DEACTIVATED"]},"userIdentifier":{"type":"string","description":"User identifier","format":"uuid"},"firstName":{"type":"string","description":"Contact first name","example":"John"},"lastName":{"type":"string","description":"Contact last name","example":"Smith"},"secondaryEmail":{"type":"string","description":"Contact secondary Email","example":"johnsmith2@email.com"},"phoneNumber":{"type":"string","description":"Contact phone number","example":"+12125551212"},"profilePictureUrl":{"type":"string","description":"Profile picture is available"},"name":{"type":"string"}}},"CompanyView_Supplier":{"required":["company"],"type":"object","properties":{"id":{"type":"string","description":"Document UUID","example":"doc-1"},"createdDate":{"type":"string","description":"Datetime this record was first created","format":"date-time"},"lastUpdate":{"type":"string","description":"Datetime this record was last updated","format":"date-time"},"version":{"type":"integer","description":"Version property that shows how many times this document has been persisted. Document will not persist if the version property is less than current version property in the system. Result in an optimistic locking exception.","format":"int64","example":12},"company":{"$ref":"#/components/schemas/Company_Supplier"}}},"Company_Supplier":{"required":["address","approved","companyType","enabled","identifier","name","owner","type","url","urlName","userIdentifier","vatID"],"type":"object","properties":{"identifier":{"type":"string","description":"Unique identifier","format":"uuid"},"userIdentifier":{"type":"string","description":"User or Registered client owner identifier that created this record","format":"uuid"},"owner":{"$ref":"#/components/schemas/CompanyUser_Supplier"},"name":{"type":"string","description":"Name of company","example":"Company 1"},"urlName":{"type":"string","description":"Url slug of company name","example":"company-1"},"legalName":{"type":"string","description":"Legal name of entity if other than name","example":"Legal Company 1"},"enabled":{"type":"boolean","description":"Whether this company is enabled by payment.","example":true},"approved":{"type":"boolean","description":"Whether this company has been approved by KYC.","example":true,"default":false},"companyType":{"type":"string","description":"Type of company","example":"COMPANY","enum":["COMPANY","INDIVIDUAL"]},"type":{"type":"string","description":"Type of sales channel","example":"APPLICATION","enum":["DIRECT","APPLICATION","HOTEL","TRAVELIKO","CORPORATE","TRAVEL_AGENT","INFLUENCER","BLOGGER","DESTINATION","CHANNEL_MANAGER","PROPERTY_MANAGEMENT_SYSTEM","CENTRAL_RESERVATION_SYSTEM","GOOGLE_HOTEL_API","MANAGEMENT_COMPANY","CHAIN","BRAND","EVENT_ORGANIZER"]},"vatID":{"type":"string","description":"An optional VAT ID","example":"vat-1"},"description":{"type":"string","description":"A personal message from the company."},"url":{"type":"string","description":"Company's main website","example":"https://www.mymainsite.com"},"address":{"$ref":"#/components/schemas/Address_Supplier"},"managers":{"maxItems":30,"minItems":0,"type":"array","items":{"$ref":"#/components/schemas/CompanyUser_Supplier"}},"urls":{"type":"array","description":"List of all active accounts that could be used for selling or seeing a company's reach.","items":{"type":"string","description":"List of all active accounts that could be used for selling or seeing a company's reach."}},"logo":{"$ref":"#/components/schemas/SimpleMultimedia_Supplier"},"travelAgent":{"$ref":"#/components/schemas/TravelAgent_Supplier"}},"description":"A Company is our definition of a sales channel / affiliate. A property also has a company record."},"Country_Supplier":{"type":"object","properties":{"iso":{"type":"string","description":"ISO code","example":"US"},"name":{"type":"string","description":"Country name","example":"United States"},"capital":{"type":"string","description":"Country capital","example":"Washington"},"continent":{"type":"string","description":"Continent code","example":"NA"},"currencyCode":{"type":"string","description":"Currency code","example":"USD"},"currencyName":{"type":"string","description":"Currency name","example":"Dollar"},"geoNameId":{"type":"string","description":"Country GeoNames identifier","example":"6252001"}},"description":"Country"},"GeoJsonPoint_Supplier":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"},"type":{"type":"string"},"coordinates":{"type":"array","items":{"type":"number","format":"double"}}},"description":"Coordinate points of the city","example":{"type":"POINT","coordinates":[100.5581533,13.7370197]}},"GeoName_Supplier":{"type":"object","properties":{"geoNameId":{"type":"string","description":"GeoName identifier","example":"5128581"},"type":{"type":"string","description":"GeoName type","enum":["CITY","ISLAND","OTHER"]},"name":{"type":"string","description":"Name of city","example":"New York City"},"urlName":{"type":"string","description":"Url name","example":"new-york-city-united-states"},"asciiName":{"type":"string","description":"Ascii name of city","example":"New York City"},"location":{"$ref":"#/components/schemas/GeoJsonPoint_Supplier"},"featureCode":{"type":"string"},"countryCode":{"type":"string"},"timezone":{"type":"string","description":"Timezone","example":"America/New_York"},"country":{"$ref":"#/components/schemas/Country_Supplier"},"subCountry":{"$ref":"#/components/schemas/SubCountry_Supplier"},"subSubCountry":{"$ref":"#/components/schemas/SubSubCountry_Supplier"}},"description":"GeoNames have been created at [https://geonames.org](https://geonames.org) and contain geographical destinations we use as geoname data to associate travel inventory with a location."},"ImageAttribution_Supplier":{"required":["name"],"type":"object","properties":{"url":{"type":"string","description":"URL to contributor","example":"https://maps.google.com/maps/contrib/111628493169070103594"},"name":{"type":"string","description":"Name of contributor","example":"Samuel Adams"}},"description":"Whether image has attribution properties"},"PageCompanyView_Supplier":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/CompanyView_Supplier"}},"number":{"type":"integer","format":"int32"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"first":{"type":"boolean"},"last":{"type":"boolean"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject_Supplier"},"empty":{"type":"boolean"}}},"PageableObject_Supplier":{"type":"object","properties":{"offset":{"type":"integer","format":"int64"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"paged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"unpaged":{"type":"boolean"}}},"SimpleDescription_Supplier":{"required":["description","language"],"type":"object","properties":{"name":{"type":"string","description":"Use as title or short text description","example":"An example title"},"description":{"maxLength":2147483647,"minLength":1,"type":"string","description":"Longer text description","example":"This is a longer description in the specified language."},"language":{"maxLength":2,"minLength":2,"type":"string","description":"Indicate which language this description is written in.","example":"en","default":"en"}},"description":"Localized media captions to give user some context about where this media was taken."},"SimpleMultimedia_Supplier":{"required":["height","identifier","multimediaIdentifier","source","type","width"],"type":"object","properties":{"multimediaIdentifier":{"type":"string","description":"Document identifier","format":"uuid"},"identifier":{"type":"string","description":"Use this identifier to communicate with Cloudinary.","example":"cloudinary-image-1"},"type":{"type":"string","description":"Whether Cloudinary media is a VIDEO or IMAGE.","example":"IMAGE","enum":["IMAGE","VIDEO","AUDIO","RAW"]},"source":{"type":"string","description":"Currently ONLY using Cloudinary to store all image / video assets.","example":"CLOUDINARY","default":"CLOUDINARY","enum":["YOUTUBE","CLOUDINARY"]},"sort":{"type":"integer","description":"Sort allows you to control how you want to sort this record in a list of media records.","format":"int32","example":10,"default":999},"angle":{"type":"string","description":"Media angle","example":"-90"},"width":{"type":"integer","description":"Media width in pixels.","format":"int32","example":2560},"height":{"type":"integer","description":"Media height in pixels.","format":"int32","example":1600},"published":{"type":"boolean","description":"Instead of deleting the media, choose to un-publish it instead for later re-use. Could be you keep seasonal images of the property.","example":true,"default":false},"category":{"type":"string","description":"Supported OTA specification `PIC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"1"},"descriptions":{"type":"array","description":"Localized media captions to give user some context about where this media was taken.","items":{"$ref":"#/components/schemas/SimpleDescription_Supplier"}},"lifestyleType":{"type":"string","description":"Associate this media with a specific lifestyle type. A user searching and filtering inventory based on lifestyles can be shown relevant media first.","example":"LIFESTYLE_HEALTH_FITNESS","enum":["LIFESTYLE_HEALTH_FITNESS","LIFESTYLE_RELAX","LIFESTYLE_ADULT_ONLY","LIFESTYLE_ADVENTURE","LIFESTYLE_BUSINESS","LIFESTYLE_LGBT","LIFESTYLE_SINGLE_PARENT","LIFESTYLE_SOLO_FEMALE","LIFESTYLE_BEAUTY","LIFESTYLE_FOODIE","LIFESTYLE_FAMILY","LIFESTYLE_ROMANCE","LIFESTYLE_COUPLE","LIFESTYLE_SOLO","LIFESTYLE_BACKPACKER","LIFESTYLE_SHOPPING","LIFESTYLE_SPORTS","LIFESTYLE_MOUNTAIN","LIFESTYLE_BEACH","LIFESTYLE_CITY","LIFESTYLE_COUNTRY","LIFESTYLE_CULTURE","LIFESTYLE_ECO"]},"attribution":{"type":"array","description":"Whether image has attribution properties","items":{"$ref":"#/components/schemas/ImageAttribution_Supplier"}},"isLandscape":{"type":"boolean","description":"True if media width is greater or equal to height","example":true}},"description":"Multimedia that contains less information than Multimedia object"},"SortObject":{"type":"object","properties":{"direction":{"type":"string"},"nullHandling":{"type":"string"},"ascending":{"type":"boolean"},"property":{"type":"string"},"ignoreCase":{"type":"boolean"}}},"SubCountry_Supplier":{"type":"object","properties":{"name":{"type":"string","description":"Sub-country name","example":"New York"},"asciiName":{"type":"string","description":"Sub-country ascii name","example":"New York"},"geoNameId":{"type":"string","description":"Sub-country GeoNames identifier","example":"5128638"}},"description":"Country subdivision such as a state or province"},"SubSubCountry_Supplier":{"type":"object","properties":{"name":{"type":"string"},"asciiName":{"type":"string"},"geoNameId":{"type":"string"}},"description":"Country sub sub division"},"TravelAgent_Supplier":{"required":["selfAcquires","selfDisburses"],"type":"object","properties":{"selfAcquires":{"type":"boolean","description":"Whether the agent is in charge of charging the property."},"selfDisburses":{"type":"boolean","description":"Whether the agent is in charge of paying the property."}},"description":"Customize account with a custom logo / profile picture."},"UpsertCompanyRequest_Affiliate":{"required":["companyType","name","type","url","vatID"],"type":"object","properties":{"name":{"type":"string","description":"Name of company","example":"Company 1"},"legalName":{"type":"string","description":"Legal name of entity if other than name","example":"Legal Company 1"},"companyType":{"type":"string","description":"Type of company","example":"COMPANY","enum":["COMPANY","INDIVIDUAL"]},"type":{"type":"string","description":"Type of company","example":"APPLICATION","enum":["DIRECT","APPLICATION","HOTEL","TRAVELIKO","CORPORATE","TRAVEL_AGENT","INFLUENCER","BLOGGER","DESTINATION","CHANNEL_MANAGER","PROPERTY_MANAGEMENT_SYSTEM","CENTRAL_RESERVATION_SYSTEM","GOOGLE_HOTEL_API","MANAGEMENT_COMPANY","CHAIN","BRAND","EVENT_ORGANIZER"]},"vatID":{"type":"string","description":"A VAT id if required","example":"vat-1"},"description":{"type":"string","description":"A personal message from the company."},"url":{"type":"string","description":"Company's main website","example":"https://www.mymainsite.com"},"urls":{"type":"array","description":"List of all active accounts that could be used for selling or seeing a company's reach.","items":{"type":"string","description":"List of all active accounts that could be used for selling or seeing a company's reach."}}}},"UpsertCompanyStatusRequest_Affiliate":{"required":["enabled"],"type":"object","properties":{"enabled":{"type":"boolean","description":"New company status","example":true}}},"InviteManagerRequest_Affiliate":{"required":["email"],"type":"object","properties":{"email":{"type":"string","description":"Existing user account email to make manager"}}},"UpsertCompanyLogoRequest_Affiliate":{"type":"object","properties":{"logo":{"$ref":"#/components/schemas/SimpleMultimedia_Affiliate"}}},"UpsertAddressRequest_Affiliate":{"required":["address1","cityGeoNameId","postalCode"],"type":"object","properties":{"address1":{"type":"string","description":"Address line 1","example":"234 Near da beach"},"address2":{"type":"string","description":"Address line 2","example":"Pebble #5001"},"cityGeoNameId":{"type":"string","description":"City geo name ID","example":"897654"},"state":{"type":"string","description":"State","example":"CA"},"postalCode":{"type":"string","description":"Postal / zip code","example":"90210"},"county":{"type":"string","description":"County","example":"Alameda county"}},"description":"Light-weight Address object"},"ManagerInviteAccepted_Supplier":{"required":["id","type"],"type":"object","properties":{"id":{"type":"string","description":"Company ID"},"type":{"type":"string","description":"Type of account","enum":["PROPERTY","COMPANY","ACCOUNT"]}}},"ManagerInvite_Affiliate":{"required":["id","name"],"type":"object","properties":{"id":{"type":"string","description":"Company ID"},"name":{"type":"string","description":"Company name"},"imageIdentifier":{"type":"string","description":"Image ID if available"}}},"GroupedBookingSalesMetrics_SupplierDetails":{"type":"object","properties":{"type":{"type":"string","enum":["BY_TOTAL","BY_COUNTRY","BY_PROPERTY"]},"typeName":{"type":"string"},"typeIdentifier":{"type":"string"},"bookings":{"type":"integer","format":"int64"},"totalPriceAmount":{"type":"number","format":"double"},"averageBookingAmount":{"type":"number","format":"double"},"currencyCode":{"type":"string"}}},"RemoveEntryResponse_Supplier":{"type":"object","properties":{"id":{"type":"string","description":"Identifier of removed document","example":"document-1"},"success":{"type":"boolean","description":"Whether the removal was successful or not.","example":true},"message":{"type":"string","description":"Message with additional information; mostly if the removal request was a failure.","example":"Record successfully removed"}},"description":"Response object for when a system document is removed."},"RemoveEntryResponse_Affiliate":{"type":"object","properties":{"id":{"type":"string","description":"Identifier of removed document","example":"document-1"},"success":{"type":"boolean","description":"Whether the removal was successful or not.","example":true},"message":{"type":"string","description":"Message with additional information; mostly if the removal request was a failure.","example":"Record successfully removed"}},"description":"Response object for when a system document is removed."}},"securitySchemes":{"oauth2ClientCredentials":{"type":"oauth2","description":"## Retrieve access token\nMake a POST (`Content-Type: application/x-www-form-urlencoded`) request to the Token URL below. Include one POST key/value entry: `grant_type=client_credentials` and include your clientID / secretKey credentials in a Basic Auth header. E.g. `Authorization: Basic base64_encode($clientId + ':' + $secretKey)`.\n## Add Bearer access token to all API requests\nOnce you have the access token, you can pass that along on all API requests in the authentication header: `'Authorization: Bearer $accessToken`.\nNote: Tokens expire after 3 hours. Please make sure you refresh your token before that time.","name":"Client Credentials","flows":{"clientCredentials":{"authorizationUrl":"https://iam.wink.travel/oauth2/authorize","tokenUrl":"https://iam.wink.travel/oauth2/token","refreshUrl":"https://iam.wink.travel/oauth2/refresh","scopes":{"inventory.read":"Read Wink data","inventory.write":"Create Wink data","inventory.remove":"Remove Wink data"}}}}}}}