{"openapi":"3.1.0","info":{"title":"Wink API","description":" # Introduction\n Welcome to the Wink API - A programmer-friendly way to manage, sell and book travel inventory on the Wink platform. The API gives you all the tools you need to ready your properties and inventory for sale across 1000s of our native sales channels.\n Integrators, affiliates, travel agents and content creators have the ability search for your travel inventory and promote / sell it in a wide variety of ways.\n\n # Integrations\n We have already integrated with the most well-known channel managers so you don't have to. To see our current integrations, please go to https://extranet.wink.travel and scroll to Connectivity section. Once your properties are set up, you can finish the setup by mapping your property to Wink using your channel manager partner portal. If your properties don't have a channel manager, you can easily manage rates and availability with this API.\n\n # Intended Audience\n Programmers are [most likely] a requirement to start integrating with Wink. Companies and organizations that would most benefit from integrating with us are new and existing travel companies that have relationships with suppliers and that need an advanced system from which to manage their travel inventory and get that same inventory out to as many eyeballs as possible at the lowest price possible.\n - Hotel chains\n - Hotel brands\n - Travel tech companies\n - Destination sites\n - Integrators\n - Aggregators\n - Destination management companies\n - Travel agencies\n - OTAs\n\n ## APIs\n Not every integrator needs every API. For that reason, we have separated APIs into context.\n\n### Test API\n\n - [Ping](/ping): The Ping API is a quick test endpoint to verify that your credentials work Wink.\n\n### Common APIs\n\n- [Notifications](/notifications): The Notifications API is a way for us to stay in touch with your user, property or affiliate account.\n- [User Settings](/user-settings): The User Settings API exposes endpoints to allow 3rd party integrators to communicate with Wink.\n\n### Consume APIs\nConsume endpoints are for developers who want to find existing travel inventory and either book it or use it to advertise through one of their Wink affiliate accounts.\n\n - [Configuration](/customization-client): A single endpoint to retrieve whitelabel + customization information for the booking customization.\n - [Lookup](/lookup): All APIs related to locating inventory by region, locale and property flags.\n - [Inventory](/inventory): All APIs related to retrieve known travel inventory as it was found using the Lookup API..\n - [Booking](/booking): All APIs related to creating bookings on the platform.\n - [Travel Agent](/travel-agent): The Travel Agent API exposes endpoints to manage agent-facilitated bookings.\n\n ### Produce APIs\n Produce endpoints are for developers who want to create and manage travel inventory.\n\n #### Property\n - [Property registration](/extranet/property/register): As a producer, this is, oftentimes, where you start your journey. These endpoints let you create properties on Wink.\n - [Property](/extranet/property): This collection of property endpoints are mostly management endpoints that let you display, change status and similar for your existing properties.\n - [Facilities](/extranet/facilities): This collection of endpoints let you manage facilities; such as room types.\n - [Experiences](/extranet/experiences): This collection of endpoints let you manage experiences, such as activities.\n - [Monetize](/extranet/monetize): The Monetize API exposes endpoints for managing cancellation polies, rate plans, promotions and more on Wink.\n - [Distribution](/extranet/distribution): The Distribution API exposes endpoints for sales channels, connecting with affiliates, managing rates and inventory calendars and more on Wink.\n - [Property Booking](/extranet/booking): The Property Booking API exposes endpoints for managing bookings and reviews at the property-level.\n\n #### Affiliate\n - [Affiliate](/affiliate): This collection of affiliate endpoints are mostly management endpoints that let you display, change status and similar for your existing accounts.\n - [Browse](/affiliate/browse): The Browse API exposes endpoints for affiliates to find suppliers and inventory to sell.\n - [Inventory](/affiliate/inventory): The Inventory API exposes endpoints for affiliates to manage the inventory they want to sell and how they want to sell it.\n - [Sales Channel](/affiliate/sales-channel): The Sales Channel API exposes endpoints for affiliates to manage existing sales channels as well as find new ones.\n - [WinkLinks](/affiliate/winklinks): The WinkLinks API exposes endpoints for affiliates to manage their WinkLinks page.\n\n #### Rate provider\n - [Channel manager](/channel-manager): The Channel Manager API enables external channel manager partners to map, exchange rate / availability information with us as well as be informed of bookings that occur on the Wink platform for one of their properties.\n\n ### Taxonomy APIs\n Taxonomy endpoints are for developers who want to consume and produce travel inventory and need taxonomies of standard and non-standard codes for inventory types, classes, statuses etc.\n\n - [Reference](/reactive): All APIs related to retrieving platform-supported taxonomies.\n\n ### Insight APIs\n Insight endpoints do exactly what the name implies - They offer platform-level insight into the activities of producers and consumers.\n\n - [Analytics](/analytics): All APIs related to tracking metrics across a wide variety of data source segments including, more entertaining, leaderboard metrics.\n\n ### Payment APIs\n Payment endpoints are for developers who want to purchase travel inventory. This can be done via the API as a registered Travel Agent or using our API in conjunction with our PCI compliant reactive widget for all other entities.\n\n - [TripPay](/reactive): All APIs related to TripPay account management, booking, mapping and integration features.\n\n ## SDKs\n We are actively working on supporting the most used languages out there. If you don't see your language here, reach out to us with a request to officially add your language. In the meantime, if you want to roll your own SDK, you can do so by downloading the OpenAPI spec and using one of the many available OpenAPI generators available: [https://openapi-generator.tech/docs/generators](https://openapi-generator.tech/docs/generators).\n\n - Java SDK [https://github.com/wink-travel/wink-sdk-java](https://github.com/wink-travel/wink-sdk-java)\n\n ## Usage\n These features are made available to you via a [REST API](https://en.wikipedia.org/wiki/Representational_state_transfer). This API is language agnostic.\n\n ## Versioning\n We chose to version our endpoints in a way that we hope affects your integration minimally. You request the version of our API you wish to work with via the `Wink-Version` header. When it's time for you to upgrade, you only have to change the version number to get access to our updated endpoints.\n\n ## Release history\n - Follow updates on Github: https://github.com/wink-travel/wink-sdk-java/blob/master/CHANGELOG.md\n\n\n\n# Affiliate API\nThe Affiliate API exposes endpoints to manage affiliate accounts. This API lets you:\n\n1. Create affiliates.\n2. Create account managers\n\nBrowse the endpoints in the left navigation bar to get started.\n\n","contact":{"name":"Bjorn Harvold","email":"bjorn@wink.travel"},"version":"30.17.7","x-logo":{"backgroundColor":"#FFFFFF","altText":"wink","url":"https://res.cloudinary.com/traveliko/image/upload/c_scale,h_129/v1653285543/wink/logo_text_white.svg"}},"externalDocs":{"description":"Affiliate Documentation","url":"https://academy.wink.travel/studio/what-is-studio/"},"servers":[{"url":"https://api.wink.travel","description":"Endpoint"}],"tags":[{"name":"Account Manager","description":"This collection of endpoints let you invite others to manage your account as well as accept invites from others."},{"name":"Affiliate","description":"Manage your affiliate accounts."}],"paths":{"/api/affiliate":{"post":{"tags":["Affiliate"],"summary":"Create Affiliate","description":"Create a new affiliate","operationId":"createCompany","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCompanyRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AffiliateAccount_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/{companyIdentifier}/booking/analytics":{"post":{"tags":["Affiliate"],"summary":"Affiliate Booking Analytics","description":"Retrieve the number of upcoming bookings that arrive today for the specific company.","operationId":"showBookingAnalytics","parameters":[{"name":"companyIdentifier","in":"path","description":"Show active booking count for company with this identifier","required":true,"schema":{"type":"string"},"example":"company-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"description":"Overview request body","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingOverviewRequest_Supplier"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingAnalytics_Supplier"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/unique":{"post":{"tags":["Affiliate"],"summary":"Verify Affiliate Name","description":"Check if company name is unique","operationId":"isCompanyNameUnique","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UniqueRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UniqueResult_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/grid":{"post":{"tags":["Affiliate"],"summary":"Affiliate Search","description":"Retrieve a paginated list of affiliates that you manage.","operationId":"searchAffiliates","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"description":"Filter grid by state request body","content":{"application/json":{"schema":{"$ref":"#/components/schemas/State_Supplier"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageAffiliateAccount_Supplier"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/my-account/status":{"patch":{"tags":["Affiliate"],"summary":"Toggle My Account Status","description":"Update company status","operationId":"updateMyAccount","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertCompanyStatusRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AffiliateAccount_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/my-account/online-presence":{"patch":{"tags":["Affiliate"],"summary":"Update My Account Online Presence","description":"Updates company online presence.","operationId":"updateMyAccountOnlinePresence","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertCompanyOnlinePresenceRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AffiliateAccount_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/my-account/logo":{"patch":{"tags":["Affiliate"],"summary":"Update My Account Logo","description":"Updates company logo.","operationId":"updateMyAccountLogo","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertCompanyLogoRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AffiliateAccount_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/my-account/address":{"patch":{"tags":["Affiliate"],"summary":"Update My Account Address","description":"Updates company address.","operationId":"updateMyAccountAddress","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertAddressRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AffiliateAccount_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/manager/invite":{"patch":{"tags":["Account Manager"],"summary":"Invite Manager","description":"Invite user to be a manager for this company.","operationId":"inviteManager","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InviteManagerRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AffiliateAccount_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/manager/agency":{"delete":{"tags":["Account Manager"],"summary":"Remove Managing Agency","description":"Unset managing agency.","operationId":"removeManagerAgency","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AffiliateAccount_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"patch":{"tags":["Account Manager"],"summary":"Set Managing Agency","description":"Indicates that the entity is managed by an another entity on the platform. This does not give privileges to manage the account but entitles the agency to a commission.","operationId":"updateManagerAgency","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertManagedByAgencyRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AffiliateAccount_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/{companyIdentifier}":{"get":{"tags":["Affiliate"],"summary":"Show Affiliate","description":"Retrieve company by identifier","operationId":"showCompany","parameters":[{"name":"companyIdentifier","in":"path","description":"Select company with given identifier","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AffiliateAccount_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Affiliate"],"summary":"Delete Affiliate","description":"Delete a company by identifier","operationId":"removeCompany","parameters":[{"name":"companyIdentifier","in":"path","description":"Delete company with given identifier","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AffiliateAccount_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"patch":{"tags":["Affiliate"],"summary":"Update Affiliate","description":"Update an existing company","operationId":"updateCompany","parameters":[{"name":"companyIdentifier","in":"path","description":"Update company with given identifier","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertCompanyRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AffiliateAccount_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/{companyIdentifier}/status":{"patch":{"tags":["Affiliate"],"summary":"Toggle Affiliate Status","description":"Update company status","operationId":"updateCompany_1","parameters":[{"name":"companyIdentifier","in":"path","description":"Update status of company with given identifier","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertCompanyStatusRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AffiliateAccount_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/{companyIdentifier}/online-presence":{"patch":{"tags":["Affiliate"],"summary":"Update Affiliate Online Presence","description":"Updates company online presence.","operationId":"updateCompanyOnlinePresence","parameters":[{"name":"companyIdentifier","in":"path","description":"Update logo of company with given identifier","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertCompanyOnlinePresenceRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AffiliateAccount_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/{companyIdentifier}/logo":{"patch":{"tags":["Affiliate"],"summary":"Update Affiliate Logo","description":"Updates company logo.","operationId":"updateCompanyLogo","parameters":[{"name":"companyIdentifier","in":"path","description":"Update logo of company with given identifier","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertCompanyLogoRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AffiliateAccount_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/{companyIdentifier}/address":{"patch":{"tags":["Affiliate"],"summary":"Update Affiliate Address","description":"Updates company address.","operationId":"updateCompanyAddress","parameters":[{"name":"companyIdentifier","in":"path","description":"Update address of company with given identifier","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertAddressRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AffiliateAccount_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/sales-channel/search":{"get":{"tags":["Affiliate"],"summary":"Sales Channel Search","description":"Search for sales channels by name","operationId":"showSalesChannels","parameters":[{"name":"name","in":"query","description":"Search for sales channel with name","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KeyValuePair_Affiliate"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/my-account":{"get":{"tags":["Affiliate"],"summary":"Show My Account","description":"Retrieve my own account on Wink","operationId":"showMyAccount","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AffiliateAccount_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Affiliate"],"summary":"Delete Affiliate","description":"Delete a company by identifier","operationId":"removeMyAccount","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AffiliateAccount_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/manager/invite/{companyIdentifier}/accept":{"get":{"tags":["Account Manager"],"summary":"Accept Invite","description":"Accepts the invite to manager a property or account.","operationId":"acceptManagerInvite","parameters":[{"name":"companyIdentifier","in":"path","description":"AffiliateAccountLightweight identifier for which to accept invite to","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManagerInviteAccepted_Supplier"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/manager/invite/list":{"get":{"tags":["Account Manager"],"summary":"Show Invites","description":"Retrieve list of invites for user","operationId":"showManagerInviteList","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ManagerInvite_Affiliate"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/{companyIdentifier}/booking/overview":{"get":{"tags":["Affiliate"],"summary":"Affiliate Booking Overview","description":"Basic booking overview data","operationId":"showBookingOverview","parameters":[{"name":"companyIdentifier","in":"path","description":"Show booking owned by this company","required":true,"schema":{"type":"string"},"example":"company-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupedBookingSalesMetrics_SupplierDetails"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/list":{"get":{"tags":["Affiliate"],"summary":"Show Affiliates","description":"List all companies owned by caller.","operationId":"showCompanies","parameters":[{"name":"type","in":"query","description":"Filter on companies of a specific type","required":false,"schema":{"type":"string","enum":["DIRECT","APPLICATION","HOTEL","TRAVELIKO","CORPORATE","TRAVEL_AGENT","INFLUENCER","BLOGGER","DESTINATION","CHANNEL_MANAGER","PROPERTY_MANAGEMENT_SYSTEM","CENTRAL_RESERVATION_SYSTEM","GOOGLE_HOTEL_API","MANAGEMENT_COMPANY","CHAIN","BRAND","EVENT_ORGANIZER"]}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AffiliateAccount_Affiliate"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/manager/{email}":{"delete":{"tags":["Account Manager"],"summary":"Remove Manager","description":"Disassociate user from this company.","operationId":"removeCompanyUser","parameters":[{"name":"email","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AffiliateAccount_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/manager/invite/{companyIdentifier}/reject":{"delete":{"tags":["Account Manager"],"summary":"Reject Invite","description":"Remove manager by specified identifier","operationId":"rejectInvite","parameters":[{"name":"companyIdentifier","in":"path","description":"Remove manager from this property identifier","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AffiliateAccount_Supplier"}}}}},"security":[{"oauth2ClientCredentials":[]}]}}},"components":{"schemas":{"GenericErrorMessage":{"type":"object","description":"Generic error message","properties":{"timestamp":{"type":"string","xml":{"attribute":true}},"status":{"type":"integer","format":"int32","xml":{"attribute":true}},"error":{"type":"string"},"message":{"type":"string"},"path":{"type":"string"}},"xml":{"name":"ErrorMessage"}},"CreateCompanyRequest_Affiliate":{"type":"object","properties":{"name":{"type":"string","description":"Name of company","example":"AffiliateAccountLightweight 1","minLength":1},"legalName":{"type":"string","description":"Legal name of entity if other than name","example":"Legal AffiliateAccountLightweight 1"},"companyType":{"type":"string","description":"Type of company","enum":["COMPANY","INDIVIDUAL"],"example":"COMPANY"},"type":{"type":"string","description":"Type of company","enum":["DIRECT","APPLICATION","HOTEL","TRAVELIKO","CORPORATE","TRAVEL_AGENT","INFLUENCER","BLOGGER","DESTINATION","CHANNEL_MANAGER","PROPERTY_MANAGEMENT_SYSTEM","CENTRAL_RESERVATION_SYSTEM","GOOGLE_HOTEL_API","MANAGEMENT_COMPANY","CHAIN","BRAND","EVENT_ORGANIZER"],"example":"APPLICATION"},"description":{"type":"string","description":"A personal message from the company."},"cityGeoNameId":{"type":"string","description":"City geo name ID","example":897654,"minLength":1},"travelAgent":{"$ref":"#/components/schemas/UpsertTravelAgentRequest_Affiliate","description":"If the company type is travel agent, this object will be filled out too."},"onlinePresence":{"type":"array","items":{"description":"Online presence of account."}},"annualTravelSpendInDollars":{"$ref":"#/components/schemas/CustomMonetaryAmount","description":"How much user or company spends on travel per year."}},"required":["cityGeoNameId","companyType","name","type"]},"CustomMonetaryAmount":{"type":"object","properties":{"amount":{"type":"number"},"currency":{"type":"string","minLength":1}},"required":["amount","currency"]},"UpsertTravelAgentRequest_Affiliate":{},"Address_Affiliate":{"type":"object","description":"Address information","properties":{"address1":{"type":"string","description":"Address line 1","example":234,"minLength":1},"address2":{"type":"string","description":"Address line 2","example":"Pebble #5001"},"state":{"type":"string","description":"State","example":"CA"},"postalCode":{"type":"string","description":"Postal / zip code","example":90210},"county":{"type":"string","description":"County","example":"Alameda county"},"city":{"$ref":"#/components/schemas/GeoNameLightweight_Affiliate","description":"City geo name object"},"valid":{"type":"boolean","description":"Whether this address is considered valid by the system or not","example":true,"readOnly":true},"fullAddress":{"type":"string","description":"Address 1, Address 2, City, State, Postal / Zip code, Country","example":11,"readOnly":true}},"required":["address1","city"]},"AffiliateAccountUser_Affiliate":{"type":"object","properties":{"email":{"type":"string","description":"User email","example":"manager@me.com","minLength":1},"status":{"type":"string","description":"Contact phone number","enum":["PENDING","ACCEPTED","DEACTIVATED"],"example":"+12125551212"},"userIdentifier":{"type":"string","format":"uuid","description":"User identifier"},"firstName":{"type":"string","description":"Contact first name","example":"John"},"lastName":{"type":"string","description":"Contact last name","example":"Smith"},"secondaryEmail":{"type":"string","description":"Contact secondary Email","example":"johnsmith2@email.com"},"phoneNumber":{"type":"string","description":"Contact phone number","example":"+12125551212"},"profilePictureUrl":{"type":"string","description":"Profile picture is available"},"name":{"type":"string"}},"required":["email"]},"AffiliateAccount_Affiliate":{"type":"object","properties":{"id":{"type":"string","description":"Document UUID","example":"doc-1"},"createdDate":{"type":"string","format":"date-time","description":"Datetime this record was first created"},"lastUpdate":{"type":"string","format":"date-time","description":"Datetime this record was last updated"},"version":{"type":"integer","format":"int64","description":"Version property that shows how many times this document has been persisted. Document will not persist if the version property is less than current version property in the system. Result in an optimistic locking exception.","example":12},"userIdentifier":{"type":"string","format":"uuid","description":"User or Registered client owner identifier that created this record","example":"user-1","minLength":1},"owner":{"$ref":"#/components/schemas/AffiliateAccountUser_Affiliate","description":"Owner"},"name":{"type":"string","description":"Name of company","example":"AffiliateAccount 1","minLength":1},"urlName":{"type":"string","description":"Url slug of company name","example":"company-1","minLength":1},"legalName":{"type":"string","description":"Legal name of entity if other than name","example":"Legal AffiliateAccount 1"},"enabled":{"type":"boolean","description":"Whether this company is enabled by reactive.","example":true},"approved":{"type":"boolean","default":false,"description":"Whether this company has been approved by KYC.","example":true},"companyType":{"type":"string","description":"Type of company","enum":["COMPANY","INDIVIDUAL"],"example":"COMPANY"},"type":{"type":"string","description":"Type of sales channel","enum":["DIRECT","APPLICATION","HOTEL","TRAVELIKO","CORPORATE","TRAVEL_AGENT","INFLUENCER","BLOGGER","DESTINATION","CHANNEL_MANAGER","PROPERTY_MANAGEMENT_SYSTEM","CENTRAL_RESERVATION_SYSTEM","GOOGLE_HOTEL_API","MANAGEMENT_COMPANY","CHAIN","BRAND","EVENT_ORGANIZER"],"example":"APPLICATION"},"description":{"type":"string","description":"A personal message from the company."},"address":{"$ref":"#/components/schemas/Address_Affiliate"},"managers":{"type":"array","items":{"$ref":"#/components/schemas/AffiliateAccountUser_Affiliate"},"maxItems":30,"minItems":0},"logo":{"$ref":"#/components/schemas/SimpleMultimedia_Affiliate","description":"Customize account with a custom logo / profile picture."},"managedBy":{"$ref":"#/components/schemas/ManagedByEntity_Affiliate","description":"If another company entity is managing this property, on behalf of the property, it can be specified here and the managing entity would be applicable a management fee on every booking."},"onlinePresence":{"type":"array","items":{"description":"Online presence of account."}},"annualTravelSpendInDollars":{"$ref":"#/components/schemas/CustomMonetaryAmount","description":"How much user or company spends on travel per year."},"plans":{"type":"array","items":{"description":"Any subscriptions the company might have."}},"previousUrlNameList":{"type":"array","items":{"description":"So we can query on the account with old unique slugs as well."}}},"required":["address","approved","companyType","enabled","name","owner","type","urlName","userIdentifier"]},"CountryLightweight_Affiliate":{"type":"object","description":"Country","properties":{"iso":{"type":"string","description":"ISO code","example":"US"},"name":{"type":"string","description":"Country name","example":"United States"},"capital":{"type":"string","description":"Country capital","example":"Washington"},"continent":{"type":"string","description":"Continent code","example":"NA"},"currencyCode":{"type":"string","description":"Currency code","example":"USD"},"currencyName":{"type":"string","description":"Currency name","example":"Dollar"},"geoNameId":{"type":"string","description":"Country GeoNames identifier","example":6252001}}},"GeoJsonPoint_Affiliate":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"},"type":{"type":"string"},"coordinates":{"type":"array","items":{"type":"number","format":"double"}}}},"GeoNameLightweight_Affiliate":{"type":"object","description":"GeoNames have been created at [https://geonames.org](https://geonames.org) and contain geographical destinations we use as geoname data to associate travel inventory with a location.","properties":{"geoNameId":{"type":"string","description":"GeoName identifier","example":5128581},"type":{"type":"string","description":"GeoNameLightweight type","enum":["CITY","ISLAND","OTHER"]},"name":{"type":"string","description":"Name of city","example":"New York City"},"urlName":{"type":"string","description":"Url name","example":"new-york-city-united-states"},"asciiName":{"type":"string","description":"Ascii name of city","example":"New York City"},"location":{"$ref":"#/components/schemas/GeoJsonPoint_Affiliate","description":"Coordinate points of the city","example":{"type":"POINT","coordinates":[100.5581533,13.7370197]}},"featureCode":{"type":"string"},"countryCode":{"type":"string"},"timezone":{"type":"string","description":"Timezone","example":"America/New_York"},"country":{"$ref":"#/components/schemas/CountryLightweight_Affiliate","description":"Country"},"subCountry":{"$ref":"#/components/schemas/SubCountryLightweight_Affiliate","description":"Country sub division"},"subSubCountry":{"$ref":"#/components/schemas/SubSubCountryLightweight_Affiliate","description":"Country sub sub division"}}},"ImageAttribution_Affiliate":{"type":"object","properties":{"url":{"type":"string","description":"URL to contributor","example":"https://maps.google.com/maps/contrib/111628493169070103594"},"name":{"type":"string","description":"Name of contributor","example":"Samuel Adams","minLength":1}},"required":["name"]},"ManagedByEntityRules_Affiliate":{"type":"object","properties":{"expires":{"type":"string","format":"date","description":"Optional expiration date when agency is no longer managing this entity."},"numBookings":{"type":"integer","format":"int32","description":"Optional total number of bookings [left] the agency is entitled to commission. This number will decrement every time a booking is made with this agency involved."},"nonExpired":{"type":"boolean","description":"Whether managing entity rules has expired.","readOnly":true}}},"ManagedByEntity_Affiliate":{"type":"object","properties":{"identifier":{"type":"string","description":"Entity identifier","example":"agency-1","minLength":1},"name":{"type":"string","description":"Name of entity","example":"Agency X","minLength":1},"commissionInPercent":{"type":"number","description":"Agency commission","example":0.01},"rules":{"$ref":"#/components/schemas/ManagedByEntityRules_Affiliate","description":"Optional rules for expiration date etc when agency is no longer managing this entity."},"valid":{"type":"boolean","description":"Whether managing entity is eligible a commission.","readOnly":true}},"required":["commissionInPercent","identifier","name"]},"SimpleDescription_Affiliate":{"type":"object","properties":{"name":{"type":"string","description":"Use as title or short text description","example":"An example title"},"description":{"type":"string","description":"Longer text description","example":"This is a longer description in the specified language.","maxLength":2147483647,"minLength":1},"language":{"type":"string","default":"en","description":"Indicate which language this description is written in.","example":"en","maxLength":2,"minLength":2},"creator":{"type":"string","default":"USER","description":"Whether it was user or system generated.","enum":["SYSTEM","USER"],"example":"SYSTEM"},"md5ContentHash":{"type":"string","description":"The md5 hash of the name, description and language."},"hashMismatch":{"type":"boolean","readOnly":true}},"required":["description","language","name"]},"SimpleMultimedia_Affiliate":{"type":"object","description":"Multimedia that contains less information than Multimedia object","properties":{"multimediaIdentifier":{"type":"string","format":"uuid","description":"Document identifier","example":"image-1","minLength":1},"identifier":{"type":"string","description":"Use this identifier to communicate with Cloudinary.","example":"cloudinary-image-1","minLength":1},"type":{"type":"string","description":"Whether Cloudinary media is a VIDEO or IMAGE.","enum":["IMAGE","VIDEO","AUDIO","RAW"],"example":"IMAGE"},"source":{"type":"string","default":"CLOUDINARY","description":"Currently ONLY using Cloudinary to store all image / video assets.","enum":["YOUTUBE","CLOUDINARY"],"example":"CLOUDINARY"},"sort":{"type":"integer","format":"int32","default":999,"description":"Sort allows you to control how you want to sort this record in a list of media records.","example":10},"angle":{"type":"string","description":"Media angle","example":-90},"width":{"type":"integer","format":"int32","description":"Media width in pixels.","example":2560,"minimum":1},"height":{"type":"integer","format":"int32","description":"Media height in pixels.","example":1600,"minimum":1},"published":{"type":"boolean","default":false,"description":"Instead of deleting the media, choose to un-publish it instead for later re-use. Could be you keep seasonal images of the property.","example":true},"category":{"type":"string","description":"Supported OTA specification `PIC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":1},"descriptions":{"type":"array","description":"Localized media captions to give user some context about where this media was taken.","items":{"$ref":"#/components/schemas/SimpleDescription_Affiliate"}},"lifestyleType":{"type":"string","description":"Associate this media with a specific lifestyle type. A user searching and filtering inventory based on lifestyles can be shown relevant media first.","enum":["LIFESTYLE_HEALTH_FITNESS","LIFESTYLE_RELAX","LIFESTYLE_ADULT_ONLY","LIFESTYLE_ADVENTURE","LIFESTYLE_BUSINESS","LIFESTYLE_LGBT","LIFESTYLE_SINGLE_PARENT","LIFESTYLE_SOLO_FEMALE","LIFESTYLE_BEAUTY","LIFESTYLE_FOODIE","LIFESTYLE_FAMILY","LIFESTYLE_ROMANCE","LIFESTYLE_COUPLE","LIFESTYLE_SOLO","LIFESTYLE_BACKPACKER","LIFESTYLE_SHOPPING","LIFESTYLE_SPORTS","LIFESTYLE_MOUNTAIN","LIFESTYLE_BEACH","LIFESTYLE_CITY","LIFESTYLE_COUNTRY","LIFESTYLE_CULTURE","LIFESTYLE_ECO"],"example":"LIFESTYLE_HEALTH_FITNESS"},"attribution":{"type":"array","description":"Whether image has attribution properties","items":{"$ref":"#/components/schemas/ImageAttribution_Affiliate"}},"isLandscape":{"type":"boolean","description":"True if media width is greater or equal to height","example":true}},"required":["height","identifier","multimediaIdentifier","sort","source","type","width"]},"SubCountryLightweight_Affiliate":{"type":"object","description":"Country subdivision such as a state or province","properties":{"name":{"type":"string","description":"Sub-country name","example":"New York"},"asciiName":{"type":"string","description":"Sub-country ascii name","example":"New York"},"geoNameId":{"type":"string","description":"Sub-country GeoNames identifier","example":5128638}}},"SubSubCountryLightweight_Affiliate":{"type":"object","properties":{"name":{"type":"string"},"asciiName":{"type":"string"},"geoNameId":{"type":"string"}}},"BookingOverviewRequest_Supplier":{"type":"object","properties":{"type":{"type":"string","description":"The type of time series that should be used","enum":["HOUR","DAY","MONTH","YEAR"],"example":"MONTH"},"units":{"type":"integer","format":"int64","description":"How many units of the timeseries type should be used","example":12}},"required":["type"]},"BookingAnalytics_Supplier":{"type":"object","properties":{"charts":{"type":"array","description":"Interesting property-level chart data overview","items":{"$ref":"#/components/schemas/LineChart_Supplier"}}},"required":["charts"]},"ChartCategoryAxis_Supplier":{"type":"object","properties":{"data":{"type":"array","description":"The category names. The Chart creates a category for every item of the array.","items":{"type":"string"}}}},"ChartLegend_Supplier":{"type":"object","properties":{"data":{"type":"array","items":{"description":"Legend data"}}}},"ChartSeries_Supplier":{"type":"object","properties":{"name":{"type":"string","description":"The name of the Chart series which is visible in the legend."},"data":{"type":"array","description":"The array of data items which represent the series data.\n\nYou can set it to:\n\n- Array of numbers. Supported when the series.type option is set to `area`, `bar`, `column`, `donut`, `pie`, `line`, or `waterfall`.\nThe Bubble series need arrays of three values—X value, Y value, and Size value—for example, [1, 1, 10]. The Scatter and ScatterLine series need arrays of two values—X value and Y value. The OHLC and Candlestick series need arrays of four values—open, high, low, and close. The RangeBar and RangeArea series need arrays of two values—the from and to value.","items":{"type":"number"}}}},"ChartTitle_Supplier":{"type":"object","properties":{"text":{"type":"string"}}},"LineChart_Supplier":{"type":"object","properties":{"identifier":{"type":"string","format":"uuid","description":"Unique line chart identifier","example":"line-chart-1"},"title":{"$ref":"#/components/schemas/ChartTitle_Supplier","description":"The configuration options for the chart title"},"legend":{"$ref":"#/components/schemas/ChartLegend_Supplier","description":"The configuration options for the chart legend."},"series":{"type":"array","description":"The configuration of the chart series. The series type is determined by the value of the type field. If a type value is missing, the chart renders the type that is specified in `seriesDefaults`. Some options accept functions as arguments. These arguments are evaluated for each point which is supplied as a parameter. If no value is returned, the chart uses the `theme` or `seriesDefaults` values.","items":{"$ref":"#/components/schemas/ChartSeries_Supplier"}},"xAxis":{"$ref":"#/components/schemas/ChartCategoryAxis_Supplier","description":"The configuration options of the category axis.","title":"Category axis"},"xaxis":{"$ref":"#/components/schemas/ChartCategoryAxis_Supplier"}}},"UniqueRequest_Affiliate":{"type":"object","properties":{"name":{"type":"string","description":"The name we want to check uniqueness for","example":"My unique name","minLength":1},"identifier":{"type":"string","format":"uuid","description":"An optional accompanying identifier so it doesn't check itself on an update"}},"required":["name"]},"UniqueResult_Affiliate":{"type":"object","properties":{"unique":{"type":"boolean"}}},"AggregateDescriptor_Supplier":{"type":"object","properties":{"field":{"type":"string","description":"Field to run aggregate function on","example":"hotel.bookings"},"aggregate":{"type":"string","description":"Aggregate function","enum":["count","sum","average","min","max"],"example":"count"}}},"CompositeFilterDescriptor_Supplier":{"type":"object","properties":{"logic":{"type":"string","description":"Whether to filter inclusively or exclusively","enum":["and","or"],"example":"and"},"filters":{"type":"array","description":"Descriptors used for filtering the result set","items":{"$ref":"#/components/schemas/FilterDescriptor_Supplier"}}}},"FilterDescriptor_Supplier":{"type":"object","properties":{"field":{"type":"string","description":"Field name to filter on","example":"hotel.name","minLength":1},"operator":{"type":"string","description":"Filter operator to use on field","enum":["neq","eq","contains","doesnotcontain","isnull","isnotnull","isempty","isnotempty","startswith","endswith","gte","lte","gt","lt","in","nin"],"example":"startsWith"},"value":{"description":"Value to filter dataset against","example":"Happy Res"},"ignoreCase":{"type":"boolean","description":"Make filter comparison case insensitive. Default: Case sensitive ","example":true}},"required":["field","operator","value"]},"GroupDescriptor_Supplier":{"type":"object","properties":{"field":{"type":"string","description":"Field to group data set on","example":"createdDate"},"dir":{"type":"string","description":"Group sort direction","enum":["asc","desc"],"example":"asc"},"aggregates":{"type":"array","description":"Primitive aggregate data points","items":{"$ref":"#/components/schemas/AggregateDescriptor_Supplier"}}}},"SortDescriptor_Supplier":{"type":"object","properties":{"dir":{"type":"string","description":"Descriptors used for sorting result set","enum":["asc","desc"],"example":"asc"},"field":{"type":"string","description":"Data set field to sort on","example":"hotel.name"}}},"State_Supplier":{"type":"object","properties":{"skip":{"type":"integer","format":"int32","default":0,"description":"Number of records to be skipped by the pager.","example":0,"minimum":0},"take":{"type":"integer","format":"int32","default":30,"description":"Number of records to take.","example":10,"maximum":180,"minimum":1},"sort":{"type":"array","description":"Descriptors used for sorting result set.","items":{"$ref":"#/components/schemas/SortDescriptor_Supplier"}},"filter":{"$ref":"#/components/schemas/CompositeFilterDescriptor_Supplier","description":"Descriptors used for filtering result set"},"group":{"type":"array","description":"Descriptors to group result sets by.","items":{"$ref":"#/components/schemas/GroupDescriptor_Supplier"}}}},"Address_Supplier":{"type":"object","description":"Address information","properties":{"address1":{"type":"string","description":"Address line 1","example":234,"minLength":1},"address2":{"type":"string","description":"Address line 2","example":"Pebble #5001"},"state":{"type":"string","description":"State","example":"CA"},"postalCode":{"type":"string","description":"Postal / zip code","example":90210},"county":{"type":"string","description":"County","example":"Alameda county"},"city":{"$ref":"#/components/schemas/GeoNameLightweight_Supplier","description":"City geo name object"},"valid":{"type":"boolean","description":"Whether this address is considered valid by the system or not","example":true,"readOnly":true},"fullAddress":{"type":"string","description":"Address 1, Address 2, City, State, Postal / Zip code, Country","example":11,"readOnly":true}},"required":["address1","city"]},"AffiliateAccountUser_Supplier":{"type":"object","properties":{"email":{"type":"string","description":"User email","example":"manager@me.com","minLength":1},"status":{"type":"string","description":"Contact phone number","enum":["PENDING","ACCEPTED","DEACTIVATED"],"example":"+12125551212"},"userIdentifier":{"type":"string","format":"uuid","description":"User identifier"},"firstName":{"type":"string","description":"Contact first name","example":"John"},"lastName":{"type":"string","description":"Contact last name","example":"Smith"},"secondaryEmail":{"type":"string","description":"Contact secondary Email","example":"johnsmith2@email.com"},"phoneNumber":{"type":"string","description":"Contact phone number","example":"+12125551212"},"profilePictureUrl":{"type":"string","description":"Profile picture is available"},"name":{"type":"string"}},"required":["email"]},"AffiliateAccount_Supplier":{"type":"object","properties":{"id":{"type":"string","description":"Document UUID","example":"doc-1"},"createdDate":{"type":"string","format":"date-time","description":"Datetime this record was first created"},"lastUpdate":{"type":"string","format":"date-time","description":"Datetime this record was last updated"},"version":{"type":"integer","format":"int64","description":"Version property that shows how many times this document has been persisted. Document will not persist if the version property is less than current version property in the system. Result in an optimistic locking exception.","example":12},"userIdentifier":{"type":"string","format":"uuid","description":"User or Registered client owner identifier that created this record","example":"user-1","minLength":1},"owner":{"$ref":"#/components/schemas/AffiliateAccountUser_Supplier","description":"Owner"},"name":{"type":"string","description":"Name of company","example":"AffiliateAccount 1","minLength":1},"urlName":{"type":"string","description":"Url slug of company name","example":"company-1","minLength":1},"legalName":{"type":"string","description":"Legal name of entity if other than name","example":"Legal AffiliateAccount 1"},"enabled":{"type":"boolean","description":"Whether this company is enabled by reactive.","example":true},"approved":{"type":"boolean","default":false,"description":"Whether this company has been approved by KYC.","example":true},"companyType":{"type":"string","description":"Type of company","enum":["COMPANY","INDIVIDUAL"],"example":"COMPANY"},"type":{"type":"string","description":"Type of sales channel","enum":["DIRECT","APPLICATION","HOTEL","TRAVELIKO","CORPORATE","TRAVEL_AGENT","INFLUENCER","BLOGGER","DESTINATION","CHANNEL_MANAGER","PROPERTY_MANAGEMENT_SYSTEM","CENTRAL_RESERVATION_SYSTEM","GOOGLE_HOTEL_API","MANAGEMENT_COMPANY","CHAIN","BRAND","EVENT_ORGANIZER"],"example":"APPLICATION"},"description":{"type":"string","description":"A personal message from the company."},"address":{"$ref":"#/components/schemas/Address_Supplier"},"managers":{"type":"array","items":{"$ref":"#/components/schemas/AffiliateAccountUser_Supplier"},"maxItems":30,"minItems":0},"logo":{"$ref":"#/components/schemas/SimpleMultimedia_Supplier","description":"Customize account with a custom logo / profile picture."},"travelAgent":{"$ref":"#/components/schemas/TravelAgent_Supplier","description":"Customize account with a custom logo / profile picture."},"managedBy":{"$ref":"#/components/schemas/ManagedByEntity_Supplier","description":"If another company entity is managing this property, on behalf of the property, it can be specified here and the managing entity would be applicable a management fee on every booking."},"onlinePresence":{"type":"array","items":{"description":"Online presence of account."}},"annualTravelSpendInDollars":{"$ref":"#/components/schemas/CustomMonetaryAmount","description":"How much user or company spends on travel per year."},"plans":{"type":"array","items":{"description":"Any subscriptions the company might have."}},"previousUrlNameList":{"type":"array","items":{"description":"So we can query on the account with old unique slugs as well."}}},"required":["address","approved","companyType","enabled","name","owner","type","urlName","userIdentifier"]},"CountryLightweight_Supplier":{"type":"object","description":"Country","properties":{"iso":{"type":"string","description":"ISO code","example":"US"},"name":{"type":"string","description":"Country name","example":"United States"},"capital":{"type":"string","description":"Country capital","example":"Washington"},"continent":{"type":"string","description":"Continent code","example":"NA"},"currencyCode":{"type":"string","description":"Currency code","example":"USD"},"currencyName":{"type":"string","description":"Currency name","example":"Dollar"},"geoNameId":{"type":"string","description":"Country GeoNames identifier","example":6252001}}},"GeoJsonPoint_Supplier":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"},"type":{"type":"string"},"coordinates":{"type":"array","items":{"type":"number","format":"double"}}}},"GeoNameLightweight_Supplier":{"type":"object","description":"GeoNames have been created at [https://geonames.org](https://geonames.org) and contain geographical destinations we use as geoname data to associate travel inventory with a location.","properties":{"geoNameId":{"type":"string","description":"GeoName identifier","example":5128581},"type":{"type":"string","description":"GeoNameLightweight type","enum":["CITY","ISLAND","OTHER"]},"name":{"type":"string","description":"Name of city","example":"New York City"},"urlName":{"type":"string","description":"Url name","example":"new-york-city-united-states"},"asciiName":{"type":"string","description":"Ascii name of city","example":"New York City"},"location":{"$ref":"#/components/schemas/GeoJsonPoint_Supplier","description":"Coordinate points of the city","example":{"type":"POINT","coordinates":[100.5581533,13.7370197]}},"featureCode":{"type":"string"},"countryCode":{"type":"string"},"timezone":{"type":"string","description":"Timezone","example":"America/New_York"},"country":{"$ref":"#/components/schemas/CountryLightweight_Supplier","description":"Country"},"subCountry":{"$ref":"#/components/schemas/SubCountryLightweight_Supplier","description":"Country sub division"},"subSubCountry":{"$ref":"#/components/schemas/SubSubCountryLightweight_Supplier","description":"Country sub sub division"}}},"ImageAttribution_Supplier":{"type":"object","properties":{"url":{"type":"string","description":"URL to contributor","example":"https://maps.google.com/maps/contrib/111628493169070103594"},"name":{"type":"string","description":"Name of contributor","example":"Samuel Adams","minLength":1}},"required":["name"]},"ManagedByEntityRules_Supplier":{"type":"object","properties":{"expires":{"type":"string","format":"date","description":"Optional expiration date when agency is no longer managing this entity."},"numBookings":{"type":"integer","format":"int32","description":"Optional total number of bookings [left] the agency is entitled to commission. This number will decrement every time a booking is made with this agency involved."},"nonExpired":{"type":"boolean","description":"Whether managing entity rules has expired.","readOnly":true}}},"ManagedByEntity_Supplier":{"type":"object","properties":{"identifier":{"type":"string","description":"Entity identifier","example":"agency-1","minLength":1},"name":{"type":"string","description":"Name of entity","example":"Agency X","minLength":1},"commissionInPercent":{"type":"number","description":"Agency commission","example":0.01},"rules":{"$ref":"#/components/schemas/ManagedByEntityRules_Supplier","description":"Optional rules for expiration date etc when agency is no longer managing this entity."},"valid":{"type":"boolean","description":"Whether managing entity is eligible a commission.","readOnly":true}},"required":["commissionInPercent","identifier","name"]},"PageAffiliateAccount_Supplier":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/AffiliateAccount_Supplier"}},"number":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject_Supplier"},"pageable":{"$ref":"#/components/schemas/PageableObject_Supplier"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"PageableObject_Supplier":{"type":"object","properties":{"offset":{"type":"integer","format":"int64"},"unpaged":{"type":"boolean"},"sort":{"$ref":"#/components/schemas/SortObject_Supplier"},"paged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"}}},"SimpleDescription_Supplier":{"type":"object","properties":{"name":{"type":"string","description":"Use as title or short text description","example":"An example title"},"description":{"type":"string","description":"Longer text description","example":"This is a longer description in the specified language.","maxLength":2147483647,"minLength":1},"language":{"type":"string","default":"en","description":"Indicate which language this description is written in.","example":"en","maxLength":2,"minLength":2},"creator":{"type":"string","default":"USER","description":"Whether it was user or system generated.","enum":["SYSTEM","USER"],"example":"SYSTEM"},"md5ContentHash":{"type":"string","description":"The md5 hash of the name, description and language."},"hashMismatch":{"type":"boolean","readOnly":true}},"required":["description","language","name"]},"SimpleMultimedia_Supplier":{"type":"object","description":"Multimedia that contains less information than Multimedia object","properties":{"multimediaIdentifier":{"type":"string","format":"uuid","description":"Document identifier","example":"image-1","minLength":1},"identifier":{"type":"string","description":"Use this identifier to communicate with Cloudinary.","example":"cloudinary-image-1","minLength":1},"type":{"type":"string","description":"Whether Cloudinary media is a VIDEO or IMAGE.","enum":["IMAGE","VIDEO","AUDIO","RAW"],"example":"IMAGE"},"source":{"type":"string","default":"CLOUDINARY","description":"Currently ONLY using Cloudinary to store all image / video assets.","enum":["YOUTUBE","CLOUDINARY"],"example":"CLOUDINARY"},"sort":{"type":"integer","format":"int32","default":999,"description":"Sort allows you to control how you want to sort this record in a list of media records.","example":10},"angle":{"type":"string","description":"Media angle","example":-90},"width":{"type":"integer","format":"int32","description":"Media width in pixels.","example":2560,"minimum":1},"height":{"type":"integer","format":"int32","description":"Media height in pixels.","example":1600,"minimum":1},"published":{"type":"boolean","default":false,"description":"Instead of deleting the media, choose to un-publish it instead for later re-use. Could be you keep seasonal images of the property.","example":true},"category":{"type":"string","description":"Supported OTA specification `PIC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":1},"descriptions":{"type":"array","description":"Localized media captions to give user some context about where this media was taken.","items":{"$ref":"#/components/schemas/SimpleDescription_Supplier"}},"lifestyleType":{"type":"string","description":"Associate this media with a specific lifestyle type. A user searching and filtering inventory based on lifestyles can be shown relevant media first.","enum":["LIFESTYLE_HEALTH_FITNESS","LIFESTYLE_RELAX","LIFESTYLE_ADULT_ONLY","LIFESTYLE_ADVENTURE","LIFESTYLE_BUSINESS","LIFESTYLE_LGBT","LIFESTYLE_SINGLE_PARENT","LIFESTYLE_SOLO_FEMALE","LIFESTYLE_BEAUTY","LIFESTYLE_FOODIE","LIFESTYLE_FAMILY","LIFESTYLE_ROMANCE","LIFESTYLE_COUPLE","LIFESTYLE_SOLO","LIFESTYLE_BACKPACKER","LIFESTYLE_SHOPPING","LIFESTYLE_SPORTS","LIFESTYLE_MOUNTAIN","LIFESTYLE_BEACH","LIFESTYLE_CITY","LIFESTYLE_COUNTRY","LIFESTYLE_CULTURE","LIFESTYLE_ECO"],"example":"LIFESTYLE_HEALTH_FITNESS"},"attribution":{"type":"array","description":"Whether image has attribution properties","items":{"$ref":"#/components/schemas/ImageAttribution_Supplier"}},"isLandscape":{"type":"boolean","description":"True if media width is greater or equal to height","example":true}},"required":["height","identifier","multimediaIdentifier","sort","source","type","width"]},"SortObject_Supplier":{"type":"object","properties":{"empty":{"type":"boolean"},"sorted":{"type":"boolean"},"unsorted":{"type":"boolean"}}},"SubCountryLightweight_Supplier":{"type":"object","description":"Country subdivision such as a state or province","properties":{"name":{"type":"string","description":"Sub-country name","example":"New York"},"asciiName":{"type":"string","description":"Sub-country ascii name","example":"New York"},"geoNameId":{"type":"string","description":"Sub-country GeoNames identifier","example":5128638}}},"SubSubCountryLightweight_Supplier":{"type":"object","properties":{"name":{"type":"string"},"asciiName":{"type":"string"},"geoNameId":{"type":"string"}}},"TravelAgent_Supplier":{"type":"object","properties":{"selfAcquires":{"type":"boolean","description":"Whether the agent is in charge of charging the property."},"selfDisburses":{"type":"boolean","description":"Whether the agent is in charge of paying the property."}},"required":["selfAcquires","selfDisburses"]},"UpsertCompanyStatusRequest_Affiliate":{"type":"object","properties":{"enabled":{"type":"boolean","description":"New company status","example":true}},"required":["enabled"]},"UpsertCompanyOnlinePresenceRequest_Affiliate":{"type":"object","properties":{"onlinePresence":{"type":"array","items":{"description":"Online presence of account."}}}},"UpsertCompanyLogoRequest_Affiliate":{"type":"object","properties":{"logo":{"$ref":"#/components/schemas/SimpleMultimedia_Affiliate","description":"Customize account with a custom logo / profile picture."}}},"UpsertAddressRequest_Affiliate":{"type":"object","description":"Light-weight Address object","properties":{"address1":{"type":"string","description":"Address line 1","example":234,"minLength":1},"address2":{"type":"string","description":"Address line 2","example":"Pebble #5001"},"cityGeoNameId":{"type":"string","description":"City geo name ID","example":897654,"minLength":1},"state":{"type":"string","description":"State","example":"CA"},"postalCode":{"type":"string","description":"Postal / zip code","example":90210,"minLength":1},"county":{"type":"string","description":"County","example":"Alameda county"}},"required":["address1","cityGeoNameId","postalCode"]},"InviteManagerRequest_Affiliate":{"type":"object","properties":{"email":{"type":"string","description":"Existing user account email to make manager","minLength":1}},"required":["email"]},"UpsertManagedByAgencyRequest_Affiliate":{"type":"object","properties":{"managingEntityIdentifier":{"type":"string","description":"Existing user account managingEntityIdentifier to make manager","minLength":1},"commissionInPercent":{"type":"number","description":"Agency commission","example":0.01},"rules":{"$ref":"#/components/schemas/ManagedByEntityRules_Affiliate","description":"Optional rules for expiration date etc when agency is no longer managing this entity."}},"required":["commissionInPercent","managingEntityIdentifier"]},"UpsertCompanyRequest_Affiliate":{"type":"object","properties":{"name":{"type":"string","description":"Name of company","example":"AffiliateAccountLightweight 1","minLength":1},"legalName":{"type":"string","description":"Legal name of entity if other than name","example":"Legal AffiliateAccountLightweight 1"},"companyType":{"type":"string","description":"Type of company","enum":["COMPANY","INDIVIDUAL"],"example":"COMPANY"},"type":{"type":"string","description":"Type of company","enum":["DIRECT","APPLICATION","HOTEL","TRAVELIKO","CORPORATE","TRAVEL_AGENT","INFLUENCER","BLOGGER","DESTINATION","CHANNEL_MANAGER","PROPERTY_MANAGEMENT_SYSTEM","CENTRAL_RESERVATION_SYSTEM","GOOGLE_HOTEL_API","MANAGEMENT_COMPANY","CHAIN","BRAND","EVENT_ORGANIZER"],"example":"APPLICATION"},"description":{"type":"string","description":"A personal message from the company."},"annualTravelSpendInDollars":{"$ref":"#/components/schemas/CustomMonetaryAmount","description":"How much user or company spends on travel per year."}},"required":["companyType","name","type"]},"KeyValuePair_Affiliate":{"type":"object","properties":{"value":{"type":"string","description":"The value that should be persisted.","example":"id-1","minLength":1},"label":{"type":"string","description":"English readable text of the value.","example":"Readable text label","minLength":1}},"required":["label","value"]},"ManagerInviteAccepted_Supplier":{"type":"object","properties":{"id":{"type":"string","description":"AffiliateAccountLightweight ID","minLength":1},"type":{"type":"string","description":"Type of account","enum":["PROPERTY","COMPANY","ACCOUNT"]}},"required":["id","type"]},"ManagerInvite_Affiliate":{"type":"object","properties":{"id":{"type":"string","description":"AffiliateAccountLightweight ID","minLength":1},"name":{"type":"string","description":"AffiliateAccountLightweight name","minLength":1},"imageIdentifier":{"type":"string","description":"Image ID if available"}},"required":["id","name"]},"GroupedBookingSalesMetrics_SupplierDetails":{"type":"object","properties":{"type":{"type":"string","enum":["BY_TOTAL","BY_COUNTRY","BY_PROPERTY"]},"typeName":{"type":"strin
[...]
