{"openapi":"3.1.0","info":{"title":"Wink API","description":" # Introduction\n Welcome to the Wink API - A programmer-friendly way to manage, sell and book travel inventory on the Wink platform. The API gives you all the tools you need to ready your properties and inventory for sale across 1000s of our native sales channels.\n Integrators, affiliates, travel agents and content creators have the ability search for your travel inventory and promote / sell it in a wide variety of ways.\n\n # Integrations\n We have already integrated with the most well-known channel managers so you don't have to. To see our current integrations, please go to https://extranet.wink.travel and scroll to Connectivity section. Once your properties are set up, you can finish the setup by mapping your property to Wink using your channel manager partner portal. If your properties don't have a channel manager, you can easily manage rates and availability with this API.\n\n # Intended Audience\n Programmers are [most likely] a requirement to start integrating with Wink. Companies and organizations that would most benefit from integrating with us are new and existing travel companies that have relationships with suppliers and that need an advanced system from which to manage their travel inventory and get that same inventory out to as many eyeballs as possible at the lowest price possible.\n - Hotel chains\n - Hotel brands\n - Travel tech companies\n - Destination sites\n - Integrators\n - Aggregators\n - Destination management companies\n - Travel agencies\n - OTAs\n\n ## APIs\n Not every integrator needs every API. For that reason, we have separated APIs into context.\n\n### Test API\n\n - [Ping](/ping): The Ping API is a quick test endpoint to verify that your credentials work Wink.\n\n### Common APIs\n\n- [Notifications](/notifications): The Notifications API is a way for us to stay in touch with your user, property or affiliate account.\n- [User Settings](/user-settings): The User Settings API exposes endpoints to allow 3rd party integrators to communicate with Wink.\n\n### Consume APIs\nConsume endpoints are for developers who want to find existing travel inventory and either book it or use it to advertise through one of their Wink affiliate accounts.\n\n - [Configuration](/customization-client): A single endpoint to retrieve whitelabel + customization information for the booking customization.\n - [Lookup](/lookup): All APIs related to locating inventory by region, locale and property flags.\n - [Inventory](/inventory): All APIs related to retrieve known travel inventory as it was found using the Lookup API..\n - [Booking](/booking): All APIs related to creating bookings on the platform.\n - [Travel Agent](/travel-agent): The Travel Agent API exposes endpoints to manage agent-facilitated bookings.\n\n ### Produce APIs\n Produce endpoints are for developers who want to create and manage travel inventory.\n\n #### Property\n - [Property registration](/extranet/property/register): As a producer, this is, oftentimes, where you start your journey. These endpoints let you create properties on Wink.\n - [Property](/extranet/property): This collection of property endpoints are mostly management endpoints that let you display, change status and similar for your existing properties.\n - [Facilities](/extranet/facilities): This collection of endpoints let you manage facilities; such as room types.\n - [Experiences](/extranet/experiences): This collection of endpoints let you manage experiences, such as activities.\n - [Monetize](/extranet/monetize): The Monetize API exposes endpoints for managing cancellation polies, rate plans, promotions and more on Wink.\n - [Distribution](/extranet/distribution): The Distribution API exposes endpoints for sales channels, connecting with affiliates, managing rates and inventory calendars and more on Wink.\n - [Property Booking](/extranet/booking): The Property Booking API exposes endpoints for managing bookings and reviews at the property-level.\n\n #### Affiliate\n - [Affiliate](/affiliate): This collection of affiliate endpoints are mostly management endpoints that let you display, change status and similar for your existing accounts.\n - [Browse](/affiliate/browse): The Browse API exposes endpoints for affiliates to find suppliers and inventory to sell.\n - [Inventory](/affiliate/inventory): The Inventory API exposes endpoints for affiliates to manage the inventory they want to sell and how they want to sell it.\n - [Sales Channel](/affiliate/sales-channel): The Sales Channel API exposes endpoints for affiliates to manage existing sales channels as well as find new ones.\n - [WinkLinks](/affiliate/winklinks): The WinkLinks API exposes endpoints for affiliates to manage their WinkLinks page.\n\n #### Rate provider\n - [Channel manager](/channel-manager): The Channel Manager API enables external channel manager partners to map, exchange rate / availability information with us as well as be informed of bookings that occur on the Wink platform for one of their properties.\n\n ### Taxonomy APIs\n Taxonomy endpoints are for developers who want to consume and produce travel inventory and need taxonomies of standard and non-standard codes for inventory types, classes, statuses etc.\n\n - [Reference](/reference): All APIs related to retrieving platform-supported taxonomies.\n\n ### Insight APIs\n Insight endpoints do exactly what the name implies - They offer platform-level insight into the activities of producers and consumers.\n\n - [Analytics](/analytics): All APIs related to tracking metrics across a wide variety of data source segments including, more entertaining, leaderboard metrics.\n\n ### Payment APIs\n Payment endpoints are for developers who want to purchase travel inventory. This can be done via the API as a registered Travel Agent or using our API in conjunction with our PCI compliant payment widget for all other entities.\n\n - [TripPay](/payment): All APIs related to TripPay account management, booking, mapping and integration features.\n\n ## SDKs\n We are actively working on supporting the most used languages out there. If you don't see your language here, reach out to us with a request to officially add your language. In the meantime, if you want to roll your own SDK, you can do so by downloading the OpenAPI spec and using one of the many available OpenAPI generators available: [https://openapi-generator.tech/docs/generators](https://openapi-generator.tech/docs/generators).\n\n - Java SDK [https://github.com/wink-travel/wink-sdk-java](https://github.com/wink-travel/wink-sdk-java)\n\n ## Usage\n These features are made available to you via a [REST API](https://en.wikipedia.org/wiki/Representational_state_transfer). This API is language agnostic.\n\n ## Versioning\n We chose to version our endpoints in a way that we hope affects your integration minimally. You request the version of our API you wish to work with via the `Wink-Version` header. When it's time for you to upgrade, you only have to change the version number to get access to our updated endpoints.\n\n ## Release history\n - Follow updates on Github: https://github.com/wink-travel/wink-sdk-java/blob/master/CHANGELOG.md\n\n\n\n# Lookup API\nThe Lookup API exposes endpoints to search for inventory by region, type. It's the entryway to bookable inventory when you don't yet know what you are looking for.\n\nBrowse the endpoints in the left navigation bar to get started.\n\n","contact":{"name":"Bjorn Harvold","email":"bjorn@wink.travel"},"version":"30.27.1","x-logo":{"backgroundColor":"#FFFFFF","altText":"wink","url":"https://res.cloudinary.com/traveliko/image/upload/c_scale,h_129/v1653285543/wink/logo_text_white.svg"}},"externalDocs":{"description":"Affiliate Documentation","url":"https://academy.wink.travel/studio/what-is-studio/"},"servers":[{"url":"https://api.wink.travel","description":"Endpoint"}],"tags":[{"name":"Lookup","description":"Use the Lookup API to help find the destination where you will be searching for available travel inventory."}],"paths":{"/api/search/geo":{"post":{"tags":["Lookup"],"summary":"By Geo-Location","description":"Search for properties near a point or within bounds. Populate either `request.userSession.location` OR `request.userSession.bounds`.","operationId":"searchByGeoLocation","parameters":[{"name":"engineConfigurationIdentifier","in":"query","description":"Engine configuration identifier","required":false,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MapRequest_Non_Authenticated_Entity"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagePropertyWithBestPrice_Non_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/search/city":{"post":{"tags":["Lookup"],"summary":"City Search","description":"Search for hotels in / around a city","operationId":"searchInventoryByCity","parameters":[{"name":"engineConfigurationIdentifier","in":"query","description":"Engine configuration identifier","required":false,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CitySearchRequest_Non_Authenticated_Entity"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagePropertyWithBestPrice_Non_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/ranked/search/global":{"post":{"tags":["Lookup"],"summary":"Ranked Global Search","description":"Search best scoring hotels in the world and order by scoring type","operationId":"searchScoreByGlobal","parameters":[{"name":"engineConfigurationIdentifier","in":"query","description":"Engine configuration identifier","required":false,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GlobalScoreRequest_Non_Authenticated_Entity"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagePropertyWithBestPrice_Non_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/ranked/search/country":{"post":{"tags":["Lookup"],"summary":"Ranked Country Search","description":"Search for hotels in a country and order by scoring type","operationId":"SearchScoreByCountry","parameters":[{"name":"engineConfigurationIdentifier","in":"query","description":"Engine configuration identifier","required":false,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CountryScoreRequest_Non_Authenticated_Entity"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagePropertyWithBestPrice_Non_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/ranked/search/city":{"post":{"tags":["Lookup"],"summary":"Ranked City Search","description":"Search for hotels in / around a city and order by scoring type","operationId":"scoreInventoryByCity","parameters":[{"name":"engineConfigurationIdentifier","in":"query","description":"Engine configuration identifier","required":false,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CityScoreRequest_Non_Authenticated_Entity"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagePropertyWithBestPrice_Non_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/ranked/search/agency":{"post":{"tags":["Lookup"],"summary":"Ranked Agency Search","description":"Search for hotels represented by a property management agency.","operationId":"scoreInventoryByAgency","parameters":[{"name":"engineConfigurationIdentifier","in":"query","description":"Engine configuration identifier","required":false,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgencyScoreRequest_Non_Authenticated_Entity"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagePropertyWithBestPrice_Non_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/search":{"get":{"tags":["Lookup"],"summary":"Search Lookups","description":"Searches for hotels, cities or countries by the search term.","operationId":"searchSuggestions","parameters":[{"name":"term","in":"query","description":"Search for lookups by this term","required":true,"schema":{"type":"string"},"example":"Los A"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LookupCached_Non_Authenticated_Entity"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/lookup/{urlName}":{"get":{"tags":["Lookup"],"summary":"Show Lookup","description":"Show lookup object by its unique url name.","operationId":"ShowLookup","parameters":[{"name":"urlName","in":"path","description":"Show lookup by unique url name","required":true,"schema":{"type":"string"},"example":"los-angeles"},{"name":"type","in":"query","description":"Filter on type","required":true,"schema":{"type":"string","enum":["CITY","ISLAND","HOTEL","SPA","MEETING_ROOM","RESTAURANT","ATTRACTION","ACTIVITY","PLACE","COUNTRY"]},"example":"CITY"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LookupLightweight_Non_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}}},"components":{"schemas":{"GenericErrorMessage":{"type":"object","description":"Generic error message","properties":{"status":{"type":"integer","format":"int32","xml":{"attribute":true}},"error":{"type":"string"},"message":{"type":"string"},"timestamp":{"type":"string","xml":{"attribute":true}}},"xml":{"name":"ErrorMessage"}},"Child_Non_Authenticated_Entity":{"type":"object","description":"BookingItineraryRoomConfigurationChild configuration","properties":{"quantity":{"type":"integer","format":"int32","description":"Number of children","minimum":1},"age":{"type":"integer","format":"int32","description":"Age of children","minimum":0}},"required":["age","quantity"]},"GeoJsonLineString_Non_Authenticated_Entity":{"type":"object","properties":{"type":{"type":"string"},"coordinates":{"type":"array","items":{"$ref":"#/components/schemas/Point_Non_Authenticated_Entity"}}}},"GeoJsonPoint_Non_Authenticated_Entity":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"},"type":{"type":"string"},"coordinates":{"type":"array","items":{"type":"number","format":"double"}}}},"GeoJsonPolygon_Non_Authenticated_Entity":{"type":"object","properties":{"points":{"type":"array","items":{"$ref":"#/components/schemas/Point_Non_Authenticated_Entity"}},"coordinates":{"type":"array","items":{"$ref":"#/components/schemas/GeoJsonLineString_Non_Authenticated_Entity"}},"type":{"type":"string"}}},"Itinerary_Non_Authenticated_Entity":{"type":"object","description":"BookingItinerary","properties":{"startDate":{"type":"string","format":"date","description":"Start date of itinerary","example":"2024-01-01"},"endDate":{"type":"string","format":"date","description":"Optional end date. If endDate is empty, nights needs to be present. If both are present, nights will take precedence.","example":"2024-01-02"},"nights":{"type":"integer","format":"int32","description":"Optional number of nights. If nights is empty, endDate needs to be present. If both are present, nights will take precedence."},"items":{"type":"array","items":{"$ref":"#/components/schemas/RoomConfiguration_Non_Authenticated_Entity"},"maxItems":2147483647,"minItems":1},"hours":{"type":"integer","format":"int64","description":"Number of hours between start and end dates. Used for itineraries that require bookings that occur within hours and not days. E.g. Meeting room reservation.","readOnly":true},"children":{"type":"integer","format":"int32","description":"How many total children for this stay"},"guests":{"type":"integer","format":"int32","description":"How many total guests for this stay"},"rooms":{"type":"integer","format":"int32","description":"How many total rooms for this stay"}},"required":["items","startDate"]},"MapRequest_Non_Authenticated_Entity":{"type":"object","properties":{"userSession":{"$ref":"#/components/schemas/UserSession_Non_Authenticated_Entity","description":"User session containing geo-location to search around."},"location":{"$ref":"#/components/schemas/GeoJsonPoint_Non_Authenticated_Entity","description":"User's last map location","example":{"type":"POINT","coordinates":[100.5581533,13.7370197]}},"bounds":{"$ref":"#/components/schemas/GeoJsonPolygon_Non_Authenticated_Entity","description":"Map bounds the user is looking. Bounds provided by map provider.","example":{"type":"Polygon","coordinates":[[[103.0,1.3],[104.0,1.3],[104.0,1.4],[103.0,1.4],[103.0,1.3]]]}},"searchFilters":{"$ref":"#/components/schemas/SearchFilters_Non_Authenticated_Entity","description":"How user likes to have results displayed"},"inventoryTypes":{"type":"array","items":{"description":"Optionally which types of inventory to return.","example":"GUEST_ROOM"}},"page":{"type":"integer","format":"int32","default":0,"description":"The page to paginate to. Note: Page uses a 0-based index.","example":0,"minimum":0},"size":{"type":"integer","format":"int32","default":10,"description":"The result size to return.","example":10,"maximum":20,"minimum":1}},"required":["userSession"]},"Point_Non_Authenticated_Entity":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"}}},"RoomConfiguration_Non_Authenticated_Entity":{"type":"object","description":"Room Configuration","properties":{"adults":{"type":"integer","format":"int32","default":1,"description":"Number of adults","example":2,"minimum":1},"children":{"type":"array","items":{"$ref":"#/components/schemas/Child_Non_Authenticated_Entity"}}},"required":["adults"]},"SearchFilters_Non_Authenticated_Entity":{"type":"object","properties":{"nameSoundsLike":{"type":"string","description":"A user can query for a property with a name that sounds like","example":"Hilt"},"radiusInMeters":{"type":"integer","format":"int64","default":0,"description":"A user can query for blocking that is in a certain proximity to a geo-location. 0 means disabled","example":1500},"lifestyle":{"type":"string","description":"A user can filter blocking on a lifestyle","enum":["LIFESTYLE_HEALTH_FITNESS","LIFESTYLE_RELAX","LIFESTYLE_ADULT_ONLY","LIFESTYLE_ADVENTURE","LIFESTYLE_BUSINESS","LIFESTYLE_LGBT","LIFESTYLE_SINGLE_PARENT","LIFESTYLE_SOLO_FEMALE","LIFESTYLE_BEAUTY","LIFESTYLE_FOODIE","LIFESTYLE_FAMILY","LIFESTYLE_ROMANCE","LIFESTYLE_COUPLE","LIFESTYLE_SOLO","LIFESTYLE_BACKPACKER","LIFESTYLE_SHOPPING","LIFESTYLE_SPORTS","LIFESTYLE_MOUNTAIN","LIFESTYLE_BEACH","LIFESTYLE_CITY","LIFESTYLE_COUNTRY","LIFESTYLE_CULTURE","LIFESTYLE_ECO"],"example":"LIFESTYLE_RELAX"},"starRating":{"type":"integer","format":"int32","description":"A user can filter on number of hotel stars","example":4},"directOnly":{"type":"boolean","description":"Whether to return blocking that is coming from a supplier with a direct relationship to caller","example":true}}},"UserSession_Non_Authenticated_Entity":{"type":"object","description":"User session information containing itinerary and other user related data.","properties":{"itinerary":{"$ref":"#/components/schemas/Itinerary_Non_Authenticated_Entity","description":"Dates and travel info."},"language":{"type":"string","description":"User's language preference","example":"en"},"currency":{"type":"string","description":"User's currency preference","example":"USD"},"promotionalCodes":{"type":"array","items":{"description":"User can pass promotional codes to system to change prices.","example":"promo-1"}},"selectedRoomConfigurationIndex":{"type":"integer","format":"int32","description":"User can pass the current room configuration index to retrieve rates specifically for that room configuration."},"lifestyle":{"type":"string","description":"The preferred user lifestyle.","enum":["LIFESTYLE_HEALTH_FITNESS","LIFESTYLE_RELAX","LIFESTYLE_ADULT_ONLY","LIFESTYLE_ADVENTURE","LIFESTYLE_BUSINESS","LIFESTYLE_LGBT","LIFESTYLE_SINGLE_PARENT","LIFESTYLE_SOLO_FEMALE","LIFESTYLE_BEAUTY","LIFESTYLE_FOODIE","LIFESTYLE_FAMILY","LIFESTYLE_ROMANCE","LIFESTYLE_COUPLE","LIFESTYLE_SOLO","LIFESTYLE_BACKPACKER","LIFESTYLE_SHOPPING","LIFESTYLE_SPORTS","LIFESTYLE_MOUNTAIN","LIFESTYLE_BEACH","LIFESTYLE_CITY","LIFESTYLE_COUNTRY","LIFESTYLE_CULTURE","LIFESTYLE_ECO"]}},"required":["itinerary"]},"Bed_Non_Authenticated_Entity":{"type":"object","properties":{"bedTypeCode":{"type":"string","description":"Indicates the type of bed(s) found in the room. Typical values would be Double, Twin, Queen, or King. Supported OTA specification `BED` code. See [OTA geoname data](#operation/showAvailableCodesForCategory).","example":1,"minLength":1},"quantity":{"type":"integer","format":"int32","description":"Number of beds for this bed type.","example":10,"minimum":1}},"required":["bedTypeCode","quantity"]},"BedroomConfiguration_Non_Authenticated_Entity":{"type":"object","properties":{"identifier":{"type":"string","format":"uuid","description":"Unique identifier","minLength":1},"name":{"type":"string","description":"Name of layout","minLength":1},"bedroomList":{"type":"array","items":{"$ref":"#/components/schemas/Bedroom_Non_Authenticated_Entity"},"minItems":1}},"required":["bedroomList","identifier","name"]},"Bedroom_Non_Authenticated_Entity":{"type":"object","properties":{"type":{"type":"string","description":"Type of bedroom","enum":["MASTER","QUEEN","JUNIOR","DORMITORY","BEDROOM_1","BEDROOM_2","BEDROOM_3","BEDROOM_4","BEDROOM_5","BEDROOM_6","BEDROOM_7","BEDROOM_8","BEDROOM_9","BEDROOM_10"]},"bedList":{"type":"array","items":{"$ref":"#/components/schemas/Bed_Non_Authenticated_Entity"},"minItems":1}},"required":["bedList","type"]},"CancellationPolicyException_Non_Authenticated_Entity":{"type":"object","properties":{"cancellationPolicyIdentifier":{"type":"string","format":"uuid","description":"Cancellation policy","minLength":1},"cancellationPolicy":{"$ref":"#/components/schemas/CancellationPolicyLightweight_Non_Authenticated_Entity","description":"Cancellation policy"},"startDate":{"type":"string","format":"date","description":"Start date for when this cancellation policy should start to override the default cancellation policy."},"endDate":{"type":"string","format":"date","description":"End date for when this cancellation policy should end overriding the default cancellation policy."}},"required":["cancellationPolicy","cancellationPolicyIdentifier","endDate","startDate"]},"CancellationPolicyExceptions_Non_Authenticated_Entity":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/CancellationPolicyException_Non_Authenticated_Entity"},"minItems":1}},"required":["list"]},"CancellationPolicyLightweight_Non_Authenticated_Entity":{"type":"object","properties":{"identifier":{"type":"string","format":"uuid","description":"Unique cancellation policy identifier"},"hotelIdentifier":{"type":"string","format":"uuid","description":"Property this cancellation is associated with"},"refundable":{"type":"boolean","default":false,"description":"Whether this cancellation policy is refundable or not","example":false},"advanceCancellationFreeOfCharge":{"type":"string","description":"When the cancellation policy is refundable, this flag can be set and indicates there is more rules involved than just a no-questions-asked refundable.","enum":["UNTIL_EIGHTEEN_HUNDRED_HOURS_ON_DAY_OF_ARRIVAL","UNTIL_FOURTEEN_HUNDRED_HOURS_ON_DAY_OF_ARRIVAL","ONE_DAY_BEFORE_ARRIVAL","TWO_DAYS_BEFORE_ARRIVAL","THREE_DAYS_BEFORE_ARRIVAL","FIVE_DAYS_BEFORE_ARRIVAL","SEVEN_DAYS_BEFORE_ARRIVAL","FOURTEEN_DAYS_BEFORE_ARRIVAL","TWENTYONE_DAYS_BEFORE_ARRIVAL","THIRTY_DAYS_BEFORE_ARRIVAL","FOURTY_TWO_DAYS_BEFORE_ARRIVAL","SIXTY_DAYS_BEFORE_ARRIVAL"],"example":"UNTIL_EIGHTEEN_HUNDRED_HOURS_ON_DAY_OF_ARRIVAL"},"refundableCancellationCharge":{"type":"string","description":"If advanceCancellationFreeOfCharge rules is not honored, this property explains what the guest will be charged.","enum":["FIRST_NIGHT","THIRTY_PERCENT","FIFTY_PERCENT","SIXTY_PERCENT","SEVENTY_PERCENT","NINENTY_PERCENT","ONE_HUNDRED_PERCENT"],"example":"FIFTY_PERCENT"},"noShowCharge":{"type":"string","description":"In case the 'Refundable cancellation charge' is set, a different no show charge can be applied.","enum":["SAME_AS_CANCELLATION_FEE","ONE_HUNDRED_PERCENT_OF_TOTAL_CHARGE"],"example":"SAME_AS_CANCELLATION_FEE"},"nonRefundableCancellationCharge":{"type":"string","description":"When the cancellation policy is non-refundable, this flag can be set and indicates there is more rules involved to calculate what the guest will owe in case of a cancellation.","enum":["FIRST_NIGHT","TEN_PERCENT","THIRTY_PERCENT","FIFTY_PERCENT","SEVENTY_PERCENT"],"example":"SEVENTY_PERCENT"},"nonRefundableDeadline":{"type":"string","description":"The non-refundable charge might can have a deadline. If that deadline passes, the guest might be charged more.","enum":["ONE_DAY_BEFORE_ARRIVAL","TWO_DAYS_BEFORE_ARRIVAL","THREE_DAYS_BEFORE_ARRIVAL","FIVE_DAYS_BEFORE_ARRIVAL","SEVEN_DAYS_BEFORE_ARRIVAL","FOURTEEN_DAYS_BEFORE_ARRIVAL","TWENTYONE_DAYS_BEFORE_ARRIVAL","THIRTY_DAYS_BEFORE_ARRIVAL","FOURTY_TWO_DAYS_BEFORE_ARRIVAL","SIXTY_DAYS_BEFORE_ARRIVAL"],"example":"SEVEN_DAYS_BEFORE_ARRIVAL"},"nonRefundableAfterDeadlineCancellationCharge":{"type":"string","description":"If the guest does not honor the non-refundable deadline rule, this charge dictates what she owes after the deadline passes.","enum":["FIRST_NIGHT","TEN_PERCENT","THIRTY_PERCENT","FIFTY_PERCENT","SEVENTY_PERCENT","ONE_HUNDRED_PERCENT"],"example":"ONE_HUNDRED_PERCENT"},"policyCode":{"type":"string"}},"required":["hotelIdentifier","identifier","refundable"]},"Contact_Non_Authenticated_Entity":{"type":"object","properties":{"firstName":{"type":"string","description":"Contact first name","example":"John"},"lastName":{"type":"string","description":"Contact last name","example":"Smith"},"email":{"type":"string","description":"Contact E-mail","example":"johnsmith@email.com"},"secondaryEmail":{"type":"string","description":"Contact secondary Email","example":"johnsmith2@email.com"},"phoneNumber":{"type":"string","description":"Contact phone number","example":"+12125551212"},"fullName":{"type":"string","description":"First and last name","example":"John Smith","readOnly":true},"summary":{"type":"string","description":"Summary","example":"John Smith (johnsmith@gmail.com / +12125551212)","readOnly":true}}},"CustomMonetaryAmount":{"type":"object","properties":{"amount":{"type":"number"},"currency":{"type":"string","minLength":1}},"required":["amount","currency"]},"ExtraCharge_Non_Authenticated_Entity":{"type":"object","properties":{"ratePlanLevelFee":{"$ref":"#/components/schemas/RatePlanLevelFee_Non_Authenticated_Entity","description":"What the guest is paying extra for"},"unitPrice":{"$ref":"#/components/schemas/LocalizedPrice_Non_Authenticated_Entity","description":"The localized unit price of the extra charge"},"price":{"$ref":"#/components/schemas/LocalizedPrice_Non_Authenticated_Entity","description":"The localized price of the extra charge"}}},"ExtraCharges_Non_Authenticated_Entity":{"type":"object","properties":{"items":{"type":"array","description":"List of extra charges that applies to the rate plan.","items":{"$ref":"#/components/schemas/ExtraCharge_Non_Authenticated_Entity"},"title":"Items"},"userSpecifiedCurrencyTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"sourceTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"internalTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"}}},"GeneralManager_Non_Authenticated_Entity":{"type":"object","description":"General manager related data.","properties":{"name":{"type":"string","description":"Name of GM currently managing the property.","example":"Jane Doe"},"image":{"$ref":"#/components/schemas/SimpleMultimedia_Non_Authenticated_Entity","description":"Cloudinary image identifier of GM currently managing the property.","example":"cl-image-1"},"descriptions":{"type":"array","items":{"$ref":"#/components/schemas/LocalizedDescription_Non_Authenticated_Entity"}}},"required":["name"]},"GuestRoomLightweight_Non_Authenticated_Entity":{"type":"object","properties":{"identifier":{"type":"string","format":"uuid","description":"Unique record identifier","example":"document-1","minLength":1},"hotelIdentifier":{"type":"string","format":"uuid","description":"Hotel identifier.","example":"hotel-1","minLength":1},"featuredInd":{"type":"boolean","description":"Indicates whether this inventory is featured. Use this flag as a way to signify that this inventory is special.","example":false},"lifestyleType":{"type":"string","description":"Indicate the type of lifestyle this blocking should be associated with.","enum":["LIFESTYLE_HEALTH_FITNESS","LIFESTYLE_RELAX","LIFESTYLE_ADULT_ONLY","LIFESTYLE_ADVENTURE","LIFESTYLE_BUSINESS","LIFESTYLE_LGBT","LIFESTYLE_SINGLE_PARENT","LIFESTYLE_SOLO_FEMALE","LIFESTYLE_BEAUTY","LIFESTYLE_FOODIE","LIFESTYLE_FAMILY","LIFESTYLE_ROMANCE","LIFESTYLE_COUPLE","LIFESTYLE_SOLO","LIFESTYLE_BACKPACKER","LIFESTYLE_SHOPPING","LIFESTYLE_SPORTS","LIFESTYLE_MOUNTAIN","LIFESTYLE_BEACH","LIFESTYLE_CITY","LIFESTYLE_COUNTRY","LIFESTYLE_CULTURE","LIFESTYLE_ECO"],"example":"LIFESTYLE_HEALTH_FITNESS"},"location":{"$ref":"#/components/schemas/GeoJsonPoint_Non_Authenticated_Entity","description":"Geo-location point where blocking takes place. Defaults to location of property.","example":{"type":"POINT","coordinates":[100.5581533,13.7370197]}},"descriptions":{"type":"array","items":{"$ref":"#/components/schemas/SimpleDescription_Non_Authenticated_Entity"},"minItems":1},"multimedias":{"type":"array","items":{"$ref":"#/components/schemas/SimpleMultimedia_Non_Authenticated_Entity"},"minItems":1},"contact":{"$ref":"#/components/schemas/Contact_Non_Authenticated_Entity","description":"Associate a contact person for this blocking (if applicable)."},"address":{"$ref":"#/components/schemas/SimpleAddress_Non_Authenticated_Entity","description":"Defaults to property address."},"commissionable":{"type":"boolean","default":true,"description":"Indicate whether sales channels receive commission for selling this blocking.","example":true},"name":{"type":"string","description":"Internal name of inventory.","example":"Archery lesson","minLength":1},"proximityCode":{"type":"string","description":"Supported OTA specification `PRX` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":1},"sort":{"type":"integer","format":"int32","description":"Use this property to sort an blocking in a list of activities.","example":1},"minAgeAppropriateCode":{"type":"string","description":"Supported OTA specification `AQC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":1},"bookable":{"type":"boolean","default":true,"description":"Indicates if this blocking can be added to a booking or if it is read-only marketing material only.","example":true},"active":{"type":"boolean","default":true,"description":"Modify blocking availability with this flag.","example":true},"disabilityFeatures":{"type":"array","items":{"type":"string"}},"securityFeatures":{"type":"array","items":{"type":"string"}},"socials":{"type":"array","items":{"$ref":"#/components/schemas/Social_Non_Authenticated_Entity"}},"pricePoint":{"type":"string","default":"THREE","description":"Level of expensiveness.","enum":["HALF","ONE","ONE_HALF","TWO","TWO_HALF","THREE","THREE_HALF","FOUR","FOUR_HALF","FIVE"],"example":"THREE"},"recognitionList":{"type":"array","items":{"$ref":"#/components/schemas/TravelInventoryRecognition_Non_Authenticated_Entity"}},"maxOccupancy":{"type":"integer","format":"int32","default":2,"description":"Maximum number of guest allowed in a room type.","example":2,"minimum":1},"minOccupancy":{"type":"integer","format":"int32","default":1,"description":"Minimum number of guests allowed in a room type.","example":1,"minimum":1},"quantity":{"type":"integer","format":"int32","description":"Defines the number of rooms of this type","example":40,"minimum":1},"nonSmoking":{"type":"boolean","description":"Non-smoking indicator","example":true},"bedroomConfigurationList":{"type":"array","items":{"$ref":"#/components/schemas/BedroomConfiguration_Non_Authenticated_Entity"},"minItems":1},"size":{"type":"number","format":"float","description":"Number of square meters that defines the size of this room type.","example":55,"minimum":1},"maxAdultOccupancy":{"type":"integer","format":"int32","default":2,"description":"Maximum number of adults allowed in a room type.","example":1,"minimum":1},"maxChildOccupancy":{"type":"integer","format":"int32","default":0,"description":"Maximum number of children allowed in a room type.","example":0,"minimum":0},"bathroomCount":{"type":"integer","format":"int32","default":1,"description":"Number of bathrooms","example":0,"minimum":0},"livingRoomCount":{"type":"integer","format":"int32","default":1,"description":"Number of living rooms","example":0,"minimum":0},"maxRollaways":{"type":"integer","format":"int32","default":0,"description":"Maximum number of rollaway beds allowed in this room type.","example":0,"minimum":0},"roomCategory":{"type":"string","description":"Indicates the category of the room. Typical values would be Moderate, Standard, or Deluxe. Supported OTA specification `SEG` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":1,"minLength":1},"floor":{"type":"string","description":"Floor an which a room is located"},"roomLocationCode":{"type":"string","description":"Indicates the location of the room within the hotel structure. Typical values would be \"Near Exit\",\"Close to elevator\", \"Low Floor\" or \"High Floor\". Supported OTA specification `RLT` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":1,"minLength":1},"roomViewCode":{"type":"string","description":"Indicates the view of the room. Typical values would be \"Ocean view\", \"Pool view\" or \"Garden View\". Supported OTA specification `RVT` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":1,"minLength":1},"composite":{"type":"boolean","default":false,"description":"Indicates that the room (suite) is a composite of smaller units.","example":false},"compositeCount":{"type":"integer","format":"int32","default":0,"description":"Number of rooms of this room type that makes up a larger unit (composite) such as a two bedroom suite could be comprised of two king rooms plus other room types. A 0 means disabled.","example":2,"minimum":0},"roomClassificationCode":{"type":"string","description":"Specifies the room classification (e.g., cabin, apartment). Supported OTA specification `GRI` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":1,"minLength":1},"roomArchitectureCode":{"type":"string","description":"Specifies the architectural style of a room. Supported OTA specification `ARC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":1,"minLength":1},"roomGender":{"type":"string","default":"Unknown","description":"Used to request or specify a gender assignment for a room. Note: Typically used by Hosteliers.","enum":["Male","Female","MaleAndFemale","Unknown"],"example":"Female"},"sharedRoomInd":{"type":"boolean","default":false,"description":"If TRUE, the room requires or has sharing available. Note: Typically used by Hosteliers.","example":false},"maxCribs":{"type":"integer","format":"int32","default":0,"description":"Maximum number of cribs allowed in a room type.","example":1,"minimum":0},"amenities":{"type":"array","items":{"type":"string"}},"includedAdultOccupancy":{"type":"integer","format":"int32","default":2,"description":"The number of pax the room price was meant for","example":2,"minimum":0},"includedChildOccupancy":{"type":"integer","format":"int32","default":0,"description":"The number of children the room price was meant for","example":0,"minimum":0}},"required":["active","address","bathroomCount","bedroomConfigurationList","bookable","commissionable","composite","compositeCount","contact","descriptions","featuredInd","hotelIdentifier","identifier","includedAdultOccupancy","includedChildOccupancy","livingRoomCount","location","maxAdultOccupancy","maxChildOccupancy","maxCribs","maxOccupancy","maxRollaways","minOccupancy","multimedias","name","nonSmoking","pricePoint","proximityCode","quantity","roomArchitectureCode","roomCategory","roomClassificationCode","roomLocationCode","roomViewCode","sharedRoomInd","size"]},"LocalizedDescription_Non_Authenticated_Entity":{"type":"object","properties":{"description":{"type":"string","description":"Longer text description","example":"This is a longer description in the specified language.","maxLength":2147483647,"minLength":1},"language":{"type":"string","default":"en","description":"Indicate which language this description is written in.","example":"en","maxLength":2,"minLength":2}},"required":["description","language"]},"LocalizedPrice_Non_Authenticated_Entity":{"type":"object","properties":{"sourceToUserCurrencyQuote":{"$ref":"#/components/schemas/QuoteLightweight_Non_Authenticated_Entity","description":"Hotel to user currency exchange rate."},"sourceToInternalCurrencyQuote":{"$ref":"#/components/schemas/QuoteLightweight_Non_Authenticated_Entity","description":"Hotel to wink currency exchange rate."},"userSpecifiedCurrencyBaseTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount","description":"Base total in user specified currency."},"sourceBaseTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount","description":"Base total in hotel currency."},"internalBaseTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount","description":"Base total in wink currency."},"userSpecifiedCurrencyPromotionalModifier":{"type":"number","description":"Promotional modifiers in user specified currency","example":-40},"sourcePromotionalModifier":{"type":"number","description":"Promotional modifiers in hotel currency","example":-40},"internalPromotionalModifier":{"type":"number","description":"Promotional modifiers in wink currency","example":-40},"userSpecifiedCurrencyPremiumModifier":{"type":"number","description":"Premium modifiers in user specified currency","example":40},"sourcePremiumModifier":{"type":"number","description":"Premium modifiers in hotel currency","example":40},"internalPremiumModifier":{"type":"number","description":"Premium modifiers in wink currency","example":40},"userSpecifiedCurrencyChannelModifier":{"type":"number","description":"Channel / Membership modifier in user specified currency","example":-10},"sourceChannelModifier":{"type":"number","description":"Channel / Membership modifier in hotel currency","example":-10},"internalChannelModifier":{"type":"number","description":"Channel / Membership modifier in wink currency","example":-10},"quantity":{"type":"integer","format":"int64","default":1,"description":"How many of this item is included in this price"},"promotionalDiscountPercent":{"type":"number","format":"float","description":"Promotional discount percent"},"channelDiscountPercent":{"type":"number","format":"float","description":"Channel discount percent"},"premiumPercent":{"type":"number","format":"float","description":"Premium percent"},"hasChannelDiscount":{"type":"boolean"},"hasPremium":{"type":"boolean"},"hasPromotion":{"type":"boolean"},"sourceTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"userSpecifiedCurrencyTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"internalTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalDiscountPercent":{"type":"number","format":"float"}},"required":["internalBaseTotal","sourceBaseTotal","sourceToInternalCurrencyQuote","sourceToUserCurrencyQuote","userSpecifiedCurrencyBaseTotal"]},"LocalizedTransactionalTravelInventory_Non_Authenticated_Entity":{"type":"object","description":"This is one localized bookable item that can stand alongside a restaurant / meeting room etc.","properties":{"identifier":{"type":"string","format":"uuid","description":"Unique transactional identifier","example":"travel-blocking-1","minLength":1},"name":{"type":"string","description":"Internal name of transactional blocking.","example":1,"minLength":1},"descriptions":{"type":"array","items":{"$ref":"#/components/schemas/SimpleDescription_Non_Authenticated_Entity"},"maxItems":2147483647,"minItems":1},"pricingType":{"type":"string","description":"How this blocking item should be priced.","enum":["PER_STAY","PER_DAY","PER_NIGHT","PER_USE","PER_HOUR","PER_PERSON","PER_PERSON_PER_NIGHT","PER_PERSON_PER_HOUR","PER_ADULT","PER_ADULT_PER_NIGHT","PER_ADULT_PER_HOUR","PER_CHILD","PER_CHILD_PER_NIGHT","PER_CHILD_PER_HOUR"]},"price":{"$ref":"#/components/schemas/LocalizedPrice_Non_Authenticated_Entity","description":"Localized price"},"multimedias":{"type":"array","items":{"$ref":"#/components/schemas/SimpleMultimedia_Non_Authenticated_Entity"}},"minPax":{"type":"integer","format":"int32","description":"Whether there is a limit to minimum group size.","example":2,"minimum":0},"maxPax":{"type":"integer","format":"int32","description":"Whether there is a limit to maximum group size.","example":10,"minimum":0},"offerDetails":{"type":"array","description":"Localized offer details if rate plan discount applies.","items":{"$ref":"#/components/schemas/LocalizedDescription_Non_Authenticated_Entity"}},"promotion":{"type":"string","description":"If a package is linked to a rate plan the user could be entitled to a promotional discount if she enters a code. When this field is populated, it means the discount was applied to the package."}},"required":["descriptions","identifier","name","price","pricingType"]},"MediaAuthorAttribution_Non_Authenticated_Entity":{"type":"object","properties":{"url":{"type":"string","description":"URL to contributor","example":"https://maps.google.com/maps/contrib/111628493169070103594"},"name":{"type":"string","description":"Name of contributor","example":"Samuel Adams","minLength":1}},"required":["name"]},"PagePropertyWithBestPrice_Non_Authenticated_Entity":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/PropertyWithBestPrice_Non_Authenticated_Entity"}},"number":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject_Non_Authenticated_Entity"},"pageable":{"$ref":"#/components/schemas/PageableObject_Non_Authenticated_Entity"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"PageableObject_Non_Authenticated_Entity":{"type":"object","properties":{"offset":{"type":"integer","format":"int64"},"sort":{"$ref":"#/components/schemas/SortObject_Non_Authenticated_Entity"},"paged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"unpaged":{"type":"boolean"}}},"PropertyAggregateLightweight_Non_Authenticated_Entity":{"type":"object","properties":{"hotelIdentifier":{"type":"string","format":"uuid","description":"Unique hotel record identifier.","example":"hotel-1"},"name":{"type":"string","description":"Hotel trade name","example":"The Loveliest Hotel"},"localName":{"type":"string","description":"Hotel local name if different from the trade name or if it is the local language.","example":"Det Beste Hotellet"},"chain":{"type":"string","description":"Name of hotel chain if applicable.","example":"Hotel chain"},"brand":{"type":"string","description":"Name of hotel brand","example":"Hotel brand"},"urlName":{"type":"string","description":"Unique URL-friendly name slug of hotel","example":"the-loveliest-hotel-new-york-united-states"},"uniqueId":{"type":"string","description":"Event shorter name","example":"abc123","minLength":1},"starRating":{"type":"integer","format":"int32","description":"Official or self-designated property star rating. Note that in some regions there are 6-star hotels. They are the same as 5-star hotels everywhere else.","example":4,"maximum":6,"minimum":0},"bookings":{"type":"integer","format":"int64","default":0,"description":"Number of bookings for this property on the wink.travel platform.","example":6054},"aggregateReviewRating":{"type":"number","format":"float","default":"0.0","description":"Aggregate score based on all current user reviews.","example":7.8},"location":{"$ref":"#/components/schemas/GeoJsonPoint_Non_Authenticated_Entity","description":"Geo-location","example":{"type":"POINT","coordinates":[100.5581533,13.7370197]}},"descriptions":{"type":"array","description":"Short and long welcome text","items":{"$ref":"#/components/schemas/SimpleDescription_Non_Authenticated_Entity"}},"aggregateGreendexRating":{"type":"number","format":"float","default":"0.0","description":"Aggregate Green Index score if the property has answered our questionnaire available in the Extranet.","example":7.0},"lifestyleTypes":{"type":"array","items":{"description":"A list of lifestyles the property associates with.","example":"LIFESTYLE_HEALTH_FITNESS"}},"totalReviews":{"type":"integer","format":"int32","default":0,"description":"Count of total reviews left by users at this property.","example":989},"reservations":{"$ref":"#/components/schemas/Contact_Non_Authenticated_Entity","description":"Contact details for reservations desk"},"socials":{"type":"array","description":"Property's social network accounts","items":{"$ref":"#/components/schemas/Social_Non_Authenticated_Entity"}},"images":{"type":"array","description":"Property images.","items":{"$ref":"#/components/schemas/SimpleMultimedia_Non_Authenticated_Entity"}},"videos":{"type":"array","description":"Property videos.","items":{"$ref":"#/components/schemas/SimpleMultimedia_Non_Authenticated_Entity"}},"policy":{"$ref":"#/components/schemas/PropertyPolicy_Non_Authenticated_Entity","description":"Basic property policy record."},"thirdPartyReviews":{"type":"array","description":"Array of awards and third party reviews given to property by certified / non-certified providers.","items":{"$ref":"#/components/schemas/TravelInventoryRecognition_Non_Authenticated_Entity"}},"attractions":{"type":"integer","format":"int32","default":0,"description":"Number of attractions property has listed on its profile.","example":5},"activities":{"type":"integer","format":"int32","default":0,"description":"Number of activites property has listed on its profile.","example":3},"places":{"type":"integer","format":"int32","default":0,"description":"Number of places property has listed on its profile.","example":9},"restaurants":{"type":"integer","format":"int32","default":0,"description":"Number of restaurants property has on its profile.","example":2},"meetingRooms":{"type":"integer","format":"int32","default":0,"description":"Number of meeting rooms property has on its profile.","example":2},"spas":{"type":"integer","format":"int32","default":0,"description":"Number of spas property has on its profile.","example":1},"addOns":{"type":"integer","format":"int32","default":0,"description":"Number of add-ons property has on its profile.","example":5},"generalManager":{"$ref":"#/components/schemas/GeneralManager_Non_Authenticated_Entity"},"locationCategory":{"type":"string","description":"Supported OTA specification `LOC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":34},"segmentCategory":{"type":"string","description":"Supported OTA specification `SEG` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":7},"hotelCategory":{"type":"string","description":"Supported OTA specification `PCT` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":45},"architecturalStyle":{"type":"string","description":"Supported OTA specification `ARC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":7},"whenBuilt":{"type":"string","description":"Year the property was constructed.","example":1927},"currencyCode":{"type":"string","description":"Currency code for property.","example":"USD"},"membershipRateDiscount":{"type":"number","format":"float","default":0,"description":"A property's price score is based on calculating historical pricing data. Each property receives a unique score. There is no max score; it's there to compare it against other properties.","example":9},"priceScore":{"type":"integer","format":"int32","default":0,"description":"A property's price score is based on calculating historical pricing data. Each property receives a unique score. There is no max score; it's there to compare it against other properties.","example":9},"perkScore":{"type":"integer","format":"int32","default":0,"description":"A property's perk score is based on the type of perks that is offered to the guests across all master rates. There is no max score; it's there to compare it against other properties.","example":4},"addOnScore":{"type":"integer","format":"int32","default":0,"description":"A property's package score is based on general availability and price for all packages and add-ons offered by the property. There is no max score; it's there to compare it against other properties.","example":4},"loyaltyScore":{"type":"integer","format":"int32","default":0,"description":"A property's loyalty score is based on calculating how many available rate plans honor loyalty points. There is no max score; it's there to compare it against other properties.","example":5},"popularScore":{"type":"integer","format":"int32","default":0,"description":"A property's popular score is based on calculating number of bookings across room types. There is no max score; it's there to compare it against other properties.","example":45},"experienceScore":{"type":"integer","format":"int32","default":0,"description":"A property's experience score is based on how calculating how many types of experiences are available and at what price ranges. There is no max score; it's there to compare it against other properties.","example":5},"hotelAmenityCodes":{"type":"array","description":"Supported OTA specification `HAC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":["1","7"],"items":{"type":"string"}},"propertyAccessibilityCodes":{"type":"array","description":"Supported OTA specification `PHY` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":["1","7"],"items":{"type":"string"}},"propertySecurityCodes":{"type":"array","description":"Supported OTA specification `SEC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":["1","7"],"items":{"type":"string"}},"numberOfRooms":{"type":"integer","format":"int32","default":0,"description":"Number of rooms / keys for this property.","example":32},"address":{"$ref":"#/components/schemas/SimpleAddress_Non_Authenticated_Entity","description":"Property address."},"active":{"type":"boolean","description":"Whether property is active"},"urlParameters":{"type":"string","description":"Convenience data point that creates url friendly query parameters of property."}},"required":["uniqueId"]},"PropertyPolicy_Non_Authenticated_Entity":{"type":"object","description":"Outlines basic policies for the property.","properties":{"childrenAllowed":{"type":"boolean","default":false,"description":"Indicates whether property allows children","example":true},"childrenMinimumAge":{"type":"integer","format":"int32","description":"When a property allows children, it can also indicate what the minimum age is for children to be allowed.","example":6},"internetAvailability":{"type":"string","description":"Indicates the availability of internet on the property.","enum":["YES","NO","YES_PAID"],"example":"YES"},"internetConnectionType":{"type":"string","description":"Indicates how guests can access the Internet on the property.","enum":["WIFI","CABLE"],"example":"WIFI"},"internetConnectionLocation":{"type":"string","description":"Indicates where internet is available in and around the property.","enum":["ENTIRE_PROPERTY","PUBLIC_AREAS","ALL_ROOMS","SOME_ROOMS","BUSINESS_CENTER"],"example":"ENTIRE_PROPERTY"},"parkingAvailability":{"type":"string","description":"Indicates whether parking is available at the property.","enum":["YES","NO","YES_PAID"],"example":"YES"},"parkingAccess":{"type":"string","description":"Indicates what type of parking is available at the property.","enum":["PRIVATE","PUBLIC"],"example":"PRIVATE"},"petsAllowed":{"type":"boolean","default":false,"description":"Indicates whether pets are allowed on the property. Note: There are thousand different kinds of pets. Just because the property allows small dogs does not mean the guest can bring a python. Always best to check with property.","example":true},"petMaxWeightInKilos":{"type":"integer","format":"int32","description":"If pets are allowed, property can further limit on weight.","example":10},"petCharge":{"$ref":"#/components/schemas/CustomMonetaryAmount","description":"If pets are allowed, property can tell travelers if there is a charge applicable for the pet."},"checkOutTime":{"type":"string","description":"When the guest has to check out.","example":"10:00","minLength":1},"checkInTime":{"type":"string","description":"When the guest can check in.","example":"14:00","minLength":1}},"required":["checkInTime","checkOutTime","childrenAllowed","internetAvailability","internetConnectionLocation","internetConnectionType","parkingAccess","parkingAvailability","petsAllowed"]},"PropertyWithBestPrice_Non_Authenticated_Entity":{"type":"object","properties":{"hotel":{"$ref":"#/components/schemas/PropertyAggregateLightweight_Non_Authenticated_Entity","description":"Property details"},"lowestPrice":{"$ref":"#/components/schemas/RoomTypeBestPrice_Non_Authenticated_Entity","description":"Best-priced room at property"},"roomTypeList":{"type":"array","description":"Unique property room types","items":{"$ref":"#/components/schemas/GuestRoomLightweight_Non_Authenticated_Entity"}},"priceList":{"type":"array","description":"Best-priced room types","items":{"$ref":"#/components/schemas/RoomTypeBestPrice_Non_Authenticated_Entity"}},"potentialChannelDiscountPercent":{"type":"number","format":"float","description":"The potential discount the user is entitled to if user is a member / authenticated."},"sourceToUserCurrencyQuote":{"$ref":"#/components/schemas/QuoteLightweight_Non_Authenticated_Entity","description":"Exchange rate quote between the property's source currency and the user's desired currency that was used to populate price."},"sourceToInternalCurrencyQuote":{"$ref":"#/components/schemas/QuoteLightweight_Non_Authenticated_Entity","description":"Exchange rate quote between the property's source currency and the user's currency that was used to populate price."},"available":{"type":"boolean","description":"Flag to indicate whether this blocking is available or not. This data point is identifier to the available flag on the `price` child data point."}},"required":["hotel","lowestPrice","potentialChannelDiscountPercent","priceList","roomTypeList","sourceToInternalCurrencyQuote","sourceToUserCurrencyQuote"]},"QuoteLightweight_Non_Authenticated_Entity":{"type":"object","properties":{"source":{"type":"string","description":"Source","minLength":1},"target":{"type":"string","description":"Target","minLength":1},"exchangeRate":{"type":"number","description":"Exchange rate"},"timestamp":{"type":"integer","format":"int64","description":"Timestamp"}},"required":["exchangeRate","source","target","timestamp"]},"RatePlanLevelFee_Non_Authenticated_Entity":{"type":"object","properties":{"descriptions":{"type":"array","description":"List of localized descriptions for this fee.","items":{"$ref":"#/components/schemas/LocalizedDescription_Non_Authenticated_Entity"},"minItems":1},"fixedAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount","description":"Rate plan level fixed fee amount in property currency"},"type":{"type":"string","description":"Rate plan fee type","enum":["PER_DAY","PER_STAY","PER_PERSON_PER_DAY","PER_PERSON_PER_STAY"],"example":"PER_DAY"}},"required":["descriptions","fixedAmount","type"]},"RoomConfigurationPriceRatePlan_Non_Authenticated_Entity":{"type":"object","properties":{"identifier":{"type":"string","format":"uuid","description":"Rate plan identifier","minLength":1},"name":{"type":"string","description":"Provides the name of the rate plan.","example":"BAR 1","minLength":1},"breakfast":{"type":"boolean","default":false,"description":"When true, indicates breakfast is included.","example":false},"brunch":{"type":"boolean","default":false,"description":"When true, indicates brunch is included.","example":false},"lunch":{"type":"boolean","default":false,"description":"When true, indicates lunch is included.","example":false},"dinner":{"type":"boolean","default":false,"description":"When true, indicates dinner is included.","example":false},"allInclusive":{"type":"boolean","default":false,"description":"Everything included except alcohol","example":false},"allInclusivePlusAlcohol":{"type":"boolean","default":false,"description":"Everything included with alcohol","example":false},"earlyCheckInCharge":{"$ref":"#/components/schemas/VariableCharge_Non_Authenticated_Entity"},"lateCheckOutCharge":{"$ref":"#/components/schemas/VariableCharge_Non_Authenticated_Entity"},"cancellationPolicy":{"$ref":"#/components/schemas/CancellationPolicyLightweight_Non_Authenticated_Entity","description":"The cancellation policy for this rate plan."},"cancellationPolicyExceptions":{"$ref":"#/components/schemas/CancellationPolicyExceptions_Non_Authenticated_Entity","description":"Allows a property to dynamically use another cancellation policy for a specific date range"}},"required":["allInclusive","allInclusivePlusAlcohol","breakfast","brunch","dinner","identifier","lunch","name"]},"RoomConfigurationPrice_Non_Authenticated_Entity":{"type":"object","properties":{"channelInventoryIdentifier":{"type":"string","description":"Sales channel inventory identifier"},"list":{"type":"array","items":{"$ref":"#/components/schemas/LocalizedTransactionalTravelInventory_Non_Authenticated_Entity"},"writeOnly":true},"commissionable":{"type":"boolean","description":"Whether this package is commissionable based on the incoming sales channel."},"commission":{"type":"number","format":"float","description":"The commission percentage.","example":0.1},"direct":{"type":"boolean","default":false,"description":"Indicates whether the blocking from sales channel is direct or not. If you are a travel agent doing your own acquiring, this flag has to be true to make a booking.","example":true},"adults":{"type":"integer","format":"int32","description":"The actual amount of adults as determined by the hotel's policy"},"children":{"type":"integer","format":"int32","description":"The actual amount of children as determined by the hotel's policy"},"startDate":{"type":"string","format":"date","description":"SimpleDateTimeItinerary startDate"},"endDate":{"type":"string","format":"date","description":"SimpleDateTimeItinerary endDate"},"roomRateIdentifier":{"type":"string","description":"Specified master rate identifier"},"roomRateInternalName":{"type":"string","description":"Specified master rate internal name"},"ratePlan":{"$ref":"#/components/schemas/RoomConfigurationPriceRatePlan_Non_Authenticated_Entity","description":"Specified rate plan"},"perkTypes":{"type":"array","items":{"description":"Perks that accompany the master rate"}},"price":{"$ref":"#/components/schemas/StayRate_Non_Authenticated_Entity","description":"Calculated price"},"extraCharges":{"$ref":"#/components/schemas/ExtraCharges_Non_Authenticated_Entity","description":"Per rate plan level extra charges with localized prices"},"configuration":{"$ref":"#/components/schemas/RoomConfiguration_Non_Authenticated_Entity","description":"The selected room configuration that created this record"},"addOnOffers":{"type":"array","items":{"description":"Add-ons that are available with this room configuration"}},"perkValue":{"type":"integer","format":"int32","description":"The combined value of these perkTypes"},"activeCancellationPolicy":{"$ref":"#/components/schemas/CancellationPolicyLightweight_Non_Authenticated_Entity","description":"The active / selected cancellation policy for this room configuration"},"roomNights":{"type":"integer","format":"int32","description":"Number of nights the guests will be staying"},"priceList":{"type":"array","items":{"description":"Localized transactional blocking"}},"available":{"type":"boolean"},"sourceTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"userSpecifiedCurrencyTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"internalTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"rateSource":{"type":"string"}},"required":["activeCancellationPolicy","adults","channelInventoryIdentifier","commission","commissionable","configuration","direct","endDate","price","ratePlan","roomNights","roomRateIdentifier","roomRateInternalName","startDate"]},"RoomTypeBestPrice_Non_Authenticated_Entity":{"type":"object","properties":{"roomTypeIdentifier":{"type":"string","format":"uuid","description":"Room type identifier."},"price":{"$ref":"#/components/schemas/RoomConfigurationPrice_Non_Authenticated_Entity","description":"Price details for this room type configuration."},"perkValue":{"type":"integer","format":"int32","description":"The sum of all perks the master rate had made available."},"available":{"type":"boolean","description":"Whether this room type is available with this configuration"},"sort":{"type":"integer","format":"int32","description":"When this room type is displayed in conjunction with many others, this sort property will often times be populated to indicate how the room types should be sorted and displayed."}},"required":["available","perkValue","price","roomTypeIdentifier","sort"]},"SimpleAddress_Non_Authenticated_Entity":{"type":"object","description":"Address information","properties":{"address1":{"type":"string","description":"Address line 1","example":234,"minLength":1},"address2":{"type":"string","description":"Address line 2","example":"Pebble #5001"},"state":{"type":"string","description":"State","example":"CA"},"postalCode":{"type":"string","description":"Postal / zip code","example":90210,"minLength":1},"county":{"type":"string","description":"County","example":"Alameda county"},"city":{"type":"string","description":"City name","minLength":1},"countryCode":{"type":"string","description":"Country","minLength":1},"country":{"type":"string","description":"Country","example":"United States","readOnly":true},"fullAddress":{"type":"string","description":"Address 1, Address 2, City, State, Postal / Zip code, Country","example":11,"readOnly":true}},"required":["address1","city","countryCode","postalCode"]},"SimpleDescription_Non_Authenticated_Entity":{"type":"object","properties":{"name":{"type":"string","description":"Use as title or short text description","example":"An example title"},"description":{"type":"string","description":"Longer text description","example":"This is a longer description in the specified language.","maxLength":2147483647,"minLength":1},"language":{"type":"string","default":"en","description":"Indicate which language this description is written in.","example":"en","maxLength":2,"minLength":2}},"required":["description","language","name"]},"SimpleMultimedia_Non_Authenticated_Entity":{"type":"object","description":"Multimedia that contains less information than Multimedia object","properties":{"multimediaIdentifier":{"type":"string","format":"uuid","description":"Document identifier","example":"image-1","minLength":1},"identifier":{"type":"string","description":"Use this identifier to communicate with Cloudinary.","example":"cloudinary-image-1","minLength":1},"type":{"type":"string","description":"Whether Cloudinary media is a VIDEO or IMAGE.","enum":["IMAGE","VIDEO","AUDIO","RAW"],"example":"IMAGE"},"source":{"type":"string","default":"CLOUDINARY","description":"Currently ONLY using Cloudinary to store all image / video assets.","enum":["YOUTUBE","CLOUDINARY"],"example":"CLOUDINARY"},"sort":{"type":"integer","format":"int32","default":999,"description":"Sort allows you to control how you want to sort this record in a list of media records.","example":10},"angle":{"type":"string","description":"Media angle","example":-90},"width":{"type":"integer","format":"int32","description":"Media width in pixels.","example":2560,"minimum":1},"height":{"type":"integer","format":"int32","description":"Media height in pixels.","example":1600,"minimum":1},"published":{"type":"boolean","default":false,"description":"Instead of deleting the media, choose to un-publish it instead for later re-use. Could be you keep seasonal images of the property.","example":true},"category":{"type":"string","description":"Supported OTA specification `PIC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":1},"descriptions":{"type":"array","description":"Localized media captions to give user some context about where this media was taken.","items":{"$ref":"#/components/schemas/SimpleDescription_Non_Authenticated_Entity"}},"lifestyleType":{"type":"string","description":"Associate this media with a specific lifestyle type. A user searching and filtering inventory based on lifestyles can be shown relevant media first.","enum":["LIFESTYLE_HEALTH_FITNESS","LIFESTYLE_RELAX","LIFESTYLE_ADULT_ONLY","LIFESTYLE_ADVENTURE","LIFESTYLE_BUSINESS","LIFESTYLE_LGBT","LIFESTYLE_SINGLE_PARENT","LIFESTYLE_SOLO_FEMALE","LIFESTYLE_BEAUTY","LIFESTYLE_FOODIE","LIFESTYLE_FAMILY","LIFESTYLE_ROMANCE","LIFESTYLE_COUPLE","LIFESTYLE_SOLO","LIFESTYLE_BACKPACKER","LIFESTYLE_SHOPPING","LIFESTYLE_SPORTS","LIFESTYLE_MOUNTAIN","LIFESTYLE_BEACH","LIFESTYLE_CITY","LIFESTYLE_COUNTRY","LIFESTYLE_CULTURE","LIFESTYLE_ECO"],"example":"LIFESTYLE_HEALTH_FITNESS"},"attribution":{"type":"array","description":"Whether image has attribution properties","items":{"$ref":"#/components/schemas/MediaAuthorAttribution_Non_Authenticated_Entity"}},"isLandscape":{"type":"boolean","description":"True if media width is greater or equal to height","example":true}},"required":["height","identifier","multimediaIdentifier","sort","source","type","width"]},"Social_Non_Authenticated_Entity":{"type":"object","description":"Social network","properties":{"type":{"type":"string","description":"Type of social network.","enum":["FACEBOOK","INSTAGRAM","SKYPE","TRIP_ADVISOR","TWITTER","GOOGLE_PLUS","WHATSAPP","LINE","WECHAT","VIBER","SNAPCHAT","WEIBO","RENREN","WEBSITE","QQ","TIKTOK"]},"location":{"type":"string","description":"URL or social network identifier to social network profile"}}},"SortObject_Non_Authenticated_Entity":{"type":"object","properties":{"empty":{"type":"boolean"},"sorted":{"type":"boolean"},"unsorted":{"type":"boolean"}}},"StayRate_Non_Authenticated_Entity":{"type":"object","properties":{"userSpecifiedCurrencyBaseTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount","description":"Base total in user specified currency."},"sourceBaseTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount","description":"Base total in hotel's currency."},"internalBaseTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount","description":"Base total in wink currency."},"sourceExtraPaxModifier":{"type":"number","description":"Extra person modifier in hotel currency.","example":15},"internalExtraPaxModifier":{"type":"number","description":"Extra person modifier in wink currency","example":15},"userSpecifiedCurrencyExtraPaxModifier":{"type":"number","description":"Extra person modifier in user specified currency","example":15},"sourceExtraChildModifier":{"type":"number","description":"Extra child modifier in hotel currency","example":15},"internalExtraChildModifier":{"type":"number","description":"Extra child modifier in wink currency","example":15},"userSpecifiedCurrencyExtraChildModifier":{"type":"number","description":"Extra child modifier in user specified currcency","example":15},"sourceSingleOccupantModifier":{"type":"number","description":"Single occupant modifier in hotel currency","example":-15},"internalSingleOccupantModifier":{"type":"number","description":"Singe occupant modifier in wink currency","example":-15},"userSpecifiedCurrencySingleOccupantModifier":{"type":"number","description":"Single occupant modifier in user specified currency","example":-15},"sourcePromotionalModifier":{"type":"number","description":"Rate discount modifiers in hotel currency","example":-40},"internalPromotionalModifier":{"type":"number","description":"Rate discount modifiers in wink currency","example":-40},"userSpecifiedCurrencyPromotionalModifier":{"type":"number","description":"Rate discount modifiers in user specified currency","example":-40},"sourcePremiumModifier":{"type":"number","description":"Rate premiums modifiers in hotel currency","example":40},"internalPremiumModifier":{"type":"number","description":"Rate premiums modifiers in wink currency","example":40},"userSpecifiedCurrencyPremiumModifier":{"type":"number","description":"Rate premiums modifiers in user specified currency","example":40},"sourceChannelModifier":{"type":"number","description":"Channel / Membership modifier in hotel currency","example":-10},"internalChannelModifier":{"type":"number","description":"Channel / Membership modifier in wink currency","example":-10},"userSpecifiedCurrencyChannelModifier":{"type":"number","description":"Channel / Membership modifier in user specified currency","example":-10},"quantity":{"type":"integer","format":"int32","description":"Quantity"},"minOccupancy":{"type":"integer","format":"int32","description":"Minimum occupancy"},"maxOccupancy":{"type":"integer","format":"int32","description":"Maximum occupancy"},"rateSource":{"type":"string","description":"Source"},"promotionalDiscountPercent":{"type":"number","format":"float","description":"Promotional discount percent"},"channelDiscountPercent":{"type":"number","format":"float","description":"Chanel discount percent"},"premiumPercent":{"type":"number","format":"float","description":"Premium percent"},"available":{"type":"boolean","description":"Available"},"sourceToUserCurrencyQuote":{"$ref":"#/components/schemas/QuoteLightweight_Non_Authenticated_Entity","description":"Hotel to user currency exchange rate."},"sourceToInternalCurrencyQuote":{"$ref":"#/components/schemas/QuoteLightweight_Non_Authenticated_Entity","description":"Hotel to wink currency exchange rate."},"offerDetails":{"type":"array","items":{"$ref":"#/components/schemas/LocalizedDescription_Non_Authenticated_Entity"}},"promotionalCodes":{"type":"array","items":{"type":"string"}},"userSpecifiedCurrencyTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount","description":"User-defined currency final price."},"sourceTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount","description":"Source currency final price."},"internalTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount","description":"Internal currency final price."},"userSpecifiedCurrencyAveragePricePerNight":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"internalAveragePricePerNight":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"sourceAveragePricePerNight":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalDiscountPercent":{"type":"number","format":"float"}}},"TravelInventoryRecognition_Non_Authenticated_Entity":{"type":"object","description":"Recognition for the ancillary blocking.","properties":{"identifier":{"type":"string","format":"uuid","description":"Recognition identifier.","example":"recognition-1","minLength":1},"category":{"type":"string","description":"Recognition category.","enum":["THIRD_PARTY_REVIEW","PUBLICATION","AWARD"],"example":"AWARD"},"type":{"type":"string","description":"Type of rating system the recognition operated on. This allows us to display the score properly.","enum":["STAR_RATING","NUMERIC_RATING","PERCENT_RATING"],"example":"PERCENT_RATING"},"provider":{"type":"string","description":"The name of the entity that administers this recognition.","example":"Michelin","minLength":1},"rating":{"type":"number","format":"float","description":"The actual award or rating received by the hotel facility.","example":8.5,"minimum":0.0},"maxRating":{"type":"number","format":"float","description":"Use this to let hotels indicate what the total score for this award is.","example":10},"date":{"type":"string","format":"date","description":"The date the award was received","example":"2020-10-24"},"officialAppointmentInd":{"type":"boolean","description":"When true, this indicates the property has received official permission from the award provider to use the rating in publications and marketing materials; when false this permission has not been granted.","example":true},"ratingSymbol":{"type":"string","description":"Provides the symbol used in the rating. Used in conjunction with the Rating.","example":"*"}},"required":["category","identifier","maxRating","provider","rating","type"]},"VariableCharge_Non_Authenticated_Entity":{},"CitySearchRequest_Non_Authenticated_Entity":{"type":"object","description":"City search request","properties":{"geoNameId":{"type":"string","description":"GeoNameLightweight identifier from the [https://geonames.org](https://geonames.org) dataset.","example":5128581},"userSession":{"$ref":"#/components/schemas/UserSession_Non_Authenticated_Entity","description":"User session is the current search state. SimpleDateTimeItinerary and other data points are all included here."},"searchFilters":{"$ref":"#/components/schemas/SearchFilters_Non_Authenticated_Entity","description":"How user likes to have results displayed"},"page":{"type":"integer","format":"int32","default":0,"description":"The page to paginate to. Note: Page uses a 0-based index.","example":0,"minimum":0},"size":{"type":"integer","format":"int32","default":6,"description":"The result size to return.","example":10,"maximum":20,"minimum":1}},"required":["geoNameId","page","size","userSession"]},"GlobalScoreRequest_Non_Authenticated_Entity":{"type":"object","properties":{"sort":{"type":"string","description":"Choose the criteria you want the results sorted on.","enum":["MEMBER","PRICE_LOW_TO_HIGH","PRICE_HIGH_TO_LOW","PRICE","POPULARITY","ECO","EXPERIENCE","PERK","LOYALTY","ADD_ON"],"example":"MEMBER"},"userSession":{"$ref":"#/components/schemas/UserSession_Non_Authenticated_Entity","description":"User session is the current search state. SimpleDateTimeItinerary and other data points are all included here."},"searchFilters":{"$ref":"#/components/schemas/SearchFilters_Non_Authenticated_Entity","description":"How user likes to have results displayed"},"page":{"type":"integer","format":"int32","default":0,"description":"The page to paginate to. Note: Page uses a 0-based index.","example":0,"minimum":0},"size":{"type":"integer","format":"int32","default":6,"description":"The result size to return.","example":10,"maximum":20,"minimum":1}},"required":["page","size","sort","userSession"]},"CountryScoreRequest_Non_Authenticated_Entity":{"type":"object","properties":{"countryCode":{"type":"string","description":"Unique country code you want to search in as it was given to you in the lookup entry or by using standard country codes as defined here [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).","example":"US","minLength":1},"sort":{"type":"string","description":"Choose the criteria you want the results sorted on.","enum":["MEMBER","PRICE_LOW_TO_HIGH","PRICE_HIGH_TO_LOW","PRICE","POPULARITY","ECO","EXPERIENCE","PERK","LOYALTY","ADD_ON"],"example":"MEMBER"},"userSession":{"$ref":"#/components/schemas/UserSession_Non_Authenticated_Entity","description":"User session is the current search state. SimpleDateTimeItinerary and other data points are all included here."},"searchFilters":{"$ref":"#/components/schemas/SearchFilters_Non_Authenticated_Entity","description":"How user likes to have results displayed"},"page":{"type":"integer","format":"int32","default":0,"description":"The page to paginate to. Note: Page uses a 0-based index.","example":0,"minimum":0},"size":{"type":"integer","format":"int32","default":6,"description":"The result size to return.","example":10,"maximum":20,"minimum":1}},"required":["countryCode","page","size","sort","userSession"]},"CityScoreRequest_Non_Authenticated_Entity":{"type":"object","properties":{"urlName":{"type":"string","description":"Unique url name for city you wish to search in as it was given to you in the lookup entry.","example":"los-angeles-california-united-states","minLength":1},"sort":{"type":"string","description":"Choose the criteria you want the results sorted on.","enum":["MEMBER","PRICE_LOW_TO_HIGH","PRICE_HIGH_TO_LOW","PRICE","POPULARITY","ECO","EXPERIENCE","PERK","LOYALTY","ADD_ON"],"example":"MEMBER"},"userSession":{"$ref":"#/components/schemas/UserSession_Non_Authenticated_Entity","description":"User session is the current search state. SimpleDateTimeItinerary and other data points are all included here."},"searchFilters":{"$ref":"#/components/schemas/SearchFilters_Non_Authenticated_Entity","description":"How user likes to have results displayed"},"page":{"type":"integer","format":"int32","default":0,"description":"The page to paginate to. Note: Page uses a 0-based index.","example":0,"minimum":0},"size":{"type":"integer","format":"int32","default":6,"description":"The result size to return.","example":10,"maximum":20,"minimum":1}},"required":["page","size","sort","urlName","userSession"]},"AgencyScoreRequest_Non_Authenticated_Entity":{"type":"object","properties":{"cityUrlNameOrCountryCode":{"type":"string","description":"Unique url name for city or country code for country.","example":"los-angeles-california-united-states"},"sort":{"type":"string","description":"Choose the criteria you want the results sorted on.","enum":["MEMBER","PRICE_LOW_TO_HIGH","PRICE_HIGH_TO_LOW","PRICE","POPULARITY","ECO","EXPERIENCE","PERK","LOYALTY","ADD_ON"],"example":"MEMBER"},"userSession":{"$ref":"#/components/schemas/UserSession_Non_Authenticated_Entity","description":"User session is the current search state. SimpleDateTimeItinerary and other data points are all included here."},"page":{"type":"integer","format":"int32","default":0,"description":"The page to paginate to. Note: Page uses a 0-based index.","example":0,"minimum":0},"size":{"type":"integer","format":"int32","default":6,"description":"The result size to return.","example":10,"maximum":20,"minimum":1}},"required":["page","size","sort","userSession"]},"LookupCached_Non_Authenticated_Entity":{"type":"object","properties":{"identifier":{"type":"string","format":"uuid","description":"Unique lookup identifier","example":"lookup-1"},"type":{"type":"string","description":"Type of lookup","enum":["CITY","ISLAND","HOTEL","SPA","MEETING_ROOM","RESTAURANT","ATTRACTION","ACTIVITY","PLACE","COUNTRY"],"example":"ACTIVITY"},"typeIdentifier":{"type":"string","format":"uuid","description":"Unique lookup type identifier","example":"lookup-city-1"},"name":{"type":"string","description":"Name of lookup","example":"Archery on horseback"},"urlName":{"type":"string","description":"Url-friendly slug that uniquely identifies this lookup","example":"archery-on-horseback"},"ownerIdentifier":{"type":"string","format":"uuid","description":"Lookup that is supplier inventory includes the supplier identifier","example":"hotel-1"},"ownerName":{"type":"string","description":"Lookup that is supplier inventory includes the supplier name","example":"My Chic Hotel"},"cityName":{"type":"string","description":"Closest city where lookup entry is located","example":"Los Angeles"},"countryName":{"type":"string","description":"Country where lookup entry is located","example":"United States"},"subCountryName":{"type":"string","description":"State where lookup entry is located","example":"California"},"subSubCountryName":{"type":"string","description":"County where lookup entry is located","example":"Orange County"},"countryCode":{"type":"string","description":"Country code","example":"US"},"ownerType":{"type":"string","description":"The type of owner that created this lookup","enum":["TRAVELIKO","HOTEL"],"example":"HOTEL"},"languageCode":{"type":"string","description":"The language the lookup code was written in","example":"en-US"},"sort":{"type":"integer","format":"int32","description":"Platform-specific sort","example":2},"origin":{"type":"boolean","description":"If this lookup is the origin lookup.","example":true},"lowercaseName":{"type":"string","description":"Name in lower case","example":"archery on horseback"},"locationX":{"type":"number","format":"double","description":"Longitude","example":12.003455},"locationY":{"type":"number","format":"double","description":"Latitude","example":25.012},"location":{"$ref":"#/components/schemas/GeoJsonPoint_Non_Authenticated_Entity","description":"GeoJson location"}}},"LookupLightweight_Non_Authenticated_Entity":{"type":"object","properties":{"identifier":{"type":"string","format":"uuid","description":"Unique lookup identifier","example":"lookup-1"},"type":{"type":"string","description":"Type of lookup","enum":["CITY","ISLAND","HOTEL","SPA","MEETING_ROOM","RESTAURANT","ATTRACTION","ACTIVITY","PLACE","COUNTRY"],"example":"CITY"},"typeIdentifier":{"type":"string","format":"uuid","description":"Unique lookup type identifier","example":"lookup-city-1"},"name":{"type":"string","description":"Name of lookup","example":"Archery on horseback"},"urlName":{"type":"string","description":"Url-friendly slug that uniquely identifies this lookup","example":"archery-on-horseback"},"ownerIdentifier":{"type":"string","format":"uuid","description":"Lookup that is supplier inventory includes the supplier identifier","example":"hotel-1"},"ownerName":{"type":"string","description":"Lookup that is supplier inventory includes the supplier name","example":"My Chic Hotel"},"cityName":{"type":"string","description":"Closest city where lookup entry is located","example":"Los Angeles"},"countryName":{"type":"string","description":"Country where lookup entry is located","example":"United States"},"subCountryName":{"type":"string","description":"State where lookup entry is located","example":"California"},"subSubCountryName":{"type":"string","description":"County where lookup entry is located","example":"Orange County"},"countryCode":{"type":"string","description":"Country code","example":"US"},"ownerType":{"type":"string","description":"The type of owner that created this lookup","enum":["TRAVELIKO","HOTEL"],"example":"HOTEL"},"languageCode":{"type":"string","description":"The language the lookup code was written in","example":"en-US"},"sort":{"type":"integer","format":"int32","description":"Platform-specific sort","example":2},"origin":{"type":"boolean","description":"If this lookup is the origin lookup.","example":true},"lowercaseName":{"type":"string","description":"Name in lower case","example":"archery on horseback"},"location":{"$ref":"#/components/schemas/GeoJsonPoint_Non_Authenticated_Entity","description":"Geo-location","example":{"type":"POINT","coordinates":[100.5581533,13.7370197]}}},"required":["location"]}},"securitySchemes":{"oauth2ClientCredentials":{"type":"oauth2","description":"## Retrieve access token\nMake a POST (`Content-Type: application/x-www-form-urlencoded`) request to the Token URL below. Include one POST key/value entry: `grant_type=client_credentials` and include your clientID / secretKey credentials in a Basic Auth header. E.g. `Authorization: Basic base64_encode($clientId + ':' + $secretKey)`.\n## Add Bearer access token to all API requests\nOnce you have the access token, you can pass that along on all API requests in the authentication header: `'Authorization: Bearer $accessToken`.\nNote: Tokens expire after 3 hours. Please make sure you refresh your token before that time.","name":"Client Credentials","flows":{"clientCredentials":{"authorizationUrl":"https://iam.wink.travel/oauth2/authorize","tokenUrl":"https://iam.wink.travel/oauth2/token","refreshUrl":"https://iam.wink.travel/oauth2/refresh","scopes":{"inventory.read":"Read Wink data","inventory.write":"Create Wink data","inventory.remove":"Remove Wink data"}}}}}}}