{"openapi":"3.0.1","info":{"title":"Wink API","description":"## APIs\nNot every integrator needs every APIs. For that reason, we have separated APIs into context.\n\n- [Affiliate](/affiliate): All APIs related to selling travel inventory as an affiliate.\n- [Analytics](/analytics): All APIs related to tracking metrics across a wide variety of data source segments including, more entertaining, leaderboard metrics.\n- [Booking](/booking): All APIs related to creating platform bookings.\n- [Channel Manager](/channel-manager): All APIs related to channel managers who want to integrate with our platform.\n- [Extranet](/extranet): All APIs related to managing travel inventory and suppliers.\n- [Inventory](/inventory): All APIs related to retrieve known travel inventory as it was found using the Lookup API..\n- [Lookup](/lookup): All APIs related to locating inventory by region, locale and property flags.\n- [Reference](/reference): All APIs related to retrieving platform-supported taxonomies.\n- [TripPay](/payment): All APIs related to TripPay account management, booking, mapping and integration features.\n\n## SDKs\nWe are actively working on supporting the most used languages out there. If you don't see your language here, reach out to us with a request to officially add your language. In the meantime, if you want to roll your own SDK, you can do so by downloading the OpenAPI spec and using one of the many available OpenAPI generators available: [https://openapi-generator.tech/docs/generators](https://openapi-generator.tech/docs/generators).\n\n- Java SDK [https://github.com/wink-travel/wink-sdk-java](https://github.com/wink-travel/wink-sdk-java)\n\n## Usage\nThese features are made available to you via a [REST API](https://en.wikipedia.org/wiki/Representational_state_transfer). This API is language agnostic.\n\n## Versioning\nWe chose to version our endpoints in a way that we hope affects your integration with us the least. You request the version of our API you wish to work with via the `Wink-Version` header. When it's time for you to upgrade, you only have to change the version number to get access to our updated endpoints.\n\n## Release history\n- 2022-10-15: v2.0 - Removed HATEOAS and added Wink-Version header\n- 2022-05-08: v1 - Exposed channel manager API\n- 2021-07-01: v1 - Initial release\n\n\n# Lookup API\nWelcome to the Lookup API - A programmer-friendly way to search for bespoke travel inventory across geographic regions.\nWe take great care in only working with properties that have quality, curated content and ways to bundle and cross sell customers with ancillary products and experiences. Suppliers have the ability to make their inventory look great and be searchable in a wide variety of ways. You can work with suppliers directly or receive payment-level pricing available to all our integration partners.\n\n# Intended Audience\nProgrammers are a requirement to start integrating with wink. You will benefit from an API integration if you are new or existing travel related company that want easy access to great inventory. Examples:\n- Hotel brands / chains that want to make their own booking engine\n- Travel tech companies that want to create the next hot mobile travel app\n- Destination sites that want to make their own booking engine\n- OTAs that want access direct relationships with suppliers and better quality hotel inventory\n","contact":{"name":"Bjorn Harvold","email":"bjorn@wink.travel"},"version":"29.59.0","x-logo":{"backgroundColor":"#FFFFFF","altText":"wink","url":"https://res.cloudinary.com/traveliko/image/upload/c_scale,h_129/v1653285543/wink/logo_text_white.svg"}},"externalDocs":{"description":"Lookup Documentation","url":"https://bearchoke.atlassian.net/l/c/851wDdoG"},"servers":[{"url":"https://api.wink.travel","description":"Production endpoint"},{"url":"https://staging-api.wink.travel","description":"Sandbox endpoint"},{"url":"https://dev-api.wink.travel","description":"Developer endpoint"}],"tags":[{"name":"Test","description":"Simple GET request to show that your configuration works."},{"name":"Lookup","description":"Use the Lookup API to help find the destination where you will be searching for available travel inventory."}],"paths":{"/api/search/geo":{"post":{"tags":["Lookup"],"summary":"By Geo-Location","description":"Search for properties near a point or within bounds. Populate either `request.userSession.location` OR `request.userSession.bounds`.","operationId":"oauth2SearchByGeoLocation","parameters":[{"name":"engineConfigurationIdentifier","in":"query","description":"Engine configuration identifier","required":false,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MapRequest_Non_Authenticated_Entity"}}},"required":true},"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageHotelWithBestPrice_Non_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/search/city":{"post":{"tags":["Lookup"],"summary":"City Search","description":"Search for hotels in / around a city","operationId":"oauth2SearchInventoryByCity","parameters":[{"name":"engineConfigurationIdentifier","in":"query","description":"Engine configuration identifier","required":false,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CitySearchRequest_Non_Authenticated_Entity"}}},"required":true},"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageHotelWithBestPrice_Non_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/ranked/search/global":{"post":{"tags":["Lookup"],"summary":"Ranked Global Search","description":"Search best scoring hotels in the world and order by scoring type","operationId":"oauth2SearchScoreByGlobal","parameters":[{"name":"engineConfigurationIdentifier","in":"query","description":"Engine configuration identifier","required":false,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GlobalScoreRequest_Non_Authenticated_Entity"}}},"required":true},"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageHotelWithBestPrice_Non_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/ranked/search/country":{"post":{"tags":["Lookup"],"summary":"Ranked Country Search","description":"Search for hotels in a country and order by scoring type","operationId":"oauth2SearchScoreByCountry","parameters":[{"name":"engineConfigurationIdentifier","in":"query","description":"Engine configuration identifier","required":false,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CountryScoreRequest_Non_Authenticated_Entity"}}},"required":true},"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageHotelWithBestPrice_Non_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/ranked/search/city":{"post":{"tags":["Lookup"],"summary":"Ranked City Search","description":"Search for hotels in / around a city and order by scoring type","operationId":"oauth2ScoreInventoryByCity","parameters":[{"name":"engineConfigurationIdentifier","in":"query","description":"Engine configuration identifier","required":false,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CityScoreRequest_Non_Authenticated_Entity"}}},"required":true},"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageHotelWithBestPrice_Non_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/search":{"get":{"tags":["Lookup"],"summary":"Search Lookups","description":"Searches for hotels, cities or countries by the search term.","operationId":"oauth2SearchSuggestions","parameters":[{"name":"term","in":"query","description":"Search for lookups by this term","required":true,"schema":{"type":"string"},"example":"Los A"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LookupCached_Non_Authenticated_Entity"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/lookup/{urlName}":{"get":{"tags":["Lookup"],"summary":"Show Lookup","description":"Show lookup object by its unique url name.","operationId":"oauth2ShowLookup","parameters":[{"name":"urlName","in":"path","description":"Show lookup by unique url name","required":true,"schema":{"type":"string"},"example":"los-angeles"},{"name":"type","in":"query","description":"Filter on type","required":true,"schema":{"type":"string","enum":["CITY","ISLAND","HOTEL","SPA","MEETING_ROOM","RESTAURANT","ATTRACTION","ACTIVITY","PLACE","COUNTRY"]},"example":"CITY"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Lookup_Non_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/hello":{"get":{"tags":["Test"],"summary":"Ping","description":"Simple ping endpoint to test your credentials.","operationId":"ping","responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}},"security":[{"oauth2ClientCredentials":[]}]}}},"components":{"schemas":{"GenericErrorMessage":{"type":"object","properties":{"timestamp":{"type":"string","xml":{"attribute":true}},"status":{"type":"integer","format":"int32","xml":{"attribute":true}},"error":{"type":"string"},"message":{"type":"string"},"path":{"type":"string"}},"description":"Generic error message","xml":{"name":"ErrorMessage"}},"Child_Non_Authenticated_Entity":{"required":["age","quantity"],"type":"object","properties":{"quantity":{"minimum":1,"type":"integer","description":"Number of children","format":"int32"},"age":{"minimum":0,"type":"integer","description":"Age of children","format":"int32"}},"description":"Child configuration"},"GeoJsonLineString_Non_Authenticated_Entity":{"type":"object","properties":{"type":{"type":"string"},"coordinates":{"type":"array","items":{"$ref":"#/components/schemas/Point_Non_Authenticated_Entity"}}}},"GeoJsonPoint_Non_Authenticated_Entity":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"},"type":{"type":"string"},"coordinates":{"type":"array","items":{"type":"number","format":"double"}}},"description":"User's last map location"},"GeoJsonPolygon_Non_Authenticated_Entity":{"type":"object","properties":{"points":{"type":"array","items":{"$ref":"#/components/schemas/Point_Non_Authenticated_Entity"}},"coordinates":{"type":"array","items":{"$ref":"#/components/schemas/GeoJsonLineString_Non_Authenticated_Entity"}},"type":{"type":"string"}},"description":"Map bounds the user is looking. Bounds provided by map provider."},"IPLocation_Non_Authenticated_Entity":{"type":"object","properties":{"cityName":{"type":"string"},"cityGeoNameId":{"type":"integer","format":"int64"},"countryName":{"type":"string"},"countryCode":{"type":"string"},"countryGeoNameId":{"type":"integer","format":"int64"},"continentName":{"type":"string"},"continentCode":{"type":"string"},"continentGeoNameId":{"type":"integer","format":"int64"},"timezone":{"type":"string"},"longitude":{"type":"number","format":"double"},"latitude":{"type":"number","format":"double"}}},"Itinerary_Non_Authenticated_Entity":{"required":["endDate","items","startDate"],"type":"object","properties":{"startDate":{"type":"string","description":"Start date","format":"date"},"endDate":{"type":"string","description":"End date","format":"date"},"items":{"maxItems":2147483647,"minItems":1,"type":"array","description":"Room configurations","items":{"$ref":"#/components/schemas/RoomConfiguration_Non_Authenticated_Entity"}},"hours":{"type":"integer","description":"Number of hours between start and end dates. Used for itineraries that require bookings that occur within hours and not days. E.g. Meeting room reservation.","format":"int64","readOnly":true},"valid":{"type":"boolean","description":"Whether this is a valid itinerary"},"children":{"type":"integer","description":"How many total children for this stay","format":"int32"},"nights":{"type":"integer","description":"How many total nights for this stay","format":"int32"},"rooms":{"type":"integer","description":"How many total rooms for this stay","format":"int32"},"guests":{"type":"integer","description":"How many total guests for this stay","format":"int32"}},"description":"SimpleDateTimeItinerary"},"MapRequest_Non_Authenticated_Entity":{"required":["userSession"],"type":"object","properties":{"userSession":{"$ref":"#/components/schemas/UserSession_Non_Authenticated_Entity"},"hotelIdentifiers":{"type":"array","items":{"type":"string","description":"Optionally exclude property identifiers.","format":"uuid"}},"page":{"minimum":0,"type":"integer","description":"The page to paginate to. Note: Page uses a 0-based index.","format":"int32","example":0,"default":0},"size":{"maximum":20,"minimum":1,"type":"integer","description":"The result size to return.","format":"int32","example":10,"default":10}}},"Point_Non_Authenticated_Entity":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"}}},"RoomConfiguration_Non_Authenticated_Entity":{"required":["adults"],"type":"object","properties":{"adults":{"minimum":1,"type":"integer","description":"Number of adults","format":"int32","example":2,"default":1},"children":{"type":"array","description":"Children configurations","items":{"$ref":"#/components/schemas/Child_Non_Authenticated_Entity"}},"getNumberOfAdultsDeterminedByHotelPolicy":{"type":"integer","format":"int32","writeOnly":true},"getNumberOfChildrenDeterminedByHotelPolicy":{"type":"integer","format":"int32","writeOnly":true}},"description":"Room Configuration"},"SearchFilters_Non_Authenticated_Entity":{"type":"object","properties":{"maxDistance":{"type":"number","description":"A user can query for hotels that are close to UserSession.location","format":"double","example":10},"lifestyle":{"type":"string","description":"A user can filter inventory on a lifestyle","example":"LIFESTYLE_RELAX","enum":["LIFESTYLE_HEALTH_FITNESS","LIFESTYLE_RELAX","LIFESTYLE_ADULT_ONLY","LIFESTYLE_ADVENTURE","LIFESTYLE_BUSINESS","LIFESTYLE_LGBT","LIFESTYLE_SINGLE_PARENT","LIFESTYLE_SOLO_FEMALE","LIFESTYLE_BEAUTY","LIFESTYLE_FOODIE","LIFESTYLE_FAMILY","LIFESTYLE_ROMANCE","LIFESTYLE_COUPLE","LIFESTYLE_SOLO","LIFESTYLE_BACKPACKER","LIFESTYLE_SHOPPING","LIFESTYLE_SPORTS","LIFESTYLE_MOUNTAIN","LIFESTYLE_BEACH","LIFESTYLE_CITY","LIFESTYLE_COUNTRY","LIFESTYLE_CULTURE","LIFESTYLE_ECO"]},"starRating":{"type":"integer","description":"A user can filter on number of hotel stars","format":"int32","example":4},"perks":{"type":"array","items":{"type":"string"}},"displayBy":{"type":"string"}},"description":"How user likes to have results displayed"},"UserSession_Non_Authenticated_Entity":{"required":["itinerary"],"type":"object","properties":{"location":{"$ref":"#/components/schemas/GeoJsonPoint_Non_Authenticated_Entity"},"ipLocation":{"$ref":"#/components/schemas/IPLocation_Non_Authenticated_Entity"},"ipNumber":{"type":"string","description":"User's incoming IP number","example":"203.543.122.021"},"bounds":{"$ref":"#/components/schemas/GeoJsonPolygon_Non_Authenticated_Entity"},"itinerary":{"$ref":"#/components/schemas/Itinerary_Non_Authenticated_Entity"},"searchFilters":{"$ref":"#/components/schemas/SearchFilters_Non_Authenticated_Entity"},"language":{"type":"string","description":"User's language preference","example":"en"},"currency":{"type":"string","description":"User's currency preference","example":"USD"},"redirectUrl":{"type":"string"},"promotionalCodes":{"type":"array","items":{"type":"string","description":"User can pass promotional codes to system to change prices.","example":"promo-1"}},"selectedRoomConfiguration":{"$ref":"#/components/schemas/RoomConfiguration_Non_Authenticated_Entity"}},"description":"User session information containing itinerary and other user related data."},"AddOnLocalizedInventory_Non_Authenticated_Entity":{"required":["addOn"],"type":"object","properties":{"addOn":{"$ref":"#/components/schemas/AddOn_Non_Authenticated_Entity"},"priceList":{"type":"array","items":{"$ref":"#/components/schemas/LocalizedTransactionalTravelInventory_Non_Authenticated_Entity"}},"channelInventoryIdentifier":{"type":"string","description":"Channel inventory identifier referencing this record.","format":"uuid"},"commissionable":{"type":"boolean","description":"Whether this package is commissionable based on the incoming sales channel."},"commission":{"type":"number","description":"The commission percentage.","format":"float","example":0.1}},"description":"Add-ons that are available with this room configuration"},"AddOn_Non_Authenticated_Entity":{"required":["active","address","bookable","commissionable","contact","descriptions","featuredInd","hotelIdentifier","identifier","location","mandatory","multimedias","name","numberOfUnits","pricePoint","proximityCode"],"type":"object","properties":{"identifier":{"type":"string","description":"Unique record identifier","format":"uuid"},"hotelIdentifier":{"type":"string","description":"Hotel identifier.","format":"uuid"},"featuredInd":{"type":"boolean","description":"Indicates whether this inventory is featured. Use this flag as a way to signify that this inventory is special.","example":false},"lifestyleType":{"type":"string","description":"Indicate the type of lifestyle this inventory should be associated with.","example":"LIFESTYLE_HEALTH_FITNESS","enum":["LIFESTYLE_HEALTH_FITNESS","LIFESTYLE_RELAX","LIFESTYLE_ADULT_ONLY","LIFESTYLE_ADVENTURE","LIFESTYLE_BUSINESS","LIFESTYLE_LGBT","LIFESTYLE_SINGLE_PARENT","LIFESTYLE_SOLO_FEMALE","LIFESTYLE_BEAUTY","LIFESTYLE_FOODIE","LIFESTYLE_FAMILY","LIFESTYLE_ROMANCE","LIFESTYLE_COUPLE","LIFESTYLE_SOLO","LIFESTYLE_BACKPACKER","LIFESTYLE_SHOPPING","LIFESTYLE_SPORTS","LIFESTYLE_MOUNTAIN","LIFESTYLE_BEACH","LIFESTYLE_CITY","LIFESTYLE_COUNTRY","LIFESTYLE_CULTURE","LIFESTYLE_ECO"]},"location":{"$ref":"#/components/schemas/GeoJsonPoint_Non_Authenticated_Entity"},"descriptions":{"type":"array","description":"Localized descriptions describing inventory.","items":{"$ref":"#/components/schemas/SimpleDescription_Non_Authenticated_Entity"}},"multimedias":{"type":"array","description":"List of images / videos of inventory.","items":{"$ref":"#/components/schemas/SimpleMultimedia_Non_Authenticated_Entity"}},"contact":{"$ref":"#/components/schemas/Contact_Non_Authenticated_Entity"},"address":{"$ref":"#/components/schemas/Address_Non_Authenticated_Entity"},"commissionable":{"type":"boolean","description":"Indicate whether sales channels receive commission for selling this inventory.","example":true,"default":true},"name":{"type":"string","description":"Internal name of inventory.","example":"Archery lesson"},"proximityCode":{"type":"string","description":"Supported OTA specification `PRX` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"1"},"sort":{"type":"integer","description":"Use this property to sort an inventory in a list of activities.","format":"int32","example":1},"minAgeAppropriateCode":{"type":"string","description":"Supported OTA specification `AQC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"1"},"bookable":{"type":"boolean","description":"Indicates if this inventory can be added to a booking or if it is read-only marketing material only.","example":true,"default":true},"active":{"type":"boolean","description":"Modify inventory availability with this flag.","example":true,"default":true},"disabilityFeatures":{"type":"array","description":"Supported OTA specification `PHY` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":["1"],"items":{"type":"string"}},"securityFeatures":{"type":"array","description":"Supported OTA specification `SEC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":["1"],"items":{"type":"string"}},"socials":{"type":"array","description":"Social network accounts for inventory (if applicable).","items":{"$ref":"#/components/schemas/Social_Non_Authenticated_Entity"}},"pricePoint":{"type":"string","description":"Level of expensiveness.","example":"THREE","default":"THREE","enum":["HALF","ONE","ONE_HALF","TWO","TWO_HALF","THREE","THREE_HALF","FOUR","FOUR_HALF","FIVE"]},"recognitionList":{"type":"array","description":"Inventory-level recognition.","items":{"$ref":"#/components/schemas/TravelInventoryRecognition_Non_Authenticated_Entity"}},"applicableStart":{"type":"string","description":"Start month and day or date for which the attraction (e.g. the start of a season) is available. This date property signifies that the inventory is recurring and / or seasonal. If the date is in the past, only day and month will be used to infer seasonality. If the date is a future date, it will be interpreted as a starting date.","format":"date","example":"1970-01-01"},"applicableEnd":{"type":"string","description":"End month and day or date for which the attraction (e.g. the start of a season) is available. This date property signifies that the inventory is recurring and / or seasonal. If the date is in the past, only day and month will be used to infer seasonality. If the date is a future date, it will be interpreted as a ending date.","format":"date","example":"1970-12-01"},"reservationRequiredInd":{"type":"boolean","description":"Indicates whether a reservation is required to participate in this inventory.","example":false},"opens":{"type":"string","description":"Opening time of inventory (if applicable). Leave empty if inventory is always available.","example":"09:00"},"closes":{"type":"string","description":"Closing time of inventory (if applicable). Leave empty if inventory is always available.","example":"17:30"},"daysOfWeek":{"$ref":"#/components/schemas/DowPatternGroup_Non_Authenticated_Entity"},"numberOfUnits":{"minimum":0,"type":"integer","description":"Total number of add-ons available to purchase.","format":"int32","example":10,"default":0},"ratePlanIdentifier":{"type":"string","description":"Pass an optional rate plan identifier if you want to add more complex restrictions to this add-on. Example: You want the add-on to only be available when a specific room is available.","format":"uuid"},"ratePlan":{"$ref":"#/components/schemas/RatePlan_Non_Authenticated_Entity"},"mandatory":{"type":"boolean","description":"Make this add-on mandatory for all guests by enabling this flag.","example":true,"default":false}},"description":"The original add-on record created by the property."},"Address_Non_Authenticated_Entity":{"required":["address1","city"],"type":"object","properties":{"address1":{"type":"string","description":"Address line 1","example":"234 Near da beach"},"address2":{"type":"string","description":"Address line 2","example":"Pebble #5001"},"state":{"type":"string","description":"State","example":"CA"},"postalCode":{"type":"string","description":"Postal / zip code","example":"90210"},"county":{"type":"string","description":"County","example":"Alameda county"},"city":{"$ref":"#/components/schemas/GeoName_Non_Authenticated_Entity"},"valid":{"type":"boolean"},"fullAddress":{"type":"string"}},"description":"Address information"},"Bed_Non_Authenticated_Entity":{"required":["bedTypeCode","quantity"],"type":"object","properties":{"bedTypeCode":{"type":"string","description":"Indicates the type of bed(s) found in the room. Typical values would be Double, Twin, Queen, or King. Supported OTA specification `BED` code. See [OTA geoname data](#operation/showAvailableCodesForCategory).","example":"1"},"quantity":{"minimum":1,"type":"integer","description":"Number of beds for this bed type.","format":"int32","example":10}}},"BedroomConfiguration_Non_Authenticated_Entity":{"required":["bedroomList","identifier","name"],"type":"object","properties":{"identifier":{"type":"string","description":"Unique identifier","format":"uuid"},"name":{"type":"string","description":"Name of layout"},"bedroomList":{"type":"array","description":"A room type can have more than one bedroom configuration.","items":{"$ref":"#/components/schemas/Bedroom_Non_Authenticated_Entity"}}}},"Bedroom_Non_Authenticated_Entity":{"required":["bedList","type"],"type":"object","properties":{"type":{"type":"string","description":"Type of bedroom","enum":["MASTER","QUEEN","JUNIOR","DORMITORY","BEDROOM_1","BEDROOM_2","BEDROOM_3","BEDROOM_4","BEDROOM_5","BEDROOM_6","BEDROOM_7","BEDROOM_8","BEDROOM_9","BEDROOM_10"]},"bedList":{"type":"array","description":"A bedroom can have more than one bed type.","items":{"$ref":"#/components/schemas/Bed_Non_Authenticated_Entity"}}}},"CancellationPolicyException_Non_Authenticated_Entity":{"required":["cancellationPolicy","cancellationPolicyIdentifier","endDate","startDate"],"type":"object","properties":{"cancellationPolicyIdentifier":{"type":"string","description":"Cancellation policy","format":"uuid"},"cancellationPolicy":{"$ref":"#/components/schemas/CancellationPolicy_Non_Authenticated_Entity"},"startDate":{"type":"string","description":"Start date for when this cancellation policy should start to override the default cancellation policy.","format":"date"},"endDate":{"type":"string","description":"End date for when this cancellation policy should end overriding the default cancellation policy.","format":"date"}}},"CancellationPolicyExceptions_Non_Authenticated_Entity":{"required":["list"],"type":"object","properties":{"list":{"type":"array","description":"List of cancellation policy exceptions","items":{"$ref":"#/components/schemas/CancellationPolicyException_Non_Authenticated_Entity"}}},"description":"Allows a property to dynamically use another cancellation policy for a specific date range"},"CancellationPolicy_Non_Authenticated_Entity":{"required":["hotelIdentifier","identifier","refundable"],"type":"object","properties":{"identifier":{"type":"string","description":"Unique cancellation policy identifier","format":"uuid"},"hotelIdentifier":{"type":"string","description":"Property this cancellation is associated with","format":"uuid"},"refundable":{"type":"boolean","description":"Whether this cancellation policy is refundable or not","example":false,"default":false},"advanceCancellationFreeOfCharge":{"type":"string","description":"When the cancellation policy is refundable, this flag can be set and indicates there is more rules involved than just a no-questions-asked refundable.","example":"UNTIL_EIGHTEEN_HUNDRED_HOURS_ON_DAY_OF_ARRIVAL","enum":["UNTIL_EIGHTEEN_HUNDRED_HOURS_ON_DAY_OF_ARRIVAL","UNTIL_FOURTEEN_HUNDRED_HOURS_ON_DAY_OF_ARRIVAL","ONE_DAY_BEFORE_ARRIVAL","TWO_DAYS_BEFORE_ARRIVAL","THREE_DAYS_BEFORE_ARRIVAL","FIVE_DAYS_BEFORE_ARRIVAL","SEVEN_DAYS_BEFORE_ARRIVAL","FOURTEEN_DAYS_BEFORE_ARRIVAL","TWENTYONE_DAYS_BEFORE_ARRIVAL","THIRTY_DAYS_BEFORE_ARRIVAL","FOURTY_TWO_DAYS_BEFORE_ARRIVAL","SIXTY_DAYS_BEFORE_ARRIVAL"]},"refundableCancellationCharge":{"type":"string","description":"If advanceCancellationFreeOfCharge rules is not honored, this property explains what the guest will be charged.","example":"FIFTY_PERCENT","enum":["FIRST_NIGHT","THIRTY_PERCENT","FIFTY_PERCENT","SIXTY_PERCENT","SEVENTY_PERCENT","NINENTY_PERCENT","ONE_HUNDRED_PERCENT"]},"noShowCharge":{"type":"string","description":"In case the 'Refundable cancellation charge' is set, a different no show charge can be applied.","example":"SAME_AS_CANCELLATION_FEE","enum":["SAME_AS_CANCELLATION_FEE","ONE_HUNDRED_PERCENT_OF_TOTAL_CHARGE"]},"nonRefundableCancellationCharge":{"type":"string","description":"When the cancellation policy is non-refundable, this flag can be set and indicates there is more rules involved to calculate what the guest will owe in case of a cancellation.","example":"SEVENTY_PERCENT","enum":["FIRST_NIGHT","TEN_PERCENT","THIRTY_PERCENT","FIFTY_PERCENT","SEVENTY_PERCENT"]},"nonRefundableDeadline":{"type":"string","description":"The non-refundable charge might can have a deadline. If that deadline passes, the guest might be charged more.","example":"SEVEN_DAYS_BEFORE_ARRIVAL","enum":["ONE_DAY_BEFORE_ARRIVAL","TWO_DAYS_BEFORE_ARRIVAL","THREE_DAYS_BEFORE_ARRIVAL","FIVE_DAYS_BEFORE_ARRIVAL","SEVEN_DAYS_BEFORE_ARRIVAL","FOURTEEN_DAYS_BEFORE_ARRIVAL","TWENTYONE_DAYS_BEFORE_ARRIVAL","THIRTY_DAYS_BEFORE_ARRIVAL","FOURTY_TWO_DAYS_BEFORE_ARRIVAL","SIXTY_DAYS_BEFORE_ARRIVAL"]},"nonRefundableAfterDeadlineCancellationCharge":{"type":"string","description":"If the guest does not honor the non-refundable deadline rule, this charge dictates what she owes after the deadline passes.","example":"ONE_HUNDRED_PERCENT","enum":["FIRST_NIGHT","TEN_PERCENT","THIRTY_PERCENT","FIFTY_PERCENT","SEVENTY_PERCENT","ONE_HUNDRED_PERCENT"]},"policyCode":{"type":"string"}},"description":"The active / selected cancellation policy for this room configuration"},"Contact_Non_Authenticated_Entity":{"type":"object","properties":{"firstName":{"type":"string","description":"Contact first name","example":"John"},"lastName":{"type":"string","description":"Contact last name","example":"Smith"},"email":{"type":"string","description":"Contact E-mail","example":"johnsmith@email.com"},"secondaryEmail":{"type":"string","description":"Contact secondary Email","example":"johnsmith2@email.com"},"phoneNumber":{"type":"string","description":"Contact phone number","example":"+12125551212"},"fullName":{"type":"string","description":"First and last name","example":"John Smith"},"summary":{"type":"string","description":"Summary","example":"John Smith\n0123456768\njohnsmith@email.com"}},"description":"Associate a contact person for this inventory (if applicable)."},"Country_Non_Authenticated_Entity":{"type":"object","properties":{"iso":{"type":"string","description":"ISO code","example":"US"},"name":{"type":"string","description":"Country name","example":"United States"},"capital":{"type":"string","description":"Country capital","example":"Washington"},"continent":{"type":"string","description":"Continent code","example":"NA"},"currencyCode":{"type":"string","description":"Currency code","example":"USD"},"currencyName":{"type":"string","description":"Currency name","example":"Dollar"},"geoNameId":{"type":"string","description":"Country GeoNames identifier","example":"6252001"}},"description":"Country"},"CustomMonetaryAmount":{"type":"object","properties":{"amount":{"type":"number"},"currency":{"type":"string"}}},"DowPatternGroup_Non_Authenticated_Entity":{"type":"object","properties":{"mon":{"type":"boolean","description":"Set to `true` to enable Monday.","example":true},"tue":{"type":"boolean","description":"Set to `true` to enable Tuesday.","example":true},"wed":{"type":"boolean","description":"Set to `true` to enable Wednesday.","example":true},"thu":{"type":"boolean","description":"Set to `true` to enable Thursday.","example":true},"fri":{"type":"boolean","description":"Set to `true` to enable Friday.","example":true},"sat":{"type":"boolean","description":"Set to `true` to enable Saturday.","example":true},"sun":{"type":"boolean","description":"Set to `true` to enable Sunday.","example":true},"disabled":{"type":"boolean","description":"Convenience property to quickly determine if this existing object has any active days enabled.","example":true}},"description":"Indicate which days this inventory is open."},"ExtraCharge_Non_Authenticated_Entity":{"title":"Items","type":"object","properties":{"ratePlanLevelFee":{"$ref":"#/components/schemas/RatePlanLevelFee_Non_Authenticated_Entity"},"unitPrice":{"$ref":"#/components/schemas/LocalizedPrice_Non_Authenticated_Entity"},"price":{"$ref":"#/components/schemas/LocalizedPrice_Non_Authenticated_Entity"}},"description":"List of extra charges that applies to the rate plan."},"ExtraCharges_Non_Authenticated_Entity":{"type":"object","properties":{"items":{"title":"Items","type":"array","description":"List of extra charges that applies to the rate plan.","items":{"$ref":"#/components/schemas/ExtraCharge_Non_Authenticated_Entity"}},"userSpecifiedCurrencyTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"sourceTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"internalTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"}},"description":"Per rate plan level extra charges with localized prices"},"GeneralManager_Non_Authenticated_Entity":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"Name of GM currently managing the property.","example":"Jane Doe"},"image":{"$ref":"#/components/schemas/SimpleMultimedia_Non_Authenticated_Entity"},"descriptions":{"type":"array","description":"Localized welcome message from GM.","items":{"$ref":"#/components/schemas/LocalizedDescription_Non_Authenticated_Entity"}}},"description":"General manager related data."},"GeoName_Non_Authenticated_Entity":{"type":"object","properties":{"geoNameId":{"type":"string","description":"GeoName identifier","example":"5128581"},"type":{"type":"string","description":"GeoName type","enum":["CITY","ISLAND","OTHER"]},"name":{"type":"string","description":"Name of city","example":"New York City"},"urlName":{"type":"string","description":"Url name","example":"new-york-city-united-states"},"asciiName":{"type":"string","description":"Ascii name of city","example":"New York City"},"location":{"$ref":"#/components/schemas/GeoJsonPoint_Non_Authenticated_Entity"},"featureCode":{"type":"string"},"countryCode":{"type":"string"},"timezone":{"type":"string","description":"Timezone","example":"America/New_York"},"country":{"$ref":"#/components/schemas/Country_Non_Authenticated_Entity"},"subCountry":{"$ref":"#/components/schemas/SubCountry_Non_Authenticated_Entity"},"subSubCountry":{"$ref":"#/components/schemas/SubSubCountry_Non_Authenticated_Entity"}},"description":"GeoNames have been created at [https://geonames.org](https://geonames.org) and contain geographical destinations we use as geoname data to associate travel inventory with a location."},"GuestRoom_Non_Authenticated_Entity":{"required":["active","address","bathroomCount","bedroomConfigurationList","bookable","commissionable","composite","compositeCount","contact","descriptions","featuredInd","hotelIdentifier","identifier","includedAdultOccupancy","includedChildOccupancy","livingRoomCount","location","maxAdultOccupancy","maxChildOccupancy","maxCribs","maxOccupancy","maxRollaways","minOccupancy","multimedias","name","nonSmoking","pricePoint","proximityCode","quantity","roomArchitectureCode","roomCategory","roomClassificationCode","roomLocationCode","roomViewCode","sharedRoomInd","size"],"type":"object","properties":{"identifier":{"type":"string","description":"Unique record identifier","format":"uuid"},"hotelIdentifier":{"type":"string","description":"Hotel identifier.","format":"uuid"},"featuredInd":{"type":"boolean","description":"Indicates whether this inventory is featured. Use this flag as a way to signify that this inventory is special.","example":false},"lifestyleType":{"type":"string","description":"Indicate the type of lifestyle this inventory should be associated with.","example":"LIFESTYLE_HEALTH_FITNESS","enum":["LIFESTYLE_HEALTH_FITNESS","LIFESTYLE_RELAX","LIFESTYLE_ADULT_ONLY","LIFESTYLE_ADVENTURE","LIFESTYLE_BUSINESS","LIFESTYLE_LGBT","LIFESTYLE_SINGLE_PARENT","LIFESTYLE_SOLO_FEMALE","LIFESTYLE_BEAUTY","LIFESTYLE_FOODIE","LIFESTYLE_FAMILY","LIFESTYLE_ROMANCE","LIFESTYLE_COUPLE","LIFESTYLE_SOLO","LIFESTYLE_BACKPACKER","LIFESTYLE_SHOPPING","LIFESTYLE_SPORTS","LIFESTYLE_MOUNTAIN","LIFESTYLE_BEACH","LIFESTYLE_CITY","LIFESTYLE_COUNTRY","LIFESTYLE_CULTURE","LIFESTYLE_ECO"]},"location":{"$ref":"#/components/schemas/GeoJsonPoint_Non_Authenticated_Entity"},"descriptions":{"type":"array","description":"Localized descriptions describing inventory.","items":{"$ref":"#/components/schemas/SimpleDescription_Non_Authenticated_Entity"}},"multimedias":{"type":"array","description":"List of images / videos of inventory.","items":{"$ref":"#/components/schemas/SimpleMultimedia_Non_Authenticated_Entity"}},"contact":{"$ref":"#/components/schemas/Contact_Non_Authenticated_Entity"},"address":{"$ref":"#/components/schemas/Address_Non_Authenticated_Entity"},"commissionable":{"type":"boolean","description":"Indicate whether sales channels receive commission for selling this inventory.","example":true,"default":true},"name":{"type":"string","description":"Internal name of inventory.","example":"Archery lesson"},"proximityCode":{"type":"string","description":"Supported OTA specification `PRX` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"1"},"sort":{"type":"integer","description":"Use this property to sort an inventory in a list of activities.","format":"int32","example":1},"minAgeAppropriateCode":{"type":"string","description":"Supported OTA specification `AQC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"1"},"bookable":{"type":"boolean","description":"Indicates if this inventory can be added to a booking or if it is read-only marketing material only.","example":true,"default":true},"active":{"type":"boolean","description":"Modify inventory availability with this flag.","example":true,"default":true},"disabilityFeatures":{"type":"array","description":"Supported OTA specification `PHY` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":["1"],"items":{"type":"string"}},"securityFeatures":{"type":"array","description":"Supported OTA specification `SEC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":["1"],"items":{"type":"string"}},"socials":{"type":"array","description":"Social network accounts for inventory (if applicable).","items":{"$ref":"#/components/schemas/Social_Non_Authenticated_Entity"}},"pricePoint":{"type":"string","description":"Level of expensiveness.","example":"THREE","default":"THREE","enum":["HALF","ONE","ONE_HALF","TWO","TWO_HALF","THREE","THREE_HALF","FOUR","FOUR_HALF","FIVE"]},"recognitionList":{"type":"array","description":"Inventory-level recognition.","items":{"$ref":"#/components/schemas/TravelInventoryRecognition_Non_Authenticated_Entity"}},"maxOccupancy":{"minimum":1,"type":"integer","description":"Maximum number of guest allowed in a room type.","format":"int32","example":2,"default":2},"minOccupancy":{"minimum":1,"type":"integer","description":"Minimum number of guests allowed in a room type.","format":"int32","example":1,"default":1},"quantity":{"minimum":1,"type":"integer","description":"Defines the number of rooms of this type","format":"int32","example":40},"nonSmoking":{"type":"boolean","description":"Non-smoking indicator","example":true},"bedroomConfigurationList":{"type":"array","description":"A room type can have more than one bed configuration.","items":{"$ref":"#/components/schemas/BedroomConfiguration_Non_Authenticated_Entity"}},"size":{"minimum":1,"type":"number","description":"Number of square meters that defines the size of this room type.","format":"float","example":55},"maxAdultOccupancy":{"minimum":1,"type":"integer","description":"Maximum number of adults allowed in a room type.","format":"int32","example":1,"default":2},"maxChildOccupancy":{"minimum":0,"type":"integer","description":"Maximum number of children allowed in a room type.","format":"int32","example":0,"default":0},"bathroomCount":{"minimum":0,"type":"integer","description":"Number of bathrooms","format":"int32","example":0,"default":1},"livingRoomCount":{"minimum":0,"type":"integer","description":"Number of living rooms","format":"int32","example":0,"default":1},"maxRollaways":{"minimum":0,"type":"integer","description":"Maximum number of rollaway beds allowed in this room type.","format":"int32","example":0,"default":0},"roomCategory":{"type":"string","description":"Indicates the category of the room. Typical values would be Moderate, Standard, or Deluxe. Supported OTA specification `SEG` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"1"},"floor":{"type":"string","description":"Floor an which a room is located"},"roomLocationCode":{"type":"string","description":"Indicates the location of the room within the hotel structure. Typical values would be \"Near Exit\",\"Close to elevator\", \"Low Floor\" or \"High Floor\". Supported OTA specification `RLT` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"1"},"roomViewCode":{"type":"string","description":"Indicates the view of the room. Typical values would be \"Ocean view\", \"Pool view\" or \"Garden View\". Supported OTA specification `RVT` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"1"},"composite":{"type":"boolean","description":"Indicates that the room (suite) is a composite of smaller units.","example":false,"default":false},"compositeCount":{"minimum":0,"type":"integer","description":"Number of rooms of this room type that makes up a larger unit (composite) such as a two bedroom suite could be comprised of two king rooms plus other room types. A 0 means disabled.","format":"int32","example":2,"default":0},"roomClassificationCode":{"type":"string","description":"Specifies the room classification (e.g., cabin, apartment). Supported OTA specification `GRI` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"1"},"roomArchitectureCode":{"type":"string","description":"Specifies the architectural style of a room. Supported OTA specification `ARC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"1"},"roomGender":{"type":"string","description":"Used to request or specify a gender assignment for a room. Note: Typically used by Hosteliers.","example":"Female","default":"Unknown","enum":["Male","Female","MaleAndFemale","Unknown"]},"sharedRoomInd":{"type":"boolean","description":"If TRUE, the room requires or has sharing available. Note: Typically used by Hosteliers.","example":false,"default":false},"maxCribs":{"minimum":0,"type":"integer","description":"Maximum number of cribs allowed in a room type.","format":"int32","example":1,"default":0},"amenities":{"type":"array","description":"Collection of room amenity items available to the guest. Supported OTA specification `RMA` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":["1","7"],"items":{"type":"string"}},"includedAdultOccupancy":{"minimum":0,"type":"integer","description":"The number of pax the room price was meant for","format":"int32","example":2,"default":2},"includedChildOccupancy":{"minimum":0,"type":"integer","description":"The number of children the room price was meant for","format":"int32","example":0,"default":0}},"description":"Unique property room types"},"HotelOnMap_Non_Authenticated_Entity":{"type":"object","properties":{"identifier":{"type":"string","description":"Unique record identifier. This is NOT the same as the unique hotel record identifier.","example":"document-1"},"hotelIdentifier":{"type":"string","description":"Unique hotel record identifier.","format":"uuid"},"name":{"type":"string","description":"Hotel trade name","example":"The Loveliest Hotel"},"localName":{"type":"string","description":"Hotel local name if different from the trade name or if it is the local language.","example":"Det Beste Hotellet"},"chain":{"type":"string","description":"Name of hotel chain if applicable.","example":"Hotel chain"},"brand":{"type":"string","description":"Name of hotel brand","example":"Hotel brand"},"urlName":{"type":"string","description":"Unique URL-friendly name slug of hotel","example":"the-loveliest-hotel-new-york-united-states"},"starRating":{"maximum":6,"minimum":0,"type":"integer","description":"Official or self-designated property star rating. Note that in some regions there are 6-star hotels. They are the same as 5-star hotels everywhere else.","format":"int32","example":4},"bookings":{"type":"integer","description":"Number of bookings for this property on the wink.travel payment.","format":"int64","example":6054,"default":0},"aggregateReviewRating":{"type":"number","description":"Aggregate score based on all current user reviews.","format":"float","example":7.8,"default":0.0},"location":{"$ref":"#/components/schemas/GeoJsonPoint_Non_Authenticated_Entity"},"shortDescriptions":{"type":"array","description":"A localized list of short property descriptions","items":{"$ref":"#/components/schemas/LocalizedDescription_Non_Authenticated_Entity"}},"longDescriptions":{"type":"array","description":"A localized list of longer property descriptions","items":{"$ref":"#/components/schemas/LocalizedDescription_Non_Authenticated_Entity"}},"aggregateGreendexRating":{"type":"number","description":"Aggregate Green Index score if the property has answered our questionnaire available in the Extranet.","format":"float","example":7.0,"default":0.0},"lifestyleTypes":{"type":"array","items":{"type":"string","description":"A list of lifestyles the property associates with.","example":"LIFESTYLE_HEALTH_FITNESS","enum":["LIFESTYLE_HEALTH_FITNESS","LIFESTYLE_RELAX","LIFESTYLE_ADULT_ONLY","LIFESTYLE_ADVENTURE","LIFESTYLE_BUSINESS","LIFESTYLE_LGBT","LIFESTYLE_SINGLE_PARENT","LIFESTYLE_SOLO_FEMALE","LIFESTYLE_BEAUTY","LIFESTYLE_FOODIE","LIFESTYLE_FAMILY","LIFESTYLE_ROMANCE","LIFESTYLE_COUPLE","LIFESTYLE_SOLO","LIFESTYLE_BACKPACKER","LIFESTYLE_SHOPPING","LIFESTYLE_SPORTS","LIFESTYLE_MOUNTAIN","LIFESTYLE_BEACH","LIFESTYLE_CITY","LIFESTYLE_COUNTRY","LIFESTYLE_CULTURE","LIFESTYLE_ECO"]}},"totalReviews":{"type":"integer","description":"Count of total reviews left by users at this property.","format":"int32","example":989,"default":0},"available":{"type":"boolean","description":"Flag indicating whether the payment has made this property available for sale.","example":true,"default":false},"hotelAvailable":{"type":"boolean","description":"Flag indicating whether the property has made this property available for sale.","example":true,"default":false},"reservations":{"$ref":"#/components/schemas/Contact_Non_Authenticated_Entity"},"socials":{"type":"array","description":"Property's social network accounts","items":{"$ref":"#/components/schemas/Social_Non_Authenticated_Entity"}},"images":{"type":"array","description":"Property images.","items":{"$ref":"#/components/schemas/SimpleMultimedia_Non_Authenticated_Entity"}},"videos":{"type":"array","description":"Property videos.","items":{"$ref":"#/components/schemas/SimpleMultimedia_Non_Authenticated_Entity"}},"policy":{"$ref":"#/components/schemas/PropertyPolicy_Non_Authenticated_Entity"},"thirdPartyReviews":{"type":"array","description":"Array of awards and third party reviews given to property by certified / non-certified providers.","items":{"$ref":"#/components/schemas/TravelInventoryRecognition_Non_Authenticated_Entity"}},"attractions":{"type":"integer","description":"Number of attractions property has listed on its profile.","format":"int32","example":5,"default":0},"recreations":{"type":"integer","description":"Number of activites property has listed on its profile.","format":"int32","example":3,"default":0},"pois":{"type":"integer","description":"Number of places property has listed on its profile.","format":"int32","example":9,"default":0},"restaurants":{"type":"integer","description":"Number of restaurants property has on its profile.","format":"int32","example":2,"default":0},"meetingRooms":{"type":"integer","description":"Number of meeting rooms property has on its profile.","format":"int32","example":2,"default":0},"spas":{"type":"integer","description":"Number of spas property has on its profile.","format":"int32","example":1,"default":0},"addOns":{"type":"integer","description":"Number of add-ons property has on its profile.","format":"int32","example":5,"default":0},"generalManager":{"$ref":"#/components/schemas/GeneralManager_Non_Authenticated_Entity"},"locationCategory":{"type":"string","description":"Supported OTA specification `LOC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"34"},"segmentCategory":{"type":"string","description":"Supported OTA specification `SEG` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"7"},"hotelCategory":{"type":"string","description":"Supported OTA specification `PCT` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"45"},"architecturalStyle":{"type":"string","description":"Supported OTA specification `ARC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"7"},"whenBuilt":{"type":"string","description":"Year the property was constructed.","example":"1927"},"currencyCode":{"type":"string","description":"Currency code for property.","example":"USD"},"membershipRateDiscount":{"type":"number","description":"A property's price score is based on calculating historical pricing data. Each property receives a unique score. There is no max score; it's there to compare it against other properties.","format":"float","example":9,"default":0},"priceScore":{"type":"integer","description":"A property's price score is based on calculating historical pricing data. Each property receives a unique score. There is no max score; it's there to compare it against other properties.","format":"int32","example":9,"default":0},"perkScore":{"type":"integer","description":"A property's perk score is based on the type of perks that is offered to the guests across all master rates. There is no max score; it's there to compare it against other properties.","format":"int32","example":4,"default":0},"packageScore":{"type":"integer","description":"A property's package score is based on general availability and price for all packages and add-ons offered by the property. There is no max score; it's there to compare it against other properties.","format":"int32","example":4,"default":0},"loyaltyScore":{"type":"integer","description":"A property's loyalty score is based on calculating how many available rate plans honor loyalty points. There is no max score; it's there to compare it against other properties.","format":"int32","example":5,"default":0},"popularScore":{"type":"integer","description":"A property's popular score is based on calculating number of bookings across room types. There is no max score; it's there to compare it against other properties.","format":"int32","example":45,"default":0},"experienceScore":{"type":"integer","description":"A property's experience score is based on how calculating how many types of experiences are available and at what price ranges. There is no max score; it's there to compare it against other properties.","format":"int32","example":5,"default":0},"availabilityScore":{"type":"integer","description":"A property's availability score is based on general availability of all room types. If most room types are always unavailable, the attractiveness of this property goes down. We use this as our primary benchmark to decide how and when to feature properties. There is no max score; it's there to compare it against other properties.","format":"int32","example":5,"default":0},"views":{"type":"integer","description":"Total number of user views of this property.","format":"int64","example":10432,"default":0},"hotelAmenityCodes":{"type":"array","description":"Supported OTA specification `HAC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":["1","7"],"items":{"type":"string","description":"Supported OTA specification `HAC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"[\"1\",\"7\"]"}},"propertyAccessibilityCodes":{"type":"array","description":"Supported OTA specification `PHY` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":["1","7"],"items":{"type":"string","description":"Supported OTA specification `PHY` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"[\"1\",\"7\"]"}},"propertySecurityCodes":{"type":"array","description":"Supported OTA specification `SEC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":["1","7"],"items":{"type":"string","description":"Supported OTA specification `SEC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"[\"1\",\"7\"]"}},"numberOfRooms":{"type":"integer","description":"Number of rooms / keys for this property.","format":"int32","example":32,"default":0},"address":{"$ref":"#/components/schemas/Address_Non_Authenticated_Entity"},"active":{"type":"boolean","description":"A property is considered active when both available and hotelAvailable flags are true.","example":true},"urlParameters":{"type":"string","description":"Convenience data point that creates url friendly query parameters of property."}},"description":"Property details"},"HotelWithBestPrice_Non_Authenticated_Entity":{"required":["hotel","potentialChannelDiscountPercent","price","priceList","roomTypeList","sourceToInternalCurrencyQuote","sourceToUserCurrencyQuote"],"type":"object","properties":{"hotel":{"$ref":"#/components/schemas/HotelOnMap_Non_Authenticated_Entity"},"price":{"$ref":"#/components/schemas/RoomTypeWithBestPrice_Non_Authenticated_Entity"},"roomTypeList":{"type":"array","description":"Unique property room types","items":{"$ref":"#/components/schemas/GuestRoom_Non_Authenticated_Entity"}},"priceList":{"type":"array","description":"Best-priced room types","items":{"$ref":"#/components/schemas/RoomTypeBestPrice_Non_Authenticated_Entity"}},"potentialChannelDiscountPercent":{"type":"number","description":"The potential discount the user is entitled to if user is a member / authenticated.","format":"float"},"distance":{"type":"number","description":"If property is within certain geo data result set, distance will be included here to signify the distance the property is from a specific geo-location.","format":"double"},"sourceToUserCurrencyQuote":{"$ref":"#/components/schemas/Quote_Non_Authenticated_Entity"},"sourceToInternalCurrencyQuote":{"$ref":"#/components/schemas/Quote_Non_Authenticated_Entity"},"available":{"type":"boolean","description":"Flag to indicate whether this inventory is available or not. This data point is identifier to the available flag on the `price` child data point."}}},"ImageAttribution_Non_Authenticated_Entity":{"required":["name"],"type":"object","properties":{"url":{"type":"string","description":"URL to contributor","example":"https://maps.google.com/maps/contrib/111628493169070103594"},"name":{"type":"string","description":"Name of contributor","example":"Samuel Adams"}},"description":"Whether image has attribution properties"},"LocalizedDescription_Non_Authenticated_Entity":{"required":["description","language"],"type":"object","properties":{"description":{"maxLength":2147483647,"minLength":1,"type":"string","description":"Longer text description","example":"This is a longer description that explains its relationship to parent nicely."},"language":{"maxLength":2,"minLength":2,"type":"string","description":"Indicate which language this description is written in.","example":"en","default":"en"}},"description":"Localized offer details if rate plan discount applies."},"LocalizedPrice_Non_Authenticated_Entity":{"required":["internalBaseTotal","sourceBaseTotal","sourceToInternalCurrencyQuote","sourceToUserCurrencyQuote","userSpecifiedCurrencyBaseTotal"],"type":"object","properties":{"sourceToUserCurrencyQuote":{"$ref":"#/components/schemas/Quote_Non_Authenticated_Entity"},"sourceToInternalCurrencyQuote":{"$ref":"#/components/schemas/Quote_Non_Authenticated_Entity"},"userSpecifiedCurrencyBaseTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"sourceBaseTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"internalBaseTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"userSpecifiedCurrencyPromotionalModifier":{"type":"number","description":"Promotional modifiers in user specified currency","example":-40},"sourcePromotionalModifier":{"type":"number","description":"Promotional modifiers in hotel currency","example":-40},"internalPromotionalModifier":{"type":"number","description":"Promotional modifiers in wink currency","example":-40},"userSpecifiedCurrencyPremiumModifier":{"type":"number","description":"Premium modifiers in user specified currency","example":40},"sourcePremiumModifier":{"type":"number","description":"Premium modifiers in hotel currency","example":40},"internalPremiumModifier":{"type":"number","description":"Premium modifiers in wink currency","example":40},"userSpecifiedCurrencyChannelModifier":{"type":"number","description":"Channel / Membership modifier in user specified currency","example":-10},"sourceChannelModifier":{"type":"number","description":"Channel / Membership modifier in hotel currency","example":-10},"internalChannelModifier":{"type":"number","description":"Channel / Membership modifier in wink currency","example":-10},"quantity":{"type":"integer","description":"How many of this item is included in this price","format":"int64","default":1},"promotionalDiscountPercent":{"type":"number","description":"Promotional discount percent","format":"float"},"channelDiscountPercent":{"type":"number","description":"Channel discount percent","format":"float"},"premiumPercent":{"type":"number","description":"Premium percent","format":"float"},"hasChannelDiscount":{"type":"boolean"},"sourceTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"userSpecifiedCurrencyTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"internalTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalDiscountPercent":{"type":"number","format":"float"},"hasPremium":{"type":"boolean"},"hasPromotion":{"type":"boolean"}},"description":"Localized price"},"LocalizedTransactionalTravelInventory_Non_Authenticated_Entity":{"required":["descriptions","identifier","name","price","pricingType"],"type":"object","properties":{"identifier":{"type":"string","description":"Unique transactional identifier","format":"uuid"},"name":{"type":"string","description":"Internal name of transactional inventory.","example":"1 hour session"},"descriptions":{"maxItems":2147483647,"minItems":1,"type":"array","description":"Localized descriptions describing inventory.","items":{"$ref":"#/components/schemas/SimpleDescription_Non_Authenticated_Entity"}},"pricingType":{"type":"string","description":"How this inventory item should be priced.","enum":["PER_STAY","PER_DAY","PER_NIGHT","PER_USE","PER_HOUR","PER_PERSON","PER_PERSON_PER_NIGHT","PER_PERSON_PER_HOUR","PER_ADULT","PER_ADULT_PER_NIGHT","PER_ADULT_PER_HOUR","PER_CHILD","PER_CHILD_PER_NIGHT","PER_CHILD_PER_HOUR"]},"price":{"$ref":"#/components/schemas/LocalizedPrice_Non_Authenticated_Entity"},"multimedias":{"type":"array","description":"List of images / videos of item.","items":{"$ref":"#/components/schemas/SimpleMultimedia_Non_Authenticated_Entity"}},"minPax":{"type":"integer","description":"Whether there is a limit to minimum group size.","format":"int32","example":2},"maxPax":{"type":"integer","description":"Whether there is a limit to maximum group size.","format":"int32","example":10},"offerDetails":{"type":"array","description":"Localized offer details if rate plan discount applies.","items":{"$ref":"#/components/schemas/LocalizedDescription_Non_Authenticated_Entity"}},"promotion":{"type":"string","description":"If a package is linked to a rate plan the user could be entitled to a promotional discount if she enters a code. When this field is populated, it means the discount was applied to the package."}},"description":"This is one localized bookable item that can stand alongside a restaurant / meeting room etc."},"PageHotelWithBestPrice_Non_Authenticated_Entity":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/HotelWithBestPrice_Non_Authenticated_Entity"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject_Non_Authenticated_Entity"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject_Non_Authenticated_Entity"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"PageableObject_Non_Authenticated_Entity":{"type":"object","properties":{"offset":{"type":"integer","format":"int64"},"sort":{"$ref":"#/components/schemas/SortObject_Non_Authenticated_Entity"},"unpaged":{"type":"boolean"},"paged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"}}},"PropertyPolicy_Non_Authenticated_Entity":{"required":["checkInTime","checkOutTime","childrenAllowed","internetAvailability","internetConnectionLocation","internetConnectionType","parkingAccess","parkingAvailability","petsAllowed"],"type":"object","properties":{"childrenAllowed":{"type":"boolean","description":"Indicates whether property allows children","example":true,"default":false},"childrenMinimumAge":{"type":"integer","description":"When a property allows children, it can also indicate what the minimum age is for children to be allowed.","format":"int32","example":6},"internetAvailability":{"type":"string","description":"Indicates the availability of internet on the property.","example":"YES","enum":["YES","NO","YES_PAID"]},"internetConnectionType":{"type":"string","description":"Indicates how guests can access the Internet on the property.","example":"WIFI","enum":["WIFI","CABLE"]},"internetConnectionLocation":{"type":"string","description":"Indicates where internet is available in and around the property.","example":"ENTIRE_PROPERTY","enum":["ENTIRE_PROPERTY","PUBLIC_AREAS","ALL_ROOMS","SOME_ROOMS","BUSINESS_CENTER"]},"parkingAvailability":{"type":"string","description":"Indicates whether parking is available at the property.","example":"YES","enum":["YES","NO","YES_PAID"]},"parkingAccess":{"type":"string","description":"Indicates what type of parking is available at the property.","example":"PRIVATE","enum":["PRIVATE","PUBLIC"]},"petsAllowed":{"type":"boolean","description":"Indicates whether pets are allowed on the property. Note: There are thousand different kinds of pets. Just because the property allows small dogs does not mean the guest can bring a python. Always best to check with property.","example":true,"default":false},"checkOutTime":{"type":"string","description":"When the guest has to check out.","example":"10:00"},"checkInTime":{"type":"string","description":"When the guest can check in.","example":"14:00"}},"description":"Outlines basic policies for the property."},"Quote_Non_Authenticated_Entity":{"required":["exchangeRate","source","target","timestamp"],"type":"object","properties":{"source":{"type":"string","description":"Source"},"target":{"type":"string","description":"Target"},"exchangeRate":{"type":"number","description":"Exchange rate"},"timestamp":{"type":"integer","description":"Timestamp","format":"int64"}},"description":"Exchange rate quote between the property's source currency and the payment's currency that was used to populate price."},"RatePlanLevelFee_Non_Authenticated_Entity":{"required":["descriptions","fixedAmount","type"],"type":"object","properties":{"descriptions":{"type":"array","description":"List of localized descriptions for this fee.","items":{"$ref":"#/components/schemas/LocalizedDescription_Non_Authenticated_Entity"}},"fixedAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"type":{"type":"string","description":"Rate plan fee type","example":"PER_DAY","enum":["PER_DAY","PER_STAY","PER_PERSON_PER_DAY","PER_PERSON_PER_STAY"]}},"description":"What the guest is paying extra for"},"RatePlan_Non_Authenticated_Entity":{"required":["allInclusive","allInclusivePlusAlcohol","breakfast","brunch","cancellationPolicyIdentifier","dinner","hotelIdentifier","identifier","lunch","name","prepaid"],"type":"object","properties":{"identifier":{"type":"string","description":"Rate plan identifier","format":"uuid"},"hotelIdentifier":{"type":"string","description":"Hotel Identifier","format":"uuid"},"name":{"type":"string","description":"Provides the name of the rate plan.","example":"BAR 1"},"prepaid":{"type":"boolean","description":"When true, indicates if the rate is a prepaid rate.","example":false,"default":false},"breakfast":{"type":"boolean","description":"When true, indicates breakfast is included.","example":false,"default":false},"brunch":{"type":"boolean","description":"When true, indicates brunch is included.","example":false,"default":false},"lunch":{"type":"boolean","description":"When true, indicates lunch is included.","example":false,"default":false},"dinner":{"type":"boolean","description":"When true, indicates dinner is included.","example":false,"default":false},"allInclusive":{"type":"boolean","description":"Everything included except alcohol","example":false,"default":false},"allInclusivePlusAlcohol":{"type":"boolean","description":"Everything included with alcohol","example":false,"default":false},"sellStartDate":{"type":"string","description":"Set a start date for when to start selling this rate. When sellStartDate and sellEndDate are set, this rate is only available for sale within that date range.","format":"date"},"sellEndDate":{"type":"string","description":"Set an end date for when to finish selling this rate. When sellStartDate and sellEndDate are set, this rate is only available for sale within that date range.","format":"date"},"stayStartDate":{"type":"string","description":"Set a start date for when the guest can visit. When stayStartDate and stayEndDate are set, this rate is only available for stay within that date range.","format":"date"},"stayEndDate":{"type":"string","description":"Set an end date for when the guest can visit. When stayStartDate and stayEndDate are set, this rate is only available for stay within that date range.","format":"date"},"loyaltyPointsAccrue":{"type":"boolean","description":"Property honors loyalty points with this rate plan.","example":false,"default":false},"maxAdvanceBookingOffset":{"type":"integer","description":"Maximum days before the arrival date for which this rate plan may be booked.","format":"int32","example":10},"minAdvanceBookingOffset":{"type":"integer","description":"Minimum days before the arrival date for which this rate plan may be booked.","format":"int32","example":3},"minTotalOccupancy":{"type":"integer","description":"Defines the minimum number of total occupants required for this rate plan.","format":"int32","example":4},"maxTotalOccupancy":{"type":"integer","description":"Defines the maximum number of total occupants required for this rate plan.","format":"int32","example":4},"minLOS":{"type":"integer","description":"Indicates the minimum length of stay required for this rate plan.","format":"int32","example":3},"maxLOS":{"type":"integer","description":"Indicates the maximum length of stay.","format":"int32","example":5},"minAge":{"type":"integer","description":"The minimum age to qualify for this rate plan.","format":"int32","example":26},"maxAge":{"type":"integer","description":"The maximum age to qualify for this rate plan.","format":"int32","example":50},"availableDaysOfWeek":{"$ref":"#/components/schemas/DowPatternGroup_Non_Authenticated_Entity"},"arrivalDaysOfWeek":{"$ref":"#/components/schemas/DowPatternGroup_Non_Authenticated_Entity"},"departureDaysOfWeek":{"$ref":"#/components/schemas/DowPatternGroup_Non_Authenticated_Entity"},"requiredDaysOfWeek":{"$ref":"#/components/schemas/DowPatternGroup_Non_Authenticated_Entity"},"earlyCheckInCharge":{"$ref":"#/components/schemas/VariableCharge_Non_Authenticated_Entity"},"lateCheckOutCharge":{"$ref":"#/components/schemas/VariableCharge_Non_Authenticated_Entity"},"cancellationPolicyIdentifier":{"type":"string","description":"The cancellation policy for this rate plan.","example":"cancellation-policy-1"},"cancellationPolicy":{"$ref":"#/components/schemas/CancellationPolicy_Non_Authenticated_Entity"},"cancellationPolicyExceptions":{"$ref":"#/components/schemas/CancellationPolicyExceptions_Non_Authenticated_Entity"}},"description":"An optional rate plan can be applied to the add-on. The rate plan can help to create availability restrictions."},"RoomConfigurationPrice_Non_Authenticated_Entity":{"required":["activeCancellationPolicy","adults","channelInventoryIdentifier","commission","commissionable","configuration","endDate","price","ratePlan","roomNights","roomRateIdentifier","roomRateInternalName","startDate"],"type":"object","properties":{"adults":{"type":"integer","description":"The actual amount of adults as determined by the hotel's policy","format":"int32"},"children":{"type":"integer","description":"The actual amount of children as determined by the hotel's policy","format":"int32"},"startDate":{"type":"string","description":"SimpleDateTimeItinerary startDate","format":"date"},"endDate":{"type":"string","description":"SimpleDateTimeItinerary endDate","format":"date"},"roomRateIdentifier":{"type":"string","description":"Specified master rate identifier"},"roomRateInternalName":{"type":"string","description":"Specified master rate internal name"},"ratePlan":{"$ref":"#/components/schemas/RatePlan_Non_Authenticated_Entity"},"perkTypes":{"type":"array","items":{"type":"string","description":"Perks that accompany the master rate","enum":["PERK_LOYALTY_POINTS","PERK_WINE","PERK_FREE_DRINK_VOUCHER","PERK_FREE_MEAL_TWO_PEOPLE","PERK_FREE_ONE_HOUR_MASSAGE","PERK_TWENTY_PERCENT_FOOD_BEVERAGE_DISCOUNT","PERK_TWENTY_PERCENT_SPA_DISCOUNT_VOUCHER","PERK_GUARANTEED_UPGRADE","PERK_EARLY_CHECKIN","PERK_ROOM_UPGRADE","PERK_LATE_CHECKOUT","PERK_AIRPORT_TRANSFER","PERK_AIRPORT_PICK_UP","PERK_BOTTLE_CHAMPAGNE_ON_ARRIVAL","PERK_BOTTLE_SPARKLING_WINE_ON_ARRIVAL","PERK_BOTTLE_WINE_ON_ARRIVAL"]}},"price":{"$ref":"#/components/schemas/StayRate_Non_Authenticated_Entity"},"extraCharges":{"$ref":"#/components/schemas/ExtraCharges_Non_Authenticated_Entity"},"configuration":{"$ref":"#/components/schemas/RoomConfiguration_Non_Authenticated_Entity"},"addOnOffers":{"type":"array","items":{"$ref":"#/components/schemas/AddOnLocalizedInventory_Non_Authenticated_Entity"}},"perkValue":{"type":"integer","description":"The combined value of these perks","format":"int32"},"activeCancellationPolicy":{"$ref":"#/components/schemas/CancellationPolicy_Non_Authenticated_Entity"},"roomNights":{"type":"integer","description":"Number of nights the guests will be staying","format":"int32"},"list":{"type":"array","writeOnly":true,"items":{"$ref":"#/components/schemas/LocalizedTransactionalTravelInventory_Non_Authenticated_Entity"}},"channelInventoryIdentifier":{"type":"string","description":"Sales channel inventory identifier"},"commissionable":{"type":"boolean","description":"Whether this package is commissionable based on the incoming sales channel."},"commission":{"type":"number","description":"The commission percentage.","format":"float","example":0.1},"priceList":{"type":"array","items":{"$ref":"#/components/schemas/LocalizedTransactionalTravelInventory_Non_Authenticated_Entity"}},"sourceTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"available":{"type":"boolean"},"rateSource":{"type":"string"},"userSpecifiedCurrencyTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"internalTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"}}},"RoomTypeBestPrice_Non_Authenticated_Entity":{"type":"object","properties":{"roomTypeIdentifier":{"type":"string","description":"Room type identifier.","format":"uuid"},"price":{"$ref":"#/components/schemas/RoomConfigurationPrice_Non_Authenticated_Entity"},"perkValue":{"type":"integer","description":"The sum of all perks the master rate had made available.","format":"int32"},"available":{"type":"boolean","description":"Whether this room type is available with this configuration"},"sort":{"type":"integer","description":"When this room type is displayed in conjunction with many others, this sort property will often times be populated to indicate how the room types should be sorted and displayed.","format":"int32"}},"description":"Best-priced room types"},"RoomTypeWithBestPrice_Non_Authenticated_Entity":{"type":"object","properties":{"roomTypeWithPriceConfiguration":{"$ref":"#/components/schemas/RoomTypeWithPriceConfiguration_Non_Authenticated_Entity"},"perkValue":{"type":"integer","description":"The sum of all perks the master rate had made available.","format":"int32"},"available":{"type":"boolean","description":"Whether this room type is available with this configuration"},"sort":{"type":"integer","description":"When this room type is displayed in conjunction with many others, this sort property will often times be populated to indicate how the room types should be sorted and displayed.","format":"int32"}},"description":"Best-priced room at property"},"RoomTypeWithPriceConfiguration_Non_Authenticated_Entity":{"required":["room"],"type":"object","properties":{"room":{"$ref":"#/components/schemas/GuestRoom_Non_Authenticated_Entity"},"price":{"$ref":"#/components/schemas/RoomConfigurationPrice_Non_Authenticated_Entity"}},"description":"Property's room type priced based on user session."},"SimpleDescription_Non_Authenticated_Entity":{"required":["description","language"],"type":"object","properties":{"name":{"type":"string","description":"Use as title or short text description","example":"An example title"},"description":{"maxLength":2147483647,"minLength":1,"type":"string","description":"Longer text description","example":"This is a longer description that explains its relationship to parent nicely."},"language":{"maxLength":2,"minLength":2,"type":"string","description":"Indicate which language this description is written in.","example":"en","default":"en"}}},"SimpleMultimedia_Non_Authenticated_Entity":{"required":["height","identifier","multimediaIdentifier","source","type","width"],"type":"object","properties":{"multimediaIdentifier":{"type":"string","description":"Document identifier","format":"uuid"},"identifier":{"type":"string","description":"Use this identifier to communicate with Cloudinary.","example":"cloudinary-image-1"},"type":{"type":"string","description":"Whether Cloudinary media is a VIDEO or IMAGE.","example":"IMAGE","enum":["IMAGE","VIDEO","AUDIO","RAW"]},"source":{"type":"string","description":"Currently ONLY using Cloudinary to store all image / video assets.","example":"CLOUDINARY","default":"CLOUDINARY","enum":["YOUTUBE","CLOUDINARY"]},"sort":{"type":"integer","description":"Sort allows you to control how you want to sort this record in a list of media records.","format":"int32","example":10,"default":999},"angle":{"type":"string","description":"Media angle","example":"-90"},"width":{"type":"integer","description":"Media width in pixels.","format":"int32","example":2560},"height":{"type":"integer","description":"Media height in pixels.","format":"int32","example":1600},"published":{"type":"boolean","description":"Instead of deleting the media, choose to un-publish it instead for later re-use. Could be you keep seasonal images of the property.","example":true,"default":false},"category":{"type":"string","description":"Supported OTA specification `PIC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"1"},"descriptions":{"type":"array","description":"Localized media captions to give user some context about where this media was taken.","items":{"$ref":"#/components/schemas/SimpleDescription_Non_Authenticated_Entity"}},"lifestyleType":{"type":"string","description":"Associate this media with a specific lifestyle type. A user searching and filtering inventory based on lifestyles can be shown relevant media first.","example":"LIFESTYLE_HEALTH_FITNESS","enum":["LIFESTYLE_HEALTH_FITNESS","LIFESTYLE_RELAX","LIFESTYLE_ADULT_ONLY","LIFESTYLE_ADVENTURE","LIFESTYLE_BUSINESS","LIFESTYLE_LGBT","LIFESTYLE_SINGLE_PARENT","LIFESTYLE_SOLO_FEMALE","LIFESTYLE_BEAUTY","LIFESTYLE_FOODIE","LIFESTYLE_FAMILY","LIFESTYLE_ROMANCE","LIFESTYLE_COUPLE","LIFESTYLE_SOLO","LIFESTYLE_BACKPACKER","LIFESTYLE_SHOPPING","LIFESTYLE_SPORTS","LIFESTYLE_MOUNTAIN","LIFESTYLE_BEACH","LIFESTYLE_CITY","LIFESTYLE_COUNTRY","LIFESTYLE_CULTURE","LIFESTYLE_ECO"]},"attribution":{"type":"array","description":"Whether image has attribution properties","items":{"$ref":"#/components/schemas/ImageAttribution_Non_Authenticated_Entity"}},"isLandscape":{"type":"boolean","description":"True if media width is greater or equal to height","example":true}},"description":"Multimedia that contains less information than Multimedia object"},"Social_Non_Authenticated_Entity":{"type":"object","properties":{"type":{"type":"string","description":"Type of social network.","enum":["FACEBOOK","INSTAGRAM","SKYPE","TRIP_ADVISOR","TWITTER","GOOGLE_PLUS","WHATSAPP","LINE","WECHAT","VIBER","SNAPCHAT","WEIBO","RENREN","WEBSITE","QQ","TIKTOK"]},"location":{"type":"string","description":"URL or social network identifier to social network profile"},"enabled":{"type":"boolean","description":"Whether social network is available for use."}},"description":"Social network"},"SortObject_Non_Authenticated_Entity":{"type":"object","properties":{"empty":{"type":"boolean"},"unsorted":{"type":"boolean"},"sorted":{"type":"boolean"}}},"StayRate_Non_Authenticated_Entity":{"type":"object","properties":{"userSpecifiedCurrencyBaseTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"sourceBaseTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"internalBaseTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"sourceExtraPaxModifier":{"type":"number","description":"Extra person modifier in hotel currency.","example":15},"internalExtraPaxModifier":{"type":"number","description":"Extra person modifier in wink currency","example":15},"userSpecifiedCurrencyExtraPaxModifier":{"type":"number","description":"Extra person modifier in user specified currency","example":15},"sourceExtraChildModifier":{"type":"number","description":"Extra child modifier in hotel currency","example":15},"internalExtraChildModifier":{"type":"number","description":"Extra child modifier in wink currency","example":15},"userSpecifiedCurrencyExtraChildModifier":{"type":"number","description":"Extra child modifier in user specified currcency","example":15},"sourceSingleOccupantModifier":{"type":"number","description":"Single occupant modifier in hotel currency","example":-15},"internalSingleOccupantModifier":{"type":"number","description":"Singe occupant modifier in wink currency","example":-15},"userSpecifiedCurrencySingleOccupantModifier":{"type":"number","description":"Single occupant modifier in user specified currency","example":-15},"sourcePromotionalModifier":{"type":"number","description":"Rate discount modifiers in hotel currency","example":-40},"internalPromotionalModifier":{"type":"number","description":"Rate discount modifiers in wink currency","example":-40},"userSpecifiedCurrencyPromotionalModifier":{"type":"number","description":"Rate discount modifiers in user specified currency","example":-40},"sourcePremiumModifier":{"type":"number","description":"Rate premiums modifiers in hotel currency","example":40},"internalPremiumModifier":{"type":"number","description":"Rate premiums modifiers in wink currency","example":40},"userSpecifiedCurrencyPremiumModifier":{"type":"number","description":"Rate premiums modifiers in user specified currency","example":40},"sourceChannelModifier":{"type":"number","description":"Channel / Membership modifier in hotel currency","example":-10},"internalChannelModifier":{"type":"number","description":"Channel / Membership modifier in wink currency","example":-10},"userSpecifiedCurrencyChannelModifier":{"type":"number","description":"Channel / Membership modifier in user specified currency","example":-10},"quantity":{"type":"integer","description":"Quantity","format":"int32"},"minOccupancy":{"type":"integer","description":"Minimum occupancy","format":"int32"},"maxOccupancy":{"type":"integer","description":"Maximum occupancy","format":"int32"},"rateSource":{"type":"string","description":"Source"},"promotionalDiscountPercent":{"type":"number","description":"Promotional discount percent","format":"float"},"channelDiscountPercent":{"type":"number","description":"Chanel discount percent","format":"float"},"premiumPercent":{"type":"number","description":"Premium percent","format":"float"},"available":{"type":"boolean","description":"Available"},"sourceToUserCurrencyQuote":{"$ref":"#/components/schemas/Quote_Non_Authenticated_Entity"},"sourceToInternalCurrencyQuote":{"$ref":"#/components/schemas/Quote_Non_Authenticated_Entity"},"offerDetails":{"type":"array","description":"Localized text of the discount","items":{"$ref":"#/components/schemas/LocalizedDescription_Non_Authenticated_Entity"}},"promotionalCodes":{"type":"array","description":"Promotional codes","items":{"type":"string"}},"userSpecifiedCurrencyTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"sourceTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"internalTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalDiscountPercent":{"type":"number","format":"float"},"userSpecifiedCurrencyAveragePricePerNight":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"internalAveragePricePerNight":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"sourceAveragePricePerNight":{"$ref":"#/components/schemas/CustomMonetaryAmount"}},"description":"Calculated price"},"SubCountry_Non_Authenticated_Entity":{"type":"object","properties":{"name":{"type":"string","description":"Sub-country name","example":"New York"},"asciiName":{"type":"string","description":"Sub-country ascii name","example":"New York"},"geoNameId":{"type":"string","description":"Sub-country GeoNames identifier","example":"5128638"}},"description":"Country subdivision such as a state or province"},"SubSubCountry_Non_Authenticated_Entity":{"type":"object","properties":{"name":{"type":"string"},"asciiName":{"type":"string"},"geoNameId":{"type":"string"}},"description":"Country sub sub division"},"TravelInventoryRecognition_Non_Authenticated_Entity":{"required":["category","identifier","maxRating","provider","rating","type"],"type":"object","properties":{"identifier":{"type":"string","description":"Recognition identifier.","format":"uuid"},"category":{"type":"string","description":"Recognition category.","example":"AWARD","enum":["THIRD_PARTY_REVIEW","PUBLICATION","AWARD"]},"type":{"type":"string","description":"Type of rating system the recognition operated on. This allows us to display the score properly.","example":"PERCENT_RATING","enum":["STAR_RATING","NUMERIC_RATING","PERCENT_RATING"]},"provider":{"type":"string","description":"The name of the entity that administers this recognition.","example":"Michelin"},"rating":{"minimum":0.0,"exclusiveMinimum":false,"type":"number","description":"The actual award or rating received by the hotel facility.","format":"float","example":8.5},"maxRating":{"type":"number","description":"Use this to let hotels indicate what the total score for this award is.","format":"float","example":10},"date":{"type":"string","description":"The date the award was received","for
[...]
