{"openapi":"3.1.0","info":{"title":"Wink API","description":" # Introduction\n Welcome to the Wink API - A programmer-friendly way to manage, sell and book travel inventory on the Wink platform. The API gives you all the tools you need to ready your properties and inventory for sale across 1000s of our native sales channels.\n Integrators, affiliates, travel agents and content creators have the ability search for your travel inventory and promote / sell it in a wide variety of ways.\n\n # Integrations\n We have already integrated with the most well-known channel managers so you don't have to. To see our current integrations, please go to https://extranet.wink.travel and scroll to Connectivity section. Once your properties are set up, you can finish the setup by mapping your property to Wink using your channel manager partner portal. If your properties don't have a channel manager, you can easily manage rates and availability with this API.\n\n # Intended Audience\n Programmers are [most likely] a requirement to start integrating with Wink. Companies and organizations that would most benefit from integrating with us are new and existing travel companies that have relationships with suppliers and that need an advanced system from which to manage their travel inventory and get that same inventory out to as many eyeballs as possible at the lowest price possible.\n - Hotel chains\n - Hotel brands\n - Travel tech companies\n - Destination sites\n - Integrators\n - Aggregators\n - Destination management companies\n - Travel agencies\n - OTAs\n\n ## APIs\n Not every integrator needs every API. For that reason, we have separated APIs into context.\n\n### Test API\n\n - [Ping](/ping): The Ping API is a quick test endpoint to verify that your credentials work Wink.\n\n### Common APIs\n\n- [Notifications](/notifications): The Notifications API is a way for us to stay in touch with your user, property or affiliate account.\n- [User Settings](/user-settings): The User Settings API exposes endpoints to allow 3rd party integrators to communicate with Wink.\n\n### Consume APIs\nConsume endpoints are for developers who want to find existing travel inventory and either book it or use it to advertise through one of their Wink affiliate accounts.\n\n - [Configuration](/customization-client): A single endpoint to retrieve whitelabel + customization information for the booking customization.\n - [Lookup](/lookup): All APIs related to locating inventory by region, locale and property flags.\n - [Inventory](/inventory): All APIs related to retrieve known travel inventory as it was found using the Lookup API..\n - [Booking](/booking): All APIs related to creating bookings on the platform.\n - [Travel Agent](/travel-agent): The Travel Agent API exposes endpoints to manage agent-facilitated bookings.\n\n ### Produce APIs\n Produce endpoints are for developers who want to create and manage travel inventory.\n\n #### Property\n - [Property registration](/extranet/property/register): As a producer, this is, oftentimes, where you start your journey. These endpoints let you create properties on Wink.\n - [Property](/extranet/property): This collection of property endpoints are mostly management endpoints that let you display, change status and similar for your existing properties.\n - [Facilities](/extranet/facilities): This collection of endpoints let you manage facilities; such as room types.\n - [Experiences](/extranet/experiences): This collection of endpoints let you manage experiences, such as activities.\n - [Monetize](/extranet/monetize): The Monetize API exposes endpoints for managing cancellation polies, rate plans, promotions and more on Wink.\n - [Distribution](/extranet/distribution): The Distribution API exposes endpoints for sales channels, connecting with affiliates, managing rates and inventory calendars and more on Wink.\n - [Property Booking](/extranet/booking): The Property Booking API exposes endpoints for managing bookings and reviews at the property-level.\n\n #### Affiliate\n - [Affiliate](/affiliate): This collection of affiliate endpoints are mostly management endpoints that let you display, change status and similar for your existing accounts.\n - [Browse](/affiliate/browse): The Browse API exposes endpoints for affiliates to find suppliers and inventory to sell.\n - [Inventory](/affiliate/inventory): The Inventory API exposes endpoints for affiliates to manage the inventory they want to sell and how they want to sell it.\n - [Sales Channel](/affiliate/sales-channel): The Sales Channel API exposes endpoints for affiliates to manage existing sales channels as well as find new ones.\n - [WinkLinks](/affiliate/winklinks): The WinkLinks API exposes endpoints for affiliates to manage their WinkLinks page.\n\n #### Rate provider\n - [Channel manager](/channel-manager): The Channel Manager API enables external channel manager partners to map, exchange rate / availability information with us as well as be informed of bookings that occur on the Wink platform for one of their properties.\n\n ### Taxonomy APIs\n Taxonomy endpoints are for developers who want to consume and produce travel inventory and need taxonomies of standard and non-standard codes for inventory types, classes, statuses etc.\n\n - [Reference](/reference): All APIs related to retrieving platform-supported taxonomies.\n\n ### Insight APIs\n Insight endpoints do exactly what the name implies - They offer platform-level insight into the activities of producers and consumers.\n\n - [Analytics](/analytics): All APIs related to tracking metrics across a wide variety of data source segments including, more entertaining, leaderboard metrics.\n\n ### Payment APIs\n Payment endpoints are for developers who want to purchase travel inventory. This can be done via the API as a registered Travel Agent or using our API in conjunction with our PCI compliant payment widget for all other entities.\n\n - [TripPay](/payment): All APIs related to TripPay account management, booking, mapping and integration features.\n\n ## SDKs\n We are actively working on supporting the most used languages out there. If you don't see your language here, reach out to us with a request to officially add your language. In the meantime, if you want to roll your own SDK, you can do so by downloading the OpenAPI spec and using one of the many available OpenAPI generators available: [https://openapi-generator.tech/docs/generators](https://openapi-generator.tech/docs/generators).\n\n - Java SDK [https://github.com/wink-travel/wink-sdk-java](https://github.com/wink-travel/wink-sdk-java)\n\n ## Usage\n These features are made available to you via a [REST API](https://en.wikipedia.org/wiki/Representational_state_transfer). This API is language agnostic.\n\n ## Versioning\n We chose to version our endpoints in a way that we hope affects your integration minimally. You request the version of our API you wish to work with via the `Wink-Version` header. When it's time for you to upgrade, you only have to change the version number to get access to our updated endpoints.\n\n ## Release history\n - Follow updates on Github: https://github.com/wink-travel/wink-sdk-java/blob/master/CHANGELOG.md\n\n\n\n# WinkLinks API\nThe WinkLinks API exposes endpoints to manage WinkLink entries, categories and settings. This API lets you:\n\n1. Entries: Manage WinkLinks entries.\n2. Categories: Manage WinkLinks tags.\n2. Settings: Configure WinkLinks account.\n\nBrowse the endpoints in the left navigation bar to get started.\n\n","contact":{"name":"Bjorn Harvold","email":"bjorn@wink.travel"},"version":"30.22.2","x-logo":{"backgroundColor":"#FFFFFF","altText":"wink","url":"https://res.cloudinary.com/traveliko/image/upload/c_scale,h_129/v1653285543/wink/logo_text_white.svg"}},"externalDocs":{"description":"Affiliate Documentation","url":"https://academy.wink.travel/studio/what-is-studio/"},"servers":[{"url":"https://api.wink.travel","description":"Endpoint"}],"tags":[{"name":"Syndicated Item","description":"Manage your WinkLinks entries."},{"name":"Syndication Category","description":"Tag WinkLinks entries with categories so your users can filter your content."},{"name":"Syndication Settings","description":"Manage your WinkLinks settings."}],"paths":{"/api/syndication/settings":{"get":{"tags":["Syndication Settings"],"summary":"Show WinkLinks Settings","description":"Load WinkLinks settings.","operationId":"showSyndicationSettings","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyndicationSettingsWithThemeColors_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"put":{"tags":["Syndication Settings"],"summary":"Upsert WinkLinks Settings","description":"Upsert a new syndication settings.","operationId":"upsertSyndicationSettings","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"description":"Request body","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertSyndicationSettings_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyndicationSettingsWithThemeColors_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/syndication/entry/{syndicatedItemIdentifier}":{"get":{"tags":["Syndicated Item"],"summary":"Show WinkLinks Entry","description":"Retrieve syndication entry.","operationId":"showSyndicationEntry","parameters":[{"name":"syndicatedItemIdentifier","in":"path","description":"Syndication entry identifier.","required":true,"schema":{"type":"string"},"example":"syndication-entry-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyndicatedItem_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"put":{"tags":["Syndicated Item"],"summary":"Update WinkLinks Entry","description":"Updates an existing syndication entry.","operationId":"updateSyndicationEntry","parameters":[{"name":"syndicatedItemIdentifier","in":"path","description":"Syndication entry identifier.","required":true,"schema":{"type":"string"},"example":"syndication-entry-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"description":"Request body","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertSyndicatedItem_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyndicatedItem_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Syndicated Item"],"summary":"Delete WinkLinks Entry","description":"Deletes a syndication entry.","operationId":"removeSyndicationEntry","parameters":[{"name":"syndicatedItemIdentifier","in":"path","description":"Syndication entry identifier.","required":true,"schema":{"type":"string"},"example":"syndication-entry-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyndicatedItem_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/syndication/category/{syndicationCategoryIdentifier}":{"get":{"tags":["Syndication Category"],"summary":"Show WinkLinks Category","description":"Retrieve syndication category.","operationId":"showSyndicationCategory","parameters":[{"name":"syndicationCategoryIdentifier","in":"path","description":"Syndication category identifier.","required":true,"schema":{"type":"string"},"example":"syndication-category-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyndicationCategory_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"put":{"tags":["Syndication Category"],"summary":"Update WinkLinks Category","description":"Updates an existing syndication category.","operationId":"updateSyndicationCategory","parameters":[{"name":"syndicationCategoryIdentifier","in":"path","description":"Syndication category identifier.","required":true,"schema":{"type":"string"},"example":"syndication-category-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"description":"Request body","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertSyndicationCategory_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyndicationCategory_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Syndication Category"],"summary":"Delete WinkLinks Category","description":"Deletes a syndication category.","operationId":"removeSyndicationCategory","parameters":[{"name":"syndicationCategoryIdentifier","in":"path","description":"Syndication category identifier.","required":true,"schema":{"type":"string"},"example":"syndication-category-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyndicationCategory_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/syndication/entry":{"post":{"tags":["Syndicated Item"],"summary":"Create WinkLinks Entry","description":"Creates a new syndication entry.","operationId":"createSyndicationEntry","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"description":"Request body","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertSyndicatedItem_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyndicatedItem_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/syndication/category":{"post":{"tags":["Syndication Category"],"summary":"Create WinkLinks Category","description":"Creates a new syndication category.","operationId":"createSyndicationCategory","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"description":"Request body","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertSyndicationCategory_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyndicationCategory_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/syndication/entry/list/sort":{"patch":{"tags":["Syndicated Item"],"summary":"Sort WinkLink Entries","description":"Re-sorts all list entries.","operationId":"sortSyndicationEntryList","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"description":"List if ids and their new sort slot","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Sorted_Affiliate"}}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SyndicatedItem_Affiliate"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/syndication/entry/list":{"get":{"tags":["Syndicated Item"],"summary":"Show WinkLinks Entries","description":"Retrieve list of syndication entries.","operationId":"showSyndicationEntryList","parameters":[{"name":"status","in":"query","description":"Return based on this status.","required":false,"schema":{"type":"string","default":"PUBLISHED","enum":["PUBLISHED","ARCHIVED"]},"example":"PUBLISHED"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SyndicatedItem_Affiliate"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/syndication/category/list":{"get":{"tags":["Syndication Category"],"summary":"Show WinkLinks Categories","description":"Retrieve list of syndication categories.","operationId":"showSyndicationCategoryList","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SyndicationCategory_Affiliate"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}}},"components":{"schemas":{"GenericErrorMessage":{"type":"object","description":"Generic error message","properties":{"status":{"type":"integer","format":"int32","xml":{"attribute":true}},"error":{"type":"string"},"message":{"type":"string"},"timestamp":{"type":"string","xml":{"attribute":true}}},"xml":{"name":"ErrorMessage"}},"CustomizationThemeColors_Affiliate":{"type":"object","properties":{"primary":{"type":"string","default":"#dc3545","description":"Primary color","example":"#dc3545"},"secondary":{"type":"string","default":"#6c757d","description":"Secondary color","example":"#6c757d"},"success":{"type":"string","default":"#28a745","description":"Success color","example":"#28a745"},"danger":{"type":"string","default":"#dc3545","description":"Danger color","example":"#dc3545"},"warning":{"type":"string","default":"#ffc107","description":"Warning color","example":"#ffc107"},"info":{"type":"string","default":"#17a2b8","description":"Info color","example":"#17a2b8"},"light":{"type":"string","default":"#f8f9fa","description":"Light color","example":"#f8f9fa"},"dark":{"type":"string","default":"#343a40","description":"Dark color","example":"#343a40"},"body":{"type":"string","default":"#212529","description":"Body color","example":"#212529"},"muted":{"type":"string","default":"#6c757d","description":"Muted color","example":"#6c757d"},"white":{"type":"string","default":"#ffffff","description":"White color","example":"#ffffff"}}},"UpsertSyndicationSettings_Affiliate":{"type":"object","properties":{"itemDisplay":{"type":"string","description":"Whether to treat all links as flat web links or try to embed more advanced data.","enum":["FROM_LAYOUT","BANNER","BANNER_INTELLIGENT"],"example":"Embedding a tweet"},"customizationIdentifier":{"type":"string","format":"uuid","description":"Customization identifier","example":"customization-1","minLength":1},"layoutDisplay":{"type":"string","default":"GRID_COLUMNS","description":"Which way to display the list when WinkLinks first loads","enum":["LIST","GRID_ROWS","GRID_COLUMNS","GRID_SINGLE_COLUMN"],"example":"LIST"},"profilePictureGeometry":{"type":"string","default":"CIRCLE","description":"Controls how to display profile picture","enum":["CIRCLE","RECTANGLE"],"example":"CIRCLE"},"onlinePresencePosition":{"type":"string","default":"TOP","description":"Where to show the online presence icons","enum":["TOP","BOTTOM"],"example":"BOTTOM"},"themeColors":{"$ref":"#/components/schemas/CustomizationThemeColors_Affiliate","description":"Theme colors are connected with the primary account customization."}},"required":["customizationIdentifier","itemDisplay"]},"SyndicationSettingsWithThemeColors_Affiliate":{"type":"object","properties":{"id":{"type":"string","description":"Document UUID","example":"doc-1"},"createdDate":{"type":"string","format":"date-time","description":"Datetime this record was first created"},"lastUpdate":{"type":"string","format":"date-time","description":"Datetime this record was last updated"},"version":{"type":"integer","format":"int64","description":"Version property that shows how many times this document has been persisted. Document will not persist if the version property is less than current version property in the system. Result in an optimistic locking exception.","example":12},"userIdentifier":{"type":"string","format":"uuid","description":"Creator of entry","example":"user-1","minLength":1},"ownerIdentifier":{"type":"string","format":"uuid","description":"The user's owner company this entry associates with","example":"company-1","minLength":1},"itemDisplay":{"type":"string","description":"Whether to treat all links as flat web links or try to embed more advanced data.","enum":["FROM_LAYOUT","BANNER","BANNER_INTELLIGENT"],"example":"Embedding a tweet"},"customizationIdentifier":{"type":"string","format":"uuid","description":"Customization identifier","example":"customization-1","minLength":1},"layoutDisplay":{"type":"string","default":"GRID_COLUMNS","description":"Which way to itemDisplay the list when WinkLinks first loads","enum":["LIST","GRID_ROWS","GRID_COLUMNS","GRID_SINGLE_COLUMN"],"example":"LIST"},"profilePictureGeometry":{"type":"string","default":"CIRCLE","description":"Controls how to itemDisplay profile picture","enum":["CIRCLE","RECTANGLE"],"example":"CIRCLE"},"onlinePresencePosition":{"type":"string","default":"TOP","description":"Where to show the online presence icons","enum":["TOP","BOTTOM"],"example":"BOTTOM"},"themeColors":{"$ref":"#/components/schemas/CustomizationThemeColors_Affiliate","description":"Theme colors are connected with the primary account customization."}},"required":["customizationIdentifier","ownerIdentifier","userIdentifier"]},"KeyValuePair_Affiliate":{"type":"object","properties":{"value":{"type":"string","description":"The value that should be persisted.","example":"id-1","minLength":1},"label":{"type":"string","description":"English readable text of the value.","example":"Readable text label","minLength":1}},"required":["label","value"]},"MediaAuthorAttribution_Affiliate":{"type":"object","properties":{"url":{"type":"string","description":"URL to contributor","example":"https://maps.google.com/maps/contrib/111628493169070103594"},"name":{"type":"string","description":"Name of contributor","example":"Samuel Adams","minLength":1}},"required":["name"]},"SimpleDescription_Affiliate":{"type":"object","properties":{"name":{"type":"string","description":"Use as title or short text description","example":"An example title"},"description":{"type":"string","description":"Longer text description","example":"This is a longer description in the specified language.","maxLength":2147483647,"minLength":1},"language":{"type":"string","default":"en","description":"Indicate which language this description is written in.","example":"en","maxLength":2,"minLength":2},"creator":{"type":"string","default":"USER","description":"Whether it was user or system generated.","enum":["SYSTEM","USER"],"example":"SYSTEM"},"md5ContentHash":{"type":"string","description":"The md5 hash of the name, description and language."},"hashMismatch":{"type":"boolean","readOnly":true}},"required":["description","language","name"]},"SimpleMultimedia_Affiliate":{"type":"object","description":"Multimedia that contains less information than Multimedia object","properties":{"multimediaIdentifier":{"type":"string","format":"uuid","description":"Document identifier","example":"image-1","minLength":1},"identifier":{"type":"string","description":"Use this identifier to communicate with Cloudinary.","example":"cloudinary-image-1","minLength":1},"type":{"type":"string","description":"Whether Cloudinary media is a VIDEO or IMAGE.","enum":["IMAGE","VIDEO","AUDIO","RAW"],"example":"IMAGE"},"source":{"type":"string","default":"CLOUDINARY","description":"Currently ONLY using Cloudinary to store all image / video assets.","enum":["YOUTUBE","CLOUDINARY"],"example":"CLOUDINARY"},"sort":{"type":"integer","format":"int32","default":999,"description":"Sort allows you to control how you want to sort this record in a list of media records.","example":10},"angle":{"type":"string","description":"Media angle","example":-90},"width":{"type":"integer","format":"int32","description":"Media width in pixels.","example":2560,"minimum":1},"height":{"type":"integer","format":"int32","description":"Media height in pixels.","example":1600,"minimum":1},"published":{"type":"boolean","default":false,"description":"Instead of deleting the media, choose to un-publish it instead for later re-use. Could be you keep seasonal images of the property.","example":true},"category":{"type":"string","description":"Supported OTA specification `PIC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":1},"descriptions":{"type":"array","description":"Localized media captions to give user some context about where this media was taken.","items":{"$ref":"#/components/schemas/SimpleDescription_Affiliate"}},"lifestyleType":{"type":"string","description":"Associate this media with a specific lifestyle type. A user searching and filtering inventory based on lifestyles can be shown relevant media first.","enum":["LIFESTYLE_HEALTH_FITNESS","LIFESTYLE_RELAX","LIFESTYLE_ADULT_ONLY","LIFESTYLE_ADVENTURE","LIFESTYLE_BUSINESS","LIFESTYLE_LGBT","LIFESTYLE_SINGLE_PARENT","LIFESTYLE_SOLO_FEMALE","LIFESTYLE_BEAUTY","LIFESTYLE_FOODIE","LIFESTYLE_FAMILY","LIFESTYLE_ROMANCE","LIFESTYLE_COUPLE","LIFESTYLE_SOLO","LIFESTYLE_BACKPACKER","LIFESTYLE_SHOPPING","LIFESTYLE_SPORTS","LIFESTYLE_MOUNTAIN","LIFESTYLE_BEACH","LIFESTYLE_CITY","LIFESTYLE_COUNTRY","LIFESTYLE_CULTURE","LIFESTYLE_ECO"],"example":"LIFESTYLE_HEALTH_FITNESS"},"attribution":{"type":"array","description":"Whether image has attribution properties","items":{"$ref":"#/components/schemas/MediaAuthorAttribution_Affiliate"}},"isLandscape":{"type":"boolean","description":"True if media width is greater or equal to height","example":true}},"required":["height","identifier","multimediaIdentifier","sort","source","type","width"]},"UpsertSyndicatedItem_Affiliate":{"type":"object","properties":{"title":{"type":"string","description":"The site name of this entry","example":"Google","minLength":1},"contentUrl":{"type":"string","description":"The url of this entry","example":"https://www.google.com","minLength":1},"sort":{"type":"integer","format":"int32","description":"How the author wants this entry to get sorted","example":0},"type":{"type":"string","description":"The syndication entry type","enum":["WEB_LINK","MAP","GRID","CARD","FILE","QUOTE","POST","LOCKED"],"example":"WEB_LINK"},"metadata":{"type":"object","additionalProperties":{},"description":"Extended metadata"},"descriptions":{"type":"array","items":{"$ref":"#/components/schemas/SimpleDescription_Affiliate"},"minItems":1},"tags":{"type":"array","description":"Optional user categories","items":{"$ref":"#/components/schemas/KeyValuePair_Affiliate"}},"multimedias":{"type":"array","description":"The main media for this entry.","example":"For web links, it would be the Open Graph image url. For a file upload, it would be the multipart file.","items":{"$ref":"#/components/schemas/SimpleMultimedia_Affiliate"}},"display":{"type":"string","description":"Whether to treat all links as flat web links or try to embed more advanced data.","enum":["FROM_SETTINGS","FROM_LAYOUT","BANNER","BANNER_INTELLIGENT"],"example":"Embedding a tweet"},"disabled":{"type":"boolean","default":false,"description":"Whether author wants to disable the post."},"publishDate":{"type":"string","format":"date-time","description":"An optional date for when this post will be displayed."},"publishStatus":{"type":"string","default":"PUBLISHED","description":"Publish status of post.","enum":["PUBLISHED","ARCHIVED"],"example":"PUBLISHED"},"lockCode":{"type":"string","description":"Optional code the author can require be entered by the user in order to see the post.","example":"ABC123"},"uniqueId":{"type":"string","description":"Optional unique code that can be used to access this record.","example":"https://trvl.as/Hbgt56"},"userTags":{"type":"array","items":{"description":"User IDs to tag in the post. ","example":"@maniot"}},"hashTags":{"type":"array","items":{"description":"Hash userTags to use in the post. ","example":"#TravelSolo"}}},"required":["contentUrl","descriptions","sort","title","type"]},"SyndicatedItem_Affiliate":{"type":"object","properties":{"id":{"type":"string","description":"Document UUID","example":"doc-1"},"createdDate":{"type":"string","format":"date-time","description":"Datetime this record was first created"},"lastUpdate":{"type":"string","format":"date-time","description":"Datetime this record was last updated"},"version":{"type":"integer","format":"int64","description":"Version property that shows how many times this document has been persisted. Document will not persist if the version property is less than current version property in the system. Result in an optimistic locking exception.","example":12},"userIdentifier":{"type":"string","format":"uuid","description":"Creator of entry","example":"user-1","minLength":1},"ownerIdentifier":{"type":"string","format":"uuid","description":"The user's owner company this entry associates with","example":"company-1","minLength":1},"title":{"type":"string","description":"The site name of this entry","example":"Google","minLength":1},"contentUrl":{"type":"string","description":"The url of this entry","example":"https://www.google.com","minLength":1},"sort":{"type":"integer","format":"int32","description":"How the author wants this entry to get sorted","example":0},"status":{"type":"string","description":"This can change if it's linked to travel inventory that is no longer available.","enum":["ACTIVE","INACTIVE","REMOVED"],"example":"ACTIVE"},"type":{"type":"string","description":"The syndication entry type","enum":["WEB_LINK","MAP","GRID","CARD","FILE","QUOTE","POST","LOCKED"],"example":"WEB_LINK"},"metadata":{"type":"object","additionalProperties":{},"description":"Extended metadata"},"descriptions":{"type":"array","items":{"$ref":"#/components/schemas/SimpleDescription_Affiliate"},"minItems":1},"tags":{"type":"array","description":"Optional user categories","items":{"$ref":"#/components/schemas/KeyValuePair_Affiliate"}},"multimedias":{"type":"array","description":"The main multimedias for this entry.","example":"For web links, it would be the Open Graph image url. For a file upload, it would be the multipart file.","items":{"$ref":"#/components/schemas/SimpleMultimedia_Affiliate"}},"display":{"type":"string","description":"Whether to treat all links as flat web links or try to embed more advanced data.","enum":["FROM_SETTINGS","FROM_LAYOUT","BANNER","BANNER_INTELLIGENT"],"example":"Embedding a tweet"},"disabled":{"type":"boolean","default":false,"description":"Whether author wants to disable the post."},"publishDate":{"type":"string","format":"date-time","description":"An optional date for when this post will be displayed."},"publishStatus":{"type":"string","default":"PUBLISHED","description":"Publish status of post.","enum":["PUBLISHED","ARCHIVED"],"example":"PUBLISHED"},"lockCode":{"type":"string","description":"Optional code the author can require be entered by the user in order to see the post.","example":"ABC123"},"uniqueId":{"type":"string","description":"Optional unique code that can be used to access this record.","example":"https://trvl.as/Hbgt56"},"userTags":{"type":"array","items":{"description":"User IDs to tag in the post. ","example":"@maniot"}},"hashTags":{"type":"array","items":{"description":"Hash userTags to use in the post. ","example":"#TravelSolo"}}},"required":["contentUrl","descriptions","ownerIdentifier","sort","status","title","type","userIdentifier"]},"UpsertSyndicationCategory_Affiliate":{"type":"object","properties":{"name":{"type":"string","description":"The name of this category","example":"Faves","minLength":1}},"required":["name"]},"SyndicationCategory_Affiliate":{"type":"object","properties":{"id":{"type":"string","description":"Document UUID","example":"doc-1"},"createdDate":{"type":"string","format":"date-time","description":"Datetime this record was first created"},"lastUpdate":{"type":"string","format":"date-time","description":"Datetime this record was last updated"},"version":{"type":"integer","format":"int64","description":"Version property that shows how many times this document has been persisted. Document will not persist if the version property is less than current version property in the system. Result in an optimistic locking exception.","example":12},"userIdentifier":{"type":"string","format":"uuid","description":"Creator of entry","example":"user-1","minLength":1},"ownerIdentifier":{"type":"string","format":"uuid","description":"The user's owner company this entry associates with","example":"company-1","minLength":1},"name":{"type":"string","description":"The name of this category","example":"Faves","minLength":1}},"required":["name","ownerIdentifier","userIdentifier"]},"Sorted_Affiliate":{"type":"object","description":"Sorted object strictly to use for sorting of list items","properties":{"id":{"type":"string","description":"List item ID","example":"list-item-1","minLength":1},"index":{"type":"integer","format":"int32","description":"List item position","example":0}},"required":["id","index"]}},"securitySchemes":{"oauth2ClientCredentials":{"type":"oauth2","description":"## Retrieve access token\nMake a POST (`Content-Type: application/x-www-form-urlencoded`) request to the Token URL below. Include one POST key/value entry: `grant_type=client_credentials` and include your clientID / secretKey credentials in a Basic Auth header. E.g. `Authorization: Basic base64_encode($clientId + ':' + $secretKey)`.\n## Add Bearer access token to all API requests\nOnce you have the access token, you can pass that along on all API requests in the authentication header: `'Authorization: Bearer $accessToken`.\nNote: Tokens expire after 3 hours. Please make sure you refresh your token before that time.","name":"Client Credentials","flows":{"clientCredentials":{"authorizationUrl":"https://iam.wink.travel/oauth2/authorize","tokenUrl":"https://iam.wink.travel/oauth2/token","refreshUrl":"https://iam.wink.travel/oauth2/refresh","scopes":{"inventory.read":"Read Wink data","inventory.write":"Create Wink data","inventory.remove":"Remove Wink data"}}}}}}}