{"openapi":"3.1.0","info":{"title":"Wink API","description":" # Introduction\n Welcome to the Wink API - A programmer-friendly way to manage, sell and book travel inventory on the Wink platform. The API gives you all the tools you need to ready your properties and inventory for sale across 1000s of our native sales channels.\n Integrators, affiliates, travel agents and content creators have the ability search for your travel inventory and promote / sell it in a wide variety of ways.\n\n # Integrations\n We have already integrated with the most well-known channel managers so you don't have to. To see our current integrations, please go to https://extranet.wink.travel and scroll to Connectivity section. Once your properties are set up, you can finish the setup by mapping your property to Wink using your channel manager partner portal. If your properties don't have a channel manager, you can easily manage rates and availability with this API.\n\n # Intended Audience\n Programmers are [most likely] a requirement to start integrating with Wink. Companies and organizations that would most benefit from integrating with us are new and existing travel companies that have relationships with suppliers and that need an advanced system from which to manage their travel inventory and get that same inventory out to as many eyeballs as possible at the lowest price possible.\n - Hotel chains\n - Hotel brands\n - Travel tech companies\n - Destination sites\n - Integrators\n - Aggregators\n - Destination management companies\n - Travel agencies\n - OTAs\n\n ## APIs\n Not every integrator needs every API. For that reason, we have separated APIs into context.\n\n### Test API\n\n - [Ping](/ping): The Ping API is a quick test endpoint to verify that your credentials work Wink.\n\n### Common APIs\n\n- [Notifications](/notifications): The Notifications API is a way for us to stay in touch with your user, property or affiliate account.\n- [User Settings](/user-settings): The User Settings API exposes endpoints to allow 3rd party integrators to communicate with Wink.\n\n### Consume APIs\nConsume endpoints are for developers who want to find existing travel inventory and either book it or use it to advertise through one of their Wink affiliate accounts.\n\n - [Configuration](/customization-client): A single endpoint to retrieve whitelabel + customization information for the booking customization.\n - [Lookup](/lookup): All APIs related to locating inventory by region, locale and property flags.\n - [Inventory](/inventory): All APIs related to retrieve known travel inventory as it was found using the Lookup API..\n - [Booking](/booking): All APIs related to creating bookings on the platform.\n - [Travel Agent](/travel-agent): The Travel Agent API exposes endpoints to manage agent-facilitated bookings.\n\n ### Produce APIs\n Produce endpoints are for developers who want to create and manage travel inventory.\n\n #### Property\n - [Property registration](/extranet/property/register): As a producer, this is, oftentimes, where you start your journey. These endpoints let you create properties on Wink.\n - [Property](/extranet/property): This collection of property endpoints are mostly management endpoints that let you display, change status and similar for your existing properties.\n - [Facilities](/extranet/facilities): This collection of endpoints let you manage facilities; such as room types.\n - [Experiences](/extranet/experiences): This collection of endpoints let you manage experiences, such as activities.\n - [Monetize](/extranet/monetize): The Monetize API exposes endpoints for managing cancellation polies, rate plans, promotions and more on Wink.\n - [Distribution](/extranet/distribution): The Distribution API exposes endpoints for sales channels, connecting with affiliates, managing rates and inventory calendars and more on Wink.\n - [Property Booking](/extranet/booking): The Property Booking API exposes endpoints for managing bookings and reviews at the property-level.\n\n #### Affiliate\n - [Affiliate](/affiliate): This collection of affiliate endpoints are mostly management endpoints that let you display, change status and similar for your existing accounts.\n - [Browse](/affiliate/browse): The Browse API exposes endpoints for affiliates to find suppliers and inventory to sell.\n - [Inventory](/affiliate/inventory): The Inventory API exposes endpoints for affiliates to manage the inventory they want to sell and how they want to sell it.\n - [Sales Channel](/affiliate/sales-channel): The Sales Channel API exposes endpoints for affiliates to manage existing sales channels as well as find new ones.\n - [WinkLinks](/affiliate/winklinks): The WinkLinks API exposes endpoints for affiliates to manage their WinkLinks page.\n\n #### Rate provider\n - [Channel manager](/channel-manager): The Channel Manager API enables external channel manager partners to map, exchange rate / availability information with us as well as be informed of bookings that occur on the Wink platform for one of their properties.\n\n ### Taxonomy APIs\n Taxonomy endpoints are for developers who want to consume and produce travel inventory and need taxonomies of standard and non-standard codes for inventory types, classes, statuses etc.\n\n - [Reference](/reference): All APIs related to retrieving platform-supported taxonomies.\n\n ### Insight APIs\n Insight endpoints do exactly what the name implies - They offer platform-level insight into the activities of producers and consumers.\n\n - [Analytics](/analytics): All APIs related to tracking metrics across a wide variety of data source segments including, more entertaining, leaderboard metrics.\n\n ### Payment APIs\n Payment endpoints are for developers who want to purchase travel inventory. This can be done via the API as a registered Travel Agent or using our API in conjunction with our PCI compliant payment widget for all other entities.\n\n - [TripPay](/payment): All APIs related to TripPay account management, booking, mapping and integration features.\n\n ## SDKs\n We are actively working on supporting the most used languages out there. If you don't see your language here, reach out to us with a request to officially add your language. In the meantime, if you want to roll your own SDK, you can do so by downloading the OpenAPI spec and using one of the many available OpenAPI generators available: [https://openapi-generator.tech/docs/generators](https://openapi-generator.tech/docs/generators).\n\n - Java SDK [https://github.com/wink-travel/wink-sdk-java](https://github.com/wink-travel/wink-sdk-java)\n\n ## Usage\n These features are made available to you via a [REST API](https://en.wikipedia.org/wiki/Representational_state_transfer). This API is language agnostic.\n\n ## Versioning\n We chose to version our endpoints in a way that we hope affects your integration minimally. You request the version of our API you wish to work with via the `Wink-Version` header. When it's time for you to upgrade, you only have to change the version number to get access to our updated endpoints.\n\n ## Release history\n - Follow updates on Github: https://github.com/wink-travel/wink-sdk-java/blob/master/CHANGELOG.md\n\n\n\n# Inventory API\nThe Inventory API exposes endpoints to retrieve inventory you already know. This API lets you:\n\n1. Consume shareable links.\n2. Consume property.\n3. Load up all types of inventories that were created by you such as grids, lists, maps, and individual items.\n\nBrowse the endpoints in the left navigation bar to get started.\n\n","contact":{"name":"Bjorn Harvold","email":"bjorn@wink.travel"},"version":"30.22.0","x-logo":{"backgroundColor":"#FFFFFF","altText":"wink","url":"https://res.cloudinary.com/traveliko/image/upload/c_scale,h_129/v1653285543/wink/logo_text_white.svg"}},"externalDocs":{"description":"Affiliate Documentation","url":"https://academy.wink.travel/studio/what-is-studio/"},"servers":[{"url":"https://api.wink.travel","description":"Endpoint"}],"tags":[{"name":"Inventory","description":"Find properties and ancillaries by identifier, country, city, lookup, map bounds and more."}],"paths":{"/api/shareable-link/{code}":{"post":{"tags":["Inventory"],"summary":"Show Shareable Link","description":"Retrieve a shareable link by its unique code","operationId":"showConsumableUrl","parameters":[{"name":"User-Agent","in":"header","description":"User-Agent header.","required":false,"schema":{"type":"string","default":"Unknown"}},{"name":"Host","in":"header","description":"Host header.","required":false,"schema":{"type":"string","default":"Unknown"}},{"name":"Referer","in":"header","description":"Referrer header.","required":false,"schema":{"type":"string","default":"Unknown"}},{"name":"code","in":"path","description":"Unique link code","required":true,"schema":{"type":"string"}},{"name":"cid","in":"query","description":"Optional campaignId","required":false,"schema":{"type":"string"}},{"name":"_gl","in":"query","description":"Optional GA4 cross link ID","required":false,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserSession_Non_Authenticated_Entity"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AbstractOpenGraphRedirectUrl_Non_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/inventory":{"post":{"tags":["Inventory"],"summary":"Show Property","description":"Show property content / availability / rate details.","operationId":"showPropertyInventory","parameters":[{"name":"customizationIdentifier","in":"query","description":"Customization identifier","required":false,"schema":{"type":"string"}},{"name":"images","in":"query","description":"Number of images to return for inventory","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"videos","in":"query","description":"Number of videos to return for inventory","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HotelInventoryRequest_Non_Authenticated_Entity"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PropertyInventoryResponse_Non_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/inventory/unavailable":{"post":{"tags":["Inventory"],"summary":"No Inventory","description":"Notify property that there is a demand but no supply for the specified inventory.","operationId":"notifyProperty","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InventoryUnavailableNotification_Non_Authenticated_Entity"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InventoryUnavailableNotification_Non_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/inventory/ranked/grid":{"post":{"tags":["Inventory"],"summary":"Show Ranked Inventories","description":"Shows a paginated list of ranked inventory.","operationId":"showSellerInventoryRankedList","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregateSellerInventoryListRequest_Non_Authenticated_Entity"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellableRankedListResponse_Non_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/inventory/property":{"post":{"tags":["Inventory"],"summary":"Show Property Inventory","description":"Show single hotel card with price based on a given record identifier","operationId":"showPropertyAggregate","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregatePropertyRequest_Non_Authenticated_Entity"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellableInventoryProperty_Non_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/inventory/period":{"post":{"tags":["Inventory"],"summary":"Show Property Rate Period","description":"Returns all possible date range combinations of best rates for a property.","operationId":"showPropertyRatePeriod","parameters":[{"name":"customizationIdentifier","in":"query","description":"Customization identifier","required":false,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PeriodForPropertyRequest_Non_Authenticated_Entity"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PeriodForPropertyResponse_Non_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/inventory/list":{"post":{"tags":["Inventory"],"summary":"Show Property List","description":"Show property content / availability / rate details.","operationId":"showPropertyList","parameters":[{"name":"customizationIdentifier","in":"query","description":"Customization identifier","required":false,"schema":{"type":"string"}},{"name":"images","in":"query","description":"Number of images to return for inventory","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"videos","in":"query","description":"Number of videos to return for inventory","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HotelInventoryListRequest_Non_Authenticated_Entity"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HotelInventoryListResponse_Non_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/inventory/grid":{"post":{"tags":["Inventory"],"summary":"Show Inventory Grid","description":"Shows page of inventory items","operationId":"showSellerInventoryList","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregateSellerInventoryListRequest_Non_Authenticated_Entity"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellableListResponse_Non_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/inventory/grid/item":{"post":{"tags":["Inventory"],"summary":"Show Inventory Grid Item","description":"Shows single grid based on channel inventory identifier ","operationId":"showInventoryGridItem","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregateInventoryGridItemRequest_Non_Authenticated_Entity"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InventoryGridItem_Non_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/facility/spa":{"post":{"tags":["Inventory"],"summary":"Show Spa Inventory","description":"Show single spa based on a channel inventory identifier","operationId":"showPropertySpa","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregateSpaRequest_Non_Authenticated_Entity"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaSellableItem_Non_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/facility/room-type":{"post":{"tags":["Inventory"],"summary":"Show Guest Room Inventory","description":"Show single guest room based on a channel inventory identifier","operationId":"showPropertyRoomType","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregateRoomTypeRequest_Non_Authenticated_Entity"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellableInventoryGuestRoom_Non_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/facility/restaurant":{"post":{"tags":["Inventory"],"summary":"Show Restaurant Inventory","description":"Show single restaurant based on a channel inventory identifier","operationId":"showPropertyRestaurant","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregateRestaurantRequest_Non_Authenticated_Entity"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellableInventoryRestaurant_Non_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/facility/meeting-room":{"post":{"tags":["Inventory"],"summary":"Show Meeting Room Inventory","description":"Show single meeting room based on a channel inventory identifier","operationId":"showPropertyMeetingRoom","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregateMeetingRoomRequest_Non_Authenticated_Entity"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellableInventoryMeetingRoom_Non_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/experience/place":{"post":{"tags":["Inventory"],"summary":"Show Place Inventory","description":"Show single place based on a channel inventory identifier","operationId":"showPropertyPlace","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregatePlaceRequest_Non_Authenticated_Entity"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellableInventoryPlace_Non_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/experience/attraction":{"post":{"tags":["Inventory"],"summary":"Show Attraction Inventory","description":"Show single attraction based on a channel inventory identifier","operationId":"showPropertyAttraction","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregateAttractionRequest_Non_Authenticated_Entity"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellableInventoryAttraction_Non_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/experience/activity":{"post":{"tags":["Inventory"],"summary":"Show Activity Inventory","description":"Show single activity based on a channel inventory identifier","operationId":"showPropertyRecreation","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregateActivityRequest_Non_Authenticated_Entity"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellableInventoryActivity_Non_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}}},"components":{"schemas":{"GenericErrorMessage":{"type":"object","description":"Generic error message","properties":{"status":{"type":"integer","format":"int32","xml":{"attribute":true}},"error":{"type":"string"},"message":{"type":"string"},"timestamp":{"type":"string","xml":{"attribute":true}}},"xml":{"name":"ErrorMessage"}},"Child_Non_Authenticated_Entity":{"type":"object","description":"BookingItineraryRoomConfigurationChild configuration","properties":{"quantity":{"type":"integer","format":"int32","description":"Number of children","minimum":1},"age":{"type":"integer","format":"int32","description":"Age of children","minimum":0}},"required":["age","quantity"]},"Itinerary_Non_Authenticated_Entity":{"type":"object","description":"BookingItinerary","properties":{"startDate":{"type":"string","format":"date","description":"Start date of itinerary","example":"2024-01-01"},"endDate":{"type":"string","format":"date","description":"Optional end date. If endDate is empty, nights needs to be present. If both are present, nights will take precedence.","example":"2024-01-02"},"nights":{"type":"integer","format":"int32","description":"Optional number of nights. If nights is empty, endDate needs to be present. If both are present, nights will take precedence."},"items":{"type":"array","items":{"$ref":"#/components/schemas/RoomConfiguration_Non_Authenticated_Entity"},"maxItems":2147483647,"minItems":1},"hours":{"type":"integer","format":"int64","description":"Number of hours between start and end dates. Used for itineraries that require bookings that occur within hours and not days. E.g. Meeting room reservation.","readOnly":true},"children":{"type":"integer","format":"int32","description":"How many total children for this stay"},"guests":{"type":"integer","format":"int32","description":"How many total guests for this stay"},"rooms":{"type":"integer","format":"int32","description":"How many total rooms for this stay"}},"required":["items","startDate"]},"RoomConfiguration_Non_Authenticated_Entity":{"type":"object","description":"Room Configuration","properties":{"adults":{"type":"integer","format":"int32","default":1,"description":"Number of adults","example":2,"minimum":1},"children":{"type":"array","items":{"$ref":"#/components/schemas/Child_Non_Authenticated_Entity"}}},"required":["adults"]},"UserSession_Non_Authenticated_Entity":{"type":"object","description":"User session information containing itinerary and other user related data.","properties":{"itinerary":{"$ref":"#/components/schemas/Itinerary_Non_Authenticated_Entity","description":"Dates and travel info."},"language":{"type":"string","description":"User's language preference","example":"en"},"currency":{"type":"string","description":"User's currency preference","example":"USD"},"promotionalCodes":{"type":"array","items":{"description":"User can pass promotional codes to system to change prices.","example":"promo-1"}},"selectedRoomConfigurationIndex":{"type":"integer","format":"int32","description":"User can pass the current room configuration index to retrieve rates specifically for that room configuration."},"lifestyle":{"type":"string","description":"The preferred user lifestyle.","enum":["LIFESTYLE_HEALTH_FITNESS","LIFESTYLE_RELAX","LIFESTYLE_ADULT_ONLY","LIFESTYLE_ADVENTURE","LIFESTYLE_BUSINESS","LIFESTYLE_LGBT","LIFESTYLE_SINGLE_PARENT","LIFESTYLE_SOLO_FEMALE","LIFESTYLE_BEAUTY","LIFESTYLE_FOODIE","LIFESTYLE_FAMILY","LIFESTYLE_ROMANCE","LIFESTYLE_COUPLE","LIFESTYLE_SOLO","LIFESTYLE_BACKPACKER","LIFESTYLE_SHOPPING","LIFESTYLE_SPORTS","LIFESTYLE_MOUNTAIN","LIFESTYLE_BEACH","LIFESTYLE_CITY","LIFESTYLE_COUNTRY","LIFESTYLE_CULTURE","LIFESTYLE_ECO"]}},"required":["itinerary"]},"AbstractOpenGraphRedirectUrl_Non_Authenticated_Entity":{"type":"object","properties":{"type":{"type":"string","description":"The type of document the uniqueId links to","enum":["SELLABLE_INVENTORY_SLUG","SELLABLE_SUPPLIER_SLUG","AFFILIATE_ACCOUNT_SLUG","SYNDICATED_ITEM_SLUG","URL"]},"language":{"type":"string","default":"en","description":"Which language the seller wanted to use","example":"en"},"currency":{"type":"string","default":"USD","description":"Which currency the seller is using","example":"USD"},"title":{"type":"string","description":"Link title","example":"My link"},"description":{"type":"string","description":"Link description","example":"My description"},"keywords":{"type":"string","description":"Comma-separated keyword values that can be used to populate HTML metadata","example":"travel,argentina,beaches"},"uniqueId":{"type":"string","description":"The URL ID that uniquely represents this link","example":"AB7612"},"twitterAccount":{"type":"string","description":"Optional X account ID","example":"TheRealMe"},"facebookAppId":{"type":"string","description":"Optional Facebook app ID","example":12387682364238764},"image":{"$ref":"#/components/schemas/SellerMedia_Non_Authenticated_Entity","description":"The image you want to accompany this link","example":"https://res.cloudinary.com/traveliko/image/upload/c_fill,f_png,g_auto,h_630,q_auto:best,w_1200/l_sociallink:2a3e51_overlay_600x630.png,x_-300/l_sociallink:logo_150x30.png,x_-300,y_265/l_sociallink:savings_box_white_444x88.png,x_-300,y_135/co_white,l_text:roboto_35_bold:USD,x_-115,y_-180/co_white,l_text:roboto_45_bold:STARTING%20AT,x_-300,y_-250/co_white,l_text:roboto_260_bold:343,x_-300,y_-50/co_white,l_text:roboto_50_bold:YOU%20SAVE,x_-380,y_135/co_rgb:2A3E51,l_text:roboto_70_bold:10%25,x_-155,y_135/p6zjvqhoty9jb7kzbvbn"},"video":{"$ref":"#/components/schemas/SellerMedia_Non_Authenticated_Entity","description":"The video you want to accompany this link"},"transactUrl":{"type":"string","description":"The transation url, or where to redirect to when clicking the CTA button.","example":"https://ota.wink.travel/hotel/the-hotel-x"}},"required":["description","language","title","transactUrl","type","uniqueId"]},"SellerMedia_Non_Authenticated_Entity":{"type":"object","properties":{"channel":{"type":"string","enum":["FACEBOOK","INSTAGRAM","LINKED_IN","TWITTER","REDDIT"]},"url":{"type":"string"},"width":{"type":"integer","format":"int32"},"height":{"type":"integer","format":"int32"},"type":{"type":"string","enum":["IMAGE","VIDEO"]},"mimeType":{"type":"string"},"altText":{"type":"string"}}},"HotelInventoryRequest_Non_Authenticated_Entity":{"type":"object","properties":{"hotelIdentifier":{"type":"string","format":"uuid","description":"Unique property identifier to retrieve inventory for. Either the hotelIdentifier or urlName property is required.","example":"hotel-1"},"urlName":{"type":"string","description":"Unique url-friendly record identifier of property. Either the hotelIdentifier or urlName property is required.","example":"the-most-fantastic-hotel"},"showHotel":{"type":"boolean","default":true,"description":"Flag to indicate whether to return basic property data. If you are loading up property for the first time, this data would be good to include. But there is no need to load that a second time if you are only going for availability data. This field populates `hotel` data in response.","example":true},"showRoomTypes":{"type":"boolean","default":true,"description":"Flag to indicate whether to return property room type data. This field populates `roomType`, `cheapesRoomTypes` and `available` data in response.","example":true},"showMetadata":{"type":"boolean","default":true,"description":"Flag to indicate whether to return property meta data. This field populates `metadata` data in response.","example":true},"showVideos":{"type":"boolean","default":false,"description":"Flag to indicate whether to return property video data. This field populates `videos` data in response.","example":true},"showImages":{"type":"boolean","default":false,"description":"Flag to indicate whether to return property image data. This field populates `images` data in response.","example":true},"showAddOnOffers":{"type":"boolean","default":false,"description":"Flag to indicate whether to return property add-on data. This field populates `roomTypes.priceConfigurations.addOnOffers` data in response.","example":true},"showRestaurants":{"type":"boolean","default":false,"description":"Flag to indicate whether to return property restaurant data. This field populates `restaurants` data in response.","example":true},"showMeetingRooms":{"type":"boolean","default":false,"description":"Flag to indicate whether to return property meeting room data. This field populates `meetingRooms` data in response.","example":true},"showSpas":{"type":"boolean","default":false,"description":"Flag to indicate whether to return property spa data. This field populates `spas` data in response.","example":true},"showAttractions":{"type":"boolean","default":false,"description":"Flag to indicate whether to return property attraction data. This field populates `attractions` data in response.","example":true},"showActivities":{"type":"boolean","default":false,"description":"Flag to indicate whether to return property activity data. This field populates `activities` data in response.","example":true},"showPlaces":{"type":"boolean","default":false,"description":"Flag to indicate whether to return property place data. This field populates `places` data in response.","example":true},"showRecognition":{"type":"boolean","default":false,"description":"Flag to indicate whether to return property recognition data. This field populates `recognitions` data in response.","example":true},"showAggregateGreenIndexScores":{"type":"boolean","default":false,"description":"Flag to indicate whether to return property green index score data. This field populates `greenIndexScores` data in response. Note: You only need to return hotel data to get the overall aggregate Green Index score and not detailed category scores.","example":true},"showAnnouncements":{"type":"boolean","default":false,"description":"Flag to indicate whether to return property announcement data. Announcements are messages the property wishes to convey to travelers for certain dates. This field populates `announcements` data in response.","example":true},"showReviews":{"type":"boolean","default":false,"description":"Flag to indicate whether to return property review data. Note: You only need to return hotel data to get the overall aggregate review score and not the entire list of reviews. This field populates `reviews` data in response.","example":true},"userSession":{"$ref":"#/components/schemas/UserSession_Non_Authenticated_Entity","description":"Returns the same user session that was sent by the caller."}},"required":["userSession"]},"ActivityLightweight_Non_Authenticated_Entity":{"type":"object","properties":{"identifier":{"type":"string","format":"uuid","description":"Unique record identifier","example":"document-1","minLength":1},"hotelIdentifier":{"type":"string","format":"uuid","description":"Hotel identifier.","example":"hotel-1","minLength":1},"featuredInd":{"type":"boolean","description":"Indicates whether this inventory is featured. Use this flag as a way to signify that this inventory is special.","example":false},"lifestyleType":{"type":"string","description":"Indicate the type of lifestyle this blocking should be associated with.","enum":["LIFESTYLE_HEALTH_FITNESS","LIFESTYLE_RELAX","LIFESTYLE_ADULT_ONLY","LIFESTYLE_ADVENTURE","LIFESTYLE_BUSINESS","LIFESTYLE_LGBT","LIFESTYLE_SINGLE_PARENT","LIFESTYLE_SOLO_FEMALE","LIFESTYLE_BEAUTY","LIFESTYLE_FOODIE","LIFESTYLE_FAMILY","LIFESTYLE_ROMANCE","LIFESTYLE_COUPLE","LIFESTYLE_SOLO","LIFESTYLE_BACKPACKER","LIFESTYLE_SHOPPING","LIFESTYLE_SPORTS","LIFESTYLE_MOUNTAIN","LIFESTYLE_BEACH","LIFESTYLE_CITY","LIFESTYLE_COUNTRY","LIFESTYLE_CULTURE","LIFESTYLE_ECO"],"example":"LIFESTYLE_HEALTH_FITNESS"},"location":{"$ref":"#/components/schemas/GeoJsonPoint_Non_Authenticated_Entity","description":"Geo-location point where blocking takes place. Defaults to location of property.","example":{"type":"POINT","coordinates":[100.5581533,13.7370197]}},"descriptions":{"type":"array","items":{"$ref":"#/components/schemas/SimpleDescription_Non_Authenticated_Entity"},"minItems":1},"multimedias":{"type":"array","items":{"$ref":"#/components/schemas/SimpleMultimedia_Non_Authenticated_Entity"},"minItems":1},"contact":{"$ref":"#/components/schemas/Contact_Non_Authenticated_Entity","description":"Associate a contact person for this blocking (if applicable)."},"address":{"$ref":"#/components/schemas/SimpleAddress_Non_Authenticated_Entity","description":"Defaults to property address."},"commissionable":{"type":"boolean","default":true,"description":"Indicate whether sales channels receive commission for selling this blocking.","example":true},"name":{"type":"string","description":"Internal name of inventory.","example":"Archery lesson","minLength":1},"proximityCode":{"type":"string","description":"Supported OTA specification `PRX` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":1},"sort":{"type":"integer","format":"int32","description":"Use this property to sort an blocking in a list of activities.","example":1},"minAgeAppropriateCode":{"type":"string","description":"Supported OTA specification `AQC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":1},"bookable":{"type":"boolean","default":true,"description":"Indicates if this blocking can be added to a booking or if it is read-only marketing material only.","example":true},"active":{"type":"boolean","default":true,"description":"Modify blocking availability with this flag.","example":true},"disabilityFeatures":{"type":"array","items":{"type":"string"}},"securityFeatures":{"type":"array","items":{"type":"string"}},"socials":{"type":"array","items":{"$ref":"#/components/schemas/Social_Non_Authenticated_Entity"}},"pricePoint":{"type":"string","default":"THREE","description":"Level of expensiveness.","enum":["HALF","ONE","ONE_HALF","TWO","TWO_HALF","THREE","THREE_HALF","FOUR","FOUR_HALF","FIVE"],"example":"THREE"},"recognitionList":{"type":"array","items":{"$ref":"#/components/schemas/TravelInventoryRecognition_Non_Authenticated_Entity"}},"applicableStart":{"type":"string","format":"date","description":"Start month and day or date for which the attraction (e.g. the start of a season) is available. This date property signifies that the blocking is recurring and / or seasonal. If the date is in the past, only day and month will be used to infer seasonality. If the date is a future date, it will be interpreted as a starting date.","example":"1970-1-1"},"applicableEnd":{"type":"string","format":"date","description":"End month and day or date for which the attraction (e.g. the start of a season) is available. This date property signifies that the blocking is recurring and / or seasonal. If the date is in the past, only day and month will be used to infer seasonality. If the date is a future date, it will be interpreted as a ending date.","example":"1970-12-1"},"reservationRequiredInd":{"type":"boolean","description":"Indicates whether a reservation is required to participate in this blocking.","example":false},"opens":{"type":"string","description":"Opening time of blocking (if applicable). Leave empty if blocking is always available.","example":"09:00"},"closes":{"type":"string","description":"Closing time of blocking (if applicable). Leave empty if blocking is always available.","example":"17:30"},"daysOfWeek":{"$ref":"#/components/schemas/DowPatternGroup_Non_Authenticated_Entity","description":"Indicate which days this blocking is open."},"recreationCategoryCode":{"type":"string","description":"Supported OTA specification `RST` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":1,"minLength":1},"amenities":{"type":"array","items":{"type":"string"}}},"required":["active","address","bookable","commissionable","contact","descriptions","featuredInd","hotelIdentifier","identifier","location","multimedias","name","pricePoint","proximityCode","recreationCategoryCode"]},"ActivityLocalizedInventory_Non_Authenticated_Entity":{"type":"object","properties":{"activity":{"$ref":"#/components/schemas/ActivityLightweight_Non_Authenticated_Entity","description":"Inventory data object","readOnly":true},"list":{"type":"array","items":{"$ref":"#/components/schemas/LocalizedTransactionalTravelInventory_Non_Authenticated_Entity"},"writeOnly":true},"channelInventoryIdentifier":{"type":"string","format":"uuid","description":"Channel inventory identifier referencing this record."},"commissionable":{"type":"boolean","description":"Whether this package is commissionable based on the incoming sales channel."},"commission":{"type":"number","format":"float","description":"The commission percentage.","example":0.1},"direct":{"type":"boolean","default":false,"description":"Indicates whether the blocking from sales channel is direct or not. If you are a travel agent doing your own acquiring, this flag has to be true to make a booking.","example":true},"priceList":{"type":"array","items":{"description":"Localized transactional blocking"}}},"required":["direct"]},"AddOnLightweight_Non_Authenticated_Entity":{"type":"object","properties":{"identifier":{"type":"string","format":"uuid","description":"Unique record identifier","example":"document-1","minLength":1},"hotelIdentifier":{"type":"string","format":"uuid","description":"Hotel identifier.","example":"hotel-1","minLength":1},"featuredInd":{"type":"boolean","description":"Indicates whether this inventory is featured. Use this flag as a way to signify that this inventory is special.","example":false},"lifestyleType":{"type":"string","description":"Indicate the type of lifestyle this blocking should be associated with.","enum":["LIFESTYLE_HEALTH_FITNESS","LIFESTYLE_RELAX","LIFESTYLE_ADULT_ONLY","LIFESTYLE_ADVENTURE","LIFESTYLE_BUSINESS","LIFESTYLE_LGBT","LIFESTYLE_SINGLE_PARENT","LIFESTYLE_SOLO_FEMALE","LIFESTYLE_BEAUTY","LIFESTYLE_FOODIE","LIFESTYLE_FAMILY","LIFESTYLE_ROMANCE","LIFESTYLE_COUPLE","LIFESTYLE_SOLO","LIFESTYLE_BACKPACKER","LIFESTYLE_SHOPPING","LIFESTYLE_SPORTS","LIFESTYLE_MOUNTAIN","LIFESTYLE_BEACH","LIFESTYLE_CITY","LIFESTYLE_COUNTRY","LIFESTYLE_CULTURE","LIFESTYLE_ECO"],"example":"LIFESTYLE_HEALTH_FITNESS"},"location":{"$ref":"#/components/schemas/GeoJsonPoint_Non_Authenticated_Entity","description":"Geo-location point where blocking takes place. Defaults to location of property.","example":{"type":"POINT","coordinates":[100.5581533,13.7370197]}},"descriptions":{"type":"array","items":{"$ref":"#/components/schemas/SimpleDescription_Non_Authenticated_Entity"},"minItems":1},"multimedias":{"type":"array","items":{"$ref":"#/components/schemas/SimpleMultimedia_Non_Authenticated_Entity"},"minItems":1},"contact":{"$ref":"#/components/schemas/Contact_Non_Authenticated_Entity","description":"Associate a contact person for this blocking (if applicable)."},"address":{"$ref":"#/components/schemas/SimpleAddress_Non_Authenticated_Entity","description":"Defaults to property address."},"commissionable":{"type":"boolean","default":true,"description":"Indicate whether sales channels receive commission for selling this blocking.","example":true},"name":{"type":"string","description":"Internal name of inventory.","example":"Archery lesson","minLength":1},"proximityCode":{"type":"string","description":"Supported OTA specification `PRX` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":1},"sort":{"type":"integer","format":"int32","description":"Use this property to sort an blocking in a list of activities.","example":1},"minAgeAppropriateCode":{"type":"string","description":"Supported OTA specification `AQC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":1},"bookable":{"type":"boolean","default":true,"description":"Indicates if this blocking can be added to a booking or if it is read-only marketing material only.","example":true},"active":{"type":"boolean","default":true,"description":"Modify blocking availability with this flag.","example":true},"disabilityFeatures":{"type":"array","items":{"type":"string"}},"securityFeatures":{"type":"array","items":{"type":"string"}},"socials":{"type":"array","items":{"$ref":"#/components/schemas/Social_Non_Authenticated_Entity"}},"pricePoint":{"type":"string","default":"THREE","description":"Level of expensiveness.","enum":["HALF","ONE","ONE_HALF","TWO","TWO_HALF","THREE","THREE_HALF","FOUR","FOUR_HALF","FIVE"],"example":"THREE"},"recognitionList":{"type":"array","items":{"$ref":"#/components/schemas/TravelInventoryRecognition_Non_Authenticated_Entity"}},"applicableStart":{"type":"string","format":"date","description":"Start month and day or date for which the attraction (e.g. the start of a season) is available. This date property signifies that the blocking is recurring and / or seasonal. If the date is in the past, only day and month will be used to infer seasonality. If the date is a future date, it will be interpreted as a starting date.","example":"1970-1-1"},"applicableEnd":{"type":"string","format":"date","description":"End month and day or date for which the attraction (e.g. the start of a season) is available. This date property signifies that the blocking is recurring and / or seasonal. If the date is in the past, only day and month will be used to infer seasonality. If the date is a future date, it will be interpreted as a ending date.","example":"1970-12-1"},"reservationRequiredInd":{"type":"boolean","description":"Indicates whether a reservation is required to participate in this blocking.","example":false},"opens":{"type":"string","description":"Opening time of blocking (if applicable). Leave empty if blocking is always available.","example":"09:00"},"closes":{"type":"string","description":"Closing time of blocking (if applicable). Leave empty if blocking is always available.","example":"17:30"},"daysOfWeek":{"$ref":"#/components/schemas/DowPatternGroup_Non_Authenticated_Entity","description":"Indicate which days this blocking is open."},"numberOfUnits":{"type":"integer","format":"int32","default":0,"description":"Total number of add-ons available to purchase.","example":10,"minimum":0},"mandatory":{"type":"boolean","default":false,"description":"Make this add-on mandatory for all guests by enabling this flag.","example":true},"ratePlanIdentifier":{"type":"string","description":"Optional restriction on rate plan."}},"required":["active","address","bookable","commissionable","contact","descriptions","featuredInd","hotelIdentifier","identifier","location","mandatory","multimedias","name","numberOfUnits","pricePoint","proximityCode"]},"AddOnLocalizedInventory_Non_Authenticated_Entity":{"type":"object","properties":{"addOn":{"$ref":"#/components/schemas/AddOnLightweight_Non_Authenticated_Entity","description":"The original add-on record created by the property."},"priceList":{"type":"array","items":{"description":"Localized transactional blocking"}},"channelInventoryIdentifier":{"type":"string","format":"uuid","description":"Channel inventory identifier referencing this record."},"commissionable":{"type":"boolean","description":"Whether this package is commissionable based on the incoming sales channel."},"commission":{"type":"number","format":"float","description":"The commission percentage.","example":0.1},"direct":{"type":"boolean","default":false,"description":"Indicates whether the blocking from sales channel is direct or not. If you are a travel agent doing your own acquiring, this flag has to be true to make a booking.","example":true}},"required":["addOn","direct"]},"AnnouncementLightweight_Non_Authenticated_Entity":{"type":"object","properties":{"startDate":{"type":"string","format":"date","description":"Start date for when announcement is valid","example":"2022-10-24"},"endDate":{"type":"string","format":"date","description":"End date for when announcement is no longer valid","example":"2022-11-25"},"descriptions":{"type":"array","items":{"$ref":"#/components/schemas/SimpleDescription_Non_Authenticated_Entity"},"maxItems":2147483647,"minItems":1},"showTitle":{"type":"boolean","default":false,"description":"When enabled, the property does not want the title to be displayed","example":true},"showAlways":{"type":"boolean","default":false,"description":"When enabled, the property wants this announcement always to be displayed","example":true}},"required":["descriptions"]},"AttractionLightweight_Non_Authenticated_Entity":{"type":"object","properties":{"identifier":{"type":"string","format":"uuid","description":"Unique record identifier","example":"document-1","minLength":1},"hotelIdentifier":{"type":"string","format":"uuid","description":"Hotel identifier.","example":"hotel-1","minLength":1},"featuredInd":{"type":"boolean","description":"Indicates whether this inventory is featured. Use this flag as a way to signify that this inventory is special.","example":false},"lifestyleType":{"type":"string","description":"Indicate the type of lifestyle this blocking should be associated with.","enum":["LIFESTYLE_HEALTH_FITNESS","LIFESTYLE_RELAX","LIFESTYLE_ADULT_ONLY","LIFESTYLE_ADVENTURE","LIFESTYLE_BUSINESS","LIFESTYLE_LGBT","LIFESTYLE_SINGLE_PARENT","LIFESTYLE_SOLO_FEMALE","LIFESTYLE_BEAUTY","LIFESTYLE_FOODIE","LIFESTYLE_FAMILY","LIFESTYLE_ROMANCE","LIFESTYLE_COUPLE","LIFESTYLE_SOLO","LIFESTYLE_BACKPACKER","LIFESTYLE_SHOPPING","LIFESTYLE_SPORTS","LIFESTYLE_MOUNTAIN","LIFESTYLE_BEACH","LIFESTYLE_CITY","LIFESTYLE_COUNTRY","LIFESTYLE_CULTURE","LIFESTYLE_ECO"],"example":"LIFESTYLE_HEALTH_FITNESS"},"location":{"$ref":"#/components/schemas/GeoJsonPoint_Non_Authenticated_Entity","description":"Geo-location point where blocking takes place. Defaults to location of property.","example":{"type":"POINT","coordinates":[100.5581533,13.7370197]}},"descriptions":{"type":"array","items":{"$ref":"#/components/schemas/SimpleDescription_Non_Authenticated_Entity"},"minItems":1},"multimedias":{"type":"array","items":{"$ref":"#/components/schemas/SimpleMultimedia_Non_Authenticated_Entity"},"minItems":1},"contact":{"$ref":"#/components/schemas/Contact_Non_Authenticated_Entity","description":"Associate a contact person for this blocking (if applicable)."},"address":{"$ref":"#/components/schemas/SimpleAddress_Non_Authenticated_Entity","description":"Defaults to property address."},"commissionable":{"type":"boolean","default":true,"description":"Indicate whether sales channels receive commission for selling this blocking.","example":true},"name":{"type":"string","description":"Internal name of inventory.","example":"Archery lesson","minLength":1},"proximityCode":{"type":"string","description":"Supported OTA specification `PRX` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":1},"sort":{"type":"integer","format":"int32","description":"Use this property to sort an blocking in a list of activities.","example":1},"minAgeAppropriateCode":{"type":"string","description":"Supported OTA specification `AQC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":1},"bookable":{"type":"boolean","default":true,"description":"Indicates if this blocking can be added to a booking or if it is read-only marketing material only.","example":true},"active":{"type":"boolean","default":true,"description":"Modify blocking availability with this flag.","example":true},"disabilityFeatures":{"type":"array","items":{"type":"string"}},"securityFeatures":{"type":"array","items":{"type":"string"}},"socials":{"type":"array","items":{"$ref":"#/components/schemas/Social_Non_Authenticated_Entity"}},"pricePoint":{"type":"string","default":"THREE","description":"Level of expensiveness.","enum":["HALF","ONE","ONE_HALF","TWO","TWO_HALF","THREE","THREE_HALF","FOUR","FOUR_HALF","FIVE"],"example":"THREE"},"recognitionList":{"type":"array","items":{"$ref":"#/components/schemas/TravelInventoryRecognition_Non_Authenticated_Entity"}},"applicableStart":{"type":"string","format":"date","description":"Start month and day or date for which the attraction (e.g. the start of a season) is available. This date property signifies that the blocking is recurring and / or seasonal. If the date is in the past, only day and month will be used to infer seasonality. If the date is a future date, it will be interpreted as a starting date.","example":"1970-1-1"},"applicableEnd":{"type":"string","format":"date","description":"End month and day or date for which the attraction (e.g. the start of a season) is available. This date property signifies that the blocking is recurring and / or seasonal. If the date is in the past, only day and month will be used to infer seasonality. If the date is a future date, it will be interpreted as a ending date.","example":"1970-12-1"},"reservationRequiredInd":{"type":"boolean","description":"Indicates whether a reservation is required to participate in this blocking.","example":false},"opens":{"type":"string","description":"Opening time of blocking (if applicable). Leave empty if blocking is always available.","example":"09:00"},"closes":{"type":"string","description":"Closing time of blocking (if applicable). Leave empty if blocking is always available.","example":"17:30"},"daysOfWeek":{"$ref":"#/components/schemas/DowPatternGroup_Non_Authenticated_Entity","description":"Indicate which days this blocking is open."},"attractionCategoryCode":{"type":"string","description":"Supported OTA specification `ACC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":1,"minLength":1},"courtesyPhone":{"type":"boolean","default":false,"description":"Whether or not a courtesy phone for contacting the hotel is available at the attraction (e.g. often times these are available in airports). When true, the phone is available.","example":true}},"required":["active","address","attractionCategoryCode","bookable","commissionable","contact","descriptions","featuredInd","hotelIdentifier","identifier","location","multimedias","name","pricePoint","proximityCode"]},"AttractionLocalizedInventory_Non_Authenticated_Entity":{"type":"object","properties":{"attraction":{"$ref":"#/components/schemas/AttractionLightweight_Non_Authenticated_Entity","description":"Inventory data object","readOnly":true},"list":{"type":"array","items":{"$ref":"#/components/schemas/LocalizedTransactionalTravelInventory_Non_Authenticated_Entity"},"writeOnly":true},"channelInventoryIdentifier":{"type":"string","format":"uuid","description":"Channel inventory identifier referencing this record."},"commissionable":{"type":"boolean","description":"Whether this package is commissionable based on the incoming sales channel."},"commission":{"type":"number","format":"float","description":"The commission percentage.","example":0.1},"direct":{"type":"boolean","default":false,"description":"Indicates whether the blocking from sales channel is direct or not. If you are a travel agent doing your own acquiring, this flag has to be true to make a booking.","example":true},"priceList":{"type":"array","items":{"description":"Localized transactional blocking"}}},"required":["direct"]},"Bed_Non_Authenticated_Entity":{"type":"object","properties":{"bedTypeCode":{"type":"string","description":"Indicates the type of bed(s) found in the room. Typical values would be Double, Twin, Queen, or King. Supported OTA specification `BED` code. See [OTA geoname data](#operation/showAvailableCodesForCategory).","example":1,"minLength":1},"quantity":{"type":"integer","format":"int32","description":"Number of beds for this bed type.","example":10,"minimum":1}},"required":["bedTypeCode","quantity"]},"BedroomConfiguration_Non_Authenticated_Entity":{"type":"object","properties":{"identifier":{"type":"string","format":"uuid","description":"Unique identifier","minLength":1},"name":{"type":"string","description":"Name of layout","minLength":1},"bedroomList":{"type":"array","items":{"$ref":"#/components/schemas/Bedroom_Non_Authenticated_Entity"},"minItems":1}},"required":["bedroomList","identifier","name"]},"Bedroom_Non_Authenticated_Entity":{"type":"object","properties":{"type":{"type":"string","description":"Type of bedroom","enum":["MASTER","QUEEN","JUNIOR","DORMITORY","BEDROOM_1","BEDROOM_2","BEDROOM_3","BEDROOM_4","BEDROOM_5","BEDROOM_6","BEDROOM_7","BEDROOM_8","BEDROOM_9","BEDROOM_10"]},"bedList":{"type":"array","items":{"$ref":"#/components/schemas/Bed_Non_Authenticated_Entity"},"minItems":1}},"required":["bedList","type"]},"CancellationPolicyException_Non_Authenticated_Entity":{"type":"object","properties":{"cancellationPolicyIdentifier":{"type":"string","format":"uuid","description":"Cancellation policy","minLength":1},"cancellationPolicy":{"$ref":"#/components/schemas/CancellationPolicyLightweight_Non_Authenticated_Entity","description":"Cancellation policy"},"startDate":{"type":"string","format":"date","description":"Start date for when this cancellation policy should start to override the default cancellation policy."},"endDate":{"type":"string","format":"date","description":"End date for when this cancellation policy should end overriding the default cancellation policy."}},"required":["cancellationPolicy","cancellationPolicyIdentifier","endDate","startDate"]},"CancellationPolicyExceptions_Non_Authenticated_Entity":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/CancellationPolicyException_Non_Authenticated_Entity"},"minItems":1}},"required":["list"]},"CancellationPolicyLightweight_Non_Authenticated_Entity":{"type":"object","properties":{"identifier":{"type":"string","format":"uuid","description":"Unique cancellation policy identifier"},"hotelIdentifier":{"type":"string","format":"uuid","description":"Property this cancellation is associated with"},"refundable":{"type":"boolean","default":false,"description":"Whether this cancellation policy is refundable or not","example":false},"advanceCancellationFreeOfCharge":{"type":"string","description":"When the cancellation policy is refundable, this flag can be set and indicates there is more rules involved than just a no-questions-asked refundable.","enum":["UNTIL_EIGHTEEN_HUNDRED_HOURS_ON_DAY_OF_ARRIVAL","UNTIL_FOURTEEN_HUNDRED_HOURS_ON_DAY_OF_ARRIVAL","ONE_DAY_BEFORE_ARRIVAL","TWO_DAYS_BEFORE_ARRIVAL","THREE_DAYS_BEFORE_ARRIVAL","FIVE_DAYS_BEFORE_ARRIVAL","SEVEN_DAYS_BEFORE_ARRIVAL","FOURTEEN_DAYS_BEFORE_ARRIVAL","TWENTYONE_DAYS_BEFORE_ARRIVAL","THIRTY_DAYS_BEFORE_ARRIVAL","FOURTY_TWO_DAYS_BEFORE_ARRIVAL","SIXTY_DAYS_BEFORE_ARRIVAL"],"example":"UNTIL_EIGHTEEN_HUNDRED_HOURS_ON_DAY_OF_ARRIVAL"},"refundableCancellationCharge":{"type":"string","description":"If advanceCancellationFreeOfCharge rules is not honored, this property explains what the guest will be charged.","enum":["FIRST_NIGHT","THIRTY_PERCENT","FIFTY_PERCENT","SIXTY_PERCENT","SEVENTY_PERCENT","NINENTY_PERCENT","ONE_HUNDRED_PERCENT"],"example":"FIFTY_PERCENT"},"noShowCharge":{"type":"string","description":"In case the 'Refundable cancellation charge' is set, a different no show charge can be applied.","enum":["SAME_AS_CANCELLATION_FEE","ONE_HUNDRED_PERCENT_OF_TOTAL_CHARGE"],"example":"SAME_AS_CANCELLATION_FEE"},"nonRefundableCancellationCharge":{"type":"string","description":"When the cancellation policy is non-refundable, this flag can be set and indicates there is more rules involved to calculate what the guest will owe in case of a cancellation.","enum":["FIRST_NIGHT","TEN_PERCENT","THIRTY_PERCENT","FIFTY_PERCENT","SEVENTY_PERCENT"],"example":"SEVENTY_PERCENT"},"nonRefundableDeadline":{"type":"string","description":"The non-refundable charge might can have a deadline. If that deadline passes, the guest might be charged more.","enum":["ONE_DAY_BEFORE_ARRIVAL","TWO_DAYS_BEFORE_ARRIVAL","THREE_DAYS_BEFORE_ARRIVAL","FIVE_DAYS_BEFORE_ARRIVAL","SEVEN_DAYS_BEFORE_ARRIVAL","FOURTEEN_DAYS_BEFORE_ARRIVAL","TWENTYONE_DAYS_BEFORE_ARRIVAL","THIRTY_DAYS_BEFORE_ARRIVAL","FOURTY_TWO_DAYS_BEFORE_ARRIVAL","SIXTY_DAYS_BEFORE_ARRIVAL"],"example":"SEVEN_DAYS_BEFORE_ARRIVAL"},"nonRefundableAfterDeadlineCancellationCharge":{"type":"string","description":"If the guest does not honor the non-refundable deadline rule, this charge dictates what she owes after the deadline passes.","enum":["FIRST_NIGHT","TEN_PERCENT","THIRTY_PERCENT","FIFTY_PERCENT","SEVENTY_PERCENT","ONE_HUNDRED_PERCENT"],"example":"ONE_HUNDRED_PERCENT"},"policyCode":{"type":"string"}},"required":["hotelIdentifier","identifier","refundable"]},"Contact_Non_Authenticated_Entity":{"type":"object","properties":{"firstName":{"type":"string","description":"Contact first name","example":"John"},"lastName":{"type":"string","description":"Contact last name","example":"Smith"},"email":{"type":"string","description":"Contact E-mail","example":"johnsmith@email.com"},"secondaryEmail":{"type":"string","description":"Contact secondary Email","example":"johnsmith2@email.com"},"phoneNumber":{"type":"string","description":"Contact phone number","example":"+12125551212"},"fullName":{"type":"string","description":"First and last name","example":"John Smith","readOnly":true},"summary":{"type":"string","description":"Summary","example":"John Smith (johnsmith@gmail.com / +12125551212)","readOnly":true}}},"CustomMonetaryAmount":{"type":"object","properties":{"amount":{"type":"number"},"currency":{"type":"string","minLength":1}},"required":["amount","currency"]},"DowPatternGroup_Non_Authenticated_Entity":{"type":"object","properties":{"mon":{"type":"boolean","description":"Set to `true` to enable Monday.","example":true},"tue":{"type":"boolean","description":"Set to `true` to enable Tuesday.","example":true},"wed":{"type":"boolean","description":"Set to `true` to enable Wednesday.","example":true},"thu":{"type":"boolean","description":"Set to `true` to enable Thursday.","example":true},"fri":{"type":"boolean","description":"Set to `true` to enable Friday.","example":true},"sat":{"type":"boolean","description":"Set to `true` to enable Saturday.","example":true},"sun":{"type":"boolean","description":"Set to `true` to enable Sunday.","example":true},"disabled":{"type":"boolean","description":"Convenience property to quickly determine if this existing object has any active days enabled.","example":true}}},"ExtraCharge_Non_Authenticated_Entity":{"type":"object","properties":{"ratePlanLevelFee":{"$ref":"#/components/schemas/RatePlanLevelFee_Non_Authenticated_Entity","description":"What the guest is paying extra for"},"unitPrice":{"$ref":"#/components/schemas/LocalizedPrice_Non_Authenticated_Entity","description":"The localized unit price of the extra charge"},"price":{"$ref":"#/components/schemas/LocalizedPrice_Non_Authenticated_Entity","description":"The localized price of the extra charge"}}},"ExtraCharges_Non_Authenticated_Entity":{"type":"object","properties":{"items":{"type":"array","description":"List of extra charges that applies to the rate plan.","items":{"$ref":"#/components/schemas/ExtraCharge_Non_Authenticated_Entity"},"title":"Items"},"userSpecifiedCurrencyTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"sourceTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"internalTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"}}},"GeneralManager_Non_Authenticated_Entity":{"type":"object","description":"General manager related data.","properties":{"name":{"type":"string","description":"Name of GM currently managing the property.","example":"Jane Doe"},"image":{"$ref":"#/components/schemas/SimpleMultimedia_Non_Authenticated_Entity","description":"Cloudinary image identifier of GM currently managing the property.","example":"cl-image-1"},"descriptions":{"type":"array","items":{"$ref":"#/components/schemas/LocalizedDescription_Non_Authenticated_Entity"}}},"required":["name"]},"GeoJsonPoint_Non_Authenticated_Entity":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"},"type":{"type":"string"},"coordinates":{"type":"array","items":{"type":"number","format":"double"}}}},"GuestRoomLightweight_Non_Authenticated_Entity":{"type":"object","properties":{"identifier":{"type":"string","format":"uuid","description":"Unique record identifier","example":"document-1","minLength":1},"hotelIdentifier":{"type":"string","format":"uuid","description":"Hotel identifier.","example":"hotel-1","minLength":1},"featuredInd":{"type":"boolean","description":"Indicates whether this inventory is featured. Use this flag as a way to signify that this inventory is special.","example":false},"lifestyleType":{"type":"string","description":"Indicate the type of lifestyle this blocking should be associated with.","enum":["LIFESTYLE_HEALTH_FITNESS","LIFESTYLE_RELAX","LIFESTYLE_ADULT_ONLY","LIFESTYLE_ADVENTURE","LIFESTYLE_BUSINESS","LIFESTYLE_LGBT","LIFESTYLE_SINGLE_PARENT","LIFESTYLE_SOLO_FEMALE","LIFESTYLE_BEAUTY","LIFESTYLE_FOODIE","LIFESTYLE_FAMILY","LIFESTYLE_ROMANCE","LIFESTYLE_COUPLE","LIFESTYLE_SOLO","LIFESTYLE_BACKPACKER","LIFESTYLE_SHOPPING","LIFESTYLE_SPORTS","LIFESTYLE_MOUNTAIN","LIFESTYLE_BEACH","LIFESTYLE_CITY","LIFESTYLE_COUNTRY","LIFESTYLE_CULTURE","LIFESTYLE_ECO"],"example":"LIFESTYLE_HEALTH_FITNESS"},"location":{"$ref":"#/components/schemas/GeoJsonPoint_Non_Authenticated_Entity","description":"Geo-location point where blocking takes place. Defaults to location of property.","example":{"type":"POINT","coordinates":[100.5581533,13.7370197]}},"descriptions":{"type":"array","items":{"$ref":"#/components/schemas/SimpleDescription_Non_Authenticated_Entity"},"minItems":1},"multimedias":{"type":"array","items":{"$ref":"#/components/schemas/SimpleMultimedia_Non_Authenticated_Entity"},"minItems":1},"contact":{"$ref":"#/components/schemas/Contact_Non_Authenticated_Entity","description":"Associate a contact person for this blocking (if applicable)."},"address":{"$ref":"#/components/schemas/SimpleAddress_Non_Authenticated_Entity","description":"Defaults to property address."},"commissionable":{"type":"boolean","default":true,"description":"Indicate whether sales channels receive commission for selling this blocking.","example":true},"name":{"type":"string","description":"Internal name of inventory.","example":"Archery lesson","minLength":1},"proximityCode":{"type":"string","description":"Supported OTA specification `PRX` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":1},"sort":{"type":"integer","format":"int32","description":"Use this property to sort an blocking in a list of activities.","example":1},"minAgeAppropriateCode":{"type":"string","description":"Supported OTA specification `AQC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":1},"bookable":{"type":"boolean","default":true,"description":"Indicates if this blocking can be added to a booking or if it is read-only marketing material only.","example":true},"active":{"type":"boolean","default":true,"description":"Modify blocking availability with this flag.","example":true},"disabilityFeatures":{"type":"array","items":{"type":"string"}},"securityFeatures":{"type":"array","items":{"type":"string"}},"socials":{"type":"array","items":{"$ref":"#/components/schemas/Social_Non_Authenticated_Entity"}},"pricePoint":{"type":"string","default":"THREE","description":"Level of expensiveness.","enum":["HALF","ONE","ONE_HALF","TWO","TWO_HALF","THREE","THREE_HALF","FOUR","FOUR_HALF","FIVE"],"example":"THREE"},"recognitionList":{"type":"array","items":{"$ref":"#/components/schemas/TravelInventoryRecognition_Non_Authenticated_Entity"}},"maxOccupancy":{"type":"integer","format":"int32","default":2,"description":"Maximum number of guest allowed in a room type.","example":2,"minimum":1},"minOccupancy":{"type":"integer","format":"int32","default":1,"description":"Minimum number of guests allowed in a room type.","example":1,"minimum":1},"quantity":{"type":"integer","format":"int32","description":"Defines the number of rooms of this type","example":40,"minimum":1},"nonSmoking":{"type":"boolean","description":"Non-smoking indicator","example":true},"bedroomConfigurationList":{"type":"array","items":{"$ref":"#/components/schemas/BedroomConfiguration_Non_Authenticated_Entity"},"minItems":1},"size":{"type":"number","format":"float","description":"Number of square meters that defines the size of this room type.","example":55,"minimum":1},"maxAdultOccupancy":{"type":"integer","format":"int32","default":2,"description":"Maximum number of adults allowed in a room type.","example":1,"minimum":1},"maxChildOccupancy":{"type":"integer","format":"int32","default":0,"description":"Maximum number of children allowed in a room type.","example":0,"minimum":0},"bathroomCount":{"type":"integer","format":"int32","default":1,"description":"Number of bathrooms","example":0,"minimum":0},"livingRoomCount":{"type":"integer","format":"int32","default":1,"description":"Number of living rooms","example":0,"minimum":0},"maxRollaways":{"type":"integer","format":"int32","default":0,"description":"Maximum number of rollaway beds allowed in this room type.","example":0,"minimum":0},"roomCategory":{"type":"string","description":"Indicates the category of the room. Typical values would be Moderate, Standard, or Deluxe. Supported OTA specification `SEG` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":1,"minLength":1},"floor":{"type":"string","description":"Floor an which a room is located"},"roomLocationCode":{"type":"string","description":"Indicates the location of the room within the hotel structure. Typical values would be \"Near Exit\",\"Close to elevator\", \"Low Floor\" or \"High Floor\". Supported OTA specification `RLT` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":1,"minLength":1},"roomViewCode":{"type":"string","description":"Indicates the view of the room. Typical values would be \"Ocean view\", \"Pool view\" or \"Garden View\". Supported OTA specification `RVT` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":1,"minLength":1},"composite":{"type":"boolean","default":false,"description":"Indicates that the room (suite) is a composite of smaller units.","example":false},"compositeCount":{"type":"integer","format":"int32","default":0,"description":"Number of rooms of this room type that makes up a larger unit (composite) such as a two bedroom suite could be comprised of two king rooms plus other room types. A 0 means disabled.","example":2,"minimum":0},"roomClassificationCode":{"type":"string","description":"Specifies the room classification (e.g., cabin, apartment). Supported OTA specification `GRI` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":1,"minLength":1},"roomArchitectureCode":{"type":"string","description":"Specifies the architectural style of a room. Supported OTA specification `ARC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":1,"minLength":1},"roomGender":{"type":"string","default":"Unknown","description":"Used to request or specify a gender assignment for a room. Note: Typically used by Hosteliers.","enum":["Male","Female","MaleAndFemale","Unknown"],"example":"Female"},"sharedRoomInd":{"type":"boolean","default":false,"description":"If TRUE, the room requires or has sharing available. Note: Typically used by Hosteliers.","example":false},"maxCribs":{"type":"integer","format":"int32","default":0,"description":"Maximum number of cribs allowed in a room type.","example":1,"minimum":0},"amenities":{"type":"array","items":{"type":"string"}},"includedAdultOccupancy":{"type":"integer","format":"int32","default":2,"description":"The number of pax the room price was meant for","example":2,"minimum":0},"includedChildOccupancy":{"type":"integer","format":"int32","default":0,"description":"The number of children the room price was meant for","example":0,"minimum":0}},"required":["active","address","bathroomCount","bedroomConfigurationList","bookable","commissionable","composite","compositeCount","contact","descriptions","featuredInd","hotelIdentifier","identifier","includedAdultOccupancy","includedChildOccupancy","livingRoomCount","location","maxAdultOccupancy","maxChildOccupancy","maxCribs","maxOccupancy","maxRollaways","minOccupancy","multimedias","name","nonSmoking","pricePoint","proximityCode","quantity","roomArchitectureCode","roomCategory","roomClassificationCode","roomLocationCode","roomViewCode","sharedRoomInd","size"]},"LocalizedDescription_Non_Authenticated_Entity":{"type":"object","properties":{"description":{"type":"string","description":"Longer text description","example":"This is a longer description in the specified language.","maxLength":2147483647,"minLength":1},"language":{"type":"string","default":"en","description":"Indicate which language this description is written in.","example":"en","maxLength":2,"minLength":2}},"required":["description","language"]},"LocalizedPrice_Non_Authenticated_Entity":{"type":"object","properties":{"sourceToUserCurrencyQuote":{"$ref":"#/components/schemas/QuoteLightweight_Non_Authenticated_Entity","description":"Hotel to user currency exchange rate."},"sourceToInternalCurrencyQuote":{"$ref":"#/components/schemas/QuoteLightweight_Non_Authenticated_Entity","description":"Hotel to wink currency exchange rate."},"userSpecifiedCurrencyBaseTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount","description":"Base total in user specified currency."},"sourceBaseTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount","description":"Base total in hotel currency."},"internalBaseTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount","description":"Base total in wink currency."},"userSpecifiedCurrencyPromotionalModifier":{"type":"number","description":"Promotional modifiers in user specified currency","example":-40},"sourcePromotionalModifier":{"type":"number","description":"Promotional modifiers in hotel currency","example":-40},"internalPromotionalModifier":{"type":"number","description":"Promotional modifiers in wink currency","example":-40},"userSpecifiedCurrencyPremiumModifier":{"type":"number","description":"Premium modifiers in user specified currency","example":40},"sourcePremiumModifier":{"type":"number","description":"Premium modifiers in hotel currency","example":40},"internalPremiumModifier":{"type":"number","description":"Premium modifiers in wink currency","example":40},"userSpecifiedCurrencyChannelModifier":{"type":"number","description":"Channel / Membership modifier in user specified currency","example":-10},"sourceChannelModifier":{"type":"number","description":"Channel / Membership modifier in hotel currency","example":-10},"internalChannelModifier":{"type":"number","description":"Channel / Membership modifier in wink currency","example":-10},"quantity":{"type":"integer","format":"int64","default":1,"description":"How many of this item is included in this price"},"promotionalDiscountPercent":{"type":"number","format":"float","description":"Promotional discount percent"},"channelDiscountPercent":{"type":"number","format":"float","description":"Channel discount percent"},"premiumPercent":{"type":"number","format":"float","description":"Premium percent"},"hasChannelDiscount":{"type":"boolean"},"hasPremium":{"type":"boolean"},"hasPromotion":{"type":"boolean"},"totalDiscountPercent":{"type":"number","format":"float"},"sourceTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"userSpecifiedCurrencyTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"internalTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"}},"required":["internalBaseTotal","sourceBaseTotal","sourceToInternalCurrencyQuote","sourceToUserCurrencyQuote","userSpecifiedCurrencyBaseTotal"]},"LocalizedTransactionalTravelInventory_Non_Authenticated_Entity":{"type":"object","description":"This is one localized bookable item that can stand alongside a restaurant / meeting room etc.","properties":{"identifier":{"type":"string","format":"uuid","description":"Unique transactional identifier","example":"travel-blocking-1","minLength":1},"name":{"type":"string","description":"Internal name of transactional blocking.","example":1,"minLength":1},"descriptions":{"type":"array","items":{"$ref":"#/components/schemas/SimpleDescription_Non_Authenticated_Entity"},"maxItems":2147483647,"minItems":1},"pricingType":{"type":"string","description":"How this blocking item should be priced.","enum":["PER_STAY","PER_DAY","PER_NIGHT","PER_USE","PER_HOUR","PER_PERSON","PER_PERSON_PER_NIGHT","PER_PERSON_PER_HOUR","PER_ADULT","PER_ADULT_PER_NIGHT","PER_ADULT_PER_HOUR","PER_CHILD","PER_CHILD_PER_NIGHT","PER_CHILD_PER_HOUR"]},"price":{"$ref":"#/components/schemas/LocalizedPrice_Non_Authenticated_Entity","description":"Localized price"},"multimedias":{"type":"array","items":{"$ref":"#/components/schemas/SimpleMultimedia_Non_Authenticated_Entity"}},"minPax":{"type":"integer","format":"int32","description":"Whether there is a limit to minimum group size.","example":2,"minimum":0},"maxPax":{"type":"integer","format":"int32","description":"Whether there is a limit to maximum group size.","example":10,"minimum":0},"offerDetails":{"type":"array","description":"Localized offer details if rate plan discount applies.","items":{"$ref":"#/components/schemas/LocalizedDescription_Non_Authenticated_Entity"}},"promotion":{"type":"string","description":"If a package is linked to a rate plan the user could be entitled to a promotional discount if she enters a code. When this field is populated, it means the discount was applied to the package."}},"required":["descriptions","identifier","name","price","pricingType"]},"MediaAuthorAttribution_Non_Authenticated_Entity":{"type":"object","properties":{"url":{"type":"string","description":"URL to contributor","example":"https://maps.google.com/maps/contrib/111628493169070103594"},"name":{"type":"string","description":"Name of contributor","example":"Samuel Adams","minLength":1}},"required":["name"]},"MeetingRoomLightweight_Non_Authenticated_Entity":{"type":"object","properties":{"identifier":{"type":"string","format":"uuid","description":"Unique record identifier","example":"document-1","minLength":1},"hotelIdentifier":{"type":"string","format":"uuid","description":"Hotel identifier.","example":"hotel-1","minLength":1},"featuredInd":{"type":"boolean","description":"Indicates whether this inventory is featured. Use this flag as a way to signify that this inventory is special.","example":false},"lifestyleType":{"type":"string","description":"Indicate the type of lifestyle this blocking should be associated with.","enum":["LIFESTYLE_HEALTH_FITNESS","LIFESTYLE_RELAX","LIFESTYLE_ADULT_ONLY","LIFESTYLE_ADVENTURE","LIFESTYLE_BUSINESS","LIFESTYLE_LGBT","LIFESTYLE_SINGLE_PARENT","LIFESTYLE_SOLO_FEMALE","LIFESTYLE_BEAUTY","LIFESTYLE_FOODIE","LIFESTYLE_FAMILY","LIFESTYLE_ROMANCE","LIFESTYLE_COUPLE","LIFESTYLE_SOLO","LIFESTYLE_BACKPACKER","LIFESTYLE_SHOPPING","LIFESTYLE_SPORTS","LIFESTYLE_MOUNTAIN","LIFESTYLE_BEACH","LIFESTYLE_CITY","LIFESTYLE_COUNTRY","LIFESTYLE_CULTURE","LIFESTYLE_ECO"],"example":"LIFESTYLE_HEALTH_FITNESS"},"location":{"$ref":"#/components/schemas/GeoJsonPoint_Non_Authenticated_Entity","description":"Geo-location point where blocking takes place. Defaults to location of property.","example":{"type":"POINT","coordinates":[100.5581533,13.7370197]}},"descriptions":{"type":"array","items":{"$ref":"#/components/schemas/SimpleDescription_Non_Authenticated_Entity"},"minItems":1},"multimedias":{"type":"array","items":{"$ref":"#/components/schemas/SimpleMultimedia_Non_Authenticated_Entity"},"minItems":1},"contact":{"$ref":"#/components/schemas/Contact_Non_Authenticated_Entity","description":"Associate a contact person for this blocking (if applicable)."},"address":{"$ref":"#/components/schemas/SimpleAddress_Non_Authenticated_Entity","description":"Defaults to property address."},"commissionable":{"type":"boolean","default":true,"description":"Indicate whether sales channels receive commission for selling this blocking.","example":true},"name":{"type":"string","description":"Internal name of inventory.","example":"Archery lesson","minLength":1},"proximityCode":{"type":"string","description":"Supported OTA specification `PRX` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":1},"sort":{"type":"integer","format":"int32","description":"Use this property to sort an blocking in a list of activities.","example":1},"minAgeAppropriateCode":{"type":"string","description":"Supported OTA specification `AQC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":1},"bookable":{"type":"boolean","default":true,"description":"Indicates if this blocking can be added to a booking or if it is read-only marketing material only.","example":true},"active":{"type":"boolean","default":true,"description":"Modify blocking availability with this flag.","example":true},"disabilityFeatures":{"type":"array","items":{"type":"string"}},"securityFeatures":{"type":"array","items":{"type":"string"}},"socials":{"type":"array","items":{"$ref":"#/components/schemas/Social_Non_Authenticated_Entity"}},"pricePoint":{"type":"string","default":"THREE","description":"Level of expensiveness.","enum":["HALF","ONE","ONE_HALF","TWO","TWO_HALF","THREE","THREE_HALF","FOUR","FOUR_HALF","FIVE"],"example":"THREE"},"recognitionList":{"type":"array","items":{"$ref":"#/components/schemas/TravelInventoryRecognition_Non_Authenticated_Entity"}},"applicableStart":{"type":"string","format":"date","description":"Start month and day or date for which the attraction (e.g. the start of a season) is available. This date property signifies that the blocking is recurring and / or seasonal. If the date is in the past, only day and month will be used to infer seasonality. If the date is a future date, it will be interpreted as a starting date.","example":"1970-1-1"},"applicableEnd":{"type":"string","format":"date","description":"End month and day or date for which the attraction (e.g. the start of a season) is available. This date property signifies that the blocking is recurring and / or seasonal. If the date is in the past, only day and month will be used to infer seasonality. If the date is a future date, it will be interpreted as a ending date.","example":"1970-12-1"},"reservationRequiredInd":{"type":"boolean","description":"Indicates whether a reservation is required to participate in this blocking.","example":false},"opens":{"type":"string","description":"Opening time of blocking (if applicable). Leave empty if blocking is always available.","example":"09:00"},"closes":{"type":"string","description":"Closing time of blocking (if applicable). Leave empty if blocking is always available.","example":"17:30"},"daysOfWeek":{"$ref":"#/components/schemas/DowPatternGroup_Non_Authenticated_Entity","description":"Indicate which days this blocking is open."},"irregular":{"type":"boolean","default":false,"description":"Room has an irregular shape. If true, the room would be of a traditional square or rectangular shape.","example":true},"meetingRoomCapacity":{"type":"integer","format":"int32","default":0,"description":"The total number of people permitted in the meeting room.","example":100,"minimum":0},"access":{"type":"string","default":"MEETING_ROOM_ACCESS_PRIVATE","description":"The type of access to the meeting space.","example":"MEETING_ROOM_ACCESS_PUBLIC"},"meetingRoomTypeCode":{"type":"string","description":"Supported OTA specification `MRF` code. See [OTA geoname data](#operation/showAvailableCodesForCategory).","example":["1"],"minLength":1},"meetingRoomLevel":{"type":"string","description":"Defines the level in the facility where the meeting room is located.","example":"LOBBY"},"dedicate
[...]
