{"openapi":"3.0.1","info":{"title":"Wink API","description":"## APIs\nNot every integrator needs every APIs. For that reason, we have separated APIs into context.\n\n- [Affiliate](/affiliate): All APIs related to selling travel inventory as an affiliate.\n- [Analytics](/analytics): All APIs related to tracking metrics across a wide variety of data source segments including, more entertaining, leaderboard metrics.\n- [Booking](/booking): All APIs related to creating platform bookings.\n- [Channel Manager](/channel-manager): All APIs related to channel managers who want to integrate with our platform.\n- [Extranet](/extranet): All APIs related to managing travel inventory and suppliers.\n- [Inventory](/inventory): All APIs related to retrieve known travel inventory as it was found using the Lookup API..\n- [Lookup](/lookup): All APIs related to locating inventory by region, locale and property flags.\n- [Reference](/reference): All APIs related to retrieving platform-supported taxonomies.\n- [TripPay Acquiring](/payment-acquiring): All APIs related to capture payment details such as a Stripe payment intent.\n- [TripPay](/payment): All APIs related to TripPay account management, booking, mapping and integration features.\n\n## SDKs\nWe are actively working on supporting the most used languages out there. If you don't see your language here, reach out to us with a request to officially add your language. In the meantime, if you want to roll your own SDK, you can do so by downloading the OpenAPI spec and using one of the many available OpenAPI generators available: [https://openapi-generator.tech/docs/generators](https://openapi-generator.tech/docs/generators).\n\n- Java SDK [https://github.com/wink-travel/wink-sdk-java](https://github.com/wink-travel/wink-sdk-java)\n\n## Usage\nThese features are made available to you via a [REST API](https://en.wikipedia.org/wiki/Representational_state_transfer). This API is language agnostic.\n\n## Versioning\nWe chose to version our endpoints in a way that we hope affects your integration with us the least. You request the version of our API you wish to work with via the `Wink-Version` header. When it's time for you to upgrade, you only have to change the version number to get access to our updated endpoints.\n\n## Release history\n- 2022-10-15: v2.0 - Removed HATEOAS and added Wink-Version header\n- 2022-05-08: v1 - Exposed channel manager API\n- 2021-07-01: v1 - Initial release\n\n\n# Inventory API\nWelcome to the Inventory API - A programmer-friendly way to retrieve known travel inventory as it was officially located using the Lookup API.\nWe take great care in only working with properties that have quality, curated content and ways to bundle and cross sell customers with ancillary products and experiences. Suppliers have the ability to make their inventory look great and be searchable in a wide variety of ways. You can work with suppliers directly or receive payment-level pricing available to all our integration partners.\n\n# Intended Audience\nProgrammers are a requirement to start integrating with wink. You will benefit from an API integration if you are new or existing travel related company that want easy access to great inventory. Examples:\n- Hotel brands / chains that want to make their own booking engine\n- Travel tech companies that want to create the next hot mobile travel app\n- Destination sites that want to make their own booking engine\n- OTAs that want access direct relationships with suppliers and better quality hotel inventory\n","contact":{"name":"Bjorn Harvold","email":"bjorn@wink.travel"},"version":"23.1.1-SNAPSHOT","x-logo":{"backgroundColor":"#FFFFFF","altText":"wink","url":"https://res.cloudinary.com/traveliko/image/upload/c_scale,h_129/v1653285543/wink/logo_text_white.svg"}},"externalDocs":{"description":"Inventory Documentation","url":"https://bearchoke.atlassian.net/l/c/851wDdoG"},"servers":[{"url":"https://api.wink.travel","description":"Production endpoint"},{"url":"https://staging-api.wink.travel","description":"Sandbox endpoint"},{"url":"https://dev-api.wink.travel","description":"Developer endpoint"}],"tags":[{"name":"Test","description":"Simple GET request to show that your configuration works."},{"name":"Inventory","description":"Find properties and ancillaries by identifier, country, city, lookup, map bounds and more."}],"paths":{"/api/inventory":{"post":{"tags":["Inventory"],"summary":"Show property","description":"Show property content / availability / rate details.","operationId":"oauth2ShowPropertyInventory","parameters":[{"name":"engineConfigurationIdentifier","in":"query","description":"Engine configuration identifier","required":false,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HotelInventoryRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HotelInventoryResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/inventory/upgrade":{"post":{"tags":["Inventory"],"summary":"Show Add-On","description":"Show single add-on based on a channel inventory identifier","operationId":"oauth2ShowPropertyAddOn","parameters":[{"name":"engineConfigurationIdentifier","in":"query","description":"Engine configuration identifier","required":false,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregateAddOnRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellerInventoryAddOn"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/inventory/spa":{"post":{"tags":["Inventory"],"summary":"Show Spa","description":"Show single spa based on a channel inventory identifier","operationId":"oauth2ShowPropertySpa","parameters":[{"name":"engineConfigurationIdentifier","in":"query","description":"Engine configuration identifier","required":false,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregateSpaRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellerInventorySpa"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/inventory/restaurant":{"post":{"tags":["Inventory"],"summary":"Show Restaurant","description":"Show single restaurant based on a channel inventory identifier","operationId":"oauth2ShowPropertyRestaurant","parameters":[{"name":"engineConfigurationIdentifier","in":"query","description":"Engine configuration identifier","required":false,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregateRestaurantRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellerInventoryRestaurant"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/inventory/ranked/grid":{"post":{"tags":["Inventory"],"summary":"Show Ranked Inventories","description":"Shows a paginated list of ranked inventory.","operationId":"oauth2ShowSellerInventoryRankedList","parameters":[{"name":"engineConfigurationIdentifier","in":"query","description":"Engine configuration identifier","required":false,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregateSellerInventoryListRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellerInventoryRankedListResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/inventory/property":{"post":{"tags":["Inventory"],"summary":"Show Property","description":"Show single hotel card with price based on a given record identifier","operationId":"oauth2ShowPropertyAggregate","parameters":[{"name":"engineConfigurationIdentifier","in":"query","description":"Engine configuration identifier","required":false,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregateHotelRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellerInventoryHotel"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/inventory/place":{"post":{"tags":["Inventory"],"summary":"Show Place","description":"Show single place based on a channel inventory identifier","operationId":"oauth2ShowPropertyPlace","parameters":[{"name":"engineConfigurationIdentifier","in":"query","description":"Engine configuration identifier","required":false,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregatePlaceRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellerInventoryPlace"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/inventory/meetingroom":{"post":{"tags":["Inventory"],"summary":"Show Meeting Room","description":"Show single meeting room based on a channel inventory identifier","operationId":"oauth2ShowPropertyMeetingRoom","parameters":[{"name":"engineConfigurationIdentifier","in":"query","description":"Engine configuration identifier","required":false,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregateMeetingRoomRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellerInventoryMeetingRoom"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/inventory/list":{"post":{"tags":["Inventory"],"summary":"Show Property List","description":"Show property content / availability / rate details.","operationId":"oauth2ShowPropertyList","parameters":[{"name":"engineConfigurationIdentifier","in":"query","description":"Engine configuration identifier","required":false,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HotelInventoryListRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HotelInventoryListResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/inventory/guestroom":{"post":{"tags":["Inventory"],"summary":"Show Guest Room","description":"Show single guest room based on a channel inventory identifier","operationId":"oauth2ShowPropertyRoomType","parameters":[{"name":"engineConfigurationIdentifier","in":"query","description":"Engine configuration identifier","required":false,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregateGuestRoomRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellerInventoryGuestRoom"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/inventory/grid":{"post":{"tags":["Inventory"],"summary":"Show Inventories","description":"Shows page of inventory items","operationId":"oauth2ShowSellerInventoryList","parameters":[{"name":"engineConfigurationIdentifier","in":"query","description":"Engine configuration identifier","required":false,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregateSellerInventoryListRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellerInventoryListResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/inventory/grid/item":{"post":{"tags":["Inventory"],"summary":"Show Inventory","description":"Shows single grid based on channel inventory identifier ","operationId":"oauth2ShowInventoryGridItem","parameters":[{"name":"engineConfigurationIdentifier","in":"query","description":"Engine configuration identifier","required":false,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregateInventoryGridItemRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InventoryGridItem"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/inventory/bundle":{"post":{"tags":["Inventory"],"summary":"Show Package","description":"Show single package based on a channel inventory identifier","operationId":"oauth2ShowPropertyPackage","parameters":[{"name":"engineConfigurationIdentifier","in":"query","description":"Engine configuration identifier","required":false,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregatePackageRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellerInventoryPackage"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/inventory/attraction":{"post":{"tags":["Inventory"],"summary":"Show Attraction","description":"Show single attraction based on a channel inventory identifier","operationId":"oauth2ShowPropertyAttraction","parameters":[{"name":"engineConfigurationIdentifier","in":"query","description":"Engine configuration identifier","required":false,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregateAttractionRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellerInventoryAttraction"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/inventory/activity":{"post":{"tags":["Inventory"],"summary":"Show Activity","description":"Show single activity based on a channel inventory identifier","operationId":"oauth2ShowPropertyRecreation","parameters":[{"name":"engineConfigurationIdentifier","in":"query","description":"Engine configuration identifier","required":false,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregateActivityRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellerInventoryActivity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/hello":{"get":{"tags":["Test"],"summary":"Ping","description":"Simple ping endpoint to test your credentials.","operationId":"ping","responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}},"security":[{"oauth2ClientCredentials":[]}]}}},"components":{"schemas":{"ratePlanAvailableDaysOfWeek":{"title":"Available days of week","type":"object","properties":{"mon":{"type":"boolean","description":"Set to `true` to enable Monday.","example":true},"tue":{"type":"boolean","description":"Set to `true` to enable Tuesday.","example":true},"wed":{"type":"boolean","description":"Set to `true` to enable Wednesday.","example":true},"thu":{"type":"boolean","description":"Set to `true` to enable Thursday.","example":true},"fri":{"type":"boolean","description":"Set to `true` to enable Friday.","example":true},"sat":{"type":"boolean","description":"Set to `true` to enable Saturday.","example":true},"sun":{"type":"boolean","description":"Set to `true` to enable Sunday.","example":true},"disabled":{"type":"boolean","description":"Convenience property to quickly determine if this existing object has any active days enabled.","example":true}},"description":"Days of the week on which this rate is available.","readOnly":false,"writeOnly":false,"example":null},"ratePlanArrivalDaysOfWeek":{"title":"Arrival days of week","type":"object","properties":{"mon":{"type":"boolean","description":"Set to `true` to enable Monday.","example":true},"tue":{"type":"boolean","description":"Set to `true` to enable Tuesday.","example":true},"wed":{"type":"boolean","description":"Set to `true` to enable Wednesday.","example":true},"thu":{"type":"boolean","description":"Set to `true` to enable Thursday.","example":true},"fri":{"type":"boolean","description":"Set to `true` to enable Friday.","example":true},"sat":{"type":"boolean","description":"Set to `true` to enable Saturday.","example":true},"sun":{"type":"boolean","description":"Set to `true` to enable Sunday.","example":true},"disabled":{"type":"boolean","description":"Convenience property to quickly determine if this existing object has any active days enabled.","example":true}},"description":"Days of the week on which the guest can arrive.","readOnly":false,"writeOnly":false,"example":null},"ratePlanDepartureDaysOfWeek":{"title":"Departure days of week","type":"object","properties":{"mon":{"type":"boolean","description":"Set to `true` to enable Monday.","example":true},"tue":{"type":"boolean","description":"Set to `true` to enable Tuesday.","example":true},"wed":{"type":"boolean","description":"Set to `true` to enable Wednesday.","example":true},"thu":{"type":"boolean","description":"Set to `true` to enable Thursday.","example":true},"fri":{"type":"boolean","description":"Set to `true` to enable Friday.","example":true},"sat":{"type":"boolean","description":"Set to `true` to enable Saturday.","example":true},"sun":{"type":"boolean","description":"Set to `true` to enable Sunday.","example":true},"disabled":{"type":"boolean","description":"Convenience property to quickly determine if this existing object has any active days enabled.","example":true}},"description":"Days of the week on which the guest can leave.","readOnly":false,"writeOnly":false,"example":null},"ratePlanRequiredDaysOfWeek":{"title":"Required days of week","type":"object","properties":{"mon":{"type":"boolean","description":"Set to `true` to enable Monday.","example":true},"tue":{"type":"boolean","description":"Set to `true` to enable Tuesday.","example":true},"wed":{"type":"boolean","description":"Set to `true` to enable Wednesday.","example":true},"thu":{"type":"boolean","description":"Set to `true` to enable Thursday.","example":true},"fri":{"type":"boolean","description":"Set to `true` to enable Friday.","example":true},"sat":{"type":"boolean","description":"Set to `true` to enable Saturday.","example":true},"sun":{"type":"boolean","description":"Set to `true` to enable Sunday.","example":true},"disabled":{"type":"boolean","description":"Convenience property to quickly determine if this existing object has any active days enabled.","example":true}},"description":"Days of the week on which the guest has to stay at the hotel.","readOnly":false,"writeOnly":false,"example":null},"ratePlanEarlyCheckInCharge":{"title":"Early check-in charge","required":["type"],"type":"object","properties":{"percent":{"type":"number","description":"A percentage of the total stay amount for an early check-in or late check-out","format":"float","example":0.25},"fixedAmount":{"$ref":"#/components/schemas/Moneys"},"type":{"type":"string","description":"When the type is FIXED, fixedAmount is required. When the type is PERCENTAGE, percent is required.","enum":["FIXED","PERCENTAGE"]}},"description":"Charge for early check in.","readOnly":false,"writeOnly":false,"example":null},"ratePlanLateCheckOutCharge":{"title":"Late check-out charge","required":["type"],"type":"object","properties":{"percent":{"type":"number","description":"A percentage of the total stay amount for an early check-in or late check-out","format":"float","example":0.25},"fixedAmount":{"$ref":"#/components/schemas/Moneys"},"type":{"type":"string","description":"When the type is FIXED, fixedAmount is required. When the type is PERCENTAGE, percent is required.","enum":["FIXED","PERCENTAGE"]}},"description":"Charge for late check out.","readOnly":false,"writeOnly":false,"example":null},"ratePlanSingleOccupancyRateModifier":{"title":"Single occupancy rate modifier","required":["type"],"type":"object","properties":{"percent":{"type":"number","description":"A percentage of the total stay amount for an early check-in or late check-out","format":"float","example":0.25},"fixedAmount":{"$ref":"#/components/schemas/Moneys"},"type":{"type":"string","description":"When the type is FIXED, fixedAmount is required. When the type is PERCENTAGE, percent is required.","enum":["FIXED","PERCENTAGE"]}},"description":"How much extra to charge if a single individual stays in a room meant for more two or more people.","readOnly":false,"writeOnly":false,"example":null},"ratePlanExtraPaxRateModifier":{"title":"Extra pax rate modifier","required":["type"],"type":"object","properties":{"percent":{"type":"number","description":"A percentage of the total stay amount for an early check-in or late check-out","format":"float","example":0.25},"fixedAmount":{"$ref":"#/components/schemas/Moneys"},"type":{"type":"string","description":"When the type is FIXED, fixedAmount is required. When the type is PERCENTAGE, percent is required.","enum":["FIXED","PERCENTAGE"]}},"description":"How much to charge for one extra adult staying in the room. Example: Included occupancy for a room type is 2 but it allows for 3 people to stay. This sets how much the third person should be charged extra.","readOnly":false,"writeOnly":false,"example":null},"ratePlanExtraChildRateModifier":{"title":"Extra child rate modifier","required":["type"],"type":"object","properties":{"percent":{"type":"number","description":"A percentage of the total stay amount for an early check-in or late check-out","format":"float","example":0.25},"fixedAmount":{"$ref":"#/components/schemas/Moneys"},"type":{"type":"string","description":"When the type is FIXED, fixedAmount is required. When the type is PERCENTAGE, percent is required.","enum":["FIXED","PERCENTAGE"]}},"description":"How much to charge for a child staying in the room. Example: Included occupancy for a room type is 2 but it allows for 3 people to stay. This sets how much the third person should be charged extra.","readOnly":false,"writeOnly":false,"example":null},"rateSingleOccupancyRateModifier":{"title":"Single occupancy rate modifier","required":["type"],"type":"object","properties":{"percent":{"type":"number","description":"A percentage of the total stay amount for an early check-in or late check-out","format":"float","example":0.25},"fixedAmount":{"$ref":"#/components/schemas/Moneys"},"type":{"type":"string","description":"When the type is FIXED, fixedAmount is required. When the type is PERCENTAGE, percent is required.","enum":["FIXED","PERCENTAGE"]}},"description":"How much extra to charge if a single individual stays in a room meant for more two or more people.","readOnly":false,"writeOnly":false,"example":null},"rateExtraPaxRateModifier":{"title":"Extra pax rate modifier","required":["type"],"type":"object","properties":{"percent":{"type":"number","description":"A percentage of the total stay amount for an early check-in or late check-out","format":"float","example":0.25},"fixedAmount":{"$ref":"#/components/schemas/Moneys"},"type":{"type":"string","description":"When the type is FIXED, fixedAmount is required. When the type is PERCENTAGE, percent is required.","enum":["FIXED","PERCENTAGE"]}},"description":"How much to charge for one extra adult staying in the room. Example: Included occupancy for a room type is 2 but it allows for 3 people to stay. This sets how much the third person should be charged extra.","readOnly":false,"writeOnly":false,"example":null},"rateExtraChildRateModifier":{"title":"Extra child rate modifier","required":["type"],"type":"object","properties":{"percent":{"type":"number","description":"A percentage of the total stay amount for an early check-in or late check-out","format":"float","example":0.25},"fixedAmount":{"$ref":"#/components/schemas/Moneys"},"type":{"type":"string","description":"When the type is FIXED, fixedAmount is required. When the type is PERCENTAGE, percent is required.","enum":["FIXED","PERCENTAGE"]}},"description":"How much to charge for a child staying in the room. Example: Included occupancy for a room type is 2 but it allows for 3 people to stay. This sets how much the third person should be charged extra.","readOnly":false,"writeOnly":false,"example":null},"masterRateRate":{"title":"Daily rate","required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","description":"Amount in currency","format":"double"},"currency":{"type":"string","description":"Specified currency"}},"description":"The base rate from where all other rates are derived. It can be null if only updating availability.","readOnly":false,"writeOnly":false,"example":null},"moneySetUserSpecifiedCurrencyTotal":{"title":"User specified currency total","required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","description":"Amount in currency","format":"double"},"currency":{"type":"string","description":"Specified currency"}},"description":"The total amount in user defined currency.","readOnly":false,"writeOnly":false,"example":null},"moneySetSourceTotal":{"title":"Source total","required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","description":"Amount in currency","format":"double"},"currency":{"type":"string","description":"Specified currency"}},"description":"The total amount in property defined currency.","readOnly":false,"writeOnly":false,"example":null},"moneySetInternalTotal":{"title":"Internal total","required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","description":"Amount in currency","format":"double"},"currency":{"type":"string","description":"Specified currency"}},"description":"The total amount in payment-defined currency (SGD).","readOnly":false,"writeOnly":false,"example":null},"hotelOnMapLocation":{"title":"Location","type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"},"type":{"type":"string"},"coordinates":{"type":"array","items":{"type":"number","format":"double"}}},"description":"Property geo-location","readOnly":false,"writeOnly":false,"example":null},"GenericErrorMessage":{"type":"object","properties":{"timestamp":{"type":"string","xml":{"attribute":true}},"status":{"type":"integer","format":"int32","xml":{"attribute":true}},"error":{"type":"string"},"message":{"type":"string"},"path":{"type":"string"}},"description":"Generic error message","xml":{"name":"ErrorMessage"}},"Child":{"required":["age","quantity"],"type":"object","properties":{"quantity":{"minimum":1,"type":"integer","description":"Number of children","format":"int32"},"age":{"minimum":0,"type":"integer","description":"Age of children","format":"int32"}},"description":"Child configuration"},"GeoJsonLineString":{"type":"object","properties":{"type":{"type":"string"},"coordinates":{"type":"array","items":{"$ref":"#/components/schemas/Point"}}}},"GeoJsonPoint":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"},"type":{"type":"string"},"coordinates":{"type":"array","items":{"type":"number","format":"double"}}},"description":"User's last map location"},"GeoJsonPolygon":{"type":"object","properties":{"points":{"type":"array","items":{"$ref":"#/components/schemas/Point"}},"coordinates":{"type":"array","items":{"$ref":"#/components/schemas/GeoJsonLineString"}},"type":{"type":"string"}},"description":"Map bounds the user is looking. Bounds provided by map provider."},"HotelInventoryRequest":{"required":["userSession"],"type":"object","properties":{"hotelIdentifier":{"type":"string","description":"Unique property identifier to retrieve inventory for. Either the hotelIdentifier or urlName property is required.","format":"uuid"},"urlName":{"type":"string","description":"Unique url-friendly record identifier of property. Either the hotelIdentifier or urlName property is required.","example":"the-most-fantastic-hotel"},"showHotel":{"type":"boolean","description":"Flag to indicate whether to return basic property data. If you are loading up property for the first time, this data would be good to include. But there is no need to load that a second time if you are only going for availability data. This field populates `hotel` data in response.","example":true,"default":true},"showMetadata":{"type":"boolean","description":"Flag to indicate whether to return property meta data. This field populates `metadata` data in response.","example":true,"default":true},"showVideos":{"type":"boolean","description":"Flag to indicate whether to return property video data. This field populates `videos` data in response.","example":true,"default":false},"showImages":{"type":"boolean","description":"Flag to indicate whether to return property image data. This field populates `images` data in response.","example":true,"default":false},"showRoomTypes":{"type":"boolean","description":"Flag to indicate whether to return property room type data. This field populates `roomType`, `cheapesRoomTypes` and `available` data in response.","example":true,"default":true},"showPackageOffers":{"type":"boolean","description":"Flag to indicate whether to return property package offer data. This field populates `roomTypes.priceConfigurations.packageOffers` data in response.","example":true,"default":false},"showAddOnOffers":{"type":"boolean","description":"Flag to indicate whether to return property add-on data. This field populates `roomTypes.priceConfigurations.addOnOffers` data in response.","example":true,"default":false},"showRestaurants":{"type":"boolean","description":"Flag to indicate whether to return property restaurant data. This field populates `restaurants` data in response.","example":true,"default":false},"showMeetingRooms":{"type":"boolean","description":"Flag to indicate whether to return property meeting room data. This field populates `meetingRooms` data in response.","example":true,"default":false},"showSpas":{"type":"boolean","description":"Flag to indicate whether to return property spa data. This field populates `spas` data in response.","example":true,"default":false},"showAttractions":{"type":"boolean","description":"Flag to indicate whether to return property attraction data. This field populates `attractions` data in response.","example":true,"default":false},"showActivities":{"type":"boolean","description":"Flag to indicate whether to return property activity data. This field populates `activities` data in response.","example":true,"default":false},"showPlaces":{"type":"boolean","description":"Flag to indicate whether to return property place data. This field populates `places` data in response.","example":true,"default":false},"showRecognition":{"type":"boolean","description":"Flag to indicate whether to return property recognition data. This field populates `recognitions` data in response.","example":true,"default":false},"showAggregateGreenIndexScores":{"type":"boolean","description":"Flag to indicate whether to return property green index score data. This field populates `greenIndexScores` data in response. Note: You only need to return hotel data to get the overall aggregate Green Index score and not detailed category scores.","example":true,"default":false},"showAnnouncements":{"type":"boolean","description":"Flag to indicate whether to return property announcement data. Announcements are messages the property wishes to convey to travelers for certain dates. This field populates `announcements` data in response.","example":true,"default":false},"showReviews":{"type":"boolean","description":"Flag to indicate whether to return property review data. Note: You only need to return hotel data to get the overall aggregate review score and not the entire list of reviews. This field populates `reviews` data in response.","example":true,"default":false},"userSession":{"$ref":"#/components/schemas/UserSession"}}},"Itinerary":{"required":["endDate","items","startDate"],"type":"object","properties":{"startDate":{"type":"string","description":"Start date","format":"date"},"endDate":{"type":"string","description":"End date","format":"date"},"items":{"type":"array","description":"Room configurations","items":{"$ref":"#/components/schemas/RoomConfiguration"}},"children":{"type":"integer","description":"How many total children for this stay","format":"int32"},"hours":{"type":"integer","description":"Number of hours between start and end dates. Used for itineraries that require bookings that occur within hours and not days. E.g. Meeting room reservation.","format":"int64","readOnly":true},"valid":{"type":"boolean","description":"Whether this is a valid itinerary"},"nights":{"type":"integer","description":"How many total nights for this stay","format":"int32"},"guests":{"type":"integer","description":"How many total guests for this stay","format":"int32"},"rooms":{"type":"integer","description":"How many total rooms for this stay","format":"int32"}},"description":"Itinerary"},"Point":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"}}},"RoomConfiguration":{"required":["adults"],"type":"object","properties":{"adults":{"minimum":1,"type":"integer","description":"Number of adults","format":"int32"},"children":{"type":"array","description":"Children configurations","items":{"$ref":"#/components/schemas/Child"}}},"description":"Room Configuration"},"SearchFilters":{"type":"object","properties":{"maxDistance":{"type":"number","description":"A user can query for hotels that are close to UserSession.location","format":"double","example":10},"lifestyle":{"type":"string","description":"A user can filter inventory on a lifestyle","example":"LIFESTYLE_RELAX","enum":["LIFESTYLE_HEALTH_FITNESS","LIFESTYLE_RELAX","LIFESTYLE_ADULT_ONLY","LIFESTYLE_ADVENTURE","LIFESTYLE_BUSINESS","LIFESTYLE_LGBT","LIFESTYLE_SINGLE_PARENT","LIFESTYLE_SOLO_FEMALE","LIFESTYLE_BEAUTY","LIFESTYLE_FOODIE","LIFESTYLE_FAMILY","LIFESTYLE_ROMANCE","LIFESTYLE_COUPLE","LIFESTYLE_SOLO","LIFESTYLE_BACKPACKER","LIFESTYLE_SHOPPING","LIFESTYLE_SPORTS","LIFESTYLE_MOUNTAIN","LIFESTYLE_BEACH","LIFESTYLE_CITY","LIFESTYLE_COUNTRY","LIFESTYLE_CULTURE","LIFESTYLE_ECO"]},"starRating":{"type":"integer","description":"A user can filter on number of hotel stars","format":"int32","example":4}},"description":"How user likes to have results displayed"},"UserSession":{"required":["itinerary"],"type":"object","properties":{"location":{"$ref":"#/components/schemas/GeoJsonPoint"},"ipNumber":{"type":"string","description":"User's incoming IP number","example":"203.543.122.021"},"bounds":{"$ref":"#/components/schemas/GeoJsonPolygon"},"itinerary":{"$ref":"#/components/schemas/Itinerary"},"searchFilters":{"$ref":"#/components/schemas/SearchFilters"},"language":{"type":"string","description":"User's language preference","example":"en"},"currency":{"type":"string","description":"User's currency preference","example":"USD"},"userIdentifier":{"type":"string","description":"Pass along the user identifier if user is known.","format":"uuid"},"promotionalCodes":{"type":"array","description":"User can pass promotional codes to system to change prices.","example":["promo-1","promo-2"],"items":{"type":"string","description":"User can pass promotional codes to system to change prices.","example":"[\"promo-1\",\"promo-2\"]"}},"selectedRoomConfiguration":{"$ref":"#/components/schemas/RoomConfiguration"}},"description":"User session information containing itinerary and other user related data."},"ActivityHotelInventory":{"type":"object","properties":{"inventory":{"$ref":"#/components/schemas/Recreation"},"localizedFee":{"$ref":"#/components/schemas/Moneys"}},"description":"List of property activities on and off the premises."},"AddOn":{"required":["active","address","bookable","commissionable","descriptions","featuredInd","location","mandatory","multimedias","name","numberOfUnits","percentDiscount","pricingType"],"type":"object","properties":{"identifier":{"type":"string","description":"Unique record identifier","format":"uuid"},"hotelIdentifier":{"type":"string","description":"Hotel identifier.","format":"uuid"},"featuredInd":{"type":"boolean","description":"Indicates whether this inventory is featured. Use this flag as a way to signify that this inventory is special.","example":false},"lifestyleType":{"type":"string","description":"Indicate the type of lifestyle this inventory should be associated with.","example":"LIFESTYLE_HEALTH_FITNESS","enum":["LIFESTYLE_HEALTH_FITNESS","LIFESTYLE_RELAX","LIFESTYLE_ADULT_ONLY","LIFESTYLE_ADVENTURE","LIFESTYLE_BUSINESS","LIFESTYLE_LGBT","LIFESTYLE_SINGLE_PARENT","LIFESTYLE_SOLO_FEMALE","LIFESTYLE_BEAUTY","LIFESTYLE_FOODIE","LIFESTYLE_FAMILY","LIFESTYLE_ROMANCE","LIFESTYLE_COUPLE","LIFESTYLE_SOLO","LIFESTYLE_BACKPACKER","LIFESTYLE_SHOPPING","LIFESTYLE_SPORTS","LIFESTYLE_MOUNTAIN","LIFESTYLE_BEACH","LIFESTYLE_CITY","LIFESTYLE_COUNTRY","LIFESTYLE_CULTURE","LIFESTYLE_ECO"]},"location":{"$ref":"#/components/schemas/GeoJsonPoint"},"descriptions":{"type":"array","description":"Localized descriptions describing inventory.","items":{"$ref":"#/components/schemas/SimpleDescription"}},"multimedias":{"type":"array","description":"List of images / videos of inventory.","items":{"$ref":"#/components/schemas/Multimedia"}},"contact":{"$ref":"#/components/schemas/Contact"},"address":{"$ref":"#/components/schemas/Address"},"commissionable":{"type":"boolean","description":"Indicate whether sales channels receive commission for selling this inventory.","example":true,"default":true},"name":{"type":"string","description":"Internal name of inventory.","example":"Archery lesson"},"proximityCode":{"type":"string","description":"Supported OTA specification `PRX` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"1"},"sort":{"type":"integer","description":"Use this property to sort an inventory in a list of activities.","format":"int32","example":1},"minAgeAppropriateCode":{"type":"string","description":"Supported OTA specification `AQC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"1"},"bookable":{"type":"boolean","description":"Indicates if this inventory can be added to a booking or if it is read-only marketing material only.","example":true,"default":true},"active":{"type":"boolean","description":"Modify inventory availability with this flag.","example":true,"default":true},"disabilityFeatures":{"type":"array","description":"Supported OTA specification `PHY` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":["1"],"items":{"type":"string"}},"securityFeatures":{"type":"array","description":"Supported OTA specification `SEC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":["1"],"items":{"type":"string"}},"socials":{"type":"array","description":"Social network accounts for inventory (if applicable).","items":{"$ref":"#/components/schemas/Social"}},"applicableStart":{"type":"string","description":"Start month and day or date for which the attraction (e.g. the start of a season) is available. This date property signifies that the inventory is recurring and / or seasonal. If the date is in the past, only day and month will be used to infer seasonality. If the date is a future date, it will be interpreted as a starting date.","format":"date","example":"1970-01-01"},"applicableEnd":{"type":"string","description":"End month and day or date for which the attraction (e.g. the start of a season) is available. This date property signifies that the inventory is recurring and / or seasonal. If the date is in the past, only day and month will be used to infer seasonality. If the date is a future date, it will be interpreted as a ending date.","format":"date","example":"1970-12-01"},"reservationRequiredInd":{"type":"boolean","description":"Indicates whether a reservation is required to participate in this inventory.","example":false},"opens":{"type":"string","description":"Opening time of inventory (if applicable). Leave empty if inventory is always available.","example":"09:00"},"closes":{"type":"string","description":"Closing time of inventory (if applicable). Leave empty if inventory is always available.","example":"17:30"},"fee":{"$ref":"#/components/schemas/Moneys"},"percentDiscount":{"maximum":1.0,"exclusiveMaximum":false,"minimum":0.0,"exclusiveMinimum":false,"type":"number","description":"Expected savings. Indicate how much the traveler is [usually] saving by booking it through this payment. Example: 20% discount.","format":"double","example":0.2},"daysOfWeek":{"$ref":"#/components/schemas/DowPatternGroup"},"transactionalInventoryList":{"type":"array","items":{"$ref":"#/components/schemas/TransactionalTravelInventory"}},"recognitionList":{"type":"array","items":{"$ref":"#/components/schemas/TravelInventoryRecognition"}},"numberOfUnits":{"minimum":0,"type":"integer","description":"Total number of add-ons available to purchase.","format":"int32","example":10,"default":0},"pricingType":{"type":"string","description":"Pricing types define how this add-on is sold.","example":"PER_USE","default":"PER_PERSON_PER_STAY","enum":["PER_STAY","PER_PERSON_PER_STAY","PER_NIGHT","PER_PERSON_PER_NIGHT","PER_USE"]},"ratePlanIdentifier":{"type":"string","description":"Pass an optional rate plan identifier if you want to add more complex restrictions to this add-on. Example: You want the add-on to only be available when a specific room is available.","format":"uuid"},"ratePlan":{"$ref":"#/components/schemas/RatePlan"},"mandatory":{"type":"boolean","description":"Make this add-on mandatory for all guests by enabling this flag.","example":true,"default":false}},"description":"The original add-on record created by the property."},"AddOnOffer":{"type":"object","properties":{"price":{"$ref":"#/components/schemas/LocalizedPrice"},"unitPrice":{"$ref":"#/components/schemas/LocalizedPrice"},"addOnImageUrl":{"type":"string","description":"Populated for when we send out confirmation emails to travelers."},"upgrade":{"$ref":"#/components/schemas/AddOn"},"offerDetails":{"type":"array","description":"Localized offer details if any apply","items":{"$ref":"#/components/schemas/SimpleDescription"}},"promotion":{"type":"string","description":"If an add-on is linked to a rate plan the user could be entitled to a promotional discount if she enters a code. When this field is populated, it means the discount was applied to the add-on."},"guests":{"type":"integer","description":"Number of guest that will be using this add-on.","format":"int32"},"nights":{"type":"integer","description":"Number of nights the guests will be staying.","format":"int32"}}},"Address":{"required":["address1","city","postalCode"],"type":"object","properties":{"address1":{"type":"string","description":"Address line 1","example":"234 Near da beach"},"address2":{"type":"string","description":"Address line 2","example":"Pebble #5001"},"state":{"type":"string","description":"State","example":"CA"},"postalCode":{"type":"string","description":"Postal / zip code","example":"90210"},"county":{"type":"string","description":"County","example":"Alameda county"},"city":{"$ref":"#/components/schemas/GeoName"}},"description":"Address information"},"AggregateGreendexAnswers":{"type":"object","properties":{"highScore":{"type":"integer","description":"The highest possible score from all questions","format":"int32","example":100},"totalScore":{"type":"integer","description":"The total score from all questions answered","format":"int32","example":50},"aggregateScore":{"maximum":1,"minimum":0,"type":"number","description":"Total score divided by high score","format":"float"},"scoresByCategory":{"type":"array","description":"Aggregate scores by Green Index category","items":{"$ref":"#/components/schemas/AggregateGreendexScoreByCategory"}}},"description":"Detailed Green Index scores on hoe the property scores by category"},"AggregateGreendexScoreByCategory":{"type":"object","properties":{"category":{"type":"string","description":"Green Index category","example":"GENERAL","enum":["GENERAL","ENERGY","WATER","PURCHASING","WASTE","SITE"]},"highScore":{"type":"integer","description":"The highest possible score from all questions within this category","format":"int32","example":100},"totalScore":{"type":"integer","description":"The total score from all questions answered within this category","format":"int32","example":50},"aggregateScore":{"maximum":1,"minimum":0,"type":"number","description":"Total score divided by high score within this category","format":"float"}}},"Announcement":{"required":["endDate","messages","startDate"],"type":"object","properties":{"identifier":{"type":"string","description":"Unique announcement identifier.","format":"uuid"},"hotelIdentifier":{"type":"string","description":"Hotel identifier manager has access to.","format":"uuid"},"startDate":{"type":"string","description":"Start date for when announcement is valid","format":"date","example":"2022-10-24"},"endDate":{"type":"string","description":"End date for when announcement is no longer valid","format":"date","example":"2022-11-24"},"messages":{"type":"array","description":"List of all localized announcements.","items":{"$ref":"#/components/schemas/SimpleDescription"}}},"description":"List of property announcements"},"Attraction":{"required":["active","address","attractionCategoryCode","bookable","commissionable","descriptions","featuredInd","location","multimedias","name","percentDiscount"],"type":"object","properties":{"identifier":{"type":"string","description":"Unique record identifier","format":"uuid"},"hotelIdentifier":{"type":"string","description":"Hotel identifier.","format":"uuid"},"featuredInd":{"type":"boolean","description":"Indicates whether this inventory is featured. Use this flag as a way to signify that this inventory is special.","example":false},"lifestyleType":{"type":"string","description":"Indicate the type of lifestyle this inventory should be associated with.","example":"LIFESTYLE_HEALTH_FITNESS","enum":["LIFESTYLE_HEALTH_FITNESS","LIFESTYLE_RELAX","LIFESTYLE_ADULT_ONLY","LIFESTYLE_ADVENTURE","LIFESTYLE_BUSINESS","LIFESTYLE_LGBT","LIFESTYLE_SINGLE_PARENT","LIFESTYLE_SOLO_FEMALE","LIFESTYLE_BEAUTY","LIFESTYLE_FOODIE","LIFESTYLE_FAMILY","LIFESTYLE_ROMANCE","LIFESTYLE_COUPLE","LIFESTYLE_SOLO","LIFESTYLE_BACKPACKER","LIFESTYLE_SHOPPING","LIFESTYLE_SPORTS","LIFESTYLE_MOUNTAIN","LIFESTYLE_BEACH","LIFESTYLE_CITY","LIFESTYLE_COUNTRY","LIFESTYLE_CULTURE","LIFESTYLE_ECO"]},"location":{"$ref":"#/components/schemas/GeoJsonPoint"},"descriptions":{"type":"array","description":"Localized descriptions describing inventory.","items":{"$ref":"#/components/schemas/SimpleDescription"}},"multimedias":{"type":"array","description":"List of images / videos of inventory.","items":{"$ref":"#/components/schemas/Multimedia"}},"contact":{"$ref":"#/components/schemas/Contact"},"address":{"$ref":"#/components/schemas/Address"},"commissionable":{"type":"boolean","description":"Indicate whether sales channels receive commission for selling this inventory.","example":true,"default":true},"name":{"type":"string","description":"Internal name of inventory.","example":"Archery lesson"},"proximityCode":{"type":"string","description":"Supported OTA specification `PRX` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"1"},"sort":{"type":"integer","description":"Use this property to sort an inventory in a list of activities.","format":"int32","example":1},"minAgeAppropriateCode":{"type":"string","description":"Supported OTA specification `AQC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"1"},"bookable":{"type":"boolean","description":"Indicates if this inventory can be added to a booking or if it is read-only marketing material only.","example":true,"default":true},"active":{"type":"boolean","description":"Modify inventory availability with this flag.","example":true,"default":true},"disabilityFeatures":{"type":"array","description":"Supported OTA specification `PHY` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":["1"],"items":{"type":"string"}},"securityFeatures":{"type":"array","description":"Supported OTA specification `SEC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":["1"],"items":{"type":"string"}},"socials":{"type":"array","description":"Social network accounts for inventory (if applicable).","items":{"$ref":"#/components/schemas/Social"}},"applicableStart":{"type":"string","description":"Start month and day or date for which the attraction (e.g. the start of a season) is available. This date property signifies that the inventory is recurring and / or seasonal. If the date is in the past, only day and month will be used to infer seasonality. If the date is a future date, it will be interpreted as a starting date.","format":"date","example":"1970-01-01"},"applicableEnd":{"type":"string","description":"End month and day or date for which the attraction (e.g. the start of a season) is available. This date property signifies that the inventory is recurring and / or seasonal. If the date is in the past, only day and month will be used to infer seasonality. If the date is a future date, it will be interpreted as a ending date.","format":"date","example":"1970-12-01"},"reservationRequiredInd":{"type":"boolean","description":"Indicates whether a reservation is required to participate in this inventory.","example":false},"opens":{"type":"string","description":"Opening time of inventory (if applicable). Leave empty if inventory is always available.","example":"09:00"},"closes":{"type":"string","description":"Closing time of inventory (if applicable). Leave empty if inventory is always available.","example":"17:30"},"fee":{"$ref":"#/components/schemas/Moneys"},"percentDiscount":{"maximum":1.0,"exclusiveMaximum":false,"minimum":0.0,"exclusiveMinimum":false,"type":"number","description":"Expected savings. Indicate how much the traveler is [usually] saving by booking it through this payment. Example: 20% discount.","format":"double","example":0.2},"daysOfWeek":{"$ref":"#/components/schemas/DowPatternGroup"},"transactionalInventoryList":{"type":"array","items":{"$ref":"#/components/schemas/TransactionalTravelInventory"}},"recognitionList":{"type":"array","items":{"$ref":"#/components/schemas/TravelInventoryRecognition"}},"pricingType":{"type":"string","description":"How this inventory item should be priced.","enum":["PER_PERSON_PER_USE","PER_USE","PER_PERSON_PER_HOUR","PER_HOUR"]},"attractionCategoryCode":{"type":"string","description":"Supported OTA specification `ACC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"1"},"courtesyPhone":{"type":"boolean","description":"Whether or not a courtesy phone for contacting the hotel is available at the attraction (e.g. often times these are available in airports). When true, the phone is available.","example":true,"default":false}},"description":"Inventory data object"},"AttractionHotelInventory":{"type":"object","properties":{"inventory":{"$ref":"#/components/schemas/Attraction"},"localizedFee":{"$ref":"#/components/schemas/Moneys"}},"description":"List of property attractions on and off the premises."},"Bed":{"required":["bedTypeCode","quantity"],"type":"object","properties":{"bedTypeCode":{"type":"string","description":"Indicates the type of bed(s) found in the room. Typical values would be Double, Twin, Queen, or King. Supported OTA specification `BED` code. See [OTA geoname data](#operation/showAvailableCodesForCategory).","example":"1"},"quantity":{"minimum":1,"type":"integer","description":"Number of beds for this bed type.","format":"int32","example":10}}},"Bundle":{"required":["active","address","bookable","commissionable","descriptions","featuredInd","location","multimedias","name","numberOfUnits","percentDiscount"],"type":"object","properties":{"identifier":{"type":"string","description":"Unique record identifier","format":"uuid"},"hotelIdentifier":{"type":"string","description":"Hotel identifier.","format":"uuid"},"featuredInd":{"type":"boolean","description":"Indicates whether this inventory is featured. Use this flag as a way to signify that this inventory is special.","example":false},"lifestyleType":{"type":"string","description":"Indicate the type of lifestyle this inventory should be associated with.","example":"LIFESTYLE_HEALTH_FITNESS","enum":["LIFESTYLE_HEALTH_FITNESS","LIFESTYLE_RELAX","LIFESTYLE_ADULT_ONLY","LIFESTYLE_ADVENTURE","LIFESTYLE_BUSINESS","LIFESTYLE_LGBT","LIFESTYLE_SINGLE_PARENT","LIFESTYLE_SOLO_FEMALE","LIFESTYLE_BEAUTY","LIFESTYLE_FOODIE","LIFESTYLE_FAMILY","LIFESTYLE_ROMANCE","LIFESTYLE_COUPLE","LIFESTYLE_SOLO","LIFESTYLE_BACKPACKER","LIFESTYLE_SHOPPING","LIFESTYLE_SPORTS","LIFESTYLE_MOUNTAIN","LIFESTYLE_BEACH","LIFESTYLE_CITY","LIFESTYLE_COUNTRY","LIFESTYLE_CULTURE","LIFESTYLE_ECO"]},"location":{"$ref":"#/components/schemas/GeoJsonPoint"},"descriptions":{"type":"array","description":"Localized descriptions describing inventory.","items":{"$ref":"#/components/schemas/SimpleDescription"}},"multimedias":{"type":"array","description":"List of images / videos of inventory.","items":{"$ref":"#/components/schemas/Multimedia"}},"contact":{"$ref":"#/components/schemas/Contact"},"address":{"$ref":"#/components/schemas/Address"},"commissionable":{"type":"boolean","description":"Indicate whether sales channels receive commission for selling this inventory.","example":true,"default":true},"name":{"type":"string","description":"Internal name of inventory.","example":"Archery lesson"},"proximityCode":{"type":"string","description":"Supported OTA specification `PRX` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"1"},"sort":{"type":"integer","description":"Use this property to sort an inventory in a list of activities.","format":"int32","example":1},"minAgeAppropriateCode":{"type":"string","description":"Supported OTA specification `AQC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"1"},"bookable":{"type":"boolean","description":"Indicates if this inventory can be added to a booking or if it is read-only marketing material only.","example":true,"default":true},"active":{"type":"boolean","description":"Modify inventory availability with this flag.","example":true,"default":true},"disabilityFeatures":{"type":"array","description":"Supported OTA specification `PHY` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":["1"],"items":{"type":"string"}},"securityFeatures":{"type":"array","description":"Supported OTA specification `SEC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":["1"],"items":{"type":"string"}},"socials":{"type":"array","description":"Social network accounts for inventory (if applicable).","items":{"$ref":"#/components/schemas/Social"}},"applicableStart":{"type":"string","description":"Start month and day or date for which the attraction (e.g. the start of a season) is available. This date property signifies that the inventory is recurring and / or seasonal. If the date is in the past, only day and month will be used to infer seasonality. If the date is a future date, it will be interpreted as a starting date.","format":"date","example":"1970-01-01"},"applicableEnd":{"type":"string","description":"End month and day or date for which the attraction (e.g. the start of a season) is available. This date property signifies that the inventory is recurring and / or seasonal. If the date is in the past, only day and month will be used to infer seasonality. If the date is a future date, it will be interpreted as a ending date.","format":"date","example":"1970-12-01"},"reservationRequiredInd":{"type":"boolean","description":"Indicates whether a reservation is required to participate in this inventory.","example":false},"opens":{"type":"string","description":"Opening time of inventory (if applicable). Leave empty if inventory is always available.","example":"09:00"},"closes":{"type":"string","description":"Closing time of inventory (if applicable). Leave empty if inventory is always available.","example":"17:30"},"fee":{"$ref":"#/components/schemas/Moneys"},"percentDiscount":{"maximum":1.0,"exclusiveMaximum":false,"minimum":0.0,"exclusiveMinimum":false,"type":"number","description":"Expected savings. Indicate how much the traveler is [usually] saving by booking it through this payment. Example: 20% discount.","format":"double","example":0.2},"daysOfWeek":{"$ref":"#/components/schemas/DowPatternGroup"},"transactionalInventoryList":{"type":"array","items":{"$ref":"#/components/schemas/TransactionalTravelInventory"}},"recognitionList":{"type":"array","items":{"$ref":"#/components/schemas/TravelInventoryRecognition"}},"itemDescriptions":{"type":"array","description":"Localized description of items contained in package.","items":{"$ref":"#/components/schemas/SimpleDescription"}},"numberOfUnits":{"minimum":0,"type":"integer","description":"Total number of packages available to purchase.","format":"int32","example":10,"default":0},"pricingType":{"type":"string","description":"Specifies how the package is priced.","example":"PER_USE","default":"PER_STAY","enum":["PER_STAY","PER_PERSON_PER_STAY","PER_NIGHT","PER_PERSON_PER_NIGHT","PER_USE"]},"ratePlanIdentifier":{"type":"string","description":"Pass an optional rate plan identifier if you want to add more complex restrictions to this package. Example: You want the package to only be available when a specific room is available.","format":"uuid"},"ratePlan":{"$ref":"#/components/schemas/RatePlan"}},"description":"The original package record created by the property."},"CancellationPolicy":{"required":["refundable"],"type":"object","properties":{"identifier":{"type":"string","description":"Unique cancellatio
[...]
