{"openapi":"3.0.1","info":{"title":"Wink API","description":" # Introduction\n Welcome to the Wink API - A programmer-friendly way to manage, sell and book travel blocking on the Wink platform. The API gives you all the tools you need to ready your properties and blocking for sale across 1000s of our native sales channels.\n Integrators, affiliates, travel agents and content creators have the ability search for your travel blocking and promote / sell it in a wide variety of ways.\n\n # Integrations\n We have already integrated with the most well-known channel managers so you don't have to. To see our current integrations, please go to https://extranet.wink.travel and scroll to Connectivity section. Once your properties are set up, you can finish the setup by mapping your property to Wink using your channel manager partner portal. If your properties don't have a channel manager, you can easily manage rates and availability with this API.\n\n # Intended Audience\n Programmers are [most likely] a requirement to start integrating with Wink. Companies and organizations that would most benefit from integrating with us are new and existing travel companies that have relationships with suppliers and that need an advanced system from which to manage their travel blocking and get that same blocking out to as many eyeballs as possible at the lowest price possible.\n - Hotel chains\n - Hotel brands\n - Travel tech companies\n - Destination sites\n - Integrators\n - Aggregators\n - Destination management companies\n - Travel agencies\n - OTAs\n\n ## APIs\n Not every integrator needs every API. For that reason, we have separated APIs into context.\n\n### Test API\n\n - [Ping](/ping): The Ping API is a quick test endpoint to verify that your credentials work Wink.\n\n### Common APIs\n\n- [Notifications](/notifications): The Notifications API is a way for us to stay in touch with your user, property or affiliate account.\n- [User Settings](/user-settings): The User Settings API exposes endpoints to allow 3rd party integrators to communicate with Wink.\n\n### Consume APIs\nConsume endpoints are for developers who want to find existing travel blocking and either book it or use it to advertise through one of their Wink affiliate accounts.\n\n - [Configuration](/engine-client): A single endpoint to retrieve whitelabel + customization information for the booking engine.\n - [Lookup](/lookup): All APIs related to locating blocking by region, locale and property flags.\n - [Inventory](/blocking): All APIs related to retrieve known travel blocking as it was found using the Lookup API..\n - [Booking](/booking): All APIs related to creating bookings on the platform.\n - [Travel Agent](/travel-agent): The Travel Agent API exposes endpoints to manage agent-facilitated bookings.\n\n ### Produce APIs\n Produce endpoints are for developers who want to create and manage travel blocking.\n\n #### Property\n - [Property registration](/extranet/property/register): As a producer, this is, oftentimes, where you start your journey. These endpoints let you create properties on Wink.\n - [Property](/extranet/property): This collection of property endpoints are mostly management endpoints that let you display, change status and similar for your existing properties.\n - [Facilities](/extranet/facilities): This collection of endpoints let you manage facilities; such as room types.\n - [Experiences](/extranet/experiences): This collection of endpoints let you manage experiences, such as activities.\n - [Monetize](/extranet/monetize): The Monetize API exposes endpoints for managing cancellation polies, rate plans, promotions and more on Wink.\n - [Distribution](/extranet/distribution): The Distribution API exposes endpoints for sales channels, connecting with affiliates, managing rates and blocking calendars and more on Wink.\n - [Property Booking](/extranet/booking): The Property Booking API exposes endpoints for managing bookings and reviews at the property-level.\n\n #### Affiliate\n - [Affiliate](/affiliate): This collection of affiliate endpoints are mostly management endpoints that let you display, change status and similar for your existing accounts.\n - [Browse](/affiliate/browse): The Browse API exposes endpoints for affiliates to find suppliers and blocking to sell.\n - [Inventory](/affiliate/blocking): The Inventory API exposes endpoints for affiliates to manage the blocking they want to sell and how they want to sell it.\n - [Sales Channel](/affiliate/sales-channel): The Sales Channel API exposes endpoints for affiliates to manage existing sales channels as well as find new ones.\n - [WinkLinks](/affiliate/winklinks): The WinkLinks API exposes endpoints for affiliates to manage their WinkLinks page.\n\n #### Rate provider\n - [Channel manager](/channel-manager): The Channel Manager API enables external channel manager partners to map, exchange rate / availability information with us as well as be informed of bookings that occur on the Wink platform for one of their properties.\n\n ### Taxonomy APIs\n Taxonomy endpoints are for developers who want to consume and produce travel blocking and need taxonomies of standard and non-standard codes for blocking types, classes, statuses etc.\n\n - [Reference](/reactive): All APIs related to retrieving platform-supported taxonomies.\n\n ### Insight APIs\n Insight endpoints do exactly what the name implies - They offer platform-level insight into the activities of producers and consumers.\n\n - [Analytics](/analytics): All APIs related to tracking metrics across a wide variety of data source segments including, more entertaining, leaderboard metrics.\n\n ### Payment APIs\n Payment endpoints are for developers who want to purchase travel blocking. This can be done via the API as a registered Travel Agent or using our API in conjunction with our PCI compliant reactive widget for all other entities.\n\n - [TripPay](/reactive): All APIs related to TripPay account management, booking, mapping and integration features.\n\n ## SDKs\n We are actively working on supporting the most used languages out there. If you don't see your language here, reach out to us with a request to officially add your language. In the meantime, if you want to roll your own SDK, you can do so by downloading the OpenAPI spec and using one of the many available OpenAPI generators available: [https://openapi-generator.tech/docs/generators](https://openapi-generator.tech/docs/generators).\n\n - Java SDK [https://github.com/wink-travel/wink-sdk-java](https://github.com/wink-travel/wink-sdk-java)\n\n ## Usage\n These features are made available to you via a [REST API](https://en.wikipedia.org/wiki/Representational_state_transfer). This API is language agnostic.\n\n ## Versioning\n We chose to version our endpoints in a way that we hope affects your integration minimally. You request the version of our API you wish to work with via the `Wink-Version` header. When it's time for you to upgrade, you only have to change the version number to get access to our updated endpoints.\n\n ## Release history\n - Follow updates on Github: https://github.com/wink-travel/wink-sdk-java/blob/master/CHANGELOG.md\n\n\n\n# User Settings API\nThe User Settings API exposes endpoints to allow 3rd party integrators to communicate with Wink. This API lets you:\n\n1. Application: Manage 3rd party access to Wink.\n2. Bucket List: Manage your bucket list on Wink.\n3. Webhook: Subscribe to receive Wink events as they occur in realtime.\n4. User: Manage user settings.\n\nBrowse the endpoints in the left navigation bar to get started.\n\n","contact":{"name":"Bjorn Harvold","email":"bjorn@wink.travel"},"version":"30.8.1","x-logo":{"backgroundColor":"#FFFFFF","altText":"wink","url":"https://res.cloudinary.com/traveliko/image/upload/c_scale,h_129/v1653285543/wink/logo_text_white.svg"}},"servers":[{"url":"https://api.wink.travel","description":"Endpoint"}],"tags":[{"name":"Webhook","description":"Use the Webhook API to create webhooks to interface with the TripPay API."},{"name":"User Settings","description":"Manage user profile, settings and other user related functionality."},{"name":"Bucket List","description":"Bucket list functionality. As an integrator, you can manage bucket lists and they will be associated with your account."},{"name":"Application","description":"Use the Application API to create applications to interface with the TripPay API."}],"paths":{"/api/profile":{"get":{"tags":["User Settings"],"summary":"Show Profile","description":"Show profile by profile owner.","operationId":"showProfile","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileView_Non_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"put":{"tags":["User Settings"],"summary":"Update Profile","description":"Update profile by profile owner.","operationId":"updateProfile","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertProfileRequest_Non_Authenticated_Entity"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileView_Non_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/bucket-list":{"get":{"tags":["Bucket List"],"summary":"Get Bucket Lists","description":"Retrieve all bucket lists for caller","operationId":"oauth2ShowBucketList","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BucketListEntryWrapper_Authenticated_Entity"}}}}}},"security":[{"oauth2ClientCredentials":[]}]},"post":{"tags":["Bucket List"],"summary":"Create Bucket List","description":"Create a new bucket list","operationId":"oauth2AddBucketListEntry","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BucketListEntryRequest_Authenticated_Entity"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BucketListEntryView_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/webhook/{id}":{"get":{"tags":["Webhook"],"summary":"Show Webhook","description":"Show a specific webhook","operationId":"loadWebhook","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Webhook"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Webhook"],"summary":"Delete Webhook","description":"Remove a specific webhook","operationId":"deleteWebhook","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveEntryResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"patch":{"tags":["Webhook"],"summary":"Update Webhook","description":"Update an existing webhook","operationId":"updateWebhook","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertWebhookRequest"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Webhook"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/user-settings/profile":{"get":{"tags":["User Settings"],"summary":"Show User Profile","description":"Retrieves user profile data.","operationId":"showUserProfile","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertUserProfileResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"patch":{"tags":["User Settings"],"summary":"Update User Profile","description":"Updates user profile data.","operationId":"updateUserProfile","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertUserProfileRequest"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertUserProfileResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/application/{id}":{"get":{"tags":["Application"],"summary":"Show Application","description":"Show a specific application","operationId":"loadApplication","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Application"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Application"],"summary":"Delete Application","description":"Remove a specific application","operationId":"deleteApplication","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveEntryResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"patch":{"tags":["Application"],"summary":"Update Application","description":"Update an existing application","operationId":"updateApplication","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertApplicationRequest"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateApplicationResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/webhook/list":{"get":{"tags":["Webhook"],"summary":"Show Webhooks","description":"List all webhooks owned by creating entity","operationId":"showWebhooks","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Webhook"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/webhook/event/list":{"get":{"tags":["Webhook"],"summary":"Show Webhook Event List","description":"List all valid webhook events that can be subsccribed to","operationId":"showWebhookEvents","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KeyValuePair"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/managing-entity/list":{"get":{"tags":["Application"],"summary":"Show Managing Entities","description":"Lists all entities, including user entity, owned by user.","operationId":"showManagingEntities","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ManagingEntity"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/bucket-list/{type}/{identifier}":{"get":{"tags":["Bucket List"],"summary":"Get Bucket List Entries","description":"Retrieve bucket list entries for a specific by bucket list","operationId":"oauth2ShowBucketListEntry","parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string","enum":["hotel","room","spa","restaurant","meeting","activity","attraction","place","bundle","upgrade"]}},{"name":"identifier","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BucketListEntry_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/bucket-list/entries":{"get":{"tags":["Bucket List"],"summary":"Get Bucket List","description":"Retrieve all bucket list entries for caller","operationId":"oauth2ShowBucketListEntries","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BucketListEntry_Authenticated_Entity"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/application/{id}/revoke":{"get":{"tags":["Application"],"summary":"Revoke Application Credentials","description":"Refreshes the clientId and secretKey properties.","operationId":"revokeApplication","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RevokeClientIdResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/application/list":{"get":{"tags":["Application"],"summary":"Show Applications","description":"List all applications owned by creating entity","operationId":"showApplications","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Application"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/webhook":{"post":{"tags":["Webhook"],"summary":"Create Webhook","description":"Create a new webhook","operationId":"createWebhook","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertWebhookRequest"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Webhook"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/application":{"post":{"tags":["Application"],"summary":"Create Application","description":"Create a new application","operationId":"createApplication","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertApplicationRequest"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateApplicationResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/user-settings/change-password":{"patch":{"tags":["User Settings"],"summary":"Change password","description":"Updates currently authenticated user's password.","operationId":"changePassword","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangePasswordRequest"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BooleanResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/bucket-list/{bucketListItemIdentifier}":{"delete":{"tags":["Bucket List"],"summary":"Delete Bucket List Entry","description":"Remove bucket list entry by entry identifier","operationId":"oauth2RemoveBucketList","parameters":[{"name":"bucketListItemIdentifier","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BucketListEntryView_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}}},"components":{"schemas":{"GenericErrorMessage":{"type":"object","properties":{"timestamp":{"type":"string","xml":{"attribute":true}},"status":{"type":"integer","format":"int32","xml":{"attribute":true}},"error":{"type":"string"},"message":{"type":"string"},"path":{"type":"string"}},"description":"Generic error message","xml":{"name":"ErrorMessage"}},"Contact_Non_Authenticated_Entity":{"type":"object","properties":{"firstName":{"type":"string","description":"Contact first name","example":"John"},"lastName":{"type":"string","description":"Contact last name","example":"Smith"},"email":{"type":"string","description":"Contact E-mail","example":"johnsmith@email.com"},"secondaryEmail":{"type":"string","description":"Contact secondary Email","example":"johnsmith2@email.com"},"phoneNumber":{"type":"string","description":"Contact phone number","example":"+12125551212"},"fullName":{"type":"string","description":"First and last name","readOnly":true,"example":"John Smith"},"summary":{"type":"string","description":"Summary","readOnly":true,"example":"John Smith (johnsmith@gmail.com / +12125551212)"}},"description":"Array of emergency contact information for the customer"},"Personal_Non_Authenticated_Entity":{"type":"object","properties":{"gender":{"type":"string","description":"Identifier the gender of the customer.","enum":["MALE","FEMALE","OTHER"]},"birthDate":{"type":"string","description":"Indicates the date of birth as indicated in the document, in ISO 8601 prescribed format.","format":"date"},"maritalStatus":{"type":"string","description":"Marital status of the traveler.","enum":["ANNULLED","COHABITATING","DIVORCED","ENGAGED","MARRIED","SEPARATED","SINGLE","WIDOWED","UNKNOWN"]},"childQuantity":{"type":"integer","description":"The number of children of the customer.","format":"int32"},"citizenship":{"type":"string","description":"Name of the (self-professed) country that is clamided for citizenship."},"address1":{"type":"string","description":"Address line 1"},"address2":{"type":"string","description":"Address line 2"},"city":{"type":"string","description":"City"},"state":{"type":"string","description":"State"},"postalCode":{"type":"string","description":"Postal code"},"country":{"type":"string","description":"Country"},"preferredCurrency":{"type":"string","description":"Type of funds preferred for reviewing monetary values, in ISO 4217 codes","example":"USD"},"language":{"type":"string","description":"The primary language of the customer"},"contactPerson":{"type":"array","items":{"$ref":"#/components/schemas/Contact_Non_Authenticated_Entity"}},"physChallName":{"type":"array","items":{"type":"string","description":"Array of customer's physical challenges"}},"petInfo":{"type":"array","items":{"$ref":"#/components/schemas/PetInfoDto_Non_Authenticated_Entity"}}},"description":"Detailed customer information for this profile"},"PetInfoDto_Non_Authenticated_Entity":{"required":["name","type"],"type":"object","properties":{"name":{"type":"string","description":"Pet name"},"type":{"type":"string","description":"Pet type"}},"description":"Array of customer's pets"},"Preferences_Non_Authenticated_Entity":{"type":"object","properties":{"propertyLocationPref":{"type":"string","description":"Indicates preference for hotel property locations."},"propertyTypePref":{"type":"string","description":"Indicates preference for hotel property types."},"hotelChainPref":{"type":"string","description":"Identifies a preferred company by name."},"propertyAmenityPref":{"type":"array","description":"Indicates preferences for hotel property amenities.","items":{"type":"string"}},"recreationSrvcPref":{"type":"array","description":"Indicates preference for the type of recreation services in a hotel","items":{"type":"string"}},"businessSrvcPref":{"type":"array","description":"Indicates preference for type of business services in a hotel","items":{"type":"string"}},"securityFeaturePref":{"type":"array","description":"Indicates preference of rtype of security features in a hotel","items":{"type":"string"}},"physChalFeaturePref":{"type":"array","description":"Indicates preferences for type of features required to meet the needs of persons with physical challenges, disabilities, etc.","items":{"type":"string","description":"Indicates preferences for type of features required to meet the needs of persons with physical challenges, disabilities, etc."}},"smokingAllowed":{"type":"boolean","description":"Indicates preference for smooking allowed rooms.."},"roomLocationPref":{"type":"string","description":"Indicates preference for hotel room locations."},"bedTypePref":{"type":"string","description":"Indicates preferences for the size and features of hotel bed types."},"foodSrvcPref":{"type":"string","description":"Indicates preferences for type of food listener facilities in a hotel."},"roomAmenityPref":{"type":"array","description":"Indicates preferences for hotel room amenities.","items":{"type":"string"}},"guestType":{"type":"string","description":"Guest type"},"mealPref":{"type":"string","description":"Indicates meal preference."},"cuisinePref":{"type":"string","description":"Indicates cuisine preference."},"interestPref":{"type":"array","description":"Indicates interest preference","items":{"type":"string"}},"beveragePref":{"type":"array","description":"Indicates beverage preference.","items":{"type":"string"}},"foodPref":{"type":"array","description":"Indicates food preference.","items":{"type":"string"}},"allergies":{"type":"array","description":"Indicates allergies","items":{"type":"string"}},"petsPref":{"type":"array","description":"Indicates pet preferences","items":{"type":"string"}}},"description":"Customer preferences"},"ProfileUser_Non_Authenticated_Entity":{"type":"object","properties":{"firstName":{"type":"string","description":"First name","example":"Avid"},"lastName":{"type":"string","description":"Last name","example":"Travelman"},"email":{"type":"string","description":"Email","format":"email","example":"avid@travelman.com"},"phone":{"type":"string","description":"Telephone","example":"0123456789"},"profilePictureUrl":{"type":"string","description":"Profile picture URL"},"fullName":{"type":"string","description":"Full name","readOnly":true,"example":"John Smith"}},"description":"User details"},"UpsertProfileRequest_Non_Authenticated_Entity":{"required":["personal","preferences","share","user"],"type":"object","properties":{"share":{"type":"boolean","description":"Indicates whether the user wants to share this profile of themselves with hotel(s)"},"user":{"$ref":"#/components/schemas/ProfileUser_Non_Authenticated_Entity"},"personal":{"$ref":"#/components/schemas/Personal_Non_Authenticated_Entity"},"preferences":{"$ref":"#/components/schemas/Preferences_Non_Authenticated_Entity"}}},"ProfileView_Non_Authenticated_Entity":{"required":["profile"],"type":"object","properties":{"id":{"type":"string","description":"Document UUID","example":"doc-1"},"createdDate":{"type":"string","description":"Datetime this record was first created","format":"date-time"},"lastUpdate":{"type":"string","description":"Datetime this record was last updated","format":"date-time"},"version":{"type":"integer","description":"Version property that shows how many times this document has been persisted. Document will not persist if the version property is less than current version property in the system. Result in an optimistic locking exception.","format":"int64","example":12},"profile":{"$ref":"#/components/schemas/Profile_Non_Authenticated_Entity"}}},"Profile_Non_Authenticated_Entity":{"required":["personal","preferences","profileIdentifier","share","user","userIdentifier"],"type":"object","properties":{"profileIdentifier":{"type":"string","description":"Profile identifier","format":"uuid"},"userIdentifier":{"type":"string","description":"User identifier","format":"uuid"},"share":{"type":"boolean","description":"Indicates whether the user wants to share this profile of themselves with hotel(s)"},"user":{"$ref":"#/components/schemas/ProfileUser_Non_Authenticated_Entity"},"personal":{"$ref":"#/components/schemas/Personal_Non_Authenticated_Entity"},"preferences":{"$ref":"#/components/schemas/Preferences_Non_Authenticated_Entity"}}},"ManagingEntity":{"required":["label","type","value"],"type":"object","properties":{"value":{"type":"string","description":"The value that should be persisted.","example":"company-1"},"label":{"type":"string","description":"Text representation of the value.","example":"Company 1"},"type":{"type":"string","description":"Type of entity.","example":"COMPANY","enum":["USER","COMPANY","ACCOUNT"]}},"description":"Name of the application.","example":"App 1"},"UpsertWebhookRequest":{"required":["enabled","entity","eventList","eventUrl","name"],"type":"object","properties":{"name":{"type":"string","description":"Descriptive name of webhook.","example":"Webhook prod"},"entity":{"$ref":"#/components/schemas/ManagingEntity"},"enabled":{"type":"boolean","description":"Whether this webhook is enabled.","example":true,"default":true},"eventUrl":{"type":"string","description":"The url to POST event to.","example":"https://www.webhook.com/event"},"eventList":{"type":"array","items":{"type":"string","description":"The events the listener wants to receive. Leave empty to receive all events.","example":"account.created"}}}},"Webhook":{"required":["enabled","eventList","eventUrl","id","name","ownerIdentifier","ownerName","ownerType","userIdentifier"],"type":"object","properties":{"id":{"type":"string","description":"Document UUID","example":"doc-1"},"createdDate":{"type":"string","description":"Datetime this record was first created","format":"date-time"},"lastUpdate":{"type":"string","description":"Datetime this record was last updated","format":"date-time"},"version":{"type":"integer","description":"Version property that shows how many times this document has been persisted. Document will not persist if the version property is less than current version property in the system. Result in an optimistic locking exception.","format":"int64","example":12},"userIdentifier":{"type":"string","description":"Unique owner record identifier","format":"uuid"},"ownerIdentifier":{"type":"string","description":"Unique owner record identifier","format":"uuid"},"ownerName":{"type":"string","description":"Name of company owner.","example":"Travel Tech 1"},"ownerType":{"type":"string","description":"Type of entity.","example":"COMPANY","enum":["USER","COMPANY","ACCOUNT"]},"name":{"type":"string","description":"Descriptive name of webhook.","example":"Webhook prod"},"enabled":{"type":"boolean","description":"Whether this webhook is enabled.","example":true,"default":true},"eventUrl":{"type":"string","description":"The url to POST event to.","example":"https://www.webhook.com/event"},"eventList":{"type":"array","items":{"type":"string","description":"The events the listener wants to receive. Leave empty to receive all events.","example":"account.created"}}}},"BucketListEntryRequest_Authenticated_Entity":{"required":["channelInventoryIdentifier","engineConfigurationIdentifier","identifier","inventoryName","type"],"type":"object","properties":{"type":{"type":"string","enum":["hotel","room","spa","restaurant","meeting","activity","attraction","place","bundle","upgrade"]},"identifier":{"type":"string"},"channelInventoryIdentifier":{"type":"string"},"inventoryName":{"type":"string"},"engineConfigurationIdentifier":{"type":"string"}}},"BucketListEntryView_Authenticated_Entity":{"required":["data"],"type":"object","properties":{"id":{"type":"string","description":"Document UUID","example":"doc-1"},"createdDate":{"type":"string","description":"Datetime this record was first created","format":"date-time"},"lastUpdate":{"type":"string","description":"Datetime this record was last updated","format":"date-time"},"version":{"type":"integer","description":"Version property that shows how many times this document has been persisted. Document will not persist if the version property is less than current version property in the system. Result in an optimistic locking exception.","format":"int64","example":12},"data":{"$ref":"#/components/schemas/BucketListEntry_Authenticated_Entity"}}},"BucketListEntry_Authenticated_Entity":{"required":["bucketListIdentifier","channelInventoryIdentifier","clientId","engineConfigurationIdentifier","engineIdentifier","identifier","inventoryName","type","userIdentifier"],"type":"object","properties":{"bucketListIdentifier":{"type":"string"},"userIdentifier":{"type":"string"},"type":{"type":"string","enum":["hotel","room","spa","restaurant","meeting","activity","attraction","place","bundle","upgrade"]},"identifier":{"type":"string"},"channelInventoryIdentifier":{"type":"string"},"inventoryName":{"type":"string"},"engineIdentifier":{"type":"string"},"engineConfigurationIdentifier":{"type":"string"},"clientId":{"type":"string"}}},"UpsertApplicationRequest":{"required":["entity","name","redirectUris"],"type":"object","properties":{"name":{"type":"string","description":"Name of the application.","example":"App 1"},"entity":{"$ref":"#/components/schemas/ManagingEntity"},"redirectUris":{"type":"array","items":{"type":"string","description":"Where to redirect after successful OAuth2.","example":"https://my.travel.blog"}}}},"CreateApplicationResponse":{"required":["clientId","id","name","ownerIdentifier","ownerName","ownerType","secretKey"],"type":"object","properties":{"id":{"type":"string","description":"Unique identifier.","format":"uuid"},"ownerIdentifier":{"type":"string","description":"Unique owner record identifier","format":"uuid"},"ownerName":{"type":"string","description":"Name of company owner.","example":"Travel Tech 1"},"ownerType":{"type":"string","description":"Type of entity.","example":"COMPANY","enum":["USER","COMPANY","ACCOUNT"]},"name":{"type":"string","description":"Name of this engine application. The first engine for every integrator will have the same name as its company name.","example":"Engine 1"},"redirectUris":{"type":"array","description":"Where to redirect after web components successfully authenticate. For OAuth2 purposes.","example":["https://my.travel.blog"],"items":{"type":"string","description":"Where to redirect after web components successfully authenticate. For OAuth2 purposes.","example":"[\"https://my.travel.blog\"]"}},"clientId":{"type":"string","description":"Client identifier used to authenticate an Oauth2 or web component request.","example":"client-id-123"},"secretKey":{"type":"string","description":"Password used to authenticate an Oauth2 request."}}},"ImageAttribution":{"required":["name"],"type":"object","properties":{"url":{"type":"string","description":"URL to contributor","example":"https://maps.google.com/maps/contrib/111628493169070103594"},"name":{"type":"string","description":"Name of contributor","example":"Samuel Adams"}},"description":"Whether image has attribution properties"},"SimpleDescription":{"required":["description","language"],"type":"object","properties":{"name":{"type":"string","description":"Use as title or short text description","example":"An example title"},"description":{"maxLength":2147483647,"minLength":1,"type":"string","description":"Longer text description","example":"This is a longer description in the specified language."},"language":{"maxLength":2,"minLength":2,"type":"string","description":"Indicate which language this description is written in.","example":"en","default":"en"}},"description":"Localized media captions to give user some context about where this media was taken."},"SimpleMultimedia":{"required":["height","identifier","multimediaIdentifier","source","type","width"],"type":"object","properties":{"multimediaIdentifier":{"type":"string","description":"Document identifier","format":"uuid"},"identifier":{"type":"string","description":"Use this identifier to communicate with Cloudinary.","example":"cloudinary-image-1"},"type":{"type":"string","description":"Whether Cloudinary media is a VIDEO or IMAGE.","example":"IMAGE","enum":["IMAGE","VIDEO","AUDIO","RAW"]},"source":{"type":"string","description":"Currently ONLY using Cloudinary to store all image / video assets.","example":"CLOUDINARY","default":"CLOUDINARY","enum":["YOUTUBE","CLOUDINARY"]},"sort":{"type":"integer","description":"Sort allows you to control how you want to sort this record in a list of media records.","format":"int32","example":10,"default":999},"angle":{"type":"string","description":"Media angle","example":"-90"},"width":{"type":"integer","description":"Media width in pixels.","format":"int32","example":2560},"height":{"type":"integer","description":"Media height in pixels.","format":"int32","example":1600},"published":{"type":"boolean","description":"Instead of deleting the media, choose to un-publish it instead for later re-use. Could be you keep seasonal images of the property.","example":true,"default":false},"category":{"type":"string","description":"Supported OTA specification `PIC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"1"},"descriptions":{"type":"array","description":"Localized media captions to give user some context about where this media was taken.","items":{"$ref":"#/components/schemas/SimpleDescription"}},"lifestyleType":{"type":"string","description":"Associate this media with a specific lifestyle type. A user searching and filtering inventory based on lifestyles can be shown relevant media first.","example":"LIFESTYLE_HEALTH_FITNESS","enum":["LIFESTYLE_HEALTH_FITNESS","LIFESTYLE_RELAX","LIFESTYLE_ADULT_ONLY","LIFESTYLE_ADVENTURE","LIFESTYLE_BUSINESS","LIFESTYLE_LGBT","LIFESTYLE_SINGLE_PARENT","LIFESTYLE_SOLO_FEMALE","LIFESTYLE_BEAUTY","LIFESTYLE_FOODIE","LIFESTYLE_FAMILY","LIFESTYLE_ROMANCE","LIFESTYLE_COUPLE","LIFESTYLE_SOLO","LIFESTYLE_BACKPACKER","LIFESTYLE_SHOPPING","LIFESTYLE_SPORTS","LIFESTYLE_MOUNTAIN","LIFESTYLE_BEACH","LIFESTYLE_CITY","LIFESTYLE_COUNTRY","LIFESTYLE_CULTURE","LIFESTYLE_ECO"]},"attribution":{"type":"array","description":"Whether image has attribution properties","items":{"$ref":"#/components/schemas/ImageAttribution"}},"isLandscape":{"type":"boolean","description":"True if media width is greater or equal to height","example":true}},"description":"Multimedia that contains less information than Multimedia object"},"UpsertUserProfileRequest":{"required":["firstName","lastName","username"],"type":"object","properties":{"firstName":{"type":"string","description":"First name","example":"Jane"},"lastName":{"type":"string","description":"Last name","example":"Doe"},"username":{"type":"string","description":"Unique user email","example":"jane@doe.com"},"profilePicture":{"$ref":"#/components/schemas/SimpleMultimedia"}},"description":"User profile information"},"UpsertUserProfileResponse":{"required":["firstName","identifier","lastName","username"],"type":"object","properties":{"identifier":{"type":"string","description":"User ID","example":"user-1"},"firstName":{"type":"string","description":"First name","example":"Jane"},"lastName":{"type":"string","description":"Last name","example":"Doe"},"username":{"type":"string","description":"Unique user email","example":"jane@doe.com"},"profilePicture":{"$ref":"#/components/schemas/SimpleMultimedia"},"profilePictureUrl":{"type":"string","description":"A fully qualified URL based on the Cloudinary identifier","example":"https://res.cloudinary.com/traveliko/image/upload/c_scale,h_512,q_auto:best,w_512/k8nvegwqn0ih3xqioykn.jpg"}},"description":"User profile information"},"ChangePasswordRequest":{"required":["confirmPassword","password"],"type":"object","properties":{"password":{"type":"string"},"confirmPassword":{"type":"string"}}},"BooleanResponse":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether call to endpoint was successful or not."},"message":{"type":"string","description":"A message indicating more textual information. Mostly used to convey an error message."}},"description":"Boolean response"},"UpdateApplicationResponse":{"required":["entity","id"],"type":"object","properties":{"id":{"type":"string","description":"Unique identifier.","format":"uuid"},"name":{"type":"string","description":"Name of the application.","example":"App 1"},"entity":{"$ref":"#/components/schemas/ManagingEntity"},"redirectUris":{"type":"array","items":{"type":"string","description":"Where to redirect after successful OAuth2.","example":"https://my.travel.blog"}}}},"KeyValuePair":{"required":["label","value"],"type":"object","properties":{"value":{"type":"string","description":"The value that should be persisted.","example":"id-1"},"label":{"type":"string","description":"English readable text of the value.","example":"Readable text label"}}},"Address_Authenticated_Entity":{"required":["address1","city"],"type":"object","properties":{"address1":{"type":"string","description":"Address line 1","example":"234 Near da beach"},"address2":{"type":"string","description":"Address line 2","example":"Pebble #5001"},"state":{"type":"string","description":"State","example":"CA"},"postalCode":{"type":"string","description":"Postal / zip code","example":"90210"},"county":{"type":"string","description":"County","example":"Alameda county"},"city":{"$ref":"#/components/schemas/GeoName_Authenticated_Entity"},"valid":{"type":"boolean","description":"Whether this address is considered valid by the system or not","readOnly":true,"example":true},"fullAddress":{"type":"string","description":"Address 1, Address 2, City, State, Postal / Zip code, Country","readOnly":true,"example":"11 At home, Suite 3C, New York City, NY 10010, United States"}},"description":"Address information"},"AdvanceBookingRateQualifier_Authenticated_Entity":{"type":"object","description":"Restrict promotion to users who want to book in advance."},"ArrivalDaysOfWeekRateQualifier_Authenticated_Entity":{"type":"object","description":"Restrict promotion to specific days of the week the guest is arriving."},"AvailableDaysOfWeekRateQualifier_Authenticated_Entity":{"type":"object","description":"Restrict promotion to specific days of the week the promotion is available."},"BlackoutDate_Authenticated_Entity":{"type":"object","description":"Exclude this promotion from specific date ranges."},"BucketListEntryWrapper_Authenticated_Entity":{"required":["entry","inventory"],"type":"object","properties":{"entry":{"$ref":"#/components/schemas/BucketListEntry_Authenticated_Entity"},"inventory":{"$ref":"#/components/schemas/Inventory_Authenticated_Entity"}}},"CityRateQualifier_Authenticated_Entity":{"type":"object","description":"Restrict promotion to specific cities. See [Geo-IP city geoname data](#operation/searchForCity)"},"Contact_Authenticated_Entity":{"type":"object","properties":{"firstName":{"type":"string","description":"Contact first name","example":"John"},"lastName":{"type":"string","description":"Contact last name","example":"Smith"},"email":{"type":"string","description":"Contact E-mail","example":"johnsmith@email.com"},"secondaryEmail":{"type":"string","description":"Contact secondary Email","example":"johnsmith2@email.com"},"phoneNumber":{"type":"string","description":"Contact phone number","example":"+12125551212"},"fullName":{"type":"string","description":"First and last name","readOnly":true,"example":"John Smith"},"summary":{"type":"string","description":"Summary","readOnly":true,"example":"John Smith (johnsmith@gmail.com / +12125551212)"}},"description":"Contact details for reservations desk"},"ContinentRateQualifier_Authenticated_Entity":{"type":"object","description":"Restrict promotion to specific continents. See [Geo-IP continent geoname data](#operation/showContinents)"},"CountryRateQualifier_Authenticated_Entity":{"type":"object","description":"Restrict promotion to specific countries. See [Geo-IP country geoname data](#operation/showCountries)"},"Country_Authenticated_Entity":{"type":"object","properties":{"iso":{"type":"string","description":"ISO code","example":"US"},"name":{"type":"string","description":"Country name","example":"United States"},"capital":{"type":"string","description":"Country capital","example":"Washington"},"continent":{"type":"string","description":"Continent code","example":"NA"},"currencyCode":{"type":"string","description":"Currency code","example":"USD"},"currencyName":{"type":"string","description":"Currency name","example":"Dollar"},"geoNameId":{"type":"string","description":"Country GeoNames identifier","example":"6252001"}},"description":"Country"},"CustomMonetaryAmount":{"required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number"},"currency":{"type":"string"}}},"DepartureDaysOfWeekRateQualifier_Authenticated_Entity":{"type":"object","description":"Restrict promotion to specific days of the week the guest is departing."},"GeneralManager_Authenticated_Entity":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"Name of GM currently managing the property.","example":"Jane Doe"},"image":{"$ref":"#/components/schemas/SimpleMultimedia_Authenticated_Entity"},"descriptions":{"type":"array","description":"Localized welcome message from GM.","items":{"$ref":"#/components/schemas/LocalizedDescription_Authenticated_Entity"}}},"description":"General manager related data."},"GeoJsonPoint_Authenticated_Entity":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"},"type":{"type":"string"},"coordinates":{"type":"array","items":{"type":"number","format":"double"}}},"description":"Geo-location","example":{"type":"POINT","coordinates":[100.5581533,13.7370197]}},"GeoName_Authenticated_Entity":{"type":"object","properties":{"geoNameId":{"type":"string","description":"GeoName identifier","example":"5128581"},"type":{"type":"string","description":"GeoName type","enum":["CITY","ISLAND","OTHER"]},"name":{"type":"string","description":"Name of city","example":"New York City"},"urlName":{"type":"string","description":"Url name","example":"new-york-city-united-states"},"asciiName":{"type":"string","description":"Ascii name of city","example":"New York City"},"location":{"$ref":"#/components/schemas/GeoJsonPoint_Authenticated_Entity"},"featureCode":{"type":"string"},"countryCode":{"type":"string"},"timezone":{"type":"string","description":"Timezone","example":"America/New_York"},"country":{"$ref":"#/components/schemas/Country_Authenticated_Entity"},"subCountry":{"$ref":"#/components/schemas/SubCountry_Authenticated_Entity"},"subSubCountry":{"$ref":"#/components/schemas/SubSubCountry_Authenticated_Entity"}},"description":"GeoNames have been created at [https://geonames.org](https://geonames.org) and contain geographical destinations we use as geoname data to associate travel inventory with a location."},"HotelOnMap_Authenticated_Entity":{"type":"object","properties":{"identifier":{"type":"string","description":"Unique record identifier. This is NOT the same as the unique hotel record identifier.","example":"document-1"},"hotelIdentifier":{"type":"string","description":"Unique hotel record identifier.","format":"uuid"},"name":{"type":"string","description":"Hotel trade name","example":"The Loveliest Hotel"},"localName":{"type":"string","description":"Hotel local name if different from the trade name or if it is the local language.","example":"Det Beste Hotellet"},"chain":{"type":"string","description":"Name of hotel chain if applicable.","example":"Hotel chain"},"brand":{"type":"string","description":"Name of hotel brand","example":"Hotel brand"},"urlName":{"type":"string","description":"Unique URL-friendly name slug of hotel","example":"the-loveliest-hotel-new-york-united-states"},"starRating":{"maximum":6,"minimum":0,"type":"integer","description":"Official or self-designated property star rating. Note that in some regions there are 6-star hotels. They are the same as 5-star hotels everywhere else.","format":"int32","example":4},"bookings":{"type":"integer","description":"Number of bookings for this property on the wink.travel platform.","format":"int64","example":6054,"default":0},"aggregateReviewRating":{"type":"number","description":"Aggregate score based on all current user reviews.","format":"float","example":7.8,"default":0.0},"location":{"$ref":"#/components/schemas/GeoJsonPoint_Authenticated_Entity"},"shortDescriptions":{"type":"array","description":"A localized list of short property descriptions","items":{"$ref":"#/components/schemas/LocalizedDescription_Authenticated_Entity"}},"longDescriptions":{"type":"array","description":"A localized list of longer property descriptions","items":{"$ref":"#/components/schemas/LocalizedDescription_Authenticated_Entity"}},"aggregateGreendexRating":{"type":"number","description":"Aggregate Green Index score if the property has answered our questionnaire available in the Extranet.","format":"float","example":7.0,"default":0.0},"lifestyleTypes":{"type":"array","items":{"type":"string","description":"A list of lifestyles the property associates with.","example":"LIFESTYLE_HEALTH_FITNESS","enum":["LIFESTYLE_HEALTH_FITNESS","LIFESTYLE_RELAX","LIFESTYLE_ADULT_ONLY","LIFESTYLE_ADVENTURE","LIFESTYLE_BUSINESS","LIFESTYLE_LGBT","LIFESTYLE_SINGLE_PARENT","LIFESTYLE_SOLO_FEMALE","LIFESTYLE_BEAUTY","LIFESTYLE_FOODIE","LIFESTYLE_FAMILY","LIFESTYLE_ROMANCE","LIFESTYLE_COUPLE","LIFESTYLE_SOLO","LIFESTYLE_BACKPACKER","LIFESTYLE_SHOPPING","LIFESTYLE_SPORTS","LIFESTYLE_MOUNTAIN","LIFESTYLE_BEACH","LIFESTYLE_CITY","LIFESTYLE_COUNTRY","LIFESTYLE_CULTURE","LIFESTYLE_ECO"]}},"totalReviews":{"type":"integer","description":"Count of total reviews left by users at this property.","format":"int32","example":989,"default":0},"available":{"type":"boolean","description":"Flag indicating whether the reactive has made this property available for sale.","example":true,"default":false},"hotelAvailable":{"type":"boolean","description":"Flag indicating whether the property has made this property available for sale.","example":true,"default":false},"reservations":{"$ref":"#/components/schemas/Contact_Authenticated_Entity"},"socials":{"type":"array","description":"Property's social network accounts","items":{"$ref":"#/components/schemas/Social_Authenticated_Entity"}},"images":{"type":"array","description":"Property images.","items":{"$ref":"#/components/schemas/SimpleMultimedia_Authenticated_Entity"}},"videos":{"type":"array","description":"Property videos.","items":{"$ref":"#/components/schemas/SimpleMultimedia_Authenticated_Entity"}},"policy":{"$ref":"#/components/schemas/PropertyPolicy_Authenticated_Entity"},"thirdPartyReviews":{"type":"array","description":"Array of awards and third party reviews given to property by certified / non-certified providers.","items":{"$ref":"#/components/schemas/TravelInventoryRecognition_Authenticated_Entity"}},"attractions":{"type":"integer","description":"Number of attractions property has listed on its profile.","format":"int32","example":5,"default":0},"recreations":{"type":"integer","description":"Number of activites property has listed on its profile.","format":"int32","example":3,"default":0},"pois":{"type":"integer","description":"Number of places property has listed on its profile.","format":"int32","example":9,"default":0},"restaurants":{"type":"integer","description":"Number of restaurants property has on its profile.","format":"int32","example":2,"default":0},"meetingRooms":{"type":"integer","description":"Number of meeting rooms property has on its profile.","format":"int32","example":2,"default":0},"spas":{"type":"integer","description":"Number of spas property has on its profile.","format":"int32","example":1,"default":0},"addOns":{"type":"integer","description":"Number of add-ons property has on its profile.","format":"int32","example":5,"default":0},"generalManager":{"$ref":"#/components/schemas/GeneralManager_Authenticated_Entity"},"locationCategory":{"type":"string","description":"Supported OTA specification `LOC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"34"},"segmentCategory":{"type":"string","description":"Supported OTA specification `SEG` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"7"},"hotelCategory":{"type":"string","description":"Supported OTA specification `PCT` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"45"},"architecturalStyle":{"type":"string","description":"Supported OTA specification `ARC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"7"},"whenBuilt":{"type":"string","description":"Year the property was constructed.","example":"1927"},"currencyCode":{"type":"string","description":"Currency code for property.","example":"USD"},"membershipRateDiscount":{"type":"number","description":"A property's price score is based on calculating historical pricing data. Each property receives a unique score. There is no max score; it's there to compare it against other properties.","format":"float","example":9,"default":0},"priceScore":{"type":"integer","description":"A property's price score is based on calculating historical pricing data. Each property receives a unique score. There is no max score; it's there to compare it against other properties.","format":"int32","example":9,"default":0},"perkScore":{"type":"integer","description":"A property's perk score is based on the type of perks that is offered to the guests across all master rates. There is no max score; it's there to compare it against other properties.","format":"int32","example":4,"default":0},"packageScore":{"type":"integer","description":"A property's package score is based on general availability and price for all packages and add-ons offered by the property. There is no max score; it's there to compare it against other properties.","format":"int32","example":4,"default":0},"loyaltyScore":{"type":"integer","description":"A property's loyalty score is based on calculating how many available rate plans honor loyalty points. There is no max score; it's there to compare it against other properties.","format":"int32","example":5,"default":0},"popularScore":{"type":"integer","description":"A property's popular score is based on calculating number of bookings across room types. There is no max score; it's there to compare it against other properties.","format":"int32","example":45,"default":0},"experienceScore":{"type":"integer","description":"A property's experience score is based on how calculating how many types of experiences are available and at what price ranges. There is no max score; it's there to compare it against other properties.","format":"int32","example":5,"default":0},"availabilityScore":{"type":"integer","description":"A property's availability score is based on general availability of all room types. If most room types are always unavailable, the attractiveness of this property goes down. We use this as our primary benchmark to decide how and when to feature properties. There is no max score; it's there to compare it against other properties.","format":"int32","example":5,"default":0},"views":{"type":"integer","description":"Total number of user views of this property.","format":"int64","example":10432,"default":0},"hotelAmenityCodes":{"type":"array","description":"Supported OTA specification `HAC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":["1","7"],"items":{"type":"string","description":"Supported OTA specification `HAC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"[\"1\",\"7\"]"}},"propertyAccessibilityCodes":{"type":"array","description":"Supported OTA specification `PHY` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":["1","7"],"items":{"type":"string","description":"Supported OTA specification `PHY` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"[\"1\",\"7\"]"}},"propertySecurityCodes":{"type":"array","description":"Supported OTA specification `SEC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":["1","7"],"items":{"type":"string","description":"Supported OTA specification `SEC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"[\"1\",\"7\"]"}},"numberOfRooms":{"type":"integer","description":"Number of rooms / keys for this property.","format":"int32","example":32,"default":0},"address":{"$ref":"#/components/schemas/Address_Authenticated_Entity"},"active":{"type":"boolean","description":"A property is considered active when both available and hotelAvailable flags are true.","example":true},"urlParameters":{"type":"string","description":"Convenience data point that creates url friendly query parameters of property."}},"description":"Combined property data."},"IPRangeRateQualifier_Authenticated_Entity":{"type":"object","description":"Restrict promotion to specific IP ranges."},"ImageAttribution_Authenticated_Entity":{"required":["name"],"type":"object","properties":{"url":{"type":"string","description":"URL to contributor","example":"https://maps.google.com/maps/contrib/111628493169070103594"},"name":{"type":"string","description":"Name of contributor","example":"Samuel Adams"}},"description":"Whether image has attribution properties"},"Inventory_Authenticated_Entity":{"required":["address","bookable","commissionable","enabled","hotel","identifier","imageIdentifier","inventoryIdentifier","inventoryName","inventoryNameInEnglish","inventoryType","location","pricePoint","quantity","salesChannel"],"type":"object","properties":{"identifier":{"type":"string","description":"Inventory identifier","format":"uuid"},"salesChannel":{"$ref":"#/components/schemas/SalesChannel_Authenticated_Entity"},"inventoryType":{"type":"string","description":"Inventory type","enum":["GUEST_ROOM","ADD_ON","MEETING_ROOM","RESTAURANT","SPA","ATTRACTION","PLACE","ACTIVITY"]},"inventoryIdentifier":{"type":"string","description":"Inventory type identifier","format":"uuid"},"inventoryName":{"type":"string","description":"Name of blocking as hotel is seeing it"},"inventoryNameInEnglish":{"type":"string","description":"Name of blocking as traveler is seeing it"},"enabled":{"type":"boolean","description":"Whether this blocking is enabled or not","example":true,"default":true},"imageIdentifier":{"type":"string","description":"Main image of blocking"},"pricePoint":{"type":"string","description":"Level of expensiveness.","example":"THREE","default":"THREE","enum":["HALF","ONE","ONE_HALF","TWO","TWO_HALF","THREE","THREE_HALF","FOUR","FOUR_HALF","FIVE"]},"location":{"$ref":"#/components/schemas/GeoJsonPoint_Authenticated_Entity"},"address":{"$ref":"#/components/schemas/Address_Authenticated_Entity"},"quantity":{"type":"integer","description":"quantity","format":"int32","example":100,"default":0},"commissionable":{"type":"boolean","description":"Whether this is commissionable or not","example":true,"default":false},"bookable":{"type":"boolean","description":"Whether blocking can be booked","example":true,"default":true},"lowestPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"lowestDisplayPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"hotel":{"$ref":"#/components/schemas/HotelOnMap_Authenticated_Entity"}}},"LengthOfStayRateQualifier_Authenticated_Entity":{"type":"object","description":"Restrict promotion to users who want to stay a certain number of days."},"LocalizedDescription_Authenticated_Entity":{"required":["description","language"],"type":"object","properties":{"description":{"maxLength":2147483647,"minLength":1,"type":"string","description":"Longer text description","example":"This is a longer description in the specified language."},"language":{"maxLength":2,"minLength":2,"type":"string","description":"Indicate which language this description is written in.","example":"en","default":"en"}}},"MinutesBeforeBookingStartDateRateQualifier_Authenticated_Entity":{"type":"object","description":"Restrict promotion to users who want to book a room close to the date."},"PrepayRateQualifier_Authenticated_Entity":{"type":"object","description":"Restrict promotion to either prepaid / non-prepaid rates."},"PromotionRateQualifier_Authenticated_Entity":{"type":"object","description":"Restrict promotion by requiring users to enter a promo code."},"PropertyPolicy_Authenticated_Entity":{"required":["checkInTime","checkOutTime","childrenAllowed","internetAvailability","internetConnectionLocation","internetConnectionType","parkingAccess","parkingAvailability","petsAllowed"],"type":"object","properties":{"childrenAllowed":{"type":"boolean","description":"Indicates whether property allows children","example":true,"default":false},"childrenMinimumAge":{"type":"integer","description":"When a property allows children, it can also indicate what the minimum age is for children to be allowed.","format":"int32","example":6},"internetAvailability":{"type":"string","description":"Indicates the availability of internet on the property.","example":"YES","enum":["YES","NO","YES_PAID"]},"internetConnectionType":{"type":"string","description":"Indicates how guests can access the Internet on the property.","example":"WIFI","enum":["WIFI","CABLE"]},"internetConnectionLocation":{"type":"string","description":"Indicates where internet is available in and around the property.","example":"ENTIRE_PROPERTY","enum":["ENTIRE_PROPERTY","PUBLIC_AREAS","ALL_ROOMS","SOME_ROOMS","BUSINESS_CENTER"]},"parkingAvailability":{"type":"string","description":"Indicates whether parking is available at the property.","example":"YES","enum":["YES","NO","YES_PAID"]},"parkingAccess":{"type":"string","description":"Indicates what type of parking is available at the property.","example":"PRIVATE","enum":["PRIVATE","PUBLIC"]},"petsAllowed":{"type":"boolean","description":"Indicates whether pets are allowed on the property. Note: There are thousand different kinds of pets. Just because the property allows small dogs does not mean the guest can bring a python. Always best to check with property.","example":true,"default":false},"petMaxWeightInKilos":{"type":"integer","description":"If pets are allowed, property can further limit on weight.","format":"int32","example":10},"petCharge":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"checkOutTime":{"type":"string","description":"When the guest has to check out.","example":"10:00"},"checkInTime":{"type":"string","description":"When the guest can check in.","example":"14:00"}},"description":"Outlines basic policies for the property."},"RateModifierBundle_Authenticated_Entity":{"required":["enabled","hotelIdentifier","identifier","items","name"],"type":"object","properties":{"identifier":{"type":"string","description":"Unique record identifier","format":"uuid"},"hotelIdentifier":{"type":"string","description":"Hotel identifier.","format":"uuid"},"name":{"type":"string","description":"Internal name of promotion ancillary.","example":"Early bird - Long Term"},"enabled":{"type":"boolean","description":"Whether this promotion ancillary is enabled or not.","example":true,"default":true},"items":{"type":"array","items":{"$ref":"#/components/schemas/RateModifier_Authenticated_Entity"}},"modifierOverride":{"$ref":"#/components/schemas/VariableCharge_Authenticated_Entity"},"type":{"type":"string","description":"Required if manual override modifier is not null","example":"DISCOUNT","enum":["PREMIUM","DISCOUNT"]},"pricingType":{"type":"string","description":"Determines whether this discount should be applied per night, per stay or per person - per night; Required if amount override is not null","enum":["PER_STAY","PER_DAY","PER_NIGHT","PER_USE","PER_HOUR","PER_PERSON","PER_PERSON_PER_NIGHT","PER_PERSON_PER_HOUR","PER_ADULT","PER_ADULT_PER_NIGHT","PER_ADULT_PER_HOUR","PER_CHILD","PER_CHILD_PER_NIGHT","PER_CHILD_PER_HOUR"]},"hasPercentDiscountModifier":{"type":"boolean"},"hasFixedDiscountModifier":{"type":"boolean"},"isValid":{"type":"boolean","writeOnly":true},"description":{"type":"array","items":{"$ref":"#/components/schemas/LocalizedDescription_Authenticated_Entity"}}},"description":"Promotion bundles for this channel"},"RateModifier_Authenticated_Entity":{"required":["descriptions","enabled","hotelIdentifier","identifier","modifier","name","pricingType","type"],"type":"object","properties":{"identifier":{"type":"string","description":"Unique record identifier","format":"uuid"},"hotelIdentifier":{"type":"string","description":"Hotel identifier.","format":"uuid"},"name":{"type":"string","description":"Internal name of promotion.","example":"Early bird"},"type":{"type":"string","description":"Set whether you want the price to go up or down when the rules of this promotion have been satisfied.","example":"DISCOUNT","enum":["PREMIUM","DISCOUNT"]},"modifier":{"$ref":"#/components/schemas/VariableCharge_Authenticated_Entity"},"enabled":{"type":"boolean","description":"Whether this promotion is enabled or not.","example":true,"default":true},"pricingType":{"type":"string","description":"This determines whether this discount should be applied per night, per stay or per person - per night","example":"PER_PERSON_PER_NIGHT","enum":["PER_STAY","PER_DAY","PER_NIGHT","PER_USE","PER_HOUR","PER_PERSON","PER_PERSON_PER_NIGHT","PER_PERSON_PER_HOUR","PER_ADULT","PER_ADULT_PER_NIGHT","PER_ADULT_PER_HOUR","PER_CHILD","PER_CHILD_PER_NIGHT","PER_CHILD_PER_HOUR"]},"descriptions":{"type":"array","description":"Localized descriptions describing promotion. At least one English entry is required.","items":{"$ref":"#/components/schemas/LocalizedDescription_Authenticated_Entity"}},"cityRateQualifiers":{"type":"array","description":"Restrict promotion to specific cities. See [Geo-IP city geoname data](#operation/searchForCity)","items":{"$ref":"#/components/schemas/CityRateQualifier_Authenticated_Entity"}},"continentRateQualifiers":{"type":"array","description":"Restrict promotion to specific continents. See [Geo-IP continent geoname data](#operation/showContinents)","items":{"$ref":"#/components/schemas/ContinentRateQualifier_Authenticated_Entity"}},"countryRateQualifiers":{"type":"array","description":"Restrict promotion to specific countries. See [Geo-IP country geoname data](#operation/showCountries)","items":{"$ref":"#/components/schemas/CountryRateQualifier_Authenticated_Entity"}},"promotionRateQualifiers":{"type":"array","description":"Restrict promotion by requiring users to enter a promo code.","items":{"$ref":"#/components/schemas/PromotionRateQualifier_Authenticated_Entity"}},"ipRangeRateQualifiers":{"type":"array","description":"Restrict promotion to specific IP ranges.","items":{"$ref":"#/components/schemas/IPRangeRateQualifier_Authenticated_Entity"}},"roomRangeRateQualifier":{"$ref":"#/components/schemas/RoomRangeRateQualifier_Authenticated_Entity"},"prepayRateQualifier":{"$ref":"#/components/schemas/PrepayRateQualifier_Authenticated_Entity"},"refundableRateQualifier":{"$ref":"#/components/schemas/RefundableRateQualifier_Authenticated_Entity"},"timezoneRateQualifiers":{"type":"array","description":"Restrict promotion to specific time zones. See [Geo-IP timezone geoname data](#operation/showTimezones)","items":{"$ref":"#/components/schemas/TimezoneRateQualifier_Authenticated_Entity"}},"lastMinuteRateQualifier":{"$ref":"#/components/schemas/MinutesBeforeBookingStartDateRateQualifier_Authenti
[...]
