{"openapi":"3.1.0","info":{"title":"Wink API","description":" # Introduction\n Welcome to the Wink API - A programmer-friendly way to manage, sell and book travel inventory on the Wink platform. The API gives you all the tools you need to ready your properties and inventory for sale across 1000s of our native sales channels.\n Integrators, affiliates, travel agents and content creators have the ability search for your travel inventory and promote / sell it in a wide variety of ways.\n\n # Integrations\n We have already integrated with the most well-known channel managers so you don't have to. To see our current integrations, please go to https://extranet.wink.travel and scroll to Connectivity section. Once your properties are set up, you can finish the setup by mapping your property to Wink using your channel manager partner portal. If your properties don't have a channel manager, you can easily manage rates and availability with this API.\n\n # Intended Audience\n Programmers are [most likely] a requirement to start integrating with Wink. Companies and organizations that would most benefit from integrating with us are new and existing travel companies that have relationships with suppliers and that need an advanced system from which to manage their travel inventory and get that same inventory out to as many eyeballs as possible at the lowest price possible.\n - Hotel chains\n - Hotel brands\n - Travel tech companies\n - Destination sites\n - Integrators\n - Aggregators\n - Destination management companies\n - Travel agencies\n - OTAs\n\n ## APIs\n Not every integrator needs every API. For that reason, we have separated APIs into context.\n\n### Test API\n\n - [Ping](/ping): The Ping API is a quick test endpoint to verify that your credentials work Wink.\n\n### Common APIs\n\n- [Notifications](/notifications): The Notifications API is a way for us to stay in touch with your user, property or affiliate account.\n- [User Settings](/user-settings): The User Settings API exposes endpoints to allow 3rd party integrators to communicate with Wink.\n\n### Consume APIs\nConsume endpoints are for developers who want to find existing travel inventory and either book it or use it to advertise through one of their Wink affiliate accounts.\n\n - [Configuration](/customization-client): A single endpoint to retrieve whitelabel + customization information for the booking customization.\n - [Lookup](/lookup): All APIs related to locating inventory by region, locale and property flags.\n - [Inventory](/inventory): All APIs related to retrieve known travel inventory as it was found using the Lookup API..\n - [Booking](/booking): All APIs related to creating bookings on the platform.\n - [Travel Agent](/travel-agent): The Travel Agent API exposes endpoints to manage agent-facilitated bookings.\n\n ### Produce APIs\n Produce endpoints are for developers who want to create and manage travel inventory.\n\n #### Property\n - [Property registration](/extranet/property/register): As a producer, this is, oftentimes, where you start your journey. These endpoints let you create properties on Wink.\n - [Property](/extranet/property): This collection of property endpoints are mostly management endpoints that let you display, change status and similar for your existing properties.\n - [Facilities](/extranet/facilities): This collection of endpoints let you manage facilities; such as room types.\n - [Experiences](/extranet/experiences): This collection of endpoints let you manage experiences, such as activities.\n - [Monetize](/extranet/monetize): The Monetize API exposes endpoints for managing cancellation polies, rate plans, promotions and more on Wink.\n - [Distribution](/extranet/distribution): The Distribution API exposes endpoints for sales channels, connecting with affiliates, managing rates and inventory calendars and more on Wink.\n - [Property Booking](/extranet/booking): The Property Booking API exposes endpoints for managing bookings and reviews at the property-level.\n\n #### Affiliate\n - [Affiliate](/affiliate): This collection of affiliate endpoints are mostly management endpoints that let you display, change status and similar for your existing accounts.\n - [Browse](/affiliate/browse): The Browse API exposes endpoints for affiliates to find suppliers and inventory to sell.\n - [Inventory](/affiliate/inventory): The Inventory API exposes endpoints for affiliates to manage the inventory they want to sell and how they want to sell it.\n - [Sales Channel](/affiliate/sales-channel): The Sales Channel API exposes endpoints for affiliates to manage existing sales channels as well as find new ones.\n - [WinkLinks](/affiliate/winklinks): The WinkLinks API exposes endpoints for affiliates to manage their WinkLinks page.\n\n #### Rate provider\n - [Channel manager](/channel-manager): The Channel Manager API enables external channel manager partners to map, exchange rate / availability information with us as well as be informed of bookings that occur on the Wink platform for one of their properties.\n\n ### Taxonomy APIs\n Taxonomy endpoints are for developers who want to consume and produce travel inventory and need taxonomies of standard and non-standard codes for inventory types, classes, statuses etc.\n\n - [Reference](/reactive): All APIs related to retrieving platform-supported taxonomies.\n\n ### Insight APIs\n Insight endpoints do exactly what the name implies - They offer platform-level insight into the activities of producers and consumers.\n\n - [Analytics](/analytics): All APIs related to tracking metrics across a wide variety of data source segments including, more entertaining, leaderboard metrics.\n\n ### Payment APIs\n Payment endpoints are for developers who want to purchase travel inventory. This can be done via the API as a registered Travel Agent or using our API in conjunction with our PCI compliant reactive widget for all other entities.\n\n - [TripPay](/reactive): All APIs related to TripPay account management, booking, mapping and integration features.\n\n ## SDKs\n We are actively working on supporting the most used languages out there. If you don't see your language here, reach out to us with a request to officially add your language. In the meantime, if you want to roll your own SDK, you can do so by downloading the OpenAPI spec and using one of the many available OpenAPI generators available: [https://openapi-generator.tech/docs/generators](https://openapi-generator.tech/docs/generators).\n\n - Java SDK [https://github.com/wink-travel/wink-sdk-java](https://github.com/wink-travel/wink-sdk-java)\n\n ## Usage\n These features are made available to you via a [REST API](https://en.wikipedia.org/wiki/Representational_state_transfer). This API is language agnostic.\n\n ## Versioning\n We chose to version our endpoints in a way that we hope affects your integration minimally. You request the version of our API you wish to work with via the `Wink-Version` header. When it's time for you to upgrade, you only have to change the version number to get access to our updated endpoints.\n\n ## Release history\n - Follow updates on Github: https://github.com/wink-travel/wink-sdk-java/blob/master/CHANGELOG.md\n\n\n# Analytics API\nWelcome to the Affiliate API - A programmer-friendly way to get insight into platform-level activities and bookings.\n\n","contact":{"name":"Bjorn Harvold","email":"bjorn@wink.travel"},"version":"30.17.8","x-logo":{"backgroundColor":"#FFFFFF","altText":"wink","url":"https://res.cloudinary.com/traveliko/image/upload/c_scale,h_129/v1653285543/wink/logo_text_white.svg"}},"externalDocs":{"description":"Analytics Documentation","url":"https://wink.travel/docs/user-settings/insight/"},"servers":[{"url":"https://api.wink.travel","description":"Endpoint"}],"tags":[{"name":"Analytics","description":"Create and track the analytics data sets you created and find interesting."},{"name":"Leaderboard","description":"See how affiliates are performing through the reactive."}],"paths":{"/api/analytics/chart/{chartIdentifier}":{"get":{"tags":["Analytics"],"summary":"Show Chart","description":"Displays a single chart request by identifier.","operationId":"showChartRequest","parameters":[{"name":"chartIdentifier","in":"path","description":"Chart identifier","required":true,"schema":{"type":"string"},"example":"chart-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Chart_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"put":{"tags":["Analytics"],"summary":"Update Chart","description":"Updates an existing chart request by identifier.","operationId":"updateChartRequest","parameters":[{"name":"chartIdentifier","in":"path","description":"Chart identifier","required":true,"schema":{"type":"string"},"example":"chart-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertChartRequest_Authenticated_Entity"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Chart_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Analytics"],"summary":"Remove Chart","description":"Remove chart request for specific identifier.","operationId":"removeChartRequest","parameters":[{"name":"chartIdentifier","in":"path","description":"Chart identifier","required":true,"schema":{"type":"string"},"example":"chart-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveEntryResponse_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/analytics/leaderboard":{"post":{"tags":["Leaderboard"],"summary":"Show Leaderboard by Affiliate ","description":"Show leaderboard for a specific affiliate.","operationId":"showLeaderboardByOwner","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LeaderboardOwnerRequest_Non_Authenticated_Entity"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingLeaderboardEntry_Non_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/analytics/leaderboard/list":{"post":{"tags":["Leaderboard"],"summary":"Show Leaderboard by Region","description":"Show leaderboard based on location type such as continent.","operationId":"showLeaderboard","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LeaderboardRequest_Non_Authenticated_Entity"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageBookingLeaderboardEntry_Non_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/analytics/grid":{"post":{"tags":["Analytics"],"summary":"Show Analytics Grid","description":"Show paginated analytics.","operationId":"showAnalyticsGrid","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/State_Non_Authenticated_Entity"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageLineChart_Non_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/analytics/chart":{"post":{"tags":["Analytics"],"summary":"Create Chart","description":"Creates a new chart request.","operationId":"createChartRequest","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertChartRequest_Authenticated_Entity"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Chart_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/analytics/list":{"get":{"tags":["Analytics"],"summary":"Show Analytics","description":"Show analytics.","operationId":"showAnalyticsList","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LineChart_Non_Authenticated_Entity"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/analytics/chart/list":{"get":{"tags":["Analytics"],"summary":"Show Charts","description":"Displays all charts for caller.","operationId":"showChartRequests","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Chart_Authenticated_Entity"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}}},"components":{"schemas":{"GenericErrorMessage":{"type":"object","description":"Generic error message","properties":{"timestamp":{"type":"string","xml":{"attribute":true}},"status":{"type":"integer","format":"int32","xml":{"attribute":true}},"error":{"type":"string"},"message":{"type":"string"},"path":{"type":"string"}},"xml":{"name":"ErrorMessage"}},"ChartDetails_Authenticated_Entity":{"type":"object","description":"Chart properties allow you to choose how to visualize available data points. Choose how you want to: \n\n- filter your data \n- sort your data \n- group your data \n- include data in your data sets \n- display currency amounts","properties":{"series":{"type":"string","description":"The time series to visualize","enum":["HOUR","DAY","MONTH","YEAR"],"example":"HOUR"},"timeSeriesUnits":{"type":"integer","format":"int64","description":"How many units of the time series type to visualize. Only required if start / end date not populated.","example":24},"startDate":{"type":"string","format":"date-time","description":"Fixed date to start visualizations on","example":"2017-12-22T03:07:58.742+0000"},"endDate":{"type":"string","format":"date-time","description":"Fixed date to end visualizations on","example":"2017-12-23T03:07:58.742+0000"},"filterOnHotelIdentifier":{"$ref":"#/components/schemas/KeyValuePair_Authenticated_Entity","description":"Filter on hotel identifier"},"filterOnChannelSubType":{"type":"string","description":"Filter on channel sub type. What channel sub-type helped make the booking.","enum":["DIRECT","APPLICATION","HOTEL","TRAVELIKO","CORPORATE","TRAVEL_AGENT","INFLUENCER","BLOGGER","DESTINATION","CHANNEL_MANAGER","PROPERTY_MANAGEMENT_SYSTEM","CENTRAL_RESERVATION_SYSTEM","GOOGLE_HOTEL_API","MANAGEMENT_COMPANY","CHAIN","BRAND","EVENT_ORGANIZER"],"example":"APPLICATION"},"filterOnOwnerIdentifier":{"$ref":"#/components/schemas/KeyValuePair_Authenticated_Entity","description":"Filter on seller identifier. What affiliate helped make this booking."},"filterOnEngineCountryGeoNameId":{"$ref":"#/components/schemas/KeyValuePair_Authenticated_Entity","description":"Filter on customization country geoNameId. Which country is this application from."},"filterOnEngineCityGeoNameId":{"$ref":"#/components/schemas/KeyValuePair_Authenticated_Entity","description":"Filter on city geoNameId. Which city is this application from."},"filterOnEngineContinentCode":{"$ref":"#/components/schemas/KeyValuePair_Authenticated_Entity","description":"Filter on continent. Which city is this application from."},"filterOnEngineConfigurationIdentifier":{"$ref":"#/components/schemas/KeyValuePair_Authenticated_Entity","description":"Filter on customization. Which customization made this booking."},"filterOnCountryGeoNameId":{"$ref":"#/components/schemas/KeyValuePair_Authenticated_Entity","description":"Filter on country geoNameId. Which country is the traveler from."},"filterOnCityGeoNameId":{"$ref":"#/components/schemas/KeyValuePair_Authenticated_Entity","description":"Filter on city geoNameId. Which city is the traveler from."},"filterOnContinentCode":{"$ref":"#/components/schemas/KeyValuePair_Authenticated_Entity","description":"Filter on continent. Which continent is the traveler from."},"filterOnUserIdentifier":{"$ref":"#/components/schemas/KeyValuePair_Authenticated_Entity","description":"Filter on user identifier. Which authenticated user made the booking."},"sortOnPageVisits":{"type":"boolean","default":false,"description":"Sort on page visits","example":true},"sortOnMapMarkerVisits":{"type":"boolean","default":false,"description":"Sort on map marker visits","example":false},"sortOnCardVisits":{"type":"boolean","default":false,"description":"Sort on card visits","example":false},"sortOnBookings":{"type":"boolean","default":false,"description":"Sort on bookings","example":false},"sortOnCancellations":{"type":"boolean","default":false,"description":"Sort on cancellations","example":false},"sortOnRoomNights":{"type":"boolean","default":false,"description":"Sort on room nights","example":false},"sortOnMeetingRooms":{"type":"boolean","default":false,"description":"Sort on meeting rooms","example":false},"sortOnMeetingRoomsRevenue":{"type":"boolean","default":false,"description":"Sort on meeting rooms revenue","example":false},"sortOnRestaurants":{"type":"boolean","default":false,"description":"Sort on restaurants","example":false},"sortOnRestaurantsRevenue":{"type":"boolean","default":false,"description":"Sort on restaurants revenue","example":false},"sortOnSpas":{"type":"boolean","default":false,"description":"Sort on spas","example":false},"sortOnSpasRevenue":{"type":"boolean","default":false,"description":"Sort on spas revenue","example":false},"sortOnActivities":{"type":"boolean","default":false,"description":"Sort on activities","example":false},"sortOnActivitiesRevenue":{"type":"boolean","default":false,"description":"Sort on activities revenue","example":false},"sortOnAttractions":{"type":"boolean","default":false,"description":"Sort on attractions","example":false},"sortOnAttractionsRevenue":{"type":"boolean","default":false,"description":"Sort on attractions revenue","example":false},"sortOnPlaces":{"type":"boolean","default":false,"description":"Sort on places","example":false},"sortOnPlacesRevenue":{"type":"boolean","default":false,"description":"Sort on places revenue","example":false},"sortOnRoomTypeAncillaries":{"type":"boolean","default":false,"description":"Sort on room type ancillaries","example":false},"sortOnRoomTypeAncillariesRevenue":{"type":"boolean","default":false,"description":"Sort on room type ancillaries revenue","example":false},"sortOnAddOns":{"type":"boolean","default":false,"description":"Sort on add-ons","example":false},"sortOnAddonsRevenue":{"type":"boolean","default":false,"description":"Sort on add-on revenue","example":false},"sortOnTotalRoomRevenue":{"type":"boolean","default":false,"description":"Sort on total room revenue","example":false},"sortOnTotalAncillariesRevenue":{"type":"boolean","default":false,"description":"Sort on aggregate ancillaries revenue","example":false},"sortOnTotalNetRevenue":{"type":"boolean","default":false,"description":"Sort on total net revenue","example":false},"sortOnCancelledRoomNights":{"type":"boolean","default":false,"description":"Sort on cancelled room nights","example":false},"sortOnCancelledMeetingRooms":{"type":"boolean","default":false,"description":"Sort on cancelled meeting rooms","example":false},"sortOnCancelledMeetingRoomsRevenue":{"type":"boolean","default":false,"description":"Sort on cancelled meeting rooms revenue","example":false},"sortOnCancelledRestaurants":{"type":"boolean","default":false,"description":"Sort on cancelled restaurants","example":false},"sortOnCancelledRestaurantsRevenue":{"type":"boolean","default":false,"description":"Sort on cancelled restaurants revenue","example":false},"sortOnCancelledSpas":{"type":"boolean","default":false,"description":"Sort on cancelled spas","example":false},"sortOnCancelledSpasRevenue":{"type":"boolean","default":false,"description":"Sort on cancelled spas revenue","example":false},"sortOnCancelledActivities":{"type":"boolean","default":false,"description":"Sort on cancelled activities","example":false},"sortOnCancelledActivitiesRevenue":{"type":"boolean","default":false,"description":"Sort on cancelled activities revenue","example":false},"sortOnCancelledAttractions":{"type":"boolean","default":false,"description":"Sort on cancelled attractions","example":false},"sortOnCancelledAttractionsRevenue":{"type":"boolean","default":false,"description":"Sort on cancelled attractions revenue","example":false},"sortOnCancelledPlaces":{"type":"boolean","default":false,"description":"Sort on cancelled places","example":false},"sortOnCancelledPlacesRevenue":{"type":"boolean","default":false,"description":"Sort on cancelled places revenue","example":false},"sortOnCancelledTotalRoomRevenue":{"type":"boolean","default":false,"description":"Sort on cancelled total room revenue","example":false},"sortOnCancelledTotalAncillariesRevenue":{"type":"boolean","default":false,"description":"Sort on cancelled aggregate total ancillaries revenue","example":false},"sortOnCancelledRoomTypeAncillaries":{"type":"boolean","default":false,"description":"Sort on cancelled room type ancillaries","example":false},"sortOnCancelledRoomTypeAncillariesRevenue":{"type":"boolean","default":false,"description":"Sort on cancelled room type ancillaries revenue","example":false},"sortOnCancelledAddOns":{"type":"boolean","default":false,"description":"Sort on cancelled add-ons","example":false},"sortOnCancelledAddonsRevenue":{"type":"boolean","default":false,"description":"Sort on cancelled add-o revenue","example":false},"sortOnCancelledTotalNetRevenue":{"type":"boolean","default":false,"description":"Sort on cancelled total net revenue","example":false},"includePageVisits":{"type":"boolean","default":false,"description":"Include page visits","example":false},"includeMapMarkerVisits":{"type":"boolean","default":false,"description":"Include map marker visits","example":false},"includeCardVisits":{"type":"boolean","default":false,"description":"Include card visits","example":false},"includeBookings":{"type":"boolean","default":false,"description":"Include bookings","example":false},"includeCancellations":{"type":"boolean","default":false,"description":"Include cancellations","example":false},"includeRoomNights":{"type":"boolean","default":false,"description":"Include room nights","example":false},"includeMeetingRooms":{"type":"boolean","default":false,"description":"Include meeting rooms","example":false},"includeMeetingRoomsRevenue":{"type":"boolean","default":false,"description":"Include meeting rooms revenue","example":false},"includeRestaurants":{"type":"boolean","default":false,"description":"Include restaurants","example":false},"includeRestaurantsRevenue":{"type":"boolean","default":false,"description":"Include restaurants revenue","example":false},"includeSpas":{"type":"boolean","default":false,"description":"Include spas","example":false},"includeSpasRevenue":{"type":"boolean","default":false,"description":"Include spas revenue","example":false},"includeActivities":{"type":"boolean","default":false,"description":"Include activities","example":false},"includeActivitiesRevenue":{"type":"boolean","default":false,"description":"Include activities revenue","example":false},"includeAttractions":{"type":"boolean","default":false,"description":"Include attractions","example":false},"includeAttractionsRevenue":{"type":"boolean","default":false,"description":"Include attractions revenue","example":false},"includePlaces":{"type":"boolean","default":false,"description":"Include places","example":false},"includePlacesRevenue":{"type":"boolean","default":false,"description":"Include places revenue","example":false},"includeRoomTypeAncillaries":{"type":"boolean","default":false,"description":"Include room type ancillaries","example":false},"includeRoomTypeAncillariesRevenue":{"type":"boolean","default":false,"description":"Include packages revenue","example":false},"includeAddOns":{"type":"boolean","default":false,"description":"Include add-ons","example":false},"includeAddOnsRevenue":{"type":"boolean","default":false,"description":"Include add-ons revenue","example":false},"includeTotalRoomRevenue":{"type":"boolean","default":false,"description":"Include total room revenue","example":false},"includeAverageRoomRate":{"type":"boolean","default":false,"description":"Include average room rate","example":false},"includeTotalAncillariesRevenue":{"type":"boolean","default":false,"description":"Include combined packages and add-os revenue","example":false},"includeTotalNetRevenue":{"type":"boolean","default":false,"description":"Include total net revenue","example":false},"includeCancelledRoomNights":{"type":"boolean","default":false,"description":"Include cancelled room nights","example":false},"includeCancelledMeetingRooms":{"type":"boolean","default":false,"description":"Include cancelled meeting rooms","example":false},"includeCancelledMeetingRoomsRevenue":{"type":"boolean","default":false,"description":"Include cancelled meeting rooms revenue","example":false},"includeCancelledRestaurants":{"type":"boolean","default":false,"description":"Include cancelled restaurants","example":false},"includeCancelledRestaurantsRevenue":{"type":"boolean","default":false,"description":"Include cancelled restaurants revenue","example":false},"includeCancelledSpas":{"type":"boolean","default":false,"description":"Include cancelled spas","example":false},"includeCancelledSpasRevenue":{"type":"boolean","default":false,"description":"Include cancelled spas revenue","example":false},"includeCancelledActivities":{"type":"boolean","default":false,"description":"Include cancelled activities","example":false},"includeCancelledActivitiesRevenue":{"type":"boolean","default":false,"description":"Include cancelled activities revenue","example":false},"includeCancelledAttractions":{"type":"boolean","default":false,"description":"Include cancelled attractions","example":false},"includeCancelledAttractionsRevenue":{"type":"boolean","default":false,"description":"Include cancelled attractions revenue","example":false},"includeCancelledPlaces":{"type":"boolean","default":false,"description":"Include cancelled places","example":false},"includeCancelledPlacesRevenue":{"type":"boolean","default":false,"description":"Include cancelled places revenue","example":false},"includeCancelledRoomTypeAncillaries":{"type":"boolean","default":false,"description":"Include cancelled packages","example":false},"includeCancelledRoomTypeAncillariesRevenue":{"type":"boolean","default":false,"description":"Include cancelled packages revenue","example":false},"includeCancelledAddOns":{"type":"boolean","default":false,"description":"Include cancelled add-ons","example":false},"includeCancelledAddOnsRevenue":{"type":"boolean","default":false,"description":"Include cancelled add-ons revenue","example":false},"includeCancelledTotalRoomRevenue":{"type":"boolean","default":false,"description":"Include cancelled total room revenue","example":false},"includeCancelledTotalAncillariesRevenue":{"type":"boolean","default":false,"description":"Include combined cancelled package and add-on revenue","example":false},"includeCancelledTotalNetRevenue":{"type":"boolean","default":false,"description":"Include cancelled total net revenue","example":false},"groupOnChannelSubType":{"type":"boolean","default":false,"description":"Group on  channel sub type","example":false},"groupOnOwnerIdentifier":{"type":"boolean","default":false,"description":"Group on owner identifier","example":false},"groupOnEngineCountryGeoNameId":{"type":"boolean","default":false,"description":"Group on application country geoNameId","example":false},"groupOnEngineCityGeoNameId":{"type":"boolean","default":false,"description":"Group on application city geoNameId","example":false},"groupOnEngineContinentCode":{"type":"boolean","default":false,"description":"Group on application continent code","example":false},"groupOnEngineConfigurationIdentifier":{"type":"boolean","default":false,"description":"Group on customization identifier","example":false},"groupOnCountryGeoNameId":{"type":"boolean","default":false,"description":"Group on country geoNameId","example":false},"groupOnCityGeoNameId":{"type":"boolean","default":false,"description":"Group on city geoNameId","example":false},"groupOnContinentCode":{"type":"boolean","default":false,"description":"Group on continent code","example":false},"groupOnHotelIdentifier":{"type":"boolean","default":false,"description":"Group on hotel identifier","example":false},"groupOnUserIdentifier":{"type":"boolean","default":false,"description":"Group on user identifier","example":false},"currencyCode":{"type":"string","default":"USD","description":"Currency code","example":"EUR"}},"required":["series"]},"KeyValuePair_Authenticated_Entity":{"type":"object","properties":{"value":{"type":"string","description":"The value that should be persisted.","example":"id-1","minLength":1},"label":{"type":"string","description":"English readable text of the value.","example":"Readable text label","minLength":1}},"required":["label","value"]},"UpsertChartRequest_Authenticated_Entity":{"type":"object","properties":{"name":{"type":"string","description":"Chart name as named by creator","example":"My First Chart","minLength":1},"sort":{"type":"integer","format":"int32","default":-1,"description":"Sort a list of charts by this sort value.","example":1},"request":{"$ref":"#/components/schemas/ChartDetails_Authenticated_Entity","description":"Chart settings"}},"required":["name","request"]},"Chart_Authenticated_Entity":{"type":"object","properties":{"id":{"type":"string","description":"Document UUID","example":"doc-1"},"createdDate":{"type":"string","format":"date-time","description":"Datetime this record was first created"},"lastUpdate":{"type":"string","format":"date-time","description":"Datetime this record was last updated"},"version":{"type":"integer","format":"int64","description":"Version property that shows how many times this document has been persisted. Document will not persist if the version property is less than current version property in the system. Result in an optimistic locking exception.","example":12},"ownerIdentifier":{"type":"string","format":"uuid","description":"Owner of this chart","example":"owner-1","minLength":1},"name":{"type":"string","description":"Chart name as named by creator","example":"My First Chart","minLength":1},"sort":{"type":"integer","format":"int32","default":-1,"description":"Sort a list of charts by this sort value.","example":1},"details":{"$ref":"#/components/schemas/ChartDetails_Authenticated_Entity","description":"Chart settings"}},"required":["details","name","ownerIdentifier"]},"LeaderboardOwnerRequest_Non_Authenticated_Entity":{"type":"object","properties":{"currencyCode":{"type":"string","default":"USD","description":"Display leaderboard values in this currency","example":"USD","minLength":1},"ownerIdentifier":{"type":"string","format":"uuid","description":"The company you wish to track on a leaderboard","example":"company-1","minLength":1}},"required":["currencyCode","ownerIdentifier"]},"BookingLeaderboardEntry_Non_Authenticated_Entity":{"type":"object","properties":{"ownerIdentifier":{"type":"string"},"ownerName":{"type":"string"},"continent":{"type":"string"},"country":{"type":"string"},"countryGeoNameId":{"type":"string"},"city":{"type":"string"},"cityGeoNameId":{"type":"string"},"bookings":{"type":"integer","format":"int64"},"totalPriceAmount":{"type":"number"},"averageBookingAmount":{"type":"number"},"currencyCode":{"type":"string"}}},"LeaderboardRequest_Non_Authenticated_Entity":{"type":"object","properties":{"page":{"type":"integer","format":"int32","default":0,"description":"Which page to access in the record set","example":0,"minimum":0},"size":{"type":"integer","format":"int32","default":100,"description":"Number of result set to retrieve","example":20,"maximum":100},"currencyCode":{"type":"string","default":"USD","description":"Display leaderboard values in this currency","example":"USD","minLength":1},"type":{"type":"string","default":"GLOBAL","description":"The type of leaderboard to display","enum":["GLOBAL","CONTINENT","COUNTRY","CITY"],"example":"GLOBAL"},"groupingIdentifier":{"type":"string","description":"Can be `continent`, `country.geoNameId` or `city.geoNameId`","example":654321}},"required":["currencyCode","page","size","type"]},"PageBookingLeaderboardEntry_Non_Authenticated_Entity":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/BookingLeaderboardEntry_Non_Authenticated_Entity"}},"number":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject_Non_Authenticated_Entity"},"pageable":{"$ref":"#/components/schemas/PageableObject_Non_Authenticated_Entity"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"PageableObject_Non_Authenticated_Entity":{"type":"object","properties":{"offset":{"type":"integer","format":"int64"},"sort":{"$ref":"#/components/schemas/SortObject_Non_Authenticated_Entity"},"paged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"unpaged":{"type":"boolean"}}},"SortObject_Non_Authenticated_Entity":{"type":"object","properties":{"empty":{"type":"boolean"},"sorted":{"type":"boolean"},"unsorted":{"type":"boolean"}}},"AggregateDescriptor_Non_Authenticated_Entity":{"type":"object","properties":{"field":{"type":"string","description":"Field to run aggregate function on","example":"hotel.bookings"},"aggregate":{"type":"string","description":"Aggregate function","enum":["count","sum","average","min","max"],"example":"count"}}},"CompositeFilterDescriptor_Non_Authenticated_Entity":{"type":"object","properties":{"logic":{"type":"string","description":"Whether to filter inclusively or exclusively","enum":["and","or"],"example":"and"},"filters":{"type":"array","description":"Descriptors used for filtering the result set","items":{"$ref":"#/components/schemas/FilterDescriptor_Non_Authenticated_Entity"}}}},"FilterDescriptor_Non_Authenticated_Entity":{"type":"object","properties":{"field":{"type":"string","description":"Field name to filter on","example":"hotel.name","minLength":1},"operator":{"type":"string","description":"Filter operator to use on field","enum":["neq","eq","contains","doesnotcontain","isnull","isnotnull","isempty","isnotempty","startswith","endswith","gte","lte","gt","lt","in","nin"],"example":"startsWith"},"value":{"description":"Value to filter dataset against","example":"Happy Res"},"ignoreCase":{"type":"boolean","description":"Make filter comparison case insensitive. Default: Case sensitive ","example":true}},"required":["field","operator","value"]},"GroupDescriptor_Non_Authenticated_Entity":{"type":"object","properties":{"field":{"type":"string","description":"Field to group data set on","example":"createdDate"},"dir":{"type":"string","description":"Group sort direction","enum":["asc","desc"],"example":"asc"},"aggregates":{"type":"array","description":"Primitive aggregate data points","items":{"$ref":"#/components/schemas/AggregateDescriptor_Non_Authenticated_Entity"}}}},"SortDescriptor_Non_Authenticated_Entity":{"type":"object","properties":{"dir":{"type":"string","description":"Descriptors used for sorting result set","enum":["asc","desc"],"example":"asc"},"field":{"type":"string","description":"Data set field to sort on","example":"hotel.name"}}},"State_Non_Authenticated_Entity":{"type":"object","properties":{"skip":{"type":"integer","format":"int32","default":0,"description":"Number of records to be skipped by the pager.","example":0,"minimum":0},"take":{"type":"integer","format":"int32","default":30,"description":"Number of records to take.","example":10,"maximum":180,"minimum":1},"sort":{"type":"array","description":"Descriptors used for sorting result set.","items":{"$ref":"#/components/schemas/SortDescriptor_Non_Authenticated_Entity"}},"filter":{"$ref":"#/components/schemas/CompositeFilterDescriptor_Non_Authenticated_Entity","description":"Descriptors used for filtering result set"},"group":{"type":"array","description":"Descriptors to group result sets by.","items":{"$ref":"#/components/schemas/GroupDescriptor_Non_Authenticated_Entity"}}}},"ChartCategoryAxis_Non_Authenticated_Entity":{"type":"object","properties":{"data":{"type":"array","description":"The category names. The Chart creates a category for every item of the array.","items":{"type":"string"}}}},"ChartLegend_Non_Authenticated_Entity":{"type":"object","properties":{"data":{"type":"array","items":{"description":"Legend data"}}}},"ChartSeries_Non_Authenticated_Entity":{"type":"object","properties":{"name":{"type":"string","description":"The name of the Chart series which is visible in the legend."},"data":{"type":"array","description":"The array of data items which represent the series data.\n\nYou can set it to:\n\n- Array of numbers. Supported when the series.type option is set to `area`, `bar`, `column`, `donut`, `pie`, `line`, or `waterfall`.\nThe Bubble series need arrays of three values—X value, Y value, and Size value—for example, [1, 1, 10]. The Scatter and ScatterLine series need arrays of two values—X value and Y value. The OHLC and Candlestick series need arrays of four values—open, high, low, and close. The RangeBar and RangeArea series need arrays of two values—the from and to value.","items":{"type":"number"}}}},"ChartTitle_Non_Authenticated_Entity":{"type":"object","properties":{"text":{"type":"string"}}},"LineChart_Non_Authenticated_Entity":{"type":"object","properties":{"identifier":{"type":"string","format":"uuid","description":"Unique line chart identifier","example":"line-chart-1"},"title":{"$ref":"#/components/schemas/ChartTitle_Non_Authenticated_Entity","description":"The configuration options for the chart title"},"legend":{"$ref":"#/components/schemas/ChartLegend_Non_Authenticated_Entity","description":"The configuration options for the chart legend."},"series":{"type":"array","description":"The configuration of the chart series. The series type is determined by the value of the type field. If a type value is missing, the chart renders the type that is specified in `seriesDefaults`. Some options accept functions as arguments. These arguments are evaluated for each point which is supplied as a parameter. If no value is returned, the chart uses the `theme` or `seriesDefaults` values.","items":{"$ref":"#/components/schemas/ChartSeries_Non_Authenticated_Entity"}},"xAxis":{"$ref":"#/components/schemas/ChartCategoryAxis_Non_Authenticated_Entity","description":"The configuration options of the category axis.","title":"Category axis"},"xaxis":{"$ref":"#/components/schemas/ChartCategoryAxis_Non_Authenticated_Entity"}}},"PageLineChart_Non_Authenticated_Entity":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/LineChart_Non_Authenticated_Entity"}},"number":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject_Non_Authenticated_Entity"},"pageable":{"$ref":"#/components/schemas/PageableObject_Non_Authenticated_Entity"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"RemoveEntryResponse_Authenticated_Entity":{"type":"object","description":"Response object for when a system document is removed.","properties":{"id":{"type":"string","description":"Identifier of removed document","example":"document-1"},"success":{"type":"boolean","description":"Whether the removal was successful or not.","example":true},"message":{"type":"string","description":"Message with additional information; mostly if the removal request was a failure.","example":"Record successfully removed"}}}},"securitySchemes":{"oauth2ClientCredentials":{"type":"oauth2","description":"## Retrieve access token\nMake a POST (`Content-Type: application/x-www-form-urlencoded`) request to the Token URL below. Include one POST key/value entry: `grant_type=client_credentials` and include your clientID / secretKey credentials in a Basic Auth header. E.g. `Authorization: Basic base64_encode($clientId + ':' + $secretKey)`.\n## Add Bearer access token to all API requests\nOnce you have the access token, you can pass that along on all API requests in the authentication header: `'Authorization: Bearer $accessToken`.\nNote: Tokens expire after 3 hours. Please make sure you refresh your token before that time.","name":"Client Credentials","flows":{"clientCredentials":{"authorizationUrl":"https://iam.wink.travel/oauth2/authorize","tokenUrl":"https://iam.wink.travel/oauth2/token","refreshUrl":"https://iam.wink.travel/oauth2/refresh","scopes":{"inventory.read":"Read Wink data","inventory.write":"Create Wink data","inventory.remove":"Remove Wink data"}}}}}}}