{"openapi":"3.0.1","info":{"title":"Wink API","description":" # Introduction\n Welcome to the Wink API - A programmer-friendly way to manage, sell and book travel inventory on the Wink platform. The API gives you all the tools you need to ready your properties and inventory for sale across 1000s of our native sales channels.\n Integrators, affiliates, travel agents and content creators have the ability search for your travel inventory and promote / sell it in a wide variety of ways.\n\n # Integrations\n We have already integrated with the most well-known channel managers so you don't have to. To see our current integrations, please go to https://extranet.wink.travel and scroll to Connectivity section. Once your properties are set up, you can finish the setup by mapping your property to Wink using your channel manager partner portal. If your properties don't have a channel manager, you can easily manage rates and availability with this API.\n\n # Intended Audience\n Programmers are [most likely] a requirement to start integrating with Wink. Companies and organizations that would most benefit from integrating with us are new and existing travel companies that have relationships with suppliers and that need an advanced system from which to manage their travel inventory and get that same inventory out to as many eyeballs as possible at the lowest price possible.\n - Hotel chains\n - Hotel brands\n - Travel tech companies\n - Destination sites\n - Integrators\n - Aggregators\n - Destination management companies\n - Travel agencies\n - OTAs\n\n ## APIs\n Not every integrator needs every API. For that reason, we have separated APIs into context.\n\n### Test API\n\n - [Ping](/ping): The Ping API is a quick test endpoint to verify that your credentials work Wink.\n\n### Common APIs\n\n- [Notifications](/notifications): The Notifications API is a way for us to stay in touch with your user, property or affiliate account.\n- [User Settings](/user-settings): The User Settings API exposes endpoints to allow 3rd party integrators to communicate with Wink.\n\n### Consume APIs\nConsume endpoints are for developers who want to find existing travel inventory and either book it or use it to advertise through one of their Wink affiliate accounts.\n\n - [Configuration](/engine-client): A single endpoint to retrieve whitelabel + customization information for the booking engine.\n - [Lookup](/lookup): All APIs related to locating inventory by region, locale and property flags.\n - [Inventory](/inventory): All APIs related to retrieve known travel inventory as it was found using the Lookup API..\n - [Booking](/booking): All APIs related to creating bookings on the platform.\n - [Travel Agent](/travel-agent): The Travel Agent API exposes endpoints to manage agent-facilitated bookings.\n\n ### Produce APIs\n Produce endpoints are for developers who want to create and manage travel inventory.\n\n #### Property\n - [Property registration](/extranet/property/register): As a producer, this is, oftentimes, where you start your journey. These endpoints let you create properties on Wink.\n - [Property](/extranet/property): This collection of property endpoints are mostly management endpoints that let you display, change status and similar for your existing properties.\n - [Facilities](/extranet/facilities): This collection of endpoints let you manage facilities; such as room types.\n - [Experiences](/extranet/experiences): This collection of endpoints let you manage experiences, such as activities.\n - [Monetize](/extranet/monetize): The Monetize API exposes endpoints for managing cancellation polies, rate plans, promotions and more on Wink.\n - [Distribution](/extranet/distribution): The Distribution API exposes endpoints for sales channels, connecting with affiliates, managing rates and inventory calendars and more on Wink.\n - [Property Booking](/extranet/booking): The Property Booking API exposes endpoints for managing bookings and reviews at the property-level.\n\n #### Affiliate\n - [Affiliate](/affiliate): This collection of affiliate endpoints are mostly management endpoints that let you display, change status and similar for your existing accounts.\n - [Browse](/affiliate/browse): The Browse API exposes endpoints for affiliates to find suppliers and inventory to sell.\n - [Inventory](/affiliate/inventory): The Inventory API exposes endpoints for affiliates to manage the inventory they want to sell and how they want to sell it.\n - [Sales Channel](/affiliate/sales-channel): The Sales Channel API exposes endpoints for affiliates to manage existing sales channels as well as find new ones.\n - [WinkLinks](/affiliate/winklinks): The WinkLinks API exposes endpoints for affiliates to manage their WinkLinks page.\n\n #### Rate provider\n - [Channel manager](/channel-manager): The Channel Manager API enables external channel manager partners to map, exchange rate / availability information with us as well as be informed of bookings that occur on the Wink platform for one of their properties.\n\n ### Taxonomy APIs\n Taxonomy endpoints are for developers who want to consume and produce travel inventory and need taxonomies of standard and non-standard codes for inventory types, classes, statuses etc.\n\n - [Reference](/reference): All APIs related to retrieving platform-supported taxonomies.\n\n ### Insight APIs\n Insight endpoints do exactly what the name implies - They offer platform-level insight into the activities of producers and consumers.\n\n - [Analytics](/analytics): All APIs related to tracking metrics across a wide variety of data source segments including, more entertaining, leaderboard metrics.\n\n ### Payment APIs\n Payment endpoints are for developers who want to purchase travel inventory. This can be done via the API as a registered Travel Agent or using our API in conjunction with our PCI compliant payment widget for all other entities.\n\n - [TripPay](/payment): All APIs related to TripPay account management, booking, mapping and integration features.\n\n ## SDKs\n We are actively working on supporting the most used languages out there. If you don't see your language here, reach out to us with a request to officially add your language. In the meantime, if you want to roll your own SDK, you can do so by downloading the OpenAPI spec and using one of the many available OpenAPI generators available: [https://openapi-generator.tech/docs/generators](https://openapi-generator.tech/docs/generators).\n\n - Java SDK [https://github.com/wink-travel/wink-sdk-java](https://github.com/wink-travel/wink-sdk-java)\n\n ## Usage\n These features are made available to you via a [REST API](https://en.wikipedia.org/wiki/Representational_state_transfer). This API is language agnostic.\n\n ## Versioning\n We chose to version our endpoints in a way that we hope affects your integration minimally. You request the version of our API you wish to work with via the `Wink-Version` header. When it's time for you to upgrade, you only have to change the version number to get access to our updated endpoints.\n\n ## Release history\n - Follow updates on Github: https://github.com/wink-travel/wink-sdk-java/blob/master/CHANGELOG.md\n\n\n# Analytics API\nWelcome to the Affiliate API - A programmer-friendly way to get insight into platform-level activities and bookings.\n\n","contact":{"name":"Bjorn Harvold","email":"bjorn@wink.travel"},"version":"30.5.13","x-logo":{"backgroundColor":"#FFFFFF","altText":"wink","url":"https://res.cloudinary.com/traveliko/image/upload/c_scale,h_129/v1653285543/wink/logo_text_white.svg"}},"externalDocs":{"description":"Analytics Documentation","url":"https://wink.travel/docs/user-settings/insight/"},"servers":[{"url":"https://api.wink.travel","description":"Endpoint"}],"tags":[{"name":"Leaderboard","description":"See how affiliates are performing through the payment."},{"name":"Analytics","description":"Create and track the analytics data sets you created and find interesting."}],"paths":{"/api/analytics/chart/{chartIdentifier}":{"get":{"tags":["Analytics"],"summary":"Show Chart","description":"Displays a single chart request by identifier.","operationId":"showChartRequest","parameters":[{"name":"chartIdentifier","in":"path","description":"Chart identifier","required":true,"schema":{"type":"string"},"example":"chart-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChartRequestView_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"put":{"tags":["Analytics"],"summary":"Update Chart","description":"Updates an existing chart request by identifier.","operationId":"updateChartRequest","parameters":[{"name":"chartIdentifier","in":"path","description":"Chart identifier","required":true,"schema":{"type":"string"},"example":"chart-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertChartRequestWrapper_Authenticated_Entity"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChartRequestView_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Analytics"],"summary":"Remove Chart","description":"Remove chart request for specific identifier.","operationId":"removeChartRequest","parameters":[{"name":"chartIdentifier","in":"path","description":"Chart identifier","required":true,"schema":{"type":"string"},"example":"chart-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveEntryResponse_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/analytics/leaderboard":{"post":{"tags":["Leaderboard"],"summary":"Show Leaderboard by Affiliate ","description":"Show leaderboard for a specific affiliate.","operationId":"showLeaderboardByOwner","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LeaderboardOwnerRequest_Non_Authenticated_Entity"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingLeaderboardEntry_Non_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/analytics/leaderboard/list":{"post":{"tags":["Leaderboard"],"summary":"Show Leaderboard by Region","description":"Show leaderboard based on location type such as continent.","operationId":"showLeaderboard","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LeaderboardRequest_Non_Authenticated_Entity"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageBookingLeaderboardEntry_Non_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/analytics/grid":{"post":{"tags":["Analytics"],"summary":"Show Analytics Grid","description":"Show paginated analytics.","operationId":"showAnalyticsGrid","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/State_Non_Authenticated_Entity"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageLineChart_Non_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/analytics/chart":{"post":{"tags":["Analytics"],"summary":"Create Chart","description":"Creates a new chart request.","operationId":"createChartRequest","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertChartRequestWrapper_Authenticated_Entity"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChartRequestView_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/analytics/list":{"get":{"tags":["Analytics"],"summary":"Show Analytics","description":"Show analytics.","operationId":"showAnalyticsList","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LineChart_Non_Authenticated_Entity"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/analytics/chart/list":{"get":{"tags":["Analytics"],"summary":"Show Charts","description":"Displays all charts for caller.","operationId":"showChartRequests","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChartRequestView_Authenticated_Entity"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}}},"components":{"schemas":{"GenericErrorMessage":{"type":"object","properties":{"timestamp":{"type":"string","xml":{"attribute":true}},"status":{"type":"integer","format":"int32","xml":{"attribute":true}},"error":{"type":"string"},"message":{"type":"string"},"path":{"type":"string"}},"description":"Generic error message","xml":{"name":"ErrorMessage"}},"ChartRequest_Authenticated_Entity":{"required":["series"],"type":"object","properties":{"series":{"type":"string","description":"The time series to visualize","example":"HOUR","enum":["HOUR","DAY","MONTH","YEAR"]},"timeSeriesUnits":{"type":"integer","description":"How many units of the time series type to visualize. Only required if start / end date not populated.","format":"int64","example":24},"startDate":{"type":"string","description":"Fixed date to start visualizations on","format":"date-time"},"endDate":{"type":"string","description":"Fixed date to end visualizations on","format":"date-time"},"filterOnHotelIdentifier":{"$ref":"#/components/schemas/KeyValuePair_Authenticated_Entity"},"filterOnChannelSubType":{"type":"string","description":"Filter on channel sub type. What channel sub-type helped make the booking.","example":"APPLICATION","enum":["DIRECT","APPLICATION","HOTEL","TRAVELIKO","CORPORATE","TRAVEL_AGENT","INFLUENCER","BLOGGER","DESTINATION","CHANNEL_MANAGER","PROPERTY_MANAGEMENT_SYSTEM","CENTRAL_RESERVATION_SYSTEM","GOOGLE_HOTEL_API","MANAGEMENT_COMPANY","CHAIN","BRAND","EVENT_ORGANIZER"]},"filterOnOwnerIdentifier":{"$ref":"#/components/schemas/KeyValuePair_Authenticated_Entity"},"filterOnEngineCountryGeoNameId":{"$ref":"#/components/schemas/KeyValuePair_Authenticated_Entity"},"filterOnEngineCityGeoNameId":{"$ref":"#/components/schemas/KeyValuePair_Authenticated_Entity"},"filterOnEngineContinentCode":{"$ref":"#/components/schemas/KeyValuePair_Authenticated_Entity"},"filterOnEngineConfigurationIdentifier":{"$ref":"#/components/schemas/KeyValuePair_Authenticated_Entity"},"filterOnCountryGeoNameId":{"$ref":"#/components/schemas/KeyValuePair_Authenticated_Entity"},"filterOnCityGeoNameId":{"$ref":"#/components/schemas/KeyValuePair_Authenticated_Entity"},"filterOnContinentCode":{"$ref":"#/components/schemas/KeyValuePair_Authenticated_Entity"},"filterOnUserIdentifier":{"$ref":"#/components/schemas/KeyValuePair_Authenticated_Entity"},"sortOnPageVisits":{"type":"boolean","description":"Sort on page visits","example":true,"default":false},"sortOnMapMarkerVisits":{"type":"boolean","description":"Sort on map marker visits","example":false,"default":false},"sortOnCardVisits":{"type":"boolean","description":"Sort on card visits","example":false,"default":false},"sortOnBookings":{"type":"boolean","description":"Sort on bookings","example":false,"default":false},"sortOnCancellations":{"type":"boolean","description":"Sort on cancellations","example":false,"default":false},"sortOnRoomNights":{"type":"boolean","description":"Sort on room nights","example":false,"default":false},"sortOnMeetingRooms":{"type":"boolean","description":"Sort on meeting rooms","example":false,"default":false},"sortOnMeetingRoomsRevenue":{"type":"boolean","description":"Sort on meeting rooms revenue","example":false,"default":false},"sortOnRestaurants":{"type":"boolean","description":"Sort on restaurants","example":false,"default":false},"sortOnRestaurantsRevenue":{"type":"boolean","description":"Sort on restaurants revenue","example":false,"default":false},"sortOnSpas":{"type":"boolean","description":"Sort on spas","example":false,"default":false},"sortOnSpasRevenue":{"type":"boolean","description":"Sort on spas revenue","example":false,"default":false},"sortOnActivities":{"type":"boolean","description":"Sort on activities","example":false,"default":false},"sortOnActivitiesRevenue":{"type":"boolean","description":"Sort on activities revenue","example":false,"default":false},"sortOnAttractions":{"type":"boolean","description":"Sort on attractions","example":false,"default":false},"sortOnAttractionsRevenue":{"type":"boolean","description":"Sort on attractions revenue","example":false,"default":false},"sortOnPlaces":{"type":"boolean","description":"Sort on places","example":false,"default":false},"sortOnPlacesRevenue":{"type":"boolean","description":"Sort on places revenue","example":false,"default":false},"sortOnRoomTypeAncillaries":{"type":"boolean","description":"Sort on room type ancillaries","example":false,"default":false},"sortOnRoomTypeAncillariesRevenue":{"type":"boolean","description":"Sort on room type ancillaries revenue","example":false,"default":false},"sortOnAddOns":{"type":"boolean","description":"Sort on add-ons","example":false,"default":false},"sortOnAddonsRevenue":{"type":"boolean","description":"Sort on add-on revenue","example":false,"default":false},"sortOnTotalRoomRevenue":{"type":"boolean","description":"Sort on total room revenue","example":false,"default":false},"sortOnTotalAncillariesRevenue":{"type":"boolean","description":"Sort on aggregate ancillaries revenue","example":false,"default":false},"sortOnTotalNetRevenue":{"type":"boolean","description":"Sort on total net revenue","example":false,"default":false},"sortOnCancelledRoomNights":{"type":"boolean","description":"Sort on cancelled room nights","example":false,"default":false},"sortOnCancelledMeetingRooms":{"type":"boolean","description":"Sort on cancelled meeting rooms","example":false,"default":false},"sortOnCancelledMeetingRoomsRevenue":{"type":"boolean","description":"Sort on cancelled meeting rooms revenue","example":false,"default":false},"sortOnCancelledRestaurants":{"type":"boolean","description":"Sort on cancelled restaurants","example":false,"default":false},"sortOnCancelledRestaurantsRevenue":{"type":"boolean","description":"Sort on cancelled restaurants revenue","example":false,"default":false},"sortOnCancelledSpas":{"type":"boolean","description":"Sort on cancelled spas","example":false,"default":false},"sortOnCancelledSpasRevenue":{"type":"boolean","description":"Sort on cancelled spas revenue","example":false,"default":false},"sortOnCancelledActivities":{"type":"boolean","description":"Sort on cancelled activities","example":false,"default":false},"sortOnCancelledActivitiesRevenue":{"type":"boolean","description":"Sort on cancelled activities revenue","example":false,"default":false},"sortOnCancelledAttractions":{"type":"boolean","description":"Sort on cancelled attractions","example":false,"default":false},"sortOnCancelledAttractionsRevenue":{"type":"boolean","description":"Sort on cancelled attractions revenue","example":false,"default":false},"sortOnCancelledPlaces":{"type":"boolean","description":"Sort on cancelled places","example":false,"default":false},"sortOnCancelledPlacesRevenue":{"type":"boolean","description":"Sort on cancelled places revenue","example":false,"default":false},"sortOnCancelledTotalRoomRevenue":{"type":"boolean","description":"Sort on cancelled total room revenue","example":false,"default":false},"sortOnCancelledTotalAncillariesRevenue":{"type":"boolean","description":"Sort on cancelled aggregate total ancillaries revenue","example":false,"default":false},"sortOnCancelledRoomTypeAncillaries":{"type":"boolean","description":"Sort on cancelled room type ancillaries","example":false,"default":false},"sortOnCancelledRoomTypeAncillariesRevenue":{"type":"boolean","description":"Sort on cancelled room type ancillaries revenue","example":false,"default":false},"sortOnCancelledAddOns":{"type":"boolean","description":"Sort on cancelled add-ons","example":false,"default":false},"sortOnCancelledAddonsRevenue":{"type":"boolean","description":"Sort on cancelled add-o revenue","example":false,"default":false},"sortOnCancelledTotalNetRevenue":{"type":"boolean","description":"Sort on cancelled total net revenue","example":false,"default":false},"includePageVisits":{"type":"boolean","description":"Include page visits","example":false,"default":false},"includeMapMarkerVisits":{"type":"boolean","description":"Include map marker visits","example":false,"default":false},"includeCardVisits":{"type":"boolean","description":"Include card visits","example":false,"default":false},"includeBookings":{"type":"boolean","description":"Include bookings","example":false,"default":false},"includeCancellations":{"type":"boolean","description":"Include cancellations","example":false,"default":false},"includeRoomNights":{"type":"boolean","description":"Include room nights","example":false,"default":false},"includeMeetingRooms":{"type":"boolean","description":"Include meeting rooms","example":false,"default":false},"includeMeetingRoomsRevenue":{"type":"boolean","description":"Include meeting rooms revenue","example":false,"default":false},"includeRestaurants":{"type":"boolean","description":"Include restaurants","example":false,"default":false},"includeRestaurantsRevenue":{"type":"boolean","description":"Include restaurants revenue","example":false,"default":false},"includeSpas":{"type":"boolean","description":"Include spas","example":false,"default":false},"includeSpasRevenue":{"type":"boolean","description":"Include spas revenue","example":false,"default":false},"includeActivities":{"type":"boolean","description":"Include activities","example":false,"default":false},"includeActivitiesRevenue":{"type":"boolean","description":"Include activities revenue","example":false,"default":false},"includeAttractions":{"type":"boolean","description":"Include attractions","example":false,"default":false},"includeAttractionsRevenue":{"type":"boolean","description":"Include attractions revenue","example":false,"default":false},"includePlaces":{"type":"boolean","description":"Include places","example":false,"default":false},"includePlacesRevenue":{"type":"boolean","description":"Include places revenue","example":false,"default":false},"includeRoomTypeAncillaries":{"type":"boolean","description":"Include room type ancillaries","example":false,"default":false},"includeRoomTypeAncillariesRevenue":{"type":"boolean","description":"Include packages revenue","example":false,"default":false},"includeAddOns":{"type":"boolean","description":"Include add-ons","example":false,"default":false},"includeAddOnsRevenue":{"type":"boolean","description":"Include add-ons revenue","example":false,"default":false},"includeTotalRoomRevenue":{"type":"boolean","description":"Include total room revenue","example":false,"default":false},"includeAverageRoomRate":{"type":"boolean","description":"Include average room rate","example":false,"default":false},"includeTotalAncillariesRevenue":{"type":"boolean","description":"Include combined packages and add-os revenue","example":false,"default":false},"includeTotalNetRevenue":{"type":"boolean","description":"Include total net revenue","example":false,"default":false},"includeCancelledRoomNights":{"type":"boolean","description":"Include cancelled room nights","example":false,"default":false},"includeCancelledMeetingRooms":{"type":"boolean","description":"Include cancelled meeting rooms","example":false,"default":false},"includeCancelledMeetingRoomsRevenue":{"type":"boolean","description":"Include cancelled meeting rooms revenue","example":false,"default":false},"includeCancelledRestaurants":{"type":"boolean","description":"Include cancelled restaurants","example":false,"default":false},"includeCancelledRestaurantsRevenue":{"type":"boolean","description":"Include cancelled restaurants revenue","example":false,"default":false},"includeCancelledSpas":{"type":"boolean","description":"Include cancelled spas","example":false,"default":false},"includeCancelledSpasRevenue":{"type":"boolean","description":"Include cancelled spas revenue","example":false,"default":false},"includeCancelledActivities":{"type":"boolean","description":"Include cancelled activities","example":false,"default":false},"includeCancelledActivitiesRevenue":{"type":"boolean","description":"Include cancelled activities revenue","example":false,"default":false},"includeCancelledAttractions":{"type":"boolean","description":"Include cancelled attractions","example":false,"default":false},"includeCancelledAttractionsRevenue":{"type":"boolean","description":"Include cancelled attractions revenue","example":false,"default":false},"includeCancelledPlaces":{"type":"boolean","description":"Include cancelled places","example":false,"default":false},"includeCancelledPlacesRevenue":{"type":"boolean","description":"Include cancelled places revenue","example":false,"default":false},"includeCancelledRoomTypeAncillaries":{"type":"boolean","description":"Include cancelled packages","example":false,"default":false},"includeCancelledRoomTypeAncillariesRevenue":{"type":"boolean","description":"Include cancelled packages revenue","example":false,"default":false},"includeCancelledAddOns":{"type":"boolean","description":"Include cancelled add-ons","example":false,"default":false},"includeCancelledAddOnsRevenue":{"type":"boolean","description":"Include cancelled add-ons revenue","example":false,"default":false},"includeCancelledTotalRoomRevenue":{"type":"boolean","description":"Include cancelled total room revenue","example":false,"default":false},"includeCancelledTotalAncillariesRevenue":{"type":"boolean","description":"Include combined cancelled package and add-on revenue","example":false,"default":false},"includeCancelledTotalNetRevenue":{"type":"boolean","description":"Include cancelled total net revenue","example":false,"default":false},"groupOnChannelSubType":{"type":"boolean","description":"Group on  channel sub type","example":false,"default":false},"groupOnOwnerIdentifier":{"type":"boolean","description":"Group on owner identifier","example":false,"default":false},"groupOnEngineIdentifier":{"type":"boolean","description":"Group on application identifier","example":false,"default":false},"groupOnEngineCountryGeoNameId":{"type":"boolean","description":"Group on application country geoNameId","example":false,"default":false},"groupOnEngineCityGeoNameId":{"type":"boolean","description":"Group on application city geoNameId","example":false,"default":false},"groupOnEngineContinentCode":{"type":"boolean","description":"Group on application continent code","example":false,"default":false},"groupOnEngineConfigurationIdentifier":{"type":"boolean","description":"Group on customization identifier","example":false,"default":false},"groupOnCountryGeoNameId":{"type":"boolean","description":"Group on country geoNameId","example":false,"default":false},"groupOnCityGeoNameId":{"type":"boolean","description":"Group on city geoNameId","example":false,"default":false},"groupOnContinentCode":{"type":"boolean","description":"Group on continent code","example":false,"default":false},"groupOnHotelIdentifier":{"type":"boolean","description":"Group on hotel identifier","example":false,"default":false},"groupOnUserIdentifier":{"type":"boolean","description":"Group on user identifier","example":false,"default":false},"currencyCode":{"type":"string","description":"Currency code","example":"EUR","default":"USD"}},"description":"Chart properties allow you to choose how to visualize available data points. Choose how you want to: \n\n- filter your data \n- sort your data \n- group your data \n- include data in your data sets \n- display currency amounts"},"KeyValuePair_Authenticated_Entity":{"required":["label","value"],"type":"object","properties":{"value":{"type":"string","description":"The value that should be persisted.","example":"id-1"},"label":{"type":"string","description":"English readable text of the value.","example":"Readable text label"}},"description":"Filter on user identifier. Which authenticated user made the booking."},"UpsertChartRequestWrapper_Authenticated_Entity":{"required":["name","request"],"type":"object","properties":{"name":{"type":"string","description":"Chart name as named by creator","example":"My First Chart"},"sort":{"type":"integer","description":"Sort a list of charts by this sort value.","format":"int32","example":1,"default":-1},"request":{"$ref":"#/components/schemas/ChartRequest_Authenticated_Entity"}}},"ChartRequestView_Authenticated_Entity":{"required":["data"],"type":"object","properties":{"id":{"type":"string","description":"Document UUID","example":"doc-1"},"createdDate":{"type":"string","description":"Datetime this record was first created","format":"date-time"},"lastUpdate":{"type":"string","description":"Datetime this record was last updated","format":"date-time"},"version":{"type":"integer","description":"Version property that shows how many times this document has been persisted. Document will not persist if the version property is less than current version property in the system. Result in an optimistic locking exception.","format":"int64","example":12},"data":{"$ref":"#/components/schemas/ChartRequestWrapper_Authenticated_Entity"}}},"ChartRequestWrapper_Authenticated_Entity":{"required":["identifier","name","ownerIdentifier","request"],"type":"object","properties":{"identifier":{"type":"string","description":"Unique record identifier","format":"uuid"},"ownerIdentifier":{"type":"string","description":"Owner of this chart","format":"uuid"},"name":{"type":"string","description":"Chart name as named by creator","example":"My First Chart"},"sort":{"type":"integer","description":"Sort a list of charts by this sort value.","format":"int32","example":1,"default":-1},"request":{"$ref":"#/components/schemas/ChartRequest_Authenticated_Entity"}}},"LeaderboardOwnerRequest_Non_Authenticated_Entity":{"required":["currencyCode","ownerIdentifier"],"type":"object","properties":{"currencyCode":{"type":"string","description":"Display leaderboard values in this currency","example":"USD","default":"USD"},"ownerIdentifier":{"type":"string","description":"The company you wish to track on a leaderboard","format":"uuid"}}},"BookingLeaderboardEntry_Non_Authenticated_Entity":{"type":"object","properties":{"ownerIdentifier":{"type":"string"},"ownerName":{"type":"string"},"continent":{"type":"string"},"country":{"type":"string"},"countryGeoNameId":{"type":"string"},"city":{"type":"string"},"cityGeoNameId":{"type":"string"},"bookings":{"type":"integer","format":"int64"},"totalPriceAmount":{"type":"number"},"averageBookingAmount":{"type":"number"},"currencyCode":{"type":"string"}}},"LeaderboardRequest_Non_Authenticated_Entity":{"required":["currencyCode","page","size","type"],"type":"object","properties":{"page":{"minimum":0,"type":"integer","description":"Which page to access in the record set","format":"int32","example":0,"default":0},"size":{"maximum":100,"type":"integer","description":"Number of result set to retrieve","format":"int32","example":20,"default":100},"currencyCode":{"type":"string","description":"Display leaderboard values in this currency","example":"USD","default":"USD"},"type":{"type":"string","description":"The type of leaderboard to display","example":"GLOBAL","default":"GLOBAL","enum":["GLOBAL","CONTINENT","COUNTRY","CITY"]},"groupingIdentifier":{"type":"string","description":"Can be `continent`, `country.geoNameId` or `city.geoNameId`","example":"654321"}}},"PageBookingLeaderboardEntry_Non_Authenticated_Entity":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/BookingLeaderboardEntry_Non_Authenticated_Entity"}},"number":{"type":"integer","format":"int32"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"first":{"type":"boolean"},"last":{"type":"boolean"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject_Non_Authenticated_Entity"},"empty":{"type":"boolean"}}},"PageableObject_Non_Authenticated_Entity":{"type":"object","properties":{"offset":{"type":"integer","format":"int64"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"paged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"unpaged":{"type":"boolean"}}},"SortObject":{"type":"object","properties":{"direction":{"type":"string"},"nullHandling":{"type":"string"},"ascending":{"type":"boolean"},"property":{"type":"string"},"ignoreCase":{"type":"boolean"}}},"AggregateDescriptor_Non_Authenticated_Entity":{"type":"object","properties":{"field":{"type":"string","description":"Field to run aggregate function on","example":"hotel.bookings"},"aggregate":{"type":"string","description":"Aggregate function","example":"count","enum":["count","sum","average","min","max"]}},"description":"Primitive aggregate data points"},"CompositeFilterDescriptor_Non_Authenticated_Entity":{"type":"object","properties":{"logic":{"type":"string","description":"Whether to filter inclusively or exclusively","example":"and","enum":["and","or"]},"filters":{"type":"array","description":"Descriptors used for filtering the result set","items":{"$ref":"#/components/schemas/FilterDescriptor_Non_Authenticated_Entity"}}},"description":"Descriptors used for filtering result set"},"FilterDescriptor_Non_Authenticated_Entity":{"required":["field","operator","value"],"type":"object","properties":{"field":{"type":"string","description":"Field name to filter on","example":"hotel.name"},"operator":{"type":"string","description":"Filter operator to use on field","example":"startsWith","enum":["neq","eq","contains","doesnotcontain","isnull","isnotnull","isempty","isnotempty","startswith","endswith","gte","lte","gt","lt","in","nin"]},"value":{"type":"object","description":"Value to filter dataset against","example":"Happy Res"},"ignoreCase":{"type":"boolean","description":"Make filter comparison case insensitive. Default: Case sensitive ","example":true}},"description":"Descriptors used for filtering the result set"},"GroupDescriptor_Non_Authenticated_Entity":{"type":"object","properties":{"field":{"type":"string","description":"Field to group data set on","example":"createdDate"},"dir":{"type":"string","description":"Group sort direction","example":"asc","enum":["asc","desc"]},"aggregates":{"type":"array","description":"Primitive aggregate data points","items":{"$ref":"#/components/schemas/AggregateDescriptor_Non_Authenticated_Entity"}}},"description":"Descriptors to group result sets by."},"SortDescriptor_Non_Authenticated_Entity":{"type":"object","properties":{"dir":{"type":"string","description":"Descriptors used for sorting result set","example":"asc","enum":["asc","desc"]},"field":{"type":"string","description":"Data set field to sort on","example":"hotel.name"}},"description":"Descriptors used for sorting result set."},"State_Non_Authenticated_Entity":{"type":"object","properties":{"skip":{"minimum":0,"type":"integer","description":"Number of records to be skipped by the pager.","format":"int32","example":0,"default":0},"take":{"maximum":180,"minimum":1,"type":"integer","description":"Number of records to take.","format":"int32","example":10,"default":30},"sort":{"type":"array","description":"Descriptors used for sorting result set.","items":{"$ref":"#/components/schemas/SortDescriptor_Non_Authenticated_Entity"}},"filter":{"$ref":"#/components/schemas/CompositeFilterDescriptor_Non_Authenticated_Entity"},"group":{"type":"array","description":"Descriptors to group result sets by.","items":{"$ref":"#/components/schemas/GroupDescriptor_Non_Authenticated_Entity"}}}},"AutoBaseUnitSteps_Non_Authenticated_Entity":{"type":"object","properties":{"milliseconds":{"type":"number"},"seconds":{"type":"number"},"minutes":{"type":"number"},"hours":{"type":"number"},"days":{"type":"number"},"weeks":{"type":"number"},"months":{"type":"number"},"years":{"type":"number"}},"description":"The time-interval steps when `baseUnit` is set either to `fit` or `auto`. The axis will try to divide the active period into the smallest possible units that yield `maxDateGroups` or less discrete intervals."},"AxisLine_Non_Authenticated_Entity":{"type":"object","properties":{"color":{"type":"string"},"dashType":{"type":"string","enum":["dash","dashDot","dot","longDash","longDashDot","longDashDotDot","solid"]},"visible":{"type":"boolean"},"width":{"type":"number"}},"description":"The configuration of the axis lines. Also affects the major and minor ticks, but not the grid lines."},"AxisTicks_Non_Authenticated_Entity":{"title":"Minor ticks","type":"object","properties":{"color":{"type":"string"},"size":{"type":"number"},"step":{"type":"number"},"skip":{"type":"number"},"visible":{"type":"boolean"},"width":{"type":"number"}},"description":"The configuration of the category axis minor ticks."},"Border_Non_Authenticated_Entity":{"type":"object","properties":{"color":{"type":"string"},"dashType":{"type":"string","enum":["dash","dashDot","dot","longDash","longDashDot","longDashDotDot","solid"]},"width":{"type":"number"}}},"CategoryAxisCrosshairTooltip_Non_Authenticated_Entity":{"type":"object","properties":{"background":{"type":"string"},"border":{"$ref":"#/components/schemas/Border_Non_Authenticated_Entity"},"color":{"type":"string"},"font":{"type":"string"},"format":{"type":"string"},"padding":{"$ref":"#/components/schemas/Padding_Non_Authenticated_Entity"},"visible":{"type":"boolean"}}},"CategoryAxisCrosshair_Non_Authenticated_Entity":{"title":"Crosshair","type":"object","properties":{"color":{"type":"string"},"dashType":{"type":"string","enum":["dash","dashDot","dot","longDash","longDashDot","longDashDotDot","solid"]},"opacity":{"type":"number"},"visible":{"type":"boolean"},"width":{"type":"number"},"tooltip":{"$ref":"#/components/schemas/CategoryAxisCrosshairTooltip_Non_Authenticated_Entity"}},"description":"The configuration options of the crosshair. The crosshair is displayed when the `categoryAxis.crosshair.visible` option is set to `true`."},"CategoryAxisNotesIcon_Non_Authenticated_Entity":{"type":"object","properties":{"background":{"type":"string"},"border":{"$ref":"#/components/schemas/Border_Non_Authenticated_Entity"},"size":{"type":"number"},"type":{"type":"string","enum":["square","circle","triangle","cross"]},"visible":{"type":"boolean"}}},"CategoryAxisNotesLabel_Non_Authenticated_Entity":{"type":"object","properties":{"background":{"type":"string"},"border":{"$ref":"#/components/schemas/Border_Non_Authenticated_Entity"},"color":{"type":"string"},"font":{"type":"string"},"format":{"type":"string"},"position":{"type":"string","enum":["inside","outside"]},"rotation":{"type":"number"},"visible":{"type":"boolean"}}},"CategoryAxisNotes_Non_Authenticated_Entity":{"title":"Notes","type":"object","properties":{"data":{"type":"array","items":{"type":"object"}},"line":{"$ref":"#/components/schemas/NoteLine_Non_Authenticated_Entity"},"position":{"type":"string","enum":["top","bottom","left","right"]},"icon":{"$ref":"#/components/schemas/CategoryAxisNotesIcon_Non_Authenticated_Entity"},"label":{"$ref":"#/components/schemas/CategoryAxisNotesLabel_Non_Authenticated_Entity"}},"description":"The configuration of the category axis notes."},"CategoryAxisSelect_Non_Authenticated_Entity":{"title":"Select","type":"object","properties":{"from":{"type":"object"},"max":{"type":"object"},"min":{"type":"object"},"mousewheel":{"type":"object"},"to":{"type":"object"}},"description":"The selected axis range. If set, the axis selection is enabled. The range is index-based, starting from zero. Categories with indexes in the range (`select.from`, `select.to`) will be selected. That is, the last category in the range will not be included in the selection. If the categories are dates, the range has to be also specified with date values. Selection is only supported if the axis is horizontal."},"CategoryAxisTitle_Non_Authenticated_Entity":{"title":"Title","type":"object","properties":{"background":{"type":"string"},"border":{"$ref":"#/components/schemas/Border_Non_Authenticated_Entity"},"color":{"type":"string"},"font":{"type":"string"},"margin":{"$ref":"#/components/schemas/Margin_Non_Authenticated_Entity"},"padding":{"$ref":"#/components/schemas/Padding_Non_Authenticated_Entity"},"position":{"type":"string","enum":["top","bottom","left","right","center"]},"rotation":{"type":"number"},"text":{"type":"string"},"visible":{"type":"boolean"}},"description":"Title of axis"},"ChartCategoryAxisLabels_Non_Authenticated_Entity":{"title":"Labels","type":"object","properties":{"rotation":{"type":"string"}},"description":"The configuration of the axis labels."},"ChartCategoryAxisMajorGridLines_Non_Authenticated_Entity":{"title":"Major grid lines","type":"object","properties":{"visible":{"type":"boolean"}},"description":"The configuration of the major grid lines. These are the lines that are an extension of the major ticks through the body of the Chart."},"ChartCategoryAxis_Non_Authenticated_Entity":{"title":"Category axis","type":"object","properties":{"autoBaseUnitSteps":{"$ref":"#/components/schemas/AutoBaseUnitSteps_Non_Authenticated_Entity"},"axisCrossingValue":{"type":"array","description":"The category index or the date (for date category axis) at which the first value axis crosses this axis. The category indices or the date (for date category axis) at which the value axes cross the category axis (when set as an array). To denote the far end of the axis, set an index greater than or equal to the Number of categories.","items":{"type":"object","description":"The category index or the date (for date category axis) at which the first value axis crosses this axis. The category indices or the date (for date category axis) at which the value axes cross the category axis (when set as an array). To denote the far end of the axis, set an index greater than or equal to the Number of categories."}},"background":{"type":"string","description":"The background color of the axis."},"baseUnit":{"type":"string","description":"The base time interval for the date axis. The default base unit is automatically determined by the minimum difference between subsequent categories. The supported values are: \n\n- `fit`\n- `milliseconds`\n- `seconds`\n- `minutes`\n- `hours`\n- `days`\n- `weeks`\n- `months`\n- `years`\nSetting `baseUnit` to `fit` sets such a base unit and `categoryAxis.baseUnitStep` that the total Number of categories does not exceed `categoryAxis.maxDateGroups`. Series data is aggregated for the specified base unit by using the `series.aggregate` function.","enum":["milliseconds","seconds","minutes","hours","days","weeks","months","years","auto","fit"]},"baseUnitStep":{"type":"number","description":"The step (interval) between the categories in base units. Setting it to `auto` sets the step to such a value that the total Number of categories does not exceed `categoryAxis.maxDateGroups`. The option is ignored if `categoryAxis.baseUnit` is set to `fit`."},"categories":{"type":"array","description":"The category names. The Chart creates a category for every item of the array.","items":{"type":"string","description":"The category names. The Chart creates a category for every item of the array."}},"color":{"type":"string","description":"The color to apply to all axis elements. Accepts a valid CSS color String, including hex and rgb. Can be overridden by `categoryAxis.labels.color` and `categoryAxis.line.color`."},"justified":{"type":"boolean","description":"If set to `true`, the Chart positions categories and series points on major ticks. This removes the empty space before and after the series. The default value is `false` except for `area`, `verticalArea`, `rangeArea`, and `verticalRangeArea`. The option is ignored if the `series.type` option is set to `bar`, `column`, `boxPlot`, `ohlc`, `candlestick`, or `waterfall`."},"line":{"$ref":"#/components/schemas/AxisLine_Non_Authenticated_Entity"},"majorGridLines":{"$ref":"#/components/schemas/ChartCategoryAxisMajorGridLines_Non_Authenticated_Entity"},"majorTicks":{"$ref":"#/components/schemas/AxisTicks_Non_Authenticated_Entity"},"max":{"title":"Max","type":"string","description":"The last date displayed on a date category axis or the index of the last category displayed on a category axis. By default, the max value is the same as the last category. This is often used in combination with the `categoryAxis.min` and `categoryAxis.roundToBaseUnit` options to set up a fixed date range.","format":"date-time"},"maxDateGroups":{"title":"Max date groups","type":"number","description":"The maximum Number of groups (categories) to display when `categoryAxis.baseUnit` is set to `fit` or `categoryAxis.baseUnitStep` is set to `auto`."},"maxDivisions":{"title":"Max divisions","type":"number","description":"The maximum Number of ticks and labels to display. Applicabable for date category axis."},"min":{"title":"Min","type":"string","description":"The first date which is displayed on a date category axis or the index of the first category whcih is displayed on a category axis. By default, the min value is the same as the first category. This is often used in combination with the `categoryAxis.max` and `categoryAxis.roundToBaseUnit` options to set up a fixed date range.","format":"date-time"},"minorGridLines":{"$ref":"#/components/schemas/GridLines_Non_Authenticated_Entity"},"minorTicks":{"$ref":"#/components/schemas/AxisTicks_Non_Authenticated_Entity"},"name":{"title":"Name","type":"string","description":"The unique axis name. Used to associate a series with a category axis, which utilizes the `series.categoryAxis` option."},"pane":{"title":"Pane","type":"string","description":"The name of the pane in which the category axis has to be rendered. If not set, the axis will be rendered in the first (default) pane."},"plotBands":{"title":"Plot bands","type":"array","description":"The plot bands of the category axis.","items":{"$ref":"#/components/schemas/PlotBand_Non_Authenticated_Entity"}},"reverse":{"title":"Reverse","type":"boolean","description":"If set to `true`, the category axis direction is reversed. By default, categories are listed from left to right and from bottom to top."},"roundToBaseUnit":{"title":"Round to base unit","type":"boolean","description":"If set to `true`, the Chart rounds the first and last date to the nearest base unit."},"startAngle":{"title":"Start angle","type":"number","description":"The angle (degrees) of the first category on the axis. Angles increase clockwise with zero to the left. Negative values are acceptable."},"type":{"title":"Type","type":"string","description":"The category axis type. The supported values are:\n\n- `category` Discrete category axis.- `date`\n Specialized axis for displaying chronological data.","enum":["category","date"]},"weekStartDay":{"title":"Week start day","type":"string","description":"The week start day when the `baseUnit` is set to `weeks`.","enum":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]},"crosshair":{"$ref":"#/components/schemas/CategoryAxisCrosshair_Non_Authenticated_Entity"},"labels":{"$ref":"#/components/schemas/ChartCategoryAxisLabels_Non_Authenticated_Entity"},"notes":{"$ref":"#/components/schemas/CategoryAxisNotes_Non_Authenticated_Entity"},"select":{"$ref":"#/components/schemas/CategoryAxisSelect_Non_Authenticated_Entity"},"title":{"$ref":"#/components/schemas/CategoryAxisTitle_Non_Authenticated_Entity"},"visible":{"title":"Visible","type":"boolean","description":"If set to `true`, the Chart displays the category axis. By default, the category axis is visible."}},"description":"The configuration options of the category axis."},"ChartLegend_Non_Authenticated_Entity":{"type":"object","properties":{"position":{"type":"string","description":"top | bottom | left | right"}},"description":"The configuration options for the chart legend."},"ChartSeriesDefaults_Non_Authenticated_Entity":{"type":"object","properties":{"type":{"type":"string","description":"The default type of the series.\n\nThe supported values are:\n\n- area\n- bar\n- bubble\n- bullet\n- candlestick\n- column\n- donut\n- funnel\n- line\n- ohlc\n- pie\n- polarArea\n- polarLine\n- polarScatter\n- radarArea\n- radarColumn\n- radarLine\n- rangeArea\n- rangeBar\n- rangeColumn\n- scatter\n- scatterLine\n- verticalArea\n- verticalBullet\n- verticalLine\n- verticalRangeArea\n- waterfall"}},"description":"The default options of all series."},"ChartSeries_Non_Authenticated_Entity":{"type":"object","properties":{"name":{"type":"string","description":"The name of the Chart series which is visible in the legend."},"data":{"type":"array","description":"The array of data items which represent the series data.\n\nYou can set it to:\n\n- Array of numbers. Supported when the series.type option is set to `area`, `bar`, `column`, `donut`, `pie`, `line`, or `waterfall`.\nThe Bubble series need arrays of three values—X value, Y value, and Size value—for example, [1, 1, 10]. The Scatter and ScatterLine series need arrays of two values—X value and Y value. The OHLC and Candlestick series need arrays of four values—open, high, low, and close. The RangeBar and RangeArea series need arrays of two values—the from and to value.","items":{"type":"number","description":"The array of data items which represent the series data.\n\nYou can set it to:\n\n- Array of numbers. Supported when the series.type option is set to `area`, `bar`, `column`, `donut`, `pie`, `line`, or `waterfall`.\nThe Bubble series need arrays of three values—X value, Y value, and Size value—for example, [1, 1, 10]. The Scatter and ScatterLine series need arrays of two values—X value and Y value. The OHLC and Candlestick series need arrays of four values—open, high, low, and close. The RangeBar and RangeArea series need arrays of two values—the from and to value."}}},"description":"The configuration of the chart series. The series type is determined by the value of the type field. If a type value is missing, the chart renders the type that is specified in `seriesDefaults`. Some options accept functions as arguments. These arguments are evaluated for each point which is supplied as a parameter. If no value is returned, the chart uses the `theme` or `seriesDefaults` values."},"ChartTitle_Non_Authenticated_Entity":{"type":"object","properties":{"text":{"type":"string"}},"description":"The configuration options for the chart title"},"ChartTooltip_Non_Authenticated_Entity":{"title":"Tool tip","type":"object","properties":{"visible":{"type":"boolean","description":"If set to `true`, the Chart displays the series tooltip. By default, the series tooltip is not displayed."},"format":{"type":"string","description":"The format of the labels. Uses the format method of IntlService. The available format placeholders are:\n\n- Area, Bar, Column, Funnel, Line, and Pie {0} - value\n- Bubble {0} - x value{1} - y value{2} - size value{3} - category name\n- Scatter and scatterLine {0} - x value{1} - y value\n- Candlestick and OHLC {0} - open value{1} - high value{2} - low value{3} - close value{4} - category name"}},"description":"The configuration options of the Chart series tooltips. The tooltip of the Chart series is displayed when the `tooltip.visible` option is set to `true`."},"ChartValueAxisLabels_Non_Authenticated_Entity":{"type":"object","properties":{"format":{"type":"string","description":"The format for displaying the labels. Uses the format method of IntlService. Contains one placeholder (`{0}`) which represents the category value."}},"description":"The axis labels configuration."},"ChartValueAxisLine_Non_Authenticated_Entity":{"type":"object","properties":{"visible":{"type":"boolean","description":"If set to true, the Chart displays the axis lines. By default, the axis lines are visible."}},"description":"The configuration of the axis lines. Also affects the major and minor ticks, but not the grid lines."},"ChartValueAxis_Non_Authenticated_Entity":{"title":"Value axis","type":"object","properties":{"labels":{"$ref":"#/components/schemas/ChartValueAxisLabels_Non_Authenticated_Entity"},"line":{"$ref":"#/components/schemas/ChartValueAxisLine_Non_Authenticated_Entity"},"axisCrossingValue":{"type":"integer","description":"- (Only for objects) The value at which the category axis crosses this axis.\n- (Only for arrays) The value indices at which the category axes cross the value axis.\n- (Only for dates) The date at which the category axis crosses this axis.","format":"int32"},"majorUnit":{"type":"number","description":"The interval between major divisions. If `valueAxis.type` is set to `log`, the majorUnit value is used for the base of the logarithm.","format":"float"}},"description":"The configuration options of the value axis."},"GridLines_Non_Authenticated_Entity":{"title":"Minor grid lines","type":"object","properties":{"color":{"type":"string"},"dashType":{"type":"string","enum":["dash","dashDot","dot","longDash","longDashDot","longDashDotDot","solid"]},"skip":{"type":"number"},"step":{"type":"number"},"visible":{"type":"boolean"},"width":{"type":"number"}},"description":"The configuration of the minor grid lines. These are the lines that are an extension of the minor ticks through the body of the Chart."},"LineChart_Non_Authenticated_Entity":{"type":"object","properties":{"identifier":{"type":"string","description":"Unique line chart identifier","format":"uuid"},"title":{"$ref":"#/components/schemas/ChartTitle_Non_Authenticated_Entity"},"legend":{"$ref":"#/components/schemas/ChartLegend_Non_Authenticated_Entity"},"seriesDefaults":{"$ref":"#/components/schemas/ChartSeriesDefaults_Non_Authenticated_Entity"},"series":{"type":"array","description":"The configuration of the chart series. The series type is determined by the value of the type field. If a type value is missing, the chart renders the type that is specified in `seriesDefaults`. Some options accept functions as arguments. These arguments are evaluated for each point which is supplied as a parameter. If no value is returned, the chart uses the `theme` or `seriesDefaults` values.","items":{"$ref":"#/components/schemas/ChartSeries_Non_Authenticated_Entity"}},"valueAxis":{"$ref":"#/components/schemas/ChartValueAxis_Non_Authenticated_Entity"},"categoryAxis":{"$ref":"#/components/schemas/ChartCategoryAxis_Non_Authenticated_Entity"},"tooltip":{"$ref":"#/components/schemas/ChartTooltip_Non_Authenticated_Entity"},"renderAs":{"title":"Render as","type":"string","description":"Sets the preferred rendering engine. If not supported by the browser, the Chart switches to the first available mode.\n\nThe supported values are:\n\n- svg (If available, renders the component as an inline .svg file.)- canvas (If available, renders the component as a canvas element.)"},"transitions":{"title":"Transitions","type":"boolean","description":"If set to `true`, the Chart plays animations when it displays the series. By default, animations are enabled."}}},"Margin_Non_Authenticated_Entity":{"type":"object","properties":{"top":{"type":"number"},"right":{"type":"number"},"bottom":{"type":"number"},"left":{"type":"number"}}},"NoteLine_Non_Authenticated_Entity":{"type":"object","properties":{"color":{"type":"string"},"dashType":{"type":"string","enum":["dash","dashDot","dot","longDash","longDashDot","longDashDotDot","solid"]},"length":{"type":"number"},"width":{"type":"number"}}},"Padding_Non_Authenticated_Entity":{"type":"object","properties":{"top":{"type":"number"},"right":{"type":"number"},"bottom":{"type":"number"},"left":{"type":"number"}}},"PageLineChart_Non_Authenticated_Entity":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/LineChart_Non_Authenticated_Entity"}},"number":{"type":"integer","format":"int32"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"first":{"type":"boolean"},"last":{"type":"boolean"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject_Non_Authenticated_Entity"},"empty":{"type":"boolean"}}},"PlotBand_Non_Authenticated_Entity":{"title":"Plot bands","type":"object","properties":{"color":{"type":"string"},"from":{"type":"string"},"opacity":{"type":"number"},"to":{"type":"string"}},"description":"The plot bands of the category axis."},"RemoveEntryResponse_Authenticated_Entity":{"type":"object","properties":{"id":{"type":"string","description":"Identifier of removed document","example":"document-1"},"success":{"type":"boolean","description":"Whether the removal was successful or not.","example":true},"message":{"type":"string","description":"Message with additional information; mostly if the removal request was a failure.","example":"Record successfully removed"}},"description":"Response object for when a system document is removed."}},"securitySchemes":{"oauth2ClientCredentials":{"type":"oauth2","description":"## Retrieve access token\nMake a POST (`Content-Type: application/x-www-form-urlencoded`) request to the Token URL below. Include one POST key/value entry: `grant_type=client_credentials` and include your clientID / secretKey credentials in a Basic Auth header. E.g. `Authorization: Basic base64_encode($clientId + ':' + $secretKey)`.\n## Add Bearer access token to all API requests\nOnce you have the access token, you can pass that along on all API requests in the authentication header: `'Authorization: Bearer $accessToken`.\nNote: Tokens expire after 3 hours. Please make sure you refresh your token before that time.","name":"Client Credentials","flows":{"clientCredentials":{"authorizationUrl":"https://iam.wink.travel/oauth2/authorize","tokenUrl":"https://iam.wink.travel/oauth2/token","refreshUrl":"https://iam.wink.travel/oauth2/refresh","scopes":{"inventory.read":"Read Wink data","inventory.write":"Create Wink data","inventory.remove":"Remove Wink data"}}}}}}}