{"openapi":"3.0.1","info":{"title":"Wink API","description":"## APIs\nNot every integrator needs every APIs. For that reason, we have separated APIs into context.\n\n- [Affiliate](/affiliate): All APIs related to selling travel inventory as an affiliate.\n- [Analytics](/analytics): All APIs related to tracking metrics across a wide variety of data source segments including, more entertaining, leaderboard metrics.\n- [Booking](/booking): All APIs related to creating platform bookings.\n- [Channel Manager](/channel-manager): All APIs related to channel managers who want to integrate with our platform.\n- [Extranet](/extranet): All APIs related to managing travel inventory and suppliers.\n- [Inventory](/inventory): All APIs related to retrieve known travel inventory as it was found using the Lookup API..\n- [Lookup](/lookup): All APIs related to locating inventory by region, locale and property flags.\n- [Reference](/reference): All APIs related to retrieving platform-supported taxonomies.\n- [TripPay Acquiring](/payment-acquiring): All APIs related to capture payment details such as a Stripe payment intent.\n- [TripPay](/payment): All APIs related to TripPay account management, booking, mapping and integration features.\n\n## SDKs\nWe are actively working on supporting the most used languages out there. If you don't see your language here, reach out to us with a request to officially add your language. In the meantime, if you want to roll your own SDK, you can do so by downloading the OpenAPI spec and using one of the many available OpenAPI generators available: [https://openapi-generator.tech/docs/generators](https://openapi-generator.tech/docs/generators).\n\n- Java SDK [https://github.com/wink-travel/wink-sdk-java](https://github.com/wink-travel/wink-sdk-java)\n\n## Usage\nThese features are made available to you via a [REST API](https://en.wikipedia.org/wiki/Representational_state_transfer). This API is language agnostic.\n\n## Versioning\nWe chose to version our endpoints in a way that we hope affects your integration with us the least. You request the version of our API you wish to work with via the `Accept` header and by using our custom JSON mime type. When it's time for you to upgrade, you only have to change the version number to get access to our updated endpoints. You can also choose to always work with the latest major version release by accepting application/json. We recommend the former. Example: application/vnd.payment-v`1`+json.\n\n## Release history\n- 2022-05-08: v1 - Exposed channel manager API\n- 2021-07-01: v1 - Initial release\n\n# Analytics API\nWelcome to the Affiliate API - A programmer-friendly way to get insight into platform-level activities and bookings.\n\n# Intended Audience\nProgrammers are a requirement to start integrating with wink. You will benefit from an API integration if you are new or existing travel related company that want easy access to great inventory.## Examples:\n- Hotel brands / chains that want to make their own booking engine\n- Travel tech companies that want to create the next hot mobile travel app\n- Destination sites that want to make their own booking engine\n- Bloggers and influencers who want to sell travel inventory to their audience\n- OTAs that want access direct relationships with suppliers and better quality hotel inventory","contact":{"name":"Bjorn Harvold","email":"bjorn@wink.travel"},"version":"22.0.1","x-logo":{"backgroundColor":"#FFFFFF","altText":"wink","url":"https://res.cloudinary.com/traveliko/image/upload/c_scale,h_129/v1653285543/wink/logo_text_white.svg"}},"externalDocs":{"description":"Analytics Documentation","url":"https://bearchoke.atlassian.net/l/c/a1buVvfr"},"servers":[{"url":"https://api.wink.travel","description":"Production endpoint"},{"url":"https://staging-api.wink.travel","description":"Sandbox endpoint"},{"url":"https://dev-api.wink.travel","description":"Developer endpoint"}],"tags":[{"name":"Test","description":"Simple GET request to show that your configuration works."},{"name":"Leaderboard","description":"See how affiliates are performing through the payment."},{"name":"Analytics","description":"Create and track the analytics data sets you created and find interesting."}],"paths":{"/api/analytics/chart/{chartIdentifier}":{"get":{"tags":["Analytics"],"summary":"Show Chart","description":"Displays a single chart request by identifier.","operationId":"showChartRequest","parameters":[{"name":"chartIdentifier","in":"path","description":"Chart identifier","required":true,"schema":{"type":"string"},"example":"chart-1"},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/vnd.platform-v1+json,application/json"]}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/vnd.platform-v1+json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/vnd.platform-v1+json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/ChartRequestView"}},"application/json":{"schema":{"$ref":"#/components/schemas/ChartRequestView"}}}}},"security":[{"oauth2_client_credentials":[]}]},"put":{"tags":["Analytics"],"summary":"Update Chart","description":"Updates an existing chart request by identifier.","operationId":"updateChartRequest","parameters":[{"name":"chartIdentifier","in":"path","description":"Chart identifier","required":true,"schema":{"type":"string"},"example":"chart-1"}],"requestBody":{"content":{"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/ChartRequestWrapper"}},"application/json":{"schema":{"$ref":"#/components/schemas/ChartRequestWrapper"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/vnd.platform-v1+json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/vnd.platform-v1+json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/ChartRequestView"}},"application/json":{"schema":{"$ref":"#/components/schemas/ChartRequestView"}}}}},"security":[{"oauth2_client_credentials":[]}]},"delete":{"tags":["Analytics"],"summary":"Remove Chart","description":"Remove chart request for specific identifier.","operationId":"removeChartRequest","parameters":[{"name":"chartIdentifier","in":"path","description":"Chart identifier","required":true,"schema":{"type":"string"},"example":"chart-1"},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/vnd.platform-v1+json,application/json"]}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/vnd.platform-v1+json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/vnd.platform-v1+json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"202":{"description":"Accepted","content":{"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/RemoveEntryResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/RemoveEntryResponse"}}}}},"security":[{"oauth2_client_credentials":[]}]}},"/api/analytics/leaderboard":{"post":{"tags":["Leaderboard"],"summary":"Show Affiliate Leaderboard ","description":"Show leaderboard for a specific affiliate.","operationId":"showLeaderboardByOwner","requestBody":{"content":{"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/LeaderboardOwnerRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/LeaderboardOwnerRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/vnd.platform-v1+json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/vnd.platform-v1+json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/BookingLeaderboardEntry"}},"application/json":{"schema":{"$ref":"#/components/schemas/BookingLeaderboardEntry"}}}}},"security":[{"oauth2_client_credentials":[]}]}},"/api/analytics/leaderboard/list":{"post":{"tags":["Leaderboard"],"summary":"Show Location Leaderboard","description":"Show leaderboard based on location type such as continent.","operationId":"showLeaderboard","requestBody":{"content":{"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/LeaderboardRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/LeaderboardRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/vnd.platform-v1+json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/vnd.platform-v1+json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/PageBookingLeaderboardEntry"}},"application/json":{"schema":{"$ref":"#/components/schemas/PageBookingLeaderboardEntry"}}}}},"security":[{"oauth2_client_credentials":[]}]}},"/api/analytics/chart":{"post":{"tags":["Analytics"],"summary":"Create Chart","description":"Creates a new chart request.","operationId":"createChartRequest","requestBody":{"content":{"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/ChartRequestWrapper"}},"application/json":{"schema":{"$ref":"#/components/schemas/ChartRequestWrapper"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/vnd.platform-v1+json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/vnd.platform-v1+json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"201":{"description":"Created","content":{"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/ChartRequestView"}},"application/json":{"schema":{"$ref":"#/components/schemas/ChartRequestView"}}}}},"security":[{"oauth2_client_credentials":[]}]}},"/api/hello":{"get":{"tags":["Test"],"summary":"Ping","description":"Simple ping endpoint to test your credentials.","operationId":"ping","responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/vnd.platform-v1+json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/vnd.platform-v1+json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}},"security":[{"oauth2_client_credentials":[]}]}},"/api/analytics/list":{"get":{"tags":["Analytics"],"summary":"Show Analytics","description":"Show analytics the authenticated entity has previously created","operationId":"showAnalytics","parameters":[{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/vnd.platform-v1+json,application/json"]}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/vnd.platform-v1+json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/vnd.platform-v1+json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"application/vnd.platform-v1+json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LineChart"}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LineChart"}}}}}},"security":[{"oauth2_client_credentials":[]}]}},"/api/analytics/chart/list":{"get":{"tags":["Analytics"],"summary":"Show Charts","description":"Displays all charts for caller.","operationId":"showChartRequests","parameters":[{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/vnd.platform-v1+json,application/json"]}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/vnd.platform-v1+json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/vnd.platform-v1+json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"application/vnd.platform-v1+json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChartRequestView"}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChartRequestView"}}}}}},"security":[{"oauth2_client_credentials":[]}]}}},"components":{"schemas":{"GenericErrorMessage":{"type":"object","properties":{"timestamp":{"type":"string","xml":{"attribute":true}},"status":{"type":"integer","format":"int32","xml":{"attribute":true}},"error":{"type":"string"},"message":{"type":"string"},"path":{"type":"string"}},"description":"Generic error message","xml":{"name":"ErrorMessage"}},"ChartRequest":{"required":["series"],"type":"object","properties":{"series":{"type":"string","description":"The time series to visualize","example":"HOUR","enum":["HOUR","DAY","MONTH","YEAR"]},"timeSeriesUnits":{"type":"integer","description":"How many units of the time series type to visualize. Only required if start / end date not populated.","format":"int64","example":24},"startDate":{"type":"string","description":"Fixed date to start visualizations on","format":"date-time"},"endDate":{"type":"string","description":"Fixed date to end visualizations on","format":"date-time"},"filterOnHotelIdentifier":{"$ref":"#/components/schemas/KeyValuePair"},"filterOnChannelSubType":{"type":"string","description":"Filter on channel sub type. What channel sub-type helped make the booking.","example":"APPLICATION","enum":["DIRECT","APPLICATION","HOTEL","TRAVELIKO","CORPORATE","TRAVEL_AGENT","INFLUENCER","BLOGGER","DESTINATION"]},"filterOnOwnerIdentifier":{"$ref":"#/components/schemas/KeyValuePair"},"filterOnEngineCountryGeoNameId":{"$ref":"#/components/schemas/KeyValuePair"},"filterOnEngineCityGeoNameId":{"$ref":"#/components/schemas/KeyValuePair"},"filterOnEngineContinentCode":{"$ref":"#/components/schemas/KeyValuePair"},"filterOnEngineConfigurationIdentifier":{"$ref":"#/components/schemas/KeyValuePair"},"filterOnCountryGeoNameId":{"$ref":"#/components/schemas/KeyValuePair"},"filterOnCityGeoNameId":{"$ref":"#/components/schemas/KeyValuePair"},"filterOnContinentCode":{"$ref":"#/components/schemas/KeyValuePair"},"filterOnUserIdentifier":{"$ref":"#/components/schemas/KeyValuePair"},"sortOnPageVisits":{"type":"boolean","description":"Sort on page visits","example":true,"default":false},"sortOnMapMarkerVisits":{"type":"boolean","description":"Sort on map marker visits","example":false,"default":false},"sortOnCardVisits":{"type":"boolean","description":"Sort on card visits","example":false,"default":false},"sortOnBookings":{"type":"boolean","description":"Sort on bookings","example":false,"default":false},"sortOnCancellations":{"type":"boolean","description":"Sort on cancellations","example":false,"default":false},"sortOnRoomNights":{"type":"boolean","description":"Sort on room nights","example":false,"default":false},"sortOnMeetingRooms":{"type":"boolean","description":"Sort on meeting rooms","example":false,"default":false},"sortOnRestaurants":{"type":"boolean","description":"Sort on restaurants","example":false,"default":false},"sortOnSpas":{"type":"boolean","description":"Sort on spas","example":false,"default":false},"sortOnActivities":{"type":"boolean","description":"Sort on activities","example":false,"default":false},"sortOnAttractions":{"type":"boolean","description":"Sort on attractions","example":false,"default":false},"sortOnPlaces":{"type":"boolean","description":"Sort on places","example":false,"default":false},"sortOnPackages":{"type":"boolean","description":"Sort on packages","example":false,"default":false},"sortOnAddOns":{"type":"boolean","description":"Sort on add-ons","example":false,"default":false},"sortOnTotalRoomRevenue":{"type":"boolean","description":"Sort on total room revenue","example":false,"default":false},"sortOnPackagesRevenue":{"type":"boolean","description":"Sort on packag revenue","example":false,"default":false},"sortOnAddonsRevenue":{"type":"boolean","description":"Sort on add-on revenue","example":false,"default":false},"sortOnPackagesAndAddonsRevenue":{"type":"boolean","description":"Sort on combined packages and add-on revenue","example":false,"default":false},"sortOnTotalNetRevenue":{"type":"boolean","description":"Sort on total net revenue","example":false,"default":false},"sortOnCancelledRoomNights":{"type":"boolean","description":"Sort on cancelled room nights","example":false,"default":false},"sortOnCancelledMeetingRooms":{"type":"boolean","description":"Sort on cancelled meeting rooms","example":false,"default":false},"sortOnCancelledRestaurants":{"type":"boolean","description":"Sort on cancelled restaurants","example":false,"default":false},"sortOnCancelledSpas":{"type":"boolean","description":"Sort on cancelled spas","example":false,"default":false},"sortOnCancelledActivities":{"type":"boolean","description":"Sort on cancelled activities","example":false,"default":false},"sortOnCancelledAttractions":{"type":"boolean","description":"Sort on cancelled attractions","example":false,"default":false},"sortOnCancelledPlaces":{"type":"boolean","description":"Sort on cancelled places","example":false,"default":false},"sortOnCancelledPackages":{"type":"boolean","description":"Sort on cancelled packages","example":false,"default":false},"sortOnCancelledAddOns":{"type":"boolean","description":"Sort on cancelled add-ons","example":false,"default":false},"sortOnCancelledTotalRoomRevenue":{"type":"boolean","description":"Sort on cancelled total room revenue","example":false,"default":false},"sortOnCancelledPackagesAndAddonsRevenue":{"type":"boolean","description":"Sort on cancelled packages revenue","example":false,"default":false},"sortOnCancelledPackagesRevenue":{"type":"boolean","description":"Sort on cancelled packages revenue","example":false,"default":false},"sortOnCancelledAddonsRevenue":{"type":"boolean","description":"Sort on cancelled add-o revenue","example":false,"default":false},"sortOnCancelledTotalNetRevenue":{"type":"boolean","description":"Sort on cancelled total net revenue","example":false,"default":false},"includePageVisits":{"type":"boolean","description":"Include page visits","example":false,"default":false},"includeMapMarkerVisits":{"type":"boolean","description":"Include map marker visits","example":false,"default":false},"includeCardVisits":{"type":"boolean","description":"Include card visits","example":false,"default":false},"includeBookings":{"type":"boolean","description":"Include bookings","example":false,"default":false},"includeCancellations":{"type":"boolean","description":"Include cancellations","example":false,"default":false},"includeRoomNights":{"type":"boolean","description":"Include room nights","example":false,"default":false},"includeMeetingRooms":{"type":"boolean","description":"Include meeting rooms","example":false,"default":false},"includeRestaurants":{"type":"boolean","description":"Include restaurants","example":false,"default":false},"includeSpas":{"type":"boolean","description":"Include spas","example":false,"default":false},"includeActivities":{"type":"boolean","description":"Include activities","example":false,"default":false},"includeAttractions":{"type":"boolean","description":"Include attractions","example":false,"default":false},"includePlaces":{"type":"boolean","description":"Include places","example":false,"default":false},"includePackages":{"type":"boolean","description":"Include packages","example":false,"default":false},"includeAddOns":{"type":"boolean","description":"Include add-ons","example":false,"default":false},"includeTotalRoomRevenue":{"type":"boolean","description":"Include total room revenue","example":false,"default":false},"includeAverageRoomRate":{"type":"boolean","description":"Include average room rate","example":false,"default":false},"includePackagesRevenue":{"type":"boolean","description":"Include packages revenue","example":false,"default":false},"includeAddonsRevenue":{"type":"boolean","description":"Include add-ons revenue","example":false,"default":false},"includePackagesAndAddonsRevenue":{"type":"boolean","description":"Include combined packages and add-os revenue","example":false,"default":false},"includeTotalNetRevenue":{"type":"boolean","description":"Include total net revenue","example":false,"default":false},"includeCancelledRoomNights":{"type":"boolean","description":"Include cancelled room nights","example":false,"default":false},"includeCancelledMeetingRooms":{"type":"boolean","description":"Include cancelled meeting rooms","example":false,"default":false},"includeCancelledRestaurants":{"type":"boolean","description":"Include cancelled restaurants","example":false,"default":false},"includeCancelledSpas":{"type":"boolean","description":"Include cancelled spas","example":false,"default":false},"includeCancelledActivities":{"type":"boolean","description":"Include cancelled activities","example":false,"default":false},"includeCancelledAttractions":{"type":"boolean","description":"Include cancelled attractions","example":false,"default":false},"includeCancelledPlaces":{"type":"boolean","description":"Include cancelled places","example":false,"default":false},"includeCancelledPackages":{"type":"boolean","description":"Include cancelled packages","example":false,"default":false},"includeCancelledAddOns":{"type":"boolean","description":"Include cancelled add-ons","example":false,"default":false},"includeCancelledTotalRoomRevenue":{"type":"boolean","description":"Include cancelled total room revenue","example":false,"default":false},"includeCancelledPackagesAndAddonsRevenue":{"type":"boolean","description":"Include combined cancelled package and add-on revenue","example":false,"default":false},"includeCancelledPackagesRevenue":{"type":"boolean","description":"Include cancelled packages revenue","example":false,"default":false},"includeCancelledAddonsRevenue":{"type":"boolean","description":"Include cancelled add-ons revenue","example":false,"default":false},"includeCancelledTotalNetRevenue":{"type":"boolean","description":"Include cancelled total net revenue","example":false,"default":false},"groupOnChannelSubType":{"type":"boolean","description":"Group on  channel sub type","example":false,"default":false},"groupOnOwnerIdentifier":{"type":"boolean","description":"Group on owner identifier","example":false,"default":false},"groupOnEngineIdentifier":{"type":"boolean","description":"Group on application identifier","example":false,"default":false},"groupOnEngineCountryGeoNameId":{"type":"boolean","description":"Group on application country geoNameId","example":false,"default":false},"groupOnEngineCityGeoNameId":{"type":"boolean","description":"Group on application city geoNameId","example":false,"default":false},"groupOnEngineContinentCode":{"type":"boolean","description":"Group on application continent code","example":false,"default":false},"groupOnEngineConfigurationIdentifier":{"type":"boolean","description":"Group on customization identifier","example":false,"default":false},"groupOnCountryGeoNameId":{"type":"boolean","description":"Group on country geoNameId","example":false,"default":false},"groupOnCityGeoNameId":{"type":"boolean","description":"Group on city geoNameId","example":false,"default":false},"groupOnContinentCode":{"type":"boolean","description":"Group on continent code","example":false,"default":false},"groupOnHotelIdentifier":{"type":"boolean","description":"Group on hotel identifier","example":false,"default":false},"groupOnUserIdentifier":{"type":"boolean","description":"Group on user identifier","example":false,"default":false},"currencyCode":{"type":"string","description":"Currency code","example":"EUR","default":"USD"}},"description":"Chart properties allow you to choose how to visualize available data points. Choose how you want to: \n\n- filter your data \n- sort your data \n- group your data \n- include data in your data sets \n- display currency amounts"},"ChartRequestWrapper":{"required":["name","request"],"type":"object","properties":{"identifier":{"type":"string","description":"Unique record identifier","format":"uuid"},"ownerIdentifier":{"type":"string","description":"Owner of this chart","format":"uuid"},"name":{"type":"string","description":"Chart name as named by creator","example":"My First Chart"},"sort":{"type":"integer","description":"Sort a list of charts by this sort value.","format":"int32","example":1,"default":-1},"request":{"$ref":"#/components/schemas/ChartRequest"}}},"KeyValuePair":{"type":"object","properties":{"value":{"type":"string","description":"The value that should be persisted.","example":"id-1"},"label":{"type":"string","description":"English readable text of the value.","example":"Readable text label"}},"description":"Filter on user identifier. Which authenticated user made the booking."},"ChartRequestView":{"type":"object","properties":{"id":{"type":"string","description":"Unique document identifier","format":"uuid","readOnly":true},"createdDate":{"type":"string","description":"Datetime this record was first created","format":"date-time","readOnly":true},"lastUpdate":{"type":"string","description":"Datetime this record was last updated","format":"date-time","readOnly":true},"version":{"type":"integer","description":"Version property that shows how many times this document has been persisted. Document will not persist if the version property is less than current version property in the system. Result in an optimistic locking exception.","format":"int64","readOnly":true,"example":12},"data":{"$ref":"#/components/schemas/ChartRequestWrapper"}}},"LeaderboardOwnerRequest":{"required":["currencyCode","ownerIdentifier"],"type":"object","properties":{"currencyCode":{"type":"string","description":"Display leaderboard values in this currency","example":"USD","default":"USD"},"ownerIdentifier":{"type":"string","description":"The company you wish to track on a leaderboard","format":"uuid"}}},"BookingLeaderboardEntry":{"type":"object","properties":{"ownerIdentifier":{"type":"string"},"ownerName":{"type":"string"},"continent":{"type":"string"},"country":{"type":"string"},"countryGeoNameId":{"type":"string"},"city":{"type":"string"},"cityGeoNameId":{"type":"string"},"bookings":{"type":"integer","format":"int64"},"totalPriceAmount":{"type":"number","format":"double"},"averageBookingAmount":{"type":"number","format":"double"},"currencyCode":{"type":"string"}}},"LeaderboardRequest":{"required":["currencyCode","page","size","type"],"type":"object","properties":{"page":{"minimum":0,"type":"integer","description":"Which page to access in the record set","format":"int32","example":0,"default":0},"size":{"maximum":100,"type":"integer","description":"Number of result set to retrieve","format":"int32","example":20,"default":100},"currencyCode":{"type":"string","description":"Display leaderboard values in this currency","example":"USD","default":"USD"},"type":{"type":"string","description":"The type of leaderboard to display","example":"GLOBAL","default":"GLOBAL","enum":["GLOBAL","CONTINENT","COUNTRY","CITY"]},"groupingIdentifier":{"type":"string","description":"Can be `continent`, `country.geoNameId` or `city.geoNameId`","example":"654321"}}},"PageBookingLeaderboardEntry":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/BookingLeaderboardEntry"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/Sort"},"first":{"type":"boolean"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"PageableObject":{"type":"object","properties":{"offset":{"type":"integer","format":"int64"},"sort":{"$ref":"#/components/schemas/Sort"},"paged":{"type":"boolean"},"unpaged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"}}},"Sort":{"type":"object","properties":{"empty":{"type":"boolean"},"sorted":{"type":"boolean"},"unsorted":{"type":"boolean"}}},"AutoBaseUnitSteps":{"type":"object","properties":{"milliseconds":{"type":"number"},"seconds":{"type":"number"},"minutes":{"type":"number"},"hours":{"type":"number"},"days":{"type":"number"},"weeks":{"type":"number"},"months":{"type":"number"},"years":{"type":"number"}},"description":"The time-interval steps when `baseUnit` is set either to `fit` or `auto`. The axis will try to divide the active period into the smallest possible units that yield `maxDateGroups` or less discrete intervals."},"AxisLine":{"type":"object","properties":{"color":{"type":"string"},"dashType":{"type":"string","enum":["dash","dashDot","dot","longDash","longDashDot","longDashDotDot","solid"]},"visible":{"type":"boolean"},"width":{"type":"number"}},"description":"The configuration of the axis lines. Also affects the major and minor ticks, but not the grid lines."},"AxisTicks":{"title":"Minor ticks","type":"object","properties":{"color":{"type":"string"},"size":{"type":"number"},"step":{"type":"number"},"skip":{"type":"number"},"visible":{"type":"boolean"},"width":{"type":"number"}},"description":"The configuration of the category axis minor ticks."},"Border":{"type":"object","properties":{"color":{"type":"string"},"dashType":{"type":"string","enum":["dash","dashDot","dot","longDash","longDashDot","longDashDotDot","solid"]},"width":{"type":"number"}}},"CategoryAxisCrosshair":{"title":"Crosshair","type":"object","properties":{"color":{"type":"string"},"dashType":{"type":"string","enum":["dash","dashDot","dot","longDash","longDashDot","longDashDotDot","solid"]},"opacity":{"type":"number"},"visible":{"type":"boolean"},"width":{"type":"number"},"tooltip":{"$ref":"#/components/schemas/CategoryAxisCrosshairTooltip"}},"description":"The configuration options of the crosshair. The crosshair is displayed when the `categoryAxis.crosshair.visible` option is set to `true`."},"CategoryAxisCrosshairTooltip":{"type":"object","properties":{"background":{"type":"string"},"border":{"$ref":"#/components/schemas/Border"},"color":{"type":"string"},"font":{"type":"string"},"format":{"type":"string"},"padding":{"$ref":"#/components/schemas/Padding"},"visible":{"type":"boolean"}}},"CategoryAxisNotes":{"title":"Notes","type":"object","properties":{"data":{"type":"array","items":{"type":"object"}},"line":{"$ref":"#/components/schemas/NoteLine"},"position":{"type":"string","enum":["top","bottom","left","right"]},"icon":{"$ref":"#/components/schemas/CategoryAxisNotesIcon"},"label":{"$ref":"#/components/schemas/CategoryAxisNotesLabel"}},"description":"The configuration of the category axis notes."},"CategoryAxisNotesIcon":{"type":"object","properties":{"background":{"type":"string"},"border":{"$ref":"#/components/schemas/Border"},"size":{"type":"number"},"type":{"type":"string","enum":["square","circle","triangle","cross"]},"visible":{"type":"boolean"}}},"CategoryAxisNotesLabel":{"type":"object","properties":{"background":{"type":"string"},"border":{"$ref":"#/components/schemas/Border"},"color":{"type":"string"},"font":{"type":"string"},"format":{"type":"string"},"position":{"type":"string","enum":["inside","outside"]},"rotation":{"type":"number"},"visible":{"type":"boolean"}}},"CategoryAxisSelect":{"title":"Select","type":"object","properties":{"from":{"type":"object"},"max":{"type":"object"},"min":{"type":"object"},"mousewheel":{"type":"object"},"to":{"type":"object"}},"description":"The selected axis range. If set, the axis selection is enabled. The range is index-based, starting from zero. Categories with indexes in the range (`select.from`, `select.to`) will be selected. That is, the last category in the range will not be included in the selection. If the categories are dates, the range has to be also specified with date values. Selection is only supported if the axis is horizontal."},"CategoryAxisTitle":{"title":"Title","type":"object","properties":{"background":{"type":"string"},"border":{"$ref":"#/components/schemas/Border"},"color":{"type":"string"},"font":{"type":"string"},"margin":{"$ref":"#/components/schemas/Margin"},"padding":{"$ref":"#/components/schemas/Padding"},"position":{"type":"string","enum":["top","bottom","left","right","center"]},"rotation":{"type":"number"},"text":{"type":"string"},"visible":{"type":"boolean"}},"description":"Title of axis"},"ChartCategoryAxis":{"title":"Category axis","type":"object","properties":{"autoBaseUnitSteps":{"$ref":"#/components/schemas/AutoBaseUnitSteps"},"axisCrossingValue":{"type":"array","description":"The category index or the date (for date category axis) at which the first value axis crosses this axis. The category indices or the date (for date category axis) at which the value axes cross the category axis (when set as an array). To denote the far end of the axis, set an index greater than or equal to the Number of categories.","items":{"type":"object","description":"The category index or the date (for date category axis) at which the first value axis crosses this axis. The category indices or the date (for date category axis) at which the value axes cross the category axis (when set as an array). To denote the far end of the axis, set an index greater than or equal to the Number of categories."}},"background":{"type":"string","description":"The background color of the axis."},"baseUnit":{"type":"string","description":"The base time interval for the date axis. The default base unit is automatically determined by the minimum difference between subsequent categories. The supported values are: \n\n- `fit`\n- `milliseconds`\n- `seconds`\n- `minutes`\n- `hours`\n- `days`\n- `weeks`\n- `months`\n- `years`\nSetting `baseUnit` to `fit` sets such a base unit and `categoryAxis.baseUnitStep` that the total Number of categories does not exceed `categoryAxis.maxDateGroups`. Series data is aggregated for the specified base unit by using the `series.aggregate` function.","enum":["milliseconds","seconds","minutes","hours","days","weeks","months","years","auto","fit"]},"baseUnitStep":{"type":"number","description":"The step (interval) between the categories in base units. Setting it to `auto` sets the step to such a value that the total Number of categories does not exceed `categoryAxis.maxDateGroups`. The option is ignored if `categoryAxis.baseUnit` is set to `fit`."},"categories":{"type":"array","description":"The category names. The Chart creates a category for every item of the array.","items":{"type":"string","description":"The category names. The Chart creates a category for every item of the array."}},"color":{"type":"string","description":"The color to apply to all axis elements. Accepts a valid CSS color String, including hex and rgb. Can be overridden by `categoryAxis.labels.color` and `categoryAxis.line.color`."},"justified":{"type":"boolean","description":"If set to `true`, the Chart positions categories and series points on major ticks. This removes the empty space before and after the series. The default value is `false` except for `area`, `verticalArea`, `rangeArea`, and `verticalRangeArea`. The option is ignored if the `series.type` option is set to `bar`, `column`, `boxPlot`, `ohlc`, `candlestick`, or `waterfall`."},"line":{"$ref":"#/components/schemas/AxisLine"},"majorGridLines":{"$ref":"#/components/schemas/ChartCategoryAxisMajorGridLines"},"majorTicks":{"$ref":"#/components/schemas/AxisTicks"},"max":{"title":"Max","type":"string","description":"The last date displayed on a date category axis or the index of the last category displayed on a category axis. By default, the max value is the same as the last category. This is often used in combination with the `categoryAxis.min` and `categoryAxis.roundToBaseUnit` options to set up a fixed date range.","format":"date-time"},"maxDateGroups":{"title":"Max date groups","type":"number","description":"The maximum Number of groups (categories) to display when `categoryAxis.baseUnit` is set to `fit` or `categoryAxis.baseUnitStep` is set to `auto`."},"maxDivisions":{"title":"Max divisions","type":"number","description":"The maximum Number of ticks and labels to display. Applicabable for date category axis."},"min":{"title":"Min","type":"string","description":"The first date which is displayed on a date category axis or the index of the first category whcih is displayed on a category axis. By default, the min value is the same as the first category. This is often used in combination with the `categoryAxis.max` and `categoryAxis.roundToBaseUnit` options to set up a fixed date range.","format":"date-time"},"minorGridLines":{"$ref":"#/components/schemas/GridLines"},"minorTicks":{"$ref":"#/components/schemas/AxisTicks"},"name":{"title":"Name","type":"string","description":"The unique axis name. Used to associate a series with a category axis, which utilizes the `series.categoryAxis` option."},"pane":{"title":"Pane","type":"string","description":"The name of the pane in which the category axis has to be rendered. If not set, the axis will be rendered in the first (default) pane."},"plotBands":{"title":"Plot bands","type":"array","description":"The plot bands of the category axis.","items":{"$ref":"#/components/schemas/PlotBand"}},"reverse":{"title":"Reverse","type":"boolean","description":"If set to `true`, the category axis direction is reversed. By default, categories are listed from left to right and from bottom to top."},"roundToBaseUnit":{"title":"Round to base unit","type":"boolean","description":"If set to `true`, the Chart rounds the first and last date to the nearest base unit."},"startAngle":{"title":"Start angle","type":"number","description":"The angle (degrees) of the first category on the axis. Angles increase clockwise with zero to the left. Negative values are acceptable."},"type":{"title":"Type","type":"string","description":"The category axis type. The supported values are:\n\n- `category` Discrete category axis.- `date`\n Specialized axis for displaying chronological data.","enum":["category","date"]},"visible":{"title":"Visible","type":"boolean","description":"If set to `true`, the Chart displays the category axis. By default, the category axis is visible."},"weekStartDay":{"title":"Week start day","type":"string","description":"The week start day when the `baseUnit` is set to `weeks`.","enum":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]},"crosshair":{"$ref":"#/components/schemas/CategoryAxisCrosshair"},"labels":{"$ref":"#/components/schemas/ChartCategoryAxisLabels"},"notes":{"$ref":"#/components/schemas/CategoryAxisNotes"},"select":{"$ref":"#/components/schemas/CategoryAxisSelect"},"title":{"$ref":"#/components/schemas/CategoryAxisTitle"}},"description":"The configuration options of the category axis."},"ChartCategoryAxisLabels":{"title":"Labels","type":"object","properties":{"rotation":{"type":"string"}},"description":"The configuration of the axis labels."},"ChartCategoryAxisMajorGridLines":{"title":"Major grid lines","type":"object","properties":{"visible":{"type":"boolean"}},"description":"The configuration of the major grid lines. These are the lines that are an extension of the major ticks through the body of the Chart."},"ChartLegend":{"type":"object","properties":{"position":{"type":"string","description":"top | bottom | left | right"}},"description":"The configuration options for the chart legend."},"ChartSeries":{"type":"object","properties":{"name":{"type":"string","description":"The name of the Chart series which is visible in the legend."},"data":{"type":"array","description":"The array of data items which represent the series data.\n\nYou can set it to:\n\n- Array of numbers. Supported when the series.type option is set to `area`, `bar`, `column`, `donut`, `pie`, `line`, or `waterfall`.\nThe Bubble series need arrays of three values—X value, Y value, and Size value—for example, [1, 1, 10]. The Scatter and ScatterLine series need arrays of two values—X value and Y value. The OHLC and Candlestick series need arrays of four values—open, high, low, and close. The RangeBar and RangeArea series need arrays of two values—the from and to value.","items":{"type":"number","description":"The array of data items which represent the series data.\n\nYou can set it to:\n\n- Array of numbers. Supported when the series.type option is set to `area`, `bar`, `column`, `donut`, `pie`, `line`, or `waterfall`.\nThe Bubble series need arrays of three values—X value, Y value, and Size value—for example, [1, 1, 10]. The Scatter and ScatterLine series need arrays of two values—X value and Y value. The OHLC and Candlestick series need arrays of four values—open, high, low, and close. The RangeBar and RangeArea series need arrays of two values—the from and to value."}}},"description":"The configuration of the chart series. The series type is determined by the value of the type field. If a type value is missing, the chart renders the type that is specified in `seriesDefaults`. Some options accept functions as arguments. These arguments are evaluated for each point which is supplied as a parameter. If no value is returned, the chart uses the `theme` or `seriesDefaults` values."},"ChartSeriesDefaults":{"type":"object","properties":{"type":{"type":"string","description":"The default type of the series.\n\nThe supported values are:\n\n- area\n- bar\n- bubble\n- bullet\n- candlestick\n- column\n- donut\n- funnel\n- line\n- ohlc\n- pie\n- polarArea\n- polarLine\n- polarScatter\n- radarArea\n- radarColumn\n- radarLine\n- rangeArea\n- rangeBar\n- rangeColumn\n- scatter\n- scatterLine\n- verticalArea\n- verticalBullet\n- verticalLine\n- verticalRangeArea\n- waterfall"}},"description":"The default options of all series."},"ChartTitle":{"type":"object","properties":{"text":{"type":"string"}},"description":"The configuration options for the chart title"},"ChartTooltip":{"title":"Tool tip","type":"object","properties":{"visible":{"type":"boolean","description":"If set to `true`, the Chart displays the series tooltip. By default, the series tooltip is not displayed."},"format":{"type":"string","description":"The format of the labels. Uses the format method of IntlService. The available format placeholders are:\n\n- Area, Bar, Column, Funnel, Line, and Pie {0} - value\n- Bubble {0} - x value{1} - y value{2} - size value{3} - category name\n- Scatter and scatterLine {0} - x value{1} - y value\n- Candlestick and OHLC {0} - open value{1} - high value{2} - low value{3} - close value{4} - category name"}},"description":"The configuration options of the Chart series tooltips. The tooltip of the Chart series is displayed when the `tooltip.visible` option is set to `true`."},"ChartValueAxis":{"title":"Value axis","type":"object","properties":{"labels":{"$ref":"#/components/schemas/ChartValueAxisLabels"},"line":{"$ref":"#/components/schemas/ChartValueAxisLine"},"axisCrossingValue":{"type":"integer","description":"- (Only for objects) The value at which the category axis crosses this axis.\n- (Only for arrays) The value indices at which the category axes cross the value axis.\n- (Only for dates) The date at which the category axis crosses this axis.","format":"int32"},"majorUnit":{"type":"number","description":"The interval between major divisions. If `valueAxis.type` is set to `log`, the majorUnit value is used for the base of the logarithm.","format":"float"}},"description":"The configuration options of the value axis."},"ChartValueAxisLabels":{"type":"object","properties":{"format":{"type":"string","description":"The format for displaying the labels. Uses the format method of IntlService. Contains one placeholder (`{0}`) which represents the category value."}},"description":"The axis labels configuration."},"ChartValueAxisLine":{"type":"object","properties":{"visible":{"type":"boolean","description":"If set to true, the Chart displays the axis lines. By default, the axis lines are visible."}},"description":"The configuration of the axis lines. Also affects the major and minor ticks, but not the grid lines."},"GridLines":{"title":"Minor grid lines","type":"object","properties":{"color":{"type":"string"},"dashType":{"type":"string","enum":["dash","dashDot","dot","longDash","longDashDot","longDashDotDot","solid"]},"skip":{"type":"number"},"step":{"type":"number"},"visible":{"type":"boolean"},"width":{"type":"number"}},"description":"The configuration of the minor grid lines. These are the lines that are an extension of the minor ticks through the body of the Chart."},"LineChart":{"type":"object","properties":{"identifier":{"type":"string","description":"Unique line chart identifier","format":"uuid"},"title":{"$ref":"#/components/schemas/ChartTitle"},"legend":{"$ref":"#/components/schemas/ChartLegend"},"seriesDefaults":{"$ref":"#/components/schemas/ChartSeriesDefaults"},"series":{"type":"array","description":"The configuration of the chart series. The series type is determined by the value of the type field. If a type value is missing, the chart renders the type that is specified in `seriesDefaults`. Some options accept functions as arguments. These arguments are evaluated for each point which is supplied as a parameter. If no value is returned, the chart uses the `theme` or `seriesDefaults` values.","items":{"$ref":"#/components/schemas/ChartSeries"}},"valueAxis":{"$ref":"#/components/schemas/ChartValueAxis"},"categoryAxis":{"$ref":"#/components/schemas/ChartCategoryAxis"},"tooltip":{"$ref":"#/components/schemas/ChartTooltip"},"renderAs":{"title":"Render as","type":"string","description":"Sets the preferred rendering engine. If not supported by the browser, the Chart switches to the first available mode.\n\nThe supported values are:\n\n- svg (If available, renders the component as an inline .svg file.)- canvas (If available, renders the component as a canvas element.)"},"transitions":{"title":"Transitions","type":"boolean","description":"If set to `true`, the Chart plays animations when it displays the series. By default, animations are enabled."}}},"Margin":{"type":"object","properties":{"top":{"type":"number"},"right":{"type":"number"},"bottom":{"type":"number"},"left":{"type":"number"}}},"NoteLine":{"type":"object","properties":{"color":{"type":"string"},"dashType":{"type":"string","enum":["dash","dashDot","dot","longDash","longDashDot","longDashDotDot","solid"]},"length":{"type":"number"},"width":{"type":"number"}}},"Padding":{"type":"object","properties":{"top":{"type":"number"},"right":{"type":"number"},"bottom":{"type":"number"},"left":{"type":"number"}}},"PlotBand":{"title":"Plot bands","type":"object","properties":{"color":{"type":"string"},"from":{"type":"string"},"opacity":{"type":"number"},"to":{"type":"string"}},"description":"The plot bands of the category axis."},"RemoveEntryResponse":{"type":"object","properties":{"id":{"type":"string","description":"Identifier of removed document","example":"document-1"},"success":{"type":"boolean","description":"Whether the removal was successful or not.","example":true},"message":{"type":"string","description":"Message with additional information; mostly if the removal request was a failure.","example":"Record successfully removed"}},"description":"Response object for when a system document is removed."}},"securitySchemes":{"oauth2_client_credentials":{"type":"oauth2","description":"## Retrieve access token\nMake a POST (`Content-Type: application/x-www-form-urlencoded`) request to the Token URL below. Include one POST key/value entry: `grant_type=client_credentials` and include your clientID / secretKey credentials in a Basic Auth header. E.g. `Authorization: Basic base64_encode($clientId + ':' + $secretKey)`.\n## Add Bearer access token to all API requests\nOnce you have the access token, you can pass that along on all API requests in the authentication header: `'Authorization: Bearer $accessToken`.\nNote: Tokens expire after 3 hours. Please make sure you refresh your token before that time.","flows":{"clientCredentials":{"authorizationUrl":"https://iam.wink.travel/oauth2/authorize","tokenUrl":"https://iam.wink.travel/oauth2/token","refreshUrl":"https://iam.wink.travel/oauth2/refresh","scopes":{"inventory.read":"Read wink data","inventory.write":"Create wink data","inventory.remove":"Remove wink data"}}}}}}}