{"openapi":"3.0.1","info":{"title":"Wink API","description":"## APIs\nNot every integrator needs every APIs. For that reason, we have separated APIs into context.\n\n- [Affiliate](/affiliate): All APIs related to selling travel inventory as an affiliate.\n- [Analytics](/analytics): All APIs related to tracking metrics across a wide variety of data source segments including, more entertaining, leaderboard metrics.\n- [Booking](/booking): All APIs related to creating platform bookings.\n- [Channel Manager](/channel-manager): All APIs related to channel managers who want to integrate with our platform.\n- [Extranet](/extranet): All APIs related to managing travel inventory and suppliers.\n- [Inventory](/inventory): All APIs related to retrieve known travel inventory as it was found using the Lookup API..\n- [Lookup](/lookup): All APIs related to locating inventory by region, locale and property flags.\n- [Reference](/reference): All APIs related to retrieving platform-supported taxonomies.\n- [TripPay Acquiring](/payment-acquiring): All APIs related to capture payment details such as a Stripe payment intent.\n- [TripPay](/payment): All APIs related to TripPay account management, booking, mapping and integration features.\n\n## SDKs\nWe are actively working on supporting the most used languages out there. If you don't see your language here, reach out to us with a request to officially add your language. In the meantime, if you want to roll your own SDK, you can do so by downloading the OpenAPI spec and using one of the many available OpenAPI generators available: [https://openapi-generator.tech/docs/generators](https://openapi-generator.tech/docs/generators).\n\n- Java SDK [https://github.com/wink-travel/wink-sdk-java](https://github.com/wink-travel/wink-sdk-java)\n\n## Usage\nThese features are made available to you via a [REST API](https://en.wikipedia.org/wiki/Representational_state_transfer). This API is language agnostic.\n\n## Versioning\nWe chose to version our endpoints in a way that we hope affects your integration with us the least. You request the version of our API you wish to work with via the `Wink-Version` header. When it's time for you to upgrade, you only have to change the version number to get access to our updated endpoints.\n\n## Release history\n- 2022-10-15: v2.0 - Removed HATEOAS and added Wink-Version header\n- 2022-05-08: v1 - Exposed channel manager API\n- 2021-07-01: v1 - Initial release\n\n# Extranet API\nWelcome to the Extranet API - A programmer-friendly way to manage your travel inventory on the wink payment. This API offers a superset of the features you can find at [https://extranet.wink.travel](https://extranet.wink.travel) and gives you all the tools you need to ready your properties and inventory for sale across 10000s of our unique sales channels.\nWhat differentiates us from existing Extranets is 1. we make it available for everyone to use and 2. the care we take in only working with properties that have quality, curated content and ways to bundle and cross sell customers with ancillary products and experiences. Content creators have the ability to make their inventory look great and be searchable in a wide variety of ways. You won't find properties with generic inventory, low resolution pictures and little ancillary content that can easily be found everywhere else on the internet.\n\n# Integrations\nWe have already integrated with the most well-known channel managers so you don't have to. Once your properties are set up, you can finish the setup by mapping your property to wink using your channel manager partner portal. If your properties don't have a channel manager, you can easily manage rates and availability with this API.\n- Allotz\n- CloudBeds / MyAllocator\n- Comanche\n- d-edge\n- FastBooking\n- HotelLink\n- HoteliersGuru\n- Omnibees\n- RateGain\n- Rate Tiger\n- ResAvenue\n- Siteminder\n- Sabre SynXis\n- Travelclick\n- Yieldplanet\n\n# Intended Audience\nProgrammers are [most likely] a requirement to start integrating with wink. Companies and organizations that would most benefit from integrating with us are new and existing travel companies that have relationships with suppliers and that need an advanced system from which to manage their travel inventory and get that same inventory out to as many eyeballs as possible at the lowest price possible.\n- Hotel chains\n- Hotel brands\n- Travel tech companies\n- Destination sites\n- Integrators\n- Aggregators\n- Destination management companies\n- Travel agencies\n- OTAs\n\n","contact":{"name":"Bjorn Harvold","email":"bjorn@wink.travel"},"version":"22.1.9-SNAPSHOT","x-logo":{"backgroundColor":"#FFFFFF","altText":"wink","url":"https://res.cloudinary.com/traveliko/image/upload/c_scale,h_129/v1653285543/wink/logo_text_white.svg"}},"externalDocs":{"description":"Extranet Documentation","url":"https://bearchoke.atlassian.net/l/c/x4vNhPy5"},"servers":[{"url":"https://api.wink.travel","description":"Production endpoint"},{"url":"https://staging-api.wink.travel","description":"Sandbox endpoint"},{"url":"https://dev-api.wink.travel","description":"Developer endpoint"}],"tags":[{"name":"Lifestyle","description":"Manage property lifestyles using this endpoint."},{"name":"Contacts","description":"Manage important property contacts."},{"name":"Agreement","description":"Manage your property's payment agreement with us"},{"name":"Affiliate","description":"Allows properties to browse for affiliates to connect with"},{"name":"Promotion","description":"Manage promotions and premiums and set complex rules for when you want to use them. A promotion can make the price go both up and down depending on how you want to use it."},{"name":"Rate Plan","description":"Rate plans restrict the availability of travel inventory. You can apply rate plans to master rates, packages and add-ons to better control how you want to make this inventory available for sale."},{"name":"Onboarding","description":"This is the endpoint you will want to work first with to begin the process of invite your hotels onto the wink.travel payment."},{"name":"Media","description":"Manage property media including images and videos. Property media are for general pictures of the hotel such as main featured image, around premises, lobby etc. For all other media, each travel inventory section contains its own section for managing media."},{"name":"Scheduler","description":"Manage reservation schedules for travel inventory such as meeting rooms, restaurants, spas, activities, attractions and places."},{"name":"Cancellation Policy","description":"Manage property cancellation policies. Cancellation policies dictate when and if a traveler is entitled to a full / partial / no refund."},{"name":"CalDAV","description":"The CalDav API let's you link your favorite calendar software with the wink.travel payment and lets you see all your bookings from your calendar. "},{"name":"Master Rate","description":"Master Rates are room types + rules and restrictions that get sold to and booked by travelers. A master rate consists simply of a guest room and a rate plan with the added ability to give away perks to travelers to incentivize them to book this master rate. \n\nNote: The payment works with rate plan-level availability. This means you assign the master rate availability and not the room type. You set initial availability on the room type / guest room, but you can override on the master rate level. This gives you more flexibility in how you want to sell your rooms. I.e. you can give more availability to a master rate than another with the same room but different rate plan. You can also overbook that room type."},{"name":"Notification","description":"Notifications API"},{"name":"Daily Rate","description":"Manage daily rates and availability for your master rates using these endpoints."},{"name":"Inventory","description":"Inventory API"},{"name":"Guest Room","description":"Manage property room types."},{"name":"Sales Channel Relationship Requests","description":"Account relationships are initiated by either affiliate or hotel and allows for hotels to give sales channel specific pricing to affiliates on an individual basis."},{"name":"Promotion Bundle","description":"Promotion Bundle API"},{"name":"Channel Manager","description":"Indicate which channel manager the property is using. This can be done either during property invite or using this endpoint. If it is not done during the invite phase, the channel manager defaults to `TRAVELIKO` which is the same as no channel manager and rate ownership goes to the payment."},{"name":"Social Network","description":"Manage which social networks the property is connected to."},{"name":"Activity","description":"Activities are things travelers can do in and around the property. They can be free, for informational purposes only, or they can be bookable and commissionable. The goal of any property is to create as many sellable activities and become more attractive to potential guests by being able to offer more than their competition."},{"name":"Place","description":"Places are points of interest travelers visit in and around the property. They can be free, for informational purposes only, or they can be bookable and commissionable. The goal of any property is to create as many sellable places and become more attractive to potential guests by being able to offer more than their competition."},{"name":"Test","description":"Simple GET request to show that your configuration works."},{"name":"Recognition","description":"A property can associate multiple types of third-party online / offline acknowledgements to their profile in the form of awards, reviews / ratings, articles and more."},{"name":"Property","description":"Manage your properties"},{"name":"Access","description":"Control which registered payment users can manage your property."},{"name":"Announcement","description":"Properties can create date-based announcements for travelers. These announcements are returned in HotelInventoryResponse if the itinerary matches the announcement date."},{"name":"Booking","description":"Retrieve bookings and manage cancellations at the property-level."},{"name":"Invoice","description":"Retrieve past and upcoming invoices for company."},{"name":"Policy","description":"Manage property policy such as whether the property allows children and pets."},{"name":"Meeting Room","description":"Manage meeting rooms that are on and off the premises. Make them viewable-only or let travelers book a meeting room together with their room."},{"name":"Review","description":"Travelers can leave reviews after a booking has taken place. Properties can see these reviews and also respond to them."},{"name":"Restaurant","description":"Restaurants are eating establishments travelers can go to to get a meal in and around the property. They can be free, for informational purposes only, or they can be bookable and commissionable. The goal of any property is to create as many bookable restaurants and become more attractive to potential guests by being able to offer more than their competition."},{"name":"Sales Channels","description":"Sales Channels are direct relationships between property and affiliate. Account relationships are initiated by either affiliate or hotel and allows for hotels to give sales channel specific pricing to affiliates on an individual basis."},{"name":"GeoLocation","description":"Manage property geo-location."},{"name":"Attraction","description":"Attractions are things travelers visit in and around the property. They can be free, for informational purposes only, or they can be bookable and commissionable. The goal of any property is to create as many sellable attractions and become more attractive to potential guests by being able to offer more than their competition."},{"name":"Package","description":"Upsell travelers on packages. Creat value-added packages of anything you can think of and sell it with the room."},{"name":"Add-On","description":"Add-ons are ancillary inventory that can be added onto a room booking. It can be literally anything; from a tangible to an intangible good. Note that an add-on can also be made mandatory such as an extra water plane ride to your final island destination in the Maldives or an obligatory Christmas dinner."},{"name":"Spa","description":"Spas are health establishments travelers can go to to get a massage or similar in and around the property. They can be free, for informational purposes only, or they can be bookable and commissionable. The goal of any property is to create as many bookable spas and become more attractive to potential guests by being able to offer more than their competition."}],"paths":{"/api/hotel/{hotelIdentifier}/policy/property":{"get":{"tags":["Policy"],"summary":"Show property policy","description":"Returns property policy for hotel","operationId":"showPropertyPolicy","parameters":[{"name":"hotelIdentifier","in":"path","description":"Retrieve property policy for this hotel identifier","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PropertyPolicy"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"put":{"tags":["Policy"],"summary":"Update property policy","description":"Update property policy record for the hotel.","operationId":"updatePropertyPolicy","parameters":[{"name":"hotelIdentifier","in":"path","description":"Update property policy record for this hotel identifier","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PropertyPolicy"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PropertyPolicy"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"post":{"tags":["Policy"],"summary":"Create property policy","description":"Creates the initial property policy record for the hotel.","operationId":"createPolicy","parameters":[{"name":"hotelIdentifier","in":"path","description":"Create property policy for this hotel identifier","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PropertyPolicy"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PropertyPolicy"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/hotel/{hotelIdentifier}/lifestyles":{"get":{"tags":["Lifestyle"],"summary":"Show Lifestyles","description":"Retrieve list of property lifestyles","operationId":"showLifestyles","parameters":[{"name":"hotelIdentifier","in":"path","description":"Show Lifestyles for this hotel identifier","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LifestylesResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"put":{"tags":["Lifestyle"],"summary":"Update Lifestyles","description":"Update selected lifestyles. See [Lifestyle geoname data](#operation/showLifestyles) for supported lifestyles.","operationId":"updateLifestyles","parameters":[{"name":"hotelIdentifier","in":"path","description":"Update lifestyles for this hotel identifier","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateLifestylesRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LifestylesResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/hotel/{hotelIdentifier}/inventory/upgrade/{addOnIdentifier}":{"get":{"tags":["Add-On"],"summary":"Show Add-On","description":"Retrieve an add-on by its identifier","operationId":"showAddOn","parameters":[{"name":"hotelIdentifier","in":"path","description":"Show single add-on owned by this hotel identifier","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"addOnIdentifier","in":"path","description":"Show add-on record identified by this identifier","required":true,"schema":{"type":"string"},"example":"add-on-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpgradeView"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"put":{"tags":["Add-On"],"summary":"Update Add-On","description":"Update an existing add-on.","operationId":"updateAddOn","parameters":[{"name":"hotelIdentifier","in":"path","description":"Update an existing add-on record owned by this hotel identifier","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"addOnIdentifier","in":"path","description":"Update an existing add-on record identified by this identifier","required":true,"schema":{"type":"string"},"example":"add-on-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertAddOnRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpgradeView"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Add-On"],"summary":"Delete Add-On","description":"Delete an add-on by its identifier","operationId":"removeAddOn","parameters":[{"name":"hotelIdentifier","in":"path","description":"Remove add-on record owned by this hotel identifier","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"addOnIdentifier","in":"path","description":"Remove add-on record identified by this identifier","required":true,"schema":{"type":"string"},"example":"add-on-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveEntryResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/hotel/{hotelIdentifier}/inventory/spa/{spaIdentifier}":{"get":{"tags":["Spa"],"summary":"Show Spa","description":"Retrieve a spa by its identifier","operationId":"showSpa","parameters":[{"name":"hotelIdentifier","in":"path","description":"Show single spa owned by this hotel identifier","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"spaIdentifier","in":"path","description":"Show spa record identified by this identifier","required":true,"schema":{"type":"string"},"example":"spa-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaView"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"put":{"tags":["Spa"],"summary":"Update Spa","description":"Update a spa by its identifier","operationId":"updateSpa","parameters":[{"name":"hotelIdentifier","in":"path","description":"Update an existing spa record owned by this hotel identifier","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"spaIdentifier","in":"path","description":"Update an existing spa record identified by this identifier","required":true,"schema":{"type":"string"},"example":"spa-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertSpaRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaView"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Spa"],"summary":"Delete Spa","description":"Delete a spa by its identifier","operationId":"removeSpa","parameters":[{"name":"hotelIdentifier","in":"path","description":"Remove spa record owned by this hotel identifier","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"spaIdentifier","in":"path","description":"Remove restaurant record identified by this identifier","required":true,"schema":{"type":"string"},"example":"spa-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveEntryResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/hotel/{hotelIdentifier}/inventory/roomrate/{masterRateIdentifier}":{"get":{"tags":["Master Rate"],"summary":"Show Master Rate","description":"Retrieve a master rate by its identifier","operationId":"showMasterRate","parameters":[{"name":"hotelIdentifier","in":"path","description":"Show single master rate owned by this hotel identifier.","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"masterRateIdentifier","in":"path","description":"Show single master rate with this identifier.","required":true,"schema":{"type":"string"},"example":"master-rate-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterRateView"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"put":{"tags":["Master Rate"],"summary":"Update Master Rate","description":"Update a master rate by its identifier","operationId":"updateMasterRate","parameters":[{"name":"hotelIdentifier","in":"path","description":"Update existing master rate owned by this hotel identifier.","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"masterRateIdentifier","in":"path","description":"Update existing master rate with this identifier.","required":true,"schema":{"type":"string"},"example":"master-rate-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateMasterRateRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterRateView"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Master Rate"],"summary":"Delete Master Rate","description":"Delete a master rate by its identifier","operationId":"removeMasterRate","parameters":[{"name":"hotelIdentifier","in":"path","description":"Remove master rate owned by this hotel identifier.","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"masterRateIdentifier","in":"path","description":"Remove master rate with this hotel identifier.","required":true,"schema":{"type":"string"},"example":"master-rate-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveEntryResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/hotel/{hotelIdentifier}/inventory/room/{guestRoomIdentifier}":{"get":{"tags":["Guest Room"],"summary":"Show Guest Room","description":"Retrieve a room type by its identifier","operationId":"showGuestRoom","parameters":[{"name":"hotelIdentifier","in":"path","description":"Show room type owned by this hotel identifier","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"guestRoomIdentifier","in":"path","description":"Show room type identified by this identifier","required":true,"schema":{"type":"string"},"example":"guest-room-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GuestRoomView"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"put":{"tags":["Guest Room"],"summary":"Update Guest Room","description":"Update a room by its identifier","operationId":"updateGuestRoom","parameters":[{"name":"hotelIdentifier","in":"path","description":"Update room type owned by this hotel identifier","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"guestRoomIdentifier","in":"path","description":"Update room type with this identifier","required":true,"schema":{"type":"string"},"example":"guest-room-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertGuestRoomRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GuestRoomView"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Guest Room"],"summary":"Delete Guest Room","description":"Remove a room by its identifier","operationId":"removeGuestRoom","parameters":[{"name":"hotelIdentifier","in":"path","description":"Remove room type owned by this hotel identifier","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"guestRoomIdentifier","in":"path","description":"Remove room type with this identifier","required":true,"schema":{"type":"string"},"example":"guest-room-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveEntryResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/hotel/{hotelIdentifier}/inventory/restaurant/{restaurantIdentifier}":{"get":{"tags":["Restaurant"],"summary":"Show Restaurant","description":"Retrieve a restaurant by its identifier","operationId":"showRestaurant","parameters":[{"name":"hotelIdentifier","in":"path","description":"Show single restaurant owned by this hotel identifier","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"restaurantIdentifier","in":"path","description":"Show restaurant record identified by this identifier","required":true,"schema":{"type":"string"},"example":"restaurant-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestaurantView"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"put":{"tags":["Restaurant"],"summary":"Update Restaurant","description":"Update a restaurant by its identifier","operationId":"updateRestaurant","parameters":[{"name":"hotelIdentifier","in":"path","description":"Update an existing restaurant record owned by this hotel identifier","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"restaurantIdentifier","in":"path","description":"Update an existing restaurant record identified by this identifier","required":true,"schema":{"type":"string"},"example":"restaurant-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertRestaurantRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestaurantView"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Restaurant"],"summary":"Delete Restaurant","description":"Remove a restaurant by its identifier","operationId":"removeRestaurant","parameters":[{"name":"hotelIdentifier","in":"path","description":"Remove restaurant record owned by this hotel identifier","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"restaurantIdentifier","in":"path","description":"Remove restaurant record identified by this identifier","required":true,"schema":{"type":"string"},"example":"restaurant-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveEntryResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/hotel/{hotelIdentifier}/inventory/recognition/{recognitionIdentifier}":{"get":{"tags":["Recognition"],"summary":"Show Recognition","description":"Retrieve a recognition by its identifier","operationId":"showRecognition","parameters":[{"name":"hotelIdentifier","in":"path","description":"Show recognition belonging to this hotel identifier","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"recognitionIdentifier","in":"path","description":"Show recognition associated with this identifier","required":true,"schema":{"type":"string"},"example":"recognition-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecognitionView"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"put":{"tags":["Recognition"],"summary":"Update Recognition","description":"Update a recognition by its identifier","operationId":"updateRecognition","parameters":[{"name":"hotelIdentifier","in":"path","description":"Update recognition record associated with this hotel identifier","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"recognitionIdentifier","in":"path","description":"Update recognition with this identifier","required":true,"schema":{"type":"string"},"example":"recognition-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Recognition"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecognitionView"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Recognition"],"summary":"Delete Recognition","description":"Delete a recognition by its identifier","operationId":"removeRecognition","parameters":[{"name":"hotelIdentifier","in":"path","description":"Delete recognition record for property with this hotel identifier","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"recognitionIdentifier","in":"path","description":"Delete recognition with this identifier","required":true,"schema":{"type":"string"},"example":"recognition-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveEntryResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/hotel/{hotelIdentifier}/inventory/rateplan/{ratePlanIdentifier}":{"get":{"tags":["Rate Plan"],"summary":"Show Rate Plan","description":"Retrieve a single rate plan identified by its identifier","operationId":"showRatePlan","parameters":[{"name":"hotelIdentifier","in":"path","description":"Show single rate plan owned by this hotel identifier.","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"ratePlanIdentifier","in":"path","description":"Show rate plan with this hotel identifier.","required":true,"schema":{"type":"string"},"example":"rate-plan-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RatePlanView"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"put":{"tags":["Rate Plan"],"summary":"Update Rate Plan","description":"Update an existing rate plan by its identifier","operationId":"updateRatePlan","parameters":[{"name":"hotelIdentifier","in":"path","description":"Update an existing rate plan owned by this hotel identifier.","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"ratePlanIdentifier","in":"path","description":"Update an existing rate plan identified with this identifier.","required":true,"schema":{"type":"string"},"example":"rate-plan-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertRatePlanRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RatePlanView"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Rate Plan"],"summary":"Delete Rate Plan","description":"Remove a rate plan by its identifier","operationId":"removeRatePlan","parameters":[{"name":"hotelIdentifier","in":"path","description":"Remove rate plan owned by this hotel identifier.","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"ratePlanIdentifier","in":"path","description":"Remove rate plan with this identifier.","required":true,"schema":{"type":"string"},"example":"rate-plan-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveEntryResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/hotel/{hotelIdentifier}/inventory/promotion/{promotionIdentifier}":{"get":{"tags":["Promotion"],"summary":"Show Promotion","description":"Retrieve a rate modifier by its identifier","operationId":"showPromotion","parameters":[{"name":"hotelIdentifier","in":"path","description":"Show single promotion owned by this hotel identifier.","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"promotionIdentifier","in":"path","description":"Show single promotion with this identifier.","required":true,"schema":{"type":"string"},"example":"promotion-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateModifierView"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"put":{"tags":["Promotion"],"summary":"Update Promotion","description":"Update an existing promotion by its identifier","operationId":"updatePromotion","parameters":[{"name":"hotelIdentifier","in":"path","description":"Update existing promotion owned by this hotel identifier.","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"promotionIdentifier","in":"path","description":"Update existing promotion with this identifier.","required":true,"schema":{"type":"string"},"example":"promotion-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertRateModifierRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateModifierView"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Promotion"],"summary":"Delete Promotion","description":"Delete a promotion by its identifier","operationId":"removeRateModifier","parameters":[{"name":"hotelIdentifier","in":"path","description":"Remove a promotion owned by this hotel identifier.","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"promotionIdentifier","in":"path","description":"Remove a promotion with this identifier.","required":true,"schema":{"type":"string"},"example":"promotion-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/jso
[...]
