{"openapi":"3.0.1","info":{"title":"Wink API","description":" # Introduction\n Welcome to the Wink API - A programmer-friendly way to manage, sell and book travel blocking on the Wink platform. The API gives you all the tools you need to ready your properties and blocking for sale across 1000s of our native sales channels.\n Integrators, affiliates, travel agents and content creators have the ability search for your travel blocking and promote / sell it in a wide variety of ways.\n\n # Integrations\n We have already integrated with the most well-known channel managers so you don't have to. To see our current integrations, please go to https://extranet.wink.travel and scroll to Connectivity section. Once your properties are set up, you can finish the setup by mapping your property to Wink using your channel manager partner portal. If your properties don't have a channel manager, you can easily manage rates and availability with this API.\n\n # Intended Audience\n Programmers are [most likely] a requirement to start integrating with Wink. Companies and organizations that would most benefit from integrating with us are new and existing travel companies that have relationships with suppliers and that need an advanced system from which to manage their travel blocking and get that same blocking out to as many eyeballs as possible at the lowest price possible.\n - Hotel chains\n - Hotel brands\n - Travel tech companies\n - Destination sites\n - Integrators\n - Aggregators\n - Destination management companies\n - Travel agencies\n - OTAs\n\n ## APIs\n Not every integrator needs every API. For that reason, we have separated APIs into context.\n\n### Test API\n\n - [Ping](/ping): The Ping API is a quick test endpoint to verify that your credentials work Wink.\n\n### Common APIs\n\n- [Notifications](/notifications): The Notifications API is a way for us to stay in touch with your user, property or affiliate account.\n- [User Settings](/user-settings): The User Settings API exposes endpoints to allow 3rd party integrators to communicate with Wink.\n\n### Consume APIs\nConsume endpoints are for developers who want to find existing travel blocking and either book it or use it to advertise through one of their Wink affiliate accounts.\n\n - [Configuration](/engine-client): A single endpoint to retrieve whitelabel + customization information for the booking engine.\n - [Lookup](/lookup): All APIs related to locating blocking by region, locale and property flags.\n - [Inventory](/blocking): All APIs related to retrieve known travel blocking as it was found using the Lookup API..\n - [Booking](/booking): All APIs related to creating bookings on the platform.\n - [Travel Agent](/travel-agent): The Travel Agent API exposes endpoints to manage agent-facilitated bookings.\n\n ### Produce APIs\n Produce endpoints are for developers who want to create and manage travel blocking.\n\n #### Property\n - [Property registration](/extranet/property/register): As a producer, this is, oftentimes, where you start your journey. These endpoints let you create properties on Wink.\n - [Property](/extranet/property): This collection of property endpoints are mostly management endpoints that let you display, change status and similar for your existing properties.\n - [Facilities](/extranet/facilities): This collection of endpoints let you manage facilities; such as room types.\n - [Experiences](/extranet/experiences): This collection of endpoints let you manage experiences, such as activities.\n - [Monetize](/extranet/monetize): The Monetize API exposes endpoints for managing cancellation polies, rate plans, promotions and more on Wink.\n - [Distribution](/extranet/distribution): The Distribution API exposes endpoints for sales channels, connecting with affiliates, managing rates and blocking calendars and more on Wink.\n - [Property Booking](/extranet/booking): The Property Booking API exposes endpoints for managing bookings and reviews at the property-level.\n\n #### Affiliate\n - [Affiliate](/affiliate): This collection of affiliate endpoints are mostly management endpoints that let you display, change status and similar for your existing accounts.\n - [Browse](/affiliate/browse): The Browse API exposes endpoints for affiliates to find suppliers and blocking to sell.\n - [Inventory](/affiliate/blocking): The Inventory API exposes endpoints for affiliates to manage the blocking they want to sell and how they want to sell it.\n - [Sales Channel](/affiliate/sales-channel): The Sales Channel API exposes endpoints for affiliates to manage existing sales channels as well as find new ones.\n - [WinkLinks](/affiliate/winklinks): The WinkLinks API exposes endpoints for affiliates to manage their WinkLinks page.\n\n #### Rate provider\n - [Channel manager](/channel-manager): The Channel Manager API enables external channel manager partners to map, exchange rate / availability information with us as well as be informed of bookings that occur on the Wink platform for one of their properties.\n\n ### Taxonomy APIs\n Taxonomy endpoints are for developers who want to consume and produce travel blocking and need taxonomies of standard and non-standard codes for blocking types, classes, statuses etc.\n\n - [Reference](/reactive): All APIs related to retrieving platform-supported taxonomies.\n\n ### Insight APIs\n Insight endpoints do exactly what the name implies - They offer platform-level insight into the activities of producers and consumers.\n\n - [Analytics](/analytics): All APIs related to tracking metrics across a wide variety of data source segments including, more entertaining, leaderboard metrics.\n\n ### Payment APIs\n Payment endpoints are for developers who want to purchase travel blocking. This can be done via the API as a registered Travel Agent or using our API in conjunction with our PCI compliant reactive widget for all other entities.\n\n - [TripPay](/reactive): All APIs related to TripPay account management, booking, mapping and integration features.\n\n ## SDKs\n We are actively working on supporting the most used languages out there. If you don't see your language here, reach out to us with a request to officially add your language. In the meantime, if you want to roll your own SDK, you can do so by downloading the OpenAPI spec and using one of the many available OpenAPI generators available: [https://openapi-generator.tech/docs/generators](https://openapi-generator.tech/docs/generators).\n\n - Java SDK [https://github.com/wink-travel/wink-sdk-java](https://github.com/wink-travel/wink-sdk-java)\n\n ## Usage\n These features are made available to you via a [REST API](https://en.wikipedia.org/wiki/Representational_state_transfer). This API is language agnostic.\n\n ## Versioning\n We chose to version our endpoints in a way that we hope affects your integration minimally. You request the version of our API you wish to work with via the `Wink-Version` header. When it's time for you to upgrade, you only have to change the version number to get access to our updated endpoints.\n\n ## Release history\n - Follow updates on Github: https://github.com/wink-travel/wink-sdk-java/blob/master/CHANGELOG.md\n\n\n\n# Booking Engine API\nWelcome to the Booking Engine API - A programmer-friendly way to book blocking that was found on our platform. This API lets you:\n\n1. Shopping Cart: Manage shopping cart.\n2. Checkout: Move shopping cart items through the reactive workflow.\n3. Booking: Move selected blocking through to booking completion.\n4. Review: Leave a review after a completed stay.\n\nBrowse the endpoints in the left navigation bar to get started.\n\n","contact":{"name":"Bjorn Harvold","email":"bjorn@wink.travel"},"version":"30.9.11","x-logo":{"backgroundColor":"#FFFFFF","altText":"wink","url":"https://res.cloudinary.com/traveliko/image/upload/c_scale,h_129/v1653285543/wink/logo_text_white.svg"}},"servers":[{"url":"https://api.wink.travel","description":"Endpoint"}],"tags":[{"name":"Booking","description":"Booking endpoints allow you to create and cancel bookings as well as to retrieve all bookings."},{"name":"Checkout","description":"Manages interaction with TripPay pre-reactive."},{"name":"Shopping Cart","description":"Manages shopping cart state for Wink users."},{"name":"Review","description":"Ability to review a booking."}],"paths":{"/api/shopping-cart":{"post":{"tags":["Shopping Cart"],"summary":"Create Shopping Cart","description":"Creates a shopping cart and adds item.","operationId":"createCart","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertShoppingCartItemRequest_Authenticated_Entity"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RealtimeShoppingCart_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Shopping Cart"],"summary":"Empty Shopping Carts","description":"Empties all carts.","operationId":"deleteCarts","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BooleanResponse_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/shopping-cart/list":{"get":{"tags":["Shopping Cart"],"summary":"Show Shopping Carts","description":"Display all of user's shopping cart","operationId":"showCarts","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RealtimeShoppingCart_Authenticated_Entity"}}}}}},"security":[{"oauth2ClientCredentials":[]}]},"post":{"tags":["Shopping Cart"],"summary":"Create Shopping Carts","description":"Creates shopping carts and adds an item to each.","operationId":"createCarts","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UpsertShoppingCartItemRequest_Authenticated_Entity"}}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RealtimeShoppingCart_Authenticated_Entity"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/checkout":{"post":{"tags":["Checkout"],"summary":"Prepare reactive","description":"Communicates shopping cart to TripPay.","operationId":"checkout","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckoutRequest_Authenticated_Entity"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckoutResponse_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/booking/{bookingIdentifier}/review":{"post":{"tags":["Review"],"summary":"Submit Review","description":"Submit review for booking","operationId":"submitReview","parameters":[{"name":"bookingIdentifier","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitReviewRequest_Authenticated_Entity"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewView_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/booking/grid":{"post":{"tags":["Booking"],"summary":"Search Bookings","description":"Retrieve paginated bookings based on a query state","operationId":"showBookingGrid","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/State_Booker"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageBookingView_Booker"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/shopping-cart/{shoppingCartIdentifier}/item/{shoppingCartItemIdentifier}":{"delete":{"tags":["Shopping Cart"],"summary":"Remove Shopping Cart Item","description":"Remove item from cart","operationId":"deleteCartItem","parameters":[{"name":"shoppingCartIdentifier","in":"path","description":"Cart to update","required":true,"schema":{"type":"string"},"example":"cart-1"},{"name":"shoppingCartItemIdentifier","in":"path","description":"Cart item to remove","required":true,"schema":{"type":"string"},"example":"cart-item-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RealtimeShoppingCart_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"patch":{"tags":["Shopping Cart"],"summary":"Update Shopping Cart Item","description":"Updates item in shopping cart.","operationId":"updateCartItem","parameters":[{"name":"shoppingCartIdentifier","in":"path","description":"Cart to update","required":true,"schema":{"type":"string"},"example":"cart-1"},{"name":"shoppingCartItemIdentifier","in":"path","description":"Cart item to update","required":true,"schema":{"type":"string"},"example":"cart-item-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertShoppingCartItemRequest_Authenticated_Entity"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RealtimeShoppingCart_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/booking/{bookingIdentifier}":{"get":{"tags":["Booking"],"summary":"Show Booking","description":"Retrieve a booking by its booking identifier.","operationId":"showBooking","parameters":[{"name":"bookingIdentifier","in":"path","description":"Retrieve booking by identifier","required":true,"schema":{"type":"string"},"example":"booking-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingView_Booker"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"patch":{"tags":["Booking"],"summary":"Cancel Booking","description":"Cancel a booking by its booking identifier","operationId":"cancelBooking","parameters":[{"name":"bookingIdentifier","in":"path","description":"Cancel booking by identifier","required":true,"schema":{"type":"string"},"example":"booking-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancellationDetail_Booker"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingView_Booker"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/booking/{bookingIdentifier}/resend":{"patch":{"tags":["Booking"],"summary":"Resend Booking Confirmation","description":"Resends booking confirmation email to traveler.","operationId":"resendBookingConfirmationEmail","parameters":[{"name":"bookingIdentifier","in":"path","description":"Retrieve booking by identifier","required":true,"schema":{"type":"string"},"example":"booking-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"description":"Empty request body","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyRequestBody_Booker"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BooleanResponse_Booker"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/booking/group/{groupIdentifier}":{"get":{"tags":["Booking"],"summary":"Show Grouped Bookings","description":"Retrieve a list of bookings by group identifier. User needs to be authenticated.","operationId":"showGroupedBookings","parameters":[{"name":"groupIdentifier","in":"path","description":"Retrieve booking by identifier","required":true,"schema":{"type":"string"},"example":"booking-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookingView_Booker"}}}}}},"security":[{"oauth2ClientCredentials":[]}]},"patch":{"tags":["Booking"],"summary":"Cancel Group Booking","description":"Cancel a group booking by its group identifier","operationId":"cancelGroupBooking","parameters":[{"name":"groupIdentifier","in":"path","description":"Cancel booking by group identifier","required":true,"schema":{"type":"string"},"example":"trace-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancellationDetail_Booker"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookingView_Booker"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/shopping-cart/{shoppingCartIdentifier}":{"get":{"tags":["Shopping Cart"],"summary":"Show Shopping Cart","description":"Display user's shopping cart","operationId":"showCart","parameters":[{"name":"shoppingCartIdentifier","in":"path","description":"Cart to retrieve","required":true,"schema":{"type":"string"},"example":"cart-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RealtimeShoppingCart_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Shopping Cart"],"summary":"Remove Shopping Cart","description":"Removes the cart. Not necessary as the cart has a TTL of only an hour anyway.","operationId":"deleteCart","parameters":[{"name":"shoppingCartIdentifier","in":"path","description":"Cart to remove","required":true,"schema":{"type":"string"},"example":"cart-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveEntryResponse_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/booking/{bookingIdentifier}/review/questions":{"get":{"tags":["Review"],"summary":"Show Review Template","description":"Loads available questions and answer options","operationId":"populateReview","parameters":[{"name":"bookingIdentifier","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewTemplate_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/booking/tx/{transactionIdentifier}":{"get":{"tags":["Booking"],"summary":"Show Booking by TX ID","description":"Retrieve a booking by its transaction identifier.","operationId":"showBookingByTransactionId","parameters":[{"name":"transactionIdentifier","in":"path","description":"Retrieve booking by transaction identifier","required":true,"schema":{"type":"string"},"example":"booking-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingView_Booker"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/booking/state":{"get":{"tags":["Booking"],"summary":"Show Bookings by Time","description":"Retrieve bookings for a date state","operationId":"showBookingsByState","parameters":[{"name":"state","in":"query","description":"Retrieve bookings by state","required":false,"schema":{"type":"string","default":"FUTURE","enum":["PAST","PRESENT","FUTURE","CANCELLED","CANCELLED_BY_GUEST","CANCELLED_BY_HOTEL","CANCELLED_BY_ENGINE","ACTIVE"]},"example":"FUTURE"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookingView_Booker"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/booking/review/list":{"get":{"tags":["Booking"],"summary":"Show Bookings by Review","description":"List bookings by their review state","operationId":"showBookingsByReviewState","parameters":[{"name":"state","in":"query","description":"Retrieve bookings by review state","required":false,"schema":{"type":"string","default":"NEEDS_REVIEW","enum":["NEEDS_REVIEW","REVIEWED"]},"example":"NEEDS_REVIEW"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookingView_Booker"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/booking/list":{"get":{"tags":["Booking"],"summary":"Show Booking List","description":"Retrieve bookings in a paginated list","operationId":"showBookings","parameters":[{"name":"page","in":"query","description":"Page to start retrieving records for","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"size","in":"query","description":"Number of records to retrieve","required":false,"schema":{"type":"integer","format":"int32","default":10},"example":10},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageBookingView_Booker"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/shopping-cart/{shoppingCartIdentifier}/item/{shoppingCartItemIdentifier}/ancillary/{shoppingCartItemAncillaryIdentifier}":{"delete":{"tags":["Shopping Cart"],"summary":"Remove Shopping Cart Item Ancillary","description":"Remove item ancillary from cart","operationId":"deleteCartItemAncillary","parameters":[{"name":"shoppingCartIdentifier","in":"path","description":"Cart to update","required":true,"schema":{"type":"string"},"example":"cart-1"},{"name":"shoppingCartItemIdentifier","in":"path","description":"Cart item to update","required":true,"schema":{"type":"string"},"example":"cart-item-1"},{"name":"shoppingCartItemAncillaryIdentifier","in":"path","description":"Cart item ancillary to remove","required":true,"schema":{"type":"string"},"example":"cart-item-ancillary-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RealtimeShoppingCart_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/shopping-cart/{shoppingCartIdentifier}/empty":{"delete":{"tags":["Shopping Cart"],"summary":"Empty Shopping Cart","description":"Empties selected cart.","operationId":"emptyCart","parameters":[{"name":"shoppingCartIdentifier","in":"path","description":"Cart to empty","required":true,"schema":{"type":"string"},"example":"cart-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RealtimeShoppingCart_Authenticated_Entity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}}},"components":{"schemas":{"GenericErrorMessage":{"type":"object","properties":{"timestamp":{"type":"string","xml":{"attribute":true}},"status":{"type":"integer","format":"int32","xml":{"attribute":true}},"error":{"type":"string"},"message":{"type":"string"},"path":{"type":"string"}},"description":"Generic error message","xml":{"name":"ErrorMessage"}},"AncillaryRequest_Authenticated_Entity":{"required":["channelInventoryIdentifier","endDate","quantity","startDate","transactionalTravelInventoryIdentifier","type","typeIdentifier"],"type":"object","properties":{"typeIdentifier":{"type":"string","description":"Travel blocking identifier","format":"uuid"},"channelInventoryIdentifier":{"type":"string","description":"Channel blocking identifier","format":"uuid"},"transactionalTravelInventoryIdentifier":{"type":"string","description":"Travel blocking identifier","format":"uuid"},"startDate":{"type":"string","description":"Date start time when reservation was made for.","format":"date-time"},"endDate":{"type":"string","description":"Date end time when reservation was made for.","format":"date-time"},"quantity":{"minimum":1,"type":"integer","description":"Quantity of the ancillary requested.","format":"int32","example":2,"default":1},"identifier":{"type":"string","description":"Ancillary identifier","format":"uuid"},"type":{"type":"string","description":"Inventory type","example":"PLACE","enum":["ROOM_TYPE_ANCILLARY","ADD_ON","MEETING_ROOM","SPA","RESTAURANT","ACTIVITY","ATTRACTION","PLACE"]}},"description":"Extra reservations of spas, meeting rooms etc that should accompany the room type booking."},"BookingUserRequest_Authenticated_Entity":{"required":["email","firstName","lastName"],"type":"object","properties":{"firstName":{"type":"string","description":"First name","example":"John"},"lastName":{"type":"string","description":"Last name","example":"Smith"},"email":{"type":"string","description":"Email","format":"email","example":"john.smith@email.com"},"telephone":{"type":"string","description":"Telephone","example":"0123456789"},"valid":{"type":"boolean"}},"description":"User object contains details of the person that made the booking."},"Child_Authenticated_Entity":{"required":["age","quantity"],"type":"object","properties":{"quantity":{"minimum":1,"type":"integer","description":"Number of children","format":"int32"},"age":{"minimum":0,"type":"integer","description":"Age of children","format":"int32"}},"description":"BookingItineraryRoomConfigurationChild configuration"},"RoomConfiguration_Authenticated_Entity":{"required":["adults"],"type":"object","properties":{"adults":{"minimum":1,"type":"integer","description":"Number of adults","format":"int32","example":2,"default":1},"children":{"type":"array","description":"Children configurations","items":{"$ref":"#/components/schemas/Child_Authenticated_Entity"}}},"description":"Room Configuration"},"UpsertShoppingCartItemRequest_Authenticated_Entity":{"required":["currency","engineConfigurationIdentifier","hotelIdentifier","roomConfiguration","roomRateIdentifier","startDate","user"],"type":"object","properties":{"hotelIdentifier":{"type":"string","description":"Unique hotel record identifier.","format":"uuid"},"startDate":{"type":"string","description":"Date when guest arrives on the premises.","format":"date","example":"2021-01-31"},"endDate":{"type":"string","description":"Date when guest departs the premises. Optional if nights is specified.","format":"date","example":"2021-02-07"},"nights":{"type":"integer","description":"Date when guest departs the premises. Optional if endDate is specified.","format":"int32","example":1},"roomConfiguration":{"$ref":"#/components/schemas/RoomConfiguration_Authenticated_Entity"},"promotionalCodes":{"type":"array","items":{"type":"string","description":"List of promotional codes the user entered to to activate a promotion.","example":"promo-1"}},"roomRateIdentifier":{"type":"string","description":"The unique master rate that made the guest room / rate plan available for sale.","format":"uuid"},"bedroomConfigurationIdentifier":{"type":"string","description":"Guest can optionally request a specific bedroom layout if the room type is set up with multiple layout choices."},"ancillaries":{"type":"array","items":{"$ref":"#/components/schemas/AncillaryRequest_Authenticated_Entity"}},"specialRequests":{"type":"string","description":"A guest can send a special request to the hotel in free-text here.","example":"Can I please have rose petals on my pillows when I arrive?"},"user":{"$ref":"#/components/schemas/BookingUserRequest_Authenticated_Entity"},"language":{"type":"string","description":"User's language preference","example":"en"},"currency":{"type":"string","description":"User's currency preference","example":"USD"},"lifestyle":{"type":"string","description":"Control which lifestyle the user used.","example":"LIFESTYLE_HEALTH_FITNESS","enum":["LIFESTYLE_HEALTH_FITNESS","LIFESTYLE_RELAX","LIFESTYLE_ADULT_ONLY","LIFESTYLE_ADVENTURE","LIFESTYLE_BUSINESS","LIFESTYLE_LGBT","LIFESTYLE_SINGLE_PARENT","LIFESTYLE_SOLO_FEMALE","LIFESTYLE_BEAUTY","LIFESTYLE_FOODIE","LIFESTYLE_FAMILY","LIFESTYLE_ROMANCE","LIFESTYLE_COUPLE","LIFESTYLE_SOLO","LIFESTYLE_BACKPACKER","LIFESTYLE_SHOPPING","LIFESTYLE_SPORTS","LIFESTYLE_MOUNTAIN","LIFESTYLE_BEACH","LIFESTYLE_CITY","LIFESTYLE_COUNTRY","LIFESTYLE_CULTURE","LIFESTYLE_ECO"]},"engineConfigurationIdentifier":{"type":"string","description":"Affiliate customization","example":"custom-1"},"validUser":{"type":"boolean"}}},"Address_Authenticated_Entity":{"required":["address1","city"],"type":"object","properties":{"address1":{"type":"string","description":"Address line 1","example":"234 Near da beach"},"address2":{"type":"string","description":"Address line 2","example":"Pebble #5001"},"state":{"type":"string","description":"State","example":"CA"},"postalCode":{"type":"string","description":"Postal / zip code","example":"90210"},"county":{"type":"string","description":"County","example":"Alameda county"},"city":{"$ref":"#/components/schemas/GeoName_Authenticated_Entity"},"valid":{"type":"boolean","description":"Whether this address is considered valid by the system or not","readOnly":true,"example":true},"fullAddress":{"type":"string","description":"Address 1, Address 2, City, State, Postal / Zip code, Country","readOnly":true,"example":"11 At home, Suite 3C, New York City, NY 10010, United States"}},"description":"Address information"},"Bed_Authenticated_Entity":{"required":["bedTypeCode","quantity"],"type":"object","properties":{"bedTypeCode":{"type":"string","description":"Indicates the type of bed(s) found in the room. Typical values would be Double, Twin, Queen, or King. Supported OTA specification `BED` code. See [OTA geoname data](#operation/showAvailableCodesForCategory).","example":"1"},"quantity":{"minimum":1,"type":"integer","description":"Number of beds for this bed type.","format":"int32","example":10}}},"BedroomConfiguration_Authenticated_Entity":{"required":["bedroomList","identifier","name"],"type":"object","properties":{"identifier":{"type":"string","description":"Unique identifier","format":"uuid"},"name":{"type":"string","description":"Name of layout"},"bedroomList":{"type":"array","description":"A room type can have more than one bedroom configuration.","items":{"$ref":"#/components/schemas/Bedroom_Authenticated_Entity"}}},"description":"Desired bedroom layout"},"Bedroom_Authenticated_Entity":{"required":["bedList","type"],"type":"object","properties":{"type":{"type":"string","description":"Type of bedroom","enum":["MASTER","QUEEN","JUNIOR","DORMITORY","BEDROOM_1","BEDROOM_2","BEDROOM_3","BEDROOM_4","BEDROOM_5","BEDROOM_6","BEDROOM_7","BEDROOM_8","BEDROOM_9","BEDROOM_10"]},"bedList":{"type":"array","description":"A bedroom can have more than one bed type.","items":{"$ref":"#/components/schemas/Bed_Authenticated_Entity"}}}},"BookingAncillary_Authenticated_Entity":{"required":["address","attendees","commission","commissionable","contact","endDate","hotelIdentifier","identifier","imageIdentifier","imageUrl","localizedDescription","localizedName","mandatory","name","price","pricingType","startDate","transactionalTravelInventoryIdentifier","type","typeIdentifier"],"type":"object","properties":{"identifier":{"type":"string","description":"Ancillary identifier","format":"uuid"},"hotelIdentifier":{"type":"string","description":"Hotel identifier","format":"uuid"},"typeIdentifier":{"type":"string","description":"Travel blocking identifier","format":"uuid"},"transactionalTravelInventoryIdentifier":{"type":"string","description":"Travel blocking identifier","format":"uuid"},"name":{"type":"string","description":"Name of blocking","example":"Place 1"},"pricingType":{"type":"string","description":"Pricing type","example":"PER_USE","enum":["PER_STAY","PER_DAY","PER_NIGHT","PER_USE","PER_HOUR","PER_PERSON","PER_PERSON_PER_NIGHT","PER_PERSON_PER_HOUR","PER_ADULT","PER_ADULT_PER_NIGHT","PER_ADULT_PER_HOUR","PER_CHILD","PER_CHILD_PER_NIGHT","PER_CHILD_PER_HOUR"]},"type":{"type":"string","description":"Inventory type","example":"PLACE","enum":["ROOM_TYPE_ANCILLARY","ADD_ON","MEETING_ROOM","SPA","RESTAURANT","ACTIVITY","ATTRACTION","PLACE"]},"price":{"$ref":"#/components/schemas/LocalizedPrice_Authenticated_Entity"},"startDate":{"type":"string","description":"Date start time when reservation was made for.","format":"date-time"},"endDate":{"type":"string","description":"Date end time when reservation was made for.","format":"date-time"},"attendees":{"type":"integer","description":"Number of guests that are part of this reservation.","format":"int32","example":2,"default":1},"imageIdentifier":{"type":"string","description":"Cloudinary image identifier","example":"cloudinary-image-1"},"imageUrl":{"type":"string","description":"Absolute URL to image of blocking","example":"https://path.to.image.com/this-is-me.jpg"},"localizedName":{"type":"string","description":"Name of travel blocking in traveler language (if available). Defaults to English.","example":"Plass 1"},"localizedDescription":{"type":"string","description":"Description of travel blocking in traveler language (if available). Defaults to English.","example":"place-1"},"contact":{"$ref":"#/components/schemas/Contact_Authenticated_Entity"},"address":{"$ref":"#/components/schemas/Address_Authenticated_Entity"},"commissionable":{"type":"boolean"},"mandatory":{"type":"boolean"},"commission":{"type":"number","format":"float"}},"description":"Extra reservations of spas, meeting rooms etc that should accompany the room type booking."},"CancellationPolicyException_Authenticated_Entity":{"required":["cancellationPolicy","cancellationPolicyIdentifier","endDate","startDate"],"type":"object","properties":{"cancellationPolicyIdentifier":{"type":"string","description":"Cancellation policy","format":"uuid"},"cancellationPolicy":{"$ref":"#/components/schemas/CancellationPolicy_Authenticated_Entity"},"startDate":{"type":"string","description":"Start date for when this cancellation policy should start to override the default cancellation policy.","format":"date"},"endDate":{"type":"string","description":"End date for when this cancellation policy should end overriding the default cancellation policy.","format":"date"}}},"CancellationPolicyExceptions_Authenticated_Entity":{"required":["list"],"type":"object","properties":{"list":{"type":"array","description":"List of cancellation policy exceptions","items":{"$ref":"#/components/schemas/CancellationPolicyException_Authenticated_Entity"}}},"description":"Allows a property to dynamically use another cancellation policy for a specific date range"},"CancellationPolicy_Authenticated_Entity":{"required":["hotelIdentifier","identifier","refundable"],"type":"object","properties":{"identifier":{"type":"string","description":"Unique cancellation policy identifier","format":"uuid"},"hotelIdentifier":{"type":"string","description":"Property this cancellation is associated with","format":"uuid"},"refundable":{"type":"boolean","description":"Whether this cancellation policy is refundable or not","example":false,"default":false},"advanceCancellationFreeOfCharge":{"type":"string","description":"When the cancellation policy is refundable, this flag can be set and indicates there is more rules involved than just a no-questions-asked refundable.","example":"UNTIL_EIGHTEEN_HUNDRED_HOURS_ON_DAY_OF_ARRIVAL","enum":["UNTIL_EIGHTEEN_HUNDRED_HOURS_ON_DAY_OF_ARRIVAL","UNTIL_FOURTEEN_HUNDRED_HOURS_ON_DAY_OF_ARRIVAL","ONE_DAY_BEFORE_ARRIVAL","TWO_DAYS_BEFORE_ARRIVAL","THREE_DAYS_BEFORE_ARRIVAL","FIVE_DAYS_BEFORE_ARRIVAL","SEVEN_DAYS_BEFORE_ARRIVAL","FOURTEEN_DAYS_BEFORE_ARRIVAL","TWENTYONE_DAYS_BEFORE_ARRIVAL","THIRTY_DAYS_BEFORE_ARRIVAL","FOURTY_TWO_DAYS_BEFORE_ARRIVAL","SIXTY_DAYS_BEFORE_ARRIVAL"]},"refundableCancellationCharge":{"type":"string","description":"If advanceCancellationFreeOfCharge rules is not honored, this property explains what the guest will be charged.","example":"FIFTY_PERCENT","enum":["FIRST_NIGHT","THIRTY_PERCENT","FIFTY_PERCENT","SIXTY_PERCENT","SEVENTY_PERCENT","NINENTY_PERCENT","ONE_HUNDRED_PERCENT"]},"noShowCharge":{"type":"string","description":"In case the 'Refundable cancellation charge' is set, a different no show charge can be applied.","example":"SAME_AS_CANCELLATION_FEE","enum":["SAME_AS_CANCELLATION_FEE","ONE_HUNDRED_PERCENT_OF_TOTAL_CHARGE"]},"nonRefundableCancellationCharge":{"type":"string","description":"When the cancellation policy is non-refundable, this flag can be set and indicates there is more rules involved to calculate what the guest will owe in case of a cancellation.","example":"SEVENTY_PERCENT","enum":["FIRST_NIGHT","TEN_PERCENT","THIRTY_PERCENT","FIFTY_PERCENT","SEVENTY_PERCENT"]},"nonRefundableDeadline":{"type":"string","description":"The non-refundable charge might can have a deadline. If that deadline passes, the guest might be charged more.","example":"SEVEN_DAYS_BEFORE_ARRIVAL","enum":["ONE_DAY_BEFORE_ARRIVAL","TWO_DAYS_BEFORE_ARRIVAL","THREE_DAYS_BEFORE_ARRIVAL","FIVE_DAYS_BEFORE_ARRIVAL","SEVEN_DAYS_BEFORE_ARRIVAL","FOURTEEN_DAYS_BEFORE_ARRIVAL","TWENTYONE_DAYS_BEFORE_ARRIVAL","THIRTY_DAYS_BEFORE_ARRIVAL","FOURTY_TWO_DAYS_BEFORE_ARRIVAL","SIXTY_DAYS_BEFORE_ARRIVAL"]},"nonRefundableAfterDeadlineCancellationCharge":{"type":"string","description":"If the guest does not honor the non-refundable deadline rule, this charge dictates what she owes after the deadline passes.","example":"ONE_HUNDRED_PERCENT","enum":["FIRST_NIGHT","TEN_PERCENT","THIRTY_PERCENT","FIFTY_PERCENT","SEVENTY_PERCENT","ONE_HUNDRED_PERCENT"]},"policyCode":{"type":"string"}},"description":"Based on the itinerary, the cancellation policy could be taken directly from the rate plan or it could be a policy exception also listed on the rate plan"},"Contact_Authenticated_Entity":{"type":"object","properties":{"firstName":{"type":"string","description":"Contact first name","example":"John"},"lastName":{"type":"string","description":"Contact last name","example":"Smith"},"email":{"type":"string","description":"Contact E-mail","example":"johnsmith@email.com"},"secondaryEmail":{"type":"string","description":"Contact secondary Email","example":"johnsmith2@email.com"},"phoneNumber":{"type":"string","description":"Contact phone number","example":"+12125551212"},"fullName":{"type":"string","description":"First and last name","readOnly":true,"example":"John Smith"},"summary":{"type":"string","description":"Summary","readOnly":true,"example":"John Smith (johnsmith@gmail.com / +12125551212)"}},"description":"Associate a contact person for this blocking (if applicable)."},"Country_Authenticated_Entity":{"type":"object","properties":{"iso":{"type":"string","description":"ISO code","example":"US"},"name":{"type":"string","description":"Country name","example":"United States"},"capital":{"type":"string","description":"Country capital","example":"Washington"},"continent":{"type":"string","description":"Continent code","example":"NA"},"currencyCode":{"type":"string","description":"Currency code","example":"USD"},"currencyName":{"type":"string","description":"Currency name","example":"Dollar"},"geoNameId":{"type":"string","description":"Country GeoNames identifier","example":"6252001"}},"description":"Country"},"CustomMonetaryAmount":{"required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number"},"currency":{"type":"string"}}},"DowPatternGroup_Authenticated_Entity":{"type":"object","properties":{"mon":{"type":"boolean","description":"Set to `true` to enable Monday.","example":true},"tue":{"type":"boolean","description":"Set to `true` to enable Tuesday.","example":true},"wed":{"type":"boolean","description":"Set to `true` to enable Wednesday.","example":true},"thu":{"type":"boolean","description":"Set to `true` to enable Thursday.","example":true},"fri":{"type":"boolean","description":"Set to `true` to enable Friday.","example":true},"sat":{"type":"boolean","description":"Set to `true` to enable Saturday.","example":true},"sun":{"type":"boolean","description":"Set to `true` to enable Sunday.","example":true},"disabled":{"type":"boolean","description":"Convenience property to quickly determine if this existing object has any active days enabled.","example":true}}},"ExtraCharge_Authenticated_Entity":{"title":"Items","type":"object","properties":{"ratePlanLevelFee":{"$ref":"#/components/schemas/RatePlanLevelFee_Authenticated_Entity"},"unitPrice":{"$ref":"#/components/schemas/LocalizedPrice_Authenticated_Entity"},"price":{"$ref":"#/components/schemas/LocalizedPrice_Authenticated_Entity"}},"description":"List of extra charges that applies to the rate plan."},"ExtraCharges_Authenticated_Entity":{"type":"object","properties":{"items":{"title":"Items","type":"array","description":"List of extra charges that applies to the rate plan.","items":{"$ref":"#/components/schemas/ExtraCharge_Authenticated_Entity"}},"userSpecifiedCurrencyTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"sourceTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"internalTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"}},"description":"Rate plan-level extra charges"},"GeneralManager_Authenticated_Entity":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"Name of GM currently managing the property.","example":"Jane Doe"},"image":{"$ref":"#/components/schemas/SimpleMultimedia_Authenticated_Entity"},"descriptions":{"type":"array","description":"Localized welcome message from GM.","items":{"$ref":"#/components/schemas/LocalizedDescription_Authenticated_Entity"}}},"description":"General manager related data."},"GeoJsonPoint_Authenticated_Entity":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"},"type":{"type":"string"},"coordinates":{"type":"array","items":{"type":"number","format":"double"}}},"description":"Geo-location point where blocking takes place. Defaults to location of property.","example":{"type":"POINT","coordinates":[100.5581533,13.7370197]}},"GeoName_Authenticated_Entity":{"type":"object","properties":{"geoNameId":{"type":"string","description":"GeoName identifier","example":"5128581"},"type":{"type":"string","description":"GeoName type","enum":["CITY","ISLAND","OTHER"]},"name":{"type":"string","description":"Name of city","example":"New York City"},"urlName":{"type":"string","description":"Url name","example":"new-york-city-united-states"},"asciiName":{"type":"string","description":"Ascii name of city","example":"New York City"},"location":{"$ref":"#/components/schemas/GeoJsonPoint_Authenticated_Entity"},"featureCode":{"type":"string"},"countryCode":{"type":"string"},"timezone":{"type":"string","description":"Timezone","example":"America/New_York"},"country":{"$ref":"#/components/schemas/Country_Authenticated_Entity"},"subCountry":{"$ref":"#/components/schemas/SubCountry_Authenticated_Entity"},"subSubCountry":{"$ref":"#/components/schemas/SubSubCountry_Authenticated_Entity"}},"description":"GeoNames have been created at [https://geonames.org](https://geonames.org) and contain geographical destinations we use as geoname data to associate travel inventory with a location."},"GuestRoom_Authenticated_Entity":{"required":["active","address","bathroomCount","bedroomConfigurationList","bookable","commissionable","composite","compositeCount","contact","descriptions","featuredInd","hotelIdentifier","identifier","includedAdultOccupancy","includedChildOccupancy","livingRoomCount","location","maxAdultOccupancy","maxChildOccupancy","maxCribs","maxOccupancy","maxRollaways","minOccupancy","multimedias","name","nonSmoking","pricePoint","proximityCode","quantity","roomArchitectureCode","roomCategory","roomClassificationCode","roomLocationCode","roomViewCode","sharedRoomInd","size"],"type":"object","properties":{"identifier":{"type":"string","description":"Unique record identifier","format":"uuid"},"hotelIdentifier":{"type":"string","description":"Hotel identifier.","format":"uuid"},"featuredInd":{"type":"boolean","description":"Indicates whether this blocking is featured. Use this flag as a way to signify that this blocking is special.","example":false},"lifestyleType":{"type":"string","description":"Indicate the type of lifestyle this blocking should be associated with.","example":"LIFESTYLE_HEALTH_FITNESS","enum":["LIFESTYLE_HEALTH_FITNESS","LIFESTYLE_RELAX","LIFESTYLE_ADULT_ONLY","LIFESTYLE_ADVENTURE","LIFESTYLE_BUSINESS","LIFESTYLE_LGBT","LIFESTYLE_SINGLE_PARENT","LIFESTYLE_SOLO_FEMALE","LIFESTYLE_BEAUTY","LIFESTYLE_FOODIE","LIFESTYLE_FAMILY","LIFESTYLE_ROMANCE","LIFESTYLE_COUPLE","LIFESTYLE_SOLO","LIFESTYLE_BACKPACKER","LIFESTYLE_SHOPPING","LIFESTYLE_SPORTS","LIFESTYLE_MOUNTAIN","LIFESTYLE_BEACH","LIFESTYLE_CITY","LIFESTYLE_COUNTRY","LIFESTYLE_CULTURE","LIFESTYLE_ECO"]},"location":{"$ref":"#/components/schemas/GeoJsonPoint_Authenticated_Entity"},"descriptions":{"type":"array","description":"Localized descriptions describing blocking.","items":{"$ref":"#/components/schemas/SimpleDescription_Authenticated_Entity"}},"multimedias":{"type":"array","description":"List of images / videos of blocking.","items":{"$ref":"#/components/schemas/SimpleMultimedia_Authenticated_Entity"}},"contact":{"$ref":"#/components/schemas/Contact_Authenticated_Entity"},"address":{"$ref":"#/components/schemas/Address_Authenticated_Entity"},"commissionable":{"type":"boolean","description":"Indicate whether sales channels receive commission for selling this blocking.","example":true,"default":true},"name":{"type":"string","description":"Internal name of blocking.","example":"Archery lesson"},"proximityCode":{"type":"string","description":"Supported OTA specification `PRX` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"1"},"sort":{"type":"integer","description":"Use this property to sort an blocking in a list of activities.","format":"int32","example":1},"minAgeAppropriateCode":{"type":"string","description":"Supported OTA specification `AQC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"1"},"bookable":{"type":"boolean","description":"Indicates if this blocking can be added to a booking or if it is read-only marketing material only.","example":true,"default":true},"active":{"type":"boolean","description":"Modify blocking availability with this flag.","example":true,"default":true},"disabilityFeatures":{"type":"array","description":"Supported OTA specification `PHY` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":["1"],"items":{"type":"string"}},"securityFeatures":{"type":"array","description":"Supported OTA specification `SEC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":["1"],"items":{"type":"string"}},"socials":{"type":"array","description":"Social network accounts for blocking (if applicable).","items":{"$ref":"#/components/schemas/Social_Authenticated_Entity"}},"pricePoint":{"type":"string","description":"Level of expensiveness.","example":"THREE","default":"THREE","enum":["HALF","ONE","ONE_HALF","TWO","TWO_HALF","THREE","THREE_HALF","FOUR","FOUR_HALF","FIVE"]},"recognitionList":{"type":"array","description":"Inventory-level recognition.","items":{"$ref":"#/components/schemas/TravelInventoryRecognition_Authenticated_Entity"}},"maxOccupancy":{"minimum":1,"type":"integer","description":"Maximum number of guest allowed in a room type.","format":"int32","example":2,"default":2},"minOccupancy":{"minimum":1,"type":"integer","description":"Minimum number of guests allowed in a room type.","format":"int32","example":1,"default":1},"quantity":{"minimum":1,"type":"integer","description":"Defines the number of rooms of this type","format":"int32","example":40},"nonSmoking":{"type":"boolean","description":"Non-smoking indicator","example":true},"bedroomConfigurationList":{"type":"array","description":"A room type can have more than one bed configuration.","items":{"$ref":"#/components/schemas/BedroomConfiguration_Authenticated_Entity"}},"size":{"minimum":1,"type":"number","description":"Number of square meters that defines the size of this room type.","format":"float","example":55},"maxAdultOccupancy":{"minimum":1,"type":"integer","description":"Maximum number of adults allowed in a room type.","format":"int32","example":1,"default":2},"maxChildOccupancy":{"minimum":0,"type":"integer","description":"Maximum number of children allowed in a room type.","format":"int32","example":0,"default":0},"bathroomCount":{"minimum":0,"type":"integer","description":"Number of bathrooms","format":"int32","example":0,"default":1},"livingRoomCount":{"minimum":0,"type":"integer","description":"Number of living rooms","format":"int32","example":0,"default":1},"maxRollaways":{"minimum":0,"type":"integer","description":"Maximum number of rollaway beds allowed in this room type.","format":"int32","example":0,"default":0},"roomCategory":{"type":"string","description":"Indicates the category of the room. Typical values would be Moderate, Standard, or Deluxe. Supported OTA specification `SEG` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"1"},"floor":{"type":"string","description":"Floor an which a room is located"},"roomLocationCode":{"type":"string","description":"Indicates the location of the room within the hotel structure. Typical values would be \"Near Exit\",\"Close to elevator\", \"Low Floor\" or \"High Floor\". Supported OTA specification `RLT` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"1"},"roomViewCode":{"type":"string","description":"Indicates the view of the room. Typical values would be \"Ocean view\", \"Pool view\" or \"Garden View\". Supported OTA specification `RVT` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"1"},"composite":{"type":"boolean","description":"Indicates that the room (suite) is a composite of smaller units.","example":false,"default":false},"compositeCount":{"minimum":0,"type":"integer","description":"Number of rooms of this room type that makes up a larger unit (composite) such as a two bedroom suite could be comprised of two king rooms plus other room types. A 0 means disabled.","format":"int32","example":2,"default":0},"roomClassificationCode":{"type":"string","description":"Specifies the room classification (e.g., cabin, apartment). Supported OTA specification `GRI` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"1"},"roomArchitectureCode":{"type":"string","description":"Specifies the architectural style of a room. Supported OTA specification `ARC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"1"},"roomGender":{"type":"string","description":"Used to request or specify a gender assignment for a room. Note: Typically used by Hosteliers.","example":"Female","default":"Unknown","enum":["Male","Female","MaleAndFemale","Unknown"]},"sharedRoomInd":{"type":"boolean","description":"If TRUE, the room requires or has sharing available. Note: Typically used by Hosteliers.","example":false,"default":false},"maxCribs":{"minimum":0,"type":"integer","description":"Maximum number of cribs allowed in a room type.","format":"int32","example":1,"default":0},"amenities":{"type":"array","description":"Collection of room amenity items available to the guest. Supported OTA specification `RMA` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":["1","7"],"items":{"type":"string"}},"includedAdultOccupancy":{"minimum":0,"type":"integer","description":"The number of pax the room price was meant for","format":"int32","example":2,"default":2},"includedChildOccupancy":{"minimum":0,"type":"integer","description":"The number of children the room price was meant for","format":"int32","example":0,"default":0}},"description":"Guest room details."},"HotelOnMap_Authenticated_Entity":{"type":"object","properties":{"identifier":{"type":"string","description":"Unique record identifier. This is NOT the same as the unique hotel record identifier.","example":"document-1"},"hotelIdentifier":{"type":"string","description":"Unique hotel record identifier.","format":"uuid"},"name":{"type":"string","description":"Hotel trade name","example":"The Loveliest Hotel"},"localName":{"type":"string","description":"Hotel local name if different from the trade name or if it is the local language.","example":"Det Beste Hotellet"},"chain":{"type":"string","description":"Name of hotel chain if applicable.","example":"Hotel chain"},"brand":{"type":"string","description":"Name of hotel brand","example":"Hotel brand"},"urlName":{"type":"string","description":"Unique URL-friendly name slug of hotel","example":"the-loveliest-hotel-new-york-united-states"},"starRating":{"maximum":6,"minimum":0,"type":"integer","description":"Official or self-designated property star rating. Note that in some regions there are 6-star hotels. They are the same as 5-star hotels everywhere else.","format":"int32","example":4},"bookings":{"type":"integer","description":"Number of bookings for this property on the wink.travel platform.","format":"int64","example":6054,"default":0},"aggregateReviewRating":{"type":"number","description":"Aggregate score based on all current user reviews.","format":"float","example":7.8,"default":0.0},"location":{"$ref":"#/components/schemas/GeoJsonPoint_Authenticated_Entity"},"shortDescriptions":{"type":"array","description":"A localized list of short property descriptions","items":{"$ref":"#/components/schemas/LocalizedDescription_Authenticated_Entity"}},"longDescriptions":{"type":"array","description":"A localized list of longer property descriptions","items":{"$ref":"#/components/schemas/LocalizedDescription_Authenticated_Entity"}},"aggregateGreendexRating":{"type":"number","description":"Aggregate Green Index score if the property has answered our questionnaire available in the Extranet.","format":"float","example":7.0,"default":0.0},"lifestyleTypes":{"type":"array","items":{"type":"string","description":"A list of lifestyles the property associates with.","example":"LIFESTYLE_HEALTH_FITNESS","enum":["LIFESTYLE_HEALTH_FITNESS","LIFESTYLE_RELAX","LIFESTYLE_ADULT_ONLY","LIFESTYLE_ADVENTURE","LIFESTYLE_BUSINESS","LIFESTYLE_LGBT","LIFESTYLE_SINGLE_PARENT","LIFESTYLE_SOLO_FEMALE","LIFESTYLE_BEAUTY","LIFESTYLE_FOODIE","LIFESTYLE_FAMILY","LIFESTYLE_ROMANCE","LIFESTYLE_COUPLE","LIFESTYLE_SOLO","LIFESTYLE_BACKPACKER","LIFESTYLE_SHOPPING","LIFESTYLE_SPORTS","LIFESTYLE_MOUNTAIN","LIFESTYLE_BEACH","LIFESTYLE_CITY","LIFESTYLE_COUNTRY","LIFESTYLE_CULTURE","LIFESTYLE_ECO"]}},"totalReviews":{"type":"integer","description":"Count of total reviews left by users at this property.","format":"int32","example":989,"default":0},"available":{"type":"boolean","description":"Flag indicating whether the reactive has made this property available for sale.","example":true,"default":false},"hotelAvailable":{"type":"boolean","description":"Flag indicating whether the property has made this property available for sale.","example":true,"default":false},"reservations":{"$ref":"#/components/schemas/Contact_Authenticated_Entity"},"socials":{"type":"array","description":"Property's social network accounts","items":{"$ref":"#/components/schemas/Social_Authenticated_Entity"}},"images":{"type":"array","description":"Property images.","items":{"$ref":"#/components/schemas/SimpleMultimedia_Authenticated_Entity"}},"videos":{"type":"array","description":"Property videos.","items":{"$ref":"#/components/schemas/SimpleMultimedia_Authenticated_Entity"}},"policy":{"$ref":"#/components/schemas/PropertyPolicy_Authenticated_Entity"},"thirdPartyReviews":{"type":"array","description":"Array of awards and third party reviews given to property by certified / non-certified providers.","items":{"$ref":"#/components/schemas/TravelInventoryRecognition_Authenticated_Entity"}},"attractions":{"type":"integer","description":"Number of attractions property has listed on its profile.","format":"int32","example":5,"default":0},"recreations":{"type":"integer","description":"Number of activites property has listed on its profile.","format":"int32","example":3,"default":0},"pois":{"type":"integer","description":"Number of places property has listed on its profile.","format":"int32","example":9,"default":0},"restaurants":{"type":"integer","description":"Number of restaurants property has on its profile.","format":"int32","example":2,"default":0},"meetingRooms":{"type":"integer","description":"Number of meeting rooms property has on its profile.","format":"int32","example":2,"default":0},"spas":{"type":"integer","description":"Number of spas property has on its profile.","format":"int32","example":1,"default":0},"addOns":{"type":"integer","description":"Number of add-ons property has on its profile.","format":"int32","example":5,"default":0},"generalManager":{"$ref":"#/components/schemas/GeneralManager_Authenticated_Entity"},"locationCategory":{"type":"string","description":"Supported OTA specification `LOC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"34"},"segmentCategory":{"type":"string","description":"Supported OTA specification `SEG` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"7"},"hotelCategory":{"type":"string","description":"Supported OTA specification `PCT` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"45"},"architecturalStyle":{"type":"string","description":"Supported OTA specification `ARC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"7"},"whenBuilt":{"type":"string","description":"Year the property was constructed.","example":"1927"},"currencyCode":{"type":"string","description":"Currency code for property.","example":"USD"},"membershipRateDiscount":{"type":"number","description":"A property's price score is based on calculating historical pricing data. Each property receives a unique score. There is no max score; it's there to compare it against other properties.","format":"float","example":9,"default":0},"priceScore":{"type":"integer","description":"A property's price score is based on calculating historical pricing data. Each property receives a unique score. There is no max score; it's there to compare it against other properties.","format":"int32","example":9,"default":0},"perkScore":{"type":"integer","description":"A property's perk score is based on the type of perks that is offered to the guests across all master rates. There is no max score; it's there to compare it against other properties.","format":"int32","example":4,"default":0},"packageScore":{"type":"integer","description":"A property's package score is based on general availability and price for all packages and add-ons offered by the property. There is no max score; it's there to compare it against other properties.","format":"int32","example":4,"default":0},"loyaltyScore":{"type":"integer","description":"A property's loyalty score is based on calculating how many available rate plans honor loyalty points. There is no max score; it's there to compare it against other properties.","format":"int32","example":5,"default":0},"popularScore":{"type":"integer","description":"A property's popular score is based on calculating number of bookings across room types. There is no max score; it's there to compare it against other properties.","format":"int32","example":45,"default":0},"experienceScore":{"type":"integer","description":"A property's experience score is based on how calculating how many types of experiences are available and at what price ranges. There is no max score; it's there to compare it against other properties.","format":"int32","example":5,"default":0},"availabilityScore":{"type":"integer","description":"A property's availability score is based on general availability of all room types. If most room types are always unavailable, the attractiveness of this property goes down. We use this as our primary benchmark to decide how and when to feature properties. There is no max score; it's there to compare it against other properties.","format":"int32","example":5,"default":0},"views":{"type":"integer","description":"Total number of user views of this property.","format":"int64","example":10432,"default":0},"hotelAmenityCodes":{"type":"array","description":"Supported OTA specification `HAC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":["1","7"],"items":{"type":"string","description":"Supported OTA specification `HAC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"[\"1\",\"7\"]"}},"propertyAccessibilityCodes":{"type":"array","description":"Supported OTA specification `PHY` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":["1","7"],"items":{"type":"string","description":"Supported OTA specification `PHY` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"[\"1\",\"7\"]"}},"propertySecurityCodes":{"type":"array","description":"Supported OTA specification `SEC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":["1","7"],"items":{"type":"string","description":"Supported OTA specification `SEC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"[\"1\",\"7\"]"}},"numberOfRooms":{"type":"integer","description":"Number of rooms / keys for this property.","format":"int32","example":32,"default":0},"address":{"$ref":"#/components/schemas/Address_Authenticated_Entity"},"active":{"type":"boolean","description":"A property is considered active when both available and hotelAvailable flags are true.","example":true},"urlParameters":{"type":"string","description":"Convenience data point that creates url friendly query parameters of property."}},"description":"The hotel where the stay occurs."},"ImageAttribution_Authenticated_Entity":{"required":["name"],"type":"object","properties":{"url":{"type":"string","description":"URL to contributor","example":"https://maps.google.com/maps/contrib/111628493169070103594"},"name":{"type":"string","description":"Name of contributor","example":"Samuel Adams"}},"description":"Whether image has attribution properties"},"LocalizedDescription_Authenticated_Entity":{"required":["description","language"],"type":"object","properties":{"description":{"maxLength":2147483647,"minLength":1,"type":"string","description":"Longer text description","example":"This is a longer description in the specified language."},"language":{"maxLength":2,"minLength":2,"type":"string","description":"Indicate which language this description is written in.","example":"en","default":"en"}},"description":"List of localized descriptions for this fee."},"LocalizedPrice_Authenticated_Entity":{"required":["internalBaseTotal","sourceBaseTotal","sourceToInternalCurrencyQuote","sourceToUserCurrencyQuote","userSpecifiedCurrencyBaseTotal"],"type":"object","properties":{"sourceToUserCurrencyQuote":{"$ref":"#/components/schemas/Quote_Authenticated_Entity"},"sourceToInternalCurrencyQuote":{"$ref":"#/components/schemas/Quote_Authenticated_Entity"},"userSpecifiedCurrencyBaseTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"sourceBaseTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"internalBaseTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"userSpecifiedCurrencyPromotionalModifier":{"type":"number","description":"Promotional modifiers in user specified currency","example":-40},"sourcePromotionalModifier":{"type":"number","description":"Promotional modifiers in hotel currency","example":-40},"internalPromotionalModifier":{"type":"number","description":"Promotional modifiers in wink currency","example":-40},"userSpecifiedCurrencyPremiumModifier":{"type":"number","description":"Premium modifiers in user specified currency","example":40},"sourcePremiumModifier":{"type":"number","description":"Premium modifiers in hotel currency","example":40},"internalPremiumModifier":{"type":"number","description":"Premium modifiers in wink currency","example":40},"userSpecifiedCurrencyChannelModifier":{"type":"number","description":"Channel / Membership modifier in user specified currency","example":-10},"sourceChannelModifier":{"type":"number","description":"Channel / Membership modifier in hotel currency","example":-10},"internalChannelModifier":{"type":"number","description":"Channel / Membership modifier in wink currency","example":-10},"quantity":{"type":"integer","description":"How many of this item is included in this price","format":"int64","default":1},"promotionalDiscountPercent":{"type":"number","description":"Promotional discount percent","format":"float"},"channelDiscountPercent":{"type":"number","description":"Channel discount percent","format":"float"},"premiumPercent":{"type":"number","description":"Premium percent","format":"float"},"hasPremium":{"type":"boolean"},"hasPromotion":{"type":"boolean"},"hasChannelDiscount":{"type":"boolean"},"userSpecifiedCurrencyTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"internalTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"sourceTotal":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalDiscountPercent":{"type":"number","format":"float"}},"description":"The localized price of the extra charge"},"PropertyPolicy_Authenticated_Entity":{"required":["checkInTime","checkOutTime","childrenAllowed","internetAvailability","internetConnectionLocation","internetConnectionType","parkingAccess","parkingAvailability","petsAllowed"],"type":"object","properties":{"childrenAllowed":{"type":"boolean","description":"Indicates whether property allows children","example":true,"default":false},"childrenMinimumAge":{"type":"integer","description":"When a property allows children, it can also indicate what the minimum age is for children to be allowed.","format":"int32","example":6},"internetAvailability":{"type":"string","description":"Indicates the availability of internet on the property.","example":"YES","enum":["YES","NO","YES_PAID"]},"internetConnectionType":{"type":"string","description":"Indicates how guests can access the Internet on the property.","example":"WIFI","enum":["WIFI","CABLE"]},"internetConnectionLocation":{"type":"string","description":"Indicates where internet is available in and around the property.","example":"ENTIRE_PROPERTY","enum":["ENTIRE_PROPERTY","PUBLIC_AREAS","ALL_ROOMS","SOME_ROOMS","BUSINESS_CENTER"]},"parkingAvailability":{"type":"string","description":"Indicates whether parking is available at the property.","example":"YES","enum":["YES","NO","YES_PAID"]},"parkingAccess":{"type":"string","description":"Indicates what type of parking is available at the property.","example":"PRIVATE","enum":["PRIVATE","PUBLIC"]},"petsAllowed":{"type":"boolean","description":"Indicates whether pets are allowed on the property. Note: There are thousand different kinds of pets. Just because the property allows small dogs does not mean the guest can bring a python. Always best to check with property.","example":true,"default":false},"petMaxWeightInKilos":{"type":"integer","description":"If pets are allowed, property can further limit on weight.","format":"int32","example":10},"petCharge":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"checkOutTime":{"type":"string","description":"When the guest has to check out.","example":"10:00"},"checkInTime":{"type":"string","description":"When the guest can check in.","example":"14:00"}},"description":"Outlines basic policies for the property."},"Quote_Authenticated_Entity":{"required":["exchangeRate","source","target","timestamp"],"type":"object","properties":{"source":{"type":"string","description":"Source"},"target":{"type":"string","description":"Target"},"exchangeRate":{"type":"number","description":"Exchange rate"},"timestamp":{"type":"integer","description":"Timestamp","format":"int64"}},"description":"Hotel to wink currency exchange rate."},"RatePlanLevelFee_Authenticated_Entity":{"required":["descriptions","fixedAmount","type"],"type":"object","properties":{"descriptions":{"type":"array","description":"List of localized descriptions for this fee.","items":{"$ref":"#/components/schemas/LocalizedDescription_Authenticated_Entity"}},"fixedAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"type":{"type":"string","description":"Rate plan fee type","example":"PER_DAY","enum":["PER_DAY","PER_STAY","PER_PERSON_PER_DAY","PER_PERSON_PER_STAY"]}},"description":"What the guest is paying extra for"},"RatePlan_Authenticated_Entity":{"required":["allInclusive","allInclusivePlusAlcohol","breakfast","brunch","cancellationPolicyIdentifier","dinner","hotelIdentifier","identifier","lunch","name","prepaid"],"type":"object","properties":{"identifier":{"type":"string","description":"Rate plan identifier","format":"uuid"},"hotelIdentifier":{"type":"string","description":"Hotel Identifier","format":"uuid"},"name":{"type":"string","description":"Provides the name of the rate plan.","example":"BAR 1"},"prepaid":{"type":"boolean","description":"When true, indicates if the rate is a prepaid rate.","example":false,"default":false},"breakfast":{"type":"boolean","description":"When true, indicates breakfast is included.","example":false,"default":false},"brunch":{"type":"boolean","description":"When true, indicates brunch is included.","example":false,"default":false},"lunch":{"type":"boolean","description":"When true, indicates lunch is included.","example":false,"default":false},"dinner":{"type":"boolean","description":"When true, indicates dinner is included.","example":false,"default":false},"allInclusive":{"type":"boolean","description":"Everything included except alcohol","example":false,"default":false},"allInclusivePlusAlcohol":{"type":"boolean","description":"Everything included with alcohol","example":false,"default":false},"sellStartDate":{"type":"string","description":"Set a start date for when to start selling this rate. When sellStartDate and sellEndDate are set, this rate is only available for sale within that date range.","format":"date"},"sellEndDate":{"type":"string","description":"Set an end date for when to finish selling this rate. When sellStartDate and sellEndDate are set, this rate is only available for sale within that date range.","format":"date"},"stayStartDate":{"type":"string","description":"Set a start date for when the guest can visit. When stayStartDate and stayEndDate are set, this rate is only available for stay within that date range.","format":"date"},"stayEndDate":{"type":"string","description":"Set an end date for when the guest can visit. When stayStartDate and stayEndDate are set, this rate is only available for stay within that date range.","format":"date"},"loyaltyPointsAccrue":{"type":"boolean","description":"Property honors loyalty points with this rate plan.","example":false,"default":false},"maxAdvanceBookingOffset":{"type":"integer","description":"Maximum days before the arrival date for which this rate plan may be booked.","format":"int32","example":10},"minAdvanceBookingOffset":{"type":"integer","description":"Minimum days before the arrival date for which this rate plan may be booked.","format":"int32","example":3},"minTotalOccupancy":{"type":"integer","description":"Defines the minimum number of total occupants required for this rate plan.","format":"int32","example":4},"maxTotalOccupancy":{"type":"integer","description":"Defines the maximum number of total occupants required for this rate plan.","format":"int32","example":4},"minLOS":{"type":"integer","description":"Indicates the minimum length of stay required for this rate plan.","format":"int32","example":3},"maxLOS":{"type":"integer","description":"Indicates the maximum length of stay.","format":"int32","example":5},"minAge":{"type":"integer","description":"The minimum age to qualify for this rate plan.","format":"int32","example":26},"maxAge":{"type":"integer","description":"The maximum age to qualify for
[...]
