{"openapi":"3.0.1","info":{"title":"Wink API","description":"## APIs\nNot every integrator needs every APIs. For that reason, we have separated APIs into context.\n\n- [Affiliate](/affiliate): All APIs related to selling travel inventory as an affiliate.\n- [Analytics](/analytics): All APIs related to tracking metrics across a wide variety of data source segments including, more entertaining, leaderboard metrics.\n- [Booking](/booking): All APIs related to creating platform bookings.\n- [Channel Manager](/channel-manager): All APIs related to channel managers who want to integrate with our platform.\n- [Extranet](/extranet): All APIs related to managing travel inventory and suppliers.\n- [Inventory](/inventory): All APIs related to retrieve known travel inventory as it was found using the Lookup API..\n- [Lookup](/lookup): All APIs related to locating inventory by region, locale and property flags.\n- [Reference](/reference): All APIs related to retrieving platform-supported taxonomies.\n- [TripPay Acquiring](/payment-acquiring): All APIs related to capture payment details such as a Stripe payment intent.\n- [TripPay](/payment): All APIs related to TripPay account management, booking, mapping and integration features.\n\n## SDKs\nWe are actively working on supporting the most used languages out there. If you don't see your language here, reach out to us with a request to officially add your language. In the meantime, if you want to roll your own SDK, you can do so by downloading the OpenAPI spec and using one of the many available OpenAPI generators available: [https://openapi-generator.tech/docs/generators](https://openapi-generator.tech/docs/generators).\n\n- Java SDK [https://github.com/wink-travel/wink-sdk-java](https://github.com/wink-travel/wink-sdk-java)\n\n## Usage\nThese features are made available to you via a [REST API](https://en.wikipedia.org/wiki/Representational_state_transfer). This API is language agnostic.\n\n## Versioning\nWe chose to version our endpoints in a way that we hope affects your integration with us the least. You request the version of our API you wish to work with via the `Accept` header and by using our custom JSON mime type. When it's time for you to upgrade, you only have to change the version number to get access to our updated endpoints. You can also choose to always work with the latest major version release by accepting application/json. We recommend the former. Example: application/vnd.payment-v`1`+json.\n\n## Release history\n- 2022-05-08: v1 - Exposed channel manager API\n- 2021-07-01: v1 - Initial release\n\n\n# Booking API\nWelcome to the Booking Engine API - A programmer-friendly way to book inventory that was found on our platform.\nWe take great care in only working with properties that have quality, curated content and ways to bundle and cross sell customers with ancillary products and experiences. Suppliers have the ability to make their inventory look great and be searchable in a wide variety of ways. You can work with suppliers directly or receive payment-level pricing available to all our integration partners.\n\n# Intended Audience\nProgrammers are a requirement to start integrating with wink. You will benefit from an API integration if you are new or existing travel related company that want easy access to great inventory. Examples:\n- Hotel brands / chains that want to make their own booking engine\n- Travel tech companies that want to create the next hot mobile travel app\n- Destination sites that want to make their own booking engine\n- OTAs that want access direct relationships with suppliers and better quality hotel inventory\n","contact":{"name":"Bjorn Harvold","email":"bjorn@wink.travel"},"version":"21.16.3","x-logo":{"backgroundColor":"#FFFFFF","altText":"wink","url":"https://res.cloudinary.com/traveliko/image/upload/c_scale,h_129/v1653285543/wink/logo_text_white.svg"}},"externalDocs":{"description":"Booking Documentation","url":"https://bearchoke.atlassian.net/l/c/851wDdoG"},"servers":[{"url":"https://api.wink.travel","description":"Production endpoint"},{"url":"https://staging-api.wink.travel","description":"Sandbox endpoint"},{"url":"https://dev-api.wink.travel","description":"Developer endpoint"}],"tags":[{"name":"Test","description":"Simple GET request to show that your configuration works."},{"name":"Booking","description":"Booking endpoints allow you to create and cancel bookings as well as to retrieve all bookings."}],"paths":{"/api/booking/merchant":{"post":{"tags":["Booking"],"summary":"Create Merchant Booking","description":"Create a merchant booking. Expects a TripPay contract to be available and a authenticated traveler user to be making the booking.","operationId":"createMerchantBooking","requestBody":{"content":{"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/CreateMerchantBookingRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/CreateMerchantBookingRequest"}}},"required":true},"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/vnd.platform-v1+json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/vnd.platform-v1+json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"201":{"description":"Created","content":{"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/BookingConfirmations"}},"application/json":{"schema":{"$ref":"#/components/schemas/BookingConfirmations"}}}}},"security":[{"oauth2_client_credentials":[]}]}},"/api/booking/grid":{"post":{"tags":["Booking"],"summary":"Show Booking Grid","description":"Retrieve paginated bookings based on a query state","operationId":"showBookingGrid","requestBody":{"content":{"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/State"}},"application/json":{"schema":{"$ref":"#/components/schemas/State"}}},"required":true},"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/vnd.platform-v1+json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/vnd.platform-v1+json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/PageBookingView"}},"application/json":{"schema":{"$ref":"#/components/schemas/PageBookingView"}}}}},"security":[{"oauth2_client_credentials":[]}]}},"/api/booking/agent":{"post":{"tags":["Booking"],"summary":"Create Agent Booking","description":"Create agent booking. Expects the agent to be a registered agent with TripPay and have available funds to cover the booking amount.","operationId":"createAgentBooking","requestBody":{"content":{"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/CreateAgentBookingRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentBookingRequest"}}},"required":true},"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/vnd.platform-v1+json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/vnd.platform-v1+json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"201":{"description":"Created","content":{"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/BookingConfirmations"}},"application/json":{"schema":{"$ref":"#/components/schemas/BookingConfirmations"}}}}},"security":[{"oauth2_client_credentials":[]}]}},"/api/booking/{bookingIdentifier}":{"get":{"tags":["Booking"],"summary":"Show Booking","description":"Retrieve a booking by its booking identifier. User needs to be authenticated.","operationId":"showBooking","parameters":[{"name":"bookingIdentifier","in":"path","description":"Retrieve booking by identifier","required":true,"schema":{"type":"string"},"example":"booking-1"},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/vnd.platform-v1+json,application/json"]}}],"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/vnd.platform-v1+json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/vnd.platform-v1+json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/BookingView"}},"application/json":{"schema":{"$ref":"#/components/schemas/BookingView"}}}}},"security":[{"oauth2_client_credentials":[]}]},"patch":{"tags":["Booking"],"summary":"Cancel Booking","description":"Cancel a booking by its booking identifier","operationId":"cancelBooking","parameters":[{"name":"bookingIdentifier","in":"path","description":"Cancel booking by identifier","required":true,"schema":{"type":"string"},"example":"booking-1"}],"requestBody":{"content":{"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/CancellationDetail"}},"application/json":{"schema":{"$ref":"#/components/schemas/CancellationDetail"}}},"required":true},"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/vnd.platform-v1+json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/vnd.platform-v1+json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"202":{"description":"Accepted","content":{"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/BookingView"}},"application/json":{"schema":{"$ref":"#/components/schemas/BookingView"}}}}},"security":[{"oauth2_client_credentials":[]}]}},"/api/booking/group/{groupIdentifier}":{"get":{"tags":["Booking"],"summary":"Show Grouped Bookings","description":"Retrieve a list of bookings by group identifier. User needs to be authenticated.","operationId":"showGroupedBookings","parameters":[{"name":"groupIdentifier","in":"path","description":"Retrieve booking by identifier","required":true,"schema":{"type":"string"},"example":"booking-1"},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/vnd.platform-v1+json,application/json"]}}],"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/vnd.platform-v1+json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/vnd.platform-v1+json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/vnd.platform-v1+json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookingView"}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookingView"}}}}}},"security":[{"oauth2_client_credentials":[]}]},"patch":{"tags":["Booking"],"summary":"Cancel Group Booking","description":"Cancel a group booking by its group identifier","operationId":"cancelGroupBooking","parameters":[{"name":"groupIdentifier","in":"path","description":"Cancel booking by group identifier","required":true,"schema":{"type":"string"},"example":"trace-1"}],"requestBody":{"content":{"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/CancellationDetail"}},"application/json":{"schema":{"$ref":"#/components/schemas/CancellationDetail"}}},"required":true},"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/vnd.platform-v1+json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/vnd.platform-v1+json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"202":{"description":"Accepted","content":{"application/vnd.platform-v1+json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookingView"}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookingView"}}}}}},"security":[{"oauth2_client_credentials":[]}]}},"/api/hello":{"get":{"tags":["Test"],"summary":"Ping","description":"Simple ping endpoint to test your credentials.","operationId":"ping","responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/vnd.platform-v1+json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/vnd.platform-v1+json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}},"security":[{"oauth2_client_credentials":[]}]}},"/api/booking/{bookingIdentifier}/resend":{"get":{"tags":["Booking"],"summary":"Resend Booking Confirmation","description":"Resends booking confirmation email to traveler.","operationId":"resendBookingConfirmationEmail","parameters":[{"name":"bookingIdentifier","in":"path","description":"Retrieve booking by identifier","required":true,"schema":{"type":"string"},"example":"booking-1"},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/vnd.platform-v1+json,application/json"]}}],"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/vnd.platform-v1+json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/vnd.platform-v1+json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/BooleanResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/BooleanResponse"}}}}},"security":[{"oauth2_client_credentials":[]}]}},"/api/booking/state":{"get":{"tags":["Booking"],"summary":"Show Bookings by Time","description":"Retrieve bookings for a date state","operationId":"showBookingsByState","parameters":[{"name":"state","in":"query","description":"Retrieve bookings by state","required":false,"schema":{"type":"string","default":"FUTURE","enum":["PAST","PRESENT","FUTURE","CANCELLED","CANCELLED_BY_GUEST","CANCELLED_BY_HOTEL","CANCELLED_BY_ENGINE","ACTIVE"]},"example":"FUTURE"},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/vnd.platform-v1+json,application/json"]}}],"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/vnd.platform-v1+json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/vnd.platform-v1+json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/vnd.platform-v1+json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookingView"}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookingView"}}}}}},"security":[{"oauth2_client_credentials":[]}]}},"/api/booking/review/list":{"get":{"tags":["Booking"],"summary":"Show Bookings by Review","description":"List bookings by their review state","operationId":"showBookingsByReviewState","parameters":[{"name":"state","in":"query","description":"Retrieve bookings by review state","required":false,"schema":{"type":"string","default":"NEEDS_REVIEW","enum":["NEEDS_REVIEW","REVIEWED"]},"example":"NEEDS_REVIEW"},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/vnd.platform-v1+json,application/json"]}}],"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/vnd.platform-v1+json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/vnd.platform-v1+json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/vnd.platform-v1+json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookingView"}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookingView"}}}}}},"security":[{"oauth2_client_credentials":[]}]}},"/api/booking/list":{"get":{"tags":["Booking"],"summary":"Show Booking List","description":"Retrieve bookings in a paginated list","operationId":"showBookings","parameters":[{"name":"page","in":"query","description":"Page to start retrieving records for","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"size","in":"query","description":"Number of records to retrieve","required":false,"schema":{"type":"integer","format":"int32","default":10},"example":10},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/vnd.platform-v1+json,application/json"]}}],"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/vnd.platform-v1+json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/vnd.platform-v1+json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/vnd.platform-v1+json":{"schema":{"$ref":"#/components/schemas/PageBookingView"}},"application/json":{"schema":{"$ref":"#/components/schemas/PageBookingView"}}}}},"security":[{"oauth2_client_credentials":[]}]}}},"components":{"schemas":{"ratePlanAvailableDaysOfWeek":{"title":"Available days of week","type":"object","properties":{"mon":{"type":"boolean","description":"Set to `true` to enable Monday.","example":true},"tue":{"type":"boolean","description":"Set to `true` to enable Tuesday.","example":true},"wed":{"type":"boolean","description":"Set to `true` to enable Wednesday.","example":true},"thu":{"type":"boolean","description":"Set to `true` to enable Thursday.","example":true},"fri":{"type":"boolean","description":"Set to `true` to enable Friday.","example":true},"sat":{"type":"boolean","description":"Set to `true` to enable Saturday.","example":true},"sun":{"type":"boolean","description":"Set to `true` to enable Sunday.","example":true},"disabled":{"type":"boolean","description":"Convenience property to quickly determine if this existing object has any active days enabled.","example":true}},"description":"Days of the week on which this rate is available.","readOnly":false,"writeOnly":false,"example":null},"ratePlanArrivalDaysOfWeek":{"title":"Arrival days of week","type":"object","properties":{"mon":{"type":"boolean","description":"Set to `true` to enable Monday.","example":true},"tue":{"type":"boolean","description":"Set to `true` to enable Tuesday.","example":true},"wed":{"type":"boolean","description":"Set to `true` to enable Wednesday.","example":true},"thu":{"type":"boolean","description":"Set to `true` to enable Thursday.","example":true},"fri":{"type":"boolean","description":"Set to `true` to enable Friday.","example":true},"sat":{"type":"boolean","description":"Set to `true` to enable Saturday.","example":true},"sun":{"type":"boolean","description":"Set to `true` to enable Sunday.","example":true},"disabled":{"type":"boolean","description":"Convenience property to quickly determine if this existing object has any active days enabled.","example":true}},"description":"Days of the week on which the guest can arrive.","readOnly":false,"writeOnly":false,"example":null},"ratePlanDepartureDaysOfWeek":{"title":"Departure days of week","type":"object","properties":{"mon":{"type":"boolean","description":"Set to `true` to enable Monday.","example":true},"tue":{"type":"boolean","description":"Set to `true` to enable Tuesday.","example":true},"wed":{"type":"boolean","description":"Set to `true` to enable Wednesday.","example":true},"thu":{"type":"boolean","description":"Set to `true` to enable Thursday.","example":true},"fri":{"type":"boolean","description":"Set to `true` to enable Friday.","example":true},"sat":{"type":"boolean","description":"Set to `true` to enable Saturday.","example":true},"sun":{"type":"boolean","description":"Set to `true` to enable Sunday.","example":true},"disabled":{"type":"boolean","description":"Convenience property to quickly determine if this existing object has any active days enabled.","example":true}},"description":"Days of the week on which the guest can leave.","readOnly":false,"writeOnly":false,"example":null},"ratePlanRequiredDaysOfWeek":{"title":"Required days of week","type":"object","properties":{"mon":{"type":"boolean","description":"Set to `true` to enable Monday.","example":true},"tue":{"type":"boolean","description":"Set to `true` to enable Tuesday.","example":true},"wed":{"type":"boolean","description":"Set to `true` to enable Wednesday.","example":true},"thu":{"type":"boolean","description":"Set to `true` to enable Thursday.","example":true},"fri":{"type":"boolean","description":"Set to `true` to enable Friday.","example":true},"sat":{"type":"boolean","description":"Set to `true` to enable Saturday.","example":true},"sun":{"type":"boolean","description":"Set to `true` to enable Sunday.","example":true},"disabled":{"type":"boolean","description":"Convenience property to quickly determine if this existing object has any active days enabled.","example":true}},"description":"Days of the week on which the guest has to stay at the hotel.","readOnly":false,"writeOnly":false,"example":null},"ratePlanEarlyCheckInCharge":{"title":"Early check-in charge","required":["type"],"type":"object","properties":{"percent":{"type":"number","description":"A percentage of the total stay amount for an early check-in or late check-out","format":"float","example":0.25},"fixedAmount":{"$ref":"#/components/schemas/Moneys"},"type":{"type":"string","description":"When the type is FIXED, fixedAmount is required. When the type is PERCENTAGE, percent is required.","enum":["FIXED","PERCENTAGE"]}},"description":"Charge for early check in.","readOnly":false,"writeOnly":false,"example":null},"ratePlanLateCheckOutCharge":{"title":"Late check-out charge","required":["type"],"type":"object","properties":{"percent":{"type":"number","description":"A percentage of the total stay amount for an early check-in or late check-out","format":"float","example":0.25},"fixedAmount":{"$ref":"#/components/schemas/Moneys"},"type":{"type":"string","description":"When the type is FIXED, fixedAmount is required. When the type is PERCENTAGE, percent is required.","enum":["FIXED","PERCENTAGE"]}},"description":"Charge for late check out.","readOnly":false,"writeOnly":false,"example":null},"ratePlanSingleOccupancyRateModifier":{"title":"Single occupancy rate modifier","required":["type"],"type":"object","properties":{"percent":{"type":"number","description":"A percentage of the total stay amount for an early check-in or late check-out","format":"float","example":0.25},"fixedAmount":{"$ref":"#/components/schemas/Moneys"},"type":{"type":"string","description":"When the type is FIXED, fixedAmount is required. When the type is PERCENTAGE, percent is required.","enum":["FIXED","PERCENTAGE"]}},"description":"How much extra to charge if a single individual stays in a room meant for more two or more people.","readOnly":false,"writeOnly":false,"example":null},"ratePlanExtraPaxRateModifier":{"title":"Extra pax rate modifier","required":["type"],"type":"object","properties":{"percent":{"type":"number","description":"A percentage of the total stay amount for an early check-in or late check-out","format":"float","example":0.25},"fixedAmount":{"$ref":"#/components/schemas/Moneys"},"type":{"type":"string","description":"When the type is FIXED, fixedAmount is required. When the type is PERCENTAGE, percent is required.","enum":["FIXED","PERCENTAGE"]}},"description":"How much to charge for one extra adult staying in the room. Example: Included occupancy for a room type is 2 but it allows for 3 people to stay. This sets how much the third person should be charged extra.","readOnly":false,"writeOnly":false,"example":null},"ratePlanExtraChildRateModifier":{"title":"Extra child rate modifier","required":["type"],"type":"object","properties":{"percent":{"type":"number","description":"A percentage of the total stay amount for an early check-in or late check-out","format":"float","example":0.25},"fixedAmount":{"$ref":"#/components/schemas/Moneys"},"type":{"type":"string","description":"When the type is FIXED, fixedAmount is required. When the type is PERCENTAGE, percent is required.","enum":["FIXED","PERCENTAGE"]}},"description":"How much to charge for a child staying in the room. Example: Included occupancy for a room type is 2 but it allows for 3 people to stay. This sets how much the third person should be charged extra.","readOnly":false,"writeOnly":false,"example":null},"bookingUserSpecifiedCurrencyTotal":{"title":"User specified currency total","required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","description":"Amount in currency","format":"double"},"currency":{"type":"string","description":"Specified currency"}},"description":"The total amount for this booking in user defined currency.","readOnly":false,"writeOnly":false,"example":null},"bookingSourceTotal":{"title":"Source total","required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","description":"Amount in currency","format":"double"},"currency":{"type":"string","description":"Specified currency"}},"description":"The total amount for this booking in property defined currency.","readOnly":false,"writeOnly":false,"example":null},"bookingInternalTotal":{"title":"Internal total","required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","description":"Amount in currency","format":"double"},"currency":{"type":"string","description":"Specified currency"}},"description":"The total amount for this booking in payment-defined currency (SGD).","readOnly":false,"writeOnly":false,"example":null},"bookingContactInfo":{"title":"Contact info","required":["email","firstName","lastName"],"type":"object","properties":{"firstName":{"type":"string","description":"Contact first name","example":"John"},"lastName":{"type":"string","description":"Contact last name","example":"Smith"},"email":{"type":"string","description":"Contact E-mail","example":"johnsmith@email.com"},"secondaryEmail":{"type":"string","description":"Contact secondary Email","example":"johnsmith2@email.com"},"phoneNumber":{"type":"string","description":"Contact phone number","example":"+12125551212"},"fullName":{"type":"string","description":"First and last name","example":"John Smith"},"summary":{"type":"string","description":"Summary","example":"John Smith\n0123456768\njohnsmith@email.com"}},"description":"Contact details of the hotel for the traveler to see.","readOnly":true,"example":null},"bookingAddress":{"title":"Address ","required":["address1","city","postalCode"],"type":"object","properties":{"address1":{"type":"string","description":"Address line 1","example":"234 Near da beach"},"address2":{"type":"string","description":"Address line 2","example":"Pebble #5001"},"state":{"type":"string","description":"State","example":"CA"},"postalCode":{"type":"string","description":"Postal / zip code","example":"90210"},"county":{"type":"string","description":"County","example":"Alameda county"},"city":{"$ref":"#/components/schemas/GeoName"}},"description":"Address of the hotel for the traveler to see.","readOnly":true,"example":null},"moneySetUserSpecifiedCurrencyTotal":{"title":"User specified currency total","required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","description":"Amount in currency","format":"double"},"currency":{"type":"string","description":"Specified currency"}},"description":"The total amount in user defined currency.","readOnly":false,"writeOnly":false,"example":null},"moneySetSourceTotal":{"title":"Source total","required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","description":"Amount in currency","format":"double"},"currency":{"type":"string","description":"Specified currency"}},"description":"The total amount in property defined currency.","readOnly":false,"writeOnly":false,"example":null},"moneySetInternalTotal":{"title":"Internal total","required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","description":"Amount in currency","format":"double"},"currency":{"type":"string","description":"Specified currency"}},"description":"The total amount in payment-defined currency (SGD).","readOnly":false,"writeOnly":false,"example":null},"hotelOnMapLocation":{"title":"Location","type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"},"type":{"type":"string"},"coordinates":{"type":"array","items":{"type":"number","format":"double"}}},"description":"Property geo-location","readOnly":false,"writeOnly":false,"example":null},"cancellationDetailDescription":{"title":"Cancellation description","required":["description","language"],"type":"object","properties":{"name":{"type":"string","description":"Use as title or short text description","example":"An example title"},"description":{"maxLength":2147483647,"minLength":1,"type":"string","description":"Longer text description","example":"This is a longer description that explains its relationship to parent nicely."},"language":{"maxLength":2,"minLength":2,"type":"string","description":"Indicate which language this description is written in.","example":"en","default":"en"}},"description":"Short reason for cancellation.","readOnly":false,"writeOnly":false,"example":"Credit card was invalid"},"GenericErrorMessage":{"type":"object","properties":{"timestamp":{"type":"string","xml":{"attribute":true}},"status":{"type":"integer","format":"int32","xml":{"attribute":true}},"error":{"type":"string"},"message":{"type":"string"},"path":{"type":"string"}},"description":"Generic error message","xml":{"name":"ErrorMessage"}},"AncillaryRequest":{"type":"object","properties":{"typeIdentifier":{"type":"string","description":"Travel inventory identifier","format":"uuid"},"type":{"type":"string","description":"Inventory type","example":"PLACE","enum":["MEETING_ROOM","SPA","RESTAURANT","ACTIVITY","ATTRACTION","PLACE"]},"startDate":{"type":"string","description":"Date start time when reservation was made for.","format":"date-time"},"endDate":{"type":"string","description":"Date end time when reservation was made for.","format":"date-time"},"allDay":{"type":"boolean","description":"Indicates if this reservation is for the whole day.","example":true,"default":false},"attendees":{"type":"integer","description":"Number of guests that are part of this reservation.","format":"int32","example":2,"default":1}},"description":"Extra reservations of spas, meeting rooms etc that should accompany the room type booking."},"BookingUserRequest":{"required":["email","firstName","lastName"],"type":"object","properties":{"firstName":{"type":"string","description":"First name","example":"John"},"lastName":{"type":"string","description":"Last name","example":"Smith"},"email":{"type":"string","description":"Email","format":"email","example":"john.smith@email.com"},"telephone":{"type":"string","description":"Telephone","example":"0123456789"}},"description":"User object contains details of the person that made the booking."},"Child":{"required":["age","quantity"],"type":"object","properties":{"quantity":{"minimum":1,"type":"integer","description":"Number of children","format":"int32"},"age":{"minimum":0,"type":"integer","description":"Age of children","format":"int32"}},"description":"Child configuration"},"CreateMerchantBookingRequest":{"required":["displayCurrency","displayLanguage","rooms"],"type":"object","properties":{"rooms":{"type":"array","description":"List of room configuration booking requests. Each entry is a separately booked room.","items":{"$ref":"#/components/schemas/MerchantBookingRequest"}},"displayCurrency":{"type":"string","description":"The desired currency","example":"USD","default":"USD"},"displayLanguage":{"type":"string","description":"The desired language","example":"en","default":"en"},"engineConfigurationIdentifier":{"type":"string","description":"Optionally include the specific configuration used to make the booking. If no identifier is included, it will default to the primary application configuration.","format":"uuid"}}},"MerchantBookingRequest":{"required":["endDate","hotelIdentifier","paymentIdentifier","roomConfiguration","roomRateIdentifier","startDate","traceId","user"],"type":"object","properties":{"hotelIdentifier":{"type":"string","description":"Unique hotel record identifier.","format":"uuid"},"startDate":{"type":"string","description":"Date when guest arrives on the premises.","format":"date","example":"2021-01-31"},"endDate":{"type":"string","description":"Date when guest departs the premises.","format":"date","example":"2021-02-07"},"roomConfiguration":{"$ref":"#/components/schemas/RoomConfiguration"},"promotionalCodes":{"type":"array","description":"List of promotional codes the user entered to to activate a promotion.","example":["promo-1","promo-2"],"items":{"type":"string","description":"List of promotional codes the user entered to to activate a promotion.","example":"[\"promo-1\",\"promo-2\"]"}},"roomRateIdentifier":{"type":"string","description":"The unique master rate that made the guest room / rate plan available for sale.","format":"uuid"},"bedType":{"type":"string","description":"Guest can optionally request a specific bed type if the room type is set up with multiple bed type choices. Example: 9 is a `Single`. Taken from the `BED` OTA specification.","example":"9"},"packageOffers":{"type":"array","description":"Unique package identifiers guest wants added to her booking. Note: these add-ons must be available as part of the room type to be able to add them to a booking.","example":["package-1"],"items":{"type":"string","description":"Unique package identifiers guest wants added to her booking. Note: these add-ons must be available as part of the room type to be able to add them to a booking.","example":"[\"package-1\"]"}},"addOnOffers":{"type":"array","description":"Unique add-on identifiers guest wants added to her booking. Note: these add-ons must be available as part of the room type to be able to add them to a booking.","example":["add-on-1"],"items":{"type":"string","description":"Unique add-on identifiers guest wants added to her booking. Note: these add-ons must be available as part of the room type to be able to add them to a booking.","example":"[\"add-on-1\"]"}},"ancillaries":{"type":"array","description":"Extra reservations of spas, meeting rooms etc that should accompany the room type booking.","items":{"$ref":"#/components/schemas/AncillaryRequest"}},"specialRequests":{"type":"string","description":"A guest can send a special request to the hotel in free-text here.","example":"Can I please have rose petals on my pillows when I arrive?"},"user":{"$ref":"#/components/schemas/BookingUserRequest"},"traceId":{"type":"string","description":"traceId is a way to track multiple booking contracts","example":"trace-1"},"paymentIdentifier":{"type":"string","description":"Identifier generated by TripPay.","example":"trip-pay-1"}},"description":"List of room configuration booking requests. Each entry is a separately booked room."},"RoomConfiguration":{"required":["adults"],"type":"object","properties":{"adults":{"minimum":1,"type":"integer","description":"Number of adults","format":"int32"},"children":{"type":"array","description":"Children configurations","items":{"$ref":"#/components/schemas/Child"}}},"description":"Room Configuration"},"AddOn":{"required":["active","address","bookable","commissionable","descriptions","featuredInd","location","mandatory","multimedias","name","numberOfUnits","percentDiscount","pricingType"],"type":"object","properties":{"identifier":{"type":"string","description":"Unique record identifier","format":"uuid"},"hotelIdentifier":{"type":"string","description":"Hotel identifier.","format":"uuid"},"featuredInd":{"type":"boolean","description":"Indicates whether this inventory is featured. Use this flag as a way to signify that this inventory is special.","example":false},"lifestyleType":{"type":"string","description":"Indicate the type of lifestyle this inventory should be associated with.","example":"LIFESTYLE_HEALTH_FITNESS","enum":["LIFESTYLE_HEALTH_FITNESS","LIFESTYLE_RELAX","LIFESTYLE_ADULT_ONLY","LIFESTYLE_ADVENTURE","LIFESTYLE_BUSINESS","LIFESTYLE_LGBT","LIFESTYLE_SINGLE_PARENT","LIFESTYLE_SOLO_FEMALE","LIFESTYLE_BEAUTY","LIFESTYLE_FOODIE","LIFESTYLE_FAMILY","LIFESTYLE_ROMANCE","LIFESTYLE_COUPLE","LIFESTYLE_SOLO","LIFESTYLE_BACKPACKER","LIFESTYLE_SHOPPING","LIFESTYLE_SPORTS","LIFESTYLE_MOUNTAIN","LIFESTYLE_BEACH","LIFESTYLE_CITY","LIFESTYLE_COUNTRY","LIFESTYLE_CULTURE","LIFESTYLE_ECO"]},"location":{"$ref":"#/components/schemas/GeoJsonPoint"},"descriptions":{"type":"array","description":"Localized descriptions describing inventory.","items":{"$ref":"#/components/schemas/SimpleDescription"}},"multimedias":{"type":"array","description":"List of images / videos of inventory.","items":{"$ref":"#/components/schemas/Multimedia"}},"contact":{"$ref":"#/components/schemas/Contact"},"address":{"$ref":"#/components/schemas/Address"},"commissionable":{"type":"boolean","description":"Indicate whether sales channels receive commission for selling this inventory.","example":true,"default":true},"name":{"type":"string","description":"Internal name of inventory.","example":"Archery lesson"},"proximityCode":{"type":"string","description":"Supported OTA specification `PRX` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"1"},"sort":{"type":"integer","description":"Use this property to sort an inventory in a list of activities.","format":"int32","example":1},"minAgeAppropriateCode":{"type":"string","description":"Supported OTA specification `AQC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"1"},"bookable":{"type":"boolean","description":"Indicates if this inventory can be added to a booking or if it is read-only marketing material only.","example":true,"default":true},"active":{"type":"boolean","description":"Modify inventory availability with this flag.","example":true,"default":true},"disabilityFeatures":{"type":"array","description":"Supported OTA specification `PHY` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":["1"],"items":{"type":"string"}},"securityFeatures":{"type":"array","description":"Supported OTA specification `SEC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":["1"],"items":{"type":"string"}},"socials":{"type":"array","description":"Social network accounts for inventory (if applicable).","items":{"$ref":"#/components/schemas/Social"}},"applicableStart":{"type":"string","description":"Start month and day or date for which the attraction (e.g. the start of a season) is available. This date property signifies that the inventory is recurring and / or seasonal. If the date is in the past, only day and month will be used to infer seasonality. If the date is a future date, it will be interpreted as a starting date.","format":"date","example":"1970-01-01"},"applicableEnd":{"type":"string","description":"End month and day or date for which the attraction (e.g. the start of a season) is available. This date property signifies that the inventory is recurring and / or seasonal. If the date is in the past, only day and month will be used to infer seasonality. If the date is a future date, it will be interpreted as a ending date.","format":"date","example":"1970-12-01"},"reservationRequiredInd":{"type":"boolean","description":"Indicates whether a reservation is required to participate in this inventory.","example":false},"opens":{"type":"string","description":"Opening time of inventory (if applicable). Leave empty if inventory is always available.","example":"09:00"},"closes":{"type":"string","description":"Closing time of inventory (if applicable). Leave empty if inventory is always available.","example":"17:30"},"fee":{"$ref":"#/components/schemas/Moneys"},"percentDiscount":{"maximum":1.0,"exclusiveMaximum":false,"minimum":0.0,"exclusiveMinimum":false,"type":"number","description":"Expected savings. Indicate how much the traveler is [usually] saving by booking it through this payment. Example: 20% discount.","format":"double","example":0.2},"daysOfWeek":{"$ref":"#/components/schemas/DowPatternGroup"},"numberOfUnits":{"minimum":0,"type":"integer","description":"Total number of add-ons available to purchase.","format":"int32","example":10,"default":0},"pricingType":{"type":"string","description":"Pricing types define how this add-on is sold.","example":"PER_USE","default":"PER_PERSON_PER_STAY","enum":["PER_STAY","PER_PERSON_PER_STAY","PER_NIGHT","PER_PERSON_PER_NIGHT","PER_USE"]},"ratePlanIdentifier":{"type":"string","description":"Pass an optional rate plan identifier if you want to add more complex restrictions to this add-on. Example: You want the add-on to only be available when a specific room is available.","format":"uuid"},"ratePlan":{"$ref":"#/components/schemas/RatePlan"},"mandatory":{"type":"boolean","description":"Make this add-on mandatory for all guests by enabling this flag.","example":true,"default":false}},"description":"The original add-on record created by the property."},"AddOnOffer":{"type":"object","properties":{"price":{"$ref":"#/components/schemas/LocalizedPrice"},"unitPrice":{"$ref":"#/components/schemas/LocalizedPrice"},"addOnImageUrl":{"type":"string","description":"Populated for when we send out confirmation emails to travelers."},"upgrade":{"$ref":"#/components/schemas/AddOn"},"offerDetails":{"type":"array","description":"Localized offer details if any apply","items":{"$ref":"#/components/schemas/SimpleDescription"}},"promotion":{"type":"string","description":"If an add-on is linked to a rate plan the user could be entitled to a promotional discount if she enters a code. When this field is populated, it means the discount was applied to the add-on."},"guests":{"type":"integer","description":"Number of guest that will be using this add-on.","format":"int32"},"nights":{"type":"integer","description":"Number of nights the guests will be staying.","format":"int32"}}},"AddOnOffers":{"type":"object","properties":{"items":{"type":"array","description":"Array of offer items","items":{"$ref":"#/components/schemas/AddOnOffer"}},"userSpecifiedCurrencyTotal":{"$ref":"#/components/schemas/Moneys"},"sourceTotal":{"$ref":"#/components/schemas/Moneys"},"internalTotal":{"$ref":"#/components/schemas/Moneys"}},"description":"Add-on offers travelers booked together with the room."},"Address":{"required":["address1","city","postalCode"],"type":"object","properties":{"address1":{"type":"string","description":"Address line 1","example":"234 Near da beach"},"address2":{"type":"string","description":"Address line 2","example":"Pebble #5001"},"state":{"type":"string","description":"State","example":"CA"},"postalCode":{"type":"string","description":"Postal / zip code","example":"90210"},"county":{"type":"string","description":"County","example":"Alameda county"},"city":{"$ref":"#/components/schemas/GeoName"}},"description":"Address information"},"Bed":{"required":["bedTypeCode","quantity"],"type":"object","properties":{"bedTypeCode":{"type":"string","description":"Indicates the type of bed(s) found in the room. Typical values would be Double, Twin, Queen, or King. Supported OTA specification `BED` code. See [OTA geoname data](#operation/showAvailableCodesForCategory).","example":"1"},"quantity":{"minimum":1,"type":"integer","description":"Number of beds for this bed type.","format":"int32","example":10}}},"Beneficiary":{"required":["accountIdentifier","amountDueInCaptureCurrency","amountDueInDisplayCurrency","amountDueInInternalCurrency","amountDueInSourceCurrency","amountDueInSupplierCurrency","type"],"type":"object","properties":{"accountIdentifier":{"type":"string","description":"accountIdentifier of beneficiary from payment","format":"uuid"},"type":{"type":"string","description":"The type of beneficiary payment.","enum":["COMMISSION","PLATFORM_FEE","SALE","TRIP_PAY"]},"amountDueInSourceCurrency":{"$ref":"#/components/schemas/Moneys"},"amountDueInDisplayCurrency":{"$ref":"#/components/schemas/Moneys"},"amountDueInSupplierCurrency":{"$ref":"#/components/schemas/Moneys"},"amountDueInInternalCurrency":{"$ref":"#/components/schemas/Moneys"},"amountDueInCaptureCurrency":{"$ref":"#/components/schemas/Moneys"}}},"Booking":{"type":"object","properties":{"test":{"type":"boolean","description":"Whether this was a test booking by the property than can safely be deleted again","example":true},"date":{"type":"string","description":"Date and time the booking was made.","format":"date-time"},"groupIdentifier":{"type":"string","description":"Unique record identifier for the collection of bookings that were made at the same time.","format":"uuid"},"identifier":{"type":"string","description":"Unique record identifier","format":"uuid"},"engineConfiguration":{"$ref":"#/components/schemas/EngineConfigurationBookingReport"},"bookingCode":{"type":"string","description":"Unique user-friendly booking geoname. This code should be used when corresponding with travelers.","example":"ABC1234"},"user":{"$ref":"#/components/schemas/BookingUser"},"userSession":{"$ref":"#/components/schemas/UserSession"},"serverUrl":{"type":"string","description":"The URL the booking occurred"},"contactInfo":{"$ref":"#/components/schemas/bookingContactInfo"},"address":{"$ref":"#/components/schemas/bookingAddress"},"socials":{"type":"array","description":"List of all social network account property has for the traveler to get in touch.","items":{"$ref":"#/components/schemas/Social"}},"review":{"$ref":"#/components/schemas/Review"},"emailHeaderLogoUrl":{"type":"string","description":"Full url of the image logo optimized for emails"},"logoIdentifier":{"type":"string","description":"Logo cloudinary identifier for potential reuse"},"hotel":{"$ref":"#/components/schemas/HotelOnMap"},"roomStay":{"$ref":"#/components/schemas/RoomStay"},"specialRequests":{"type":"string","description":"Free text where the traveler can add a message to the property."},"comment":{"type":"string","description":"Internal comment field the payment can add and make available to channel manager partners."},"packageOffers":{"$ref":"#/components/schemas/PackageOffers"},"addOnOffers":{"$ref":"#/components/schemas/AddOnOffers"},"earlyCheckInCharge":{"$ref":"#/components/schemas/Moneys"},"lateCheckOutCharge":{"$ref":"#/components/schemas/Moneys"},"earlyCheckInChargePercent":{"type":"number","description":"Early check-in charge calculated in percent of first room night price.","format":"float","example":0.05},"lateCheckOutChargePercent":{"type":"number","description":"Early check-in charge calculated in percent of first room night price.","format":"float","example":0.05},"hotelImageUrl":{"type":"string","description":"Absolute URL of hotel image that can be used as-is","example":"https://path.to/property-image.jpg"},"roomImageUrl":{"type":"string","description":"Absolute URL of room image that can be used as-is","example":"https://path.to/room-image.jpg"},"commissionList":{"type":"array","description":"List of all travel inventory entries that are due a commission to the affiliate.","items":{"$ref":"#/components/schemas/CommissionableEntry"}},"bookingContract":{"$ref":"#/components/schemas/BookingContract"},"status":{"type":"string","description":"Convenience data point to show which status the booking currently has.","example":"ACTIVE","enum":["CANCELLED_BY_HOTEL","CANCELLED_BY_GUEST","CANCELLED_BY_ADMIN","CANCELLED_BY_SALES_CHANNEL","PAST","ACTIVE"]},"startDate":{"type":"string","description":"Guest arrival date.","format":"date","example":"2020-01-01"},"endDate":{"type":"string","description":"Guest departure date.","format":"date","example":"2020-01-07"},"sourceTotal":{"$ref":"#/components/schemas/bookingSourceTotal"},"internalTotal":{"$ref":"#/components/schemas/bookingInternalTotal"},"meetingRooms":{"type":"array","description":"Meeting room reservation records.","items":{"$ref":"#/components/schemas/ExtraBookingRequest"}},"restaurants":{"type":"array","description":"Restaurant reservation records.","items":{"$ref":"#/components/schemas/ExtraBookingRequest"}},"spas":{"type":"array","description":"Spa reservation records.","items":{"$ref":"#/components/schemas/ExtraBookingRequest"}},"activities":{"type":"array","description":"Activity reservation records.","items":{"$ref":"#/components/schemas/ExtraBookingRequest"}},"attractions":{"type":"array","description":"Attraction reservation records.","items":{"$ref":"#/components/schemas/ExtraBookingRequest"}},"places":{"type":"array","description":"Place reservation records.","items":{"$ref":"#/components/schemas/ExtraBookingRequest"}},"userSpecifiedCurrencyTotal":{"$ref":"#/components/schemas/bookingUserSpecifiedCurrencyTotal"},"fullAddress":{"type":"string","description":"Convenience data point to return the full hotel address.","example":"204 At home lane, Singapore, Singapore 224333"},"rateSource":{"type":"string","description":"Rate origin. This is usually the property channel manager.","example":"SITEMINDER","enum":["TRAVELIKO","SITEMINDER","FASTBOOKING","RATEGAIN","CLOUD_BEDS","YIELD_PLANET","TRAVELCLICK","HOTEL_GURU","OTHER_CHANNEL_MANAGER","BOOKING_JINI","HOTEL_LINK_SOLUTIONS","ALLOTZ","DEDGE","RATE_TIGER","RESAVENUE","COMANCHE","OMNIBEES","EZEE","SYNXIS"]}},"description":"Booking data object"},"BookingConfirmations":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/BookingView"}},"pointsToBeEarned":{"type":"integer","format":"int32"},"userSpecifiedCurrencyTotal":{"$ref":"#/components/schemas/Moneys"},"sourceTotal":{"$ref":"#/components/schemas/Moneys"}}},"BookingContract":{"required":["capturePriceQuote","displayPriceQuote","identifier","internalPriceQuote","ipAddress","itemList","sourceUrl","supplierIdentifier","supplierName","supplierPriceQuote","traceId"],"type":"object","properties":{"id":{"type":"string","description":"Document UUID","format":"uuid"},"createdDate":{"type":"string","description":"Datetime this record was first created","format":"date-time"},"lastUpdate":{"type":"string","description":"Datetime this record was last updated","format":"date-time"},"ipAddress":{"type":"string","description":"Caller's IP address","example":"111.222.333.444"},"traceId":{"type":"string","description":"Way to track which booking contracts were made together","example":"T-123456"},"sourceUrl":{"type":"string","description":"Where did the booking occur","example":"https://www.traveliko.com"},"identifier":{"type":"string","description":"Unique identifier used to track the contract. Create a UUID for this purpose.","format":"uuid"},"supplierIdentifier":{"type":"string","description":"Supplier identifier","format":"uuid"},"supplierName":{"type":"string","description":"Supplier name","example":"Supplier One"},"displayPriceQuote":{"$ref":"#/components/schemas/Quote"},"supplierPriceQuote":{"$ref":"#/components/schemas/Quote"},"internalPriceQuote":{"$ref":"#/components/schemas/Quote"},"capturePriceQuote":{"$ref":"#/components/schemas/Quote"},"itemList":{"maxItems":2147483647,"minItems":1,"type":"array","description":"Holds one booking line item for a specific supplier.","items":{"$ref":"#/components/schemas/BookingContractItem"}},"externalSupplierIdentifier":{"type":"string","description":"Contract creator can choose to geoname this record with her own identifier","example":"supplier-a"},"externalSupplierBookingCode":{"type":"string","description":"External booking code generated by the affiliate","example":"external-booking-code-1"},"payment":{"$ref":"#/components/schemas/BookingContractPaymentDetails"},"cancelled":{"type":"boolean","description":"Optional geoname externalIdentifier to remote inventory.","example":false,"default":false},"cancelledOn":{"type":"string","description":"When the booking was cancelled.","format":"date-time"},"canceller":{"type":"string","description":"Type of entity that cancelled the booking.","enum":["SALES_CHANNEL","SUPPLIER","TRAVELER","ADMINISTRATOR"]},"cancellationType":{"type":"string","description":"Reason type.","enum":["DUPLICATE","CANCELLATION","NO_SHOW","CC_INVALID","CC_INSUFFICIENT","DISCRETIONARY"]},"cancellerUserIdentifier":{"type":"string","description":"User identifier that cancelled the entity."},"cancelReason":{"type":"string","description":"Reason for cancellation."},"totalSourcePrice":{"$ref":"#/components/schemas/Moneys"},"totalDisplayPrice":{"$ref":"#/components/schemas/Moneys"},"totalSupplierPrice":{"$ref":"#/components/schemas/Moneys"},"totalInternalPrice":{"$ref":"#/components/schemas/Moneys"},"totalCapturePrice":{"$ref":"#/components/schemas/Moneys"},"totalSourcePriceAfterCancellation":{"$ref":"#/components/schemas/Moneys"},"totalDisplayPriceAfterCancellation":{"$ref":"#/components/schemas/Moneys"},"totalSupplierPriceAfterCancellation":{"$ref":"#/components/schemas/Moneys"},"totalInternalPriceAfterCancellation":{"$ref":"#/components/schemas/Moneys"},"totalCapturePriceAfterCancellation":{"$ref":"#/components/schemas/Moneys"},"refundedSourcePrice":{"$ref":"#/components/schemas/Moneys"},"refundedDisplayPrice":{"$ref":"#/components/schemas/Moneys"},"refundedSupplierPrice":{"$ref":"#/components/schemas/Moneys"},"refundedInternalPrice":{"$ref":"#/components/schemas/Moneys"},"refundedCapturePrice":{"$ref":"#/components/schemas/Moneys"},"totalTokensEarned":{"type":"integer","description":"Total amount of tokens minted on this contract.","format":"int64"},"cancellationChargesIncurred":{"type":"boolean"},"cancellableWithNoCharges":{"type":"boolean","description":"Whether the cancellation comes at no cost to the traveler."},"commissionableTotalSourceAmount":{"$ref":"#/components/schemas/Moneys"},"commissionableTotalCaptureAmount":{"$ref":"#/components/schemas/Moneys"},"commissionableTotalDisplayAmount":{"$ref":"#/components/schemas/Moneys"},"commissionableTotalSupplierAmount":{"$ref":"#/components/schemas/Moneys"},"commissionableTotalInternalAmount":{"$ref":"#/components/schemas/Moneys"},"cancellableBySupplier":{"type":"boolean","description":"Whether the booking can still be cancelled completely by the supplier."},"cancellableByTraveler":{"type":"boolean","description":"Whether the booking can still be cancelled completely by the traveller."}},"description":"Booking contract created by TripPay"},"BookingContractItem":{"required":["beneficiaryList","descriptionInEnglish","itinerary","nameInEnglish","payable","pricingType","supplierItemBookingCode","totalCapturePrice","totalDisplayPrice","totalInternalPrice","totalSourcePrice","totalSupplierPrice","type","user"],"type":"object","properties":{"supplierItemBookingCode":{"type":"string","description":"Booking code identifying the supplier line item.","example":"TP-ASDFG1234"},"user":{"$ref":"#/components/schemas/BookingUser"},"nameInEnglish":{"type":"string","description":"Name of item in English included in booking.","example":"Deluxe King"},"descriptionInEnglish":{"type":"string","description":"Short description in English of item included in booking.","example":"This is the best deluxe king that money can buy."},"totalSourcePrice":{"$ref":"#/components/schemas/Moneys"},"totalDisplayPrice":{"$ref":"#/components/schemas/Moneys"},"totalSupplierPrice":{"$ref":"#/components/schemas/Moneys"},"totalInternalPrice":{"$ref":"#/components/schemas/Moneys"},"totalCapturePrice":{"$ref":"#/components/schemas/Moneys"},"itinerary":{"$ref":"#/components/schemas/Itinerary"},"pricingType":{"type":"string","description":"How to calculate the total amount.","enum":["PER_STAY","PER_ADULT","PER_CHILD","PER_NIGHT","PER_PERSON","PER_PERSON_PER_NIGHT","PER_PERSON_PER_HOUR","PER_HOUR","PER_PERSON_PER_STAY","PER_ADULT_PER_NIGHT","PER_ADULT_PER_STAY","PER_CHILD_PER_NIGHT","PER_CHILD_PER_STAY","PER_USE","PER_PERSON_PER_USE"]},"type":{"type":"string","description":"Type of item this is.","example":"LODGING","enum":["LODGING","RAIL","AIR","CAR","CRUISE","PACKAGE","ADD_ON","RENTAL","EXPERIENCE","ANCILLARY_BOOKING","ANCILLARY_FEE"]},"beneficiaryList":{"maxItems":2147483647,"minItems":1,"type":"array","items":{"$ref":"#/components/schemas/Beneficiary"}},"payable":{"type":"string","description":"When to charge for this item.","example":"PREPAY","enum":["IMMEDIATE","ARRIVAL","DEPARTURE","AGENT"]},"policy":{"$ref":"#/components/schemas/SupplierContractItemPolicy"},"externalIdentifier":{"type":"string","description":"Optional geoname externalIdentifier to remote inventory.","example":"room-type-1"},"tokensEarned":{"type":"integer","description":"Tokens earned for this item","format":"int64","example":12},"dailyRateList":{"type":"array","items":{"$ref":"#/components/schemas/DailyRate"}},"cancelled":{"type":"boolean","description":"Optional geoname externalIdentifier to remote inventory."},"totalSourcePriceAfterCancellation":{"$ref":"#/components/schemas/Moneys"},"totalDisplayPriceAfterCancellation":{"$ref":"#/components/schemas/Moneys"},"totalSupplierPriceAfterCancellation":{"$ref":"#/components/schemas/Moneys"},"totalInternalPriceAfterCancellation":{"$ref":"#/components/schemas/Moneys"},"totalCapturePriceAfterCancellation":{"$ref":"#/components/schemas/Moneys"},"cancellableWithNoCharges":{"type":"boolean","description":"Whether the booking can still be cancelled and whether cancellation charges might still occur."},"cancellableWithPotentialCharges":{"type":"boolean","description":"Whether the booking can still be cancelled and whether cancellation charges might still occur."},"cancellableBySupplier":{"type":"boolean","description":"Whether the booking can still be cancelled by the supplier. A supplier cancellation overrides the refundable"},"cancellableByTraveler":{"type":"boolean","description":"Whether the booking can still be cancelled by the traveller."}},"description":"Holds one booking line item for a specific supplier."},"BookingContractPaymentDetails":{"required":["transactionIdentifier","type","vendor","vendorSpecific"],"type":"object","properties":{"vendor":{"type":"string","description":"Name of acquiring vendor","example":"STRIPE","enum":["STRIPE","YAPILY","PAY_PAL","NMI","AGENT"]},"type":{"type":"string","description":"Technology taking the charge","example":"CREDIT_CARD","enum":["CREDIT_CARD","BANK_TRANSFER","PAY_PAL","CRYPTO","AGENT","CASH"]},"transactionIdentifier":{"type":"string","description":"Unique transaction id from the vendor upon a successful sale. Agent adds their transaction identifier.","example":"tx-1"},"agentInvoicedDate":{"type":"string","description":"The date/time the invoice was generated","format":"date-time"},"agentInvoiceIdentifier":{"type":"string","description":"The specific invoice this booking was registered on","example":"invoice-1"},"vendorSpecific":{"type":"object","additionalProperties":{"type":"string","description":"Vendor specific values that are returned in a successful response"},"description":"Vendor specific values that are returned in a successful response"}},"description":"Payment details the merchant provided us at the time of payment."},"BookingUser":{"required":["email","firstName","lastName"],"type":"object","properties":{"userIdentifier":{"type":"string","description":"User identifier","format":"uuid"},"firstName":{"type":"string","description":"First name","example":"John"},"lastName":{"type":"string","description":"Last name","example":"Smith"},"email":{"type":"string","description":"Email","format":"email","example":"john.smith@email.com"},"telephone":{"type":"string","description":"Telephone","example":"+1 212 555 1212"},"profile":{"$ref":"#/components/schemas/Profile"},"fullName":{"type":"string","description":"Full name","example":"John Smith"}}},"BookingView":{"type":"object","properties":{"id":{"type":"string","description":"Unique document identifier","format":"uuid","readOnly":true},"createdDate":{"type":"string","description":"Datetime this record was first created","format":"date-time","readOnly":true},"lastUpdate":{"type":"string","description":"Datetime this record was last updated","format":"date-time","readOnly":true},"version":{"type":"integer","description":"Version property that shows how many times this document has been persisted. Document will not persist if the version property is less than current version property in the system. Result in an optimistic locking exception.","format":"int64","readOnly":true,"example":12},"booking":{"$ref":"#/components/schemas/Booking"}}},"Bundle":{"required":["active","address","bookable","commissionable","descriptions","featuredInd","location","multimedias","name","numberOfUnits","percentDiscount"],"type":"object","properties":{"identifier":{"type":"string","description":"Unique record identifier","format":"uuid"},"hotelIdentifier":{"type":"string","description":"Hotel identifier.","format":"uuid"},"featuredInd":{"type":"boolean","description":"Indicates whether this inventory is featured. Use this flag as a way to signify that this inventory is special.","example":false},"lifestyleType":{"type":"string","description":"Indicate the type of lifestyle this inventory should be associated with.","example":"LIFESTYLE_HEALTH_FITNESS","enum":["LIFESTYLE_HEALTH_FITNESS","LIFESTYLE_RELAX","LIFESTYLE_ADULT_ONLY","LIFESTYLE_ADVENTURE","LIFESTYLE_BUSINESS","LIFESTYLE_LGBT","LIFESTYLE_SINGLE_PARENT","LIFESTYLE_SOLO_FEMALE","LIFESTYLE_BEAUTY","LIFESTYLE_FOODIE","LIFESTYLE_FAMILY","LIFESTYLE_ROMANCE","LIFESTYLE_COUPLE","LIFESTYLE_SOLO","LIFESTYLE_BACKPACKER","LIFESTYLE_SHOPPING","LIFESTYLE_SPORTS","LIFESTYLE_MOUNTAIN","LIFESTYLE_BEACH","LIFESTYLE_CITY","LIFESTYLE_COUNTRY","LIFESTYLE_CULTURE","LIFESTYLE_ECO"]},"location":{"$ref":"#/components/schemas/GeoJsonPoint"},"descriptions":{"type":"array","description":"Localized descriptions describing inventory.","items":{"$ref":"#/components/schemas/SimpleDescription"}},"multimedias":{"type":"array","description":"List of images / videos of inventory.","items":{"$ref":"#/components/schemas/Multimedia"}},"contact":{"$ref":"#/components/schemas/Contact"},"address":{"$ref":"#/components/schemas/Address"},"commissionable":{"type":"boolean","description":"Indicate whether sales channels receive commission for selling this inventory.","example":true,"default":true},"name":{"type":"string","description":"Internal name of inventory.","example":"Archery lesson"},"proximityCode":{"type":"string","description":"Supported OTA specification `PRX` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"1"},"sort":{"type":"integer","description":"Use this property to sort an inventory in a list of activities.","format":"int32","example":1},"minAgeAppropriateCode":{"type":"string","description":"Supported OTA specification `AQC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"1"},"bookable":{"type":"boolean","description":"Indicates if this inventory can be added to a booking or if it is read-only marketing material only.","example":true,"default":true},"active":{"type":"boolean","description":"Modify inventory availability with this flag.","example":true,"default":true},"disabilityFeatures":{"type":"array","description":"Supported OTA specification `PHY` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":["1"],"items":{"type":"string"}},"securityFeatures":{"type":"array","description":"Supported OTA specification `SEC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":["1"],"items":{"type":"string"}},"socials":{"type":"array","description":"Social network accounts for inventory (if applicable).","items":{"$ref":"#/components/schemas/Social"}},"applicableStart":{"type":"string","description":"Start month and day or date for which the attraction (e.g. the start of a season) is available. This date property signifies that the inventory is recurring and / or seasonal. If the date is in the past, only day and month will be used to infer seasonality. If the date is a future date, it will be interpreted as a starting date.","format":"date","example":"1970-01-01"},"applicableEnd":{"type":"string","description":"End month and day or date for which the attraction (e.g. the start of a season) is available. This date property signifies that the inventory is recurring and / or seasonal. If the date is in the past, only day and month will be used to infer seasonality. If the date is a future date, it will be interpreted as a ending date.","format":"date","example":"1970-12-01"},"reservationRequiredInd":{"type":"boolean","description":"Indicates whether a reservation is required to participate in this inventory.","example":false},"opens":{"type":"string","description":"Opening time of inventory (if applicable). Leave empty if inventory is always available.","example":"09:00"},"closes":{"type":"string","description":"Closing time of inventory (if applicable). Leave empty if inventory is always available.","example":"17:30"},"fee":{"$ref":"#/components/schemas/Moneys"},"percentDiscount":{"maximum":1.0,"exclusiveMaximum":false,"minimum":0.0,"exclusiveMinimum":false,"type":"number","description":"Expected savings. Indicate how much the traveler is [usually] saving by booking it through this payment. Example: 20% discount.","format":"double","example":0.2},"daysOfWeek":{"$ref":"#/components/schemas/DowPatternGroup"},"itemDescriptions":{"type":"array","description":"Localized description of items contained in package.","items":{"$ref":"#/components/schemas/SimpleDescription"}},"numberOfUnits":{"minimum":0,"type":"integer","description":"Total number of packages available to purchase.","format":"int32","example":10,"default":0},"pricingType":{"type":"string","description":"Specifies how the package is priced.","example":"PER_USE","default":"PER_STAY","enum":["PER_STAY","PER_PERSON_PER_STAY","PER_NIGHT","PER_PERSON_PER_NIGHT","PER_USE"]},"ratePlanIdentifier":{"type":"string","description":"Pass an optional rate plan identifier if you
[...]
