{"openapi":"3.0.1","info":{"title":"Wink API","description":" # Introduction\n Welcome to the Wink API - A programmer-friendly way to manage, sell and book travel inventory on the Wink platform. The API gives you all the tools you need to ready your properties and inventory for sale across 1000s of our native sales channels.\n Integrators, affiliates, travel agents and content creators have the ability search for your travel inventory and promote / sell it in a wide variety of ways.\n\n # Integrations\n We have already integrated with the most well-known channel managers so you don't have to. To see our current integrations, please go to https://extranet.wink.travel and scroll to Connectivity section. Once your properties are set up, you can finish the setup by mapping your property to Wink using your channel manager partner portal. If your properties don't have a channel manager, you can easily manage rates and availability with this API.\n\n # Intended Audience\n Programmers are [most likely] a requirement to start integrating with Wink. Companies and organizations that would most benefit from integrating with us are new and existing travel companies that have relationships with suppliers and that need an advanced system from which to manage their travel inventory and get that same inventory out to as many eyeballs as possible at the lowest price possible.\n - Hotel chains\n - Hotel brands\n - Travel tech companies\n - Destination sites\n - Integrators\n - Aggregators\n - Destination management companies\n - Travel agencies\n - OTAs\n\n ## APIs\n Not every integrator needs every API. For that reason, we have separated APIs into context.\n\n### Test API\n\n - [Ping](/ping): The Ping API is a quick test endpoint to verify that your credentials work Wink.\n\n### Common APIs\n\n- [Notifications](/notifications): The Notifications API is a way for us to stay in touch with your user, property or affiliate account.\n- [User Settings](/user-settings): The User Settings API exposes endpoints to allow 3rd party integrators to communicate with Wink.\n\n### Consume APIs\nConsume endpoints are for developers who want to find existing travel inventory and either book it or use it to advertise through one of their Wink affiliate accounts.\n\n - [Configuration](/engine-client): A single endpoint to retrieve whitelabel + customization information for the booking engine.\n - [Lookup](/lookup): All APIs related to locating inventory by region, locale and property flags.\n - [Inventory](/inventory): All APIs related to retrieve known travel inventory as it was found using the Lookup API..\n - [Booking](/booking): All APIs related to creating bookings on the platform.\n - [Travel Agent](/travel-agent): The Travel Agent API exposes endpoints to manage agent-facilitated bookings.\n\n ### Produce APIs\n Produce endpoints are for developers who want to create and manage travel inventory.\n\n #### Property\n - [Property registration](/extranet/property/register): As a producer, this is, oftentimes, where you start your journey. These endpoints let you create properties on Wink.\n - [Property](/extranet/property): This collection of property endpoints are mostly management endpoints that let you display, change status and similar for your existing properties.\n - [Facilities](/extranet/facilities): This collection of endpoints let you manage facilities; such as room types.\n - [Experiences](/extranet/experiences): This collection of endpoints let you manage experiences, such as activities.\n - [Monetize](/extranet/monetize): The Monetize API exposes endpoints for managing cancellation polies, rate plans, promotions and more on Wink.\n - [Distribution](/extranet/distribution): The Distribution API exposes endpoints for sales channels, connecting with affiliates, managing rates and inventory calendars and more on Wink.\n - [Property Booking](/extranet/booking): The Property Booking API exposes endpoints for managing bookings and reviews at the property-level.\n\n #### Affiliate\n - [Affiliate](/affiliate): This collection of affiliate endpoints are mostly management endpoints that let you display, change status and similar for your existing accounts.\n - [Browse](/affiliate/browse): The Browse API exposes endpoints for affiliates to find suppliers and inventory to sell.\n - [Inventory](/affiliate/inventory): The Inventory API exposes endpoints for affiliates to manage the inventory they want to sell and how they want to sell it.\n - [Sales Channel](/affiliate/sales-channel): The Sales Channel API exposes endpoints for affiliates to manage existing sales channels as well as find new ones.\n - [WinkLinks](/affiliate/winklinks): The WinkLinks API exposes endpoints for affiliates to manage their WinkLinks page.\n\n #### Rate provider\n - [Channel manager](/channel-manager): The Channel Manager API enables external channel manager partners to map, exchange rate / availability information with us as well as be informed of bookings that occur on the Wink platform for one of their properties.\n\n ### Taxonomy APIs\n Taxonomy endpoints are for developers who want to consume and produce travel inventory and need taxonomies of standard and non-standard codes for inventory types, classes, statuses etc.\n\n - [Reference](/reference): All APIs related to retrieving platform-supported taxonomies.\n\n ### Insight APIs\n Insight endpoints do exactly what the name implies - They offer platform-level insight into the activities of producers and consumers.\n\n - [Analytics](/analytics): All APIs related to tracking metrics across a wide variety of data source segments including, more entertaining, leaderboard metrics.\n\n ### Payment APIs\n Payment endpoints are for developers who want to purchase travel inventory. This can be done via the API as a registered Travel Agent or using our API in conjunction with our PCI compliant payment widget for all other entities.\n\n - [TripPay](/payment): All APIs related to TripPay account management, booking, mapping and integration features.\n\n ## SDKs\n We are actively working on supporting the most used languages out there. If you don't see your language here, reach out to us with a request to officially add your language. In the meantime, if you want to roll your own SDK, you can do so by downloading the OpenAPI spec and using one of the many available OpenAPI generators available: [https://openapi-generator.tech/docs/generators](https://openapi-generator.tech/docs/generators).\n\n - Java SDK [https://github.com/wink-travel/wink-sdk-java](https://github.com/wink-travel/wink-sdk-java)\n\n ## Usage\n These features are made available to you via a [REST API](https://en.wikipedia.org/wiki/Representational_state_transfer). This API is language agnostic.\n\n ## Versioning\n We chose to version our endpoints in a way that we hope affects your integration minimally. You request the version of our API you wish to work with via the `Wink-Version` header. When it's time for you to upgrade, you only have to change the version number to get access to our updated endpoints.\n\n ## Release history\n - Follow updates on Github: https://github.com/wink-travel/wink-sdk-java/blob/master/CHANGELOG.md\n\n\n# Extranet Booking API\nThe Booking API exposes endpoints to manage bookings. This API lets you:\n\n1. Booking: Manage bookings including cancellations.\n2. Review: Manage user reviews.\n3. Sync w. Calendar: Manage calendar sync with your favorite calendar software\n\nBrowse the endpoints in the left navigation bar to get started.\n\n","contact":{"name":"Bjorn Harvold","email":"bjorn@wink.travel"},"version":"30.5.10","x-logo":{"backgroundColor":"#FFFFFF","altText":"wink","url":"https://res.cloudinary.com/traveliko/image/upload/c_scale,h_129/v1653285543/wink/logo_text_white.svg"}},"externalDocs":{"description":"Extranet Documentation","url":"https://wink.travel/docs/extranet/"},"servers":[{"url":"https://api.wink.travel","description":"Endpoint"}],"tags":[{"name":"Review","description":"Travelers can leave reviews after a booking has taken place. Properties can see these reviews and also respond to them."},{"name":"Calendar Sync","description":"The CalDav API let's you link your favorite calendar software with bookings on Wink."},{"name":"Booking","description":"Retrieve bookings and manage cancellations at the property-level."}],"paths":{"/api/property/{propertyIdentifier}/review/{reviewIdentifier}":{"get":{"tags":["Review"],"summary":"Show Review","description":"Retrieve a unique review of a hotel identified by its identifier","operationId":"showReview","parameters":[{"name":"propertyIdentifier","in":"path","description":"Show review given to hotel with this identifier","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"reviewIdentifier","in":"path","description":"Show review for this identifier","required":true,"schema":{"type":"string"},"example":"review-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewView_Supplier"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/property/{propertyIdentifier}/review/count":{"get":{"tags":["Review"],"summary":"Show Review Count","description":"Retrieve a count of all reviews for a hotel identified by its identifier","operationId":"showReviewCount","parameters":[{"name":"propertyIdentifier","in":"path","description":"Show review count for hotel with this identifier","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CountResponse_Supplier"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/property/{propertyIdentifier}/caldav/auth":{"get":{"tags":["Calendar Sync"],"summary":"Show CalDAV Connection","description":"Retrieve the CalDAV connection for your property","operationId":"retrieveCalDavAuth","parameters":[{"name":"propertyIdentifier","in":"path","description":"Generate CalDAV auth for this specified property","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CalDavResponse_Supplier"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/property/{propertyIdentifier}/caldav/auth/regen":{"get":{"tags":["Calendar Sync"],"summary":"Create CalDAV connection","description":"Generates new CalDav passkey the property can use to authenticate the CalDAV url.","operationId":"generateCalDavAuth","parameters":[{"name":"propertyIdentifier","in":"path","description":"Regenrate CalDAV auth for this specified property","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CalDavResponse_Supplier"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/property/{propertyIdentifier}/booking/{bookingIdentifier}":{"get":{"tags":["Booking"],"summary":"Show Booking","description":"Retrieve a single booking specific by its identifier.","operationId":"showHotelBooking","parameters":[{"name":"propertyIdentifier","in":"path","description":"Show booking owned by this hotel","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"bookingIdentifier","in":"path","description":"Show booking with this identifier","required":true,"schema":{"type":"string"},"example":"booking-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingView_SupplierDetails"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/property/{propertyIdentifier}/booking/{bookingIdentifier}/cancellable":{"get":{"tags":["Booking"],"summary":"Is Booking Cancellable","description":"Checks to see whether this booking (or group booking) can be cancelled by either the traveler or the hotel.","operationId":"isBookingCancellable","parameters":[{"name":"propertyIdentifier","in":"path","description":"Check if booking can be cancelled for hotel with this identifier","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"bookingIdentifier","in":"path","description":"Check if booking can be cancelled with this identifier","required":true,"schema":{"type":"string"},"example":"booking-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingCancellable_Supplier"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/property/{propertyIdentifier}/booking/roomrate/list":{"get":{"tags":["Booking"],"summary":"Show Active Master Rates","description":"Return a geoname list of unique master rates that have been booked. This is helpful data you can use to filter on within your dataset.","operationId":"showActiveMasterRates","parameters":[{"name":"propertyIdentifier","in":"path","description":"Show booked master rates for this property identifier","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KeyValuePair_Supplier"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/property/{propertyIdentifier}/booking/owner/list":{"get":{"tags":["Booking"],"summary":"Show Active Affiliates","description":"Return a geo-name list of unique affiliates that have brought the property bookings. This is helpful data you can use to filter on within your dataset.","operationId":"showActiveAffiliates","parameters":[{"name":"propertyIdentifier","in":"path","description":"Show active affiliates for hotel with this identifier","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KeyValuePair_Supplier"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/property/{propertyIdentifier}/booking/overview":{"get":{"tags":["Booking"],"summary":"Property Booking Overview","description":"Basic booking overview data","operationId":"showBookingOverview","parameters":[{"name":"propertyIdentifier","in":"path","description":"Show booking owned by this hotel","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupedBookingSalesMetrics_SupplierDetails"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/property/{propertyIdentifier}/booking/list":{"get":{"tags":["Booking"],"summary":"Show Bookings","description":"Retrieve bookings for hotel with simple filter rules.","operationId":"showHotelBookings_1","parameters":[{"name":"propertyIdentifier","in":"path","description":"Show bookings for hotel with this identifier","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"state","in":"query","description":"Filter on the booking state","required":false,"schema":{"type":"string","enum":["PAST","PRESENT","FUTURE","CANCELLED","CANCELLED_BY_GUEST","CANCELLED_BY_HOTEL","CANCELLED_BY_ENGINE","ACTIVE"]},"example":"ACTIVE"},{"name":"pageNumber","in":"query","description":"Paginate booking list","required":false,"schema":{"minimum":0,"type":"integer","format":"int32","default":0},"example":0},{"name":"maxResults","in":"query","description":"Limit number of records to return","required":false,"schema":{"maximum":100,"type":"integer","format":"int32","default":30},"example":20},{"name":"search","in":"query","description":"Filter on email, first or last name to further narrow down the result set","required":false,"schema":{"type":"string"},"example":"Smith"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageBookingView_Supplier"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/cal/property/{propertyIdentifier}/booking/list":{"get":{"tags":["Calendar Sync"],"summary":"CalDAV calendar","description":"This is the CalDAV URL you can add to your calendar program.","operationId":"caldav","parameters":[{"name":"propertyIdentifier","in":"path","description":"Retrieve booking list in CalDAV for this specified property","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/property/{propertyIdentifier}/review/grid":{"post":{"tags":["Review"],"summary":"Show Reviews","description":"Retrieve a paginated list of reviews for specified property","operationId":"showReviews","parameters":[{"name":"propertyIdentifier","in":"path","description":"Show reviews for hotel with this identifier","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/State_Supplier"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageReviewView_Supplier"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/property/{propertyIdentifier}/booking/grid":{"post":{"tags":["Booking"],"summary":"Search Bookings","description":"Retrieve page of bookings for a specific hotel with advanced filtering rules.","operationId":"showHotelBookings","parameters":[{"name":"propertyIdentifier","in":"path","description":"Show bookings for hotel with this identifier","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/State_Supplier"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageBookingView_Supplier"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/property/{propertyIdentifier}/booking/analytics":{"post":{"tags":["Booking"],"summary":"Property Booking Analytics","description":"Basic booking analytics data","operationId":"showBookingAnalytics","parameters":[{"name":"propertyIdentifier","in":"path","description":"Show active booking count for hotel with this identifier","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"description":"Overview request body","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingOverviewRequest_Supplier"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingAnalytics_Supplier"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/property/{propertyIdentifier}/review/{reviewIdentifier}/response":{"patch":{"tags":["Review"],"summary":"Respond to Review","description":"Respond to a unique review for a hotel identified by its identifier","operationId":"respondToReview","parameters":[{"name":"propertyIdentifier","in":"path","description":"Respond to review given hotel with this identifier","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"reviewIdentifier","in":"path","description":"Respond to review with this identifier","required":true,"schema":{"type":"string"},"example":"review-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewResponse_Supplier"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewView_Supplier"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/property/{propertyIdentifier}/booking/{bookingIdentifier}/resend":{"patch":{"tags":["Booking"],"summary":"Resend Booking Confirmation","description":"Resends booking confirmation email to traveler.","operationId":"resendBookingConfirmationEmail","parameters":[{"name":"propertyIdentifier","in":"path","description":"Booking owner","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"bookingIdentifier","in":"path","description":"Booking identifier","required":true,"schema":{"type":"string"},"example":"booking-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"description":"Empty request body","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyRequestBody_Supplier"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BooleanResponse_Supplier"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/property/{propertyIdentifier}/booking/{bookingIdentifier}/request-refund":{"patch":{"tags":["Booking"],"summary":"Request refund","description":"Under certain circumstances, a property can request a partial refund of the funds that were attributed to them even after a cancellation occurred or the while the funds have not been disbursed yet.","operationId":"requestRefund","parameters":[{"name":"propertyIdentifier","in":"path","description":"Cancel booking for hotel with this identifier","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"bookingIdentifier","in":"path","description":"Cancel booking with this identifier","required":true,"schema":{"type":"string"},"example":"booking-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PropertyBookingRefundRequest_Supplier"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingView_Supplier"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/property/{propertyIdentifier}/booking/{bookingIdentifier}/cancel":{"patch":{"tags":["Booking"],"summary":"Cancel Booking","description":"Booking is cancelled by the property.","operationId":"cancelHotelBooking","parameters":[{"name":"propertyIdentifier","in":"path","description":"Cancel booking for hotel with this identifier","required":true,"schema":{"type":"string"},"example":"hotel-1"},{"name":"bookingIdentifier","in":"path","description":"Cancel booking with this identifier","required":true,"schema":{"type":"string"},"example":"booking-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancellationDetail_Supplier"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{"type":"object"}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingView_Supplier"}}}}},"security":[{"oauth2ClientCredentials":[]}]}}},"components":{"schemas":{"GenericErrorMessage":{"type":"object","properties":{"timestamp":{"type":"string","xml":{"attribute":true}},"status":{"type":"integer","format":"int32","xml":{"attribute":true}},"error":{"type":"string"},"message":{"type":"string"},"path":{"type":"string"}},"description":"Generic error message","xml":{"name":"ErrorMessage"}},"AggregateDescriptor_Supplier":{"type":"object","properties":{"field":{"type":"string","description":"Field to run aggregate function on","example":"hotel.bookings"},"aggregate":{"type":"string","description":"Aggregate function","example":"count","enum":["count","sum","average","min","max"]}},"description":"Primitive aggregate data points"},"CompositeFilterDescriptor_Supplier":{"type":"object","properties":{"logic":{"type":"string","description":"Whether to filter inclusively or exclusively","example":"and","enum":["and","or"]},"filters":{"type":"array","description":"Descriptors used for filtering the result set","items":{"$ref":"#/components/schemas/FilterDescriptor_Supplier"}}},"description":"Descriptors used for filtering result set"},"FilterDescriptor_Supplier":{"required":["field","operator","value"],"type":"object","properties":{"field":{"type":"string","description":"Field name to filter on","example":"hotel.name"},"operator":{"type":"string","description":"Filter operator to use on field","example":"startsWith","enum":["neq","eq","contains","doesnotcontain","isnull","isnotnull","isempty","isnotempty","startswith","endswith","gte","lte","gt","lt","in","nin"]},"value":{"type":"object","description":"Value to filter dataset against","example":"Happy Res"},"ignoreCase":{"type":"boolean","description":"Make filter comparison case insensitive. Default: Case sensitive ","example":true}},"description":"Descriptors used for filtering the result set"},"GroupDescriptor_Supplier":{"type":"object","properties":{"field":{"type":"string","description":"Field to group data set on","example":"createdDate"},"dir":{"type":"string","description":"Group sort direction","example":"asc","enum":["asc","desc"]},"aggregates":{"type":"array","description":"Primitive aggregate data points","items":{"$ref":"#/components/schemas/AggregateDescriptor_Supplier"}}},"description":"Descriptors to group result sets by."},"SortDescriptor_Supplier":{"type":"object","properties":{"dir":{"type":"string","description":"Descriptors used for sorting result set","example":"asc","enum":["asc","desc"]},"field":{"type":"string","description":"Data set field to sort on","example":"hotel.name"}},"description":"Descriptors used for sorting result set."},"State_Supplier":{"type":"object","properties":{"skip":{"minimum":0,"type":"integer","description":"Number of records to be skipped by the pager.","format":"int32","example":0,"default":0},"take":{"maximum":180,"minimum":1,"type":"integer","description":"Number of records to take.","format":"int32","example":10,"default":30},"sort":{"type":"array","description":"Descriptors used for sorting result set.","items":{"$ref":"#/components/schemas/SortDescriptor_Supplier"}},"filter":{"$ref":"#/components/schemas/CompositeFilterDescriptor_Supplier"},"group":{"type":"array","description":"Descriptors to group result sets by.","items":{"$ref":"#/components/schemas/GroupDescriptor_Supplier"}}}},"PageReviewView_Supplier":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/ReviewView_Supplier"}},"number":{"type":"integer","format":"int32"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject_Supplier"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"PageableObject_Supplier":{"type":"object","properties":{"offset":{"type":"integer","format":"int64"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"paged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"unpaged":{"type":"boolean"}}},"ReviewAnswer_Supplier":{"required":["category","questionIdentifier","sort","value"],"type":"object","properties":{"questionIdentifier":{"type":"string","description":"Question identifier","format":"uuid"},"category":{"type":"string","description":"Question category","enum":["COMFORT","CONDITION","SERVICE","ENVIRONMENT","FACILITIES","LOCATION","LIFESTYLE","VALUE","FOOD","ROOM"]},"sort":{"type":"integer","description":"Sort key","format":"int32"},"value":{"type":"integer","description":"Value","format":"int32"}}},"ReviewUser_Supplier":{"type":"object","properties":{"userIdentifier":{"type":"string","description":"User identifier","format":"uuid"},"firstName":{"type":"string","description":"First name","example":"John"},"lastName":{"type":"string","description":"Last name","example":"Smith"},"email":{"type":"string","description":"Email","format":"email","example":"john.smith@email.com"},"telephone":{"type":"string","description":"Telephone","example":"0123456789"},"fullName":{"type":"string","description":"Full name","example":"0123456789"}},"description":"User details of creator of booking."},"ReviewView_Supplier":{"required":["review"],"type":"object","properties":{"id":{"type":"string","description":"Document UUID","example":"doc-1"},"createdDate":{"type":"string","description":"Datetime this record was first created","format":"date-time"},"lastUpdate":{"type":"string","description":"Datetime this record was last updated","format":"date-time"},"version":{"type":"integer","description":"Version property that shows how many times this document has been persisted. Document will not persist if the version property is less than current version property in the system. Result in an optimistic locking exception.","format":"int64","example":12},"review":{"$ref":"#/components/schemas/Review_Supplier"}}},"Review_Supplier":{"type":"object","properties":{"identifier":{"type":"string","description":"Unique review identifier identifying this record.","format":"uuid"},"bookingIdentifier":{"type":"string","description":"Booking identifier identifier booking this review is associated with.","format":"uuid"},"hotelIdentifier":{"type":"string","description":"Hotel identifier this booking is associated with.","format":"uuid"},"user":{"$ref":"#/components/schemas/ReviewUser_Supplier"},"reviewDate":{"type":"string","description":"Date of review.","format":"date-time"},"averageScore":{"type":"number","description":"Total points divided by number of questions.","format":"double","example":8.7},"answers":{"type":"array","description":"List of user review answers.","items":{"$ref":"#/components/schemas/ReviewAnswer_Supplier"}},"messageFromGuest":{"type":"string","description":"Private message from guest to the hotel. Is not displayed on property profile.","example":"Dear GM, I would like to say thank you so much for taking the time to show my husband and I around the premises and the secret cave behind the property."},"responseFromHotel":{"type":"string","description":"Property can response to traveler review. Response goes on public review profile and can be seen by others.","example":"It was so great to have you at our hotel. Please recommend your friends and come again soon."},"imageIdentifier":{"type":"string","description":"Reviewer can upload her best picture from the property. Cloudinary image identifier.","example":"cloudinary-image-1"},"text":{"type":"string","description":"Free text record created by traveler","example":"Our stay was amazing! Can recommend highly to all. Felt like home."},"approvedText":{"type":"boolean","description":"Hotel allows the review text to be displayed as part of their profile.","example":true},"approvedImage":{"type":"boolean","description":"Hotel allows the user-generated image to be displayed as part of their profile.","example":false},"likes":{"type":"array","description":"List of member identifiers who liked the textual review","format":"uuid","example":"user-1","items":{"type":"string"}},"roomNumber":{"type":"string","description":"Guest's room number during their stay.","example":"501"},"roomRating":{"type":"integer","description":"Guest's room rating","format":"int32","example":7},"responded":{"type":"boolean","description":"Returns true if property has responded to the review given by the guest.","example":false,"default":false}}},"SortObject":{"type":"object","properties":{"direction":{"type":"string"},"nullHandling":{"type":"string"},"ascending":{"type":"boolean"},"property":{"type":"string"},"ignoreCase":{"type":"boolean"}}},"Address_Supplier":{"required":["address1","city"],"type":"object","properties":{"address1":{"type":"string","description":"Address line 1","example":"234 Near da beach"},"address2":{"type":"string","description":"Address line 2","example":"Pebble #5001"},"state":{"type":"string","description":"State","example":"CA"},"postalCode":{"type":"string","description":"Postal / zip code","example":"90210"},"county":{"type":"string","description":"County","example":"Alameda county"},"city":{"$ref":"#/components/schemas/GeoName_Supplier"},"valid":{"type":"boolean","description":"Whether this address is considered valid by the system or not","readOnly":true,"example":true},"fullAddress":{"type":"string","description":"Address 1, Address 2, City, State, Postal / Zip code, Country","readOnly":true,"example":"11 At home, Suite 3C, New York City, NY 10010, United States"}},"description":"Address information"},"AuthenticatedUser_Supplier":{"required":["email","firstName","lastName"],"type":"object","properties":{"userIdentifier":{"type":"string","description":"User identifier","format":"uuid"},"firstName":{"type":"string","description":"First name","example":"John"},"lastName":{"type":"string","description":"Last name","example":"Smith"},"email":{"type":"string","description":"Email","format":"email","example":"john.smith@email.com"},"fullName":{"type":"string","description":"Full name","readOnly":true,"example":"John Smith"}},"description":"The authenticated user ID that made the payment request","example":"user-1"},"Bed_Supplier":{"required":["bedTypeCode","quantity"],"type":"object","properties":{"bedTypeCode":{"type":"string","description":"Indicates the type of bed(s) found in the room. Typical values would be Double, Twin, Queen, or King. Supported OTA specification `BED` code. See [OTA geoname data](#operation/showAvailableCodesForCategory).","example":"1"},"quantity":{"minimum":1,"type":"integer","description":"Number of beds for this bed type.","format":"int32","example":10}}},"BedroomConfiguration_Supplier":{"required":["bedroomList","identifier","name"],"type":"object","properties":{"identifier":{"type":"string","description":"Unique identifier","format":"uuid"},"name":{"type":"string","description":"Name of layout"},"bedroomList":{"type":"array","description":"A room type can have more than one bedroom configuration.","items":{"$ref":"#/components/schemas/Bedroom_Supplier"}}},"description":"Desired bedroom layout"},"Bedroom_Supplier":{"required":["bedList","type"],"type":"object","properties":{"type":{"type":"string","description":"Type of bedroom","enum":["MASTER","QUEEN","JUNIOR","DORMITORY","BEDROOM_1","BEDROOM_2","BEDROOM_3","BEDROOM_4","BEDROOM_5","BEDROOM_6","BEDROOM_7","BEDROOM_8","BEDROOM_9","BEDROOM_10"]},"bedList":{"type":"array","description":"A bedroom can have more than one bed type.","items":{"$ref":"#/components/schemas/Bed_Supplier"}}}},"BeneficiaryCharge_Supplier":{"required":["type"],"type":"object","properties":{"type":{"type":"string","description":"The type of charge","enum":["PERCENTAGE","REMAINDER"]},"percent":{"type":"number","description":"A percentage of the total stay amount for an early checkin or late checkout"}},"description":"A variable charge can be a fixed amount or a percentage."},"Beneficiary_Supplier":{"required":["accountEmail","accountIdentifier","accountName","captureAmount","captureAmountRefundModifier","captureCurrency","displayAmount","displayAmountRefundModifier","displayCurrency","internalAmount","internalAmountRefundModifier","internalCurrency","netCaptureAmount","netDisplayAmount","netInternalAmount","netSourceAmount","netSupplierAmount","sourceAmount","sourceAmountRefundModifier","sourceCurrency","supplierAmount","supplierAmountRefundModifier","supplierCurrency","type"],"type":"object","properties":{"accountIdentifier":{"type":"string","description":"accountIdentifier of beneficiary that can map to an account with us","example":"account-1"},"accountName":{"type":"string","description":"accountName of beneficiary that can map to an account with us","example":"Account 1"},"accountEmail":{"type":"string","description":"accountEmail of beneficiary that can map to an account with us","example":"account@one.com"},"accountUrl":{"type":"string","description":"accountUrl of beneficiary that can map to an account with us","example":"https://some.url"},"type":{"type":"string","description":"The type of beneficiary payment.","enum":["COMMISSION","PLATFORM_FEE","TRIP_PAY","SALE"]},"amountDue":{"$ref":"#/components/schemas/BeneficiaryCharge_Supplier"},"sourceCurrency":{"type":"string","description":"The source currency","example":"USD"},"displayCurrency":{"type":"string","description":"The display currency","example":"USD"},"supplierCurrency":{"type":"string","description":"The supplier currency","example":"USD"},"internalCurrency":{"type":"string","description":"The internal currency","example":"USD"},"captureCurrency":{"type":"string","description":"The capture currency","example":"USD"},"sourceAmount":{"minimum":0,"type":"number","description":"Amount in source currency","example":50},"displayAmount":{"minimum":0,"type":"number","description":"Amount in display currency","example":50},"supplierAmount":{"minimum":0,"type":"number","description":"Amount in supplier currency","example":50},"internalAmount":{"minimum":0,"type":"number","description":"Amount in internal currency","example":50},"captureAmount":{"minimum":0,"type":"number","description":"Amount in capture currency","example":50},"sourceAmountRefundModifier":{"minimum":0,"type":"number","description":"The delta from the original source amount after a refund occurred","example":5},"displayAmountRefundModifier":{"minimum":0,"type":"number","description":"The delta from the original display amount after a refund occurred","example":5},"supplierAmountRefundModifier":{"minimum":0,"type":"number","description":"The delta from the original supplier amount after a refund occurred","example":5},"internalAmountRefundModifier":{"minimum":0,"type":"number","description":"The delta from the original internal amount after a refund occurred","example":5},"captureAmountRefundModifier":{"minimum":0,"type":"number","description":"The delta from the original capture amount after a refund occurred","example":5},"pendingRefunds":{"type":"array","items":{"$ref":"#/components/schemas/PendingRefund_Supplier"}},"netSourceAmount":{"minimum":0,"type":"number","description":"Source amount minus source modifier."},"netDisplayAmount":{"minimum":0,"type":"number","description":"Display amount minus display modifier."},"netSupplierAmount":{"minimum":0,"type":"number","description":"Supplier amount minus supplier modifier."},"netInternalAmount":{"minimum":0,"type":"number","description":"Internal amount minus internal modifier."},"netCaptureAmount":{"minimum":0,"type":"number","description":"Capture amount minus capture modifier."},"metadata":{"type":"object","additionalProperties":{"type":"string","description":"Place to add more data related to the beneficiary."},"description":"Place to add more data related to the beneficiary."}},"description":"Beneficiary is a registered account with rights to compensation within a booking."},"BookingAncillary_Supplier":{"required":["address","attendees","commission","commissionable","contact","endDate","hotelIdentifier","identifier","imageIdentifier","imageUrl","localizedDescription","localizedName","mandatory","name","price","pricingType","startDate","transactionalTravelInventoryIdentifier","type","typeIdentifier"],"type":"object","properties":{"identifier":{"type":"string","description":"Ancillary identifier","format":"uuid"},"hotelIdentifier":{"type":"string","description":"Hotel identifier","format":"uuid"},"typeIdentifier":{"type":"string","description":"Travel inventory identifier","format":"uuid"},"transactionalTravelInventoryIdentifier":{"type":"string","description":"Travel inventory identifier","format":"uuid"},"name":{"type":"string","description":"Name of inventory","example":"Place 1"},"pricingType":{"type":"string","description":"Pricing type","example":"PER_USE","enum":["PER_STAY","PER_DAY","PER_NIGHT","PER_USE","PER_HOUR","PER_PERSON","PER_PERSON_PER_NIGHT","PER_PERSON_PER_HOUR","PER_ADULT","PER_ADULT_PER_NIGHT","PER_ADULT_PER_HOUR","PER_CHILD","PER_CHILD_PER_NIGHT","PER_CHILD_PER_HOUR"]},"type":{"type":"string","description":"Inventory type","example":"PLACE","enum":["ROOM_TYPE_ANCILLARY","ADD_ON","MEETING_ROOM","SPA","RESTAURANT","ACTIVITY","ATTRACTION","PLACE"]},"price":{"$ref":"#/components/schemas/LocalizedPrice_Supplier"},"startDate":{"type":"string","description":"Date start time when reservation was made for.","format":"date-time"},"endDate":{"type":"string","description":"Date end time when reservation was made for.","format":"date-time"},"attendees":{"type":"integer","description":"Number of guests that are part of this reservation.","format":"int32","example":2,"default":1},"imageIdentifier":{"type":"string","description":"Cloudinary image identifier","example":"cloudinary-image-1"},"imageUrl":{"type":"string","description":"Absolute URL to image of inventory","example":"https://path.to.image.com/this-is-me.jpg"},"localizedName":{"type":"string","description":"Name of travel inventory in traveler language (if available). Defaults to English.","example":"Plass 1"},"localizedDescription":{"type":"string","description":"Description of travel inventory in traveler language (if available). Defaults to English.","example":"place-1"},"contact":{"$ref":"#/components/schemas/Contact_Supplier"},"address":{"$ref":"#/components/schemas/Address_Supplier"},"commissionable":{"type":"boolean"},"mandatory":{"type":"boolean"},"commission":{"type":"number","format":"float"}},"description":"Spa reservation records."},"BookingContractItem_Supplier":{"required":["beneficiaryList","captureAmount","captureCurrency","descriptionInEnglish","displayAmount","displayCurrency","internalAmount","internalCurrency","itinerary","nameInEnglish","netCaptureAmount","netDisplayAmount","netInternalAmount","netSourceAmount","netSupplierAmount","payable","pricingType","sourceAmount","sourceCurrency","supplierAmount","supplierCurrency","supplierItemBookingCode","type","user"],"type":"object","properties":{"supplierItemBookingCode":{"type":"string","description":"Booking code identifying the supplier line item.","example":"TP-ASDFG1234"},"user":{"$ref":"#/components/schemas/GuestUser_Supplier"},"nameInEnglish":{"type":"string","description":"Name of item in English included in booking.","example":"Deluxe King"},"descriptionInEnglish":{"type":"string","description":"Short description in English of item included in booking.","example":"This is the best deluxe king that money can buy."},"itinerary":{"$ref":"#/components/schemas/SimpleDateTimeItinerary_Supplier"},"pricingType":{"type":"string","description":"How to calculate the total amount.","enum":["PER_STAY","PER_DAY","PER_NIGHT","PER_USE","PER_HOUR","PER_PERSON","PER_PERSON_PER_NIGHT","PER_PERSON_PER_HOUR","PER_ADULT","PER_ADULT_PER_NIGHT","PER_ADULT_PER_HOUR","PER_CHILD","PER_CHILD_PER_NIGHT","PER_CHILD_PER_HOUR"]},"type":{"type":"string","description":"Type of item this is.","example":"LODGING","enum":["LODGING","RAIL","AIR","CAR","CRUISE","PACKAGE","ADD_ON","RENTAL","EXPERIENCE","ANCILLARY_BOOKING","ANCILLARY_FEE"]},"beneficiaryList":{"maxItems":2147483647,"minItems":1,"type":"array","items":{"$ref":"#/components/schemas/Beneficiary_Supplier"}},"payable":{"type":"string","description":"When to charge for this item.","example":"PREPAY","enum":["IMMEDIATE","ARRIVAL","DEPARTURE","AGENT"]},"policy":{"$ref":"#/components/schemas/SupplierContractItemPolicy_Supplier"},"externalIdentifier":{"type":"string","description":"Optional externalIdentifier to remote inventory.","example":"room-type-1"},"tokensEarned":{"type":"integer","description":"Tokens minted for this item","format":"int64","example":12},"dailyRateList":{"type":"array","items":{"$ref":"#/components/schemas/DailyRate_Supplier"}},"cancelled":{"type":"boolean","description":"Optional geoname externalIdentifier to remote inventory."},"sourceCurrency":{"type":"string","description":"The source currency","example":"USD"},"displayCurrency":{"type":"string","description":"The display currency","example":"USD"},"supplierCurrency":{"type":"string","description":"The supplier currency","example":"USD"},"internalCurrency":{"type":"string","description":"The internal currency","example":"USD"},"captureCurrency":{"type":"string","description":"The capture currency","example":"USD"},"sourceAmount":{"minimum":0,"type":"number","description":"The total initial price as quoted in the original TripPay contract."},"displayAmount":{"minimum":0,"type":"number","description":"The total display price."},"supplierAmount":{"minimum":0,"type":"number","description":"The total supplier price."},"internalAmount":{"minimum":0,"type":"number","description":"The total internal price."},"captureAmount":{"minimum":0,"type":"number","description":"The total capture price."},"sourceAmountRefundModifier":{"minimum":0,"type":"number","description":"The source amount still due after a partial refund occurs."},"displayAmountRefundModifier":{"minimum":0,"type":"number","description":"The display amount still due after a partial refund occurs."},"supplierAmountRefundModifier":{"minimum":0,"type":"number","description":"The supplier amount still due after a partial refund occurs."},"internalAmountRefundModifier":{"minimum":0,"type":"number","description":"The internal amount still due after a partial refund occurs."},"captureAmountRefundModifier":{"minimum":0,"type":"number","description":"The capture amount still due after a partial refund occurs."},"netSourceAmount":{"minimum":0,"type":"number","description":"Source amount minus source modifier."},"netDisplayAmount":{"minimum":0,"type":"number","description":"Display amount minus display modifier."},"netSupplierAmount":{"minimum":0,"type":"number","description":"Supplier amount minus supplier modifier."},"netInternalAmount":{"minimum":0,"type":"number","description":"Internal amount minus internal modifier."},"netCaptureAmount":{"minimum":0,"type":"number","description":"Capture amount minus capture modifier."},"metadata":{"type":"object","additionalProperties":{"type":"string","description":"Place to add more data related to the booking contract item."},"description":"Place to add more data related to the booking contract item."},"cancellableBySupplier":{"type":"boolean","description":"Whether the booking can still be cancelled by the supplier. A supplier cancellation overrides the refundable"},"cancellableByTraveler":{"type":"boolean","description":"Whether the booking can still be cancelled by the traveller."},"cancellableWithNoCharges":{"type":"boolean","description":"Whether the booking can still be cancelled and whether cancellation charges might still occur."},"cancellableWithPotentialCharges":{"type":"boolean","description":"Whether the booking can still be cancelled and whether cancellation charges might still occur."}},"description":"Returns the lodging item only."},"BookingContractPaymentDetails_Supplier":{"required":["acquirerIdentifier","chargeIdentifier","customerIdentifier","status","transactionIdentifier","vendor","vendorSpecific"],"type":"object","properties":{"acquirerIdentifier":{"type":"string","description":"Unique acquiring identifier. Blank for agent payment","example":"stripe-world"},"vendor":{"type":"string","description":"Name of acquiring vendor","example":"STRIPE","enum":["STRIPE","AGENT","NMI","WISE"]},"transactionIdentifier":{"type":"string","description":"Unique transaction id from the vendor. Agent adds their transaction identifier.","example":"tx-1"},"customerIdentifier":{"type":"string","description":"Unique customer id from the vendor. Agent adds their own customer identifier.","example":"customer-1"},"chargeIdentifier":{"type":"string","description":"Unique charge id from the vendor..","example":"charge-1"},"status":{"type":"string","description":"Unique transaction id from the vendor upon a successful sale. Agent adds their transaction identifier.","example":"INITIALIZED","enum":["INITIALIZED","PROCESSING","SUCCEEDED","FAILED"]},"agentInvoicedDate":{"type":"string","description":"The date/time the invoice was generated","format":"date-time"},"agentInvoiceIdentifier":{"type":"string","description":"The specific invoice this booking was registered on","example":"invoice-1"},"redirectUrl":{"type":"string","description":"Where to redirect to after payment [in-]complete"},"fees":{"type":"array","items":{"$ref":"#/components/schemas/Fee_Supplier"}},"vendorSpecific":{"type":"object","additionalProperties":{"type":"string","description":"Vendor specific values that are returned in a successful response"},"description":"Vendor specific values that are returned in a successful response"}},"description":"Payment details the merchant provided us at the time of payment."},"BookingContract_Supplier":{"required":["captureAmount","captureCurrency","capturePriceQuote","displayAmount","displayCurrency","displayPriceQuote","federatedOrganizationIdentifier","federatedOrganizationName","identifier","internalAmount","internalCurrency","internalPriceQuote","ipAddress","itemList","payment","sourceAmount","sourceCurrency","sourceUrl","supplierAmount","supplierCurrency","supplierIdentifier","supplierName","supplierPriceQuote","traceId","user"],"type":"object","properties":{"bookingContractIdentifier":{"type":"string","description":"Document UUID","format":"uuid"},"createdDate":{"type":"string","description":"Datetime this record was first created","format":"date-time"},"lastUpdate":{"type":"string","description":"Datetime this record was last updated","format":"date-time"},"federatedOrganizationIdentifier":{"type":"string","description":"The auth realm owner ID","example":"owner-1"},"federatedOrganizationName":{"type":"string","description":"The auth realm owner name","example":"Wink"},"user":{"$ref":"#/components/schemas/AuthenticatedUser_Supplier"},"ipAddress":{"type":"string","description":"Caller's IP address","example":"111.222.333.444"},"traceId":{"type":"string","description":"Way to track which booking contracts were made together","example":"T-123456"},"sourceUrl":{"type":"string","description":"Where did the booking occur","example":"https://www.traveliko.com"},"identifier":{"type":"string","description":"Unique identifier used to track the contract. Create a UUID for this purpose.","format":"uuid"},"supplierIdentifier":{"type":"string","description":"Supplier identifier","format":"uuid"},"supplierName":{"type":"string","description":"Supplier name","example":"Supplier One"},"displayPriceQuote":{"$ref":"#/components/schemas/Quote_Supplier"},"supplierPriceQuote":{"$ref":"#/components/schemas/Quote_Supplier"},"internalPriceQuote":{"$ref":"#/components/schemas/Quote_Supplier"},"capturePriceQuote":{"$ref":"#/components/schemas/Quote_Supplier"},"itemList":{"maxItems":2147483647,"minItems":1,"type":"array","description":"Holds one booking line item for a specific supplier.","items":{"$ref":"#/components/schemas/BookingContractItem_Supplier"}},"externalSupplierIdentifier":{"type":"string","description":"Contract creator can choose to geoname this record with her own identifier","example":"supplier-a"},"externalSupplierBookingCode":{"type":"string","description":"External booking code generated by the affiliate","example":"external-booking-code-1"},"payment":{"$ref":"#/components/schemas/BookingContractPaymentDetails_Supplier"},"cancelled":{"type":"boolean","description":"Optional geoname externalIdentifier to remote inventory.","example":false,"default":false},"cancelledOn":{"type":"string","description":"When the booking was cancelled.","format":"date-time"},"canceller":{"type":"string","description":"Type of entity that cancelled the booking.","enum":["SALES_CHANNEL","SUPPLIER","TRAVELER","ACQUIRER","ADMINISTRATOR"]},"cancellationType":{"type":"string","description":"Reason type.","enum":["DUPLICATE","CANCELLATION","NO_SHOW","CC_INVALID","CC_INSUFFICIENT","DISCRETIONARY"]},"cancellerUserIdentifier":{"type":"string","description":"User identifier that cancelled the entity."},"cancelReason":{"type":"string","description":"Reason for cancellation."},"fundsAddedToLedger":{"type":"boolean","description":"Whether the contract has been added to the ledger; ready for payout.","example":false},"fundsProcessed":{"type":"boolean","description":"Whether a funds transfer request has been created for this booking.","example":false},"refunds":{"type":"array","description":"An optional list of refunds that occurred with this booking. If the refund amount(s) is the same as the total price, the booking also gets cancelled.","items":{"$ref":"#/components/schemas/Refund_Supplier"}},"payouts":{"type":"array","description":"An optional list of refunds that occurred with this booking. If the refund amount(s) is the same as the total price, the booking also gets cancelled.","items":{"$ref":"#/components/schemas/Payout_Supplier"}},"sourceCurrency":{"type":"string","description":"The source currency","example":"USD"},"displayCurrency":{"type":"string","description":"The display currency","example":"USD"},"supplierCurrency":{"type":"string","description":"The supplier currency","example":"USD"},"internalCurrency":{"type":"string","description":"The internal currency","example":"USD"},"captureCurrency":{"type":"string","description":"The capture currency","example":"USD"},"sourceAmount":{"minimum":0,"type":"number","description":"The total initial price as quoted in the original TripPay contract."},"displayAmount":{"minimum":0,"type":"number","description":"The total display price."},"supplierAmount":{"minimum":0,"type":"number","description":"The total supplier price."},"internalAmount":{"minimum":0,"type":"number"},"captureAmount":{"minimum":0,"type":"number","description":"The total capture price."},"sourceAmountRefundModifier":{"type":"number","description":"The source amount still due after a partial refund occurs."},"displayAmountRefundModifier":{"type":"number","description":"The display amount still due after a partial refund occurs."},"supplierAmountRefundModifier":{"type":"number","description":"The supplier amount still due after a partial refund occurs."},"internalAmountRefundModifier":{"type":"number","description":"The internal amount still due after a partial refund occurs."},"captureAmountRefundModifier":{"type":"number","description":"The capture amount still due after a partial refund occurs."},"netSourceAmount":{"type":"number","description":"The total initial price as quoted in the original TripPay contract."},"netDisplayAmount":{"type":"number","description":"The total display price."},"netSupplierAmount":{"type":"number","description":"The total supplier price."},"netInternalAmount":{"type":"number"},"netCaptureAmount":{"type":"number","description":"The total capture price."},"metadata":{"type":"object","additionalProperties":{"type":"string","description":"Place to add more data related to the booking contract."},"description":"Place to add more data related to the booking contract."},"netCommissionableTotalSourceAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"netCommissionableTotalCaptureAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"netCommissionableTotalDisplayAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"netCommissionableTotalSupplierAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"netCommissionableTotalInternalAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"netTotalFeesAndCommissionsSourceAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"netTotalFeesAndCommissionsCaptureAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"netTotalFeesAndCommissionsDisplayAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"netTotalFeesAndCommissionsSupplierAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"netTotalFeesAndCommissionsInternalAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"netTotalFeesSourceAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"netTotalFeesCaptureAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"netTotalFeesDisplayAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"netTotalFeesSupplierAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"netTotalFeesInternalAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"netTotalTripPayFeeSourceAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"netTotalTripPayFeeCaptureAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"netTotalTripPayFeeDisplayAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"netTotalTripPayFeeSupplierAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"netTotalTripPayFeeInternalAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"netTotalSalesSourceAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"netTotalSalesCaptureAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"netTotalSalesDisplayAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"netTotalSalesSupplierAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"netTotalSalesInternalAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"commissionableTotalSourceAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"commissionableTotalCaptureAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"commissionableTotalDisplayAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"commissionableTotalSupplierAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"commissionableTotalInternalAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalFeesAndCommissionsSourceAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalFeesAndCommissionsCaptureAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalFeesAndCommissionsDisplayAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalFeesAndCommissionsSupplierAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalFeesAndCommissionsInternalAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalFeesSourceAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalFeesCaptureAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalFeesDisplayAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalFeesSupplierAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalFeesInternalAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalTripPayFeeSourceAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalTripPayFeeCaptureAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalTripPayFeeDisplayAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalTripPayFeeSupplierAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalTripPayFeeInternalAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalSalesSourceAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalSalesCaptureAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalSalesDisplayAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalSalesSupplierAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalSalesInternalAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"fundsAvailableDate":{"type":"string","description":"Returns the date the funds will be released to the customer.","format":"date"},"totalFeesInPercentWithRefund":{"type":"number","description":"All amounts that are not of type SALE","format":"float"},"totalFeesInPercent":{"type":"number","description":"All amounts that are not of type SALE before a refund was applied","format":"float"},"totalTripPayFeeInPercentWithRefund":{"type":"number","description":"All amounts that are not of type SALE","format":"float"},"totalTripPayFeeInPercent":{"type":"number","description":"All amounts that are not of type SALE before a refund was applied","format":"float"},"totalCommissionsInPercentWithRefund":{"type":"number","description":"All amounts that are not of type SALE","format":"float"},"totalCommissionsInPercent":{"type":"number","description":"All amounts that are not of type SALE before a refund was applied","format":"float"},"totalFeesAndCommissionsInPercentWithRefund":{"type":"number","description":"All amounts that are not of type SALE","format":"float"},"totalFeesAndCommissionsInPercent":{"type":"number","description":"All amounts that are not of type SALE before a refund was applied","format":"float"},"originalFeesInPercent":{"type":"number","description":"All amounts that are not of type SALE before a refund was applied"},"originalCommissionsInPercent":{"type":"number","description":"All amounts that are not of type SALE before a refund was applied"},"netTotalCustomersSourceAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"netTotalCustomersCaptureAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"netTotalCustomersDisplayAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"netTotalCustomersSupplierAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"netTotalCustomersInternalAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"hasRefunds":{"type":"boolean","description":"Indicates whether any refund in any state is present."},"hasSuccessfulRefunds":{"type":"boolean","description":"Indicates whether a successful refund is present."},"hasPendingRefunds":{"type":"boolean","description":"Indicates whether a pending refund is present."},"hasFailedRefunds":{"type":"boolean","description":"Indicates whether a failed refund is present."},"platformIdentifier":{"type":"string","description":"Returns the account identifier for the beneficiary taking a platform fee"},"totalFundsGroupedByBeneficiary":{"type":"array","description":"Returns all the beneficiaries in this contract with their total amounts","items":{"$ref":"#/components/schemas/Beneficiary_Supplier"}},"totalTokensEarned":{"type":"integer","description":"Total amount of tokens minted on this contract.","format":"int64"},"lodging":{"$ref":"#/components/schemas/BookingContractItem_Supplier"},"cancellableBySupplier":{"type":"boolean","description":"Whether the booking can still be cancelled completely by the supplier."},"cancellableByTraveler":{"type":"boolean","description":"Whether the booking can still be cancelled completely by the traveller."},"cancellableWithNoCharges":{"type":"boolean","description":"Whether the cancellation comes at no cost to the traveler."},"isCancellableWithPotentialCharges":{"type":"boolean","description":"Whether a cancellation comes with partial charges. I.e. Only some of the items in contract are not fully refundable.","writeOnly":true}},"description":"Booking contract created by TripPay"},"BookingUser_Supplier":{"required":["email","firstName","lastName"],"type":"object","properties":{"userIdentifier":{"type":"string","description":"User identifier","format":"uuid"},"firstName":{"type":"string","description":"First name","example":"John"},"lastName":{"type":"string","description":"Last name","example":"Smith"},"email":{"type":"string","description":"Email","format":"email","example":"john.smith@email.com"},"telephone":{"type":"string","description":"Telephone","example":"+1 212 555 1212"},"fullName":{"type":"string","description":"Full name","readOnly":true,"example":"John Smith"}},"description":"User details for the authenticated person that made the booking."},"BookingView_Supplier":{"required":["booking"],"type":"object","properties":{"id":{"type":"string","description":"Document UUID","example":"doc-1"},"createdDate":{"type":"string","description":"Datetime this record was first created","format":"date-time"},"lastUpdate":{"type":"string","description":"Datetime this record was last updated","format":"date-time"},"version":{"type":"integer","description":"Version property that shows how many times this document has been persisted. Document will not persist if the version property is less than current version property in the system. Result in an optimistic locking exception.","format":"int64","example":12},"booking":{"$ref":"#/components/schemas/Booking_Supplier"}}},"Booking_Supplier":{"required":["address","bookingCode","contactInfo","date","emailHeaderLogoUrl","engineConfiguration","groupIdentifier","hotel","hotelImageUrl","identifier","roomImageUrl","serverUrl","user","userSession"],"type":"object","properties":{"creation":{"type":"string","description":"Communicates whether the booking was created normally or if it failed or was just for testing.","example":"TEST","default":"NORMAL","enum":["NORMAL","TEST","FAILED"]},"date":{"type":"string","description":"Date and time the booking was made.","format":"date-time"},"groupIdentifier":{"type":"string","description":"Unique record identifier for the collection of bookings that were made at the same time.","format":"uuid"},"identifier":{"type":"string","description":"Unique record identifier","format":"uuid"},"engineConfiguration":{"$ref":"#/components/schemas/EngineConfigurationBookingReport_Supplier"},"bookingCode":{"type":"string","description":"Unique user-friendly booking geoname. This code should be used when corresponding with travelers.","example":"ABC1234"},"user":{"$ref":"#/components/schemas/BookingUser_Supplier"},"userSession":{"$ref":"#/components/schemas/UserSession_Supplier"},"serverUrl":{"type":"string","description":"The URL the booking occurred"},"contactInfo":{"$ref":"#/components/schemas/Contact_Supplier"},"address":{"$ref":"#/components/schemas/Address_Supplier"},"socials":{"type":"array","description":"List of all social network account property has for the traveler to get in touch.","items":{"$ref":"#/components/schemas/Social_Supplier"}},"review":{"$ref":"#/components/schemas/Review_Supplier"},"emailHeaderLogoUrl":{"type":"string","description":"Full url of the image logo optimized for emails"},"logoIdentifier":{"type":"string","description":"Logo cloudinary identifier for potential reuse"},"hotel":{"$ref":"#/components/schemas/HotelOnMap_Supplier"},"roomStay":{"$ref":"#/components/schemas/RoomStay_Supplier"},"specialRequests":{"type":"string","description":"Free text where the traveler can add a message to the property."},"comment":{"type":"string","description":"Internal comment field the payment can add and make available to channel manager partners."},"earlyCheckInCharge":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"lateCheckOutCharge":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"earlyCheckInChargePercent":{"type":"number","description":"Early check-in charge calculated in percent of first room night price.","format":"float","example":0.05},"lateCheckOutChargePercent":{"type":"number","description":"Early check-in charge calculated in percent of first room night price.","format":"float","example":0.05},"hotelImageUrl":{"type":"string","description":"Absolute URL of hotel image that can be used as-is","example":"https://path.to/property-image.jpg"},"roomImageUrl":{"type":"string","description":"Absolute URL of room image that can be used as-is","example":"https://path.to/room-image.jpg"},"commissionList":{"type":"array","description":"List of all travel inventory entries that are due a commission to the affiliate.","items":{"$ref":"#/components/schemas/CommissionableEntry_Supplier"}},"ancillaryList":{"type":"array","items":{"$ref":"#/components/schemas/BookingAncillary_Supplier"}},"bookingContract":{"$ref":"#/components/schemas/BookingContract_Supplier"},"staticMapImageUrl":{"type":"string","description":"Url of map image that can be sent via email","example":"https://path.to/room-image.jpg"},"staticMapUrl":{"type":"string","description":"Url of map image location on Google Maps","example":"https://path.to/room-image.jpg"},"status":{"type":"string","description":"Convenience data point to show which status the booking currently has.","example":"ACTIVE","enum":["CANCELLED_BY_HOTEL","CANCELLED_BY_GUEST","CANCELLED_BY_ADMIN","CANCELLED_BY_SALES_CHANNEL","PAST","FUTURE","CANCELLED_BY_ACQUIRER","ACTIVE","FAILED"]},"restaurants":{"type":"array","description":"Restaurant reservation records.","items":{"$ref":"#/components/schemas/BookingAncillary_Supplier"}},"fullAddress":{"type":"string","description":"Convenience data point to return the full hotel address.","example":"204 At home lane, Singapore, Singapore 224333"},"cancellableBySupplier":{"type":"boolean","description":"Whether the booking can still be cancelled completely by the supplier."},"cancellableByTraveler":{"type":"boolean","description":"Whether the booking can still be cancelled completely by the traveller."},"hasAddOns":{"type":"boolean","description":"Convenience data point to check if any add-on offers are in this booking.","example":true},"rateSource":{"type":"string","description":"Rate origin. This is usually the property channel manager.","example":"SITEMINDER"},"meetingRooms":{"type":"array","description":"Meeting room reservation records.","items":{"$ref":"#/components/schemas/BookingAncillary_Supplier"}},"activities":{"type":"array","description":"Activity reservation records.","items":{"$ref":"#/components/schemas/BookingAncillary_Supplier"}},"attractions":{"type":"array","description":"Attraction reservation records.","items":{"$ref":"#/components/schemas/BookingAncillary_Supplier"}},"places":{"type":"array","description":"Place reservation records.","items":{"$ref":"#/components/schemas/BookingAncillary_Supplier"}},"roomTypeAncillaries":{"type":"array","description":"Room type ancillary records.","items":{"$ref":"#/components/schemas/BookingAncillary_Supplier"}},"addOns":{"type":"array","description":"Add-on records.","items":{"$ref":"#/components/schemas/BookingAncillary_Supplier"}},"spas":{"type":"array","description":"Spa reservation records.","items":{"$ref":"#/components/schemas/BookingAncillary_Supplier"}},"hasBreakfast":{"type":"boolean","description":"Convenience data point to get to breakfast quickly.","example":true},"hasBrunch":{"type":"boolean","description":"Convenience data point to get to brunch quickly.","example":true},"hasLunch":{"type":"boolean","description":"Convenience data point to get to lunch quickly.","example":true},"hasDinner":{"type":"boolean","description":"Convenience data point to get to dinner quickly.","example":true},"hasAllInclusive":{"type":"boolean","description":"Convenience data point to get to all-inclusive quickly.","example":true},"hasAllInclusivePlusAlcohol":{"type":"boolean","description":"Convenience data point to get to all-inclusive with alcohol quickly.","example":true},"hasRoomTypeAncillaries":{"type":"boolean","description":"Convenience data point to check if any room type ancillaries are in this booking.","example":true},"hasFood":{"type":"boolean","description":"Convenience data point to check if any food is included in this booking.","example":true},"hasRestaurants":{"type":"boolean","description":"Convenience data point to check if any restaurant reservations are included in this booking.","example":true},"hasMeetingRooms":{"type":"boolean","description":"Convenience data point to check if any meeting room reservations are included in this booking.","example":true},"hasSpas":{"type":"boolean","description":"Convenience data point to check if any spa reservations are included in this booking.","example":true},"hasActivities":{"type":"boolean","description":"Convenience data point to check if any activity reservations are included in this booking.","example":true},"hasAttractions":{"type":"boolean","description":"Convenience data point to check if any attractions reservations are included in this booking.","example":true},"hasPlaces":{"type":"boolean","description":"Convenience data point to check if any place reservations are included in this booking.","example":true},"reportingDailyRateList":{"type":"array","items":{"$ref":"#/components/schemas/ReportingDailyRate_Supplier"}},"reportingAncillaryList":{"type":"array","items":{"$ref":"#/components/schemas/ReportingAncillary_Supplier"}},"reportingExtraChargeList":{"type":"array","items":{"$ref":"#/components/schemas/ReportingExtraCharge_Supplier"}}},"description":"Booking data object"},"CancellationPolicyException_Supplier":{"required":["cancellationPolicy","cancellationPolicyIdentifier","endDate","startDate"],"type":"object","properties":{"cancellationPolicyIdentifier":{"type":"string","description":"Cancellation policy","format":"uuid"},"cancellationPolicy":{"$ref":"#/components/schemas/CancellationPolicy_Supplier"},"startDate":{"type":"string","description":"Start date for when this cancellation policy should start to override the default cancellation policy.","format":"date"},"endDate":{"type":"string","description":"End date for when this cancellation policy should end overriding the default cancellation policy.","format":"date"}}},"CancellationPolicyExceptions_Supplier":{"required":["list"],"type":"object","properties":{"list":{"type":"array","description":"List of cancellation policy exceptions","items":{"$ref":"#/components/schemas/CancellationPolicyException_Supplier"}}},"description":"Allows a property to dynamically use another cancellation policy for a specific date range"},"CancellationPolicy_Supplier":{"required":["hotelIdentifier","identifier","refundable"],"type":"object","properties":{"identifier":{"type":"string","description":"Unique cancellation policy identifier","format":"uuid"},"hotelIdentifier":{"type":"string","description":"Property this cancellation is associated with","format":"uuid"},"refundable":{"type":"boolean","description":"Whether this cancellation policy is refundable or not","example":false,"defa
[...]
