{"openapi":"3.1.0","info":{"title":"Wink API","description":" # Introduction\n Welcome to the Wink API - A programmer-friendly way to manage, sell and book travel inventory on the Wink platform. The API gives you all the tools you need to ready your properties and inventory for sale across 1000s of our native sales channels.\n Integrators, affiliates, travel agents and content creators have the ability search for your travel inventory and promote / sell it in a wide variety of ways.\n\n # Integrations\n We have already integrated with the most well-known channel managers so you don't have to. To see our current integrations, please go to https://extranet.wink.travel and scroll to Connectivity section. Once your properties are set up, you can finish the setup by mapping your property to Wink using your channel manager partner portal. If your properties don't have a channel manager, you can easily manage rates and availability with this API.\n\n # Intended Audience\n Programmers are [most likely] a requirement to start integrating with Wink. Companies and organizations that would most benefit from integrating with us are new and existing travel companies that have relationships with suppliers and that need an advanced system from which to manage their travel inventory and get that same inventory out to as many eyeballs as possible at the lowest price possible.\n - Hotel chains\n - Hotel brands\n - Travel tech companies\n - Destination sites\n - Integrators\n - Aggregators\n - Destination management companies\n - Travel agencies\n - OTAs\n\n ## APIs\n Not every integrator needs every API. For that reason, we have separated APIs into context.\n\n### Test API\n\n - [Ping](/ping): The Ping API is a quick test endpoint to verify that your credentials work Wink.\n\n### Common APIs\n\n- [Notifications](/notifications): The Notifications API is a way for us to stay in touch with your user, property or affiliate account.\n- [User Settings](/user-settings): The User Settings API exposes endpoints to allow 3rd party integrators to communicate with Wink.\n\n### Consume APIs\nConsume endpoints are for developers who want to find existing travel inventory and either book it or use it to advertise through one of their Wink affiliate accounts.\n\n - [Configuration](/customization-client): A single endpoint to retrieve whitelabel + customization information for the booking customization.\n - [Lookup](/lookup): All APIs related to locating inventory by region, locale and property flags.\n - [Inventory](/inventory): All APIs related to retrieve known travel inventory as it was found using the Lookup API..\n - [Booking](/booking): All APIs related to creating bookings on the platform.\n - [Travel Agent](/travel-agent): The Travel Agent API exposes endpoints to manage agent-facilitated bookings.\n\n ### Produce APIs\n Produce endpoints are for developers who want to create and manage travel inventory.\n\n #### Property\n - [Property registration](/extranet/property/register): As a producer, this is, oftentimes, where you start your journey. These endpoints let you create properties on Wink.\n - [Property](/extranet/property): This collection of property endpoints are mostly management endpoints that let you display, change status and similar for your existing properties.\n - [Facilities](/extranet/facilities): This collection of endpoints let you manage facilities; such as room types.\n - [Experiences](/extranet/experiences): This collection of endpoints let you manage experiences, such as activities.\n - [Monetize](/extranet/monetize): The Monetize API exposes endpoints for managing cancellation polies, rate plans, promotions and more on Wink.\n - [Distribution](/extranet/distribution): The Distribution API exposes endpoints for sales channels, connecting with affiliates, managing rates and inventory calendars and more on Wink.\n - [Property Booking](/extranet/booking): The Property Booking API exposes endpoints for managing bookings and reviews at the property-level.\n\n #### Affiliate\n - [Affiliate](/affiliate): This collection of affiliate endpoints are mostly management endpoints that let you display, change status and similar for your existing accounts.\n - [Browse](/affiliate/browse): The Browse API exposes endpoints for affiliates to find suppliers and inventory to sell.\n - [Inventory](/affiliate/inventory): The Inventory API exposes endpoints for affiliates to manage the inventory they want to sell and how they want to sell it.\n - [Sales Channel](/affiliate/sales-channel): The Sales Channel API exposes endpoints for affiliates to manage existing sales channels as well as find new ones.\n - [WinkLinks](/affiliate/winklinks): The WinkLinks API exposes endpoints for affiliates to manage their WinkLinks page.\n\n #### Rate provider\n - [Channel manager](/channel-manager): The Channel Manager API enables external channel manager partners to map, exchange rate / availability information with us as well as be informed of bookings that occur on the Wink platform for one of their properties.\n\n ### Taxonomy APIs\n Taxonomy endpoints are for developers who want to consume and produce travel inventory and need taxonomies of standard and non-standard codes for inventory types, classes, statuses etc.\n\n - [Reference](/reference): All APIs related to retrieving platform-supported taxonomies.\n\n ### Insight APIs\n Insight endpoints do exactly what the name implies - They offer platform-level insight into the activities of producers and consumers.\n\n - [Analytics](/analytics): All APIs related to tracking metrics across a wide variety of data source segments including, more entertaining, leaderboard metrics.\n\n ### Payment APIs\n Payment endpoints are for developers who want to purchase travel inventory. This can be done via the API as a registered Travel Agent or using our API in conjunction with our PCI compliant payment widget for all other entities.\n\n - [TripPay](/payment): All APIs related to TripPay account management, booking, mapping and integration features.\n\n ## SDKs\n We are actively working on supporting the most used languages out there. If you don't see your language here, reach out to us with a request to officially add your language. In the meantime, if you want to roll your own SDK, you can do so by downloading the OpenAPI spec and using one of the many available OpenAPI generators available: [https://openapi-generator.tech/docs/generators](https://openapi-generator.tech/docs/generators).\n\n - Java SDK [https://github.com/wink-travel/wink-sdk-java](https://github.com/wink-travel/wink-sdk-java)\n\n ## Usage\n These features are made available to you via a [REST API](https://en.wikipedia.org/wiki/Representational_state_transfer). This API is language agnostic.\n\n ## Versioning\n We chose to version our endpoints in a way that we hope affects your integration minimally. You request the version of our API you wish to work with via the `Wink-Version` header. When it's time for you to upgrade, you only have to change the version number to get access to our updated endpoints.\n\n ## Release history\n - Follow updates on Github: https://github.com/wink-travel/wink-sdk-java/blob/master/CHANGELOG.md\n\n\n\n# Browse API\nThe Browse API exposes endpoints to find suppliers and inventory to sell. This API lets you:\n\n1. Browse: Find inventory and suppliers.\n2. Saved Search: Manage saved searches\n3. Curated List: Manage curated lists\n\nBrowse the endpoints in the left navigation bar to get started.\n\n","contact":{"name":"Bjorn Harvold","email":"bjorn@wink.travel"},"version":"30.22.0","x-logo":{"backgroundColor":"#FFFFFF","altText":"wink","url":"https://res.cloudinary.com/traveliko/image/upload/c_scale,h_129/v1653285543/wink/logo_text_white.svg"}},"externalDocs":{"description":"Affiliate Documentation","url":"https://academy.wink.travel/studio/what-is-studio/"},"servers":[{"url":"https://api.wink.travel","description":"Endpoint"}],"tags":[{"name":"Dynamic List","description":"Consists of search filters that produce a list of supplier / inventorywhen queried."},{"name":"Curated List","description":"Consists of supplier / inventoryIDs in a specific order"},{"name":"Browse","description":"Before you can sell travel inventory, you need to find it. Discover travel inventorythat fits your niche and your audience."}],"paths":{"/api/static-list/{listIdentifier}":{"put":{"tags":["Curated List"],"summary":"Update Curated List","description":"Update curated list by its unique identifier","operationId":"updateCuratedList","parameters":[{"name":"listIdentifier","in":"path","description":"List identifier.","required":true,"schema":{"type":"string"},"example":"list-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertStaticListRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StaticListWrapper_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Curated List"],"summary":"Remove Curated List","description":"Remove curated list by list identifier","operationId":"removeCuratedList","parameters":[{"name":"listIdentifier","in":"path","description":"List identifier.","required":true,"schema":{"type":"string"},"example":"list-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StaticList_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/static-list/{listIdentifier}/item/{itemIdentifier}":{"put":{"tags":["Curated List"],"summary":"Move List Item","description":"Move an existing list item from one list to another.","operationId":"moveInventoryToCuratedList","parameters":[{"name":"listIdentifier","in":"path","description":"List identifier.","required":true,"schema":{"type":"string"},"example":"list-1"},{"name":"itemIdentifier","in":"path","description":"Item identifier.","required":true,"schema":{"type":"string"},"example":"item-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CopyMoveStaticListItemRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StaticListItem_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"post":{"tags":["Curated List"],"summary":"Copy Item to List","description":"Copy an existing list item from one list to another.","operationId":"copyInventoryToCuratedList","parameters":[{"name":"listIdentifier","in":"path","description":"List identifier.","required":true,"schema":{"type":"string"},"example":"list-1"},{"name":"itemIdentifier","in":"path","description":"Item identifier.","required":true,"schema":{"type":"string"},"example":"item-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CopyMoveStaticListItemRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StaticListItem_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Curated List"],"summary":"Delete List Item","description":"Delete a list item from a curated list by its unique identifier","operationId":"removeInventoryFromCuratedList","parameters":[{"name":"listIdentifier","in":"path","description":"List identifier.","required":true,"schema":{"type":"string"},"example":"list-1"},{"name":"itemIdentifier","in":"path","description":"Item identifier.","required":true,"schema":{"type":"string"},"example":"item-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StaticListItem_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/dynamic-list/{listIdentifier}":{"put":{"tags":["Dynamic List"],"summary":"Update Dynamic List","description":"Update a existing saved search record by its unique identifier","operationId":"UpdateSavedSearch","parameters":[{"name":"listIdentifier","in":"path","description":"Saved search identifier.","required":true,"schema":{"type":"string"},"example":"saved-search-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertDynamicListRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DynamicList_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Dynamic List"],"summary":"Remove Dynamic List","description":"Remove saved search record by its unique identifier","operationId":"removeSavedSearch","parameters":[{"name":"listIdentifier","in":"path","description":"Saved search identifier.","required":true,"schema":{"type":"string"},"example":"saved-search-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DynamicList_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/static-list":{"get":{"tags":["Curated List"],"summary":"Show Curated Lists","description":"Retrieve lists optionally with content.","operationId":"ShowCuratedLists","parameters":[{"name":"withItems","in":"query","description":"Indicate whether to include all the list items in the result","required":false,"schema":{"type":"boolean","default":false},"example":false},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StaticListWrapper_Affiliate"}}}}}},"security":[{"oauth2ClientCredentials":[]}]},"post":{"tags":["Curated List"],"summary":"Create Curated List","description":"Create a new curated list","operationId":"createCuratedList","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateStaticListAndAddItemRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StaticListWrapper_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/static-list/{listIdentifier}/item":{"post":{"tags":["Curated List"],"summary":"Add Inventory to List","description":"Add some travel inventoryto your existing curated list","operationId":"addInventoryToCuratedList","parameters":[{"name":"listIdentifier","in":"path","description":"List identifier.","required":true,"schema":{"type":"string"},"example":"list-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddStaticListItemRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StaticListItem_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/static-list/{listIdentifier}/item/supplier":{"post":{"tags":["Curated List"],"summary":"Add Supplier to List","description":"Adds a new list item for a supplier showing the best priced room..","operationId":"addSupplierToCuratedList","parameters":[{"name":"listIdentifier","in":"path","description":"List identifier.","required":true,"schema":{"type":"string"},"example":"list-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddStaticListSupplierRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StaticListItem_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/static-list/supplier":{"post":{"tags":["Curated List"],"summary":"Create Curated List","description":"Create a new curated list","operationId":"CreateCuratedSupplierList","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateStaticListAndAddSupplierRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StaticListWrapper_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/dynamic-list":{"get":{"tags":["Dynamic List"],"summary":"Show Dynamic Lists","description":"Retrieve all saved searches for owner","operationId":"showSavedSearches","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DynamicList_Affiliate"}}}}}},"security":[{"oauth2ClientCredentials":[]}]},"post":{"tags":["Dynamic List"],"summary":"Create Dynamic List","description":"Create a new dynamic saved search.","operationId":"CreateSavedSearch","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertDynamicListRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DynamicList_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/browse/supplier/grid":{"post":{"tags":["Browse"],"summary":"Supplier Search","description":"Retrieves a paginated result set of suppliers of inventorybased on the search criteria of the caller.","operationId":"showSuppliersForDynamicSellerInventory","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DynamicSellerListRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageInventorySupplierAggregateLightweight_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/browse/inventory/grid":{"post":{"tags":["Browse"],"summary":"Inventory Search","description":"Retrieves a paginated result set of inventorybased on the search criteria of the caller.","operationId":"showDynamicSellerInventory","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DynamicSellerListRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageInventoryAggregateLightweight_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/static-list/{listIdentifier}/sort":{"patch":{"tags":["Curated List"],"summary":"Re-Order List Items","description":"Re-order list items with an existing list","operationId":"sortCuratedListItems","parameters":[{"name":"listIdentifier","in":"path","description":"List identifier.","required":true,"schema":{"type":"string"},"example":"list-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SortStaticListItemsRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StaticListItem_Affiliate"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/browse/supplier/{supplierIdentifier}/sales-channel/{salesChannelIdentifier}":{"get":{"tags":["Browse"],"summary":"Show Supplier","description":"Retrieves supplier details based on existing sales channel ID.","operationId":"ShowInventorySupplier","parameters":[{"name":"supplierIdentifier","in":"path","description":"Browse inventory supplier on behalf of this supplier identifier.","required":true,"schema":{"type":"string"},"example":"supplier-1"},{"name":"salesChannelIdentifier","in":"path","description":"Browse inventory supplier on behalf of this sales channel identifier.","required":true,"schema":{"type":"string"},"example":"sales-channel-1"},{"name":"displayCurrency","in":"query","description":"Indicate which currency to display prices in.","required":false,"schema":{"type":"string","default":"USD"},"example":"USD"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InventorySupplierAggregateLightweight_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/browse/supplier/list":{"get":{"tags":["Browse"],"summary":"Latest Suppliers","description":"Retrieves a list of latest available inventorysuppliers.","operationId":"showLatestInventorySupplierList","parameters":[{"name":"page","in":"query","description":"Skip to page.","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"size","in":"query","description":"Skip to page.","required":false,"schema":{"type":"integer","format":"int32","default":20,"maximum":100},"example":20},{"name":"displayCurrency","in":"query","description":"Indicate which currency to display prices in.","required":false,"schema":{"type":"string","default":"USD"},"example":"USD"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InventorySupplierAggregateLightweight_Affiliate"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/browse/supplier/grid/{dynamicListIdentifier}":{"get":{"tags":["Browse"],"summary":"Supplier Search by Saved Search","description":"Retrieves a paginated result set based on the given list identifier.","operationId":"ShowDynamicSellerInventoryById","parameters":[{"name":"dynamicListIdentifier","in":"path","description":"Browse inventory supplier on behalf of this dynamic list identifier.","required":true,"schema":{"type":"string"},"example":"dynamic-list-1"},{"name":"page","in":"query","description":"Skip to page.","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"size","in":"query","description":"Skip to page.","required":false,"schema":{"type":"integer","format":"int32","default":20,"maximum":100},"example":20},{"name":"displayCurrency","in":"query","description":"Indicate which currency to display prices in.","required":false,"schema":{"type":"string","default":"USD"},"example":"USD"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageInventorySupplierAggregateLightweight_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/browse/supplier/country/list":{"get":{"tags":["Browse"],"summary":"Show Supplier Countries","description":"Retrieve list of countries affiliate has access to.","operationId":"showCountriesForInventorySupplier","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KeyValuePair_Affiliate"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/browse/supplier/continent/list":{"get":{"tags":["Browse"],"summary":"Show Supplier Countries","description":"Retrieve list of countries affiliate has access to.","operationId":"showContinentsForInventorySupplier","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KeyValuePair_Affiliate"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/browse/supplier/city/list":{"get":{"tags":["Browse"],"summary":"Show Supplier Cities","description":"Retrieve list of cities affiliate has access to.","operationId":"showCitiesForInventory","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KeyValuePair_Affiliate"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/browse/inventory/list":{"get":{"tags":["Browse"],"summary":"Latest Inventory","description":"Retrieves a list of latest available inventory.","operationId":"showLatestInventory","parameters":[{"name":"page","in":"query","description":"Skip to page.","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"size","in":"query","description":"Skip to page.","required":false,"schema":{"type":"integer","format":"int32","default":20,"maximum":100},"example":20},{"name":"displayCurrency","in":"query","description":"Indicate which currency to display prices in.","required":false,"schema":{"type":"string","default":"USD"},"example":"USD"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InventoryAggregateLightweight_Affiliate"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/browse/inventory/grid/{dynamicListIdentifier}":{"get":{"tags":["Browse"],"summary":"Inventory Search by Saved Search","description":"Retrieves a paginated result set based on the given saved search ID.","operationId":"showDynamicSellerInventoryById","parameters":[{"name":"dynamicListIdentifier","in":"path","description":"Browse inventory on behalf of this dynamic list identifier.","required":true,"schema":{"type":"string"},"example":"dynamic-list-1"},{"name":"page","in":"query","description":"Skip to page.","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"size","in":"query","description":"Limit the size of results.","required":false,"schema":{"type":"integer","format":"int32","default":20,"maximum":100},"example":20},{"name":"displayCurrency","in":"query","description":"Indicate which currency to display prices in.","required":false,"schema":{"type":"string","default":"USD"},"example":"USD"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageInventoryAggregateLightweight_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/browse/inventory/country/list":{"get":{"tags":["Browse"],"summary":"Show Inventory Countries","description":"Retrieve list of countries affiliate has access to.","operationId":"showCountriesForInventory","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KeyValuePair_Affiliate"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/browse/inventory/continent/list":{"get":{"tags":["Browse"],"summary":"Show Inventory Continents","description":"Retrieve list of countries affiliate has access to.","operationId":"showContinentsForInventory","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KeyValuePair_Affiliate"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/browse/inventory/city/list":{"get":{"tags":["Browse"],"summary":"Show Inventory Cities","description":"Retrieve list of cities affiliate has access to.","operationId":"showCitiesForInventory_1","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KeyValuePair_Affiliate"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/browse/category/list":{"get":{"tags":["Browse"],"summary":"Show Categories","description":"Retrieve a list of all active supplier and inventorycategories.","operationId":"ShowSearchCategoryList","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SearchCategory_Affiliate"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}}},"components":{"schemas":{"GenericErrorMessage":{"type":"object","description":"Generic error message","properties":{"status":{"type":"integer","format":"int32","xml":{"attribute":true}},"error":{"type":"string"},"message":{"type":"string"},"timestamp":{"type":"string","xml":{"attribute":true}}},"xml":{"name":"ErrorMessage"}},"UpsertStaticListRequest_Affiliate":{"type":"object","description":"Use this object to update the name of your curated list.","properties":{"name":{"type":"string","description":"Name of curated list","example":"Top 3 hotels in Chiang Mai","minLength":1}},"required":["name"]},"AdvanceBookingRateQualifier_Affiliate":{},"ArrivalDaysOfWeekRateQualifier_Affiliate":{},"AvailableDaysOfWeekRateQualifier_Affiliate":{},"BlackoutDate_Affiliate":{},"CityRateQualifier_Affiliate":{},"ContinentRateQualifier_Affiliate":{},"CountryRateQualifier_Affiliate":{},"CustomMonetaryAmount":{"type":"object","properties":{"amount":{"type":"number"},"currency":{"type":"string","minLength":1}},"required":["amount","currency"]},"DepartureDaysOfWeekRateQualifier_Affiliate":{},"GeoJsonPoint_Affiliate":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"},"type":{"type":"string"},"coordinates":{"type":"array","items":{"type":"number","format":"double"}}}},"IPRangeRateQualifier_Affiliate":{},"LengthOfStayRateQualifier_Affiliate":{},"LocalizedDescription_Affiliate":{"type":"object","properties":{"description":{"type":"string","description":"Longer text description","example":"This is a longer description in the specified language.","maxLength":2147483647,"minLength":1},"language":{"type":"string","default":"en","description":"Indicate which language this description is written in.","example":"en","maxLength":2,"minLength":2},"creator":{"type":"string","default":"USER","description":"Whether it was user or system generated.","enum":["SYSTEM","USER"],"example":"SYSTEM"},"md5ContentHash":{"type":"string","description":"The md5 hash of the name, description and language."},"hashMismatch":{"type":"boolean","readOnly":true}},"required":["description","language"]},"MediaAuthorAttribution_Affiliate":{"type":"object","properties":{"url":{"type":"string","description":"URL to contributor","example":"https://maps.google.com/maps/contrib/111628493169070103594"},"name":{"type":"string","description":"Name of contributor","example":"Samuel Adams","minLength":1}},"required":["name"]},"MinutesBeforeBookingStartDateRateQualifier_Affiliate":{},"PrepayRateQualifier_Affiliate":{},"PromotionRateQualifier_Affiliate":{},"RefundableRateQualifier_Affiliate":{},"RequiredDaysOfWeekRateQualifier_Affiliate":{},"RoomRangeRateQualifier_Affiliate":{},"SalesChannelLightweight_Affiliate":{"type":"object","properties":{"identifier":{"type":"string","format":"uuid","description":"Unique record identifier of this segment / account","example":"segment-1","minLength":1},"supplierIdentifier":{"type":"string","format":"uuid","description":"Channel is owned by this supplier identifier.","example":"hotel-1","minLength":1},"supplierName":{"type":"string","description":"Name of property / supplier that owns this channel","example":"Hotel 1","minLength":1},"supplierAvailable":{"type":"boolean","default":true,"description":"Flag when supplier not available. E.g. Hotel disables property","example":true},"subType":{"type":"string","description":"What type of segment of channel is this.","enum":["DIRECT","APPLICATION","HOTEL","TRAVELIKO","CORPORATE","TRAVEL_AGENT","INFLUENCER","BLOGGER","DESTINATION","CHANNEL_MANAGER","PROPERTY_MANAGEMENT_SYSTEM","CENTRAL_RESERVATION_SYSTEM","GOOGLE_HOTEL_API","MANAGEMENT_COMPANY","CHAIN","BRAND","EVENT_ORGANIZER"],"example":"DIRECT"},"ownerIdentifier":{"type":"string","format":"uuid","description":"A specific identifier for the company / corporation / travel agency that is retrieving the rates","example":"owner-1","minLength":1},"ownerName":{"type":"string","description":"Name of the owner / affiliate. `Hotel booking customization` when it's the booking customization.","example":"Owner 1","minLength":1},"enabled":{"type":"boolean","default":true,"description":"Flag the supplier can use to enable / disable this channel","example":true},"channelDisabled":{"type":"boolean","description":"System override by supplier to disable channel. E.g. Platform disables supplier."},"blacklisted":{"type":"boolean","description":"A way to blacklist a specific channel a property doesn't want to send blocking to."},"percentDiscount":{"type":"number","format":"float","description":"Percent discount on this channel and all its children [unless configured at the child level].","example":0.15,"maximum":1.0,"minimum":0.0},"commission":{"type":"number","format":"float","description":"Amount of sales commission earned through this channel and all its children [unless configured at the child level].","example":0.2,"maximum":1.0,"minimum":0.0},"rateModifiers":{"type":"array","description":"Promotions for this channel","items":{"$ref":"#/components/schemas/SpecialRateLightweight_Affiliate"}},"rateModifierBundles":{"type":"array","description":"Promotion bundles for this channel","items":{"$ref":"#/components/schemas/SpecialRateBundleLightweight_Affiliate"}},"selfAcquires":{"type":"boolean","description":"Whether the sales channel is a self-acquiring entity."}},"required":["blacklisted","identifier","ownerIdentifier","ownerName","subType","supplierAvailable","supplierIdentifier","supplierName"]},"SellDateRateQualifier_Affiliate":{},"SimpleDescription_Affiliate":{"type":"object","properties":{"name":{"type":"string","description":"Use as title or short text description","example":"An example title"},"description":{"type":"string","description":"Longer text description","example":"This is a longer description in the specified language.","maxLength":2147483647,"minLength":1},"language":{"type":"string","default":"en","description":"Indicate which language this description is written in.","example":"en","maxLength":2,"minLength":2},"creator":{"type":"string","default":"USER","description":"Whether it was user or system generated.","enum":["SYSTEM","USER"],"example":"SYSTEM"},"md5ContentHash":{"type":"string","description":"The md5 hash of the name, description and language."},"hashMismatch":{"type":"boolean","readOnly":true}},"required":["description","language","name"]},"SimpleMultimedia_Affiliate":{"type":"object","description":"Multimedia that contains less information than Multimedia object","properties":{"multimediaIdentifier":{"type":"string","format":"uuid","description":"Document identifier","example":"image-1","minLength":1},"identifier":{"type":"string","description":"Use this identifier to communicate with Cloudinary.","example":"cloudinary-image-1","minLength":1},"type":{"type":"string","description":"Whether Cloudinary media is a VIDEO or IMAGE.","enum":["IMAGE","VIDEO","AUDIO","RAW"],"example":"IMAGE"},"source":{"type":"string","default":"CLOUDINARY","description":"Currently ONLY using Cloudinary to store all image / video assets.","enum":["YOUTUBE","CLOUDINARY"],"example":"CLOUDINARY"},"sort":{"type":"integer","format":"int32","default":999,"description":"Sort allows you to control how you want to sort this record in a list of media records.","example":10},"angle":{"type":"string","description":"Media angle","example":-90},"width":{"type":"integer","format":"int32","description":"Media width in pixels.","example":2560,"minimum":1},"height":{"type":"integer","format":"int32","description":"Media height in pixels.","example":1600,"minimum":1},"published":{"type":"boolean","default":false,"description":"Instead of deleting the media, choose to un-publish it instead for later re-use. Could be you keep seasonal images of the property.","example":true},"category":{"type":"string","description":"Supported OTA specification `PIC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":1},"descriptions":{"type":"array","description":"Localized media captions to give user some context about where this media was taken.","items":{"$ref":"#/components/schemas/SimpleDescription_Affiliate"}},"lifestyleType":{"type":"string","description":"Associate this media with a specific lifestyle type. A user searching and filtering inventory based on lifestyles can be shown relevant media first.","enum":["LIFESTYLE_HEALTH_FITNESS","LIFESTYLE_RELAX","LIFESTYLE_ADULT_ONLY","LIFESTYLE_ADVENTURE","LIFESTYLE_BUSINESS","LIFESTYLE_LGBT","LIFESTYLE_SINGLE_PARENT","LIFESTYLE_SOLO_FEMALE","LIFESTYLE_BEAUTY","LIFESTYLE_FOODIE","LIFESTYLE_FAMILY","LIFESTYLE_ROMANCE","LIFESTYLE_COUPLE","LIFESTYLE_SOLO","LIFESTYLE_BACKPACKER","LIFESTYLE_SHOPPING","LIFESTYLE_SPORTS","LIFESTYLE_MOUNTAIN","LIFESTYLE_BEACH","LIFESTYLE_CITY","LIFESTYLE_COUNTRY","LIFESTYLE_CULTURE","LIFESTYLE_ECO"],"example":"LIFESTYLE_HEALTH_FITNESS"},"attribution":{"type":"array","description":"Whether image has attribution properties","items":{"$ref":"#/components/schemas/MediaAuthorAttribution_Affiliate"}},"isLandscape":{"type":"boolean","description":"True if media width is greater or equal to height","example":true}},"required":["height","identifier","multimediaIdentifier","sort","source","type","width"]},"SpecialRateBundleLightweight_Affiliate":{"type":"object","properties":{"identifier":{"type":"string","format":"uuid","description":"Unique record identifier","example":"document-1","minLength":1},"hotelIdentifier":{"type":"string","format":"uuid","description":"Hotel identifier.","example":"hotel-1","minLength":1},"name":{"type":"string","description":"Internal name of promotion ancillary.","example":"Early bird - Long Term","minLength":1},"enabled":{"type":"boolean","default":true,"description":"Whether this promotion ancillary is enabled or not.","example":true},"items":{"type":"array","items":{"description":"Promotions that go together to make up this ancillary."},"minItems":1},"modifierOverride":{"$ref":"#/components/schemas/VariableCharge_Affiliate"},"type":{"type":"string","description":"Required if manual override modifier is not null","enum":["PREMIUM","DISCOUNT"],"example":"DISCOUNT"},"pricingType":{"type":"string","description":"Determines whether this discount should be applied per night, per stay or per person - per night; Required if amount override is not null","enum":["PER_STAY","PER_DAY","PER_NIGHT","PER_USE","PER_HOUR","PER_PERSON","PER_PERSON_PER_NIGHT","PER_PERSON_PER_HOUR","PER_ADULT","PER_ADULT_PER_NIGHT","PER_ADULT_PER_HOUR","PER_CHILD","PER_CHILD_PER_NIGHT","PER_CHILD_PER_HOUR"]},"isValid":{"type":"boolean","writeOnly":true},"description":{"type":"array","items":{"$ref":"#/components/schemas/LocalizedDescription_Affiliate"}},"hasFixedDiscountModifier":{"type":"boolean"},"hasPercentDiscountModifier":{"type":"boolean"}},"required":["enabled","hotelIdentifier","identifier","items","name"]},"SpecialRateLightweight_Affiliate":{"type":"object","properties":{"identifier":{"type":"string","format":"uuid","description":"Unique record identifier","example":"document-1","minLength":1},"hotelIdentifier":{"type":"string","format":"uuid","description":"Hotel identifier.","example":"hotel-1","minLength":1},"name":{"type":"string","description":"Internal name of promotion.","example":"Early bird","minLength":1},"type":{"type":"string","description":"Set whether you want the price to go up or down when the rules of this promotion have been satisfied.","enum":["PREMIUM","DISCOUNT"],"example":"DISCOUNT"},"modifier":{"$ref":"#/components/schemas/VariableCharge_Affiliate"},"enabled":{"type":"boolean","default":true,"description":"Whether this promotion is enabled or not.","example":true},"pricingType":{"type":"string","description":"This determines whether this discount should be applied per night, per stay or per person - per night","enum":["PER_STAY","PER_DAY","PER_NIGHT","PER_USE","PER_HOUR","PER_PERSON","PER_PERSON_PER_NIGHT","PER_PERSON_PER_HOUR","PER_ADULT","PER_ADULT_PER_NIGHT","PER_ADULT_PER_HOUR","PER_CHILD","PER_CHILD_PER_NIGHT","PER_CHILD_PER_HOUR"],"example":"PER_PERSON_PER_NIGHT"},"descriptions":{"type":"array","description":"Localized descriptions describing promotion. At least one English entry is required.","items":{"$ref":"#/components/schemas/LocalizedDescription_Affiliate"},"minItems":1},"cityRateQualifiers":{"type":"array","description":"Restrict promotion to specific cities. See [Geo-IP city geoname data](#operation/searchForCity)","items":{"$ref":"#/components/schemas/CityRateQualifier_Affiliate"}},"continentRateQualifiers":{"type":"array","description":"Restrict promotion to specific continents. See [Geo-IP continent geoname data](#operation/showContinents)","items":{"$ref":"#/components/schemas/ContinentRateQualifier_Affiliate"}},"countryRateQualifiers":{"type":"array","description":"Restrict promotion to specific countries. See [Geo-IP country geoname data](#operation/showCountries)","items":{"$ref":"#/components/schemas/CountryRateQualifier_Affiliate"}},"promotionRateQualifiers":{"type":"array","description":"Restrict promotion by requiring users to enter a promo code.","items":{"$ref":"#/components/schemas/PromotionRateQualifier_Affiliate"}},"ipRangeRateQualifiers":{"type":"array","description":"Restrict promotion to specific IP ranges.","items":{"$ref":"#/components/schemas/IPRangeRateQualifier_Affiliate"}},"roomRangeRateQualifier":{"$ref":"#/components/schemas/RoomRangeRateQualifier_Affiliate","description":"Restrict promotion by restricting to how many rooms the user wants."},"prepayRateQualifier":{"$ref":"#/components/schemas/PrepayRateQualifier_Affiliate","description":"Restrict promotion to either prepaid / non-prepaid rates."},"refundableRateQualifier":{"$ref":"#/components/schemas/RefundableRateQualifier_Affiliate","description":"Restrict promotion to either refundable / non-refundable rates."},"timezoneRateQualifiers":{"type":"array","description":"Restrict promotion to specific time zones. See [Geo-IP timezone geoname data](#operation/showTimezones)","items":{"$ref":"#/components/schemas/TimezoneRateQualifier_Affiliate"}},"lastMinuteRateQualifier":{"$ref":"#/components/schemas/MinutesBeforeBookingStartDateRateQualifier_Affiliate","description":"Restrict promotion to users who want to book a room close to the date."},"lengthOfStayRateQualifier":{"$ref":"#/components/schemas/LengthOfStayRateQualifier_Affiliate","description":"Restrict promotion to users who want to stay a certain number of days."},"advanceBookingRateQualifier":{"$ref":"#/components/schemas/AdvanceBookingRateQualifier_Affiliate","description":"Restrict promotion to users who want to book in advance."},"stayDateRateQualifiers":{"type":"array","description":"Restrict promotion to specific stay dates the user wants to arrive.","items":{"$ref":"#/components/schemas/StayDateRateQualifier_Affiliate"}},"sellDateRateQualifiers":{"type":"array","description":"Restrict promotion to specific dates the booking is made.","items":{"$ref":"#/components/schemas/SellDateRateQualifier_Affiliate"}},"availableDaysOfWeekRateQualifier":{"$ref":"#/components/schemas/AvailableDaysOfWeekRateQualifier_Affiliate","description":"Restrict promotion to specific days of the week the promotion is available."},"arrivalDaysOfWeekRateQualifier":{"$ref":"#/components/schemas/ArrivalDaysOfWeekRateQualifier_Affiliate","description":"Restrict promotion to specific days of the week the guest is arriving."},"departureDaysOfWeekRateQualifier":{"$ref":"#/components/schemas/DepartureDaysOfWeekRateQualifier_Affiliate","description":"Restrict promotion to specific days of the week the guest is departing."},"requiredDaysOfWeekRateQualifier":{"$ref":"#/components/schemas/RequiredDaysOfWeekRateQualifier_Affiliate","description":"Restrict promotion to specific days of the week the guest has to stay."},"masterRateIdentifiers":{"type":"array","description":"Restrict on specific master rates.","example":["master-rate-1","master-rate-2"],"items":{"type":"string"}},"addOnIdentifiers":{"type":"array","description":"Restrict on specific add-ons.","example":["add-on-1","add-on-2"],"items":{"type":"string"}},"ratePlanIdentifiers":{"type":"array","description":"Restrict on specific rate plans.","example":["rate-plan-1","rate-plan-2"],"items":{"type":"string"}},"blackoutDates":{"type":"array","description":"Exclude this promotion from specific date ranges.","items":{"$ref":"#/components/schemas/BlackoutDate_Affiliate"}}},"required":["descriptions","enabled","hotelIdentifier","identifier","modifier","name","pricingType","type"]},"StaticListItemInventory_Affiliate":{"type":"object","properties":{"identifier":{"type":"string","format":"uuid","description":"Channel Inventory identifier"},"salesChannel":{"$ref":"#/components/schemas/SalesChannelLightweight_Affiliate","description":"Parent sales channel"},"inventoryType":{"type":"string","description":"Inventory type","enum":["GUEST_ROOM","ADD_ON","MEETING_ROOM","RESTAURANT","SPA","ATTRACTION","PLACE","ACTIVITY"]},"inventoryIdentifier":{"type":"string","format":"uuid","description":"Inventory type identifier","minLength":1},"inventoryNameInEnglish":{"type":"string","description":"Name of inventory as traveler is seeing it","minLength":1},"enabled":{"type":"boolean","default":true,"description":"Whether this inventory is enabled or not","example":true},"image":{"$ref":"#/components/schemas/SimpleMultimedia_Affiliate","description":"Main image of inventory"},"location":{"$ref":"#/components/schemas/GeoJsonPoint_Affiliate","description":"Location","example":{"type":"POINT","coordinates":[100.5581533,13.7370197]}},"commissionable":{"type":"boolean","default":false,"description":"Whether this is commissionable or not","example":true},"lowestPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount","description":"Best price of the room type or facility ancillary"},"lowestDisplayPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount","description":"Best price of the room type or facility ancillary in platform currency"},"pricePoint":{"type":"string","default":"THREE","description":"Level of expensiveness.","enum":["HALF","ONE","ONE_HALF","TWO","TWO_HALF","THREE","THREE_HALF","FOUR","FOUR_HALF","FIVE"],"example":"THREE"}},"required":["commissionable","enabled","identifier","image","inventoryIdentifier","inventoryNameInEnglish","inventoryType","location","pricePoint","salesChannel"]},"StaticListItem_Affiliate":{"type":"object","properties":{"id":{"type":"string","description":"Document UUID","example":"doc-1"},"createdDate":{"type":"string","format":"date-time","description":"Datetime this record was first created"},"lastUpdate":{"type":"string","format":"date-time","description":"Datetime this record was last updated"},"version":{"type":"integer","format":"int64","description":"Version property that shows how many times this document has been persisted. Document will not persist if the version property is less than current version property in the system. Result in an optimistic locking exception.","example":12},"parent":{"$ref":"#/components/schemas/StaticListLightweight_Affiliate","description":"Parent list"},"item":{"$ref":"#/components/schemas/StaticListItemInventory_Affiliate","description":"Channel inventory"},"sort":{"type":"integer","format":"int32","description":"Sort key"},"status":{"type":"string","description":"Status","enum":["ACTIVE","INACTIVE","REMOVED"]}},"required":["item","parent"]},"StaticListLightweight_Affiliate":{"type":"object","description":"A curated list is a bucket that holds any type of travel inventory.","properties":{"identifier":{"type":"string","format":"uuid","description":"Unique record identifier","example":"list-1","minLength":1},"ownerIdentifier":{"type":"string","format":"uuid","description":"List creator","example":"app-1","minLength":1},"name":{"type":"string","description":"Name of curated list","example":"Top 3 hotels in Chiang Mai","minLength":1},"type":{"type":"string","description":"Every affiliate starts out with a `Favorite` list. All other lists will be of type `NORMAL`","enum":["FAVORITE","NORMAL"],"example":"NORMAL"}},"required":["identifier","name","ownerIdentifier","type"]},"StaticListWrapper_Affiliate":{"type":"object","description":"Contains both the curated list and all its items.","properties":{"list":{"$ref":"#/components/schemas/StaticList_Affiliate","description":"Curated list object"},"items":{"type":"array","items":{"$ref":"#/components/schemas/StaticListItem_Affiliate"}}},"required":["list"]},"StaticList_Affiliate":{"type":"object","properties":{"id":{"type":"string","description":"Document UUID","example":"doc-1"},"createdDate":{"type":"string","format":"date-time","description":"Datetime this record was first created"},"lastUpdate":{"type":"string","format":"date-time","description":"Datetime this record was last updated"},"version":{"type":"integer","format":"int64","description":"Version property that shows how many times this document has been persisted. Document will not persist if the version property is less than current version property in the system. Result in an optimistic locking exception.","example":12},"ownerIdentifier":{"type":"string","format":"uuid","description":"List creator","example":"app-1","minLength":1},"name":{"type":"string","description":"Name of curated list","example":"Top 3 hotels in Chiang Mai","minLength":1},"type":{"type":"string","description":"Every affiliate starts out with a `Favorite` list. All other lists will be of type `NORMAL`","enum":["FAVORITE","NORMAL"],"example":"NORMAL"}},"required":["name","ownerIdentifier","type"]},"StayDateRateQualifier_Affiliate":{},"TimezoneRateQualifier_Affiliate":{},"VariableCharge_Affiliate":{},"CopyMoveStaticListItemRequest_Affiliate":{"type":"object","properties":{"targetListIdentifier":{"type":"string"}},"required":["targetListIdentifier"]},"UpsertDynamicListRequest_Affiliate":{"type":"object","properties":{"name":{"type":"string","description":"Name of dynamic list for when user want to persist it","minLength":1},"propertyName":{"type":"string","description":"Regex expression filter matching on property name.","example":"Shera"},"locationCategories":{"type":"array","description":"Supported OTA specification `LOC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":34,"items":{"type":"string"}},"segmentCategories":{"type":"array","description":"Supported OTA specification `SEG` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":7,"items":{"type":"string"}},"hotelCategories":{"type":"array","description":"Supported OTA specification `PCT` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":45,"items":{"type":"string"}},"architecturalStyles":{"type":"array","description":"Supported OTA specification `ARC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":7,"items":{"type":"string"}},"inventoryName":{"type":"string","description":"Regex expression filter matching on inventory name","example":"Badmint"},"continents":{"type":"array","items":{"description":"Filter on standardized continent codes","example":"NA"}},"countries":{"type":"array","items":{"description":"Filter on GeoNameId of country","example":985678}},"cities":{"type":"array","items":{"description":"Filter on GeoNameId of city","example":985678}},"showEcoFriendly":{"type":"boolean","default":false,"description":"Filter on eco-friendly hotels","example":false},"showPetFriendly":{"type":"boolean","default":false,"description":"Filter on pet-friendly hotels","example":false},"showChildFriendly":{"type":"boolean","default":false,"description":"Filter on child-friendly hotels","example":false},"showPopular":{"type":"boolean","default":false,"description":"Filter on hotel that has had a certain amount of bookings","example":false},"showDirectOnly":{"type":"boolean","default":false,"description":"Filter on direct inventory","example":false},"lifestyles":{"type":"array","description":"Filter on lifestyles","example":["LIFESTYLE_RELAX"],"items":{"type":"string","enum":["LIFESTYLE_HEALTH_FITNESS","LIFESTYLE_RELAX","LIFESTYLE_ADULT_ONLY","LIFESTYLE_ADVENTURE","LIFESTYLE_BUSINESS","LIFESTYLE_LGBT","LIFESTYLE_SINGLE_PARENT","LIFESTYLE_SOLO_FEMALE","LIFESTYLE_BEAUTY","LIFESTYLE_FOODIE","LIFESTYLE_FAMILY","LIFESTYLE_ROMANCE","LIFESTYLE_COUPLE","LIFESTYLE_SOLO","LIFESTYLE_BACKPACKER","LIFESTYLE_SHOPPING","LIFESTYLE_SPORTS","LIFESTYLE_MOUNTAIN","LIFESTYLE_BEACH","LIFESTYLE_CITY","LIFESTYLE_COUNTRY","LIFESTYLE_CULTURE","LIFESTYLE_ECO"]}},"hotelStars":{"type":"integer","format":"int32","description":"Filter on number of stars the hotel has.","example":4},"aggregateReviewRating":{"type":"integer","format":"int32","description":"Filter on aggregate review score the hotel has","example":7},"nearPoint":{"$ref":"#/components/schemas/GeoJsonPoint_Affiliate","description":"Find hotels close to certain location"},"radiusInMeters":{"type":"integer","format":"int64","description":"Use this in conjunction with `nearPoint`. Control the distance from point we are searching for."},"inventoryTypes":{"type":"array","items":{"type":"string","enum":["GUEST_ROOM","ADD_ON","MEETING_ROOM","RESTAURANT","SPA","ATTRACTION","PLACE","ACTIVITY"]}},"primaryOrderBy":{"type":"string","description":"Control how you want the search results sorted. Options are: \n\n- 1: Inventory name\n- 2: Price: High to low\n- 3: Price: Low to high\n- 4: Commission: High to low\n- 5: Commission: Low to high\n- 6: Discount: High to low\n- 7: Discount: Low to high\n","example":4}},"required":["name"]},"DynamicList_Affiliate":{"type":"object","properties":{"id":{"type":"string","description":"Document UUID","example":"doc-1"},"createdDate":{"type":"string","format":"date-time","description":"Datetime this record was first created"},"lastUpdate":{"type":"string","format":"date-time","description":"Datetime this record was last updated"},"version":{"type":"integer","format":"int64","description":"Version property that shows how many times this document has been persisted. Document will not persist if the version property is less than current version property in the system. Result in an optimistic locking exception.","example":12},"ownerIdentifier":{"type":"string","format":"uuid","description":"Entity identifier of record creator","example":"app-1","minLength":1},"name":{"type":"string","description":"Name of dynamic list for when user want to persist it","minLength":1},"propertyName":{"type":"string","description":"Regex expression filter matching on property name.","example":"Shera"},"locationCategories":{"type":"array","description":"Supported OTA specification `LOC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":34,"items":{"type":"string"}},"segmentCategories":{"type":"array","description":"Supported OTA specification `SEG` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":7,"items":{"type":"string"}},"hotelCategories":{"type":"array","description":"Supported OTA specification `PCT` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":45,"items":{"type":"string"}},"architecturalStyles":{"type":"array","description":"Supported OTA specification `ARC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":7,"items":{"type":"string"}},"inventoryName":{"type":"string","description":"Regex expression filter matching on inventory name","example":"Badmint"},"continents":{"type":"array","items":{"description":"Filter on standardized continent codes","example":"NA"}},"countries":{"type":"array","items":{"description":"Filter on GeoNameId of country","example":985678}},"cities":{"type":"array","items":{"description":"Filter on GeoNameId of city","example":985678}},"showEcoFriendly":{"type":"boolean","default":false,"description":"Filter on eco-friendly hotels","example":false},"showPetFriendly":{"type":"boolean","default":false,"description":"Filter on pet-friendly hotels","example":false},"showChildFriendly":{"type":"boolean","default":false,"description":"Filter on child-friendly hotels","example":false},"showPopular":{"type":"boolean","default":false,"description":"Filter on hotel that has had a certain amount of bookings","example":false},"showDirectOnly":{"type":"boolean","default":false,"description":"Filter on direct inventory","example":false},"lifestyles":{"type":"array","description":"Filter on lifestyles","example":["LIFESTYLE_RELAX"],"items":{"type":"string","enum":["LIFESTYLE_HEALTH_FITNESS","LIFESTYLE_RELAX","LIFESTYLE_ADULT_ONLY","LIFESTYLE_ADVENTURE","LIFESTYLE_BUSINESS","LIFESTYLE_LGBT","LIFESTYLE_SINGLE_PARENT","LIFESTYLE_SOLO_FEMALE","LIFESTYLE_BEAUTY","LIFESTYLE_FOODIE","LIFESTYLE_FAMILY","LIFESTYLE_ROMANCE","LIFESTYLE_COUPLE","LIFESTYLE_SOLO","LIFESTYLE_BACKPACKER","LIFESTYLE_SHOPPING","LIFESTYLE_SPORTS","LIFESTYLE_MOUNTAIN","LIFESTYLE_BEACH","LIFESTYLE_CITY","LIFESTYLE_COUNTRY","LIFESTYLE_CULTURE","LIFESTYLE_ECO"]}},"hotelStars":{"type":"integer","format":"int32","description":"Filter on number of stars the hotel has.","example":4},"aggregateReviewRating":{"type":"integer","format":"int32","description":"Filter on aggregate review score the hotel has","example":7},"nearPoint":{"$ref":"#/components/schemas/GeoJsonPoint_Affiliate","description":"Find hotels close to certain location"},"radiusInMeters":{"type":"integer","format":"int64","default":0,"description":"Use this in conjunction with `nearPoint`. Control the distance from point we are searching for.","example":1000},"inventoryTypes":{"type":"array","items":{"type":"string","enum":["GUEST_ROOM","ADD_ON","MEETING_ROOM","RESTAURANT","SPA","ATTRACTION","PLACE","ACTIVITY"]}},"primaryOrderBy":{"type":"string","description":"Control how you want the search results sorted. Options are:\n\n- 1: Inventory name\n- 2: Price: High to low\n- 3: Price: Low to high\n- 4: Commission: High to low\n- 5: Commission: Low to high\n- 6: Discount: High to low\n- 7: Discount: Low to high\n","example":4}},"required":["name","ownerIdentifier"]},"CreateStaticListAndAddItemRequest_Affiliate":{"type":"object","properties":{"name":{"type":"string","description":"Name of curated list","example":"Top 3 Hotels in Chiang Mai","minLength":1},"channelInventoryIdentifiers":{"type":"array","items":{"format":"uuid","description":"Optionally add inventory to the list upon list creation.","example":"channel-inventory-1"}}},"required":["name"]},"AddStaticListItemRequest_Affiliate":{"type":"object","properties":{"channelInventoryIdentifier":{"type":"string","format":"uuid","description":"The inventory ID","minLength":1}},"required":["channelInventoryIdentifier"]},"AddStaticListSupplierRequest_Affiliate":{"type":"object","properties":{"supplierIdentifier":{"type":"string","description":"Supplier identifier","example":"supplier-1","minLength":1}},"required":["supplierIdentifier"]},"CreateStaticListAndAddSupplierRequest_Affiliate":{"type":"object","properties":{"name":{"type":"string","description":"Name of curated list","example":"Top 3 Hotels in Chiang Mai","minLength":1},"supplierIdentifier":{"type":"string","format":"uuid","description":"Supplier this list should add.","example":"supplier-1","minLength":1},"channelInventoryType":{"type":"string","description":"Supplier this list should add.","enum":["GUEST_ROOM","ADD_ON","MEETING_ROOM","RESTAURANT","SPA","ATTRACTION","PLACE","ACTIVITY"],"example":"GUEST_ROOM"}},"required":["channelInventoryType","name","supplierIdentifier"]},"DynamicSellerListRequest_Affiliate":{"type":"object","description":"Paginated search for travel inventory.","properties":{"list":{"$ref":"#/components/schemas/UpsertDynamicSellerListRequest_Affiliate","description":"Contains the caller's search criteria."},"page":{"type":"integer","format":"int32","default":0,"description":"Which page to view out of total search results.","example":0,"minimum":0},"size":{"type":"integer","format":"int32","default":24,"description":"How many result set to return at the time.","example":24,"maximum":50,"minimum":1},"displayCurrency":{"type":"string","default":"USD","description":"Which currency to display the prices in.","example":"THB","pattern":"^[A-Z]{3}$"}},"required":["list","page","size"]},"UpsertDynamicSellerListRequest_Affiliate":{"type":"object","properties":{"name":{"type":"string","description":"Name of dynamic list for when user want to persist it"},"propertyName":{"type":"string","description":"Regex expression filter matching on property name.","example":"Shera"},"locationCategories":{"type":"array","description":"Supported OTA specification `LOC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":34,"items":{"type":"string"}},"segmentCategories":{"type":"array","description":"Supported OTA specification `SEG` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":7,"items":{"type":"string"}},"hotelCategories":{"type":"array","description":"Supported OTA specification `PCT` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":45,"items":{"type":"string"}},"architecturalStyles":{"type":"array","description":"Supported OTA specification `ARC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":7,"items":{"type":"string"}},"inventoryName":{"type":"string","description":"Regex expression filter matching on inventory name","example":"Badmint"},"continents":{"type":"array","items":{"description":"Filter on standardized continent codes","example":"NA"}},"countries":{"type":"array","items":{"description":"Filter on GeoNameId of country","example":985678}},"cities":{"type":"array","items":{"description":"Filter on GeoNameId of city","example":985678}},"showEcoFriendly":{"type":"boolean","default":false,"description":"Filter on eco-friendly hotels","example":false},"showPetFriendly":{"type":"boolean","default":false,"description":"Filter on pet-friendly hotels","example":false},"showChildFriendly":{"type":"boolean","default":false,"description":"Filter on child-friendly hotels","example":false},"showPopular":{"type":"boolean","default":false,"description":"Filter on hotel that has had a certain amount of bookings","example":false},"showDirectOnly":{"type":"boolean","default":false,"description":"Filter on direct inventory","example":false},"lifestyles":{"type":"array","items":{"type":"string","enum":["LIFESTYLE_HEALTH_FITNESS","LIFESTYLE_RELAX","LIFESTYLE_ADULT_ONLY","LIFESTYLE_ADVENTURE","LIFESTYLE_BUSINESS","LIFESTYLE_LGBT","LIFESTYLE_SINGLE_PARENT","LIFESTYLE_SOLO_FEMALE","LIFESTYLE_BEAUTY","LIFESTYLE_FOODIE","LIFESTYLE_FAMILY","LIFESTYLE_ROMANCE","LIFESTYLE_COUPLE","LIFESTYLE_SOLO","LIFESTYLE_BACKPACKER","LIFESTYLE_SHOPPING","LIFESTYLE_SPORTS","LIFESTYLE_MOUNTAIN","LIFESTYLE_BEACH","LIFESTYLE_CITY","LIFESTYLE_COUNTRY","LIFESTYLE_CULTURE","LIFESTYLE_ECO"]}},"hotelStars":{"type":"integer","format":"int32","description":"Filter on number of stars the hotel has.","example":4},"aggregateReviewRating":{"type":"integer","format":"int32","description":"Filter on aggregate review score the hotel
[...]
