{"openapi":"3.0.1","info":{"title":"Wink API","description":" # Introduction\n Welcome to the Wink API - A programmer-friendly way to manage, sell and book travel inventory on the Wink platform. The API gives you all the tools you need to ready your properties and inventory for sale across 1000s of our native sales channels.\n Integrators, affiliates, travel agents and content creators have the ability search for your travel inventory and promote / sell it in a wide variety of ways.\n\n # Integrations\n We have already integrated with the most well-known channel managers so you don't have to. To see our current integrations, please go to https://extranet.wink.travel and scroll to Connectivity section. Once your properties are set up, you can finish the setup by mapping your property to Wink using your channel manager partner portal. If your properties don't have a channel manager, you can easily manage rates and availability with this API.\n\n # Intended Audience\n Programmers are [most likely] a requirement to start integrating with Wink. Companies and organizations that would most benefit from integrating with us are new and existing travel companies that have relationships with suppliers and that need an advanced system from which to manage their travel inventory and get that same inventory out to as many eyeballs as possible at the lowest price possible.\n - Hotel chains\n - Hotel brands\n - Travel tech companies\n - Destination sites\n - Integrators\n - Aggregators\n - Destination management companies\n - Travel agencies\n - OTAs\n\n ## APIs\n Not every integrator needs every API. For that reason, we have separated APIs into context.\n\n### Test API\n\n - [Ping](/ping): The Ping API is a quick test endpoint to verify that your credentials work Wink.\n\n### Common APIs\n\n- [Notifications](/notifications): The Notifications API is a way for us to stay in touch with your user, property or affiliate account.\n- [User Settings](/user-settings): The User Settings API exposes endpoints to allow 3rd party integrators to communicate with Wink.\n\n### Consume APIs\nConsume endpoints are for developers who want to find existing travel inventory and either book it or use it to advertise through one of their Wink affiliate accounts.\n\n - [Configuration](/engine-client): A single endpoint to retrieve whitelabel + customization information for the booking engine.\n - [Lookup](/lookup): All APIs related to locating inventory by region, locale and property flags.\n - [Inventory](/inventory): All APIs related to retrieve known travel inventory as it was found using the Lookup API..\n - [Booking](/booking): All APIs related to creating bookings on the platform.\n - [Travel Agent](/travel-agent): The Travel Agent API exposes endpoints to manage agent-facilitated bookings.\n\n ### Produce APIs\n Produce endpoints are for developers who want to create and manage travel inventory.\n\n #### Property\n - [Property registration](/extranet/property/register): As a producer, this is, oftentimes, where you start your journey. These endpoints let you create properties on Wink.\n - [Property](/extranet/property): This collection of property endpoints are mostly management endpoints that let you display, change status and similar for your existing properties.\n - [Facilities](/extranet/facilities): This collection of endpoints let you manage facilities; such as room types.\n - [Experiences](/extranet/experiences): This collection of endpoints let you manage experiences, such as activities.\n - [Monetize](/extranet/monetize): The Monetize API exposes endpoints for managing cancellation polies, rate plans, promotions and more on Wink.\n - [Distribution](/extranet/distribution): The Distribution API exposes endpoints for sales channels, connecting with affiliates, managing rates and inventory calendars and more on Wink.\n - [Property Booking](/extranet/booking): The Property Booking API exposes endpoints for managing bookings and reviews at the property-level.\n\n #### Affiliate\n - [Affiliate](/affiliate): This collection of affiliate endpoints are mostly management endpoints that let you display, change status and similar for your existing accounts.\n - [Browse](/affiliate/browse): The Browse API exposes endpoints for affiliates to find suppliers and inventory to sell.\n - [Inventory](/affiliate/inventory): The Inventory API exposes endpoints for affiliates to manage the inventory they want to sell and how they want to sell it.\n - [Sales Channel](/affiliate/sales-channel): The Sales Channel API exposes endpoints for affiliates to manage existing sales channels as well as find new ones.\n - [WinkLinks](/affiliate/winklinks): The WinkLinks API exposes endpoints for affiliates to manage their WinkLinks page.\n\n #### Rate provider\n - [Channel manager](/channel-manager): The Channel Manager API enables external channel manager partners to map, exchange rate / availability information with us as well as be informed of bookings that occur on the Wink platform for one of their properties.\n\n ### Taxonomy APIs\n Taxonomy endpoints are for developers who want to consume and produce travel inventory and need taxonomies of standard and non-standard codes for inventory types, classes, statuses etc.\n\n - [Reference](/reference): All APIs related to retrieving platform-supported taxonomies.\n\n ### Insight APIs\n Insight endpoints do exactly what the name implies - They offer platform-level insight into the activities of producers and consumers.\n\n - [Analytics](/analytics): All APIs related to tracking metrics across a wide variety of data source segments including, more entertaining, leaderboard metrics.\n\n ### Payment APIs\n Payment endpoints are for developers who want to purchase travel inventory. This can be done via the API as a registered Travel Agent or using our API in conjunction with our PCI compliant payment widget for all other entities.\n\n - [TripPay](/payment): All APIs related to TripPay account management, booking, mapping and integration features.\n\n ## SDKs\n We are actively working on supporting the most used languages out there. If you don't see your language here, reach out to us with a request to officially add your language. In the meantime, if you want to roll your own SDK, you can do so by downloading the OpenAPI spec and using one of the many available OpenAPI generators available: [https://openapi-generator.tech/docs/generators](https://openapi-generator.tech/docs/generators).\n\n - Java SDK [https://github.com/wink-travel/wink-sdk-java](https://github.com/wink-travel/wink-sdk-java)\n\n ## Usage\n These features are made available to you via a [REST API](https://en.wikipedia.org/wiki/Representational_state_transfer). This API is language agnostic.\n\n ## Versioning\n We chose to version our endpoints in a way that we hope affects your integration minimally. You request the version of our API you wish to work with via the `Wink-Version` header. When it's time for you to upgrade, you only have to change the version number to get access to our updated endpoints.\n\n ## Release history\n - Follow updates on Github: https://github.com/wink-travel/wink-sdk-java/blob/master/CHANGELOG.md\n\n\n\n# Browse API\nThe Browse API exposes endpoints to find suppliers and inventory to sell. This API lets you:\n\n1. Browse: Find inventory and suppliers.\n2. Saved Search: Manage saved searches\n3. Curated List: Manage curated lists\n\nBrowse the endpoints in the left navigation bar to get started.\n\n","contact":{"name":"Bjorn Harvold","email":"bjorn@wink.travel"},"version":"30.4.1","x-logo":{"backgroundColor":"#FFFFFF","altText":"wink","url":"https://res.cloudinary.com/traveliko/image/upload/c_scale,h_129/v1653285543/wink/logo_text_white.svg"}},"servers":[{"url":"https://api.wink.travel","description":"Endpoint"}],"tags":[{"name":"Saved Search","description":"Consists of search filters that produce a list of supplier / inventory when queried."},{"name":"Search Categories","description":"Suppliers and inventory by category."},{"name":"Browse","description":"Before you can sell travel inventory, you need to find it. Discover travel inventory that fits your niche and your audience."},{"name":"Curated List","description":"Consists of supplier / inventory IDs in a specific order"}],"paths":{"/api/affiliate/{companyIdentifier}/static-list/{listIdentifier}":{"put":{"tags":["Curated List"],"summary":"Update Curated List","description":"Update curated list by its unique identifier","operationId":"updateCuratedList","parameters":[{"name":"companyIdentifier","in":"path","description":"Update curated list owned by this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"listIdentifier","in":"path","description":"List identifier.","required":true,"schema":{"type":"string"},"example":"list-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StaticSellerList_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StaticSellerListWrapper_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Curated List"],"summary":"Remove Curated List","description":"Remove curated list by list identifier","operationId":"removeCuratedList","parameters":[{"name":"companyIdentifier","in":"path","description":"Remove curated list owned by this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"listIdentifier","in":"path","description":"List identifier.","required":true,"schema":{"type":"string"},"example":"list-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveEntryResponse_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/{companyIdentifier}/static-list/{listIdentifier}/item/{itemIdentifier}":{"put":{"tags":["Curated List"],"summary":"Move List Item","description":"Move an existing list item from one list to another.","operationId":"moveInventoryToCuratedList","parameters":[{"name":"companyIdentifier","in":"path","description":"Move inventory to curated list owned by this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"listIdentifier","in":"path","description":"List identifier.","required":true,"schema":{"type":"string"},"example":"list-1"},{"name":"itemIdentifier","in":"path","description":"Item identifier.","required":true,"schema":{"type":"string"},"example":"item-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CopyMoveStaticSellerListItemRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StaticSellerListItemView_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"post":{"tags":["Curated List"],"summary":"Copy Item to List","description":"Copy an existing list item from one list to another.","operationId":"copyInventoryToCuratedList","parameters":[{"name":"companyIdentifier","in":"path","description":"Copy inventory to curated list owned by this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"listIdentifier","in":"path","description":"List identifier.","required":true,"schema":{"type":"string"},"example":"list-1"},{"name":"itemIdentifier","in":"path","description":"Item identifier.","required":true,"schema":{"type":"string"},"example":"item-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CopyMoveStaticSellerListItemRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StaticSellerListItemView_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Curated List"],"summary":"Delete List Item","description":"Delete a list item from a curated list by its unique identifier","operationId":"removeInventoryFromCuratedList","parameters":[{"name":"companyIdentifier","in":"path","description":"Remove inventory from curated list owned by this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"listIdentifier","in":"path","description":"List identifier.","required":true,"schema":{"type":"string"},"example":"list-1"},{"name":"itemIdentifier","in":"path","description":"Item identifier.","required":true,"schema":{"type":"string"},"example":"item-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveEntryResponse_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/{companyIdentifier}/dynamic-list/{listIdentifier}":{"put":{"tags":["Saved Search"],"summary":"Update Saved Search","description":"Update a existing saved search record by its unique identifier","operationId":"updateSavedSearch","parameters":[{"name":"companyIdentifier","in":"path","description":"Update search owned by this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"listIdentifier","in":"path","description":"Saved search identifier.","required":true,"schema":{"type":"string"},"example":"saved-search-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertDynamicSellerList_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DynamicSellerListView_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Saved Search"],"summary":"Remove Saved Search","description":"Remove saved search record by its unique identifier","operationId":"removeSavedSearch","parameters":[{"name":"companyIdentifier","in":"path","description":"Remove search owned by this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"listIdentifier","in":"path","description":"Saved search identifier.","required":true,"schema":{"type":"string"},"example":"saved-search-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveEntryResponse_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/{companyIdentifier}/static-list":{"get":{"tags":["Curated List"],"summary":"Show Curated Lists","description":"Retrieve lists optionally with content.","operationId":"showCuratedLists","parameters":[{"name":"companyIdentifier","in":"path","description":"Show curated lists owned by this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"withItems","in":"query","description":"Indicate whether to include all the list items in the result","required":false,"schema":{"type":"boolean","default":false},"example":false},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StaticSellerListWrapper_Affiliate"}}}}}},"security":[{"oauth2ClientCredentials":[]}]},"post":{"tags":["Curated List"],"summary":"Create Curated List","description":"Create a new curated list","operationId":"createCuratedList","parameters":[{"name":"companyIdentifier","in":"path","description":"Create curated list owned by this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateStaticSellerListAndAddItemRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StaticSellerListWrapper_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/{companyIdentifier}/static-list/{listIdentifier}/item":{"post":{"tags":["Curated List"],"summary":"Add Inventory to List","description":"Add some travel inventory to your existing curated list","operationId":"addInventoryToCuratedList","parameters":[{"name":"companyIdentifier","in":"path","description":"Add inventory to curated list owned by this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"listIdentifier","in":"path","description":"List identifier.","required":true,"schema":{"type":"string"},"example":"list-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddStaticSellerListItemRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StaticSellerListItemView_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/{companyIdentifier}/static-list/{listIdentifier}/item/supplier":{"post":{"tags":["Curated List"],"summary":"Add Supplier to List","description":"Adds a new list item for a supplier showing the best priced room..","operationId":"addSupplierToCuratedList","parameters":[{"name":"companyIdentifier","in":"path","description":"Add inventory to curated list owned by this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"listIdentifier","in":"path","description":"List identifier.","required":true,"schema":{"type":"string"},"example":"list-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddStaticSellerListSupplierRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StaticSellerListItemView_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/{companyIdentifier}/static-list/supplier":{"post":{"tags":["Curated List"],"summary":"Create Curated List","description":"Create a new curated list","operationId":"createCuratedSupplierList","parameters":[{"name":"companyIdentifier","in":"path","description":"Create curated list owned by this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateStaticSellerListAndAddSupplierRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StaticSellerListWrapper_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/{companyIdentifier}/dynamic-list":{"get":{"tags":["Saved Search"],"summary":"Show Saved Searches","description":"Retrieve all saved searches for owner","operationId":"showSavedSearches","parameters":[{"name":"companyIdentifier","in":"path","description":"List searches owned by this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DynamicSellerListView_Affiliate"}}}}}},"security":[{"oauth2ClientCredentials":[]}]},"post":{"tags":["Saved Search"],"summary":"Create Saved Search","description":"Create a new dynamic saved search.","operationId":"createSavedSearch","parameters":[{"name":"companyIdentifier","in":"path","description":"Create search owned by this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertDynamicSellerList_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DynamicSellerListView_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/{companyIdentifier}/browse/supplier/grid":{"post":{"tags":["Browse"],"summary":"Supplier Search","description":"Retrieves a paginated result set of suppliers of inventory based on the search criteria of the caller.","operationId":"showSuppliersForDynamicSellerInventory","parameters":[{"name":"companyIdentifier","in":"path","description":"Browse inventory supplier suppliers on behalf of this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DynamicSellerListRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageInventorySupplier_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/{companyIdentifier}/browse/inventory/grid":{"post":{"tags":["Browse"],"summary":"Inventory Search","description":"Retrieves a paginated result set of inventory based on the search criteria of the caller.","operationId":"showDynamicSellerInventory","parameters":[{"name":"companyIdentifier","in":"path","description":"Browse inventory on behalf of this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DynamicSellerListRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageInventoryView_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/{companyIdentifier}/static-list/{listIdentifier}/sort":{"patch":{"tags":["Curated List"],"summary":"Re-Order List Items","description":"Re-order list items with an existing list","operationId":"sortCuratedListItems","parameters":[{"name":"companyIdentifier","in":"path","description":"Sort curated list items owned by this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"listIdentifier","in":"path","description":"List identifier.","required":true,"schema":{"type":"string"},"example":"list-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SortStaticSellerListItemsRequest_Affiliate"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BooleanResponse_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/{companyIdentifier}/browse/supplier/{supplierIdentifier}/sales-channel/{salesChannelIdentifier}":{"get":{"tags":["Browse"],"summary":"Show Supplier","description":"Retrieves supplier details based on existing sales channel ID.","operationId":"showInventorySupplier","parameters":[{"name":"companyIdentifier","in":"path","description":"Browse inventory supplier on behalf of this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"supplierIdentifier","in":"path","description":"Browse inventory supplier on behalf of this supplier identifier.","required":true,"schema":{"type":"string"},"example":"supplier-1"},{"name":"salesChannelIdentifier","in":"path","description":"Browse inventory supplier on behalf of this sales channel identifier.","required":true,"schema":{"type":"string"},"example":"sales-channel-1"},{"name":"displayCurrency","in":"query","description":"Indicate which currency to display prices in.","required":false,"schema":{"type":"string","default":"USD"},"example":"USD"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InventorySupplier_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/{companyIdentifier}/browse/supplier/list":{"get":{"tags":["Browse"],"summary":"Latest Suppliers","description":"Retrieves a list of latest available inventory suppliers.","operationId":"showLatestInventorySupplierList","parameters":[{"name":"companyIdentifier","in":"path","description":"Browse inventory supplier on behalf of this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"page","in":"query","description":"Skip to page.","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"size","in":"query","description":"Skip to page.","required":false,"schema":{"maximum":100,"type":"integer","format":"int32","default":20},"example":20},{"name":"displayCurrency","in":"query","description":"Indicate which currency to display prices in.","required":false,"schema":{"type":"string","default":"USD"},"example":"USD"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InventorySupplier_Affiliate"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/{companyIdentifier}/browse/supplier/grid/{dynamicListIdentifier}":{"get":{"tags":["Browse"],"summary":"Supplier Search by Saved Search","description":"Retrieves a paginated result set based on the given list identifier.","operationId":"showDynamicSellerInventoryById","parameters":[{"name":"companyIdentifier","in":"path","description":"Browse inventory supplier on behalf of this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"dynamicListIdentifier","in":"path","description":"Browse inventory supplier on behalf of this dynamic list identifier.","required":true,"schema":{"type":"string"},"example":"dynamic-list-1"},{"name":"page","in":"query","description":"Skip to page.","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"size","in":"query","description":"Skip to page.","required":false,"schema":{"maximum":100,"type":"integer","format":"int32","default":20},"example":20},{"name":"displayCurrency","in":"query","description":"Indicate which currency to display prices in.","required":false,"schema":{"type":"string","default":"USD"},"example":"USD"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageInventorySupplier_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/{companyIdentifier}/browse/supplier/country/list":{"get":{"tags":["Browse"],"summary":"Show Supplier Countries","description":"Retrieve list of countries affiliate has access to.","operationId":"showCountriesForInventorySupplier","parameters":[{"name":"companyIdentifier","in":"path","description":"List countries for inventory on behalf of this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Country_Affiliate"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/{companyIdentifier}/browse/supplier/city/list":{"get":{"tags":["Browse"],"summary":"Show Supplier Cities","description":"Retrieve list of cities affiliate has access to.","operationId":"showCitiesForInventory","parameters":[{"name":"companyIdentifier","in":"path","description":"List cities for inventory on behalf of this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GeoName_Affiliate"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/{companyIdentifier}/browse/inventory/list":{"get":{"tags":["Browse"],"summary":"Latest Inventory","description":"Retrieves a list of latest available inventory.","operationId":"showLatestInventory","parameters":[{"name":"companyIdentifier","in":"path","description":"Browse inventory on behalf of this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"page","in":"query","description":"Skip to page.","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"size","in":"query","description":"Skip to page.","required":false,"schema":{"maximum":100,"type":"integer","format":"int32","default":20},"example":20},{"name":"displayCurrency","in":"query","description":"Indicate which currency to display prices in.","required":false,"schema":{"type":"string","default":"USD"},"example":"USD"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InventoryView_Affiliate"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/{companyIdentifier}/browse/inventory/grid/{dynamicListIdentifier}":{"get":{"tags":["Browse"],"summary":"Inventory Search by Saved Search","description":"Retrieves a paginated result set based on the given saved search ID.","operationId":"showDynamicSellerInventoryById_1","parameters":[{"name":"companyIdentifier","in":"path","description":"Browse inventory on behalf of this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"dynamicListIdentifier","in":"path","description":"Browse inventory on behalf of this dynamic list identifier.","required":true,"schema":{"type":"string"},"example":"dynamic-list-1"},{"name":"page","in":"query","description":"Skip to page.","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"size","in":"query","description":"Limit the size of results.","required":false,"schema":{"maximum":100,"type":"integer","format":"int32","default":20},"example":20},{"name":"displayCurrency","in":"query","description":"Indicate which currency to display prices in.","required":false,"schema":{"type":"string","default":"USD"},"example":"USD"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageInventoryView_Affiliate"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/{companyIdentifier}/browse/inventory/country/list":{"get":{"tags":["Browse"],"summary":"Show Inventory Countries","description":"Retrieve list of countries affiliate has access to.","operationId":"showCountriesForInventory","parameters":[{"name":"companyIdentifier","in":"path","description":"List countries for inventory on behalf of this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Country_Affiliate"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/{companyIdentifier}/browse/inventory/city/list":{"get":{"tags":["Browse"],"summary":"Show Inventory Cities","description":"Retrieve list of cities affiliate has access to.","operationId":"showCitiesForInventory_1","parameters":[{"name":"companyIdentifier","in":"path","description":"List cities for inventory on behalf of this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GeoName_Affiliate"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/affiliate/{companyIdentifier}/browse/category/list":{"get":{"tags":["Search Categories"],"summary":"Show Categories","description":"Retrieve a list of all active supplier and inventory categories.","operationId":"showSearchCategoryList","parameters":[{"name":"companyIdentifier","in":"path","description":"List search categories on behalf of this owner identifier.","required":true,"schema":{"type":"string"},"example":"owner-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericErrorMessage"},{"type":"object","additionalProperties":{"type":"object"}}]}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SearchCategory_Affiliate"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}}},"components":{"schemas":{"GenericErrorMessage":{"type":"object","properties":{"timestamp":{"type":"string","xml":{"attribute":true}},"status":{"type":"integer","format":"int32","xml":{"attribute":true}},"error":{"type":"string"},"message":{"type":"string"},"path":{"type":"string"}},"description":"Generic error message","xml":{"name":"ErrorMessage"}},"StaticSellerList_Affiliate":{"required":["identifier","name","ownerIdentifier","type"],"type":"object","properties":{"identifier":{"type":"string","description":"Unique record identifier","format":"uuid"},"ownerIdentifier":{"type":"string","description":"List creator","format":"uuid"},"name":{"type":"string","description":"Name of curated list","example":"Top 3 hotels in Chiang Mai"},"type":{"type":"string","description":"Static seller list type","example":"NORMAL","enum":["FAVORITE","NORMAL"]}},"description":"A curated list is a bucket that holds any type of travel inventory."},"Address_Affiliate":{"required":["address1","city"],"type":"object","properties":{"address1":{"type":"string","description":"Address line 1","example":"234 Near da beach"},"address2":{"type":"string","description":"Address line 2","example":"Pebble #5001"},"state":{"type":"string","description":"State","example":"CA"},"postalCode":{"type":"string","description":"Postal / zip code","example":"90210"},"county":{"type":"string","description":"County","example":"Alameda county"},"city":{"$ref":"#/components/schemas/GeoName_Affiliate"},"valid":{"type":"boolean","description":"Whether this address is considered valid by the system or not","readOnly":true,"example":true},"fullAddress":{"type":"string","description":"Address 1, Address 2, City, State, Postal / Zip code, Country","readOnly":true,"example":"11 At home, Suite 3C, New York City, NY 10010, United States"}},"description":"Address information"},"AdvanceBookingRateQualifier_Affiliate":{"type":"object","description":"Restrict promotion to users who want to book in advance."},"ArrivalDaysOfWeekRateQualifier_Affiliate":{"type":"object","description":"Restrict promotion to specific days of the week the guest is arriving."},"AvailableDaysOfWeekRateQualifier_Affiliate":{"type":"object","description":"Restrict promotion to specific days of the week the promotion is available."},"BlackoutDate_Affiliate":{"type":"object","description":"Exclude this promotion from specific date ranges."},"CityRateQualifier_Affiliate":{"type":"object","description":"Restrict promotion to specific cities. See [Geo-IP city geoname data](#operation/searchForCity)"},"Contact_Affiliate":{"type":"object","properties":{"firstName":{"type":"string","description":"Contact first name","example":"John"},"lastName":{"type":"string","description":"Contact last name","example":"Smith"},"email":{"type":"string","description":"Contact E-mail","example":"johnsmith@email.com"},"secondaryEmail":{"type":"string","description":"Contact secondary Email","example":"johnsmith2@email.com"},"phoneNumber":{"type":"string","description":"Contact phone number","example":"+12125551212"},"fullName":{"type":"string","description":"First and last name","readOnly":true,"example":"John Smith"},"summary":{"type":"string","description":"Summary","readOnly":true,"example":"John Smith (johnsmith@gmail.com / +12125551212)"}},"description":"Contact details for reservations desk"},"ContinentRateQualifier_Affiliate":{"type":"object","description":"Restrict promotion to specific continents. See [Geo-IP continent geoname data](#operation/showContinents)"},"CountryRateQualifier_Affiliate":{"type":"object","description":"Restrict promotion to specific countries. See [Geo-IP country geoname data](#operation/showCountries)"},"Country_Affiliate":{"type":"object","properties":{"iso":{"type":"string","description":"ISO code","example":"US"},"name":{"type":"string","description":"Country name","example":"United States"},"capital":{"type":"string","description":"Country capital","example":"Washington"},"continent":{"type":"string","description":"Continent code","example":"NA"},"currencyCode":{"type":"string","description":"Currency code","example":"USD"},"currencyName":{"type":"string","description":"Currency name","example":"Dollar"},"geoNameId":{"type":"string","description":"Country GeoNames identifier","example":"6252001"}},"description":"Country"},"CustomMonetaryAmount":{"required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number"},"currency":{"type":"string"}}},"DepartureDaysOfWeekRateQualifier_Affiliate":{"type":"object","description":"Restrict promotion to specific days of the week the guest is departing."},"GeneralManager_Affiliate":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"Name of GM currently managing the property.","example":"Jane Doe"},"image":{"$ref":"#/components/schemas/SimpleMultimedia_Affiliate"},"descriptions":{"type":"array","description":"Localized welcome message from GM.","items":{"$ref":"#/components/schemas/LocalizedDescription_Affiliate"}}},"description":"General manager related data."},"GeoJsonPoint_Affiliate":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"},"type":{"type":"string"},"coordinates":{"type":"array","items":{"type":"number","format":"double"}}},"description":"Geo-location","example":{"type":"POINT","coordinates":[100.5581533,13.7370197]}},"GeoName_Affiliate":{"type":"object","properties":{"geoNameId":{"type":"string","description":"GeoName identifier","example":"5128581"},"type":{"type":"string","description":"GeoName type","enum":["CITY","ISLAND","OTHER"]},"name":{"type":"string","description":"Name of city","example":"New York City"},"urlName":{"type":"string","description":"Url name","example":"new-york-city-united-states"},"asciiName":{"type":"string","description":"Ascii name of city","example":"New York City"},"location":{"$ref":"#/components/schemas/GeoJsonPoint_Affiliate"},"featureCode":{"type":"string"},"countryCode":{"type":"string"},"timezone":{"type":"string","description":"Timezone","example":"America/New_York"},"country":{"$ref":"#/components/schemas/Country_Affiliate"},"subCountry":{"$ref":"#/components/schemas/SubCountry_Affiliate"},"subSubCountry":{"$ref":"#/components/schemas/SubSubCountry_Affiliate"}},"description":"GeoNames have been created at [https://geonames.org](https://geonames.org) and contain geographical destinations we use as geoname data to associate travel inventory with a location."},"HotelOnMap_Affiliate":{"type":"object","properties":{"identifier":{"type":"string","description":"Unique record identifier. This is NOT the same as the unique hotel record identifier.","example":"document-1"},"hotelIdentifier":{"type":"string","description":"Unique hotel record identifier.","format":"uuid"},"name":{"type":"string","description":"Hotel trade name","example":"The Loveliest Hotel"},"localName":{"type":"string","description":"Hotel local name if different from the trade name or if it is the local language.","example":"Det Beste Hotellet"},"chain":{"type":"string","description":"Name of hotel chain if applicable.","example":"Hotel chain"},"brand":{"type":"string","description":"Name of hotel brand","example":"Hotel brand"},"urlName":{"type":"string","description":"Unique URL-friendly name slug of hotel","example":"the-loveliest-hotel-new-york-united-states"},"starRating":{"maximum":6,"minimum":0,"type":"integer","description":"Official or self-designated property star rating. Note that in some regions there are 6-star hotels. They are the same as 5-star hotels everywhere else.","format":"int32","example":4},"bookings":{"type":"integer","description":"Number of bookings for this property on the wink.travel payment.","format":"int64","example":6054,"default":0},"aggregateReviewRating":{"type":"number","description":"Aggregate score based on all current user reviews.","format":"float","example":7.8,"default":0.0},"location":{"$ref":"#/components/schemas/GeoJsonPoint_Affiliate"},"shortDescriptions":{"type":"array","description":"A localized list of short property descriptions","items":{"$ref":"#/components/schemas/LocalizedDescription_Affiliate"}},"longDescriptions":{"type":"array","description":"A localized list of longer property descriptions","items":{"$ref":"#/components/schemas/LocalizedDescription_Affiliate"}},"aggregateGreendexRating":{"type":"number","description":"Aggregate Green Index score if the property has answered our questionnaire available in the Extranet.","format":"float","example":7.0,"default":0.0},"lifestyleTypes":{"type":"array","items":{"type":"string","description":"A list of lifestyles the property associates with.","example":"LIFESTYLE_HEALTH_FITNESS","enum":["LIFESTYLE_HEALTH_FITNESS","LIFESTYLE_RELAX","LIFESTYLE_ADULT_ONLY","LIFESTYLE_ADVENTURE","LIFESTYLE_BUSINESS","LIFESTYLE_LGBT","LIFESTYLE_SINGLE_PARENT","LIFESTYLE_SOLO_FEMALE","LIFESTYLE_BEAUTY","LIFESTYLE_FOODIE","LIFESTYLE_FAMILY","LIFESTYLE_ROMANCE","LIFESTYLE_COUPLE","LIFESTYLE_SOLO","LIFESTYLE_BACKPACKER","LIFESTYLE_SHOPPING","LIFESTYLE_SPORTS","LIFESTYLE_MOUNTAIN","LIFESTYLE_BEACH","LIFESTYLE_CITY","LIFESTYLE_COUNTRY","LIFESTYLE_CULTURE","LIFESTYLE_ECO"]}},"totalReviews":{"type":"integer","description":"Count of total reviews left by users at this property.","format":"int32","example":989,"default":0},"available":{"type":"boolean","description":"Flag indicating whether the payment has made this property available for sale.","example":true,"default":false},"hotelAvailable":{"type":"boolean","description":"Flag indicating whether the property has made this property available for sale.","example":true,"default":false},"reservations":{"$ref":"#/components/schemas/Contact_Affiliate"},"socials":{"type":"array","description":"Property's social network accounts","items":{"$ref":"#/components/schemas/Social_Affiliate"}},"images":{"type":"array","description":"Property images.","items":{"$ref":"#/components/schemas/SimpleMultimedia_Affiliate"}},"videos":{"type":"array","description":"Property videos.","items":{"$ref":"#/components/schemas/SimpleMultimedia_Affiliate"}},"policy":{"$ref":"#/components/schemas/PropertyPolicy_Affiliate"},"thirdPartyReviews":{"type":"array","description":"Array of awards and third party reviews given to property by certified / non-certified providers.","items":{"$ref":"#/components/schemas/TravelInventoryRecognition_Affiliate"}},"attractions":{"type":"integer","description":"Number of attractions property has listed on its profile.","format":"int32","example":5,"default":0},"recreations":{"type":"integer","description":"Number of activites property has listed on its profile.","format":"int32","example":3,"default":0},"pois":{"type":"integer","description":"Number of places property has listed on its profile.","format":"int32","example":9,"default":0},"restaurants":{"type":"integer","description":"Number of restaurants property has on its profile.","format":"int32","example":2,"default":0},"meetingRooms":{"type":"integer","description":"Number of meeting rooms property has on its profile.","format":"int32","example":2,"default":0},"spas":{"type":"integer","description":"Number of spas property has on its profile.","format":"int32","example":1,"default":0},"addOns":{"type":"integer","description":"Number of add-ons property has on its profile.","format":"int32","example":5,"default":0},"generalManager":{"$ref":"#/components/schemas/GeneralManager_Affiliate"},"locationCategory":{"type":"string","description":"Supported OTA specification `LOC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"34"},"segmentCategory":{"type":"string","description":"Supported OTA specification `SEG` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"7"},"hotelCategory":{"type":"string","description":"Supported OTA specification `PCT` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"45"},"architecturalStyle":{"type":"string","description":"Supported OTA specification `ARC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"7"},"whenBuilt":{"type":"string","description":"Year the property was constructed.","example":"1927"},"currencyCode":{"type":"string","description":"Currency code for property.","example":"USD"},"membershipRateDiscount":{"type":"number","description":"A property's price score is based on calculating historical pricing data. Each property receives a unique score. There is no max score; it's there to compare it against other properties.","format":"float","example":9,"default":0},"priceScore":{"type":"integer","description":"A property's price score is based on calculating historical pricing data. Each property receives a unique score. There is no max score; it's there to compare it against other properties.","format":"int32","example":9,"default":0},"perkScore":{"type":"integer","description":"A property's perk score is based on the type of perks that is offered to the guests across all master rates. There is no max score; it's there to compare it against other properties.","format":"int32","example":4,"default":0},"packageScore":{"type":"integer","description":"A property's package score is based on general availability and price for all packages and add-ons offered by the property. There is no max score; it's there to compare it against other properties.","format":"int32","example":4,"default":0},"loyaltyScore":{"type":"integer","description":"A property's loyalty score is based on calculating how many available rate plans honor loyalty points. There is no max score; it's there to compare it against other properties.","format":"int32","example":5,"default":0},"popularScore":{"type":"integer","description":"A property's popular score is based on calculating number of bookings across room types. There is no max score; it's there to compare it against other properties.","format":"int32","example":45,"default":0},"experienceScore":{"type":"integer","description":"A property's experience score is based on how calculating how many types of experiences are available and at what price ranges. There is no max score; it's there to compare it against other properties.","format":"int32","example":5,"default":0},"availabilityScore":{"type":"integer","description":"A property's availability score is based on general availability of all room types. If most room types are always unavailable, the attractiveness of this property goes down. We use this as our primary benchmark to decide how and when to feature properties. There is no max score; it's there to compare it against other properties.","format":"int32","example":5,"default":0},"views":{"type":"integer","description":"Total number of user views of this property.","format":"int64","example":10432,"default":0},"hotelAmenityCodes":{"type":"array","description":"Supported OTA specification `HAC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":["1","7"],"items":{"type":"string","description":"Supported OTA specification `HAC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"[\"1\",\"7\"]"}},"propertyAccessibilityCodes":{"type":"array","description":"Supported OTA specification `PHY` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":["1","7"],"items":{"type":"string","description":"Supported OTA specification `PHY` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"[\"1\",\"7\"]"}},"propertySecurityCodes":{"type":"array","description":"Supported OTA specification `SEC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":["1","7"],"items":{"type":"string","description":"Supported OTA specification `SEC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"[\"1\",\"7\"]"}},"numberOfRooms":{"type":"integer","description":"Number of rooms / keys for this property.","format":"int32","example":32,"default":0},"address":{"$ref":"#/components/schemas/Address_Affiliate"},"active":{"type":"boolean","description":"A property is considered active when both available and hotelAvailable flags are true.","example":true},"urlParameters":{"type":"string","description":"Convenience data point that creates url friendly query parameters of property."}},"description":"Combined property data."},"IPRangeRateQualifier_Affiliate":{"type":"object","description":"Restrict promotion to specific IP ranges."},"ImageAttribution_Affiliate":{"required":["name"],"type":"object","properties":{"url":{"type":"string","description":"URL to contributor","example":"https://maps.google.com/maps/contrib/111628493169070103594"},"name":{"type":"string","description":"Name of contributor","example":"Samuel Adams"}},"description":"Whether image has attribution properties"},"Inventory_Affiliate":{"required":["address","bookable","commissionable","enabled","hotel","identifier","imageIdentifier","inventoryIdentifier","inventoryName","inventoryNameInEnglish","inventoryType","location","pricePoint","quantity","salesChannel"],"type":"object","properties":{"identifier":{"type":"string","description":"Inventory identifier","format":"uuid"},"salesChannel":{"$ref":"#/components/schemas/SalesChannel_Affiliate"},"inventoryType":{"type":"string","description":"Inventory type","enum":["GUEST_ROOM","ADD_ON","MEETING_ROOM","RESTAURANT","SPA","ATTRACTION","PLACE","ACTIVITY"]},"inventoryIdentifier":{"type":"string","description":"Inventory type identifier","format":"uuid"},"inventoryName":{"type":"string","description":"Name of inventory as hotel is seeing it"},"inventoryNameInEnglish":{"type":"string","description":"Name of inventory as traveler is seeing it"},"enabled":{"type":"boolean","description":"Whether this inventory is enabled or not","example":true,"default":true},"imageIdentifier":{"type":"string","description":"Main image of inventory"},"pricePoint":{"type":"string","description":"Level of expensiveness.","example":"THREE","default":"THREE","enum":["HALF","ONE","ONE_HALF","TWO","TWO_HALF","THREE","THREE_HALF","FOUR","FOUR_HALF","FIVE"]},"location":{"$ref":"#/components/schemas/GeoJsonPoint_Affiliate"},"address":{"$ref":"#/components/schemas/Address_Affiliate"},"quantity":{"type":"integer","description":"quantity","format":"int32","example":100,"default":0},"commissionable":{"type":"boolean","description":"Whether this is commissionable or not","example":true,"default":false},"bookable":{"type":"boolean","description":"Whether inventory can be booked","example":true,"default":true},"lowestPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"lowestDisplayPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"hotel":{"$ref":"#/components/schemas/HotelOnMap_Affiliate"}},"description":"Channel inventory"},"LengthOfStayRateQualifier_Affiliate":{"type":"object","description":"Restrict promotion to users who want to stay a certain number of days."},"LocalizedDescription_Affiliate":{"required":["description","language"],"type":"object","properties":{"description":{"maxLength":2147483647,"minLength":1,"type":"string","description":"Longer text description","example":"This is a longer description in the specified language."},"language":{"maxLength":2,"minLength":2,"type":"string","description":"Indicate which language this description is written in.","example":"en","default":"en"}}},"MinutesBeforeBookingStartDateRateQualifier_Affiliate":{"type":"object","description":"Restrict promotion to users who want to book a room close to the date."},"PrepayRateQualifier_Affiliate":{"type":"object","description":"Restrict promotion to either prepaid / non-prepaid rates."},"PromotionRateQualifier_Affiliate":{"type":"object","description":"Restrict promotion by requiring users to enter a promo code."},"PropertyPolicy_Affiliate":{"required":["checkInTime","checkOutTime","childrenAllowed","internetAvailability","internetConnectionLocation","internetConnectionType","parkingAccess","parkingAvailability","petsAllowed"],"type":"object","properties":{"childrenAllowed":{"type":"boolean","description":"Indicates whether property allows children","example":true,"default":false},"childrenMinimumAge":{"type":"integer","description":"When a property allows children, it can also indicate what the minimum age is for children to be allowed.","format":"int32","example":6},"internetAvailability":{"type":"string","description":"Indicates the availability of internet on the property.","example":"YES","enum":["YES","NO","YES_PAID"]},"internetConnectionType":{"type":"string","description":"Indicates how guests can access the Internet on the property.","example":"WIFI","enum":["WIFI","CABLE"]},"internetConnectionLocation":{"type":"string","description":"Indicates where internet is available in and around the property.","example":"ENTIRE_PROPERTY","enum":["ENTIRE_PROPERTY","PUBLIC_AREAS","ALL_ROOMS","SOME_ROOMS","BUSINESS_CENTER"]},"parkingAvailability":{"type":"string","description":"Indicates whether parking is available at the property.","example":"YES","enum":["YES","NO","YES_PAID"]},"parkingAccess":{"type":"string","description":"Indicates what type of parking is available at the property.","example":"PRIVATE","enum":["PRIVATE","PUBLIC"]},"petsAllowed":{"type":"boolean","description":"Indicates whether pets are allowed on the property. Note: There are thousand different kinds of pets. Just because the property allows small dogs does not mean the guest can bring a python. Always best to check with property.","example":true,"default":false},"checkOutTime":{"type":"string","description":"When the guest has to check out.","example":"10:00"},"checkInTime":{"type":"string","description":"When the guest can check in.","example":"14:00"}},"description":"Outlines basic policies for the property."},"RateModifierBundle_Affiliate":{"required":["enabled","hotelIdentifier","identifier","items","name"],"type":"object","properties":{"identifier":{"type":"string","description":"Unique record identifier","format":"uuid"},"hotelIdentifier":{"type":"string","description":"Hotel identifier.","format":"uuid"},"name":{"type":"string","description":"Internal name of promotion ancillary.","example":"Early bird - Long Term"},"enabled":{"type":"boolean","description":"Whether this promotion ancillary is enabled or not.","example":true,"default":true},"items":{"type":"array","items":{"$ref":"#/components/schemas/RateModifier_Affiliate"}},"modifierOverride":{"$ref":"#/components/schemas/VariableCharge_Affiliate"},"type":{"type":"string","description":"Required if manual override modifier is not null","example":"DISCOUNT","enum":["PREMIUM","DISCOUNT"]},"pricingType":{"type":"string","description":"Determines whether this discount should be applied per night, per stay or per person - per night; Required if amount override is not null","enum":["PER_STAY","PER_DAY","PER_NIGHT","PER_USE","PER_HOUR","PER_PERSON","PER_PERSON_PER_NIGHT","PER_PERSON_PER_HOUR","PER_ADULT","PER_ADULT_PER_NIGHT","PER_ADULT_PER_HOUR","PER_CHILD","PER_CHILD_PER_NIGHT","PER_CHILD_PER_HOUR"]},"hasPercentDiscountModifier":{"type":"boolean"},"hasFixedDiscountModifier":{"type":"boolean"},"isValid":{"type":"boolean","writeOnly":true},"description":{"type":"array","items":{"$ref":"#/components/schemas/LocalizedDescription_Affiliate"}}},"description":"Promotion bundles for this channel"},"RateModifier_Affiliate":{"required":["descriptions","enabled","hotelIdentifier","identifier","modifier","name","pricingType","type"],"type":"object","properties":{"identifier":{"type":"string","description":"Unique record identifier","format":"uuid"},"hotelIdentifier":{"type":"string","description":"Hotel identifier.","format":"uuid"},"name":{"type":"string","description":"Internal name of promotion.","example":"Early bird"},"type":{"type":"string","description":"Set whether you want the price to go up or down when the rules of this promotion have been satisfied.","example":"DISCOUNT","enum":["PREMIUM","DISCOUNT"]},"modifier":{"$ref":"#/components/schemas/VariableCharge_Affiliate"},"enabled":{"type":"boolean","description":"Whether this promotion is enabled or not.","example":true,"default":true},"pricingType":{"type":"string","description":"This determines whether this discount should be applied per night, per stay or per person - per night","example":"PER_PERSON_PER_NIGHT","enum":["PER_STAY","PER_DAY","PER_NIGHT","PER_USE","PER_HOUR","PER_PERSON","PER_PERSON_PER_NIGHT","PER_PERSON_PER_HOUR","PER_ADULT","PER_ADULT_PER_NIGHT","PER_ADULT_PER_HOUR","PER_CHILD","PER_CHILD_PER_NIGHT","PER_CHILD_PER_HOUR"]},"descriptions":{"type":"array","description":"Localized descriptions describing promotion. At least one English entry is required.","items":{"$ref":"#/components/schemas/LocalizedDescription_Affiliate"}},"cityRateQualifiers":{"type":"array","description":"Restrict promotion to specific cities. See [Geo-IP city geoname data](#operation/searchForCity)","items":{"$ref":"#/components/schemas/CityRateQualifier_Affiliate"}},"continentRateQualifiers":{"type":"array","description":"Restrict promotion to specific continents. See [Geo-IP continent geoname data](#operation/showContinents)","items":{"$ref":"#/components/schemas/ContinentRateQualifier_Affiliate"}},"countryRateQualifiers":{"type":"array","description":"Restrict promotion to specific countries. See [Geo-IP country geoname data](#operation/showCountries)","items":{"$ref":"#/components/schemas/CountryRateQualifier_Affiliate"}},"promotionRateQualifiers":{"type":"array","description":"Restrict promotion by requiring users to enter a promo code.","items":{"$ref":"#/components/schemas/PromotionRateQualifier_Affiliate"}},"ipRangeRateQualifiers":{"type":"array","description":"Restrict promotion to specific IP ranges.","items":{"$ref":"#/components/schemas/IPRangeRateQualifier_Affiliate"}},"roomRangeRateQualifier":{"$ref":"#/components/schemas/RoomRangeRateQualifier_Affiliate"},"prepayRateQualifier":{"$ref":"#/components/schemas/PrepayRateQualifier_Affiliate"},"refundableRateQualifier":{"$ref":"#/components/schemas/RefundableRateQualifier_Affiliate"},"timezoneRateQualifiers":{"type":"array","description":"Restrict promotion to specific time zones. See [Geo-IP timezone geoname data](#operation/showTimezones)","items":{"$ref":"#/components/schemas/TimezoneRateQualifier_Affiliate"}},"lastMinuteRateQualifier":{"$ref":"#/components/schemas/MinutesBeforeBookingStartDateRateQualifier_Affiliate"},"lengthOfStayRateQualifier":{"$ref":"#/components/schemas/LengthOfStayRateQualifier_Affiliate"},"advanceBookingRateQualifier":{"$ref":"#/components/schemas/AdvanceBookingRateQualifier_Affiliate"},"stayDateRateQualifiers":{"type":"array","description":"Restrict promotion to specific stay dates the user wants to arrive.","items":{"$ref":"#/components/schemas/StayDateRateQualifier_Affiliate"}},"sellDateRateQualifiers":{"type":"array","description":"Restrict promotion to specific dates the booking is made.","items":{"$ref":"#/components/schemas/SellDateRateQualifier_Affiliate"}},"availableDaysOfWeekRateQualifier":{"$ref":"#/components/schemas/AvailableDaysOfWeekRateQualifier_Affiliate"},"arrivalDaysOfWeekRateQualifier":{"$ref":"#/components/schemas/ArrivalDaysOfWeekRateQualifier_Affiliate"},"departureDaysOfWeekRateQualifier":{"$ref":"#/components/schemas/DepartureDaysOfWeekRateQualifier_Affiliate"},"requiredDaysOfWeekRateQualifier":{"$ref":"#/components/schemas/RequiredDaysOfWeekRateQualifier_Affiliate"},"masterRateIdentifiers":{"type":"array","description":"Restrict on specific master rates.","example":["master-rate-1","master-rate-2"],"items":{"type":"string","description":"Restrict on specific master rates.","example":"[\"master-rate-1\",\"master-rate-2\"]"}},"addOnIdentifiers":{"type":"array","description":"Restrict on specific add-ons.","example":["add-on-1","add-on-2"],"items":{"type":"string","description":"Restrict on specific add-ons.","example":"[\"add-on-1\",\"add-on-2\"]"}},"ratePlanIdentifiers":{"type":"array","description":"Restrict on specific rate plans.","example":["rate-plan-1","rate-plan-2"],"items":{"type":"string","description":"Restrict on specific rate plans.","example":"[\"rate-plan-1\",\"rate-plan-2\"]"}},"blackoutDates":{"type":"array","description":"Exclude this promotion from specific date ranges.","items":{"$ref":"#/components/schemas/BlackoutDate_Affiliate"}}},"description":"Promotions that go together to make up this ancillary."},"RefundableRateQualifier_Affiliate":{"type":"object","description":"Restrict promotion to either refundable / non-refundable rates."},"RequiredDaysOfWeekRateQualifier_Affiliate":{"type":"object","description":"Restrict promotion to specific days of the week the guest has to stay."},"RoomRangeRateQualifier_Affiliate":{"type":"object","description":"Restrict promotion by restricting to how many rooms the user wants."},"SalesChannel_Affiliate":{"required":["blacklisted","identifier","ownerIdentifier","ownerName","subType","supplierIdentifier","supplierName"],"type":"object","properties":{"identifier":{"type":"string","description":"Unique record identifier of this segment / account","format":"uuid"},"supplierIdentifier":{"type":"string","description":"Channel is owned by this supplier identifier.","format":"uuid"},"supplierName":{"type":"string","description":"Name of property / supplier that owns this channel","example":"Hotel 1"},"supplierAvailable":{"type":"boolean","description":"Flag when supplier not available. E.g. Hotel disables property","example":true,"default":true},"subType":{"type":"string","description":"What type of segment of channel is this.","example":"DIRECT","enum":["DIRECT","APPLICATION","HOTEL","TRAVELIKO","CORPORATE","TRAVEL_AGENT","INFLUENCER","BLOGGER","DESTINATION","CHANNEL_MANAGER","PROPERTY_MANAGEMENT_SYSTEM","CENTRAL_RESERVATION_SYSTEM","GOOGLE_HOTEL_API","MANAGEMENT_COMPANY","CHAIN","BRAND","EVENT_ORGANIZER"]},"ownerIdentifier":{"type":"string","description":"A specific identifier for the company / corporation / travel agency that is retrieving the rates","format":"uuid"},"ownerName":{"type":"string","description":"Name of the owner / affiliate. `Hotel booking engine` when it's the booking engine.","example":"Owner 1"},"enabled":{"type":"boolean","description":"Flag the supplier can use to enable / disable this channel","example":true,"default":true},"channelDisabled":{"type":"boolean","description":"System override by payment to disable. E.g. Platform disables supplier."},"blacklisted":{"type":"boolean","description":"A way to blacklist a specific channel a property doesn't want to send inventory to."},"percentDiscount":{"maximum":1.0,"exclusiveMaximum":false,"minimum":0.0,"exclusiveMinimum":false,"type":"number","description":"Percent discount on this channel and all its children [unless configured at the child level].","format":"float","example":0.15},"commission":{"maximum":1.0,"exclusiveMaximum":false,"minimum":0.0,"exclusiveMinimum":false,"type":"number","description":"Amount of sales commission earned through this channel and all its children [unless configured at the child level].","format":"float","example":0.2},"rateModifiers":{"type":"array","description":"Promotions for this channel","items":{"$ref":"#/components/schemas/RateModifier_Affiliate"}},"rateModifierBundles":{"type":"array","description":"Promotion bundles for this channel","items":{"$ref":"#/components/schemas/RateModifierBundle_Affiliate"}}},"description":"Parent sales channel"},"SellDateRateQualifier_Affiliate":{"type":"object","description":"Restrict promotion to specific dates the booking is made."},"SimpleDescription_Affiliate":{"required":["description","language"],"type":"object","properties":{"name":{"type":"string","description":"Use as title or short text description","example":"An example title"},"description":{"maxLength":2147483647,"minLength":1,"type":"string","description":"Longer text description","example":"This is a longer description in the specified language."},"language":{"maxLength":2,"minLength":2,"type":"string","description":"Indicate which language this description is written in.","example":"en","default":"en"}},"description":"Localized media captions to give user some context about where this media was taken."},"SimpleMultimedia_Affiliate":{"required":["height","identifier","multimediaIdentifier","source","type","width"],"type":"object","properties":{"multimediaIdentifier":{"type":"string","description":"Document identifier","format":"uuid"},"identifier":{"type":"string","description":"Use this identifier to communicate with Cloudinary.","example":"cloudinary-image-1"},"type":{"type":"string","description":"Whether Cloudinary media is a VIDEO or IMAGE.","example":"IMAGE","enum":["IMAGE","VIDEO","AUDIO","RAW"]},"source":{"type":"string","description":"Currently ONLY using Cloudinary to store all image / video assets.","example":"CLOUDINARY","default":"CLOUDINARY","enum":["YOUTUBE","CLOUDINARY"]},"sort":{"type":"integer","description":"Sort allows you to control how you want to sort this record in a list of media records.","format":"int32","example":10,"default":999},"angle":{"type":"string","description":"Media angle","example":"-90"},"width":{"type":"integer","description":"Media width in pixels.","format":"int32","example":2560},"height":{"type":"integer","description":"Media height in pixels.","format":"int32","example":1600},"published":{"type":"boolean","description":"Instead of deleting the media, choose to un-publish it instead for later re-use. Could be you keep seasonal images of the property.","example":true,"default":false},"category":{"type":"string","description":"Supported OTA specification `PIC` code. See [OTA geoname data](#operation/showAvailableCodesForCategory)","example":"1"},"descriptions":{"type":"array","description":"Localized media captions to give user some context about where this media was taken.","items":{"$ref":"#/components/schemas/SimpleDescription_Affiliate"}},"lifestyleType":{"type":"string","description":"Associate this media with a specific lifestyle type. A user searching and filtering inventory based on lifestyles can be shown relevant media first.","example":"LIFESTYLE_HEALTH_FITNESS","enum":["LIFESTYLE_HEALTH_FITNESS","LIFESTYLE_RELAX","LIFESTYLE_ADULT_ONLY","LIFESTYLE_ADVENTURE","LIFESTYLE_BUSINESS","LIFESTYLE_LGBT","LIFESTYLE_SINGLE_PARENT","LIFESTYLE_SOLO_FEMALE","LIFESTYLE_BEAUTY","LIFESTYLE_FOODIE","LIFESTYLE_FAMILY","LIFESTYLE_ROMANCE","LIFESTYLE_COUPLE","LIFESTYLE_SOLO","LIFESTYLE_BACKPACKER","LIFESTYLE_SHOPPING","LIFESTYLE_SPORTS","LIFESTYLE_MOUNTAIN","LIFESTYLE_BEACH","LIFESTYLE_CITY","LIFESTYLE_COUNTRY","LIFESTYLE_CULTURE","LIFESTYLE_ECO"]},"attribution":{"type":"array","description":"Whether image has attribution properties","items":{"$ref":"#/components/schemas/ImageAttribution
[...]
