{"openapi":"3.0.1","info":{"title":"Wink API","description":"## APIs\nNot every integrator needs every APIs. For that reason, we have separated APIs into context.\n\n- [Affiliate](/affiliate): All APIs related to selling travel inventory as an affiliate.\n- [Analytics](/analytics): All APIs related to tracking metrics across a wide variety of data source segments including, more entertaining, leaderboard metrics.\n- [Booking](/booking): All APIs related to creating platform bookings.\n- [Channel Manager](/channel-manager): All APIs related to channel managers who want to integrate with our platform.\n- [Extranet](/extranet): All APIs related to managing travel inventory and suppliers.\n- [Inventory](/inventory): All APIs related to retrieve known travel inventory as it was found using the Lookup API..\n- [Lookup](/lookup): All APIs related to locating inventory by region, locale and property flags.\n- [Reference](/reference): All APIs related to retrieving platform-supported taxonomies.\n- [TripPay Acquiring](/payment-acquiring): All APIs related to capture payment details such as a Stripe payment intent.\n- [TripPay](/payment): All APIs related to TripPay account management, booking, mapping and integration features.\n\n## SDKs\nWe are actively working on supporting the most used languages out there. If you don't see your language here, reach out to us with a request to officially add your language. In the meantime, if you want to roll your own SDK, you can do so by downloading the OpenAPI spec and using one of the many available OpenAPI generators available: [https://openapi-generator.tech/docs/generators](https://openapi-generator.tech/docs/generators).\n\n- Java SDK [https://github.com/wink-travel/wink-sdk-java](https://github.com/wink-travel/wink-sdk-java)\n\n## Usage\nThese features are made available to you via a [REST API](https://en.wikipedia.org/wiki/Representational_state_transfer). This API is language agnostic.\n\n## Versioning\nWe chose to version our endpoints in a way that we hope affects your integration with us the least. You request the version of our API you wish to work with via the `Wink-Version` header. When it's time for you to upgrade, you only have to change the version number to get access to our updated endpoints.\n\n## Release history\n- 2022-10-15: v2.0 - Removed HATEOAS and added Wink-Version header\n- 2022-06-28: v1 - Externalized channel manager API into its own API\n- 2022-05-08: v1 - Exposed channel manager API\n- 2021-07-01: v1 - Initial release\n\n\n# Channel Manager API\nWink exposes a secured REST-based, JSON API to its channel manager partners. The connection is \"channel-wide\". Partners are free to integrate with the REST-based API using any programming language.\n\n# Intended Audience\nThis document is intended for external channel partners who wish to integrate with Wink.\n\n# Requirements\n- Active account with Wink. Sign up for your Channel Manager account:\n   - Staging: [https://staging-sell.wink.travel](https://staging-sell.wink.travel).\n   - Production: [https://sell.wink.travel](https://sell.wink.travel).\n- Active application. An application provides you with Oauth2 credentials you can pass to our endpoints. One is already created for you upon account creation.\n- Your production IP numbers. They need to be whitelisted before you can talk to our production environment.\n\n# Performance\nA particular attention to performance should be given when integrating with this API. A few things to be aware of:\n- Enable gzip compression to make payloads smaller.\n- Fewer large REST calls are preferred to many small ones. E.g. It is better to update many dates instead of individual dates.\n- It is possible to update both rate and availability with a single request.\n- Request only date ranges that you will use. There is no need to request an entire year if you will only be working with the first seven days.\n\n## Reservation notification (PUSH)\nWink supports PUSH notifications to communicate reservations. We also support BASIC AUTH to your endpoint. If you want to enable PUSH, add your PUSH endpoint and credentials (optional) to your account.","contact":{"name":"Bjorn Harvold","email":"bjorn@wink.travel"},"version":"24.3.2","x-logo":{"backgroundColor":"#FFFFFF","altText":"wink","url":"https://res.cloudinary.com/traveliko/image/upload/c_scale,h_129/v1653285543/wink/logo_text_white.svg"}},"servers":[{"url":"https://integrations.wink.travel","description":"Production endpoint"},{"url":"https://staging-integrations.wink.travel","description":"Sandbox endpoint"},{"url":"https://dev-integrations.wink.travel:8445","description":"Developer endpoint"}],"tags":[{"name":"Channel Manager","description":"Channel managers can use this endpoint to integrate with the payment. It contains all the features a channel manager would need to query properties, update rate and availability and retrieve bookings."}],"paths":{"/api/channel-manager/property/{propertyIdentifier}/master-rate/{masterRateIdentifier}":{"get":{"tags":["Channel Manager"],"summary":"Show Daily Rates","description":"Retrieves all daily rates for for property / master rate combo and a date range.","operationId":"showPropertyRoomRates","parameters":[{"name":"propertyIdentifier","in":"path","description":"Retrieve record owned by this propertyIdentifier","required":true,"schema":{"type":"string"},"example":"property-1"},{"name":"masterRateIdentifier","in":"path","description":"Retrieve record owned by this masterRateIdentifier","required":true,"schema":{"type":"string"},"example":"master-rate-1"},{"name":"startDate","in":"query","description":"Limit results on date range starting with","required":true,"schema":{"type":"string","format":"date"},"example":"2018-01-01"},{"name":"endDate","in":"query","description":"Limit results on date range ending with","required":true,"schema":{"type":"string","format":"date"},"example":"2018-01-02"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PropertyRoomRateWithRateList"}}}}},"security":[{"oAuth2ClientCredentials":[]}]},"put":{"tags":["Channel Manager"],"summary":"Update Daily Rates","description":"Update daily rate / availability for a property / master rate combo.","operationId":"updateRates","parameters":[{"name":"propertyIdentifier","in":"path","description":"Update rates owned by this propertyIdentifier","required":true,"schema":{"type":"string"},"example":"property-1"},{"name":"masterRateIdentifier","in":"path","description":"Update rates owned by this masterRateIdentifier","required":true,"schema":{"type":"string"},"example":"master-rate-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PropertyRateUpdateDto"}}},"required":true},"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PropertyRate"}}}}}},"security":[{"oAuth2ClientCredentials":[]}]}},"/api/channel-manager/property/{propertyIdentifier}":{"get":{"tags":["Channel Manager"],"summary":"Show Property","description":"Retrieves property record for identifier.","operationId":"showProperty","parameters":[{"name":"propertyIdentifier","in":"path","description":"Retrieve record for this propertyIdentifier","required":true,"schema":{"type":"string"},"example":"property-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PropertyWithRoomRateList"}}}}},"security":[{"oAuth2ClientCredentials":[]}]}},"/api/channel-manager/property/{propertyIdentifier}/master-rate/{masterRateIdentifier}/rate/{rateIdentifier}":{"get":{"tags":["Channel Manager"],"summary":"Show Daily Rate","description":"Retrieves a single daily rate for property / master rate / daily rate identifier combo.","operationId":"showPropertyRoomRate","parameters":[{"name":"propertyIdentifier","in":"path","description":"Retrieve record owned by this propertyIdentifier","required":true,"schema":{"type":"string"},"example":"property-1"},{"name":"masterRateIdentifier","in":"path","description":"Retrieve record owned by this masterRateIdentifier","required":true,"schema":{"type":"string"},"example":"master-rate-1"},{"name":"rateIdentifier","in":"path","description":"Retrieve rate for this rateIdentifier","required":true,"schema":{"type":"string"},"example":"rate-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PropertyRate"}}}}},"security":[{"oAuth2ClientCredentials":[]}]}},"/api/channel-manager/property/{propertyIdentifier}/booking/{bookingIdentifier}":{"get":{"tags":["Channel Manager"],"summary":"Show Booking","description":"Retrieves a specific booking by property / booking combo.","operationId":"showPropertyBooking","parameters":[{"name":"propertyIdentifier","in":"path","description":"Retrieve record owned by propertyIdentifier","required":true,"schema":{"type":"string"},"example":"property-1"},{"name":"bookingIdentifier","in":"path","description":"Retrieve record for this bookingIdentifier","required":true,"schema":{"type":"string"},"example":"booking-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PropertyBooking"}}}}},"security":[{"oAuth2ClientCredentials":[]}]}},"/api/channel-manager/property/{propertyIdentifier}/booking/list":{"get":{"tags":["Channel Manager"],"summary":"Show Bookings","description":"Retrieves a list of all bookings created for the specified property within the specified date range.","operationId":"showPropertyBookings","parameters":[{"name":"propertyIdentifier","in":"path","description":"Retrieve record owned by this propertyIdentifier","required":true,"schema":{"type":"string"},"example":"property-1"},{"name":"startDate","in":"query","description":"Limit results on date range starting with","required":true,"schema":{"type":"string","format":"date-time"},"example":"2018-01-01T03:07:58.742+0000"},{"name":"endDate","in":"query","description":"Limit results on date range ending with","required":false,"schema":{"type":"string","format":"date-time"},"example":"2018-01-02T03:07:58.742+0000"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PropertyBooking"}}}}}},"security":[{"oAuth2ClientCredentials":[]}]}},"/api/channel-manager/property/list":{"get":{"tags":["Channel Manager"],"summary":"Show Properties","description":"The properties endpoint provides the entry point into the listener and is used to list properties you have access to.","operationId":"showProperties","parameters":[{"name":"page","in":"query","description":"Page through all properties owned by your account","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"size","in":"query","description":"Limit results of records per page","required":false,"schema":{"type":"integer","format":"int32","default":25},"example":25},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageProperty"}}}}},"security":[{"oAuth2ClientCredentials":[]}]}},"/api/channel-manager/ping":{"get":{"tags":["Channel Manager"],"summary":"Say Hello","description":"Test endpoint to validate your credentials.","operationId":"ping","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/xml":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}},"text/plain":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/xml":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"text/plain":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PingResponse"}}}}},"security":[{"oAuth2ClientCredentials":[]}]}}},"components":{"schemas":{"GenericErrorMessage":{"type":"object","properties":{"timestamp":{"type":"string","xml":{"attribute":true}},"status":{"type":"integer","format":"int32","xml":{"attribute":true}},"error":{"type":"string"},"message":{"type":"string"},"path":{"type":"string"}},"description":"Generic error message","xml":{"name":"ErrorMessage"}},"PropertyRateUpdateDto":{"required":["endDate","startDate"],"type":"object","properties":{"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"},"amount":{"type":"number","format":"double"},"currencyCode":{"type":"string"},"master":{"type":"boolean"},"closedOnArrival":{"type":"boolean"},"closedOnDeparture":{"type":"boolean"},"quantity":{"type":"integer","format":"int32"},"minLengthOfStay":{"type":"integer","format":"int32"},"maxLengthOfStay":{"type":"integer","format":"int32"}}},"PropertyRate":{"required":["amount","closedOnArrival","closedOnDeparture","currencyCode","date","master","propertyIdentifier","roomRateIdentifier"],"type":"object","properties":{"identifier":{"type":"string"},"propertyIdentifier":{"type":"string"},"roomRateIdentifier":{"type":"string"},"amount":{"type":"number","format":"double"},"currencyCode":{"type":"string"},"master":{"type":"boolean"},"closedOnArrival":{"type":"boolean"},"closedOnDeparture":{"type":"boolean"},"date":{"type":"string","format":"date"},"quantity":{"type":"integer","format":"int32"},"minLengthOfStay":{"type":"integer","format":"int32"},"maxLengthOfStay":{"type":"integer","format":"int32"}}},"Moneys":{"required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","description":"Amount in currency","format":"double"},"currency":{"type":"string","description":"Specified currency"}},"description":"Localized amount for displaying amount / currency pairs"},"Property":{"required":["city","countryCode","currencyCode","identifier","name"],"type":"object","properties":{"identifier":{"type":"string"},"name":{"type":"string"},"city":{"type":"string"},"countryCode":{"type":"string"},"currencyCode":{"type":"string"},"timeZone":{"type":"string"}}},"PropertyRoomRate":{"required":["baseRate","extraChildRateModifier","extraPaxRateModifier","guestRoomIdentifier","guestRoomName","identifier","includedAdultOccupancy","includedChildOccupancy","maxAdultOccupancy","maxChildOccupancy","maxOccupancy","minOccupancy","name","propertyIdentifier","ratePlanIdentifier","ratePlanName","singleOccupancyRateModifier"],"type":"object","properties":{"identifier":{"type":"string"},"propertyIdentifier":{"type":"string"},"name":{"type":"string"},"guestRoomIdentifier":{"type":"string"},"ratePlanIdentifier":{"type":"string"},"guestRoomName":{"type":"string"},"ratePlanName":{"type":"string"},"minOccupancy":{"type":"integer","format":"int32"},"maxOccupancy":{"type":"integer","format":"int32"},"maxAdultOccupancy":{"type":"integer","format":"int32"},"maxChildOccupancy":{"type":"integer","format":"int32"},"includedAdultOccupancy":{"type":"integer","format":"int32"},"includedChildOccupancy":{"type":"integer","format":"int32"},"baseRate":{"$ref":"#/components/schemas/Moneys"},"singleOccupancyRateModifier":{"$ref":"#/components/schemas/VariableCharge"},"extraPaxRateModifier":{"$ref":"#/components/schemas/VariableCharge"},"extraChildRateModifier":{"$ref":"#/components/schemas/VariableCharge"}}},"PropertyWithRoomRateList":{"required":["property"],"type":"object","properties":{"property":{"$ref":"#/components/schemas/Property"},"list":{"type":"array","items":{"$ref":"#/components/schemas/PropertyRoomRate"}}}},"VariableCharge":{"required":["type"],"type":"object","properties":{"percent":{"type":"number","description":"A percentage of the total stay amount for an early check-in or late check-out","format":"float","example":0.25},"fixedAmount":{"$ref":"#/components/schemas/Moneys"},"type":{"type":"string","description":"When the type is FIXED, fixedAmount is required. When the type is PERCENTAGE, percent is required.","enum":["FIXED","PERCENTAGE"]}}},"PropertyRoomRateWithRateList":{"required":["room"],"type":"object","properties":{"room":{"$ref":"#/components/schemas/PropertyRoomRate"},"rates":{"type":"array","items":{"$ref":"#/components/schemas/PropertyRate"}},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"}}},"PropertyBooking":{"required":["adults","amount","bookingCode","bookingIdentifier","cancelled","children","createdDate","currencyCode","email","endDate","firstName","guestRoomName","guests","lastName","name","propertyIdentifier","ratePlanName","roomRateIdentifier","rooms","startDate"],"type":"object","properties":{"bookingIdentifier":{"type":"string"},"propertyIdentifier":{"type":"string"},"roomRateIdentifier":{"type":"string"},"name":{"type":"string"},"guestRoomName":{"type":"string"},"ratePlanName":{"type":"string"},"rooms":{"type":"integer","format":"int32"},"guests":{"type":"integer","format":"int32"},"adults":{"type":"integer","format":"int32"},"children":{"type":"integer","format":"int32"},"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"},"amount":{"type":"number","format":"double"},"currencyCode":{"type":"string"},"bookingCode":{"type":"string"},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"},"createdDate":{"type":"string","format":"date-time"},"cancelled":{"type":"boolean"},"cancelDate":{"type":"string","format":"date-time"},"paymentMethodType":{"type":"string","enum":["CREDIT_CARD","BANK_TRANSFER","PAY_PAL","CRYPTO","AGENT","CASH"]},"paymentMethodStatus":{"type":"string","enum":["PENDING","COMPLETE","PAY_ON_ARRIVAL","PROPERTY_MERCHANT_OF_RECORD","FAILED","UNKNOWN"]},"salesChannelName":{"type":"string"},"salesChannelIdentifier":{"type":"string"}}},"PageProperty":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/Property"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/Sort"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"PageableObject":{"type":"object","properties":{"offset":{"type":"integer","format":"int64"},"sort":{"$ref":"#/components/schemas/Sort"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"paged":{"type":"boolean"},"unpaged":{"type":"boolean"}}},"Sort":{"type":"object","properties":{"empty":{"type":"boolean"},"sorted":{"type":"boolean"},"unsorted":{"type":"boolean"}}},"PingResponse":{"type":"object","properties":{"apiVersion":{"type":"string"},"name":{"type":"string"},"creator":{"type":"string"},"enabled":{"type":"boolean"},"approved":{"type":"boolean"}}}},"securitySchemes":{"oAuth2ClientCredentials":{"type":"oauth2","description":"## Retrieve access token\nMake a POST (`Content-Type: application/x-www-form-urlencoded`) request to the Token URL below. Include one POST key/value entry: `grant_type=client_credentials` and include your clientID / secretKey credentials in a Basic Auth header. E.g. `Authorization: Basic base64_encode($clientId + ':' + $secretKey)`.\n## Add Bearer access token to all API requests\nOnce you have the access token, you can pass that along on all API requests in the authentication header: `'Authorization: Bearer $accessToken`.\nNote: Tokens expire after 3 hours. Please make sure you refresh your token before that time.","name":"Client Credentials","flows":{"clientCredentials":{"authorizationUrl":"https://iam.wink.travel/oauth2/authorize","tokenUrl":"https://iam.wink.travel/oauth2/token","refreshUrl":"https://iam.wink.travel/oauth2/refresh","scopes":{"integrations.read":"Read Wink data","integrations.write":"Create Wink data","integrations.remove":"Remove Wink data"}}}}}}}