{"openapi":"3.1.0","info":{"title":"Wink API","description":"## APIs\nNot every integrator needs every APIs. For that reason, we have separated APIs into context.\n\n- [Affiliate](/affiliate): All APIs related to selling travel inventory as an affiliate.\n- [Analytics](/analytics): All APIs related to tracking metrics across a wide variety of data source segments including, more entertaining, leaderboard metrics.\n- [Booking](/booking): All APIs related to creating platform bookings.\n- [Channel Manager](/channel-manager): All APIs related to channel managers who want to integrate with our platform.\n- [Extranet](/extranet): All APIs related to managing travel inventory and suppliers.\n- [Inventory](/inventory): All APIs related to retrieve known travel inventory as it was found using the Lookup API..\n- [Lookup](/lookup): All APIs related to locating inventory by region, locale and property flags.\n- [Reference](/reference): All APIs related to retrieving platform-supported taxonomies.\n- [TripPay](/payment): All APIs related to TripPay account management, booking, mapping and integration features.\n\n## SDKs\nWe are actively working on supporting the most used languages out there. If you don't see your language here, reach out to us with a request to officially add your language. In the meantime, if you want to roll your own SDK, you can do so by downloading the OpenAPI spec and using one of the many available OpenAPI generators available: [https://openapi-generator.tech/docs/generators](https://openapi-generator.tech/docs/generators).\n\n- Java SDK [https://github.com/wink-travel/wink-sdk-java](https://github.com/wink-travel/wink-sdk-java)\n\n## Usage\nThese features are made available to you via a [REST API](https://en.wikipedia.org/wiki/Representational_state_transfer). This API is language agnostic.\n\n## Versioning\nWe chose to version our endpoints in a way that we hope affects your integration with us the least. You request the version of our API you wish to work with via the `Wink-Version` header. When it's time for you to upgrade, you only have to change the version number to get access to our updated endpoints.\n\n## Release history\n- Follow updates on Github: https://github.com/wink-travel/wink-sdk-java/blob/master/CHANGELOG.md\n\n\n# Channel Manager API\nWink exposes a secured REST-based, JSON API to its channel manager partners. The connection is \"channel-wide\". Partners are free to integrate with the REST-based API using any programming language.\n\n# Intended Audience\nThis document is intended for external channel partners who wish to integrate with Wink.\n\n# Requirements\n- Active account with Wink. Sign up for your Channel Manager account:\n   - Staging: [https://staging-studio.wink.travel](https://staging-studio.wink.travel).\n   - Production: [https://studio.wink.travel](https://studio.wink.travel).\n- Active application. An application provides you with Oauth2 credentials you can pass to our endpoints. One is already created for you upon account creation.\n- Your production IP numbers. They need to be whitelisted before you can talk to our production environment.\n\n# Performance\nA particular attention to performance should be given when integrating with this API. A few things to be aware of:\n- Enable gzip compression to make payloads smaller.\n- Fewer large REST calls are preferred to many small ones. E.g. It is better to update many dates instead of individual dates.\n- It is possible to update both rate and availability with a single request.\n- Request only date ranges that you will use. There is no need to request an entire year if you will only be working with the first seven days.\n\n## Reservation notification (PUSH)\nWink supports PUSH notifications to communicate reservations. We also support BASIC AUTH to your endpoint. If you want to enable PUSH, add your PUSH endpoint and credentials (optional) to your account.","contact":{"name":"Bjorn Harvold","email":"bjorn@wink.travel"},"version":"30.19.2","x-logo":{"backgroundColor":"#FFFFFF","altText":"wink","url":"https://res.cloudinary.com/traveliko/image/upload/c_scale,h_129/v1653285543/wink/logo_text_white.svg"}},"servers":[{"url":"https://integrations.wink.travel","description":"Endpoint"}],"tags":[{"name":"Channel Manager","description":"Channel managers can use this endpoint to integrate. It contains all the features a channel manager would need to query properties, update rate and availability and retrieve bookings."}],"paths":{"/api/channel-manager/property/{propertyIdentifier}/master-rate/{masterRateIdentifier}":{"get":{"tags":["Channel Manager"],"summary":"Show Daily Rates","description":"Retrieves all daily rates for for property / master rate combo and a date range.","operationId":"showPropertyRoomRates","parameters":[{"name":"propertyIdentifier","in":"path","description":"Retrieve record owned by this propertyIdentifier","required":true,"schema":{"type":"string"},"example":"property-1"},{"name":"masterRateIdentifier","in":"path","description":"Retrieve record owned by this masterRateIdentifier","required":true,"schema":{"type":"string"},"example":"master-rate-1"},{"name":"startDate","in":"query","description":"Limit results on date range starting with","required":true,"schema":{"type":"string","format":"date"},"example":"2018-01-01"},{"name":"endDate","in":"query","description":"Limit results on date range ending with","required":true,"schema":{"type":"string","format":"date"},"example":"2018-01-02"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PropertyRoomRateWithRateList"}}}}},"security":[{"oAuth2ClientCredentials":[]}]},"put":{"tags":["Channel Manager"],"summary":"Update Daily Rates","description":"Update daily rate / availability for a property / master rate combo.","operationId":"updateRates","parameters":[{"name":"propertyIdentifier","in":"path","description":"Update rates owned by this propertyIdentifier","required":true,"schema":{"type":"string"},"example":"property-1"},{"name":"masterRateIdentifier","in":"path","description":"Update rates owned by this masterRateIdentifier","required":true,"schema":{"type":"string"},"example":"master-rate-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PropertyRateUpdateRequest"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PropertyRate"}}}}}},"security":[{"oAuth2ClientCredentials":[]}]}},"/api/channel-manager/property/{propertyIdentifier}":{"get":{"tags":["Channel Manager"],"summary":"Show Property","description":"Retrieves property record with master rates included.","operationId":"showProperty","parameters":[{"name":"propertyIdentifier","in":"path","description":"Retrieve record for this propertyIdentifier","required":true,"schema":{"type":"string"},"example":"property-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PropertyWithRoomRateList"}}}}},"security":[{"oAuth2ClientCredentials":[]}]}},"/api/channel-manager/property/{propertyIdentifier}/booking/{bookingIdentifier}":{"get":{"tags":["Channel Manager"],"summary":"Show Booking","description":"Retrieves a specific booking by property / booking combo.","operationId":"showPropertyBooking","parameters":[{"name":"propertyIdentifier","in":"path","description":"Retrieve record owned by propertyIdentifier","required":true,"schema":{"type":"string"},"example":"property-1"},{"name":"bookingIdentifier","in":"path","description":"Retrieve record for this bookingIdentifier","required":true,"schema":{"type":"string"},"example":"booking-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PropertyBooking"}}}}},"security":[{"oAuth2ClientCredentials":[]}]}},"/api/channel-manager/property/{propertyIdentifier}/booking/list":{"get":{"tags":["Channel Manager"],"summary":"Show Bookings","description":"Retrieves a list of all bookings created for the specified property within the specified date range.","operationId":"showPropertyBookings","parameters":[{"name":"propertyIdentifier","in":"path","description":"Retrieve record owned by this propertyIdentifier","required":true,"schema":{"type":"string"},"example":"property-1"},{"name":"startDate","in":"query","description":"Limit results on date range starting with","required":true,"schema":{"type":"string","format":"date-time"},"example":"2018-01-01T03:07:58.742+0000"},{"name":"endDate","in":"query","description":"Limit results on date range ending with","required":false,"schema":{"type":"string","format":"date-time"},"example":"2018-01-02T03:07:58.742+0000"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PropertyBooking"}}}}}},"security":[{"oAuth2ClientCredentials":[]}]}},"/api/channel-manager/property/list":{"get":{"tags":["Channel Manager"],"summary":"Show Properties","description":"The properties endpoint provides the entry point into the listener and is used to list properties you have access to.","operationId":"showProperties","parameters":[{"name":"page","in":"query","description":"Page through all properties owned by your account","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"size","in":"query","description":"Limit results of records per page","required":false,"schema":{"type":"integer","format":"int32","default":25},"example":25},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageChannelManagerProperty"}}}}},"security":[{"oAuth2ClientCredentials":[]}]}},"/api/channel-manager/ping":{"get":{"tags":["Channel Manager"],"summary":"Say Hello","description":"Test endpoint to validate your credentials.","operationId":"ping","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/xml":{"schema":{"type":"object"}},"text/html":{"schema":{"type":"object"}},"text/plain":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericErrorMessage"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"application/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/xml":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"text/plain":{"schema":{"oneOf":[{"type":"object","additionalProperties":{}},{"$ref":"#/components/schemas/GenericErrorMessage"}]}},"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PingResponse"}}}}},"security":[{"oAuth2ClientCredentials":[]}]}}},"components":{"schemas":{"GenericErrorMessage":{"type":"object","description":"Generic error message","properties":{"timestamp":{"type":"string","xml":{"attribute":true}},"status":{"type":"integer","format":"int32","xml":{"attribute":true}},"error":{"type":"string"},"message":{"type":"string"},"path":{"type":"string"}},"xml":{"name":"ErrorMessage"}},"CustomMonetaryAmount":{"type":"object","properties":{"amount":{"type":"number"},"currency":{"type":"string","minLength":1}},"required":["amount","currency"]},"PropertyRateUpdateRequest":{"type":"object","properties":{"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"},"amount":{"type":"number"},"currencyCode":{"type":"string"},"master":{"type":"boolean"},"closedOnArrival":{"type":"boolean"},"closedOnDeparture":{"type":"boolean"},"quantity":{"type":"integer","format":"int32"},"minLengthOfStay":{"type":"integer","format":"int32"},"maxLengthOfStay":{"type":"integer","format":"int32"},"minOccupancy":{"type":"integer","format":"int32"},"maxOccupancy":{"type":"integer","format":"int32"},"singleOccupancyRateModifier":{"$ref":"#/components/schemas/VariableCharge"},"extraPaxRateModifier":{"$ref":"#/components/schemas/VariableCharge"},"extraChildRateModifier":{"$ref":"#/components/schemas/VariableCharge"}},"required":["endDate","startDate"]},"VariableCharge":{"type":"object","properties":{"type":{"type":"string","description":"When the type is FIXED, fixedAmount is required. When the type is PERCENTAGE, percent is required.","enum":["FIXED","PERCENTAGE"]},"percent":{"type":"number","format":"float","description":"A percentage of the total stay amount for an early check-in or late check-out","example":0.25},"fixedAmount":{"$ref":"#/components/schemas/CustomMonetaryAmount","description":"A localized amount"}},"required":["type"]},"PropertyRate":{"type":"object","properties":{"identifier":{"type":"string"},"propertyIdentifier":{"type":"string","minLength":1},"roomRateIdentifier":{"type":"string","minLength":1},"guestRoomIdentifier":{"type":"string","minLength":1},"ratePlanIdentifier":{"type":"string","minLength":1},"amount":{"type":"number"},"currencyCode":{"type":"string","minLength":1},"master":{"type":"boolean"},"closedOnArrival":{"type":"boolean"},"closedOnDeparture":{"type":"boolean"},"date":{"type":"string","format":"date"},"quantity":{"type":"integer","format":"int32"},"minOccupancy":{"type":"integer","format":"int32"},"maxOccupancy":{"type":"integer","format":"int32"},"minLengthOfStay":{"type":"integer","format":"int32"},"maxLengthOfStay":{"type":"integer","format":"int32"},"singleOccupancyRateModifier":{"$ref":"#/components/schemas/VariableCharge"},"extraPaxRateModifier":{"$ref":"#/components/schemas/VariableCharge"},"extraChildRateModifier":{"$ref":"#/components/schemas/VariableCharge"}},"required":["amount","closedOnArrival","closedOnDeparture","currencyCode","date","guestRoomIdentifier","master","propertyIdentifier","ratePlanIdentifier","roomRateIdentifier"]},"ChannelManagerProperty":{"type":"object","properties":{"identifier":{"type":"string","minLength":1},"name":{"type":"string","minLength":1},"city":{"type":"string","minLength":1},"countryCode":{"type":"string","minLength":1},"currencyCode":{"type":"string","minLength":1},"timeZone":{"type":"string"}},"required":["city","countryCode","currencyCode","identifier","name","timeZone"]},"PropertyRoomRate":{"type":"object","properties":{"identifier":{"type":"string","minLength":1},"propertyIdentifier":{"type":"string","minLength":1},"name":{"type":"string","minLength":1},"roomTypeIdentifier":{"type":"string","minLength":1},"ratePlanIdentifier":{"type":"string","minLength":1},"guestRoomName":{"type":"string","minLength":1},"ratePlanName":{"type":"string","minLength":1},"minOccupancy":{"type":"integer","format":"int32"},"maxOccupancy":{"type":"integer","format":"int32"},"maxAdultOccupancy":{"type":"integer","format":"int32"},"maxChildOccupancy":{"type":"integer","format":"int32"},"includedAdultOccupancy":{"type":"integer","format":"int32"},"includedChildOccupancy":{"type":"integer","format":"int32"},"baseRate":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"singleOccupancyRateModifier":{"$ref":"#/components/schemas/VariableCharge"},"extraPaxRateModifier":{"$ref":"#/components/schemas/VariableCharge"},"extraChildRateModifier":{"$ref":"#/components/schemas/VariableCharge"}},"required":["baseRate","extraChildRateModifier","extraPaxRateModifier","guestRoomName","identifier","includedAdultOccupancy","includedChildOccupancy","maxAdultOccupancy","maxChildOccupancy","maxOccupancy","minOccupancy","name","propertyIdentifier","ratePlanIdentifier","ratePlanName","roomTypeIdentifier","singleOccupancyRateModifier"]},"PropertyWithRoomRateList":{"type":"object","properties":{"property":{"$ref":"#/components/schemas/ChannelManagerProperty"},"list":{"type":"array","items":{"$ref":"#/components/schemas/PropertyRoomRate"}}},"required":["property"]},"PropertyRoomRateWithRateList":{"type":"object","properties":{"room":{"$ref":"#/components/schemas/PropertyRoomRate"},"rates":{"type":"array","items":{"$ref":"#/components/schemas/PropertyRate"}},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"}},"required":["room"]},"PropertyBooking":{"type":"object","properties":{"bookingIdentifier":{"type":"string","format":"uuid","description":"Booking ID","example":"booking-1","minLength":1},"propertyIdentifier":{"type":"string","format":"uuid","description":"ChannelManagerProperty ID","example":"property-1","minLength":1},"roomRateIdentifier":{"type":"string","format":"uuid","description":"Master Rate ID","example":"master-rate-1","minLength":1},"name":{"type":"string","description":"Master Rate name","example":"Superior Deluxe - BAR","minLength":1},"guestRoomName":{"type":"string","description":"Guest room name","example":"Superior Deluxe","minLength":1},"ratePlanName":{"type":"string","description":"Rate plan name","example":"BAR","minLength":1},"rooms":{"type":"integer","format":"int32","description":"Number of rooms","example":1},"guests":{"type":"integer","format":"int32","description":"Number of guests","example":3},"adults":{"type":"integer","format":"int32","description":"Number of adults","example":2},"children":{"type":"integer","format":"int32","description":"Number of children","example":1},"firstName":{"type":"string","description":"First name of traveler","example":"Avid","minLength":1},"lastName":{"type":"string","description":"Last name of traveler","example":"Travelman","minLength":1},"email":{"type":"string","description":"E-mail of traveler","example":"avid@travelman.com","minLength":1},"amount":{"type":"number","description":"Total booking amount","example":100},"currencyCode":{"type":"string","description":"Supplier currency","example":"THB","minLength":1},"bookingCode":{"type":"string","description":"Ref. code for traveler","example":"ABSGH6","minLength":1},"startDate":{"type":"string","format":"date","description":"Arrival date","example":"2024-10-18"},"endDate":{"type":"string","format":"date","description":"Departure date","example":"2024-10-20"},"createdDate":{"type":"string","format":"date-time","description":"Created date","example":"2024-10-01"},"cancelled":{"type":"boolean","description":"Whether booking is cancelled or not","example":false},"cancelDate":{"type":"string","format":"date-time","description":"Cancellation date if booking was cancelled","example":"2024-10-08T14:23:00.000Z"},"paymentMethodType":{"type":"string","description":"Payment method","example":"Card","minLength":1},"paymentWalletType":{"type":"string","description":"Optional payment wallet type","example":"Google Pay"},"paymentMethodStatus":{"type":"string","description":"Status of payment","enum":["INITIALIZED","PROCESSING","SUCCEEDED","FAILED"],"example":"SUCCEEDED"},"salesChannelName":{"type":"string","description":"Sales channel name","example":"Travel Agent X","minLength":1},"salesChannelIdentifier":{"type":"string","format":"uuid","description":"Sales channel ID","example":"sales-channel-1","minLength":1}},"required":["adults","amount","bookingCode","bookingIdentifier","cancelled","children","createdDate","currencyCode","email","endDate","firstName","guestRoomName","guests","lastName","name","paymentMethodStatus","paymentMethodType","propertyIdentifier","ratePlanName","roomRateIdentifier","rooms","salesChannelIdentifier","salesChannelName","startDate"]},"PageChannelManagerProperty":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/ChannelManagerProperty"}},"number":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"sort":{"$ref":"#/components/schemas/SortObject"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"PageableObject":{"type":"object","properties":{"offset":{"type":"integer","format":"int64"},"paged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"unpaged":{"type":"boolean"}}},"SortObject":{"type":"object","properties":{"empty":{"type":"boolean"},"sorted":{"type":"boolean"},"unsorted":{"type":"boolean"}}},"PingResponse":{"type":"object","properties":{"apiVersion":{"type":"string"},"name":{"type":"string"},"creator":{"type":"string"},"enabled":{"type":"boolean"},"approved":{"type":"boolean"}}}},"securitySchemes":{"oAuth2ClientCredentials":{"type":"oauth2","description":"## Retrieve access token\nMake a POST (`Content-Type: application/x-www-form-urlencoded`) request to the Token URL below. Include one POST key/value entry: `grant_type=client_credentials` and include your clientID / secretKey credentials in a Basic Auth header. E.g. `Authorization: Basic base64_encode($clientId + ':' + $secretKey)`.\n## Add Bearer access token to all API requests\nOnce you have the access token, you can pass that along on all API requests in the authentication header: `'Authorization: Bearer $accessToken`.\nNote: Tokens expire after 3 hours. Please make sure you refresh your token before that time.","name":"Client Credentials","flows":{"clientCredentials":{"authorizationUrl":"https://iam.wink.travel/oauth2/authorize","tokenUrl":"https://iam.wink.travel/oauth2/token","refreshUrl":"https://iam.wink.travel/oauth2/refresh","scopes":{"integrations.read":"Read Wink data","integrations.write":"Create Wink data","integrations.remove":"Remove Wink data"}}}}}}}